[2018-12-19 10:48] Rowern commented on #273
Some more infos: I'm on Debian 8.11 from kops https://github.com/kubernetes/kops/blob/master/docs/images.md#debian.

[2018-12-19 14:53] Rowern commented on #273
For anyone encountering this issue, it might be linked to the debian/kernel version used by default by kops.
I upgraded to Debian Stretch AMIs and everything looks ok now.

[2018-12-21 15:28] md2k opened #277 "CNI eniConfig do not update already created ENI with new list of SGs"
Hi all, i'm testing custom network configuration where Pods using separate networks, and i found that CNI plugin seems do not update SGs for interfaces.
for example.
We create subnet with single SG group
[code]
i can see that new ENI attached with desired subnet and security group.
As next step we update eniConfig resource to:
[code]
In CNI logs i can see that CNI plugin got updated configuration

[2018-12-24 08:41] #235 closed

[2018-12-29 15:32] MBalazs90 commented on #137
Seems like this issue still persist:

eu-central-1

[code]

[2019-01-02 08:47] wickstargazer commented on #219
Hi whats the workaround for this in the current release? I cant resolve the internal dns and cant use the services from one pod to another

[2019-01-03 15:12] michalpiasecki1 commented on #59
Same issue on t3.medium. Can anyone help me checking which version do I have?

[2019-01-03 16:30] #238 closed

[2019-01-03 18:10] Andrewcliton commented on #238
Fuck me running

[2019-01-03 19:12] xrl commented on #272
I have switched AMIs to amazon linux 2 and it's still the same problem. I am going to try updating docker to 18.

[2019-01-04 03:45] ts4z commented on #59
IIRC in our case, when we ran into this, AWS was having some issues -- re:Invent was going on, and a lot of things were odd -- so it may happen when AWS just isn't giving out IP addresses for whatever reason.

[2019-01-04 09:15] pwdebruin1 commented on #208
Yeah definitely a feature to have from a security perspective, currently to isolate pods from communicating with each other the only workaround I can think off is using custom ENIConfig with certain nodes and then using a combination of `taints`, `nodeSelectors` and `nodeAffinity` to ensure HA with the correct pods assigned to the correct nodes with a security groups only appropriate for them. How

[2019-01-04 17:19] PierreR commented on #59
Same issue here on ´t2.medium´. I have updated to `amazon-k8s-cni:1.3.0` following [these instructions](https://docs.aws.amazon.com/eks/latest/userguide/cni-upgrades.html) but it didn't help.

Pod is still failing with this error:
[code]

[2019-01-05 20:33] rdavison commented on #59
Just ran into this issue today.  Tried to upgrade our nodes from t2.medium to t3.mediums.  When I switched back to t2.mediums the issue went away.

[2019-01-07 11:33] rkarroll commented on #59
This just started happening for me.  I haven't changed anything in cluster (such as node type) lately.

[2019-01-07 16:18] pkelleratwork commented on #59
getting this error now too -
[code]

[2019-01-07 16:33] #219 closed

[2019-01-07 17:00] pkelleratwork opened #281 "network: add cmd: failed to assign an IP address to container - EKS - pod creation fails - FailedCreatePodSandBox"
AWS EKS v1.11.5
t2.medium worker nodes
have many pods running in cluster - only 1 fails to create
create new pod via valid helm chart
stuck in `CreatingPod`

[code]

[code]
[code]

[code]

have over 100 pods running with no issues - quick example
![screen shot 2019-01-07 at 11 08 27 am](https://user-images.githubusercontent.com/31936503/50782111-bb521f00-126c-11e9-9f09-ffc9a5f2321a.png)

[2019-01-07 17:41] Bernicia commented on #214
I completely agree. My EKS cluster has to spin up more nodes even though cpu/mem are barely registering from the 10 pods on my t3.small. What a waste of resources and money, and surely not the point of EKS or AWS.

[2019-01-07 18:42] #281 closed

[2019-01-08 02:32] kc8apf opened #282 "Race condition between CNI plugin install and aws-k8s-agent startup"
My employer runs GitLab CI using the Kubernetes executor which runs each CI job as a separate pod.  Since the workload is bursty, cluster-autoscaler is also enabled.  When certain CI stages begin, 100+ pods are created rapidly and a large number of them are unscheduleable until the autoscaler has spun up enough new nodes.  GitLab CI will wait up to 10m for the pod to start before assuming the job

[2019-01-09 11:38] greenboxal commented on #231
I'm having a similar problem here. A TCP ELB (LoadBalancer service) is getting a lot of retransmissions, dupped packets, etc. This causes the health check to fail randomly and actual connections to drop, even established ones.

We're running 1.2.1 and we're *not* using Calico or anything else on the networking stack. The cluster was created with kops.

Do you think we're talking about the same iss

[2019-01-09 13:29] max-rocket-internet opened #283 "aws-node pod restarts without any obvious errors"
EKS: `v1.11.5`
CNI: `602401143452.dkr.ecr.us-west-2.amazonaws.com/amazon-k8s-cni:1.3.0`
AMI: `amazon-eks-node-1.11-v20181210 (ami-0a9006fb385703b54)`

E.g:

[code]

Even if I `describe` pod `aws-node-hhtrt` there is no events. No interesting logs from the pod either. Or the previous pod. I looked in our logging system to get all logs from this pod and there is nothing beyond the normal startup mes

[2019-01-09 13:31] max-rocket-internet opened #284 "network is not ready: [runtime network not ready: NetworkReady=false reason:NetworkPluginNotReady..."
EKS: `v1.11.5`
CNI: `602401143452.dkr.ecr.us-west-2.amazonaws.com/amazon-k8s-cni:1.3.0`
AMI: `amazon-eks-node-1.11-v20181210 (ami-0a9006fb385703b54)`

We are still seeing these CNI errors in pod events. e.g.

[code]

I tried to run `/opt/cni/bin/aws-cni-support.sh` on the node with pod `aws-node-hhtrt` but I get this error:

[code]

[2019-01-10 00:15] kc8apf commented on #282
I started looking into the teardown failures as fixing those would likely avoid pods getting stuck.  In plugins/routed-eni/cni.go, del() always attempts to talk to ipamd and causes a failure if ipamd isn't responding.  Since setting up the host veth is one of the last steps done by add(), del() can use the existence of the host veth as a quick check _before_ attempting to talk to ipamd.  That way

[2019-01-10 00:38] mogren commented on #282
Oh, interesting. Thanks a lot for looking into this issue and letting us know what you've found so far.

I have a feeling this might be related to some other issues we've seen like #272, #204 or #180, but I don't know enough yet.

[2019-01-10 20:44] onlybakam opened #285 "kubelet readonly port disabled but still referenced in aws-cni-support.sh"
ref:
-  https://github.com/kubernetes/kubeadm/issues/732
- https://github.com/kubernetes/kubernetes/pull/59666#issuecomment-373829976
- https://github.com/awslabs/amazon-eks-ami/issues/128

the kubelet readonly port is disabled, but the `aws-cni-support.sh` script still tries to access it:
`curl http://localhost:10255/pods  > ${LOG_DIR}/kubelet.output`

the command fails and breaks the script. The

[2019-01-11 09:39] harshal-shah commented on #123
Does anyone here have any reliable solutions on how to resolve these issues? We seem to run into them multiple times and our work around so far is to find nodes with more than X ENI's and cordon them. Eventually the cluster autoscaler takes care of removing the cordoned instances

[2019-01-11 09:48] RTodorov commented on #123
This is causing some real issues for us. All of our clusters are affected by this as the scheduler gets busier throughout the day. Can we acknowledge this as a bug?

@liwenwu-amazon do you have any suggestions on how to mitigate the problem? It might not affect the majority of the use-cases but when you're relying 100% on k8s+aws-cni and it happens, the disturbance on the cluster's stability is qu

[2019-01-11 09:49] garo commented on #123
Our solution is to clean terminated pods, in our case every terminated pod older than one hour is deleted. This seems to prevent this problem from manifesting.

[2019-01-11 09:50] vpm-bradleyhession commented on #123
Yeah we have set successfulJobHistory: (and failed, too) to 1 on most of our jobs and it seems to mitigate the issue for us, however - this still needs to be acknowledged with an upstream fix.

[2019-01-11 09:53] harshal-shah commented on #123
@garo Could you please explain "clean terminated pods" ? This could be a good solution for us as well

[2019-01-11 10:00] harshal-shah commented on #123
To be clear again, our problem is that the node does not have many pods if you do a describe node or even run `ifconfig` on the host :

[code]

But looking at the node from aws console:

![image](https://user-images.githubusercontent.com/16479600/51026923-eea7ed00-158f-11e9-9f5a-8929af71cff1.png)

So how can we clean up these secondary IPs ?

[2019-01-11 12:18] sbkg0002 commented on #254
We have the same issue with the official AMI from 20190109. The ConfigMap was successfull.

[2019-01-11 13:38] garo commented on #123
@harshal-shah I run this https://github.com/hjacobs/kube-job-cleaner as a slightly modified version which just does the cleanup again in an infinitive loop every five minutes.

If you ssh into your affected worker node and type "docker ps -a" you should see a great amount of Exited containers and these seems to be what are holding the cni plugin back from releasing the IPs. It seems that deleting

[2019-01-11 15:55] nxf5025 commented on #284
Hitting this as well with the same setup as above.

[2019-01-11 16:40] harshal-shah commented on #123
I checked on the node mentioned above, there were a few dead containers, even after deleting those containers, the IPs are not released.

[2019-01-11 16:48] dvohra commented on #254
Has the kubeconfig been created using the settings generated by EKS cluster? What does `kubectl get nodes` list?

[2019-01-11 18:45] sbkg0002 commented on #254
In our case the tags on the nodes had a typo..

[2019-01-11 20:45] etopeter commented on #259
Feature merged [#280](https://github.com/aws/amazon-vpc-cni-k8s/pull/280)

[2019-01-11 20:45] #259 closed

[2019-01-12 14:51] nak3 commented on #284
This is same with https://github.com/aws/amazon-vpc-cni-k8s/issues/285

The line in the script should be updated as `command -v kubectl > /dev/null  && kubectl get --kubeconfig=/var/lib/kubelet/kubeconfig --raw=/api/v1/pods` or something.

[2019-01-14 10:34] nickdgriffin commented on #231
It sounds similar in terms of behaviour, but if you aren't using Calico for network policies I don't think it can be the same - plus my issue was specifically sorted out by changing the src/dest check, and once it's in a release I'll be testing the fix in #263 out too.

[2019-01-15 09:03] max-rocket-internet commented on #285
Just make a PR to change the script? https://github.com/aws/amazon-vpc-cni-k8s/blob/master/scripts/aws-cni-support.sh

[2019-01-15 09:45] nak3 commented on #283
(I'm sorry if you are waiting for @liwenwu-amazon's reply) but you should collect following logs:

[code]

First `kubectl logs -p` collects previous container logs, so if the process in previous container exited with some reason, we can see the message.
Second `kubectl event` collects entire event logs in kube-system namespace. You collected `describe pod` but it contains only Running pod's event.

[2019-01-15 13:09] max-rocket-internet commented on #283
Thanks for the reply @nak3

I already mentioned the logs in issue text. Again, this is the message from the previous pod:

[code]

Getting event data is a good idea but in this scenario it produces only `Normal` type events:

[code]

[2019-01-15 13:20] nak3 commented on #283
I see. (I'm sorry. I missed you mentioned that have already checked previous pod.). How about `/var/log/aws-routed-eni/{ipamd.log,plugin.log}`? Have you already checked them?

[2019-01-15 14:35] max-rocket-internet commented on #283
All good!

Good idea. I had a look at these logs just now and there is a few errors.

For this pod:

[code]

Looking at `/var/log/aws-routed-eni/ipamd.log` around this time, nothing interesting:

[code]

But in `/var/log/aws-routed-eni/plugin.log`:

[code]

That last error repeats over and over until:

[code]

That `Failed to process delete request for pod` error repeats for a few more times and t

[2019-01-16 09:45] RTodorov commented on #123
Hello @mogren, could you comment on this issue please? we're getting affected on a daily basis, would be nice to have an official recommendation from AWS here. Thank you.

[2019-01-16 10:50] max-rocket-internet commented on #283
OK, maybe it's unrelated to this problem then but here it is:

[code]

I can do this but we have 4 different clusters in different regions and they all have the same problem. That's why I thought it was more likely a problem with the CNI or related config than an AWS service. But OK I'll open a support ticket also.

[2019-01-16 10:54] max-rocket-internet commented on #283
2 more things...

1. Doesn't my log output above show the CNI starting multiple times? Since its printing `Starting CNI Plugin v1.3.0  ...` over and over?

2. We see the message `Failed to communicate with K8S Server` a lot. 241 messages over the last week  But only a few pod restarts. So I think perhaps the 2 are not related? Can you tell me if that message causes the pod to restart?

[2019-01-16 11:11] nak3 opened #288 "Log message why failed to connect k8s server is missing"
Please refer to https://github.com/aws/amazon-vpc-cni-k8s/issues/283

The message must come from here: (and returning error)

https://github.com/aws/amazon-vpc-cni-k8s/blob/92980a5578b6acb855d9ad886b02fcb1f85e7526/pkg/k8sapi/discovery.go#L90-L94

However, we cannot see any message from here L#48:

https://github.com/aws/amazon-vpc-cni-k8s/blob/92980a5578b6acb855d9ad886b02fcb1f85e7526/main.go#L46-L

[2019-01-16 11:13] nak3 commented on #288
This issue be fixed by https://github.com/aws/amazon-vpc-cni-k8s/pull/289

[2019-01-16 12:49] oded-dd opened #290 "CNI does not change service Cluster IP"
AWS CNI sets a POD IP based on AWS VPC subnet network the PODs are in e.g.

`NAME                                                              READY   STATUS              RESTARTS   AGE   IP              NODE                                          NOMINATED NODE
alertmanager-kube-prometheus-0                                    2/2     Running             0          1h    172.40.53.236   ip-172-4

[2019-01-16 19:11] mogren commented on #123
Hi @RTodorov!

What version of the plugin are you using? Is this cluster running on EKS? We have a known issue with the CNI that happens if ipamd is killed while it is in the middle of expanding ENI (e.g after having created a new ENI but before attaching it), then it might not be cleaned up.

Could you run `/opt/cni/bin/aws-cni-support.sh` (comment out line 34 if you get the error reported in #28

[2019-01-16 19:19] #288 closed

[2019-01-17 11:20] harshal-shah commented on #123
Hello @mogren
We are using the following image `602401143452.dkr.ecr.us-west-2.amazonaws.com/amazon-k8s-cni:1.3.0`

The cluster is created via `kops` (version 1.11.0)

I have sent you the output of `/opt/cni/bin/aws-cni-support.sh` over email.
The node being checked here has 31 Non terminated pods.
We have also kept our MaxPods limit to 55

[2019-01-17 17:04] gabegorelick commented on #26
Any progress on implementing this?

[2019-01-18 02:17] mogren commented on #123
Thanks @harshal-shah, I discussed this with Liwen and basically it comes down to an optimization trade-off in the CNI plugin itself.

The way the CNI works is that it allocates IPs in bulk, and adds new ENIs when needed. It un-assigns IPs when the pod gets deleted, but keeps them allocated to the ENI as long as there are pods active in that ENI. (Check the eni.output file for details). When a new

[2019-01-18 19:55] micahhausler commented on #283
Yea this looks like a race condition where aws-node (with its kubernetes client code) comes up before kube-proxy (and possibly kube-dns/coredns) has set up the `kubernetes.svc.default.cluster.local` DNS address. If you run the following command on your EKS cluster, you'll see that kube-proxy uses the public endpoint.

[code]
We need to update CNI to have a similar flag so it isn't dependent on DNS

[2019-01-21 09:36] harshal-shah commented on #123
Hi @mogren
We ran into this issue today as well.
I'm sending you further details over email.

One thing that we see in ipamd logs is

[code]

[2019-01-21 17:46] #270 closed

[2019-01-22 10:53] max-rocket-internet commented on #283
Cool, thanks for the update @micahhausler

[2019-01-22 13:32] hibbert opened #294 "IP addresses still allocated to completed pods"
Hi,

We have some CronJobs that run hourly and then the pods return to Completed. It looks like the IP address is still in use. The ENI itself is still in use with other secondary IPs. But wandering why this stays as "In Use" despite the cronjob being complete and no pods are running? Also what is the cooling period?

Thanks

[2019-01-22 17:14] megastallman commented on #59
Look like the issue is not resolved, guys.

I'm just trying to make use of EKS. Getting the same problem with both 1.2.1 and 1.3 CNI versions. To reinstall the nodes, I scale the Auto Scaling Group down to 0 and back to 8. As a result - less than a half of nodes are getting broken, so that I need to shutdown those.

[2019-01-22 18:05] mogren commented on #294
Hi @hibbert!

The reasons we have the IPs around is an optimization. Also, they are not allocated to the pods, but kept as a "warm pool" per ENI for the CNI plugin to pick from when attaching IPs to new pods. Some more details in my reply on [issue 123](https://github.com/aws/amazon-vpc-cni-k8s/issues/123#issuecomment-455403330).

[2019-01-23 19:42] hgokavarapuz opened #297 "Is there a way to get the tags on the new ENIs created by CNI backend ?"
Wondering if there is a way to get the ENI's created by CNI backend get tagged as the original the ENI or some sort of tag to identify them easily that those are created by the CNI backend. I am trying to use the plugin with our custom spun up kubernetes clusters. [Documentation](https://aws.amazon.com/blogs/opensource/vpc-cni-plugin-v1-1-available/) shows that it creates tags but I don't see any

[2019-01-23 19:45] FreedomBen commented on #137
I apologize this may not be the most appropriate place for a discussion, but our VPC (I'll call it VPC-1 for ease) is also 172.17.0.0/16 and experiences this issue.  Using terraform to create a VPC (I'll call this VPC-2) on 10.0.0.0/16 makes this problem go away, so it does seem to make sense that this could be the problem.  However, I want to understand this deeper, particularly because manually

[2019-01-23 20:15] PeterGrace commented on #137
When the docker daemon comes up, by default, it creates a docker network that routes 172.17.0.0/16 inbound to the docker0 interface.  If your other worker nodes are also in 172.17.0.0/16 via VPC, then packets that kube-proxy might be trying to route will hairpin back to docker0 and have no-route-to-host rather than going out the cni network to the other workers.  I suppose that might be provable b

[2019-01-24 08:17] nak3 commented on #297
Can you ssh into one of Nodes and grep following message?

[code]

I guess that you got some error in ipamd.log why it failed to get tags. If there are no failed log, please grep widely like - `# grep -rH tag  /var/log/aws-routed-eni/`

[2019-01-24 09:55] nak3 commented on #297
(Not sure if you are using kops, but) I tested kops and it failed to create tag. I sent a PR to upstream https://github.com/kubernetes/kops/pull/6389

[2019-01-24 20:06] hgokavarapuz commented on #297
We are not using Kops currently, using custom scripts to spun up the cluster. let me check the logs widely if there is any error message...but I checked the code and it shows tagging feature but nothing getting tagged. Thanks @nak3

[2019-01-24 20:06] hgokavarapuz commented on #297
I don't see any errors in the logs as well.

[2019-01-24 22:35] adammw opened #298 "Document AWS_VPC_K8S_CNI_VETHPREFIX ENV variable"
Document AWS_VPC_K8S_CNI_VETHPREFIX ENV variable, and what it affects / what the default "vethPrefix" is.

[2019-01-24 22:36] hgokavarapuz opened #299 "Document the CLUSTER_NAME env variable"
I don't see any documentation about the CLUSTER_NAME env variable but I see that in the code which can be useful.

https://github.com/aws/amazon-vpc-cni-k8s/blob/3fba7b6aaae4766d1e667537eb072149786d30c2/pkg/awsutils/awsutils.go#L669

[2019-01-24 23:07] hgokavarapuz commented on #297
I am able to get the tags on it. It was an issue on the permissions finally. Closing this issue in favor of the documentation [issue](https://github.com/aws/amazon-vpc-cni-k8s/issues/299)

[2019-01-24 23:07] #297 closed

[2019-01-25 09:09] rahulwa commented on #59
Same here.

[2019-01-25 15:54] SoMuchToGrok commented on #59
@damascenorakuten did you terminate the instances after upgrade to 1.3?

[2019-01-26 04:31] anshrma opened #302 "ENI in Secondary VPC CIDR not getting created"
Region: us-east-1
AMI : ami-0c24db5df6badc35a
CNI : 1.3

Instance IAM role has arn:aws:iam::aws:policy/AmazonEKSWorkerNodePolicy

Primary VPC CIDR : 192.168.0.0/16
Secondary VPC CIDR : 100.64.0.0/16

EC2 Instances Subnet CIDR : 192.168.0.0/18
Expecting CNI to be using secondary CIDR subnet range :  100.64.0.0/22

Both the above subnets have the route to 0.0.0.0/0 via NAT gateway.

Upgraded to 1.3

[2019-01-26 04:36] anshrma commented on #302
@liwenwu-amazon  - appreciate any inputs or insights on cause and fix ?

[2019-01-26 13:58] svanlund opened #303 "Pod IP inaccessible from other nodes without calico.yaml applied"
**Background**

I'm currently experimenting with setting up clusters using kubeadm. Started with Flannel networking which worked fine but then decided to give the AWS networking plugin a go since I'm running in that environment.

**Problem**

After applying aws-k8s-cni.yaml as instructed in the README and bringing up the nodes, a pod deployed to one of the nodes will only be accessible from the pa

[2019-01-29 03:05] dadux commented on #302
I got bitten by the same thing.

While `ENI_CONFIG_LABEL_DEF` is in the documentation, it is actually not a valid env var for `1.3`.

In order to get it working, you need to compile from `master`.

[2019-01-29 09:20] max-rocket-internet commented on #283
Any ETA for a fix?

[2019-01-30 01:39] edgan commented on #270
This also doesn't work on 1.1 and there hasn't been a new release. Can we get a new release for this?

[2019-01-31 13:00] harshal-shah commented on #123
Hi @mogren we faced this issue again today on a very new node of our cluster. It had less than the prescribed maximum of 55 pods. Following is the event trail for a pod that was not getting IP address for a few minutes and then it got working fine.

[code]

I am also sending the tarball with logs to you separately. Hope this helps.

[2019-01-31 18:45] Jeffwan opened #307 "ENI is deleted but ipamd daemon still think it's active"
ipamd daemon is restarting with following error:

[code]

Found in the logs that this ENI was already deleted but ipamd daemon was getting this eni as active and attached to index:8 and hence this error. From logs it looks like this error is crashing the ipamd daemon and since restart policy of that pod is `Always`, it restarts but still get same error.

Since ENI is deleted and I notice there's a

[2019-01-31 21:58] mogren commented on #123
@harshal-shah Thanks for reporting this. We have gone through the logs and found some minor issues, but have not managed to determine the root cause yet. The previous logs from the 22:nd had a lot more data and I'll keep going through them to see if we can figure out why ipamd gets restarted.

[2019-02-02 10:54] nak3 commented on #307
The root cause would be same with https://github.com/aws/amazon-vpc-cni-k8s/pull/194 but it looks like you are getting error different timing when ipamd calls `FreeENI()`.

Hence, the logs is showing the [InvalidNetworkInterfaceID.NotFound](https://docs.aws.amazon.com/AWSEC2/latest/APIReference/errors-overview.html) error code, which is quite easily filtered. Furthermore, Free ENI operation would

[2019-02-02 11:39] nak3 commented on #303
The output looks no problem. I have tried to produce the same error, but could not happen on my env, which is deployed by kops and other region but used ubuntu (ami-0c5199d385b432989) and `ens5` for its primary interface. (Actually I suspected the name of primary interface `ens5` was the issue and found one bug at https://github.com/aws/amazon-vpc-cni-k8s/pull/305, but `ens5` was not related to yo

[2019-02-02 20:48] borats opened #311 "this shell script's quality is extremely poor"
Amazon AWS, please improve your bash quality.
Honestly, this script looks like someone cobbled it in couple of minutes. Worst yet, internal CR failed to review it with a careful set of eyes.

[code]

[2019-02-03 05:40] Jeffwan commented on #307
Thanks! I think it should be good to resolve this issue.

[2019-02-03 20:35] mogren commented on #307
I have [a related PR open](https://github.com/aws/amazon-vpc-cni-k8s/pull/308/files#diff-3fbbb0bd392fd47bd85a56d6221de538R419) to log the `awsClient.FreeENI(eni)` error that we used to ignore.

[2019-02-03 20:45] #307 closed

[2019-02-04 22:04] sasvirco commented on #254
I have the same problem, what was the typo?

[2019-02-04 22:15] dvohra commented on #254
sasvirco What does kubectl get nodes list?

[2019-02-04 22:42] sasvirco commented on #254
in my case was a wrong arn in the config map, kubectl get nodes list did not show anything as nodes were unable to join, once I did update the configMap with the proper arn, they joined promptly.

[2019-02-05 01:40] groodt commented on #113
I would also like this 👍

[2019-02-05 01:43] groodt opened #313 "cni-metrics-helper CLUSTER_ID"
How do modify the cni-metrics-helper CLUSTER_ID? Right now, it seems to be fixed at `eks-cluster`. This is also the only id mentioned in the cni-metrics-helper blog post.

This isn't very useful if I have multiple EKS clusters and wish to monitor different clusters for available ENI and IP address capacity.

[2019-02-05 01:59] jicowan commented on #113
https://github.com/liwenwu-amazon/amazon-vpc-cni-k8s-1/blob/metrics1/cni-metrics-helper/cni-metrics-helper.go

[2019-02-05 18:10] daugustus opened #314 "L-IPAMD IP allocation and usage configuration possibility"
I have been experiencing some challenges with IP starvation where an EKS cluster uses all, or almost all available IP addresses within each subnet. I understand the reasoning about pre-assigning ENIs and IPs due to latency that can occur. However, we have some use cases where this behavior is unwanted. Is there a configuration setting that can control/limit the number of IPs assigned? For example,

[2019-02-05 20:22] dvohra commented on #254
sasvirco thanks for the update.

[2019-02-06 12:55] benishak opened #315 "How to use VPC CIDR"
Hi

We created an EKS cluster with latest AMI EKS optimized and kubenertes 1.11.5
my VPC subnet CIDR is 172.29.16.0/24 and i'm using public subnet for my worker nodes
I started my worker nodes and added additional args
[code]

When I run `ifconfig` inside the pod/container I can see that pods are using the IPs from my VPC Subnet

My issue is that if I use hostnames like "redis-master" in my applic

[2019-02-06 17:35] stongo commented on #204
Also confirming the same issue with 1.3 and AWS_VPC_K8S_CNI_EXTERNALSNAT=true
Pods either get created and are immediately unreachable, but can also become unreachable at a later time.
We have been testing statefulsets with applications requiring raft consensus. when using 3 replicas, a cluster is successfully formed but then often lose quorum as 1 pod becomes unreachable. The other scenario is tha

[2019-02-06 19:38] sturfee-petrl commented on #59
I hit this problem with `t3.medium`  kubernetes 1.11 eks.1
1. https://docs.aws.amazon.com/eks/latest/userguide/cni-upgrades.html
2. Terminate all `t3` nodes manually

Solved. Thanks!

[2019-02-06 23:43] groodt commented on #113
Thanks @jicowan

I've taken a look at the code and I still have a question. Do you have any insights into this issue: https://github.com/aws/amazon-vpc-cni-k8s/issues/313

Essentially, I am wondering if there is a way to get the metrics tagged with a more descriptive cluster name.

[2019-02-07 03:33] jicowan commented on #113
Hi @groodt, I don't actually see where the Cluster ID is being set.  Perhaps it's getting it from the kube client.

[2019-02-07 04:15] jdsantiagojr commented on #30
Ran into the same issue. I was able to get around it by doing the same thing @smcquay did.

[2019-02-07 04:50] groodt commented on #113
@jicowan

Yes, it's an odd one. I don't know enough about Go or Cloudwatch to know what's going on. It seems a bit of a limitation if it can't support multiple clusters though.

[2019-02-07 11:33] nak3 commented on #313
cni-metrics-helper-xxxx's logs output `Failed to obtain cluster-id and default to eks-cluster`?

e.g:
[code]

If yes, cni-metrics-helper is using same code with https://github.com/aws/amazon-vpc-cni-k8s/pull/88/files

You can configure `CLUSTER_ID` by following steps:

#### 1. Add policy to __worker__ Node's policy like:

[code]

#### 2. you can modify the value of `CLUSTER_ID` for EC2 instance as

[2019-02-07 13:01] groodt commented on #313
@nak3 Looks like you are right. I see this in the logs:
```E0207 12:22:48.352171       7 publisher.go:76] Failed to obtain cluster-id and default to eks-cluster```

I'll try the tags as you suggest and report back.

[2019-02-07 13:22] groodt commented on #313
That worked like a charm. Thanks @nak3

I'll close this issue.

[2019-02-07 13:22] #313 closed

[2019-02-07 15:48] pulpbill opened #317 "[INFO] DataStore has no available IP addresses"
I'm debugging why a pod can't start. And I'm seeing this at nodes:

2019-02-05T18:41:41Z [INFO] Send AddNetworkReply: IPv4Addr , DeviceNumber: 0, err: datastore: no available IP addresses 2019-02-05T18:41:44Z [INFO] Received AddNetwork for NS /proc/31240/ns/net, Pod some-pod-1-8f7b94b59-kvlwr, NameSpace my-ns, Container 73141b0590192774dcb0c030ef91751d0ee8763410a1c40444c4280244f17c2e, ifname eth0

[2019-02-07 16:21] pulpbill commented on #317
Had to terminate the instance so kops starts a new node , now the error's gone. But still, I don't know what caused it.

[2019-02-07 16:29] pulpbill commented on #59
I have a cluster at AWS deployed with kops (all latest versions) and also had to terminate the failing instance so kops gets me a new one.

[2019-02-07 18:35] pulpbill commented on #317
`After deleting all instances, I'm seeing:

`ipamd_error_count{error="failed to setup eni eni-0f0c599dcc44d538b network: eni network setup: failed to set MTU for 172.20.51.162: invalid argument",fn="increaseIPPoolsetupENIFailed"} 1
``

[2019-02-08 13:21] recollir opened #318 "Internal kubernetes cluster communication issues using AWS CNI 1.3.0 and m4/m5/c4/c5/r5/i3 instances"
# Internal kubernetes cluster communication issues using AWS CNI 1.3.0 and m4/m5/c4/c5/r5/i3 instances

## Kubernetes cluster

- Kubernetes 1.10.12 deployed with kops 1.10.1.
- AWS CNI plugin 1.3.0
- Kubernetes masters: m5.large
- Kubernetes nodes: several instance groups with 3 instances of r4/r5/c4/c5/m4/m5
- Kubernetes nodes OS images: kops default debian jessie/stretch amis and latest Amazon L

[2019-02-08 13:22] nak3 commented on #314
Do you want to control less than the num of max IPs per ENI? For example, `m4.4xlarge` consumes 30 IP addresses per 1 ENI. You want to limit the num of IPs less than 30.

If No (you don't need to control less than 30 for `m4.4xlarge`), you can set `WARM_ENI_TARGET` or `WARM_IP_TARGET`. Or you can use `MAX_ENI` https://github.com/aws/amazon-vpc-cni-k8s/pull/251 in the future release. I believe `MAX

[2019-02-08 16:07] nisan270390 commented on #59
I have tried to upgrade kops cluster from 1.10.12 to 1.11.6 and got the same errors.
[code]

plugin.log
[code]

[2019-02-08 17:14] paksv commented on #123
facing the same issue. In my case I just followed the tutorial and created VPC, cluster and 1 worker node. Now I cannot create any pods :(.

[2019-02-08 17:52] daugustus commented on #314
Yes- I would want to limit the max number of IPs per instance.

[2019-02-09 00:05] srinivasreddych opened #319 "Custom CNI config in a VPC with secondary CIDR behaves differently"
Region: us-east-1
AMI: Latest optimized.
CNI: 1.3

My VPC has primary CIDR: 172.20.0.0/16 and Secondary CIDR : 100.64.0.0/16.

Actions performed:
1) Created an EKS Cluster in CIDR: 172.20.0.0/16
2) Launched worker nodes (in Subnets A,B,C) and configured a custom CNI config to use subnet 'A' created in the secondary CIDR, but of the same AZ.
3) Created a deployment of replica count=50.

What i expe

[2019-02-11 05:27] xdrus commented on #261
external DNS supports headless services that allows you to create a set of A recored for pods with different hostnames (think stateful set) or A record with a set of IPs for a headless service. We use it for a while and it works really well.

Ref:
* https://github.com/kubernetes-incubator/external-dns/blob/874502ebf8b1069b465de4c489ac167ee40ec337/docs/tutorials/hostport.md
* https://github.com/kub

[2019-02-11 13:31] nickdgriffin commented on #318
This sounds a lot like #263, is Calico being used for network policies?

One thing to try is to disable the source/destination check to prove if the issue is related to packets exiting a different adapter to the one they came in on.

[2019-02-11 14:14] illusionalsagacity commented on #311
If this is your proposed diff it looks like this is a typo:

[code]

Happens to the best of us

[2019-02-11 14:22] borats commented on #311
Here
[code]

Fixed. Last I counted, AWS had one of the largest devs in the world.

I can move fast. Can you?

[2019-02-11 16:37] trimbleAdam commented on #69
What is the status of this? This issue is completely blocking us from moving off of our KOPS cluster, which has almost NO problems.

[2019-02-11 18:40] nithu0115 commented on #123
@paksv - I encountered same issue.

It looks like my pods that are created (including aws-node CNI pod) isn't able to communicated with API server via the cross account eni's.

Upon checking the  ingress rules of the security groups associated to the cluster,  I found
 443 rule from the Worker nodes security group was missing. I manually added the ingress rule to allow 443 from worker nodes on my

[2019-02-12 07:32] recollir commented on #318
AWS support wanted me to add the following information to the ticket:

The issue was uncovered on a cluster that is runnig aws cni 1.3.0 as we wanted to add a new instance type (c5 )to the cluster.

Continuous issue. That is also reproducible each time on new instances.

I have now tested with version 1.2.1 (downgraded the cluster to it). And the issue also exists in 1.2.1.

The issue also exists

[2019-02-12 07:39] recollir commented on #318
@nickdgriffin No, we don't use Calico.

As for the "_to disable the source/destination check_", do you mean https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-eni.html#change_source_dest_check or do you refer to the srcdst app (which we have removed). I can give it a try to disable the check on the ENIs of the c5 instances. Why would this be different and not matter on the working r4 instan

[2019-02-12 07:45] nickdgriffin commented on #318
I do mean that, yes. The issue I am referring to comes about when a pod is allocated an IP on a secondary adapter, so you can check if that is the case across your various tests - it might be that your r4 test only had pods being allocated IPs from the primary interface, which is why it worked.

If you still have problems with pods that are allocated IPs from the primary adapter then it cannot be

[2019-02-12 07:55] recollir commented on #318
For the tests we saturated the instance with as many pods as the total number of IPs the instance supported. To make sure that we have pods on all ENIs.

[2019-02-12 12:59] recollir commented on #318
I have now rerun the tests we did to verify internal cluster communication of the pods assigned to the non-primary ENIs on r5/c4/c5/m4/m5/i3. This time with the aws cni based of master (commit 4a51ed41abf). No errors now. All the pods on the non-primary ENIs can talk to kubernetes.default (as well as resolv it). This did clearly not work with version 1.2.1, 1.3.0 and 1.3.2.

I wonder if commits 6b

[2019-02-12 20:41] MorrisMatrix commented on #59
I'm experiencing this issue today on 2/12/2019 with a `m5a.large` instance type running on EKS v1.11

[2019-02-12 21:46] edgan commented on #303
I am having the same problem. I am also using AWS CNI 1.3.0, Ubuntu 18.04, AWS, and Kubernetes 1.13.3. I do have an IAM policy for giving the AWS CNI access to the AWS API, as mentioned in the documentation.

I did add `--network-plugin=cni`, `--cni-bin-dir` and `--node-ip`, but nothing changed.

It seems like the `--node-ip` should be auto-detected. It is also not 100% clear what ip should be giv

[2019-02-12 22:05] sfitts commented on #59
Also seeing this with an R5.xlarge -- tiller pod gets wedged in container create.  The cluster was a 1.10 EKS cluster that was updated to 1.11 using the "upgrade" process and was still running 1.1.0 of the cni.  Used the upgrade process to move to 1.3 and now all is well.  Be nice if the official upgrade process for EKS made sure the overall infrastructure was up-to-date as well.

[2019-02-12 22:46] edgan commented on #303
I see multiple ip addresses assigned to the ENI in the console, but Ubuntu is not detecting them. Seems like I need some configuration to tell it to dhcp all the ip addresses.

[2019-02-13 06:46] thestrongenough commented on #205
+1 on this. We are seeing the same issue. Any updates on this?

[2019-02-13 18:00] mejran commented on #204
We're hitting this issue as well with pods internal communication failing. Goes away once we recreate the nodes in question. We're also being hit by a lot of intermittent DNS resolution issues which may be due to the same underlying issue.

[2019-02-14 11:30] pahud opened #321 "upgrading to 1.3.2 but it remains 1.3.0"
I was upgrading from 1.2.1 to 1.3.2 according to [this document](https://docs.aws.amazon.com/eks/latest/userguide/cni-upgrades.html), however, it seems to be the cni version is `1.3.0`.

https://github.com/aws/amazon-vpc-cni-k8s/blob/4a51ed41abf61b7445f8226e5a086a8ec9b0581b/config/v1.3/aws-k8s-cni.yaml#L71

[code]

How can I make sure it's already `1.3.2`?

[2019-02-14 12:18] pahud commented on #321
checking the log and it seems to remain `v1.3.0`

`tail -f /var/log/aws-routed-eni/*`

![image](https://user-images.githubusercontent.com/278432/52786281-7607e500-3095-11e9-936e-53f302a477be.png)

[2019-02-14 14:23] bootc commented on #321
Indeed, https://github.com/aws/amazon-vpc-cni-k8s/blob/v1.3.2/config/v1.3/aws-k8s-cni.yaml is stuck on v1.3.0. If you change the tag to v1.3.2 then the image pull fails.

[2019-02-15 18:08] idleyoungman commented on #266
Setting a lower route metric for routes learned via eth0 works around this on CoreOS. Something like:
[code]

Related: http://github.com/coreos/bugs/issues/992

[2019-02-16 01:03] labria commented on #290
`ClusterIP` service IPs are not real IPs, they only exist inside the cluster via iptables rules. They're not provisioned by the CNI, but by the API server itself.
Ideally, when building a cluster with the AWS CNI, you should make sure your cluster uses a `--service-cluster-ip-range` different from the CIDR your AWS subnet(s) use, to avoid any possible IP clashes.

[2019-02-17 03:14] sdavids13 commented on #321
The latest config file on master has the 1.3.2 version set (permalink): https://raw.githubusercontent.com/aws/amazon-vpc-cni-k8s/0121d79566efa768275d3ec3d95fb7a599f84614/config/v1.3/aws-k8s-cni.yaml

The annoying part is that the version changed slightly to have a `v` prefixed so the image version is `v1.3.2` instead of the old version of just `1.3.0`.

Commit used to update the yaml file: https:/

[2019-02-17 03:37] sdavids13 opened #322 "Upgrading CNI versions requires node restart"
I have upgraded the CNI two times thus far and every time I try the CNI upgrade it will perform a rolling upgrade but won't succeed. It will go into a continual error loop and end up going into CrashLoopBackOff until I terminate the node at which point the replacement node comes up cleanly with the new CNI version. The last couple lines of the latest ipamd log file (with redacted mac/ip) is:
[code

[2019-02-18 00:11] lgg42 commented on #214
I'm willing to cooperate on the scripting...but like @okgolove has said many times... VPC CNI installation seems to happens during EKS cluster creationg and not during worker node join. I've read so much today yet I can't find the part where VPC CNI just goes into the instances...

[2019-02-18 12:18] ankon opened #325 "aws-cni-support.sh fails on EKS: kubelet doesn't provide :10255"
https://github.com/aws/amazon-vpc-cni-k8s/blob/f25e04f019438015c0276c8503e2100051ec728f/scripts/aws-cni-support.sh#L33-L34

On my cluster the kubelet doesn't expose port 10255, but rather it only offers 10250, which uses SSL and requires authorization. This breaks the aws-cni-support script functionality.

As a very ugly hack I managed to disable the kubelet introspection:
[code]

I guess the more

[2019-02-18 12:22] ankon commented on #325
Dup of https://github.com/aws/amazon-vpc-cni-k8s/issues/285 ... Could you maybe merge the improvements to the script into a stable version?

[2019-02-18 12:22] #325 closed

[2019-02-18 16:46] mikehalof opened #326 "EKS and fixed IP for pods"
Hi,
I'm using EKS and I'd like to assign a static IP to a pod.
Is that something possible using this plug-in?

Mike

[2019-02-18 16:54] mikehalof commented on #322
It was the same for me on EKS
I had to re-build the nodes.
Mike

[2019-02-19 18:31] lgg42 commented on #176
@TigerC10 have you installed the CNI-Genie in EKS? it looks like a very good solution to this problem, even a nice feature to have!, but after seeing in the deployment yaml that genie pods will be running in master nodes.. I have my doubts....

[2019-02-19 18:40] TigerC10 commented on #176
Yes, I eventually got it working by using cni-genie and installing/configuring it to the master node before creating the ec2 worker nodes.  It's not the best solution (not as easily automatable), but it's functional.

[2019-02-19 18:49] lgg42 commented on #176
OK, my mind just blew, I thought EKS's master nodes were a black box,
how exactly did you proceed? after getting a running EKS and .kube/config configured did you ran `kubectl apply -f https://raw.githubusercontent.com/Huawei-PaaS/CNI-Genie/master/conf/1.8/genie-plugin.yaml` or... something else?

[2019-02-19 20:44] paulkendobnc commented on #254
I had the same issue and spent a few hours investigating, only to fin out that my new instance type "m5a.2xlarge" was the cause!!! I switched back to "m5.2xlarge" and everything is ok. very weird.
--

[2019-02-19 20:54] TigerC10 commented on #176
Yeah, even when there are no nodes registered to the master node cluster - you can still run `kubectl` commands.  So, if you apply the genie plugin, it'll create the 00-genie cni plugin which will take precedent on the worker nodes.  I would still recommend making a custom worker node image, with the additional CNI plugins pre-installed...  so as to minimize risk of failure.  But the most importan

[2019-02-19 21:32] lgg42 commented on #176
Man, this is GOLD! Thank you so much! I'm definitely gonna give it a try now!

[2019-02-20 14:05] Deshke commented on #321
[code]

strangely enough both `1.3.0` and `v1.3.2` now require some auth....

[2019-02-20 21:31] recollir commented on #272
I have reported something similar. #319

[2019-02-21 13:02] mmingorance-dh opened #327 "Prometheus metrics not being retrieved"
According to the following PR: https://github.com/aws/amazon-vpc-cni-k8s/pull/65/files
prometheus should be able to get metrics from amazon-vpc-cni and I see in the daemonset (running on EKS) that prometheus annotations are included by default, however my prometheus stack doesn't retrieve any metrics from aws-vpc-cni.

My current setup is the next:
amazon-vpc-cni version: amazon-k8s-cni:1.2.1
prom

[2019-02-21 21:47] 0verc1ocker opened #328 "Adding --register-with-taints breaks networking in pods"
I am creating two node groups and passing in `--register-with-taints` to the kubelet of one of them. The group that has extra argument to kubelet registers the taints properly but then networking inside of the containers on those nodes stop working. Nothing in the logs for aws-node, kubelet, or the CNI. Everything is fine when this same nodegroup starts up without the kubelet extra argument `--reg

[2019-02-22 01:35] xrl opened #329 "IPs are not released when WARM_IP_TARGET=1"
I am running my cluster (kops managed) inside of a small VPC (corporate policy on IP space was not generous). I have set `WARM_IP_TARGET=1` but what I find after auditing IPs:

[code]

it sounds like IP pressure over the life of the pod can cause IPs to accumulate but there's no process for returning unused IPs?

You can see my audit script here: https://gist.github.com/xrl/b135198336a142e86f0d2d8

[2019-02-22 17:16] nithu0115 opened #330 "Kubelet will start scheduling pods before amazon-vpc-cni-k8s daemon set is fully functional causing workloads to error with "failed to assign an IP address to container""
# Issue description
Pods are failing to create with sanbox error. We are using latest CNI (1.3.0) and there sufficient IPs available for pods

# Analysis
I went through the Kubelet and aws-node logs. This happens as soon as the Worker Nodes joins the cluster and if there are any pending work loads which needs to be scheduled as soon as the Worker Nodes goes to Ready state. I see Kubelet failed to

[2019-02-22 21:01] 0verc1ocker commented on #328
I've tried numerous ways to try and solve this today but it's still unsolvable. I've set the bootstrap.sh kubelet-extra-args using the CloudFormation templates and escaping single-quotes and double-quotes. I reset docker network bridge and tested networking inside the nodes. All networking from the host network interface is fine. Attaching a docker container to the host network works and networkin

[2019-02-22 21:09] micahhausler commented on #328
I

[2019-02-22 21:09] micahhausler commented on #328
Accidental close! I have confirmed this is an issue. We'll get someone to take a look at it,.

[2019-02-23 05:23] taylorb-syd opened #331 "Make Maximum Pods ENIConfig aware"
## Summary
If you specify an `ENIConfig` which differs from the primary ENI configuration of the instance on startup, the plugin correctly does not allocate IP addresses on the primary ENI, however it the Maximum Number of Pods assignable to the worker node is still derived based upon the assumption that all secondary IP addresses can be consumed. This results in pods getting stuck in `ContainerCr

[2019-02-23 05:31] taylorb-syd commented on #331
Going to work on a PR to see if I can modify this behaviour next week. Will link here if I come up with a solution.

[2019-02-23 17:17] RAR commented on #204
I've hit this as well, however its on a new KOPS created cluster.  Generally nodes come up just fine, but at a later time - usually w/in ~30 min or so - kube-dns fails (along with anything else trying to use inter-node communications) after being unable to contact the kube internal API IP.  Around this time I see a large increase in `IPv4: martian source` errors on the effected nodes.    I do have

[2019-02-25 08:19] mmingorance-dh commented on #327
Just found out the problem.
EKS by default has some values already set for prometheus and the container port in their daemonset for `aws-node`. However the pod is not running anything behind those ports. I got the feeling they were set completetly random.

To make it work just add the following attributes to the daemonset:
[code]

aws-vpc-k8s is running in that port.

[2019-02-25 08:19] #327 closed

[2019-02-25 19:49] recollir commented on #318
Any news on this?

[2019-02-25 20:11] 0verc1ocker commented on #328
This issue was eventually resolved and turned out to be an issue with the version of coredns that comes on a new 1.11 EKS cluster.

See https://github.com/awslabs/amazon-eks-ami/issues/200

[2019-02-25 20:11] #328 closed

[2019-02-25 21:04] rkatti opened #332 "Unable to access logs"
I created a cluster with 2 worker nodes using 10.0.0.0/16 address.

I am configured an external machine with Kubeconfig. I am able to run all the regular kubectl commands except for logs I see the following

kubectl logs -p kube-proxy-9pgvg
Error from server: Get https://10.0.1.12:10250/containerLogs/kube-system/kube-proxy-9pgvg/kube-proxy?previous=true: dial tcp 10.0.1.12:10250: connect: connecti

[2019-02-25 21:29] rkatti commented on #332
fyi I am using terraform to build EKS with scripts listed here : https://github.com/WesleyCharlesBlake/terraform-aws-eks/tree/master/modules/eks

[2019-02-25 22:19] nithu0115 commented on #332
@rkatti - It looks like the userdata section of worker nodes in the terraform script is out dated. EKS optimized's AMI now has a bootstrap.sh script would bootstrap your Worker Nodes to join the cluster.

Ref: https://github.com/awslabs/amazon-eks-ami/blob/master/files/bootstrap.sh

Please update you your terraform template to have something similar - https://github.com/terraform-aws-modules/terra

[2019-02-25 23:47] rkatti commented on #332
thanks @nithu0115  will try it out

[2019-02-26 14:45] rkatti commented on #332
that worked ...

[2019-02-26 14:45] #332 closed

[2019-02-26 17:36] npavan063 commented on #49
Where exactly we need to make all these settings? on worker nodes? or the machines which we used to interact with master through kubectl for deploying applications? (we do not have access to master directly). kube-dns pods run on master as well as worker nodes?

Sorry to ask but i am really a newbie here wanted to setup EKS cluster up and running behind corporate proxy.

[2019-02-26 21:13] mogren commented on #331
Thanks @taylorb-syd, I'm trying to catch up a bit on the issues again.

[2019-02-26 21:47] mogren commented on #321
This was definitely a mistake in the 1.3 release branch. Put up a CR.

[2019-02-27 04:03] taylorb-syd commented on #331
Okay, digging a little deeper, the maximum pod setting is actually set when `kubelet` starts. While making the CNI plugin aware of the max IP addresses is desirable, it is lower priority than correctly setting the maximum pod setting. I am therefore focusing my attention on modifying the bootstrap script. I will link issues and PRs as/when I create them.

[2019-02-27 05:35] on0n commented on #254
I am currently experiencing this issue.

I've triple-checked every detail (Role ARNs, ConfigMap, etc.) following the [AWS tutorial](https://docs.aws.amazon.com/eks/latest/userguide/getting-started.html) several times, worker nodes still fail to join.

Checking /var/log/messages gives the same "Unauthorized" errors:
[code]

I've tried t3.micro and t3.medium instances with the recommended EKS-optimi

[2019-02-27 07:58] Deshke opened #334 "unable to pull image"
[code]

via a coreOS instance in us-east-2, ubuntu ami in us-east-2/eu-west-1

[2019-02-27 13:02] badping commented on #208
This feature would help me aswell.
I have many pods on one node and want to restrict pod access to rds database.

[2019-02-27 21:36] edfungus commented on #59
I'm seeing this same issue on a `c5n.4xlarge` instance. CoreDNS is stuck as `ContainerCreating` because `cmd: failed to assign an IP address to container`. I am using kubernetes version `1.11` and `amazon-k8s-cni:v1.3.2`. Everything is fine on `t3.xlarge` but we need `c5n.4xlarge` for the networking.

[2019-02-27 21:53] mogren commented on #59
@edfungus Can you log onto this node and run /opt/cni/bin/aws-cni-support.sh and send me ([mogren@amazon.com](mailto:mogren@amazon.com)) /var/log/aws-routed-eni/aws-cni-support.tar.gz? I'd like see the logs and also try and reproduce the issue.

[2019-02-27 22:44] mogren commented on #330
Related to #282

[2019-02-28 04:19] duro commented on #59
I, like @MorrisMatrix, am getting this with a new node group of `m5a.large` instances. I have a cluster that at normal size is 18 nodes, so right now it is at 36 as I try to migrate the workloads onto the new node group. I am on the latest CNI version and AMI version for k8s 1.10.11.

But the `failed to assign an IP address to container` is only happening on 1 of the 18 nodes in the new node group

[2019-02-28 04:29] duro commented on #59
@mogren it might also be worth noting that I do have a couple of deamonsets running on the cluster and it is those pods that run into the problem. Could there be some kind of race condition with when the deamonsets are trying to boot up along side `aws-node`?

[2019-02-28 09:52] Mokto commented on #59
I can confirm @sturfee-petrl's [solution](https://github.com/aws/amazon-vpc-cni-k8s/issues/59#issuecomment-461158327) worked for me. Thanks !

[2019-02-28 19:53] cnelson opened #335 "AWS_VPC_K8S_CNI_CUSTOM_NETWORK_CFG and --use-max-pods"
I'm not sure if this issue belongs here or in `awslabs/amazon-eks-ami` but I'm running into an issue with the max pods being calculated incorrectly when running with `AWS_VPC_K8S_CNI_CUSTOM_NETWORK_CFG`

When using a custom network config where the pods are on a different subnet than the host then the number of the available address (if I understand this correctly) is not [as described in eni-max-

[2019-02-28 20:13] cnelson commented on #335
Closing, this is a dupe of #331 - I didn't see it, apologies

[2019-02-28 20:13] #335 closed

[2019-02-28 20:15] cnelson commented on #331
Do you plan to handle pods with `hostNetwork: true` in this effort? It's not critical, but I hate to see nodes underutilized because a bunch of hostNetwork daemonset containers are counted against max pods even though they don't use an additional IP.

[2019-03-01 07:01] taylorb-syd commented on #331
@cnelson Unfortunately there is no way to dynamically set the number of max pods in `kubelet` by the looks of it. It can only be set on startup. Therefore it's not possible to say "don't count this pod towards the max pod limits".

However, that being said, if you know ahead of time how many `hostNetwork: true` daemon sets you are going to use on a given instance, we might as well add an option to

[2019-03-01 22:50] tabern commented on #329
Part of https://github.com/aws/amazon-vpc-cni-k8s/issues/294

[2019-03-01 22:50] #329 closed

[2019-03-01 22:56] tabern commented on #214
Ref https://github.com/aws/containers-roadmap/issues/71

[2019-03-01 23:01] tabern commented on #321
It looks like this was a previous commit on the 1.3 branch. This is updated in the latest master and 1.3 branch. https://github.com/aws/amazon-vpc-cni-k8s/blob/release-1.3/config/v1.3/aws-k8s-cni.yaml

[2019-03-01 23:01] #321 closed

[2019-03-02 18:17] cnelson commented on #331
@taylorb-syd for never versions of EKS on 1.11+ this is doable I think:

https://kubernetes.io/docs/tasks/administer-cluster/reconfigure-kubelet/
https://github.com/kubernetes/kubernetes/blob/release-1.11/pkg/kubelet/apis/kubeletconfig/v1beta1/types.go#L409

[2019-03-03 17:55] elvisnovoa commented on #59
I'm running into the same issue on my t3.medium instances.. I've triple checked my cluster's CNI version is `amazon-k8s-cni:v1.3.2`

describing one of the pods, I get this
[code]

and if I run `/opt/cni/bin/aws-cni-support.sh` on a node, I get
[code]

any ideas?

[2019-03-04 12:00] rust84 commented on #59
We are also experiencing this issue. We are running `amazon-k8s-cni:v1.3.2` and have two m4.2xlarge nodes in the cluster, which should have more than enough ips for the pods we are creating.

We have been spinning up a lot of pods to test something today. So it is like the ips are not being released back into the pool afterwards. I don't really find having to delete the node an acceptable solution

[2019-03-04 13:45] max-rocket-internet opened #336 "Create a Helm Chart for this CNI and its resources"
It would be great to have a Helm Chart for this CNI.

This would make a few things easier for cluster administrators:
- Upgrades (or downgrades)
- Setting config options
- Over riding settings
- Enabling the new prometheus metrics
- Nice versioning across clusters
- Easy installation into non-EKS cluster. e.g. kops.

The chart could be in this repo or in [stable](https://github.com/helm/charts/tre

[2019-03-04 14:16] max-rocket-internet opened #337 "Rename Prometheus metrics to be more conventional"
Currently the metrics exposed are named:

- ipamd_error_count
- ipamd_action_inprogress
- eni_allocated
- total_ip_addresses
- assigned_ip_addresses

I would say these names are not very informative or consistent with [metric and label conventions](https://prometheus.io/docs/practices/naming/). Specifically:

I propose we prefix all the metrics names with `aws_cni_`.

Should I make a PR for this?

[2019-03-04 21:58] mogren commented on #334
Hi @Deshke ,

Have you authenticated against ECR? Does running `aws sts get-caller-identity` work in the shell for you?

[2019-03-05 00:25] tabern commented on #35
Part of version 1.3

[2019-03-05 00:25] #35 closed

[2019-03-05 00:35] tabern commented on #154
This issue is deprecated as of version 1.3.2

[2019-03-05 00:35] #154 closed

[2019-03-05 00:37] tabern commented on #176
Closing - question answered

[2019-03-05 00:37] #176 closed

[2019-03-05 00:39] tabern commented on #283
Duplicate of https://github.com/aws/amazon-vpc-cni-k8s/issues/282

[2019-03-05 00:42] tabern commented on #254
@trojanops this may be an issue with the IAM authenticator? Please open a ticket with AWS support so we can troubleshoot.

[2019-03-05 00:42] #254 closed

[2019-03-05 00:45] tabern commented on #134
Question answered.

[2019-03-05 00:45] #134 closed

[2019-03-05 00:54] tabern commented on #212
Fixed by https://github.com/aws/amazon-vpc-cni-k8s/pull/271

[2019-03-05 00:54] #212 closed

[2019-03-05 17:47] mogren commented on #337
Hi @max-rocket-internet,

Yes, please do. I agree that we should follow the standard prometheus conventions.

[2019-03-05 17:59] #213 closed

[2019-03-05 19:07] chiefy commented on #334
I'm having the same issue...

[code]

[code]

[2019-03-05 22:04] mogren commented on #334
@chiefy There is now a v in front of the release number, so `docker pull 602401143452.dkr.ecr.us-west-2.amazonaws.com/amazon-k8s-cni:v1.3.2` should work.

(Not sure why the switch was made between 1.3.1 and v1.3.2)

[2019-03-06 00:43] sdavids13 commented on #272
This is happening to us as well using a CentOS 7 AMI w/ EKS 1.11 at about the same frequency as described in the ticket. Today was especially fun because this happed to our coredns pod which was added to the load balancer (no readiness installed by default :() and thus was causing a lot of DNS errors inside of our cluster which our services didn’t appreciate :/. This has become a huge headache and

[2019-03-06 03:26] nckturner commented on #334
Both tags are now available, v1.3.2 and 1.3.2.

[2019-03-06 03:27] #334 closed

[2019-03-06 21:48] #285 closed

[2019-03-06 22:50] lgg42 commented on #176
@TigerC10 hey man, sorry to bug you with this again...
What CNI plugin are you using with genie? I tried first calico, but I hit myself with:
 "CNI Genie Add IP internal error: Error from cni: no podCidr for node _node-private-dns_" during ContainerCreating
I've looked into passing this pod cidr during creation time (I'm automating the whole thing) but haven't found out a clue yet.
I'll try weave

[2019-03-07 00:04] christopherhein opened #339 "Migrate ENIConfig groupName to k8s.aws"
Before we move the `ENIConfig` CRDs to `beta` or `stable` we should move the `groupName` under `[project].k8s.aws` to follow the same pattern we're using for other tools.

[2019-03-07 01:25] tsuna commented on #166
I'm seeing this (or something that looks exactly like the symptoms/logs described above) in a new kops cluster with k8s 1.11.8 and the plugin version 1.3.0 (I know it's not the latest but I thought the fix was in 1.3.0).

[2019-03-07 09:47] tsuna commented on #59
Same issue with a kops-managed k8s 1.11.8 cluster, and the v1.3.2 addon. Had to reboot the instance on which all the pods were stuck in `ContainerCreating`.

[2019-03-07 13:48] rizwan-kh commented on #59
Just wondering why is this not re-opened or has someone opened a new bug? This has happened to my cluster with m5.xlarge 2 worker nodes twice in one month. I updated CNI to 1.3.2, terminated nodes, but still had the same issue where nodes were struck with below error in ContainerCreating status

We were hitting the IP limits when this issue started, but then we brought back the cluster to use 1/3r

[2019-03-07 13:53] rizwan-kh commented on #69
There is another [bug](https://github.com/aws/amazon-vpc-cni-k8s/issues/59) closed, but this also seems to be related (I can confirm if required) - right now, my cluster is working normally, but will check the next time this happens and update with confirmation.

[2019-03-07 15:41] samaddico commented on #176
Anybody had success with this?

[2019-03-07 18:17] mogren commented on #318
Hi, sorry for the late reply.

We will investigate this issue, and if the current master works, that's great. I've created a [1.4 Milestone](https://github.com/aws/amazon-vpc-cni-k8s/milestone/5) and we will start working on that soon.

[2019-03-07 19:20] tsuna commented on #59
Yeah I don't understand how people use this either... I hit the bug again within 12h of rebooting the aforementioned instance.

[2019-03-07 22:30] tustvold commented on #231
Not sure whether to open this as a separate issue but the rule added to the routing policy database is subtly wrong, in that it doesn't account for additional bits that might be set in the fwmask - for example by calico.

The rule is currently

[code]
When it should probably be
[code]

[2019-03-08 15:12] lnr0626 commented on #272
I've seen this as well with a similar setup to sdavids

It looked like it might only be happening on secondary ENIs - i.e. all of the pods in our cluster that have IPs allocated on the primary ENI consistently come up correctly

[2019-03-08 16:40] recollir commented on #272
Have you tried to run from master, lnr0626? This solvens it for us it seems.

[2019-03-08 19:32] aaomoware commented on #59
@geerlingguy

...and c5n.4xlarge too

aws-routed-eni/ipamd.log.2019-03-08-17:2019-03-08T17:49:33Z [ERROR] Failed to get eni IP limit due to unknown instance type c5n.4xlarge
aws-routed-eni/ipamd.log.2019-03-08-17:2019-03-08T17:49:33Z [INFO] Failed to retrieve ENI IP limit: vpc ip resource(eni ip limit): unknown instance type
aws-routed-eni/ipamd.log.2019-03-08-17:2019-03-08T17:49:33Z [ERROR] Faile

[2019-03-08 20:10] sdavids13 commented on #204
We seem to be hitting this same issue, it is slightly masked because a lot of our external facing pods are sitting behind ALBs which don't come into rotation due to ALB health checks. Just like the original poster, our readiness probes and liveness probes pass but external things (like the ALB or prometheus) can't end up talking to the pod. Once we kill the pod it seems to resolve itself. This ten

[2019-03-08 22:14] joegoldbeck commented on #59
Seen on c5n.18xlarge

[2019-03-10 19:35] peterbroadhurst commented on #204
I believe we are hitting this same issue.
Like others on this thread we are using `AWS_VPC_K8S_CNI_EXTERNALSNAT` (we have managed AWS NAT gateways in each AZ, and VPN + VPC peering connections meaning we need to disable SNAT). We are using Calico network policy on top.
In an environment experiencing the issue, I tried provisioning lots of pods onto the same k8s node to get a spread of IPs. All of

[2019-03-10 21:05] peterbroadhurst commented on #204
An observed difference between working and non-working nodes:
- Working:
[code]
- Not working:
[code]

This seems like a symptom to me, rather than root cause. Maybe some required processing was missed for this ENI when added by the CNI plugin.

[2019-03-12 19:14] Pryz opened #343 "Failed to CreateNetworkInterface InvalidSecurityGroupID.NotFound"
Hello,

Current version : 1.3.2.
Configuration : default from the AWS EKS AMI.

I'm hitting an issue where ipamd is trying to use a Security Group which doesn't exist anymore to create an ENI. The error message is the following :
[code]
From the logs, I see that this SG was found at the start of L-IPAMD :
[code]

From https://github.com/aws/amazon-vpc-cni-k8s/blob/master/pkg/awsutils/awsutils.go#L

[2019-03-12 19:34] Pryz commented on #343
To force refreshing the metadata cache I recycled the `aws-node` PODs which is not necessarily something you would want to do in a production environment. :)

[2019-03-12 20:16] robottaway commented on #166
@tsuna please create another ticket and link to this one. I too ran into this issue and I am using 1.3.2. Issue for sure still exists, only one route to failure was fixed there must be others.

[2019-03-12 20:44] tsuna opened #344 "setup NS network: failed to add host route: file exists / UpdateRuleListBySrc: failed to add pod rule: file exists"
CNI version: v1.3.2
Kubernetes v1.11.8

On a small test cluster with 1 master (m3.medium) and 4 nodes (t2.small) running a total of 48 pods (across all namespaces, including `kube-system`) we frequently run into:
[code]
We can manually unwedge nodes by deleting (a) host routes and (b) IP rules for IP addresses that were listed as unassigned by L-IPAM. For some reason, it appears to occasionally no

[2019-03-12 20:45] tsuna commented on #166
Alright I filed a new issue.

[2019-03-13 10:38] Deshke opened #345 "multiple default routes on reboot"
CoreOS stable: `2023.5.0`
k8s-cni: `602401143452.dkr.ecr.us-west-2.amazonaws.com/amazon-k8s-cni:v1.3.2`

if one does update the instance manual or with the auto updater, the default routes gets mixed up and end up with multiple default routes with multiple eni devices. what results in a dead instance.

[code]
question is, coreOS bug or cni bug?

[2019-03-13 10:40] tecracer-tkrauss commented on #302
Same issue here. Followed this guide: https://docs.aws.amazon.com/eks/latest/userguide/cni-custom-network.html.
ENIs are not created but used onced attached manually.

[2019-03-13 16:57] #135 closed

[2019-03-13 18:45] jw-maynard commented on #123
Running into the same issue here in a deployment. If I delete the pod the next one created usually starts up fine.

[2019-03-13 21:03] mogren commented on #345
Thanks for reporting, I'll try to take a look at why this happens.

[2019-03-13 21:14] sethp-nr commented on #345
We saw the same behavior on CoreOS because it defaults to using DHCP on all interfaces, so when the machine comes up it gets a DHCP response with a default route for each ENI and programs the route tables accordingly.

We instructed networkd to always prefer the eth0 route by using ignition (via userdata) to write a networkd dropin:

[code]

There's some more information available on this CoreOS i

[2019-03-13 21:32] igorshapiro commented on #59
Happens here on almost any m5 instance. Mostly on m5.4xl

[2019-03-13 22:43] peterbroadhurst commented on #204
We have begun work on a fixed based on the above analysis.
release-1.3 derived branch, not ready for a PR yet:
https://github.com/aws/amazon-vpc-cni-k8s/compare/release-1.3...kaleido-io:release-1.3-fix-204
Setting up our build pipeline so we can begin testing.

[2019-03-13 23:18] mogren commented on #204
Thanks @peterbroadhurst for working on this, and I agree that retrying is a sensible approach.

[2019-03-14 00:37] mogren commented on #343
I don't think there is any cache refresh functionality right now, but it sounds like a very useful feature.

[2019-03-14 04:18] Jportofolio commented on #321
Here is my solution:
1. login to aws ecr:
  aws ecr get-login --region us-west-2 --no-include-email

2. the above cmd returns somthing like this:
   sudo docker login -u AWS -p eyJwYXlsb2FkIjoiak5aRDNKdFVvZ3BtMjluaWJTMnlMdm1LREVXNndlc2dHK0kvL3ZnY1haS2NsS1ptUmJGYnRtNlNGL2tZMUhiTU1NdEZpN3NZM= https://602401143452.dkr.ecr.us-west-2.amazonaws.com

3. pull the image on my Local workstation:
  sudo dock

[2019-03-14 22:35] jicowan commented on #302
I'm seeing a similar thing (after manually attaching an ENI to the instance) only when I attach an ENI to the instance it fails to allocate the IPs to pods.  It does, however, allocated secondary IPs to the ENI in the CIDR range of the ENIConfig.

**ENIConfig**
[code]

[code]

Like @anshrma I am also using `ENI_CONFIG_LABEL_DEF` and I have set it to `failure-domain.beta.kubernetes.io/zone`

[2019-03-14 22:50] mogren commented on #7
Resolving old issues.

[2019-03-14 22:50] #7 closed

[2019-03-14 22:51] mogren commented on #11
Documented for EKS.

[2019-03-14 22:51] #11 closed

[2019-03-14 22:58] mogren commented on #15
Not using this CNI

[2019-03-14 22:58] #15 closed

[2019-03-14 23:10] ofiliz commented on #15
To be clear, EKS Windows Nodes is a "coming soon" feature tracked in our roadmap: https://github.com/aws/containers-roadmap/issues/69

We have a separate CNI plugin for Windows.

[2019-03-14 23:13] mogren commented on #22
Great idea, we should have done that a year ago... 😪

[2019-03-14 23:13] #22 closed

[2019-03-14 23:13] mogren commented on #37
Fix done long ago.

[2019-03-14 23:13] #37 closed

[2019-03-14 23:14] mogren commented on #40
Retries added, will create a new separate issue for exponential backoff.

[2019-03-14 23:14] #40 closed

[2019-03-14 23:16] mogren commented on #42
Will track in another issue.

[2019-03-14 23:16] #42 closed

[2019-03-14 23:22] mogren commented on #58
Fixed in kubernetes

[2019-03-14 23:22] #58 closed

[2019-03-14 23:27] tsuna commented on #344
Ping? :)

[2019-03-14 23:53] mogren opened #347 "Do exponential backoffs for retries"
Currently calls with retries have a 5 second pause between each try, they should be exponential instead.

[2019-03-14 23:57] mogren commented on #64
Not needed.

[2019-03-14 23:57] #64 closed

[2019-03-15 07:32] till-krauss commented on #302
@jicowan Just found out that it's simply a strange release from the CNI we're using by default.
I assume you're using the release 1.3.2 (the newest one).
1.3.2: https://github.com/aws/amazon-vpc-cni-k8s/blob/v1.3.2/pkg/eniconfig/eniconfig.go
current master: https://github.com/aws/amazon-vpc-cni-k8s/blob/master/pkg/eniconfig/eniconfig.go

There's no mention about any eniconfig setting via labels in

[2019-03-15 14:51] jicowan commented on #302
@till-krauss Thanks!  That updating the image fixed the issue I was having.  Wondering when these changes will make it into an official release.

[2019-03-15 18:36] mogren commented on #344
Hi, thanks for filing the issue!

I haven't had time debug this yet, but like you mentioned it's similar to several open issues. It's interesting that your `eni-0a4db9cc2d9088b80` has no assigned IPs, but still has not been freed.
Will investigate this more once I've managed to resolve some of older open issues.

[2019-03-15 19:34] mogren commented on #102
Resolved

[2019-03-15 19:34] #102 closed

[2019-03-15 19:35] mogren commented on #111
Logging has been improved

[2019-03-15 19:35] #111 closed

[2019-03-15 19:40] mogren commented on #133
SNAT configuration has been added.

[2019-03-15 19:40] #133 closed

[2019-03-15 19:47] mogren commented on #136
Not needed.

[2019-03-15 19:47] #136 closed

[2019-03-15 19:52] mogren commented on #137
CIDR check was added to the EKS control plane.

[2019-03-15 19:52] #137 closed

[2019-03-15 19:53] mogren commented on #141
Host port fix merged.

[2019-03-15 19:53] #141 closed

[2019-03-15 19:54] mogren commented on #148
Resolving old issues.

[2019-03-15 19:54] #148 closed

[2019-03-15 20:18] mogren commented on #164
Sorry this issue has been open for 9 months without anyone looking into it. Adding it to my long list of todos...

[2019-03-15 20:19] mogren commented on #172
Resolving old tickets.

[2019-03-15 20:19] #172 closed

[2019-03-15 20:21] mogren commented on #175
Wrong wording in the blog post, resolving.

[2019-03-15 20:21] #175 closed

[2019-03-15 20:22] mogren commented on #179
Not a CNI issue

[2019-03-15 20:22] #179 closed

[2019-03-15 20:22] mogren commented on #180
Moved to #204

[2019-03-15 20:22] #180 closed

[2019-03-15 20:27] mogren commented on #198
Fix merged.

[2019-03-15 20:27] #198 closed

[2019-03-15 20:33] mogren commented on #215
Is this still an issue?

[2019-03-15 20:35] mogren commented on #222
It is compatible.

[2019-03-15 20:35] #222 closed

[2019-03-15 20:40] mogren commented on #239
`MAX_ENI`
Type: Integer
Default: None
Specifies the maximum number of ENIs that will be attached to the node. When MAX_ENI is unset or 0 (or lower), the setting is not used, and the maximum number of ENIs is always equal to the maximum number for the instance type in question. Even when MAX_ENI is a positive number, it is limited by the maximum number for the instance type.

[2019-03-15 20:40] #239 closed

[2019-03-15 20:41] mogren commented on #248
Fix merged

[2019-03-15 20:41] #248 closed

[2019-03-15 20:50] mogren commented on #266
A systemd fix related to this was recently merged: https://github.com/systemd/systemd/pull/11881

[2019-03-15 20:51] #268 closed

[2019-03-15 20:53] mogren commented on #273
Debian issue.

[2019-03-15 20:53] #273 closed

[2019-03-15 21:05] dvohra commented on #175
Thanks mogren.

[2019-03-15 21:31] mogren commented on #277
Currently IPAMd populates a cache with EC2 instance metadata when it starts up, then only update some properties. I agree that updating SecurityGroups should just work.

[2019-03-15 21:38] #290 closed

[2019-03-15 21:41] dvohra commented on #179
Thanks mogren.

[2019-03-16 19:22] krish7919 commented on #59
Same here with the latest 1.3.2 version on a `c4.2xlarge` node.

[2019-03-16 21:16] mogren commented on #59
Hi,

I think there are a mix of problems mentioned in this issue that now are tracked in newer open issues. For example, all **c5n** family issues are because the 1.3.2 does not include that instance type. The initial bugs in this issue was fixed by Liwen, but there are still related issues with IP and ENI allocation and deletions tracked in #69, #123, #330 and #294.

Thanks for reporting issues!

[2019-03-17 17:43] tsuna commented on #59
Also #344, where the issue isn't related to c5 family instances but the symptoms look similar.

[2019-03-18 13:02] max-rocket-internet commented on #337
Here: https://github.com/aws/amazon-vpc-cni-k8s/pull/348

[2019-03-19 15:51] tsuna commented on #344
This happens very consistently on a small test cluster of t2.small instances where the number of pods is close to the limit (of 11) and the instances are sometimes running a bit hot due to uneven balancing of pods. Makes the cluster unusable. I haven't yet seen this bug on bigger clusters of m5.large instances.

You should be able to reproduce this bug easily but I'm also happy to provide any othe

[2019-03-20 01:08] erolosty commented on #344
Seeing this issue too

[2019-03-20 18:02] #337 closed

[2019-03-21 12:22] dresnick-sf commented on #49
I'm trying to get this working too, without success so far.

My worker node is in a subnet which only has access outside the EKS VPC via a proxy.

I tried implementing @liwenwu-amazon 's comment above, and gave `NO_PROXY` this value:
`localhost,127.0.0.1,169.254.169.254,.vpc-internal,192.168.0.0/16,10.100.0.1`

[code]

Though I'm not surprised that this doesn't work; the only route that can reach

[2019-03-21 14:47] tsuna commented on #344
Just had this hit on a m5.large instance. Definitely doesn't happen as frequently there but once a node gets a little too loaded, it does. I don't know how people and EKS can use this plugin, it's so unstable it's unusable to us. I'm rolling it back everywhere.

[2019-03-21 21:29] krish7919 opened #352 "EKS worker node not able to communicate with RDS in a different VPC"
I have installed an EKS cluster in a branch new VPC and am unable to access an RDS instance located in another VPC. I have peered the VPCs to achieve as per https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_VPC.Scenarios.html#USER_VPC.Scenario3.

The EKS worker instance has a security group attached to it, which has been allowed in RDS.

The peculiar case starts now:

1. In this scenario

[2019-03-21 21:45] krish7919 commented on #352
Disabling SNAT using `AWS_VPC_K8S_CNI_EXTERNALSNAT` does't help either.

[2019-03-21 22:31] jacksontj opened #353 "Could we split the ipam CNI from the rest?"
CNI supports chaining of plugins-- in the example plugins (https://github.com/containernetworking/plugins/) this is generally used to split the routing configuration from ipam. Other CNI plugins (such as lyft's -- https://github.com/lyft/cni-ipvlan-vpc-k8s/pull/47) do the same thing and make their CNIs chainable.

We've been using a fork of this plugin for a while (and are working to use upstream)

[2019-03-22 10:23] msvticket opened #356 "CNI doesn't support configuring MTU"
As far as I understand the maximum transmission unit for each POD is hard coded to 9001 after the completion of #167. This currently causes problems since paths to some hosts our applications need to access has a much lower MTU.

What happens is typically that TCP connections hang waiting for response packages that are to big to be delivered since the agreed on maximum segment size (MSS) of the co

[2019-03-22 17:39] erolosty opened #357 "setup NS network: failed to add host route: file exists / UpdateRuleListBySrc: failed to add pod rule: file exists"
Similar issue to: https://github.com/aws/amazon-vpc-cni-k8s/issues/344

Breaking the issue out as it seems the author of that one said he is 'rolling back'

Kubernetes: 1.13.3
CNI: 1.3.2

We are seeing Pods get stuck starting with:

[code]

Our current best guess is that the unix.NLM_F_EXCL flag in

https://github.com/vishvananda/netlink/blob/master/route_linux.go#L455

Called from:

https://githu

[2019-03-23 03:16] peterbroadhurst opened #359 "aws-node stuck in crash recycle attempting to use an ENI it deleted"
One of our nodes encountered an issue where the `aws-node` CNI pod is constantly crash recycling, and the ipamd logs show:
[code]
Node is tainted to isolate while we investigate.

I am raising this and will report root cause back once determined, in case others see the same symptoms.

Reviewing the earlier ipamd logs I can see that the ENI was released and deleted, but just a minute later the `Rec

[2019-03-24 00:30] mogren commented on #359
Thanks a lot @peterbroadhurst , that is a great find!

[2019-03-25 00:13] CB-GuangyaoXie commented on #137
@mogren Hi, can you elaborate on how the CIDR check works? EKS allows me to create cluster on 172.17.0.0/16. But I'm seeing similar issue.

[2019-03-25 09:17] dresnick-sf commented on #49
I just got this working with k8s 1.11. Note that
`kubectl edit deployment coredns --namespace=kube-system`
replaces
`kubectl edit deployment kube-dns --namespace=kube-system`
Make sure you kill all previously running pods after applying the proxy settings to the daemonsets/deployment.

[2019-03-25 20:18] thomasvnoort commented on #205
What version of kops are you running?

We have seen similar errors after upgrading kops from 1.8 to 1.10. We found out that kops 1.10 [no longer](https://github.com/kubernetes/kops/commit/106eb3861c714543bf61da7d335dec0e41b5ed4d#diff-01d8d5b5d9dd00bd56b45313c256581d) installs [k8s-ec2-dst](https://github.com/ottoyiu/k8s-ec2-srcdst) with the CNI plugin. So after manually deleting everything related

[2019-03-26 13:06] dresnick-sf commented on #49
Patching the 3 entities with `kubectl patch`:
[code]

[2019-03-26 23:30] mogren commented on #283
I think #282 is a different issue, reopening this one. The digging so far there seems to be an [open issue in Kubernetes](https://github.com/kubernetes/kubernetes/issues/40973) where ENV variables are not always set. The operator-framework has a [workaround for it](https://github.com/operator-framework/operator-sdk/blob/v0.0.7/pkg/k8sclient/client.go#L136) that we are looking into.

[2019-03-28 20:30] rudoi opened #365 "Does this CNI support containerd?"
Is there any part of this CNI that would not function well with containerd (aka not docker)? If so, why?

[2019-03-28 22:52] tiffanyfay commented on #283
Fixed by #364.

[2019-03-28 22:52] #283 closed

[2019-03-29 14:40] recollir commented on #204
Could #318 be related to this here?

[2019-03-29 19:25] mogren commented on #365
Currently [ipamd](https://github.com/aws/amazon-vpc-cni-k8s/blob/master/ipamd/ipamd.go#L323) uses the go docker client to call `GetRunningContainers()` to find the local pods on the node, but that is the only place. I have not tested another runtime myself, so I'm not sure what would be needed to support that.

[2019-03-29 23:48] rudoi commented on #365
Thanks @mogren. I'm curious... what is the reason for retrieving the container ID from Docker, as opposed to checking a container status via Kube API? I have a PR ready to go that completely skips checking Docker, but I'm wondering if I'm missing something critical about the CNI's functionality that requires the container ID from Docker specifically.

If this is required, I will have to implement

[2019-03-29 23:50] mogren commented on #330
I've added some improved logging and a potential fix in #367. Punting this issue to 1.5 until I can make sure it has been resolved.

[2019-03-29 23:51] mogren commented on #282
Was unable to try the quick veth check fix, punting to v1.5

[2019-03-29 23:56] mogren commented on #294
I've added some improved logging, but not been able to track down the issue. Punting this issue to 1.5.

[2019-03-30 00:05] bjethwan opened #369 "Why's IP assigned to ClusterIP service is not accessible from outside?"
I created two k8s clusters within the same AWS VPC.
I can access the nginx pod in another k8s cluster but can't access that same nginx pod using a clusterip svc.

[2019-03-30 00:08] bjethwan commented on #369
I created two k8s clusters within the same AWS VPC.
I can access the nginx pod in another k8s cluster but can't access that same nginx pod using a clusterip svc.

[2019-03-30 00:32] mogren commented on #365
I really don't know why Liwen wrote it that way. The last related change was in #86, way before my time.

[2019-03-31 17:48] krish7919 opened #370 "Documentation: How to enable NetworkPolicy Kubernetes resource?"
Is this just a matter of applying the `calico.yaml` version to the cluster?

I couldn't find any documentation in the `docs/` folder.

[2019-03-31 17:55] krish7919 commented on #370
Apologies, should have searched before opening this one.

A quick web search got me here: https://docs.aws.amazon.com/eks/latest/userguide/calico.html

[2019-03-31 17:55] #370 closed

[2019-04-01 15:37] rudoi commented on #365
I opened #371 proposing getting the container ID from the Kubernetes API instead. Happy to discuss alternative paths, but I can't think of one that doesn't involve writing a bespoke containerd package.

[2019-04-01 16:03] elliottb303 commented on #254
Adding on re: tags, the typo is a newb mistake. Digging for more complicated reasons was rough. Node has to be 'owned' by a certain cluster. The nodes will only join a cluster its supposed to. I overlooked this but there was not a lot of docs on it. In my case using terraform. Make sure variables match. This is node tag naming parent cluster to join
[code]

[2019-04-02 00:11] sethp-nr commented on #369
Cluster IPs don't go through the CNI. AFAICT amazon-vpc-cni-k8s makes no attempt at taking ClusterIPs away from the default `kube-proxy` implementation.

[2019-04-03 07:01] pc-rshetty commented on #270
i still see this issue even on amazon-k8s-cni:v1.3.3

[2019-04-03 07:12] nak3 commented on #270
This patch https://github.com/aws/amazon-vpc-cni-k8s/pull/293 should fix the issue, but it looks like [v1.3.3](https://github.com/aws/amazon-vpc-cni-k8s/commits/v1.3.3) did not include it.

[2019-04-03 08:56] Suckzoo opened #373 "UDP connections from pods to daemonset are lost when daemonset is replaced"
# Background
- Kubernetes version: 1.11
- vpc-cni version: 1.3.2
- EKS version: eks.2

# Problem
We deployed a daemonset that accepts UDP packets through hostPort 8125. At first, we observed that other pods are correctly sending packets to pods of the daemonset.: pods are trying to send UDP packets to their host, and the hosts redirects the packets to their pods of the daemonset.

Then we replaced

[2019-04-03 10:06] mrshpaks commented on #59
It looks like **m5ad** family is also has this issue

[2019-04-03 13:54] mathewmoon opened #374 "Using public subnet always binds private address"
Using version 1.3.3 with ```AWS_VPC_K8S_CNI_CUSTOM_NETWORK_CFG=true ``and the following ENIConfigs:
[code]
Kubectl describe node shows the proper annotation:
[code]
## Expected Outcome
Pod gets public IP from public subnet
No error in log

## What happens instead
I see this error in the aws-node pod, but only on worker nodes that use the custom ENIConfig (Second line):
[code]
Pod gets private addr

[2019-04-03 15:25] joseph-wortmann commented on #374
The idea here, as I'm understanding it, is to have a private subnet node that has pods that receive ENIs and public addresses from a public subnet.

However, bare ENIs created in a public subnet do not automatically get public addresses assigned to them.

I think for this to work the CNI plugin will have to be updated to have a flag such as `ASSIGN_PUBLIC_ADDRESS=true` and then do the following:

[2019-04-03 17:58] sethp-nr commented on #373
When we observed similar behavior, it wasn't the fault of the CNI. In our case, the client was doing two unusual things:

1. Calling `connect` on a UDP socket
2. Caching the DNS resolution in a static member variable and never re-resolving it

The effect of [1] was to cause the kernel to "pin" the UDP flow: it only went through the iptables rules once at `connect` time. When the client sent packet

[2019-04-03 18:09] flegler commented on #59
please reopen - hitting this too on EKS1.11.9 with AMI amazon-eks-node-1.11-v20190329 (ami-0e82e73403dd69fa3) and cni 1.3.2
[code]

[2019-04-03 18:27] mogren commented on #59
Yes, the m5ad family has been added to the master branch and will be in the v1.4.0 release, planned to be out soon.

[2019-04-03 18:34] flegler commented on #344
Hitting this too on EKS1.11.9 with AMI amazon-eks-node-1.11-v20190329 (ami-0e82e73403dd69fa3) and cni 1.3.2 on instance type m4.2xlarge
[code]

[2019-04-03 21:30] #311 closed

[2019-04-04 02:56] Suckzoo commented on #373
In our case, we're sending UDP flows via host's IP, not the name of the server. We think DNS is irrelevant with our issue.

[2019-04-04 03:18] mathewmoon commented on #374
@mogren
Do you know if this this expected behavior?

[2019-04-04 11:47] rdonkin opened #375 "aws-cni-support.sh doesn't finish if errors, and can include tarball in itself"
At least on 1.2.1, there is a curl error, and due to `set -e` the script exits at that point, so no tar.gz file is generated.  The error is from a curl line that has been removed in recent versions:
[code]
While `set -e` is generally a good idea,  it might be good to relax this so that most logs are included even if there's another unexpected error.

It would also be good to make the last line exc

[2019-04-04 16:29] aaomoware commented on #59
for those still facing issues with c5n instance family, and are using AWS EKS, you can upgrade to the latest by apply the current release of CNI

[code]

see documentation here
[code]

[2019-04-04 16:45] frimik commented on #352
@krish7919 Are you peering between two different AWS regions or the same region? Same AWS Account or different AWS accounts?

Read the three important points here: https://docs.aws.amazon.com/vpc/latest/peering/vpc-peering-security-groups.html

[2019-04-04 16:54] frimik commented on #315
Adding the `--pod-cidr` flag to the worker nodes doesn't help. It's taken from the master nodes unless you're running in what's called `standalone` mode.

[2019-04-04 17:02] sethp-nr commented on #373
That makes sense. From #153, it seems to me the hostPort handling is delegated out to the upstream [portmap plugin](https://github.com/containernetworking/plugins#meta-other-plugins). That's billed as:

Which suggests to me that the behavior is "expected," or at least an issue more fixable in one of the upstream bits (`portmap` or the linux kernel, maybe). We never got around to trying it, but ano

[2019-04-04 17:03] frimik commented on #319
I'm confused. You say `172.20` but your logs say `192.168`.

Also, if ipamd finds a matching eniconfig the logs should say so... I don't see it above.

[2019-04-04 17:29] frimik commented on #331
In the basic solution, it's simple. If we properly have access to a true export of this[^1] then we can do:
[code]

... in the bootstrap. Where `daemonSetPrediction` is that operator-provided educated guess.

I'd be happy for that as an initial break-fix, but seems not very good in the long run.

@taylorb-syd curious if you did anything clever yet?

[^1]: https://docs.aws.amazon.com/AWSEC2/latest/

[2019-04-04 17:35] #315 closed

[2019-04-04 17:37] benishak commented on #315
i had misunderstanding
kubernetes utilise a 2nd CIDR for VIPs for internal communication but the pods get assigned ip from the vpc cidr fukly routable

[2019-04-04 17:48] tylux commented on #231
This helped the issue I was getting through my ELBs, I would get random high response times to my services when using Load Balancer Protocol TCP/SSL (for websockets) as soon as I disabled source/dest check on ALL ENI's the problem went away.

I would switch to NLBs but waiting for K8s to support attaching certs to NLBs.

[2019-04-04 20:16] nckturner opened #377 "IPs are allocated to ENIs in an inconsistent way"
When IPAMD attempts to meet pod IP demands by allocating ENIs and IP addresses, it allocates new IP addresses and attaches them to the ENI in an inconsistent way.  This behavior is easy to reproduce.
[code]
Check some of the config values:
[code]

[code]
After cluster is ready and KUBECONFIG is set to generated kubeconfig file:
[code]
Using the aws cli or console, detach an unused IP address, (det

[2019-04-04 21:51] mogren commented on #319
Assuming this is not a production cluster, you could test the v1.4 release candidate and see if that solves your problem. Just apply that version and restart the worker nodes.

[2019-04-04 21:51] mogren commented on #319
https://github.com/aws/amazon-vpc-cni-k8s/releases/tag/v1.4.0-rc1 is the relase candidate

[2019-04-04 22:29] bjethwan commented on #369
Hi @sethp-nr
Thanks for your reply. BTW, I have started liking it and I would probably going live in production with this plugin.

Would you know any nice way/trick to replicate the dns entries from one k8s cluter to another?

-Thanks

[2019-04-05 00:51] krish7919 commented on #352
Ok. I could resolve my issue a few days ago. I had not provided the right permissions to the K8S/EKS worker IAM role to create and attach additional network interfaces. Logging into the machine and looking at the IPAM logs showed that clearly and I could then fix it easily.

[2019-04-05 00:52] krish7919 commented on #352
I had an issue with the peering configuration and deleted and correctly recreated it to resolve the issue.

[2019-04-05 00:52] #352 closed

[2019-04-05 17:52] sethp-nr commented on #369
I'm glad you like it, though I can't take credit for any of it :)

As for DNS, we've haven't gotten too deep into it, but we've had some luck so far with: https://github.com/kubernetes-incubator/external-dns

[2019-04-05 21:46] hgokavarapuz opened #380 "Documentation correction for AWS_VPC_K8S_CNI_RANDOMIZESNAT"
Documentation seems to be wrong for AWS_VPC_K8S_CNI_RANDOMIZESNAT which states use it when AWS_VPC_K8S_CNI_EXTERNALSNAT=true is set. But setting the value to true means `The SNAT iptables rule and off-VPC IP rule are not applied, and these rules are removed if they have already been applied.` AWS_VPC_K8S_CNI_RANDOMIZESNAT should be used only when the AWS_VPC_K8S_CNI_EXTERNALSNAT=false. Here is the

[2019-04-06 03:48] taylorb-syd commented on #331
@frimik Happy for you to put attention into this, I have been swamped last month and couldn't put any energy/effort into this.

[2019-04-06 22:28] bjethwan opened #381 "Do you have a logo icon for this AWS CNI plugin?"
Do you have a logo icon for this AWS CNI plugin?

I can see some diagrams showing black color circle with work CNI.
Would you mind putting the relevant one on the README?

[2019-04-08 03:26] Suckzoo commented on #373
@sethp-nr Thanks for suggesting the workaround :)
We tried to set `nf_conntrack_udp_timeout` to 0. The result was, as you expected, we observed that packets are flowing into the newly created container. However, there is a big problem: name resolving does not work at all. The container failed to resolve any address.

[2019-04-08 03:29] Suckzoo commented on #373
For now, I think we can make one of these choices:
1. Detect container destruction in vpc-cni and flush entries from the portmap's iptable.
2. Detect container destruction in portmap and flush entries from the portmap's iptable
As I'm not familiar with both portmap and vpc-cni, I'm not sure which to fix. Which would be the best option?

[2019-04-08 08:10] recollir commented on #318
@mogren We saw there is a 1.4.0-rc1 candidate out there. We have tested it and it seems that it solves this issue. Wondering why this issue is not in the milestone for 1.4 and/or why it was not addressed with any update here?

[2019-04-08 18:29] mogren commented on #318
Hey @recollir, thanks a lot for testing this. I didn't want to include this issue since I was not sure the changes solved your problems. I'll try to get this release out as soon as possible.

[2019-04-08 20:10] sethp-nr commented on #373
Well, since this CNI delegates to portmap's implementation for host ports, it seems to me that the right place would be the upstream project.

In fact, it looks like there's already an issue about this case: https://github.com/containernetworking/plugins/issues/123

[2019-04-08 23:00] bjethwan opened #385 "Is there a separate charge($) for the secondary IPs?"
Is there a separate charge($) for the secondary IPs?

[2019-04-08 23:04] mogren commented on #375
The script was updated in #320 and #384. Thanks for filing the issue!

[2019-04-08 23:04] #375 closed

[2019-04-09 00:38] bjethwan opened #386 "Am I correct to assume that if we fall short of IPs in a VPC we can add more CIDRs to it?"
Am I correct to assume that if we fall short of IPs in a VPC we can add more CIRDs to it?

[2019-04-09 05:03] Suckzoo commented on #373
Seems I should go there to discuss :) Closing this issue since it seems portmap plugin is responsible for this. Thanks a lot @sethp-nr :)

[2019-04-09 05:03] #373 closed

[2019-04-09 20:53] ibnsinha opened #388 "Replacing flannel with this amazon-vpc-cni-k8s doesnt work in run time"
Replacing flannel with this amazon-vpc-cni-k8s doesnt work in run time. Below are the logs/errors:

Bipin Jethwani <jethwani.bipin@gmail.com> | Bipin Jethwani <jethwani.bipin@gmail.com> | 8:34 PM (18 minutes ago) |   |  
-- | -- | -- | -- | --
Bipin Jethwani <jethwani.bipin@gmail.com>
to me | to me
to me

$ kubectl -n kube-system logs aws-node-vdtzt
=====Starting installing AWS-CNI =========
=====

[2019-04-10 01:30] mentalisttraceur opened #389 "Document how to determine IAM role permissions issues"
`aws-node` daemonset enters `CrashLoopBackoff` state when the EC2 instance lacks the necessary IAM role without giving any indication of what the problem is in the logs.

[2019-04-10 16:30] nickdgriffin commented on #369
You could use a service of type "LoadBalancer", which will create an ELB.

[2019-04-10 22:14] sheldonkwok opened #390 "Pod ip addresses not reachable through VPC peering intermittently"
Occasionally, some pods are allocated IP addresses that are not reachable through the VPC peer but can be reached within the k8s VPC. The cni logs for the plugin and ipamd seemed fine.

[2019-04-10 23:07] nckturner opened #391 "CNI can assign IP address that are no longer attached to the instance"
I had an m4.large (2 ENIs at 10 IP addresses each) which was saturated with pods, and I detached one ENI, then scaled down the pods to 0, then deleted the ENI.  Then I scaled the pods back up so that the node was saturated, and every pod entered the running state and and was allocated an IP address by the CNI.  But, when I look at the ENIs allocated to the node, there is only 1 ENI.  That is, the

[2019-04-13 06:07] mogren commented on #388
Hi @ibnsinha, are you sure these are the right logs?

[2019-04-15 16:18] ibnsinha commented on #388
Hi @mogren yes that's the right logs. I don't see any more logs other than that

[2019-04-16 03:20] XiaoMuYi opened #399 "Whether Custom K8s Cluster is Supported ？"
Manual deployment of kubernetes cluster in AWS by binary mode is neither eks nor Kops mode.

[2019-04-16 12:20] errordeveloper opened #400 "1.4.0 image is not available in all regions"
I was looking to upgrade the manifest in eskctl (https://github.com/weaveworks/eksctl/pull/736), but looks like the image is not yet available in `eu-west-2` (and potentially other regions).

[2019-04-17 00:22] apicht commented on #390
Take a look at `AWS_VPC_K8S_CNI_EXTERNALSNAT`, if your pods have internal IPs then setting this to `true` may resolve your issue.

[2019-04-17 12:25] mr-karan commented on #208
bump
+1 for this feature request. This would really be helpful for us.

[2019-04-17 21:53] nckturner opened #401 "IPAMD can lose track of enis during upgrades"
When IPAMD is restarted, it can leak ENIs when the ENI is detached (shown as available in the console) and not yet deleted.

What it looks like in the console:
![Screen Shot 2019-04-17 at 2 54 41 PM](https://user-images.githubusercontent.com/1205393/56323468-d3192900-6120-11e9-9ae4-72e5b9bfd397.png)

[2019-04-17 22:00] nckturner opened #402 "IPAMD can enter OutOfPods state, preventing pods from starting"
If a node is overprovisioned (pods in Pending due to resource constraints), and the IPAMD pod is deleted (probably during upgrades too), another Pod might be scheduled in its place, and it will be unable to start.

For example:
[code]

At this point, the node is unusable, because the CNI will never allocate any more IP addresses to pods.  This leaves many pods in `Pending` or `ContainerCreating`:

[2019-04-17 22:35] Jeffwan commented on #402
Cool. This will prevent preemption.

[2019-04-17 23:34] sheldonkwok commented on #390
We're on a public subnet right now and don't have another nat device

[2019-04-18 14:42] mogren commented on #400
@errordeveloper Ah, thanks. I went through and checked, v1.4.0 should be available in all regions now.

[2019-04-18 14:42] #400 closed

[2019-04-18 20:30] Chili-Man commented on #390
We've seen some of this as well, even with setting `AWS_VPC_K8S_CNI_EXTERNALSNAT=true` , we found out that it causes situations of asymmetric TCP routing which the VPC network does not seem to handle correctly because requests go in through one NIC but responses come out from another NIC and those responses get lost.

[2019-04-19 00:04] InAnimaTe commented on #380
Agreed, definitely contradicts itself as if SNAT isn't enabled, there's no reason to tune the options passed to it.

[2019-04-19 10:56] kivagant-ba commented on #283
JFYI: I run into the issue and after upgrading aws-node (amazon-k8s-cni) to 1.4 got the error from the pod on the same node.

[code]

Pod restart didn't help.

All other nodes were ok and still are ok. I terminated the broken node to replace with another one.

[2019-04-19 18:20] tiffanyfay commented on #344
This should be fixed by cni v1.4.0 with PR #367.

[2019-04-19 18:20] #344 closed

[2019-04-19 19:32] Jeffwan commented on #318
v1.4.0 has been released! Has this issue been resolved with v1.4.0? @recollir

[2019-04-19 21:42] tiffanyfay commented on #283
@kivagant-ba Darn, thanks for letting us know. Any chance you ran https://github.com/aws/amazon-vpc-cni-k8s/blob/master/scripts/aws-cni-support.sh ?

[2019-04-20 00:58] bjethwan commented on #388
It's working.
I might have made some mistake in IAM policy edits.

@mogren
It's true that logs are blank when IAM policy is not set correctly.
And docs talk about --node-ip but in my k8s cluster created using kops, it was missing.
Would it have some bad impacts later on???
We are sure going to have VPC peering in production.

Here are some of my logs as I was trying it again today, it proves that

[2019-04-22 10:08] romil-punetha commented on #59
Im getting the same issue with m4.large. Why are more than 20 pods getting scheduled on my m4.large? Then it runs out of IP addresses and I see the same issue.

[2019-04-22 10:16] Deepak1100 opened #405 "ENI allocation takes lots of time if i brough 100's of nodes at the same time. WARM_ENI_TARGET does not help."
Cluster autoscaler have brought 150 nodes at the same time as I have increased the pods replicas. which resulted in the various container being in container creating state. it took 15 mins for all container to starts.

in this case, WARM_ENI_TARGET does not help as its keep additional eni for individual nodes(over here its old node) and my new node doesn't have any eni. Can't we keep some flag fro

[2019-04-22 12:55] kivagant-ba commented on #283
The node is dead but if I get the problem again, I'll run the script, thank you for sharing.

[2019-04-23 12:29] recollir commented on #318
Currently testing it.

[2019-04-23 14:19] InAnimaTe opened #407 "Ramdomize SNAT not working"
Sans me possibly doing this wrong, I've made the variable exist to enable randomization for snat rules, but I'm not seeing this being applied in the iptables rules (when running `iptables-save` from a `aws-node` pod via `kubectl exec -it aws-node-pvx48 /bin/sh -n kube-system`). When I edit the daemonset, the pods re-roll but nothing seems to change (let me know if I'm doing this wrong).

[code]

[

[2019-04-23 14:22] InAnimaTe commented on #407
@taylorb-syd @mogren any insight would be appreciated!

[2019-04-23 15:09] recollir commented on #318
I have now tested the 1.4.0 version with c5, r4, r5, m5 and i3 instances - for all those: large, 2xlarge and 4xlarge.

It seems that the issue is now resolved. We still don't know why though. It would be nice to get an explanation of this. @Jeffwan

[2019-04-23 16:10] reenrik opened #408 "How to secure AWS EKS L-IPAMD introspection endpoint"
I'm in the process of standing up my first EKS cluster, and one of my co-workers expressed concern that he could curl `http://[internal NODE IP]:61678/v1/enis` and `http://[internal NODE IP]:61678/v1/pods` and receive sensitive information about the cluster.

The concern was that there is no SSL or token required to retrieve all the ENI pool information and the IPs of all the pods in the cluster.

[2019-04-23 21:04] kushwiz commented on #331
In case of custom CNI Networking,

maxPods = (numInterfaces - 1) * (maxIpv4PerInterface - 1) + 2

* Subtracting 1 from numInterfaces - One interface goes for the node's network.
* Subtracting 1 from maxIpv4PerInterface - One IP from the custom CNI subnet goes to the worker node.
* Adding 2 as a constant to account for aws-node and kube-proxy as both use `hostNetwork`.

[2019-04-23 21:05] mogren commented on #399
Yes, the CNI should work on any Kubernetes cluster running on AWS.

[2019-04-23 21:05] #399 closed

[2019-04-23 21:07] kushwiz commented on #331
I use this script to generate `max-pods.json` to paste into my worker node's `user-data`

[code]

[2019-04-23 23:59] #402 closed

[2019-04-24 00:47] taylorb-syd commented on #407
Hi there, @InAnimaTe, first, can we get your clusters CNI version to confirm if you're running a compatible version:

[code]

Next, can you also confirm if you refreshed your workers after adding the environment variable to the DaemonSet? I outlined this limitation in PR #246 [here](https://github.com/aws/amazon-vpc-cni-k8s/pull/246#issuecomment-452266013).

[2019-04-24 11:31] guillaume-eb opened #409 "1.4.0 breaks CloudWatch CNI Metrics"
I don't see any error in the `cni-metrics-helper` pod logs,  but Cloudwatch stopped gettings metrics at 10:15 in the screenshot below

[code]

<img width="1233" alt="Screenshot 2019-04-24 13 24 11" src="https://user-images.githubusercontent.com/31934992/56656080-d8ccbc80-6694-11e9-8132-d42a92f94397.png">

[2019-04-24 18:00] mogren commented on #318
Hi @recollir,

The PR you commented a while ago, https://github.com/aws/amazon-vpc-cni-k8s/pull/346, is the most probably cause for this that I can think of. https://github.com/aws/amazon-vpc-cni-k8s/pull/305 might affect the Debian images, but should not cause issues for the AL ones.

Aside from that, since you're not using Calico, not that many changes were made to the CNI in regard to setting u

[2019-04-24 20:23] mogren commented on #318
Looking at the iptables files you provided, there are a lot of rules that are set up by some kubernetes firewall script or something, and there are a lot of old rules and stuff in the cluster from a few days earlier. Are you sure nothing has changed with that script? Also, did you use any other tool like ` ec2config-cli` that can modify the routes or iptables?

[2019-04-25 17:12] ahrkrak commented on #208
As mentioned on related issue: https://github.com/aws/containers-roadmap/issues/177
It is possible to apply Security Groups at the pod level today with amazon-vpc-cni using Tigera Secure Cloud Edition:
On Marketplace here: https://aws.amazon.com/marketplace/pp/B07FT3NTWX
Free trial link: https://tigera.io/free-ce

[2019-04-25 22:02] mogren commented on #409
Hey @guillaume-eb, thanks for reporting this!

I closed the old PR for #113 and opened #413 instead. We changed the names of the prometheus endpoints in v1.4.0 (PR #348), but since the code for the CNI metrics agent was just in a branch in Liwen's fork, we missed updating it.

I'll cherry-pick the config back to the release-1.4 branch once the #413 has been reviewed and merged.

[2019-04-26 10:05] nckturner opened #419 "Env vars, configuration should be initialized once"
There is logic in ipamd that looks up environment variables in various places.  (E.g. https://github.com/aws/amazon-vpc-cni-k8s/blob/master/ipamd/ipamd.go#L640) This should all be done during initialization, and stored in `IPAMContext` for referencing later.

[2019-04-26 10:12] nckturner opened #420 "Allow ENIs to be allocated at a faster rate than 1 per 15 seconds"
Currently, the fastest IPAMD is willing to allocate ENIs is 1/15 seconds (5 seconds per loop + 10 seconds per ENI sleep time), but this can increase up to a max of 55 seconds if the ENI takes longer to attach.  This could be improved.

[2019-04-26 10:15] nckturner commented on #405
Agreed, this is important: https://github.com/aws/amazon-vpc-cni-k8s/issues/420.  15 minutes is exceptionally long though, were they actually scheduled that whole time?  Do you have any logs from that time?

[2019-04-26 10:17] nckturner commented on #405
Its possible you were throttled by EC2 when the 150 nodes launched.

[2019-04-26 23:33] mogren commented on #408
Hi @reenrik, thanks for reporting this issue! If you want to discuss further please email me at mogren@amazon.com

[2019-04-29 08:45] sandritter opened #423 "Missing amazon-k8s-cni:v1.3.3 image for AWS region eu-central-1"
Hello,

I am trying to update the CNI version in my EKS cluster to v1.3.3 due to Kubernetes version update to 1.12.6. Because of a permission boundary of my iam role I am only allowed to access the image when it's located in eu-central-1 or eu-west-1.
Will the image be available in those regions too soon?

This is the error message I get when the aws-node pod is trying to be created:
`Warning  Fai

[2019-04-29 15:16] InAnimaTe commented on #407
Here's what the daemonset looks like:

[code]

I have not rebooted the worker nodes yet. Let me work on that now and see what I've got after that! In any case, if rebooting is necessary, the docs should be updated to reflect this; I can make that PR.

[2019-04-29 16:59] mogren commented on #423
Hi,

The only difference between v1.3.2 and v1.3.3 is the addition of the a1 and c5n instance families, so unless you need those, you can stay on v1.3.2, or go with v1.4.0. It was a miss in the release process that the v1.3.3 image was never copied to all regions. I'm working on improving that process.

That said, I'll probably do a v1.4.1 soon with a few minor fixes for Calico, fixing the metrics

[2019-04-29 18:21] InAnimaTe commented on #407
Just realized the SNAT change is in 1.4.0 and `eksctl` `0.1.27` `utils update-aws-node only does aws-node 1.3.2.

[2019-04-29 18:40] StevenACoffman commented on #407
ref weaveworks/eksctl#736 waiting because 1.4.0 is not AMI default.
ref aws/containers-roadmap#149 AMI default waiting on aws/amazon-vpc-cni-k8s#413

[2019-04-29 20:33] InAnimaTe commented on #407
Ok now it seems to be working closer as to expected:

[code]

^This is without a reboot. While new lines are added, those new `--random` lines won't trigger.

Rebooting the nodes now to see what things look like after the fact.

[2019-04-30 15:16] Deepak1100 commented on #405
yes, I have 5 of these metrics.
[code]

[2019-04-30 17:16] mogren opened #426 "Use -w in support script"
In the support script, we should wait for the xlock to be released.

[2019-04-30 19:30] mshakhmaykin commented on #154
Let me second that! In fact this behavior should perhaps be more clearly documented here. Or maybe the default value should be set to a reasonable restrictive number.

[2019-04-30 20:02] Zyqsempai commented on #419
Looks interesting to me, i can take care of it.

[2019-04-30 20:04] Zyqsempai commented on #426
Sorry, i am new here, and I am looking for first issue;)
Can you provide little bit more info, do you mean this [script](https://github.com/aws/amazon-vpc-cni-k8s/blob/master/scripts/aws-cni-support.sh) ?

[2019-04-30 21:09] dvohra commented on #154
Thanks for the update.

[2019-05-01 01:58] mogren commented on #426
@Zyqsempai Yes, exactly. The lines with `iptables` should have the `-w` option enabled.

[2019-05-01 19:59] itajaja opened #430 "don't pass iam role to pod"
right now, the IAM role of the node is passed to every pod. Iam currently trying to sandbox pods to run without AWS permissions, what is a safe approach for preventing specific pods to access AWS resources using the node's IAM?

[2019-05-01 21:46] adammw opened #431 "ENIs are released when API is down, causing potential outage"
We recently saw an issue with our custom Kubernetes clusters in production running the amazon-vpc-cni-k8s plugin version 1.3.0 where existing pods running on a node lost network connectivity and packets were being routed out the wrong interface. Newly scheduled pods would be unaffected and work correctly.

Upon further inspection, we found that the IP address of pods previously scheduled to the no

[2019-05-02 00:09] robin-engineml commented on #69
@liwenwu-amazon Is there progress on this issue?

[2019-05-02 00:21] mogren commented on #431
Hi @adammw, thanks a lot for reporting this issue!

We are working on a few changes related to this, for example #123 #359, #377 and #401. We will take this issue in to account as well when working on this.

[2019-05-02 03:24] mogren commented on #423
@sandritter I did a v1.3.4 today, and it should be available in all regions. Aiming to do a v1.4.1 before the end of the week.

[2019-05-02 09:01] BrianChristie commented on #430
There is a great IAM roles for pods design outlined by AWS at: https://github.com/aws/containers-roadmap/issues/23

Until that is ready (probably a long time), you can consider using something like https://github.com/uswitch/kiam which runs a proxy intercepting IAM requests.

[2019-05-02 13:50] 2tim commented on #137
I'm seeing similar behavior with a 10.133.0.0/18 subnet. The eks api is very intermittent. About every 3rd attempt to access it works. I used the same vpc topology (built with terraform) with kops with no issues. My searching led me here.

[2019-05-02 14:10] itajaja commented on #430
thanks for the resources. actually the link to kiam helped me really understand how the IAM is provisioned to the container. And since I am using calico as network overlay, I simply disallowed access to any link local IPs, and that did the trick. Thanks!

[2019-05-02 14:10] #430 closed

[2019-05-02 17:44] jacksontj commented on #353
This would more easily enable things such as https://github.com/cilium/cilium/issues/6430 (as they wouldn't need to re-implement, but rather just use the native CNI layering).

[2019-05-03 17:40] admssa commented on #59
Have the same issue using
```602401143452.dkr.ecr.us-west-2.amazonaws.com/amazon-k8s-cni:v1.3.3```
In which version is fixed?

[2019-05-03 20:17] tsuna commented on #59
I think v1.4.0 has the fix.

[2019-05-03 22:02] tiffanyfay opened #448 "Add documentation and readme for cni-metrics-helper"
- [x] AWS docs
- [x] readme

[2019-05-04 13:54] mogren commented on #408
@reenrik [Release v1.4.1](https://github.com/aws/amazon-vpc-cni-k8s/releases/tag/v1.4.1) has flags to disable the introspection endpoints.

[2019-05-04 13:54] #408 closed

[2019-05-05 17:50] reenrik commented on #408
Claes,

Thanks for taking a look at this. Can you tell me what repercussions there
might be in turning off the introspection endpoint? What purpose did it
serve in regards to how it was use

On Fri, Apr 26, 2019 at 4:33 PM Claes Mogren <notifications@github.com>
wrote:

[2019-05-05 17:53] reenrik commented on #408
Claes,

Thanks for taking a look at this. Can you tell me what repercussions there
might be in turning off the introspection endpoint? What purpose did it
serve in regards to how it is used by EKS?

On Fri, Apr 26, 2019 at 4:33 PM Claes Mogren <notifications@github.com>
wrote:

[2019-05-06 00:07] mogren commented on #408
@reenrik It is used by [aws-cni-support.sh](https://github.com/aws/amazon-vpc-cni-k8s/blob/master/scripts/aws-cni-support.sh#L25) when debugging issues. The `/metrics` endpoint is used by the `cni-metrics-helper` to send metrics to CloudWatch, or by Prometheus if you have that running.

If you set `DISABLE_INTROSPECTION` to `true`, we can only get debug data about the CNI itself from the ipamd log

[2019-05-06 19:52] bekriebel opened #450 "Calico node fails to start due to missing RBAC resource"
Applying https://raw.githubusercontent.com/aws/amazon-vpc-cni-k8s/master/config/v1.4/calico.yaml as a new installation causes the calico-node to fail with the following errors:

[code]

This appears to have been caused by #421. Re-adding `globalfelixconfigs` to the config fixes the issue.

[2019-05-07 20:36] okgolove commented on #59
It still happens sometimes (I'm using t2.medium).

[code]

[2019-05-08 14:24] max-rocket-internet commented on #284
Still seeing this now and again:

[code]

[2019-05-09 04:16] KielChan opened #454 "master Host cannot Ping IP of pod stay on worker node"
I have deploy a k8s on aws ec2, with os RedHad 7.
K8s version: v1.13.2
CNI version: based on master branch.

3 master nodes with flannel network;
2 worker nodes with aws-node CNI;

but when I ping pod IP from master node, the pod hypervisor(worker node) acked eth0 mac but do not re-transmit package to eniXXXXX on worker node.

I wanna know what should I do to use aws-cni on my own k8s in aws ec2

[2019-05-09 12:05] denis111 commented on #59
Happens with t3a also, adding it to eni-max-pods.txt didn't help... t3 works fine.

[2019-05-09 17:31] mogren commented on #359
@peterbroadhurst Thanks, I've opened #458 with a change to stop using force, and just retry instead.

[2019-05-09 19:10] tiffanyfay opened #460 "Errors not handled"
- [ ] `AllocIPAddresses` `ipLimit, err := cache.GetENIipLimit()` https://github.com/aws/amazon-vpc-cni-k8s/blob/master/pkg/awsutils/awsutils.go

[2019-05-09 20:23] mogren commented on #59
@denis111 The issue is the same, I just added `t3a` to the CNI in #459, that should be in the v1.5.0 release. Might be worth making a v1.4.2 with just the new instance types though...

[2019-05-09 21:56] mogren commented on #359
Merged fix to remove the force detach in #458. Will be in the v1.5.0 release.

[2019-05-09 21:56] #359 closed

[2019-05-10 04:05] #423 closed

[2019-05-10 04:06] #409 closed

[2019-05-10 04:08] mogren commented on #326
Like Kenjiro said, it's not part of the CNI.

[2019-05-10 04:08] #326 closed

[2019-05-10 06:03] bjethwan commented on #69
I confirm running into this issue too.

[2019-05-10 07:04] whut commented on #450
Another way of doing this workaround is just installing previous version of the file, before #421:

[code]

[2019-05-10 11:42] dalssaso commented on #450
@bekriebel thanks for this, i was having the same problem!
seems that these are old-configs but still needed!

[2019-05-10 14:34] bjethwan opened #462 "CNI plugin chaining supported ???"
Is it possible to chain amazon-vpc-cni-k8s with other plugins like calico, flannel, Cilium?

With plugin chaining would it be possible to have VPC/Subnet IPs only to specific user workload?? Or is there some other way to skip master pods and other monitoring and control pods not assigned the VPC/Subnet IPs?

[2019-05-10 16:16] charan-amzn opened #463 "Capability to create constraints on bandwidth for each pod"
Hi,

In use-case such as blockchain workloads where there are multiple pods in 100s of nodes, it will be good to have capability to create constraints on the bandwidth for each pod, that is, say this pod's maximum bandwidth is 1mbit/s, that one is 100mbit/s etc.

As I understand we can do this within CNI [Alpha feature] - https://kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/ne

[2019-05-10 17:27] sethp-nr commented on #462
There's already been a little bit of discussion on this question over at #353. It sounds like a good idea, but I don't think it's been scoped out yet.

I'm not sure that plugin chaining solves your second problem. The closest work I'm aware of for having multiple/distinct CNI providers for different pods is [Multus](https://github.com/intel/multus-cni), but I don't think that's designed for switch

[2019-05-10 17:33] simplytunde commented on #167
is their a  reason why jumbo packet is not configured for the secondary interfaces?

[2019-05-10 22:03] ibnsinha commented on #69
We are running into the same issue

[2019-05-12 04:04] #450 closed

[2019-05-12 08:25] bboreham commented on #112
Just came across this - the error is here: https://github.com/aws/amazon-vpc-cni-k8s/blob/b68da3905f3d526a4402a0f3d38eeab0ed10548c/ipamd/ipamd.go#L810

[code]

Have a customer with > 100,000 of those in one process.

[2019-05-12 10:51] bboreham opened #465 "Build instructions are incorrect"
The README says "make defaults to make build-linux that builds the Linux binaries", but this isn't true.  The first target in `Makefile` is `download-portmap`.

Next line "make docker-build uses a docker container (golang:1.10) to build the binaries" isn't true either - there is no rule for `docker-build`, and I don't see anything resembling the description.

[2019-05-12 11:52] bboreham opened #466 "vendor directory is out of date"
For instance the code has a dependency on `github.com/deckarep/golang-set`, but this is not in the `vendor` directory.

Maybe the intention is that everyone should download dependencies via `go mod` and the `vendor` directory should be deleted from the repo?

[2019-05-13 04:19] #112 closed

[2019-05-13 10:34] thinalai opened #468 "Support Internet to Pod access directly"
Use case:
Pod accessed by external IP(Pod exposed to Internet).

AFAIK:
[ENI can have a public IP](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-eni.html), if we have one pod per ENI, should Internet access the pod directly?

[2019-05-14 22:10] casret opened #469 "Feature request: SNAT exclusions for vpc peers"
Would it be possible to write the IPtables rules so that it would not SNAT for other specified CIDR blocks (along with the ones it grabbed from the metadata servers)?  That would allow pods to talk to other VPC through peering right?

[2019-05-14 23:43] mogren commented on #466
That dependency will be added by #461 once it has been merged, but I think you are right, we should probably rely on `go mod` for this.

[2019-05-15 15:08] prateekmadhikar commented on #176
@lgg42 hey any luck on your side doing that?

[2019-05-15 15:22] InAnimaTe commented on #407
Going to close as the core issue seems to be solved. Using eksctl, I'm able to apply the snat patch and then spawn my nodegroup, so no manual rebooting needed.

[2019-05-15 15:22] #407 closed

[2019-05-15 15:57] samaddico commented on #176
See my blog
https://medium.com/codeops/installing-weave-cni-on-aws-eks-51c2e6b7abc8

On Wed, 15 May 2019 at 16:08, Prateek Madhikar <notifications@github.com>
wrote:

[2019-05-15 16:31] prateekmadhikar commented on #176
@samaddico Thank you I just followed it and it works like a charm!!

[2019-05-15 16:52] Pluies commented on #176
I've had success using Calico CNI as well, without needing to use CNI Genie – with a caveat.

I used the following steps:
- Delete the aws-node DaemonSet
- Install Calico (DaemonSet + all other related resources) as per https://docs.projectcalico.org/v3.6/getting-started/kubernetes/installation/calico using a CIDR of 192.168.0.0/16
- Delete workloads so that they get recreated and pick up an IP fr

[2019-05-15 16:55] samaddico commented on #176
Awesome!! I will try it out too.

On Wed, 15 May 2019 at 16:52, Florent Delannoy <notifications@github.com>
wrote:

--
<https://about.me/samaddico?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_campaign=gmail_api>
Samuel Addico
about.me/samaddico
<https://about.me/samaddico?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_campaign=gmail_api>

[2019-05-16 01:26] thinalai commented on #374
The current AWS [CNI proposal](https://github.com/aws/amazon-vpc-cni-k8s/blob/master/docs/cni-proposal.md#cni-plugin-sequence) only use secondary IPs of the ENI, and the primary IP is used for pods accessing the external network by SNAT to it.

To achieve this, there must be:
1. One ENI with One Pod.
    Associate EIP with ENI, then EIP will SNAT/DNAT to the primary IP of the ENI used by the Pod.

[2019-05-16 13:09] mathewmoon commented on #374
I am not sure if this is even possible. I didn't realize until digging in further that the public IP address of an ENI is actually not assigned directly to the VM. EG: That address is not bound to an interface in /dev. It looks like public addresses are actually just a form of NAT. I may be wrong about this though. We got around this issue by running an application pod that monitors the kube API f

[2019-05-16 14:46] 2tim commented on #390
@Chili-Man Did you find a solution for this? I think I have a similar issue with my cluster on a VPC with a Virtual Gateway attached. I am using EKS with the latest AWS CNI with AWS_VPC_K8S_CNI_EXTERNALSNAT=true also set. It doesn't seem to change anything.

[2019-05-16 17:51] mogren commented on #466
Updated the vendor folder. That said, building in docker uses `go mod`, I'll update the Readme for #465.

[2019-05-16 17:51] #466 closed

[2019-05-16 23:51] pdzwart-atlassian opened #474 "Support direct (i.e. Non SNAT) pod communications (Layer 4) via VPC peering, private gateways, etc when AWS_VPC_K8S_CNI_EXTERNALSNAT=false"
# 1. Scenario

When setting `AWS_VPC_K8S_CNI_EXTERNALSNAT=false` we have observed that Layer 4 datagrams (TCP sessions tested) are not forwarded to pods from sources outside of the subnets used by IPAM for pod IP allocations, but which are routable from these subnets (e.g. VPC peering/private gateways). As an illustration, imagine that an internal service needs to establish a TCP session with a po

[2019-05-17 08:13] AmazingTurtle commented on #214
I don't see why AWS is limiting interface ip addresses at all. Google cloud can handle this with ease, but not AWS. Why is that?

[2019-05-17 17:57] tabern commented on #214
This has to do with the type of CNI plugin being used on the Kubernetes implementation. GKE and AWS CNI plugins are fundamentally different.

Like GKE, Amazon EKS offers a single, supported CNI plugin for managed Kubernetes clusters. On GKE, this CNI plugin is [Calico](https://github.com/projectcalico/calico/), on EKS it is the [AWS VPC CNI](https://github.com/aws/amazon-vpc-cni-k8s) which provide

[2019-05-17 18:31] bjethwan commented on #462
@sethp-nr sethp-nr
Thanks for the info !
I will sure explore Multus.

[2019-05-17 18:41] bjethwan commented on #448
cni-metrics-helper doesn't seem to be working.
I tried this again on stock k8s version 1.11.9.
I didn't see any of the said metrics in either the pod logs or the CloudWatch (maxIPAddress, totalIPAddresses, assignIPAddresses)
Do I need some additional permissions in IAM policy for getting the metrics populated in CloudWatch?

[2019-05-17 18:43] tiffanyfay commented on #448
@bjethwan Yes, it needs the two listed here in the release notes: https://github.com/aws/amazon-vpc-cni-k8s/releases/tag/v1.4.1

[2019-05-17 18:45] bjethwan opened #476 "Broken link in doc named "Troubleshooting Tips""
The link to  cni-metrics-helper in https://github.com/aws/amazon-vpc-cni-k8s/blob/master/docs/troubleshooting.md document is broken and gives HTTP 404 error.

[2019-05-18 00:03] mogren opened #479 "Update CNI and CNI Plugin to v0.4.0 spec"
The CNI plugins [v0.8.5](https://github.com/containernetworking/plugins/releases/tag/v0.8.5) and CNI [v0.7.1](https://github.com/containernetworking/cni/releases/tag/v0.7.1) has been released, using the [v0.4.0 spec](https://github.com/containernetworking/cni/blob/spec-v0.4.0/SPEC.md). We should update our dependencies.

[2019-05-18 03:46] mogren commented on #113
Code added, v1.4.0 available.

[2019-05-18 03:46] #113 closed

[2019-05-20 23:26] #465 closed

[2019-05-20 23:26] #476 closed

[2019-05-20 23:27] mogren commented on #476
@bjethwan Thanks for reporting, updated.

[2019-05-21 21:38] mogren commented on #322
We found some issues with stale instance metadata when restarting ipamd. With v1.5.0-rc1 I have not seen these issues any more. Will continue to test before closing this.

[2019-05-21 21:39] mogren commented on #462
Yes, you can run Calico with the CNI, but like @sethp-nr said, we haven't split out the ipamd part yet.

[2019-05-21 21:39] #462 closed

[2019-05-21 21:46] mogren commented on #69
So far it seems that the main reason for this issue is doing forced detaches of ENIs. v1.5.0-rc has #458 that instead just does retries instead of forcing.

[2019-05-21 22:03] #215 closed

[2019-05-21 22:40] #426 closed

[2019-05-21 22:41] #391 closed

[2019-05-21 22:42] #388 closed

[2019-05-23 01:28] rverma-nikiai commented on #448
Is it possible to use prometheus/grafana for cni metrics collection/dashboard? Do we have any instructions for this?

[2019-05-23 04:19] mogren commented on #448
@rverma-nikiai Yes, the prometheus metrics endpoint is on by default for the CNI plugin, listening on port `:61678/metrics`. It can be disabled by setting `DISABLE_METRICS` to `true`.

I agree that we need better documentation around this..

[2019-05-24 13:33] Zyqsempai commented on #460
I will take care of this one.

[2019-05-24 15:53] sr commented on #189
Looks like 1.3 and 1.4 haven't been pushed to us-east-1 either.

[2019-05-24 18:09] mogren commented on #189
@sr They should be there. What image URIs did you try with? These one should work:

`602401143452.dkr.ecr.us-east-1.amazonaws.com/amazon-k8s-cni:v1.3.4`

`602401143452.dkr.ecr.us-east-1.amazonaws.com/amazon-k8s-cni:v1.4.1`

[2019-05-24 23:41] sr commented on #189
@mogren

[code]

[code]

[2019-05-25 03:40] hden opened #486 "Couldn't get resource list for external.metrics.k8s.io/v1beta1"
Image: `602401143452.dkr.ecr.ap-northeast-1.amazonaws.com/amazon-k8s-cni:v1.4.1`

## Symptoms

All nodes are ready and healthy. Secondary IPs are begin allocated. But the `aws-node` pod periodically prints the following error message.

[code]

Why is it trying to access the external metrics anyway?

## Extra informations

[code]

[code]

[2019-05-26 15:27] lgg42 commented on #214
For anyone interested, I've write up a functional ansible role the whole EKS bootstrapping process (including nodes management) that also supports NOT using VPC CNI but weave or other with CNI-genie. Expect bugs :-D

https://github.com/lgg42/ansible-role-eks

[2019-05-28 10:16] joan-serra commented on #208
Very nice but I think this should be a native feature in the CNI at some point and people shouldn't have to rely on third-party software which will only add unnecessary complexity and extra possible points of failure.

[2019-05-28 16:15] mogren commented on #419
Fixed by @Zyqsempai

[2019-05-28 16:15] #419 closed

[2019-05-29 15:48] streetmapp commented on #302
Did this make it into an official release yet? Tried with 1.4 and the network config did not apply for me. I made sure to have an ENIConfig that was named with the availability zone (us-east-1a for example). Is that format incorrect or is this feature still not officially released despite being in the docs?

[2019-05-29 16:00] till-krauss commented on #302
The cfg looks good for 1.4.0 and higher. Did not check the whole file but the labeldef has been mentioned at least in contrast to the last I tried.
Are you sure it's well configured?

[2019-05-29 16:14] streetmapp commented on #302
I applied two ENIConfigs with the names of my availability zones (us-east-1a and us-east-1b). They contain the proper subnet and security groups for each.

Applied the following lines as needed in the CNI DaemonSet

[code]

Fired up new nodes that would pick up this configuration, but no IPs get picked up. Doesn't even seem like the ENI is getting provisioned.

[2019-05-29 16:15] till-krauss commented on #302
Looks good, can you put the log of the daemonset in here?

[2019-05-29 16:41] phlukman opened #488 "Pods hanging due to IP address assignment issue while using Spot Instance"
Hello all, we're running a EKS cluster with a couple of Spot instances and CNI plugin version is 1.4.1.
We have noticed that every time one of the spot instances gets replaced by a new one, one of the required pods is not able to start up due to IP address assignment issue. I noticed that there's  a similar issue
already signaled ( https://github.com/aws/amazon-vpc-cni-k8s/issues/59 ) but I'm not

[2019-05-29 16:45] streetmapp commented on #302
I've got to imagine you mean something else or I have something not set right for this, because this is the log of the aws-node pod on the node in question. Doesn't have much behind it.

[code]

[2019-05-29 22:14] tiffanyfay commented on #284
@max-rocket-internet Hey, are you still hitting the issue of `network is not ready: [runtime network not ready: NetworkReady=false reason:NetworkPluginNotReady message:docker: network plugin is not ready: cni config uninitialized`?

With the newer CNI the support script should work since it addresses the change for that kubelet port.

Have you seen `network: add cmd: failed to assign an IP address

[2019-05-29 23:23] jicowan commented on #302
Can you include the ENIConfig you're trying to apply to the node?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Tyler Mapp <notifications@github.com>
Sent: Wednesday, May 29, 2019 11:45:12 AM
To: aws/amazon-vpc-cni-k8s
Cc: Jeremy Cowan; Mention
Subject: Re: [aws/amazon-vpc-cni-k8s] ENI in Secondary VPC CIDR not getting created (#302)

I've got to imagine y

[2019-05-30 21:47] phlukman commented on #488
@mogren thanks for your time to look into this issue, let me know if you need any more info?
at this time we have replaced the spot instances by dedicated instances.

[2019-06-03 04:00] mlsmaycon opened #493 "Pod startup connectivity issue when using calico and vpc-cni"
### Kubernetes cluster
- Kubernetes v1.12.6-eks-d69f1b
- AWS CNI plugin (1.1 and 1.4)
- Calico (3.1.3 and 3.3.6)
- Kubernetes nodes: several instance groups with t2,r4,c4 and c5 types
- Kubernetes nodes OS images amazon-eks-node-1.12-v20190329

### What are the issues
While running Calico for network policy, a pod when starts up is unable to connect to another IP for a time that variates from 300m

[2019-06-03 11:42] kivagant-ba commented on #283
I faced this again.

[code]

[code]

[code]

[2019-06-03 11:58] edmorley opened #494 "config/v1.4/calico.yaml not compatible with Kubernetes 1.10"
Hi

Applying [config/v1.4/calico.yaml](https://github.com/aws/amazon-vpc-cni-k8s/blob/4a78643f13c4454771a403781140293ff1fd6a07/config/v1.4/calico.yaml) against a Kubernetes 1.10 cluster currently results in several errors of form:

[code]

This appears to be due to the switch from `version` to `versions` that was made here:
https://github.com/aws/amazon-vpc-cni-k8s/commit/ee13f3ef2b157e60bc01ab469

[2019-06-03 17:58] dmai-apixio opened #495 "Missing route in VPC peering"
I have 2 VPCs and they are connected using VPC peering
[code]

I setup EKS cluster with 3 workers running on vpc-2. Security Groups are open for all.
Running a simple deployment to deploy nginx and expose port 80
[code]
And here is pod information
[code]
From any server in the vpc-2 (the same vpc running EKS), i can connect to port 80 of these pods. But in any server on vpc-1, i can only hit 9 of

[2019-06-03 21:54] sethp-nr commented on #495
My limited understanding is that VPC peers should be handled by the `default` route from the machine's perspective: do the two VPCs that you've paired have entries for the peering connection in their route tables?

[2019-06-04 01:10] mogren commented on #494
Hi @edmorley,

Yes, that would probably be a good idea. That said, [1.10 EKS clusters will be deprecated July 22](https://aws.amazon.com/blogs/compute/updates-to-amazon-eks-version-lifecycle/).

[2019-06-04 01:21] dmai-apixio commented on #495
@sethp-nr i think i have a correct route table in peering connection. I can reach 9 over 12 pods in vpc-2 from vpc-1.

[2019-06-04 04:32] mogren commented on #283
@kivagant-ba The `Failed to communicate with K8S Server` error is worrying, could the masters be overloaded? How many nodes and pods are you running?

[2019-06-04 08:04] kivagant-ba commented on #283
It's EKS and I don't think the masters are overloaded. The cluster is almost empty and only random nodes periodically experience the issue.

[2019-06-05 02:50] morganchristiansson commented on #385
No they only charge for Elastic IPs see https://aws.amazon.com/ec2/pricing/on-demand/

[2019-06-05 03:28] ckcd opened #499 "update cni version to 0.7.5 to avoid CNI-HOSTPORT-DNAT problem"
The problem is: when using IPVS mode in kube-proxy, with a `hostPort` (assume 80) defines in a nodes, then all traffics from this node to any service:80 will be failed, actually wrongly be DNAT to this `hostPort` pod.

Relate discuss:
https://github.com/kubernetes/kubernetes/issues/66103
https://github.com/containernetworking/plugins/issues/222
https://github.com/kubernetes/kubernetes/pull/62718

[2019-06-05 06:14] mogren commented on #69
Resolving since v1.5.0 is released.

[2019-06-05 06:16] mogren commented on #123
Resolving since v1.5.0 is released. This version contains a lot of changes in how we allocate ENIs and that we stopped force detaching them.

If using too many ENIs is an issue, consider setting the `WARM_IP_TARGET` environment variable.

[2019-06-05 06:16] #123 closed

[2019-06-05 06:17] mogren commented on #322
Resolving since v1.5.0 is released.

[2019-06-05 06:17] #322 closed

[2019-06-05 06:19] mogren commented on #204
Resolving since v1.5.0 is released.

[2019-06-05 06:19] #204 closed

[2019-06-05 06:20] mogren commented on #191
Have been unable to reproduce this issue since the v1.4.0 release.

[2019-06-05 06:20] #191 closed

[2019-06-05 06:23] mogren commented on #294
Resolving since v1.5.0 is released. If you want the IPs to be released from attached ENIs, please set the `WARM_IP_TARGET` environment variable.

[2019-06-05 06:23] #294 closed

[2019-06-05 07:14] recollir commented on #204
👍 Can verify that it already works with 1.4.0

[2019-06-05 07:38] edmorley opened #500 "Add ec2:UnassignPrivateIpAddresses to IAM policy AmazonEKS_CNI_Policy"
Hi!

In #422 support was added to the CNI plugin for unassigning unused IP addresses.

The readme was later updated in #478 to mention the need for the `ec2:UnassignPrivateIpAddresses` permission when using the plugin, however the IAM policy [AmazonEKS_CNI_Policy](https://console.aws.amazon.com/iam/home?#/policies/arn:aws:iam::aws:policy/AmazonEKS_CNI_Policy$jsonEditor?section=permissions) does no

[2019-06-05 14:36] thpham commented on #369
Hello,

just to follow up on this question, I read the following blog post: [kubernetes-service-ip-route-advertisement](https://www.projectcalico.org/kubernetes-service-ip-route-advertisement). I didn't try.

But I would love to have a feedback from an AWS network expert, if we could upgrade the calico [DeamonSet version](https://github.com/aws/amazon-vpc-cni-k8s/blob/master/config/v1.5/calico.yam

[2019-06-07 00:43] mogren commented on #500
Thanks @edmorley for keeping an eye on this! I have started the process to update the managed EKS CNI Policy a while back, and we won't make v1.5.0 the default for EKS until that process is finished.

If anyone wants to make use of `WARM_IP_TARGET` before that, they need to add the `ec2:UnassignPrivateIpAddresses` permission.

[2019-06-09 12:23] edmorley commented on #500
@mogren thank you :-)

[2019-06-10 07:45] Rakeshkhot commented on #332
@rkatti  can you please share updated terraform scripts for eks.

[2019-06-10 14:39] pssayi commented on #49
I had the same problem on k8s 1.12 even after patching aws-node and kube-proxy, the pods were still trying to create and then getting into a Crash. I resolved the issue re-running to pull the config maps again.

#kubectl --kubeconfig=/<path>/config set env daemonset/aws-node --namespace=kube-system --from=configmap/proxy-environment-variables --containers='*
# kubectl --kubeconfig=/<path>/config s

[2019-06-10 14:54] TarekAS commented on #284
I'm on 1.12.7, and this error actually happened to most of my nodes for about 10 minutes, and resolved itself magically (seemingly). It was right after I re-deployed my ASGs through CloudFormation.
I'm using the latest AMI as of this date.

@tiffanyfay Do you have any insight on why this could happen?

[2019-06-11 09:40] astrikos opened #505 "Missing amazon-k8s-cni:v1.5.0 image for AWS region eu-west-1"
We are trying to update our CNI plugin from `1.3.0` to `1.5.0` in our kubernetes cluster (not EKS). Unfortunately we get errors for missing images like:
[code]

We also tried `1.4.1` but we get the same error, the latest available for `eu-west-1` seems to be `1.4.0`.
Is it something you need to enable? Is there any plan/schedule that you make each verison available to all regions?

[2019-06-11 16:16] mogren commented on #505
Hi @astrikos,

I think you are missing a `v` for the version. we did accidently push the `1.3.0` version without the correct semantic versioning name, but did not continue to do that. Could you please try with this instead:
[code]

[2019-06-11 17:25] astrikos commented on #505
🤦‍♂ you are right! It works like a charm if I use `v` a prefix. I should have pay more attention to example configs (https://github.com/aws/amazon-vpc-cni-k8s/blob/master/config/v1.5/aws-k8s-cni.yaml#L84)

Thanks for the fast response. No further action required, closing this one!

[2019-06-11 17:25] #505 closed

[2019-06-11 21:06] cpoole opened #506 "Support increased ENI limits when awsvpcTrunking is enabled for the account"
like the title says:
This exists for ECS and can be used to have higher density while maintaining SG per pod and IAM role per pod.
https://docs.aws.amazon.com/AmazonECS/latest/developerguide/container-instance-eni.html

This would be great to have in eks as well.

[2019-06-12 21:31] ChrisMullard commented on #59
We are having a similar issue (on a C5.2xlarge) but running /opt/cni/bin/aws-cni-support.sh does not create /var/log/aws-routed-eni/aws-cni-support.tar.gz.

I get this output on the command line:
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   584  100   584    0     0   570k      0

[2019-06-12 23:15] mogren commented on #506
Hi @cpoole,

I totally agree, and we are currently working on this. The task is tracked in https://github.com/aws/containers-roadmap/issues/138

[2019-06-12 23:15] #506 closed

[2019-06-13 13:08] bjethwan commented on #369
I used CoreDNS Kubernetai plugin instead. It's working good. Specially for my use case of running statefulsets.

[2019-06-14 04:51] stephenmuss commented on #284
Recording this here in case it helps others.

I had a `MutatingWebhookConfiguration` hanging around that was no longer relevant and there were no pods available to service it. This was stopping nodes from becoming Ready. The kubelet logs and describe node messages had the exact same error as recorded here.

In my case, running `kubectl delete MutatingWebhookConfiguration <name>` and then restartin

[2019-06-18 21:41] tvalasek opened #508 "aws-cni on vanilla K8s"
We build K8s clusters in AWS using CF/kubeadm from upstream vanilla K8s. For networking we use aws-cni plugin. Our out-of-the-box setup is 3x masters (etcd running inside) and 3x worker nodes.

AWS-cni plugin runs as deamonset, thus on all 6 members of a cluster (masters + workers).

Now, the behaviour I'm seeing is that aws-cni plugin does not differenciate masters from workers.

The result of th

[2019-06-18 23:03] mogren commented on #508
Hi @tvalasek,

You are right that we have not yet optimized the plugin much for use outside of EKS, so there is more work to be done here. I think it sounds like a good idea to make the CNI more configurable in order work better on the masters. Do you have any more concrete suggestions for what configurations you would need?

[2019-06-18 23:17] lutierigb commented on #330
Possible workaround:

The only thing I can think of is tainting the node from the very beginning with a NoSchedule action, thus preventing pods from being scheduled. The aws-node(cni plugin) and kube-proxy have tolerations so they will be scheduled regardless. Later on, a few seconds/minutes after the node has joined the cluster and once aws-node is running on the new node they can remove the tain

[2019-06-19 04:02] taylorb-syd opened #509 "iptables --random and --random-fully ignore /proc/sys/net/ipv4/ip_local_port_range"
When selecting a port for the outgoing connection the kernel `netfliter` module will select the next port avaliable in the `/proc/sys/net/ipv4/ip_local_port_range` range by default. However, due to issues with port conflicts occuring as discussed in #246 the default behaviour has been changed to use the `NF_NAT_RANGE_PROTO_RANDOM` flag by way of the `iptables` `--random` option.

It turns out that

[2019-06-19 09:53] CadenOf commented on #334
@mogren  hi , mogren. I have the same issue as yours, how does you remove "V2" in front of the release number ?
my images was pulled by `kubelet`, what I write in pods.yaml was  `xxxxxx.dkr.ecr.xxxxx.amazonaws.com.cn/k8s-mirror:pause-amd64-3.0`, but `kubelet` seems to access `https://xxxx.dkr.ecr.xxxxx.amazonaws.com.cn/v2/k8s-mirror/manifests/pause-amd64-3.0` and got the Error: `Error response fro

[2019-06-19 17:08] tvalasek commented on #508
How I see it is something to what already has been done: https://github.com/aws/amazon-vpc-cni-k8s/pull/68

Ain't sure if is it part of aforementioned PR but for our use case I would like to have something like `max number of ENIs for given node that can be created` config option. (that way we could control how many warm pool IPs can be created for that specific node)

Secondly these config option

[2019-06-19 22:22] mogren commented on #508
We do have the `MAX_ENI` setting already, but that would get applied to both master and worker nodes.

In this case, I guess it would be better to have a way to tag master nodes, or that the CNI is aware of common taints like `node-role.kubernetes.io/master` and behave differently in that case.

[2019-06-20 13:38] universam1 commented on #176
Thanks for the elaboration @Pluies - I came across the most probably same issue while debugging why `kubectl proxy` errors with EKS & Calico CNI with Error:
[code]
I believe this is due to the same issue that EKS is not accepting that traffic as internal, can you confirm the proxy issue?
Is there any AWS feedback how to circumvent this?

[2019-06-20 13:47] danbeaulieu commented on #508
@mogren is creating separate daemonsets an option? One for control plane nodes with the right tolerations and selectors and one for non control plane nodes?

[2019-06-20 19:56] chiefy opened #511 "Use a structured logging library"
Feature request: use json logging, or something standard (syslog) because trying to get a logging shipper to parse multiline is a pita. Thanks!

For anyone using fluent-bit, I had to use `tail` input and this as a Multiline_Parser

[code]

[2019-06-21 07:54] max-rocket-internet commented on #511
Or just don't log multi-line messages?

[2019-06-21 09:06] MarkPare commented on #352
@krish7919 what was your issue? I'm in a similar situation but haven't been able to figure it out.

[2019-06-23 12:52] krish7919 commented on #352
@MarkPare I did put it [here](https://github.com/aws/amazon-vpc-cni-k8s/issues/352#issuecomment-480113083)

[2019-06-23 12:59] MarkPare commented on #352
@krish7919 yeah I was wondering about what the issue was specifically (e.g. misconfigured subnets in routing table, etc.). I actually did it a second time and was able to get it working.  For posterity, in this SO post, if you follow the OP's steps 1-6 and then make sure you enable DNS propagation/resolution as suggested by the top answer, things should work: https://stackoverflow.com/questions/53

[2019-06-24 09:06] sc250024 commented on #59
Just had the same issue now with `t3a.medium` instances. @max-rocket-internet I am using your EKS module v5.0.0.

[2019-06-24 09:48] Jonathan-7 commented on #59
If anyone comes here because he has an issue with the new `t3a` instances do this:
check the current CNI plugin version:
kubectl describe daemonset aws-node --namespace kube-system | grep Image | cut -d "/" -f 2
If it's less than 1.5, upgrade:
kubectl apply -f https://raw.githubusercontent.com/aws/amazon-vpc-cni-k8s/master/config/v1.5/aws-k8s-cni.yaml

This solved it for me

[2019-06-24 11:35] sc250024 commented on #59
[code]

@Jonathan-7 Yep, that solved it, thank you! Looks like the AMIs have an old version of the CNI plugin installed. There's a corresponding issue in the AWS EKS AMI repo: https://github.com/awslabs/amazon-eks-ami/issues/262

[2019-06-24 16:10] bjethwan opened #514 "Unable to get AWS_VPC_K8S_CNI_CUSTOM_NETWORK_CFG working as per the docs"
k8s version: 1.12.8 (using kops)

amazon-vpc-cni-k8s upgraded to 1.15.0
![image](https://user-images.githubusercontent.com/5045325/60085193-7a848e80-9756-11e9-8feb-4a60c236bde1.png)

VPC
primary cidr: 10.0.0.0/16
secondary cidrs: 10.1.0.0/16

k8s running in secondary cidr.

Below subnets are used for k8s worker nodes
subnet1: 10.1.1.0/24 (ap-south-1a)
subnet2: 10.1.2.0/24 (ap-south-1b)

Below subn

[2019-06-25 01:17] nithu0115 commented on #330
Thanks @lutierigb for the workaround.

I did little research about the issue. The best possible approach with the manual steps is to include grpc health check at 127.0.0.1:50051 and make changes to manifest file to do live-probe/readiness-probe.

@mogren any thoughts ?

[2019-06-25 01:44] mogren commented on #330
@nithu0115 Sounds good to me, worth testing. Thanks!

[2019-06-25 16:49] mogren commented on #514
The worker nodes should all use the primary CIDR since the first IP on eth0 is the cross account ENI the masters use to talk to the kubelet, `10.0.0.0/16` in your case. The pods will get IPs from `10.1.0.0/16`. For a detailed overview, take a look at the slides from [last year's re:Invent](https://github.com/liwenwu-amazon/reinvent2018-NET410/tree/master/eks-cni-demo#aws-vpc-routed-cni-and-amazon-

[2019-06-25 19:04] left4taco commented on #59
@Jonathan-7 Thanks. This solves the problem.

I noticed the default CNI version comes with EKS 1.13 is CNI1.4.1

[2019-06-25 19:53] adammw commented on #514
Can you show the ENI Config in use? Also were the pods created before or after they were labeled?

We have been using a custom ENI Config in production for some time, however it is good to note that while the plugin will use the new configuration for new ENIs, existing attached ENIs continue to use the previous configuration. Therefore if pods are already attached to the primary interface because

[2019-06-26 19:06] rubenlohaus opened #516 "Workaround with packet dropped and retransmission"
The Linux Kernel has a known race condition when doing source network address translation (SNAT) that can lead to SYN packets being dropped. DNAT are affected too.

Amzn2 aws-node image provided by default to use as AWS VPC CNI have an outdated iptables version (iptables v1.4.21), and CNI plugin have the option to use --random-fully via AWS_VPC_K8S_CNI_RANDOMIZESNAT environment variable, but is on

[2019-06-26 20:16] edmorley commented on #330
Hi! We're hitting this issue quite regularly with CNI plugin version 1.4.1, since our bursty `Job` workloads means node addition in the presence of a backlog of pending pods is a common occurrence, increasing the chance we hit the race condition.

Notably this issue became more of a problem for us when we upgraded to Kubernetes 1.13, since our Job definition specifies a `restartPolicy` of `Never`,

[2019-06-26 20:41] justinwalz commented on #390
We've seen this too, on release 1.5.

We notice it from time to time in the automated cluster we use for integration tests. Creating the same kubernetes deployment & pods one time works, and the next time won't, so it's difficult to reproduce even given the repeatable nature of the test.

[2019-06-27 08:12] bjethwan commented on #514
@mogren Hi Claes, Thank you!

@adammw thanks for the help, you can see the eniconfigs below
one carrying subnet in ap-south-1a and another carrying subnet in ap-south-1b
These subnets are not used anywhere else.

apiVersion: crd.k8s.amazonaws.com/v1alpha1
kind: ENIConfig
metadata:
  name: eniconfig-1a
spec:
  securityGroups:
    - sg-0XYZ
  subnet: subnet-0ABC

apiVersion: crd.k8s.amazonaws.com/v1

[2019-06-27 08:28] bjethwan commented on #514
@mogren @adammw
It worked !!!

The only change I did was to label the nodes before applying the eniconfigs

![image](https://user-images.githubusercontent.com/5045325/60250095-a1240000-98e3-11e9-8756-d47512d02dd7.png)

[2019-06-27 14:34] Pharb commented on #284
I also had a similar issue today with EKS 1.12 and CNI plugin version 1.4.1.
I also got `KubeletNotReady          	runtime network not ready: NetworkReady=false reason:NetworkPluginNotReady message:docker: network plugin is not ready: cni config uninitialized` on a few nodes for about 10-20 minutes, then it worked again.

I didn't find anymore debugging info and the nodes were replaced by the clus

[2019-06-27 14:58] kevinfrommelt-wf commented on #500
When we ran into this we found that tons of `DescribeNetworkInterfaces` calls were being made. Not sure if that is expected or there's a bug somewhere
![Screen Shot 2019-06-27 at 9 55 18 AM](https://user-images.githubusercontent.com/3324904/60276858-0b2bad80-98c2-11e9-8a7a-eacf1e7a706b.png)

[2019-06-27 18:53] jgissend10 commented on #282
When I do a `kubectl describe po <name>` I get the following events:

[2019-06-27 19:11] mogren commented on #500
@kevinfrommelt-wf These calls happen because we can't always trust the local instance metadata, especially on older instance types, since it is eventually consistent.

To unassign an IP from the ENI attached to the instance, we call the EC2 control plane with `UnassignPrivateIpAddress`, which tells EC2 to return that IP to the Subnet to be used on another instance. The instance metadata on the hos

[2019-06-27 19:11] #500 closed

[2019-06-27 19:15] kevinfrommelt-wf commented on #500
@mogren Thanks for the info!

[2019-06-27 19:45] edmorley commented on #500
Many thanks :-)

[2019-06-27 20:29] mogren commented on #514
Glad to hear that @bjethwan, nice work! 🙂

[2019-06-27 20:29] #514 closed

[2019-06-27 21:11] bkruger99 commented on #488
I have a similar issue with eks 1.13 and aws cni 1.4.1...  I have a snapshot of logs if it'll help with investigation.  In our case the nodes to work after a bit settles, but a cronjob that it supposed to spin up just sits in limbo.  I'm looking through the logs and it recognizes there's a pod there, but it doesn't assign the ip.

[2019-06-28 15:47] imriss commented on #59
I changed the `CNI` to `amazon-k8s-cni:v1.5.0` using the [@Jonathan-7 comment](https://github.com/aws/amazon-vpc-cni-k8s/issues/59#issuecomment-504940406). However, I am getting the same error of `network: add cmd: failed to assign an IP address to container` with a `m5a.2xlarge` spot node. Is there also a possibility that there is an `AWS` limit that is needed to be increased. I have 47 Network I

[2019-06-29 01:10] wreed4 commented on #59
I'm still getting the same error as well.  `c5.xlarge` and `c5.2xlarge` spot instances.  I'm also wondering about an AWS limit since we never ran into this issue until pushing our cluster to semi-reasonable scale.  Everything works fine at <30 nodes, but now with ~130, I have almost 2000 containers stuck. It is also very possible I'm over-provisioning the nodes, but in looking at the `describe nod

[2019-06-29 07:45] Jonathan-7 commented on #59
@wreed4 EKS uses an eni per pod. So there is a limit in how many pods you can have on a node as you can only attach so many ENIs to them, depending on the instance type. Also, every pod uses up a VPC IP, so you can run out of IPs fast depending on the CIDR range. Also remember load balancers and other such resources use up IPs as well.
IMO this is one of the worst decisions made by AWS because it

[2019-06-29 11:43] wreed4 commented on #59
@Jonathan-7 I _think_ I'm well under that limit.  I have a `c5.2xlarge` doing this right now with 26 pods on it.  According to the network interface page, that instance type should have `4*15-1` ENIs.  so 59. Why is this happening with only 26 pods???

[2019-06-29 12:18] wreed4 commented on #59
Okay, I think I see what's happening... I looked through the cni logs on the aws-node pod on one of the nodes with issues.  It seems like it's not adding an ENI.  So for `c5.xlarges`, they're supposed to have 15 addresses per ENI, and *4 available ENIs*.  However, looking through the logs, it says there are only 14 available IPs (15 - the host IP), and then that it failed to assign an IP.  It look

[2019-07-01 04:37] mogren commented on #59
@wreed4 Hmm, the CNI should definitely get more ENIs. Do you have any custom configuration? Like `MAX_ENI` or `WARM_IP_TARGET`set?

[2019-07-01 17:12] wreed4 commented on #59
No, it seems ultimately it was the ENI limit on the account. I am still confused as to how that displayed in the UI though, as it really looked like there were plenty of unused ENIs.

[2019-07-01 17:54] kishorekumark opened #519 "NAT issue with pod running in public-subnet with hostnetwork true"
Hi,
Environment:
- K8S cluster created with kops in aws(not EKS) in private topology.
- Configured CNI to amazonvpc from kops.
- Have few worker groups in public-subnet
- On a pubicsubnet node one pod running with hostnetwork true and one daemonset running with out hostnetwork true.

Issue:
- With default setting, daemon-set able to communicate with internet. But the pod's traffic  got NATed and i

[2019-07-01 20:48] mikerlt commented on #282
I am running into the exact same problem, when using cluster autoscaling

[2019-07-01 20:58] ianCambrio commented on #59
On r5.large I'm also seeing the same issue. Is there a way to force pods to fail instead of hanging when this error occurs? Or are there any other workarounds anyone has found?

[2019-07-01 21:49] ianCambrio commented on #282
Administering a cluster through argo but I'm seeing the same error on my pods. Trying to autoscale r5 large spot instances.

[2019-07-02 00:46] mogren commented on #519
Hi @kishorekumark, this sounds a lot like #508. Thanks for raising the question, we are aware of this issue.

[2019-07-02 19:27] left4taco commented on #282
I'm in the same situation as @kc8apf. We are using EKS+Autoscalar to run out Gitlab CI runner. Sometimes the pod is stuck at ContainerCreating stage and its description is like:
[code]

This only happens when a new node scaling-up is triggered by new jobs. After that, this node isn't able to take any pods because of this CNI failure.

I compared the `ipamd.log` between a successful node and a fail

[2019-07-02 21:01] left4taco commented on #488
We are also using spot-instances, and can sometimes see pod stuck at `ContainerCreating` stage. I believe this is because of the reason described in #59

[2019-07-03 23:15] nithu0115 commented on #509
From my observation, AL2 iptables version i.e., iptables v1.4.21 does not support --random-fully (AWS_VPC_K8S_CNI_RANDOMIZESNAT=prng environment variable), and is only compatible with iptables >=1.6.2.

[2019-07-04 13:53] krzysztof-bronk commented on #59
I've just encountered this problem on eks 1.13.7 with cni 1.5.0 on a 3 node test cluster. It may or may not be related to the fact I am terminating the nodes for testing whenever I make user-data changes.

Interestingly, deleting the aws-node pod that was failing to assign ips did not help.
In the console, I saw a few Available ENIs and 4 active ones.
Note: Only 1 of them had "aws-K8S" in descript

[2019-07-04 15:10] morganchristiansson commented on #302
Was also getting this error. No logs to give a clue as to why.

I disabled AWS_VPC_K8S_CNI_CUSTOM_NETWORK_CFG and now it works. It uses same eni and subnet as worker node which is what I want and this problem went away.

[2019-07-04 16:15] morganchristiansson commented on #302
Everyone having this problem can juset set `AWS_VPC_K8S_CNI_CUSTOM_NETWORK_CFG=false`.

You don't need to create ENIConfig resources, set k8s.amazonaws.com/eniConfig node label or ENI_CONFIG_LABEL_DEF. Default CNI behaviour when `AWS_VPC_K8S_CNI_CUSTOM_NETWORK_CFG=false` is to create pods with same network as worker eni.

[2019-07-05 14:44] MMichael-S commented on #345
Hi Experts
I am using coreos CoreOS-stable-2135.5.0-hvm (ami-049ed451bb483d4be) and found this issue still exists. Is there a corresponding solution and bug fix plan?

[2019-07-07 02:13] xrl commented on #284
I have been seeing this problem on pods that start immediately after the kube node comes up. If I delete the pods and have them "try again" they get their IPs and there's no warnings. Could this be solved through a node readiness change?

[2019-07-08 08:18] sethp-nr commented on #345
@MMichael-S I'm not sure about fixes, etc., but as far as I know preferring the eth0 route still works (see: https://coreos.com/os/docs/latest/network-config-with-networkd.html)

[2019-07-08 12:10] luvpreetsingh commented on #137
This problem happened to us because initially when we launched the cluster, the Userdata was compatible with the Base AMI we were using for the worker nodes. But then, we updated our Base AMI in the cloudformation, but we did not update the Userdata. So, after struggling for some time, I came here. The solution is @conversicachrisr 's comment.

Your userdata and AMI needs to be compatible

[2019-07-08 14:31] MMichael-S commented on #345
@sethp-nr Thank you for your reply.
I  have found the workaround in https://github.com/coreos/bugs/issues/992, to decrease the RouteMetric of Eth0.
But I think the workaround will bother customers. :(

[2019-07-08 19:37] uthark opened #522 "Panic on invalid cast"
CNI Plugin panics

[code]

Used operator framework is v0.0.7, panic is here: https://github.com/operator-framework/operator-sdk/blob/v0.0.7/pkg/sdk/informer.go#L123

New version is 0.8.7.
Probably, upgrading will solve the issue.

[2019-07-08 23:15] mogren commented on #479
Started to [implement this](https://github.com/mogren/amazon-vpc-cni-k8s/tree/spec-0.4.0), but the change is a bit too big for v1.6. Pushing to next in order to not delay the v1.6 release.

[2019-07-09 09:11] dng-dev commented on #330
For me the Liveness / readiness probe provided by @nithu0115 is not working.
`spec.template.spec.containers[0].livenessProbe.successThreshold: Invalid value: 2: must be 1`
After fixing the threshold the health check failes Liveness probe failed: dial tcp 172.19.39.52:50051: connect: connection refused. I applied the 1.5 manifest.

[2019-07-09 09:22] stijndehaes commented on #330
@dng-dev This works:
[code]
You need to set the host to localhost. Since it only listens on localhost

[2019-07-09 09:25] stijndehaes commented on #330
I will make a PR

[2019-07-09 09:53] dng-dev commented on #330
@stijndehaes thanks for the advice, i also  found that the issue is to set the host. But some was-node pods stays unhealthy. Its a new eks cluster.
`pod/aws-node-2zwc7                                            0/1     CrashLoopBackOff    4          3m44s`

[code]

[2019-07-09 10:53] stijndehaes commented on #330
@dng-dev not sure what is happing. I am having no problems atm. But I am using 1.4.1 have you looked into the logs?

[2019-07-09 12:40] nithu0115 commented on #330
@dng-dev, I have unreferenced commits from my local repository which was adding confusion.
By setting tcpSocket probe, kubelet is opening a socket to gRPC server which is not meaningful, since it cannot read the response body.

I am still testing if tcpsocket liveness and readiness probes is better approach or otherwise. I have run into similar problems if aws-node pod takes more than usual time t

[2019-07-09 12:41] stijndehaes commented on #330
My PR is not enough just did a test launching a 100 pods an adding an extra 8 machines. Still got errors on some on the nodes.

[2019-07-09 12:42] stijndehaes commented on #330
Maybe we should use this: https://github.com/grpc-ecosystem/grpc-health-probe/ ?

[2019-07-09 13:09] stijndehaes commented on #330
Ok adding a long timeout does not work. As kubernetes does not care if this pod is ready or not. The real problem is that k8s thinks the CNI is correctly installed before it is running see: https://github.com/aws/amazon-vpc-cni-k8s/issues/282

[2019-07-09 13:15] stijndehaes commented on #282
A solution could be to run 2 containers in the daemonset.
1 to install the CNI and one that runs `/app/aws-k8s-agent`.
The one that install the CNI can do a grpc health check or call an endpoint to check that `/app/aws-k8s-agent` is fully up and running before installing the CNI.
Calico for example runs 2 containers in the daemonset: https://docs.projectcalico.org/v3.1/getting-started/kubernetes/i

[2019-07-09 18:26] adammw commented on #522
Worth noting that this usually occurs immediately after a string of these warnings:
[code]

[2019-07-10 02:58] xrl commented on #488
I see this as well in my spot instance setup. I'm not sure if it has to do with the spot instance or the fact that spot instance arrive due to excess pending pods (I have the kube cluster autoscaler). All those pods then rush on to the node as soon as it is marked "healthy". Perhaps the node isn't really healthy because the VPC CNI isn't done setting up the EC2 instance's network?

[2019-07-10 03:01] left4taco commented on #488
@xrl
Could you please check the ipamd output as I did above? Look for the sequence of pod being created and 30 up address being allocated. If you saw similar output as I did, then it might be the reason.

[2019-07-10 06:34] stijndehaes commented on #282
I made a naive implementation of the wait mechanism (meaning I added a sleep 10s) here:
https://github.com/stijndehaes/amazon-vpc-cni-k8s/blob/feature/test-naive-dependency/config/v1.4/aws-k8s-cni.yaml

According to my tests this solves the problem. My tests exist of launching a 100 pods via airflow at once, having the cluster scale from 3 to 15 machines because of that and seeing if they succeed.

[2019-07-10 17:07] jgissend10 commented on #282
I tried the above changes to the config and still found it to be an issue. I'm using  amazon-k8s-cni:1.3.0 however.

[2019-07-10 17:50] jgissend10 commented on #282
With the above changes applied I now see the following message
[code]

[2019-07-10 21:21] uthark opened #525 "ENI warming is delayed for at least for 1 minute, probably caused by #480"
We also found that #480 changes causes the following interesting behavior:

1. New node joins the cluster.
2. API Server assigns new pods to it (particularly from system daemonsets, like aws-cni itself, fluentd, kube-node-monitor and some other that have tolerations)
3. aws-cni plugins starts and immediately discovers that there are pods without IP address. It then wait for 12*5=1 minute before tr

[2019-07-10 21:24] uthark commented on #525
Also, related to #330

[2019-07-10 22:20] adammw commented on #431
This is still a problem with the latest version. We have experienced three cluster degradations due to this so far in the span of a week.

[2019-07-11 11:19] wreed4 commented on #59
It seems to me that when nodes terminate, the ENIs they were using do not get cleaned up.  We're using spot instances and yesterday there was a ton of churn with instances getting reclaimed and new ones coming up getting added to the cluster.  At any given few minute period, we'd be gaining or losing between 10 and 100 nodes most of the day.  Throughout the day, our unused ENIs went through the ro

[2019-07-11 21:58] mogren commented on #469
Change by @totahuanocotl, @rewiko and @yorg1st to add this feature merged in #520.

[2019-07-11 21:58] #469 closed

[2019-07-11 22:24] uthark commented on #525
Another issue caused by long startup is that all pods will fail with `FailedCreatePodSandBox`
[code]

[2019-07-12 13:41] yrotilio opened #527 "Containers stuck in ContainerCreating after configuring CNI Custom Networking on extended CIDR"
Hi,
We have an issue on CNI Custom networking & extended CIDR after nodes first boot if we have Pods pending for scheduling.

For example, on a simple nginx workload w/ 10 replicas, after node first boot we have :

[code]

For Pods stuck on ContainerCreating, the event shown is FailedCreatePodSandBox
[code]

The only way we've found to solve that issue is to delete stuck Pods.

Kubernetes version

[2019-07-12 15:23] dennisme commented on #527
What are the aws-vpc-cni logs for those containers that are stuck in `ContainerCreating`?

[2019-07-12 15:49] MrSaints commented on #59
I've just encountered this problem after upgrading the cluster to 1.13 in EKS. Deleting the stuck pod fixes the problem (as in, the "new" pod will be created successfully). I'm using `m5.large`, and the cluster is provisioned with https://github.com/terraform-aws-modules/terraform-aws-eks.

[2019-07-12 17:57] uthark commented on #431
@mogren As a workaround, if we set `WARM_ENI_TARGET` to maximum available for the instance type, will it help?

[2019-07-13 21:25] mogren commented on #525
Thanks @uthark, this is a good find and something we have to investigate.

[2019-07-13 21:30] mogren commented on #431
@uthark Yes, that would at least prevent the CNI plugin from detaching the ENIs, but this is still a bug. An ENI with IPs that are still in use should never be freed. Will have to look more at this case.

[2019-07-15 03:13] xrl commented on #272
I got this during an autoscaler/pod rush from our gitlab CI spawning build pods:

[code]

[2019-07-15 08:45] MrSaints commented on #527
I've been coming across a similar problem, seems related to #525

[2019-07-15 09:17] MrSaints commented on #525
Setting `restartPolicy: OnFailure` gets around this for now, though not ideal for one-off jobs where a failure may be _ideal_.

[2019-07-15 10:02] yrotilio commented on #527
Hi @dennisme, thanks for looking at my issue.

* The aws-nodes pods do log any useful information.
[code]

* ipamd.log is far more interesting :
[code]

* plugin.log
[code]

[2019-07-15 12:34] phuthinh2202 opened #529 "EKS worker node status NotReady because k8s vpc cni pod aws-node, kube-proxy not start"
I have issue when i increase worker node on my EKS.
All Pod aws-node, kube-proxy always status ContainterCreating with reason:

`Failed create pod sandbox: rpc error: code = Unknown desc = Error response from daemon: Get https://602401143452.dkr.ecr.ap-southeast-1.amazonaws.com/v2/eks/pause-amd64/manifests/3.1: no basic auth credentials`

And Worker node not join to EKS cluster.
Let me know i miss

[2019-07-15 14:37] uthark commented on #525
We set restartPolicy to Always, so, we have a lot of FailedCreatePodSandbox from kubelet during first minute.

[2019-07-15 18:29] uthark commented on #525
@mogren Why does CNI Plugin wait for 1 minute?
From #480 description:

As of 1.9 kubernetes uses quorum reads from etcd (https://github.com/kubernetes/kubernetes/pull/53717). So, why wait?

I'd like to submit PR to make number of tries configurable, would you accept such PR?

[2019-07-16 02:12] phuthinh2202 commented on #529
I resolve this problem because i miss permission of ECR AWS.

[2019-07-16 02:12] #529 closed

[2019-07-16 09:02] sc250024 commented on #282
This is happening to us as well.

**CNI version:** 602401143452.dkr.ecr.eu-west-1.amazonaws.com/amazon-k8s-cni:v1.5.0
**EKS version:** v1.13.7-eks-c57ff8

Is there a fix coming down the pipeline for this? It's legitimately affecting production workloads right now.

[2019-07-16 13:04] homme commented on #486
I noticed that after installing the CloudWatch adapter (`kubectl apply -f https://raw.githubusercontent.com/awslabs/k8s-cloudwatch-adapter/master/deploy/adapter.yaml`) these errors changed from the external.metrics endpoint to custom.metrics:
```ERROR: logging before flag.Parse: E0716 12:54:37.701124      13 memcache.go:147] couldn't get resource list for custom.metrics.k8s.io/v1beta1: <nil>```
It

[2019-07-16 16:53] ewbankkit commented on #495
@dmai-apixio What is your [`AWS_VPC_K8S_CNI_EXTERNALSNAT`](https://github.com/aws/amazon-vpc-cni-k8s#cni-configuration-variables) value?

[2019-07-16 21:12] dennisme commented on #527
Im seeing `IP address pool stats: total:10, assigned 10` what instance type are you using? Are there pods in other namespaces using IPs?

[2019-07-17 03:05] mogren commented on #525
@uthark The issue we saw with v1.4.1 back in May was that if a pod, `demo-pod`, got added to the node and ipamd assigns it an IP, let's say `10.1.1.1`, and just at that time the CNI gets killed. When a new ipamd comes up and tries to re-sync it's internal data store by comparing the IPs of the current pods on the node with the IPs assigned to the ENIs attached, we noticed multiple times where the

[2019-07-17 03:12] uthark commented on #525
Yes, what we ended up with is using lifecycle hooks to taint/untaint the node.
Updating startup script to prepare CNI config for kubelet  *after* it is actually ready will help to solve issue during node boot. It will not solve the case when CNI plugin restarts, though. I can submit pr with taints using lifecycle hooks, if you’re interested.

[2019-07-17 03:17] uthark commented on #525
Also, question — what if CNI plugin stored used IP addresses in some kind of CRD or even as a tag on the ENI?

[2019-07-17 22:16] metral commented on #69
I'm still hitting this issue using v1.5.0 on EKS v1.13

[2019-07-18 04:30] lutierigb opened #533 "add support for m5.metal instances"
EC2 IP info: https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-eni.html#AvailableIpPerENI

today m5.large instances aren't supported.

[code]

[2019-07-18 21:49] Claywd opened #534 "can't set AWS_VPC_K8S_CNI_EXTERNALSNAT to true"
My nodes are in a private subnet, nat in public, multiple CIDRS on the vpc..... all that. Pretty sure all I should need to do is set AWS_VPC_K8S_CNI_EXTERNALSNAT to true as outlined here https://docs.aws.amazon.com/eks/latest/userguide/external-snat.html

So I follow the commands... EXACTLY.

```kubectl edit daemonset -n kube-system aws-node```

edit and change (using vim by default)

[code]

but

[2019-07-18 21:56] left4taco commented on #525
This is kinda affecting our production now. Problem can be trace back to in #282

[2019-07-19 12:17] sc250024 commented on #525
What @left4taco said. This needs to be fixed!

[2019-07-19 23:24] dcherniv commented on #525
Same @sc250024 and @left4taco.
In general state of affairs with EKS is rather appalling compared to GKE.

[2019-07-22 09:43] yrotilio commented on #527
I'm using t3.medium instances on that cluster right now.

I confirm that there are other pods in other namespaces using IPs, but I can assure you there's sufficient ENIs for all the pods in all namespaces on the cluster for 2 reasons :
1. Before I apply the Custom CNI configuration, all the Pods are in `Running` state. It's when the nodes are terminated & recreated to apply the custom CNI that the

[2019-07-22 16:20] markchalloner commented on #299
For others, you can use:

[code]

to set environmental variables.

[2019-07-22 17:26] uthark opened #537 "Unhandled rate limit which causes other errors"
We found the following behavior:

1. Because of #431, we decided to warming maximum number of ENIs that can be attached to an instance.
2. We have medium size clusters (hundreds of nodes)
3. During rolling out, we observed spike of AWS API Errors in the plugin.
4. During investigation, we found the error in the plugin.

Steps to reproduce
1. Setup `WARM_ENI_TARGET` to max available to your instanc

[2019-07-22 17:27] uthark commented on #537
@mogren Could you please take a look?

[2019-07-23 03:51] bjethwan commented on #388
@mogren @ibnsinha

Hi Claes,

I have an issue:
As you can see in my previous post, the kube-flannel pods continue to run when I deployed amazon-vpc-cni-k8s plugin in that k8s cluster. And we realized that it's costly mistake when we ran into an issue using CoreDNS/Kubernetai plugin https://github.com/coredns/kubernetai/issues/25

Is this expected that we need to manually remove the kube-flannel an

[2019-07-23 03:57] bjethwan opened #542 "Need documentation support on replacing a cni plugin with amazon-vpc-cni-k8s in stock k8s cluster"
this is a followup of https://github.com/aws/amazon-vpc-cni-k8s/issues/388

the kube-flannel pods continue to run when I deployed amazon-vpc-cni-k8s plugin in that k8s cluster. And we realized that it's costly mistake when we ran into an issue using CoreDNS/Kubernetai plugin coredns/kubernetai#25

Can you please provide some documentaion on restarting the system pods so that they get the VPC IPs?

[2019-07-23 16:22] uthark commented on #525
Lifecycle hook: https://gist.github.com/uthark/cd475f1dca21e2804eeda1564a1e6dc7and example of usage: https://gist.github.com/uthark/caf919ee2d37a7d3e9536974de326136

[2019-07-23 16:32] sc250024 commented on #525
Thanks @uthark! The code of a multi-billion dollar cloud provider; saved by a shell script.

[2019-07-23 17:33] uthark commented on #525
we build our own image that has kubectl in it and the hook; and update DaemonSet manifest to use the hook.

[2019-07-23 19:54] mogren commented on #534
Hi @Claywd,
I have accidently indented the lines wrong sometimes when using vim because of settings I have, but adding that environment variable should work. You could try just setting the variable using kubectl. First check the current ones:
[code]
To set `AWS_VPC_K8S_CNI_EXTERNALSNAT`:
[code]
Then verify that the variable was correctly set:
[code]

[2019-07-24 09:13] sc250024 commented on #525
@uthark I tried what you described, but a node doesn't have permissions to taint in a default AWS EKS setup. I'm guessing you also allowed the nodes extra permissions in the `aws-auth` ConfigMap?

[2019-07-24 12:29] schumacher-m commented on #488
Also want to subscribe to this issue:

We're running:
EKS 1.12
NAT Gateway VPC (Nodes are in a Private Subnet)
ASG with Spot and On-Demand Instances
CNI 1.5.0

Facing this issue now from time to time when we spawn Pods (on Spot Instances)

[2019-07-24 20:41] dylancaponi commented on #69
Still having this issue on EKS v1.12 CNI 1.5.0.  Not deleting any nodes, just redeploying deployment with large amount of pods (~600).  Every time I deploy, less become available because there are no available IPs.

[2019-07-24 21:53] #164 closed

[2019-07-25 08:54] schumacher-m commented on #488
![image](https://user-images.githubusercontent.com/275356/61860233-e9761400-aec9-11e9-98d8-323c6bdecdca.png)

FYI: I've used `WARM_IP_TARGET` to set a fixed amount of IPs kept available. In our usecase we do have a spike (of pod schedules) in the morning to do data processing. I see a significant reduction after the change.

[2019-07-25 09:35] yrotilio commented on #527
Here are the results of my last tests :

- Without the CNI custom configuration : if delete all my nodes at the same time or one by one, the scheduler manages to rechedule the pods on nodes without one getting stuck in ContainerCreating.

- With the CNI custom configuration and the same pod population, if delete all my nodes at the same time or one by one (rollout), the scheduler continue to sched

[2019-07-25 20:29] uthark commented on #522
Additional information: we recently observed it again, while we were upgrading API servers.
As a result, CNI plugin restarts and then tries to restore its state of the world by polling API servers. On bigger clusters, we see immediate increase of the load on API Servers right after start.

[2019-07-25 22:52] nithu0115 commented on #330
@stijndehaes @dng-dev @uthark I wrote a quick fix by adding healthz to IPamD and client to poll IPamD endpoint https://raw.githubusercontent.com/nithu0115/amazon-vpc-cni-k8s/342626c1c885b63254cd114f3e82fe91ab63eb03/config/v1.5/aws-k8s-cni.yaml

Would you mind giving it a spin and see if this helps ?

[2019-07-26 06:28] mattparkes commented on #283
I had this issue (or an extremely similar one) after using `eksctl` to upgrade `aws-node`, `coredns` and `kube-proxy` in an EKS cluster going from `1.11` to `1.12` and then `1.13`.

I did 2 things which ultimately fixed this issue for me in all my clusters (unfortunately I haven't narrowed it down to 1 thing yet):
1. Restored my manifests for the above 3 Deployments/Daemonsets and then just patche

[2019-07-26 09:04] jahoward commented on #284
Just had the same issue with 1.11.9. The cni networking failed on one of two new nodes so the failed node never joined the cluster. A reboot from the AWS Console got it working

[2019-07-26 09:08] jahoward commented on #284
the first two warnings I see are

[code]

[2019-07-26 14:14] clementlecorre commented on #282
I have the same problem !

**CNI version** : 602401143452.dkr.ecr.eu-west-1.amazonaws.com/amazon-k8s-cni:v1.5.0
**EKS version** v1.13.7-eks-c57ff8

[2019-07-26 16:00] cidrick commented on #516
I've run into this same issue where we're seeing SYN packets being dropped while `AWS_VPC_K8S_CNI_EXTERNALSNAT` is set to `false`. I've been testing potential workarounds, and the only one that seems to work so far is to change `AWS_VPC_K8S_CNI_EXTERNALSNAT` to `true` so that our NAT gateways perform SNAT, we can't use this in production due to how we have our VPC peering set up with some of our n

[2019-07-26 21:44] uthark commented on #431
After upgrade to 1.5 this issue doesn't during node startup, CNI plugin correctly exits and restarts.
Fixed in https://github.com/aws/amazon-vpc-cni-k8s/commit/9b5268f3cd36f7f4cecf117c328a4f17c258ea0c

Still investigating why it starts to release if API Server becomes unavailable after CNI Plugin initialized and is working.

[2019-07-27 09:00] sc250024 commented on #525
@uthark I actually got your script to work, but it doesn't work 100% of the time actually. A bit of a bummer, really.

[2019-07-27 09:21] schumacher-m commented on #488
We encountered a smaller error spike now after we have accumulated a lot of Completed/Failed Pods. I have now cleaned up the completed/failed Pods and will check if that will result in again no error spike for one or two days.

[2019-07-28 04:11] uthark commented on #525
When it doesn't work for you?

Regards,
Oleg.
On Jul 27, 2019, 02:00 -0700, Scott Crooks <notifications@github.com>, wrote:

[2019-07-28 11:23] sc250024 commented on #525
@uthark As far as I can tell, it's unpredictable. But the error message is always the same:

Same error as you encountered above. Sometimes it works, and sometimes it doesn't. We use this primarily to scale up / scale down GitLab runner nodes.

[2019-07-29 12:15] Deepak1100 opened #546 "Eni is not getting allocated"
I am using c4.2xlarge instance type as the node and there are around 35 pods. and only 14 pods got ip as on c4.2xlarge one Eni support only 14 ip address. But the problem is, it should bring new eni and attached ips on it and use those ips. But its not doing that.
I have verified that i am not using MAX_ENI variable. I have upgraded the vpc-cni to 1.5.0 as well but it is still not working.
And the

[2019-07-29 12:23] Deepak1100 commented on #546
I think it works after I added this flag. But this should not be necessary.
[code]

[2019-07-29 14:13] ikatson commented on #493
Have the same problem. It feels like that's because of Calico policies asynchronous nature.

Here's my theory: calico policies kick in after all the CNI plugins finish running. It then races with the pod startup, and the pods that start network interactions immediately almost always get a delay, because Calico has not injected all the rules yet.

The best scenario would be somehow to make the AWS-

[2019-07-30 14:28] ericlarssen-wf commented on #330
I tried deploying this fix and got new errors involving

[code]

[code]

[2019-07-30 16:07] dschaaff opened #547 "Failed create pod sandbox: rpc error: code = Unknown desc = failed to set up sandbox container network for pod : NetworkPlugin cni failed to set up pod network: add cmd: failed to assign an IP address to container Error: context deadline exceeded"
I'm experiencing frequent issues with the vpc cni failing to assign IPs to pods. In this particular case the instance is an m5a.4xlarge. I have the support files from the instance if needed.

[code]

I see this in the ipamd logs.
[code]

ipamd-env.out
[code]

metrics.out
[code]

It seems that the instance is never going above 58 ips, but still trying to schedule pods. The kubelet max pods is appro

[2019-07-30 17:32] mogren commented on #546
Hi @Deepak1100,

You are right, setting `WARM_IP_TARGET` should not be needed, WARM_ENI_TARGET should be 1 by default. Is there any chance that your calls to EC2 got throttled? Could you run the [log collector script](https://github.com/awslabs/amazon-eks-ami/tree/master/log-collector-script) and send the logs to me at mogren@amazon.com?

[2019-07-30 19:24] robertsheehy-wf commented on #525
We are experiencing this exact issue for our production EKS environment.

What seems to happen is ipamd gets stuck in a loop by logic introduced in this PR https://github.com/aws/amazon-vpc-cni-k8s/pull/480.

@mogren What's supposed to be happening here? For our scenario the pods never receive their pod ip, so ipamd never starts up, resulting in tcp connection errors for our CNI.

[2019-07-30 19:32] mogren commented on #525
Hi @robertsheehy-wf,

I explained some of the background for this change [in an earlier comment](https://github.com/aws/amazon-vpc-cni-k8s/issues/525#issuecomment-512082993). That said, It should only retry for at most 60 seconds, then continue and assume that the pods don't have an IP. Why this doesn't happen in all cases we still have to investigate more.

[2019-07-30 20:44] robertsheehy-wf commented on #525
Thanks, sorry I should have read more closely.

Granted my knowledge is limited, but is there maybe a better strategy rather than waiting 60 seconds?

Can we look at the pods more closely to understand why the Pod doesn't have a IP? Or maybe omit the wait loop if we know the CNI has never been ran on the node?

[2019-07-31 04:44] mogren commented on #527
Hi @yrotilio, sorry for the late reply.

How many pods get successfully scheduled on the node before you start seeing this issue? If you use custom network configuration, you will lose the first ENI, so in order to not schedule too many pods to the nodes, you also need to change the `--max-pods` parameter to take that into account.

[2019-07-31 13:10] caiconkhicon commented on #59
I have the exact situation as @krzysztof-bronk. Using CNI 1.5.0 does not fix.

[2019-07-31 14:32] yrotilio commented on #527
Hi @mogren, thanks a lot for your contribution, it seems like you're right !

After testing on a `t3.small` node (3 ENIs * 4 = 12 IPs max), `ContainerCreating` stuck pods appeared after scheduling more than 8 pods on the node, which matches the lost ENI scenario.

Further testing show that setting the `--max-pods` parameter to `(<max_eni_per_instance_type>-1)*<max_ip_per_eni>` on a given node solv

[2019-07-31 16:42] rshutt opened #550 "Should AWS-SNAT-CHAIN-0 be vpcCIDRs or should it be subnetCIDRs? With...."
Howdy,

Looking at this whole thing... using CGNat space and custom subnets... Shouldn't AWS-SNAT-CHAIN-0 be more specific?  Basically, it's not SNATing anything that is destined to the entire VPC...  This means that Pods talking to anything else in the entire VPC will NOT be SNATed and will have their communications and return packets not traverse the Kubelet at all.  It also means that the IP ad

[2019-07-31 20:32] shuttr commented on #550
After speaking directly with support, i was informed that there's no *real* way to make the AWS VPC CNI environment "feel" like an on prem or vanilla kube solution wherein the only access to the Pod IP network was via a Kubelet... hopefully through the Services/Endpoints framework.

Sure, it could be simulated with security groups on the ENIConfigs, but anything in the same VPC is going to think t

[2019-07-31 21:17] acesir commented on #525
This is currently affecting us in all our environment and completely broke our autoscaling in production. We schedule dynamic amounts of batch jobs in kubernetes and autoscale our nodes based on taints/labels/requests. When the nodes autoscale 99% of the pods fail and get stuck in an endless loop of sandbox creation failed/cni errors.

[2019-07-31 22:31] #318 closed

[2019-07-31 23:49] robertsheehy-wf commented on #525
We’ve found that this is a problem when starting new nodes in a cluster. What happens is a pod will get scheduled **at the same time** as a CNI on a new node. This is where the CNI seems to falter. If the CNI is scheduled concurrently with another pod, the CNI sometimes seems to get into a state where it is unsure how to handle the pod.  This results in the pod never receiving an IP. This problem

[2019-07-31 23:54] uthark commented on #525
@robertsheehy-wf Yeah, we did exact same.

[2019-08-01 15:05] MrSaints commented on #525
The linked commit appears to have alleviated the problem, at least for us. We don't see our pods getting stuck.

[2019-08-01 23:52] #380 closed

[2019-08-02 00:12] mogren commented on #550
Hi @shuttr,
You are right that it used to be misspelled. It was changed in PR #520 where the option to skip SNAT:ing within the VPC. Is this what you were looking for?

[2019-08-02 00:40] shuttr commented on #550
@mogren Actually I kinda wanted the opposite... Forced SNATing unless the Pod was talking to another Pod on the same cluster.  Basically, like it would be with an on-premise solution not leveraging AMZN VPC, but without building a vxlan fabric or scope-limited bgp peering for the pod network.  It does not make sense to me that some random ec2 instance within my VPC can speak directly to a pod when

[2019-08-02 00:42] shuttr commented on #550
That said, we're actually stepping away from the CUSTOM side of this cni plugin due to the fact that they simply decided to allow us a larger set of private subnets which obviates the need to use the CGNat 100.64/10 space in the first place.

And lets be honest, the pod initiating outbound to other services on the same VPC without SNATing at the Kubelet is probably loads more efficient.  It just v

[2019-08-02 14:03] acesir commented on #525
The latest release of 1.5.1 RC1 solved this issue when autoscaling nodes and pods getting stuck with sandbox errors. The linked commit + #548 was primarily the 2 patches needed for us.

[2019-08-02 19:49] Mewzyk commented on #282
I am having the same problem right now.
CNI version : 602401143452.dkr.ecr.eu-west-1.amazonaws.com/amazon-k8s-cni:v1.5.0
EKS version v1.13.7-eks-c57ff8

I just migrated from KOPS which did not have this problem. At this point in time, my EKS cluster cannot produce the same functionality.

That is:
Fresh Cluster + Cluster autoscaler + Run 10 Jobs

[2019-08-02 21:44] sc250024 commented on #282
@Mewzyk This is an issue with the CNI provider, not so much EKS, although this CNI is default on EKS.

A much better test would be to install this CNI on Kops to see if the same error occurs.

[2019-08-02 23:54] mogren commented on #282
@Mewzyk I just made a release candidate with a potential fix of this issue. It's not yet a final release and we are still doing testing, but if you would like to test the build the instructions are here:

https://github.com/aws/amazon-vpc-cni-k8s/releases/tag/v1.5.1-rc1

[2019-08-03 19:26] Deepak1100 commented on #546
@mogren I don't think there is no throttling. at least according to cni monitoring. and there are very few Nodes in my dev cluster where this issue is coming. And it's not getting solve by WARM_IP_TARGET as well it seems.
I have sent logs to above email you had mentioned.

[2019-08-04 07:17] Mewzyk commented on #282
@mogren Working so far. Thanks for the patch.

[2019-08-04 07:47] mogren commented on #282
Thanks for the update.

A note, the recent v1.5.1 release does not have the startup fix! I will make a v1.5.2 soon with the quick config fix plus the changes currently in v1.5.1-rc1.

[2019-08-05 10:39] oceaneLonneux commented on #59
Currently encountering this problem with an EKS cluster version 1.12, instances are t3.large with 26 pods, should be able to go up to 35 but it sent this error: NetworkPlugin cni failed to set up pod.

I updated the CNI to 1.15, was previously 1.14.

[2019-08-05 11:04] oceaneLonneux commented on #547
Currently encountering this problem with an EKS cluster version 1.12, instances are t3.large with 26 pods. I updated the CNI to 1.15, was previously 1.14.

It should be able to go up to 35 but it sent this error: NetworkPlugin cni failed to set up pod.

Will investigate as well, it seems like this issue has been there for some time and I'm not sure about the answer?

[2019-08-05 15:42] evanshriner opened #568 "status: SERVING in logs"
Hi,

After updating to 1.5 in EKS 1.13 I am continually seeing `status: SERVING` being printed out every 10 seconds from all nodes in the cluster. Everything seems to be healthy, but the log is quite disruptive in regards to monitoring.

Is there any extra insight into this log / what would be causing it to continuously print?

Thank you!

[2019-08-05 16:51] mogren commented on #568
Hi @evanshriner,

Yes, this comes from the gRPC health check, and I agree that it is way to verbose. The health check was added in 6ba7d76 and the check is in 79fd64a. I'm working on a different way to solve the startup issue that won't pollute the logs.

[2019-08-05 17:38] evanshriner commented on #568
@mogren,

Appreciate the quick reply. In the interim a filter will do. Thanks!

[2019-08-05 23:27] TechnicalMercenary commented on #547
For me I've only started experiencing this issue when we are trying to move to 1.13.  Exact same Terraform configuration in 1.12 is fine (other than referencing a 1.13 AMI and setting resource EKS to 1.13 ) .  We are scaling r3.2xlarge sized nodes

[2019-08-05 23:48] TechnicalMercenary opened #571 "Migrating to EKS 1.13 receiving FailedCreatePodSandBox"
We have a terraform configuration that sets up a cluster on 1.12 but when moving to 1.13 we are now getting the following error....

These instances are r3.2xlarge types that we are triggering a scale up on to start up additional nodes.  The only Pod that we are purposely scheduling is a Spark Worker via the Spark Launcher.

I've attached the logs like others with similar `FailedCreatePodSandBox`

[2019-08-05 23:51] TechnicalMercenary commented on #571
and as is tradition I find this....  https://github.com/aws/amazon-vpc-cni-k8s/issues/282

[2019-08-05 23:57] mogren commented on #571
@TechnicalMercenary Hey, sorry about that. I have a [release candidate out](https://github.com/aws/amazon-vpc-cni-k8s/releases/tag/v1.5.2-rc1) with a potential fix for this issue. I'm planning to release a final v1.5.2 within the next few days.

[2019-08-06 06:09] edmorley commented on #282
I believe one of the reasons more people are reporting this issue now than before, is that:
* Kubernetes 1.13+ has a regression where the kubelet won't retry PodSandbox creation for pods with a `restartPolicy` of `Never` (kubernetes/kubernetes/issues/79398) - meaning that pods get stuck as `ContainerCreating` after experiencing the CNI plugin race condition, and are not able to self-recover.
* Thi

[2019-08-06 19:54] kimi1987 commented on #330
Hi I am seeing exact same error jobs pod. They get stuck in container creating state

https://github.com/aws/amazon-vpc-cni-k8s/issues/330#issuecomment-516443971

[2019-08-06 19:57] mogren commented on #568
Just released v1.5.2, it should be a bit less verbose at least.

[2019-08-06 19:57] #568 closed

[2019-08-06 20:50] mogren commented on #571
@TechnicalMercenary [v1.5.2](https://github.com/aws/amazon-vpc-cni-k8s/releases/tag/v1.5.2) is out, please try this version if you are still seeing issues.

[2019-08-06 20:50] mogren commented on #330
@kimi1987 @ericlarssen-wf Can you try with the recently released [v1.5.2](https://github.com/aws/amazon-vpc-cni-k8s/releases/tag/v1.5.2)?

[2019-08-06 21:17] ericlarssen-wf commented on #330
lgtm, was able to verify that this v.1.5.2 worked

[2019-08-07 02:46] drakedevel opened #575 "Waiting for ipamd health check deadlocks node bootstrapping outside EKS"
Tested 1.5.2 on Kubernetes 1.15.2

The change in #553 introduced a node bootstrapping problem on our `kubeadm` test cluster. With this change, nodes get tainted with `node.kubernetes.io/not-ready` until the ipamD is healthy. ipamD can't become healthy until it's able to reach the API server. On at least `kubeadm` and `kops` clusters, the API server is a ClusterIP, which requires `kube-proxy` to be

[2019-08-07 03:02] drakedevel commented on #575
Sorry, this explanation is bogus -- I misread my `kubectl` output and `kube-proxy` is running fine. I am still seeing this in `ipamd.log` (with the result that the node is NotReady):
[code]

The cluster worked fine with 1.5.0 w/ Kubernetes 1.15.0, but I need to investigate more tomorrow. Will update here when I figure out what happened -- sorry for the noise!

[2019-08-07 03:05] mogren commented on #575
@drakedevel Ok, thanks for the follow up.

We did test v1.5.2 quite a lot, both on new clusters and upgrading from older versions. I'll close this issue since since kube-proxy does start, but feel free to open another issue if you can't figure out why ipamd can't talk to the api-server.

[2019-08-07 03:31] mogren commented on #282
@edmorley Hey, thanks a lot for the tip. We can definitely bump the kubelet version in the worker node AMI before the the controlplane gets updated.

[2019-08-07 03:33] drakedevel commented on #575
@mogren It looks like the actual issue is that the `aws-node` pods started up faster than the `kube-proxy` pods, so the API server was unreachable initially. The `aws-k8s-agent` process apparently crashes when this happens (the process was gone when I looked), but `install-aws.sh` doesn't notice and continues to poll forever.

Everything works fine if the pod is manually deleted, but the node is b

[2019-08-07 03:42] mogren commented on #575
@drakedevel You are right about the time-out.. I had another approach in this PR: #576

[2019-08-07 03:45] mogren commented on #575
@drakedevel An image with that change is available in my ECR repo, `973117571331.dkr.ecr.us-west-2.amazonaws.com/amazon-k8s-cni:v1.6.0-rc1` if you would like to test in your dev cluster. That image is latest mainline + #576. If ipamd fails to come up, it should just exit and restart.

[2019-08-07 04:30] drakedevel commented on #575
@mogren works like a charm! Rolled out a fresh cluster the exact same way but with the new image, got the same timeout error, and the pod restarted as expected until `kube-proxy` started up.

[code]

[2019-08-07 04:44] mogren commented on #575
@drakedevel Thanks a lot for verifying!

[2019-08-07 04:46] drakedevel commented on #575
No problem at all, thanks for the quick fix! :smile:

[2019-08-07 16:20] stefansedich commented on #547
Just experienced this on a new node that was autoscaled up and attempting to run a pod, appeared to start up just fine right after. I am assuming something was not initialized on time but will have to dig further.

[2019-08-07 18:51] lilley2412 opened #579 "CNI 1.4 custom networking not adding secondary ENI's with EKS 1.13"
Custom networking in CNI 1.4 was working with EKS 1.13 until very recently (I just noticed the breakage on 8/6).  I don't think this is a problem with CNI per-se, but maybe due to recent EKS patches on 8/3?  Updating to 1.5.2 fixes the issue, which is good enough for me, but just wanted to document in case anyone else runs into the same thing. (edit: this is impactful because anyone running custom

[2019-08-07 19:28] lilley2412 commented on #579
I had also opened a support ticket for awareness, just learned that a notification was sent out to accounts with EKS clusters that I did not receive, warning users to upgrade to 1.5.1 prior to breakage.

[2019-08-07 19:28] #579 closed

[2019-08-07 20:40] mogren commented on #187
Closing in favor of #331 that has more discussion.

[2019-08-07 20:40] #187 closed

[2019-08-07 20:41] vsiddharth commented on #82
@cjbradfield Could you please provide additional details on what use-case you are planning to solve? Any details on the observed incompatibilities would help us dig into this further.

[2019-08-07 20:48] mogren commented on #159
We are currently working on an e2e test suite for the CNI where this could be added. @tiffanyfay

[2019-08-07 20:51] seancurran157 commented on #575
@mogren I tried using the rc and we are getting the following error on some pods

aws-node logs
[code]

kubectl describe po datadog-zpfxm -n cloudplatform-system
[code]

[2019-08-07 20:54] jaypipes commented on #265
Closing this issue out. Seems original questions have been answered.