[2021-11-09 17:33] chlunde commented on #1644
@cgchinmay nice work! I only noticed the last delete event, which was why I was worried about race conditions and overlapping use of the same VLAN and potential slowness of pod starts after restart. I notice that bottlerocket tests are run weekly, so I hope that will prevent regressions.

I've run the updated PR and done quite a few restarts, I have not yet run into any issues (except the unrelate

[2021-11-09 17:34] cgchinmay commented on #1644
Thanks for confirming.

[2021-11-09 19:05] jayanthvn commented on #1734
@ruster-cn - The eth0 with Mac ending 71:18 is pod side Veth and the eni o/p on the host ending a4:21 is host side Veth.

[2021-11-09 19:08] jayanthvn commented on #1725
#1698 will be part of v1.10.1 and that should prevent this issue. As @achevuru mentioned the env variables will be included in the v1.10.0 default manifest upon release.

[2021-11-09 19:08] #1725 closed

[2021-11-09 19:12] jayanthvn commented on #1709
@NagarajBM - Can you please share the correct log file?

[2021-11-09 19:22] jayanthvn commented on #1572
@therc - Can you please share the instance logs? You can run this script - `sudo bash /opt/cni/bin/aws-cni-support.sh`

[2021-11-09 19:26] jayanthvn commented on #1532
@skydacremam - Can you please confirm if the issue is still happening? If so, can you please run this script on the instance - `sudo bash /opt/cni/bin/aws-cni-support.sh` and share us the logs?

[2021-11-09 21:11] fitchtech opened #1738 "vpc-cni 1.10.0 upgrade fails"
EKS 1.21 cluster with cert-manager deployed when upgrading the VPC-CNI addon from 1.9.1 to 1.10.0 new pods in daemonset get the following error and fail to start:

`{"level":"info","ts":"2021-11-09T21:01:59.568Z","caller":"entrypoint.sh","msg":"Validating env variables ..."}
{"level":"info","ts":"2021-11-09T21:01:59.569Z","caller":"entrypoint.sh","msg":"Install CNI binaries.."}
{"level":"info","ts

[2021-11-09 21:28] achevuru commented on #1738
@fitchtech Did you apply the correct manifest? Or did you update the image tag in the 1.9 manifest?

[2021-11-09 21:32] fitchtech commented on #1738
@achevuru I did it as an upgrade to the EKS Cluster VPC-CNI Add-on
![image](https://user-images.githubusercontent.com/51519562/141008224-cdce7e25-fb7d-46fe-b3bc-0d0303173416.png)
![image](https://user-images.githubusercontent.com/51519562/141008315-d0c0fddf-1d38-4dd6-8b31-98da809cbd0b.png)

[2021-11-09 21:48] fitchtech commented on #1738
@achevuru
Once the update timed out after an hour and failed I was able to update to 1.9.3 without issue. So it appears to be an issue only when trying to update the vpc-cni add-on to 1.10.0

I do have cert-manager with the aws-pca plugin deployed to this EKS cluster. Based on the error message looks like it's trying to hit the cert-manager endpoint for some reason now though that URL doesn't look

[2021-11-09 21:55] achevuru commented on #1738
@fitchtech Yeah, there is a known issue with Managed addon CNI manifest for v1.10. Will update here once the issue is addressed.

[2021-11-09 22:01] fitchtech commented on #1738
@achevuru it's strange nothing is mentioned in the release notes regarding cert-manager or known issues. Doesnt seem to be an issue with the add-on when using 1.9.1 or 1.9.3 however, that works just fine. You should be aware that the console now puts a big banner that there's an update to this add-on. Doing that update would then break anyone with cert-manager deployed, which is a very commonly us

[2021-11-09 22:06] achevuru commented on #1738
@fitchtech Issue is not tied to cert-manager or v1.10 image itself. It is due to an issue in the Managed add on manifest used for v1.10.0. Managed add on change was already in the process of roll back when you upgraded your cluster. I believe the rollback is already complete. It'll be enabled once the issue is addressed.

[2021-11-09 22:23] fitchtech commented on #1738
@achevuru good to know, looks like the rollback has been completed as I'm no longer seeing that add-on version listed

[2021-11-09 22:35] haouc commented on #1662
@kakarotbyte, just a quick update. A engineer in our team has made some progress on this support. We are having meeting this week to finalize the design and implementations. We will provide the update for further timelines.

[2021-11-09 22:37] kakarotbyte commented on #1662
Thank you for update @haouc

[2021-11-09 22:47] haouc commented on #1556
@grosser thanks for all information. Since this is not generally applicable, I don't think we can add this hook into the VPC CNI manifest at this moment. Please feel free to let us know if you think otherwise.
I am closing this ticket for now. If you still have concern, please feel free to re-open it. Thanks.

[2021-11-09 22:47] #1556 closed

[2021-11-09 23:42] cgchinmay commented on #1716
For now, to be able to launch the c6i instances, you will have to use a launch template for creating the nodegroup with following UserData script. This is how you can use c6i.large. After this cni should work without any update.
Let us know if you see any errors
[code]

[2021-11-10 02:18] ruster-cn commented on #1734
But I think the eth0 of pod on eks is the same as the MAC address of ens.
![image](https://user-images.githubusercontent.com/58843667/141037434-0dc1c2e8-4b30-4298-8cb5-ffacfaebf3f6.png)
![image](https://user-images.githubusercontent.com/58843667/141037462-2941f1a9-cbf6-4ae2-8aca-153947d3b0ea.png)

[2021-11-10 11:01] renanqts commented on #1694
@cgchinmay I tried here.
I was faced with the error below

[2021-11-10 12:34] rmenn commented on #595
Had the same problem, reached out to aws they confirmed it and said they have no eta for the fix. Just thought i would update the thread with the info incase someone else had the problem

this is what they suggested
[code]

[2021-11-10 12:54] lukeprentice202 commented on #1716
Thanks @cgchinmay that worked :) I assume this is just a temp workaround till the list is generated with all the available instances?

[2021-11-10 16:41] singhswg commented on #1738
Not sure if i should open a new issue but i tried to create a new cluster 1.21 which tried to install the latest cni plugin 1.10 but the nodes come up with `NotReady` status and the kubelet complains about cni -
[code]

[code]

This was working fine when i create the cluster yesterday so i am sure this is related to the new cni 1.10 version.

[2021-11-10 17:08] cgchinmay commented on #1716
Yes, I do see the [list](https://github.com/awslabs/amazon-eks-ami/pull/796) has been updated, A new eks-ami will be released soon to have this information

[2021-11-10 17:37] jsidhu commented on #1738
@singhswg can you confirm if the cluster was upgraded to CNI v1.10 via Managed Addons?

[2021-11-10 17:44] achevuru commented on #1738
@singhswg I just tried creating a 1.21 cluster in PDX and it came up fine (with v1.10). Did you upgrade your existing cluster? (or) is this a new cluster create?

[2021-11-10 18:42] vikasmb commented on #1738
@singhswg

I created a new 1.21 cluster in us-west-2 region using eksctl and it came up fine.

[code]

Could you please share more details on the issue you encountered ?

[2021-11-10 18:47] singhswg commented on #1738
I used the aws-eks terraform [module](https://github.com/terraform-aws-modules/terraform-aws-eks) v17.22.0 to spin up this cluster. Didn't use any managed addons so whatever comes default with the terraform module was used.

This was a new cluster creation; didnt upgrade CNI specifically from 1.9.3 to 1.10.1. Yesterday morning the creation worked without issues and today morning i encountered the

[2021-11-10 18:53] vikasmb commented on #1738
@singhswg Thanks. Could you open an AWS support ticket if you have access to that ?
Otherwise, can you run the commands in https://github.com/aws/amazon-vpc-cni-k8s/blob/master/docs/troubleshooting.md#troubleshooting-cniipamd-at-node-level and share the results ?

[2021-11-10 18:56] singhswg commented on #1738
Sure i'll try to get more data when i recreate the cluster again/or just upgrade CNI to 1.10.0 again. Also after some reading, looks like they dont support [addons](https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/eks_addon) in the EKS terraform module yet.  A case seems to already be open  - https://github.com/terraform-aws-modules/terraform-aws-eks/pull/1443

[2021-11-10 19:36] achevuru commented on #1738
@singhswg  Are you using Custom AMI?

[2021-11-10 19:36] achauvin-wish opened #1739 "ipamd checks for wrong error code when subnet is full"
**What happened**:

I believe that ipamd is not supposed to attempt to create a new ENI when it tries to allocate cidr blocks to existing ENI and sees that the subnet is out of availale IPs.

I recently ran into this scenario and noticed that ipamd still attempted to create new ENI after the ip allocation call failed.

This is likely due to ipamd checking for [this](https://github.com/aws/amazon-v

[2021-11-10 19:38] singhswg commented on #1738
@achevuru I am using AWS provided EKS optimized AMI.

[2021-11-10 19:48] jayanthvn commented on #1739
@achauvin-wish - We can add error code check for `InsufficientFreeAddressesInSubnet` along with `InsufficientCidrBlocks`. I think similar to `InsufficientCidrBlocks` we can retry after 2 minutes on the existing ENI for allocating IPs.

[2021-11-10 20:07] vikasmb commented on #1738
I tried the example in https://github.com/terraform-aws-modules/terraform-aws-eks/tree/master/examples/complete to create a new EKS 1.21 cluster in "us-west-2" region. Cluster creation was successful and nodes became ready. I verified that CNI image was set to 1.10.0 in this cluster.

[2021-11-10 20:26] singhswg commented on #1738
I am doing the same thing too but i'll try to replicate again at some point today/tomorrow - just fyi i used module version v17.22.0 and AMI ID - ami-05de3fef5bb9d43a

[2021-11-10 22:42] singhswg commented on #1738
I tested again and encountered the same issue.

`terraform`  version - `1.0.9`
`aws` provider - `3.63.0`

[code]

Tried downgrading cni to 1.9.3 and that fixed the issue. This is the same code that had been working for weeks until today so I am sure nothing really changed on my end. Let mw know if i should try something else here.

[2021-11-10 22:44] achevuru commented on #1738
@singhswg Can you check if you've IMDSv1 access disabled?

https://github.com/aws/amazon-vpc-cni-k8s/blob/master/docs/troubleshooting.md#imds

[2021-11-10 22:46] singhswg commented on #1738
I have `IMDSv2` enabled on the cluster nodes

[2021-11-11 01:06] fitchtech commented on #1738
@singhswg when you create an EKS cluster with Terraform it does not install any EKS add-ons. After the EKS cluster is created and before creating the EKS node groups apply an aws_eks_addon resource with the specific version pinned.

Side note, for the CoreDNS addon it must be created after at least 1 node group is created whereas the VPC-CNI and Proxy addons can be applied before the node group is

[2021-11-11 06:28] dtnyn commented on #1724
Maybe a better description of the problem would be the difference between the init time and the time when the datastore is first populated with. We're seeing an average wait of up to 3 minutes when `WARM_IP_TARGET` override is enabled compared to the average 30-60 seconds of the default `WARM_ENI_TARGET=1` on `m5.xlarge`

### Examples:

#### `WARM_IP_TARGET=5` `MINIMUM_IP_TARGET=25`

**Node 1:**
[

[2021-11-11 11:42] renanqts commented on #1694
I had to mount the /dev into the container too, it solved the issue mentioned before.
@cgchinmay thanks for you help

[2021-11-11 11:42] #1694 closed

[2021-11-11 16:07] jabdoa2 commented on #1425
Same issue here on Kubernetes 1.20 using kops. Under moderate load (50-70% cpu load) aws-node restarts sporadically. Depending on cluster size there can be a few hundred restarts per day.

[2021-11-11 17:16] singhswg commented on #1738
@achevuru I tested the `1.10.1` release and that seems to have fixed my issue. For now, I am using the `1.9.3` version as @fitchtech suggested using `aws_eks_addon`.

Thank you guys.

[2021-11-11 19:48] abhipth opened #1746 "Network connecitvity for some Pods using SGP broken from v1.8+"
**What happened**:
With Pod SGP/ENI + amazon-vpc-cni-k8s v1.8+ seeing network connectivity to the Pod not working. The issue doesn't happen in v1.7.10.

**Attach logs**
Pod IP: `10.0.47.82`
Host IP: `10.0.0.33`
Pod ENI Annotation:
[code]

Error from Pod:
[code]

IP Rule
[code]

IP Route
[code]

Packet Drops Increase drops when sending packets to Pod
[code]

**What you expected to happen**:
Network

[2021-11-11 22:32] tomiszili commented on #1425
I got the I have this issue on t3a.medium managed node groups, I got the first error on cni `v1.7.5-eksbuild.1` then i tried `v1.9.3` then tried with increased timeout second as above mentioned, all of these method I cannot fix this issue.

Then I terminated all of my managed instances, and now only the kube-proxy started.

This is the describe output for the aws-node, after the manual termination

[2021-11-12 00:23] jayanthvn commented on #1425
@tomiszili - Can you please open a support ticket and we can setup a call to debug your cluster?

[2021-11-12 02:22] vinayan3 opened #1748 "Support for G5 Instance Types"
**What would you like to be added**:
Support for G5 instance types. https://aws.amazon.com/blogs/aws/new-ec2-instances-g5-with-nvidia-a10g-tensor-core-gpus/

**Why is this needed**:
Currently the EKS bootstrap script has to add the instance to the max pods file like
[code]

*Note*: The ENI value was simply copied from the g4 for simplicity and likely could be wrong because this is a newer instance

[2021-11-12 02:27] cgchinmay commented on #1748
The solution you have pointed out is to have Node in ready state. Could also create an issue on this repo : https://github.com/awslabs/amazon-eks-ami/issues . The eks-ami needs to have this information built in.
Similar to : #1716

[2021-11-12 15:40] #1709 closed

[2021-11-12 19:52] kspradheep commented on #1627
I'm also experiencing the same issue. Also, unable to install the Calico CRDs:
kubectl apply -k github.com/aws/eks-charts/tree/master/stable/aws-calico/crds

error: evalsymlink failure on '/private/var/folders/l2/0x9z7mhj54s_2hx2c35ql14hc83n7w/T/kustomize-076783641/tree/master/stable/aws-calico/crds' : lstat /private/var/folders/l2/0x9z7mhj54s_2hx2c35ql14hc83n7w/T/kustomize-076783641/tree: no such

[2021-11-13 20:24] veshij commented on #1700
@jayanthvn could you please assist with PR review? There are no updates for more than a week :-(

[2021-11-13 20:49] jayanthvn commented on #1700
Sorry about the delay. I will follow up this week.

[2021-11-15 08:17] johngmyers opened #1750 "Unable to egress packets from pod"
**What happened**:

Brought up IPv6-only cluster. Pods are unable to egress network traffic, not to nodes, other pods, services, or the Internet.

**Attach logs**

**What you expected to happen**:

IPv6 Traffic to egress pod, to nodes, other pods, services, and the Internet.

**How to reproduce it (as minimally and precisely as possible)**:

* Create IPv6 cluster using https://github.com/johngmyer

[2021-11-15 08:18] johngmyers commented on #1750
[Uploading eks_i-06dc3f1b5f458ccd4_2021-11-15_0733-UTC_0.6.2.tar.gz…]()

[2021-11-15 08:18] johngmyers commented on #1750
[eks_i-06dc3f1b5f458ccd4_2021-11-15_0733-UTC_0.6.2.tar.gz](https://github.com/aws/amazon-vpc-cni-k8s/files/7536987/eks_i-06dc3f1b5f458ccd4_2021-11-15_0733-UTC_0.6.2.tar.gz)

[2021-11-15 15:58] johngmyers commented on #1750
[code]

[2021-11-15 16:05] johngmyers commented on #1750
[code]

[2021-11-16 15:20] MaciejKucia commented on #1425
While I wait for the support I wonder if there is any progress.

[2021-11-16 15:34] avivgold098 commented on #1716
@cgchinmay
Hey! I'm running with `kops` using the official `Ubuntu` is it relevant also?
Started the instance with no issues on the vpc cni

[2021-11-16 19:10] cgchinmay commented on #1716
No, Its relevant only if you are using eks-ami

[2021-11-16 19:12] achevuru commented on #1734
@ruster-cn Can you elaborate on your question? Are you saying the host side eni(veth) device/interfacde and Pod's eth0 have the same MAC address?

[2021-11-16 19:33] cgchinmay commented on #1716
Closing this issue, you can track the eks-ami release [here](https://github.com/awslabs/amazon-eks-ami)

[2021-11-16 19:33] #1716 closed

[2021-11-16 19:34] cgchinmay commented on #1748
Closing this issue, as it can be tracked as part of [eks-ami release](https://github.com/awslabs/amazon-eks-ami/issues). vpc-cni doesn't block the usage of this instance

[2021-11-16 19:34] #1748 closed

[2021-11-16 21:11] suryakiran1006 opened #1755 "Failed to create pod sandbox, networkPlugin cni failed to set up pod <pod-name> network: add cmd: failed to assign an IP address to container when many IPs are present in subnets of EKS VPC"
@jayanthvn  @srini-ram - Apologies if I tagged your name unnecessarily but I am trying to solve this issue for last two weeks. Please provide some pointers

**What happened**:
Failed to create pod sandbox: rpc error: code = Unknown desc = failed to set up sandbox container "e6f10db086b5b2c9475f6a1ce73facd840e680f2438da514e3ef17e8611c1249" network for pod "mlflow-7d6b7f6d5c-tn4b8": networkPlugin cn

[2021-11-16 23:50] srini-ram commented on #1755
@suryakiran1006 - Can you send log files to ramabad@amazon.com and @achevuru (achevuru@amazon.com).

[2021-11-17 01:04] connatix-cradulescu commented on #1245
So the issue occurs in the situation you are using the CNI AWS plugin.  From the start I can tell you is not a technical issue but more a planning issue. You did not take into consideration that the growth of your cluster will drain out the subnet(s) of the cluster.

How this error appears:

The node that is the pod scheduled for is on the cluster for a certain period of time, let's say  1 day.  I

[2021-11-17 01:29] achevuru commented on #1755
@suryakiran1006  I see that you're using SGPP and the Pod did get an IP address. It is failing liveness/readiness probes. You're on 1.21 clusters where the exec timeout is enforced and you're using default `1s` timeout for both the probes - you need to adjust them accordingly. Please refer to - #1425
[code]

[2021-11-17 06:37] Jaeyo opened #1756 "log rotation problem"
in cni, lumberjack used for log rotation.
but lumberjack assumes that only one process is writing to the output files. but cni can executed with multiple processes.
so the log rotation results in improper behavior.

[2021-11-17 07:23] suryakiran1006 commented on #1755
@srini-ram sent with subject starting with "Github Issue - 1755"

[2021-11-17 10:07] suryakiran1006 commented on #1755
@achevuru As per the instructions given in https://aws.amazon.com/premiumsupport/knowledge-center/eks-cni-plugin-troubleshooting/, aws-node seems to be working fine as number of restarts is 0 even though kubectl describe pods aws-node shows Readiness Probe failed.
I increased the timeoutSeconds for larribas/mlflow:1.7.2 to 999999 but Liveness and Readiness probes are still failing

[2021-11-17 15:00] sarbajitdutta commented on #1425
@jayanthvn I hit the problem again while updating the managed nodes -
K8 version 1.20
`vpc-cni - v1.9.3-eksbuild.1`
![image](https://user-images.githubusercontent.com/16959056/142224784-d03beabc-b2b3-4a6e-b2fe-fcbb2939da7b.png)

[2021-11-17 17:51] achevuru commented on #1755
@suryakiran1006 Have you verified the liveness/readiness probes paths you're using? Are they working? I also see below in the pod spec you shared..

[code]

Have you verified if the application pod/container is actually up and running when the probes are failing? You can manually try to reach out to the probe paths you are using in your spec and see if it is behaving as intended.

[2021-11-17 18:19] suryakiran1006 commented on #1755
@achevuru While installing the helm chart without SGPP, everything is working without any problems - even the probes. After implementing SGPP, mlflow pods are failing and I cannot get into them either. After removing the probes, I am not getting any errors and I can even access the RDS from within the probe. However when I remove probes from the deployment, I have noticed that the Events section o

[2021-11-17 18:38] achevuru commented on #1755
@suryakiran1006 I do see `DISABLE_TCP_EARLY_DEMUX` is set to `true` under `init` container and that is all that should be required for TCP probes to work. Did you try manually reaching out to the probe(s) endpoints with SGPP? Is the request reaching the container? When you say you can't get in to the pods, you mean `kubectl exec` fails? Did you verify the container is coming up as expected? Maybe

[2021-11-17 18:41] achevuru commented on #1750
@johngmyers  Was asking for `ifconfig` and `ip route` output from inside the pod. Would you be able to share that? Also, I do see you already shared `ip -6 route` and `ip neigh` output from within the pod? Did you get in to the pod via `kubectl exec`? or

[2021-11-17 18:42] suryakiran1006 commented on #1755
@achevuru will do and post the findings here

[2021-11-17 19:14] johngmyers commented on #1750
I gave you `ip route` and `ip addr` output from inside the pod. The pod doesn't have `ifconfig` installed; the `ip addr` output should be equivalent. This was all gotten from `kubectl exec`.

[2021-11-18 19:54] srini-ram commented on #1756
@Jaeyo - Can you provide bit more context on what you are seeing.  Lumberjack seems to be safe to use from multiple go routines as noted [here](https://github.com/natefinch/lumberjack/issues/25#issuecomment-223845992).  aws-node DS doesn't have multiple process. There is no supported use case with AWS VPC CNI that would require multiple instances of aws-node on same node/instance. Are you concerne

[2021-11-18 20:21] hhannani commented on #1245
I faced similar issue, and after searching online, I found this fix as my coredns configmap has upstream line in it. AWS: https://docs.aws.amazon.com/eks/latest/userguide/managing-coredns.html#updating-coredns-eks-add-on

[2021-11-18 21:56] suryakiran1006 commented on #1755
@achevuru Update - I can curl the probe endpoints successfully but I am failing to curl port 5000 which is a port of a service on the cluster which seems eerily similar to [#1695](https://github.com/aws/amazon-vpc-cni-k8s/issues/1695). Could this be the reason for probe failure?

[2021-11-19 02:05] Jaeyo commented on #1756
as you mentioned, there's only one DS per node. but the cni binary file is executed by container runtime. therefore, even if there is only one DS, the cni binary may be executed several times at the same time.

to explain in more detail, DS just places the cni binary in the cni bin path of work node. when new pod created, container runtime execute cni binary with parameter (CNI_COMMAND=ADD) and ne

[2021-11-19 05:29] johngmyers commented on #1750
Ah, from inside the non-host-network pod.

On a new cluster, running v0.10.1:

[code]

That pod's node has:

[code]

[2021-11-19 05:42] achevuru commented on #1755
@suryakiran1006  You mentioned in a previous comment that you were not able to get in to pods with SGPP enabled. But it appears that you are now able to exec in to pods and are able to curl to probe endpoints via `localhost`. What changed?

As far as curl not working over service port, you have specified a protocol (i.e.,) `http` for targetPort instead of a port value. This should be your containe

[2021-11-19 05:46] achevuru commented on #1755
@suryakiran1006 You mentioned in a previous comment that you were not able to get in to pods with SGPP enabled. But it appears that you are now able to exec in to pods and are able to curl to probe endpoints via localhost. What changed?

As far as curl not working over service port, have you cross checked your SG tied to the pod? Issue you linked shouldn't be related.

[2021-11-19 06:37] suryakiran1006 commented on #1755
I increased the initialDelaySeconds to 600 seconds which gave me enough
time to get into the pod and curl the localhost. Once the 600 seconds are
up, kubectl exec terminates with error 137

As for not being able to curl to the service port, you are correct. I
wasn't able to curl into it even with a dummy pod that wasn't connected to
the security group

On Fri, 19 Nov, 2021, 11:16 am Apurup Chevuru

[2021-11-19 07:07] achevuru commented on #1750
@johngmyers Thanks for sharing the info. Will go through them and get back. We validated IPv6 on AL2 and Bottlerocket AMIs. I will check the behavior with Ubuntu AMI and will get back.

On a quick glance, I notice that there is no route for Pod IP (`2600:1f18:1e5f:8500:5256::3`) on the host. Can you confirm `ip -6 route` output included above is the entire route list? I don't see `2600:1f18:1e5f:8

[2021-11-19 07:18] achevuru commented on #1750
Going by the `ip -6 route` o/p on the initial issue comment, all the routes for individual pods are present in host netns. So, I'm assuming the `ip -6 route` o/p isn't copied in it's entirety in the latest comment. I don't see anything missing except that we've an `fe80::/64` via `v4if0` as well but that should be alright.  Can you share o/p of `/proc/sys/net/ipv6/conf/all/forwarding` and also for

[2021-11-19 14:32] nserev opened #1758 "Hardcoded settings in custom-resources.yaml for aws-calico"
Following the examples and documentation I expected that if I put settings in the installation section of the values.yaml file for aws-calico, those settings will be applied. For example in the default values.yaml we have:

[code]
I wanted to update the registry, so I can avoid the limitations of docker.io, but those settings have never been able to apply. After a bit of research I've found that t

[2021-11-19 17:20] suryakiran1006 commented on #1755
@achevuru It's working now. I had not enabled inbound traffic from cluster security group to the pod security group at probe ports. Once it was done, the whole setup started working.

Please let me know if you have any questions on this or else please feel free to close this issue.

[2021-11-19 18:07] poblahblahblah commented on #1278
Ran into this issue today.

Our issue was that someone had created a ResourceQuota on the `kube-system` namespace while testing out a change on a test cluster. Since `aws-node` AKA vpc-cni does not specify requests/limits the scheduler refused to start the pod `aws-node` pod(s).

Once we remove the ResourceQuota the cluster was able to become stable and schedule pods.

[2021-11-19 18:20] achevuru commented on #1755
@suryakiran1006  Good to hear the issue is resolved. Will close this ticket and better to track any other issues that might pop up via new/separate tickets.

[2021-11-19 18:20] #1755 closed

[2021-11-19 18:26] achevuru commented on #1278
@poblahblahblah `aws-node` has CPU request(s) specified in it's [spec](https://github.com/aws/amazon-vpc-cni-k8s/blob/master/config/master/aws-k8s-cni.yaml#L212). Which CNI version are you running?

Also, `aws-node` is a daemonset which is assigned to [system node critical](https://github.com/aws/amazon-vpc-cni-k8s/blob/master/config/master/aws-k8s-cni.yaml#L119) priority class. So, scheduler shou

[2021-11-19 18:32] poblahblahblah commented on #1278
@achevuru

Here's the exact error we hit:

[code]

We're running vpc-cni 1.9.1 on EKS 1.21.

It looks like our manifest doesn't include the limits so I get that addressed on our side!

[2021-11-19 18:37] achevuru commented on #1278
@poblahblahblah  Makes sense. It is intentional on our end to not specify any `limits` for `aws-node` so that we're not placing any upper limits on CPU/Mem for `aws-node`. It is only going to be a quick and brief burst when there is heavy pod churn activity on the node and we didn't want to cap that if it is not required. But, if you do have resource quotas - makes sense to configure them to fit i

[2021-11-19 19:16] poblahblahblah commented on #1278
@achevuru Makes sense, thanks for the info!

[2021-11-19 23:17] srini-ram commented on #1756
@Jaeyo - Thanks for sharing details.  As you had pointed out, CNI binary would need to be fixed. Once we have fix, we will report back here.

[2021-11-20 19:46] johngmyers commented on #1750
Not sure what happened there. Here's the full `ip -6 route` from the node:

[code]

[2021-11-20 19:48] johngmyers commented on #1750
[code]

[2021-11-20 20:28] johngmyers commented on #1750
[code]

[2021-11-22 04:58] jayanthvn commented on #1009
Testing closed message yml

[2021-11-22 05:42] jayanthvn opened #1762 "Testing closed issue yaml"
**What happened**:

**Attach logs**

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- CNI Version
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):

[2021-11-22 05:42] #1762 closed

[2021-11-22 05:42] jayanthvn commented on #1762
Testing closed issue yaml

[2021-11-24 15:09] tomiszili commented on #1425
I'have bumping this issue in several different accounts. Luckily this issue appears close after to the cluster creation, so it can be re-deployed easily. And after the re-deployment the issue was gone, i don't know why, and who knows when it will happen again... Maybe AWS should aware the users not to use 1.20 and 1.21 clusters because of this issue.

Our customer changed the AWS support plan from

[2021-11-24 17:39] haouc commented on #1384
Since we are actively working on the feature to support NodeLocal DNSCache and tracking the progress in the #1662, I am closing this one for now.

[2021-11-24 17:39] #1384 closed

[2021-11-24 17:40] haouc commented on #1415
@mveitas
Are you still seeing this issue? Thanks.

[2021-11-24 17:45] haouc commented on #1397
We have announced support to containerd as an option in EKS1.21 release. Please refer to [this document](https://aws.amazon.com/blogs/containers/amazon-eks-1-21-released/).

[2021-11-24 17:56] njuettner commented on #1397
@haouc that is really nice you supporting containerd for EKS but what if someone don't use EKS, you can also use CAPA without any EKS. The PR @couralex6 mentioned is still not merged, so I'm a bit confused why you're closing the issue.

Maybe I'm missing something, but I'd appreciate if someone could shed some light 🙂

[2021-11-24 18:47] haouc commented on #1397
@njuettner
You are right. My bad. I will reopen this issue. We are still working to make a clean path for customers to migrate to docker independent AWS VPC CNI.

[2021-11-25 10:22] deepshock-211120 opened #1767 "aws-load-balancer-controller crashing on RHEL8 worker node."
**Environment**:
- AWS Region: ap-southeast-1
- Instance Type(s): m5.large
- EKS Platform version: "eks.3"
- Kubernetes version : "1.20"
- AMI Version: "1.20"
- Kernel (e.g. `uname -a`):4.18.0-348.2.1.el8_5.x86_64

Hello all,

I have followed the
[amazon-eks-custom-amis](https://github.com/aws-samples/amazon-eks-custom-amis)  to create CIS-hardened (OS level) custom ami for both AL2 and RHEL8.

Wa

[2021-11-25 12:30] ChrisRamsayITV commented on #1702
Hi @jayanthvn - Is there any update on when this will be included as default? Thanks

[2021-11-26 04:48] jayanthvn commented on #1767
@deepshock-211120 - This is the correct repo - https://github.com/kubernetes-sigs/aws-load-balancer-controller for AWS LB controller.

[2021-11-26 04:48] #1767 closed

[2021-11-26 04:49] jayanthvn commented on #1702
@ChrisRamsayITV - I will check with the team and get back to you next week.

[2021-11-26 11:45] njuettner opened #1769 "CNI Prefix isn't working in region China"
**What happened**:

When trying to enable CNI prefix (IPv4 only) in `cn-north-1`, AWS CNI won't work as expected.

**Attach logs**

[code]

**What you expected to happen**:

Enable IPv4 Prefix should work.

**How to reproduce it (as minimally and precisely as possible)**:

Create a test cluster in region China and set envs to:

[code]

**Anything else we need to know?**:

I tried it on `m5.xlarge`

[2021-11-26 12:23] jayanthvn commented on #1769
@njuettner IPv4 prefix delegation is not supported in China region yet. Ref - https://github.com/aws/amazon-vpc-cni-k8s/releases/tag/v1.9.0

[2021-11-29 21:26] Shreya027 commented on #1558
Hi,
I tried reproducing the issue on v1.7.10 and v1.8.0, however, I was able to get the error when the EC2 endpoint wasn't reachable on DescribeNetworkInterfaces call. Check logs for v1.8.0 below:
[code]

I checked to see if there is any EC2  timeout issue that could be possibly prevent the error from getting logged in the case you presented. I checked this [PR](https://github.com/aws/amazon-vpc-c

[2021-11-30 00:10] veshij commented on #1700
https://github.com/aws/amazon-vpc-cni-k8s/pull/1703 implements the delayed release logic.
I'm not quite happy with the test coverage, though adding unit tests around ipamd might require some additional refactoring.

[2021-11-30 04:16] jayanthvn commented on #1700
@veshij - We are also working towards improving the test coverage. Recently this was added - https://github.com/aws/amazon-vpc-cni-k8s/tree/master/test/integration-new. This PR - https://github.com/aws/amazon-vpc-cni-k8s/pull/1759 will be adding workflow to run nightly and for each PR push.

[2021-11-30 09:32] njuettner commented on #1769
@jayanthvn Oh sorry I missed that, thanks for pointing me to that 🤗. Do you have some estimation when this becomes available in China?

[2021-11-30 15:39] jayanthvn commented on #1769
No problem :) I have reached out VPC team and will let you know once I get an update.

[2021-11-30 19:07] achevuru commented on #1734
@ruster-cn Any update?

[2021-11-30 20:02] achevuru commented on #1750
@johngmyers Thanks for sharing all the requested info. Couldn't get to it last week, will try to test with Ubuntu AMI this week and will provide an update.

[2021-11-30 20:03] achevuru commented on #1738
v1.10.1 is now available via Managed add-ons as well. Closing this issue.

[2021-11-30 20:03] #1738 closed

[2021-11-30 22:52] jayanthvn commented on #1590
@korotovsky - sorry for the delay. I haven't received the logs. Can you please run this script - `sudo bash /opt/cni/bin/aws-cni-support.sh` and email it to us?

[2021-12-02 03:44] cgchinmay commented on #1739
@achauvin-wish You can take a look at the open [PR](https://github.com/aws/amazon-vpc-cni-k8s/pull/1773). will close the issue once the PR is merged

[2021-12-02 16:31] nip572 commented on #1662
@haouc any updates on this? There are alternates that we  are developing to get Pod Sgs to work so if the release is near, we can halt our work around this.

[2021-12-03 19:22] dylanlingelbach opened #1774 "Published docker images are vunerable to ALAS-2021-1552"
**What happened**:

Published docker images are vulnerable to ALAS-2021-1552
**Attach logs**

**What you expected to happen**:
New docker images published with an updated base image

**How to reproduce it (as minimally and precisely as possible)**:
Check version of NSS in published docker image

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- C

[2021-12-03 19:44] jarl-tornroos commented on #1398
I had the same problem when using Helm, the SecurityGroupPolicy is the last to be installed. You can see it by adding the flag `--dry-run` to the Helm command.
I got the problem fixed by adding the annotation below to the SecurityGroupPolicy template.
[code]

[2021-12-06 00:00] dtnyn opened #1775 "ipamd loop creating and freeing ENI when WARM_ENI_TARGET=0 and no IP is being used on the node"
**What happened**:
When we set `WARM_ENI_TARGET=0 ` for our CNI configuration, we notice that when there is no pod on the node. The ipamd will detect that it met its requirement to request for a new ENI

[code]

However it will then delete this ENI as it is not in used due to no pod is consuming IP.

This created an issue where the ipamd will continuously create new ENI but then procceed to delete

[2021-12-06 02:13] jayanthvn commented on #1775
@dtnyn - this is a known issue - https://github.com/aws/amazon-vpc-cni-k8s/issues/1451 and @haouc is working on it. This issue can be reproduced with and without custom networking.

[2021-12-06 03:09] irl-segfault commented on #1755
@suryakiran1006 if this is related to security groups, why were some pods able to come up in your cluster but not the aws-node pods?  I just ran into this where aws-node is crashing but nothing regarding security groups has changed recently.

[2021-12-06 03:19] irl-segfault commented on #1425
I am having the exact same issue on EKS versions 1.21 with CNI v1.7.5-eksbuild.1.  Have opened a support case and will update if I learn anything.

In my case, the aws-node pods simply do not want to start up.  They hang with the following logs

[code]

[2021-12-06 18:50] veshij commented on #1700
@jayanthvn could you please assist with reviewing changes in PR?

[2021-12-06 18:51] jayanthvn commented on #1700
@veshij - yes will look into it. Thank you!

[2021-12-07 23:13] irl-segfault commented on #1425
For anyone stumbling across this issue:  you can check the ipamd logs on the node (run `sudo bash /opt/cni/bin/aws-cni-support.sh` and check in `/var_log/aws-routed-cni/ipamd.log`) and you may see some Authorization errors.  In my case, the AmazonEKS_CNI_Policy was somehow detached from the IAM Role bound to the `aws-node` service account.  No idea how this happened, but worth checking if your aws

[2021-12-08 13:04] crechandan commented on #1038
Any update on this issue :: I am also facing similar issue

- EKS Version ::  1.20.7
- AWS CNI Versions:  amazon-k8s-cni-init:v1.7.5-eksbuild.1 // amazon-k8s-cni:v1.7.5-eksbuild.1

I am deploying EKS add on using cloud formation script - below is the snippet ::

  EksClusterAddon:
    Type: AWS::EKS::Addon
    Properties:
      AddonName: !Ref EksAddonName
      ClusterName: !Ref EksClusterName

[2021-12-08 16:20] kashook opened #1782 "request to update calico-operator manifest to install calico >= 3.21.0"
Pull request #1629 added the `ANNOTATE_POD_IP` option to the aws-vpc-cni plugin to annotate pods with their IP address to address pod startup network latency with Calico. Calico has recently released version 3.21.0 (see [release notes](https://docs.projectcalico.org/archive/v3.21/release-notes/)), which includes [this update](https://github.com/projectcalico/libcalico-go/pull/1523) to actually rea

[2021-12-08 16:30] ChrisMcKee opened #1783 "Windows EKS Pod IP allocation"
**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- CNI Version
EKS Addon version - v1.10.1-eksbuild.1
- OS (e.g: `cat /etc/os-release`):
`Amazon Linux 2`
- Kernel (e.g. `uname -a`):
`Kernel 5.4.156-83.273.amzn2.x86_64 on an x86_64`

[code]

Service role is set to `Inherited from node` (attempted using a service account created by eksctl to no avail)
Nodes all have `AmazonEKS_C

[2021-12-08 16:44] jayanthvn commented on #1783
@ChrisMcKee - We will update the documentation/troubleshooting guide. This issue belongs to https://github.com/aws/amazon-vpc-resource-controller-k8s.

[2021-12-08 16:46] morganchristiansson opened #1784 "r6i instance support"
**What happened**:

[code]

**How to reproduce it (as minimally and precisely as possible)**:

Use r6i.2xlarge as eks worker type.
It's at the time the cheapest high memory class spot instance.

**Anything else we need to know?**:

I checked max-eni-pods.txt in master branch and r6i.* entires are missing

https://github.com/aws/amazon-vpc-cni-k8s/blob/master/misc/eni-max-pods.txt

[2021-12-08 16:47] jayanthvn commented on #1775
We will provide updates on #1451. Closing this issue.

[2021-12-08 16:47] #1775 closed

[2021-12-09 08:21] anjmao commented on #1784
I wonder what was the reason for such architecture of hardcoding instance types. Now each time new instance comes in we need to update ami and vpc cni plugin. Have you thought about moving these hardcoded values to instance metadata service?

[2021-12-09 11:05] markussiebert opened #1786 "Which chart should I use to install the vpc cni? Docs missing"
I use helm charts for managing the vpc cni but no I am confused what chart to use:

We have helm charts inside this repo and here: https://github.com/aws/eks-charts/tree/master/stable/aws-vpc-cni

It would be nice to know which chart is the prefered one to use with the cni and where it is published.

Wouldn't it be good to deprecate one and link to the other?

[2021-12-09 19:53] Shreya027 commented on #753
/assign oliviassss

[2021-12-09 20:13] oliviassss commented on #753
/assign

[2021-12-09 20:52] Shreya027 commented on #1786
All code changes are made in amazon-vpc-cni upstream repository, we sync the changes to the eks-charts repository during release.

[2021-12-09 22:49] yeoji commented on #1425
This was the suggestion that AWS support provided to me as well, and I was told their internal team is working on resolving the bug.

After I made the change to set cpu requests to `50m`, I noticed that it switched back to `25m` automatically after a while (perhaps because I am using the CNI plugin). Were you able to make a permanent change to the cpu requests to `50m`?

[2021-12-09 23:16] Nuru opened #1788 "UDP responses fail to reach client"
**What happened**:

NLB configured to pass UDP to pod using Amazon [Load Balancer Controller](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.3/) in `nlb-ip` mode. Client UDP traffic reaches pod, but UDP responses do not reach client.

**Attach logs**

See AWS Support case ID 9327971531

**What you expected to happen**:

Bidirectional UDP communication.

**How to reproduce it (as

[2021-12-10 03:24] Nuru commented on #1788
Looks like this was caused by [breaking changes in ALB controller](https://github.com/kubernetes-sigs/aws-load-balancer-controller/releases/tag/v2.2.0) and its poor handling of annotation modifications. Particularly confusing and important was the requirement to replace
[code]
with
[code]
when changing a v2.1 configuration to a v2.2 configuration, along with the requirement that if you deployed a

[2021-12-10 03:24] #1788 closed

[2021-12-10 04:33] hiattp commented on #1447
We're seeing a similar/related issue but have cases where none of the active pods have ENIs that are attached to instances (the node has 2 ENIs with 10 and 1 private IP addresses respectively, and there are 13 pods on the node none of which use those ENIs). Not sure if this is actually the same issue but we've raised a support ticket (9328577341). The original reason we raised the ticket was due t

[2021-12-10 06:28] tomiszili commented on #1425
Hello @yeoji

According to the aws support they told me that I have to delete all the node groups, then edit the aws-node and then create new nodegroups. In my opinion it is a strick way but gives a fresh start for the problem

I think kubernetes rollbacks the edited one for you, because it is not stabilize. I guess if you delete the old aws-node deployment and apply the new one with 50m that shou

[2021-12-10 15:22] sean-redmond opened #1790 "PostStart lifecycle hook running before pod networking is fully ready"
My pod needs network connectivity to start and I am using a postStart lifecycle hook that waits until it is ready and then does something that needs network connectivity. However it seems networking fails to be operational when using this postStart lifecycle hook, the below is a simple test case to see the issue:

[code]

I send stdout to the stdout of pid1 just so its easy to grab the logs:

[cod

[2021-12-11 10:44] GoGoPenguin opened #1791 "AWS EKS - add cmd: failed to assign an IP address to container"
**What happened**:

Failed to create pod sandbox: rpc error: code = Unknown desc = failed to set up sandbox container "efafab567a68ffb237e67050c4d70d2d1084bf1aca3631b74e5a0802146d150a" network for pod "xxx-9d8b7c98d-j8ldn": networkPlugin cni failed to set up pod "xxx-9d8b7c98d-j8ldn_default" network: add cmd: failed to assign an IP address to container

[eks_i-089d9482970086cc5_2021-12-11_1011-UTC

[2021-12-12 21:42] Shreya027 commented on #1791
Hi, I went through the logs but I couldn't locate the sandbox container you mentioned in the issue. However, I did find  similar scenarios for a number of sandbox containers.

It seems like the pattern of the error occurrence is of the following form in ipamd.log:

- Initially there in an AddNetworkRequest received by IPAMD
[code]

- The enis don't have available addresses to assign to the sandbox

[2021-12-12 21:43] Shreya027 commented on #1791
I'm looking into the reason as to why the enis does not have available addresses

[2021-12-12 22:19] Shreya027 commented on #1790
Hi,
From my research on hook execution, I read that for a PostStart hook, the Container ENTRYPOINT and hook fire asynchronously. We have an entrypoint.sh script (https://github.com/aws/amazon-vpc-cni-k8s/blob/master/scripts/entrypoint.sh) in the VPC CNI repo. The script exists so that  we start the IPAM daemon and wait until we know it  running successfully before copying the CNI plugin binary and

[2021-12-13 01:07] GoGoPenguin commented on #1791
@Shreya027 Thanks for quick response.

[2021-12-13 02:19] jayanthvn commented on #1791
@GoGoPenguin -

Instance type is `t3.medium` which supports 3 ENIs and 5 secondary IPs so 15 IPs will be available.

Based on the state file - `192.168.68.129` is available hencethe log line -

[code]

Additional ENIs cannot be added since max of 3 ENIs are reached.

`192.168.68.129` was last freed at `2021-12-10T15:50:55.701Z`-

[code]

At this time 2 IPs are in cool down - `Cooldown = 2`

Out of

[2021-12-13 03:51] GoGoPenguin commented on #1791
@jayanthvn

Okay, I tried to redeploy my pod. I have sent the log file to <aws-security@amazon.com>

- Re deploy

[code]

- Describe

[code]

[2021-12-13 05:44] cgchinmay commented on #1786
@markussiebert
We usually sync the charts in these 2 repos. It seems there could have been a miss in syncing vpc-cni [Chart](https://github.com/aws/amazon-vpc-cni-k8s/tree/master/charts/aws-vpc-cni) with the [repo](https://github.com/aws/eks-charts/tree/master/stable/aws-vpc-cni that you pointed out.  Let me check on that and fix it.

For you information, this is the latest helm [chart:](https://g

[2021-12-13 07:12] crechandan commented on #1425
Issue with AWS CNI - when added using Cluster Addon via CloudFormation :

Any update on this issue :: I am also facing similar issue

**EKS Version** :: 1.20.7
**AWS CNI Versions**: amazon-k8s-cni-init:v1.7.5-eksbuild.1 // amazon-k8s-cni:v1.7.5-eksbuild.1

I am deploying EKS add on using cloud formation script - below is the snippet ::

[code]

I am not providing any addonversion and by default ab

[2021-12-13 17:35] achevuru commented on #1790
Hook should execute post the container is created and that should happen post the Pod's networking is setup. kubelet will not proceed with further setup until CNI was able to successfully setup Pod networking. CNI doesn't control the order of container lifecycle hook executions...

Have you checked if you are able to reach `8.8.8.8` from within the pod? You can remove the `PostStart` hook and let

[2021-12-13 17:53] Shreya027 commented on #1791
Hi @GoGoPenguin, can you resend logs to `k8s-awscni-triage@amazon.com` instead. Thanks!

[2021-12-13 22:37] kumarpmd commented on #663
@jayanthvn Please let us know if there are any updates to this issue.

EKS cluster deployed with v1.9.0 amazon-k8s-cni and pods blocked from IMDS. cni-metrics-helper deploys, but reports failure for EC2MetadataRequstError.

cni-metrics-helper will be useful to monitor the enis and ips associated with EKS deployment.  Thank you.

[code]

[2021-12-14 00:14] GoGoPenguin commented on #1791
@Shreya027 Done. Thank you.

[2021-12-14 00:48] jayanthvn commented on #663
@kumarpmd - This will be https://github.com/aws/amazon-vpc-cni-k8s/pull/1715 released as part of 1.10.2 and should fix your issue. We are working on the release.

[2021-12-14 02:11] cgchinmay commented on #663
@kumarpmd Hi, we have released a private image to test this fix. Could you try with this cni-metrics-helper image tag to this: v1.10.2-rc1 ?

[2021-12-14 10:05] babicamir commented on #1425
Any update on this issue!?

We have same problems.
We are using k8s jobs to run few several thousand pods for files processing.
When we scale about 100 nodes, at least 40% aws-node pods are restarted and make delay for all scaling.
When we scale over 1000 nodes, at least 60% aws-node pods are restarted and 30% are stuck in Creation status. In this scenario adding new instances or scaling, take abo

[2021-12-14 18:58] kumarpmd commented on #663
Thank you, @cgchinmay.  cni-metrics-helper:v1.10.2-rc1 with the AWS_CLUSTER_ID was deployed in a cluster with pods blocked from IMDS, and cni-helper was able to generate metrics.. Thank you again.

Should the version of vpc-cni match cni-metrics-helper?  Tested cni-metrics-helper:v1.10.2-rc1 with vpc-cni v1.9.0 in eks 1.20, and cni's svc account aws-node.  Just deployed role and bindings for aws-n

[2021-12-14 19:29] cgchinmay commented on #663
Thanks for confirming @kumarpmd , no you dont need to. Changing only cni-metrics-helper should be enough.

[2021-12-16 10:17] ettiee commented on #1702
Hi @jayanthvn is there any update on when `- --hostname-override=$(NODE_NAME)` will be included as default in kube-proxy managed add on?

[2021-12-16 21:44] Shreya027 commented on #1791
Thanks, Looking into it, will get back soon.

[2021-12-16 22:47] Shreya027 commented on #715
Closing issue as it has been addressed.

[2021-12-16 22:47] #715 closed

[2021-12-17 15:38] Shreya027 commented on #1791
So, in the new logs, I see a similar pattern as mentioned by me above, however with the following error messages:  ```Unable to get IP address from CIDR: no free IP available in the prefix``` and  ```assignPodIPv4AddressUnsafe: no available IP/Prefix addresses```

[2021-12-17 18:54] Shreya027 commented on #1791
Hi @GoGoPenguin , I see the pod is assigned successfully later, after the failed to assign IP address events:

After the IP address assignment fails for container ```56a700c514d4b769fa64f7af3daaxxxxx ``` for pod ```cityfarm-development-7997fb8976-gtgxp``` , the same pod gets IP successfully with container ID ```79d32e3aae71f0xxxxx``` as seen below:

[code]
The previous failures were because of 13

[2021-12-18 13:44] jayanthvn commented on #1784
#1781 is merged to master and is tracked for v1.11.0 release.

[2021-12-18 13:44] #1784 closed

[2021-12-18 18:31] suryakiran1006 opened #1796 "Unable to access any AWS Resources from a pod with security group"
**What happened**:
I created a cluster where a pod should read/write data from/to RDS and S3. In order to make the connection secure, I added IRSA for S3 and RDS. An additional layer of security was added by creating a security group for the pod so that it can talk to RDS. However after doing this, while the pod can write to RDS and S3 without any issues, pod can read only from RDS and not from S3

[2021-12-20 04:57] yongzhang commented on #1425
same issue after upgrade to 1.21

[2021-12-20 15:35] ErikLundJensen opened #1797 "Connectetivity to Kubernetes API service timeout"
**What happened**:

We have been running AWS CNI for months but today when scaling cluster from 0 to a few nodes we ran into the following problem.

CoreDns get timeout when trying to connect to Kubernetes API at 10.100.0.1

CNI uses 10.64.x.x networks for the pod networks.
Service CIDR is 10.100.0.0.
HostNetwork is 192.168.x.x.

When testing the connectivity from other pods we do see the same pro

[2021-12-20 20:28] cgchinmay commented on #1786
You can find the updated chart in the helm now. Closing this

[2021-12-20 20:28] #1786 closed

[2021-12-20 20:53] cgchinmay commented on #1774
Hi @dylanlingelbach which version of cni image did you find this vulnerability ?

[2021-12-20 22:34] dylanlingelbach commented on #1774
@cgchinmay `602401143452.dkr.ecr.us-east-1.amazonaws.com/amazon-k8s-cni:v1.9.3`

It looks like that image is based on `amazonlinux:2.0.20211001.0`

[2021-12-20 22:41] cgchinmay commented on #1774
@dylanlingelbach the linked CVE: https://alas.aws.amazon.com/ALAS-2021-1552.html recommends running yum update on nss package. We do yum [update](https://github.com/aws/amazon-vpc-cni-k8s/blob/2af69b263885e94e4eeae309b07807b3714c0381/scripts/dockerfiles/Dockerfile.release#L23) and I could not find vulnerability with the latest cni release. Will try to run scan against v1.9.3 and confirm this.

[2021-12-20 22:43] dylanlingelbach commented on #1774
@cgchinmay yes, I expect `yum update` would fix it. Are you suggesting we'd need to run `yum update` each time we start this container?

I think `amazonlinux:2.0.20211201.0` has the security updates applied in the image itself, so no `yum update` is needed

[2021-12-20 22:48] cgchinmay commented on #1774
@dylanlingelbach When we build the image, we already do it in the Dockerfile, so nothing needed from your side. Our current release  v1.10.x doesn't show this vulnerability as it would have already got addressed.

[2021-12-20 22:51] dylanlingelbach commented on #1774
@cgchinmay

Yes, but if a vulnerability is patched after you build the Docker image the patch won't be present unless I am missing something?

So your recommendation is to upgrade to v1.10.x?

[2021-12-20 22:52] cgchinmay commented on #1774
Yes, use the latest image v1.10.x

[2021-12-20 23:03] dylanlingelbach commented on #1774
Closing as this is fixed in the latest version of the image

[2021-12-20 23:31] cgchinmay commented on #1774
@dylanlingelbach You can use following image tag: v1.10.2-rc1 which has this fix. This is a private image release which we made recently to address the following issues.
https://github.com/aws/amazon-vpc-cni-k8s/issues/1644
https://github.com/aws/amazon-vpc-cni-k8s/issues/1644

We are working on making an official public release and that will fix this NSS vulnerability. So keeping this issue open

[2021-12-21 05:16] jayanthvn commented on #1797
@ErikLundJensen - Please let us know if it possible to open a support ticket? With the ticket if you can share the clusterARN we can verify iptables and also check if it is any known issues like this - https://github.com/kubernetes/client-go/issues/374

[2021-12-21 09:48] GoGoPenguin commented on #1791
@Shreya027 Sometimes the pod gets stuck in the ContainerCreating state and cannot get the ip from CNI.

[2021-12-21 14:03] achevuru commented on #1797
@ErikLundJensen CNI doesn't setup any IP table rules to facilitate API Server access. `kube-proxy` is responsible for that and going by the o/p you shared it does appear that there are valid endpoints behind the `kubernetes` service. Have you tried reaching out to API Server endpoints directly from the worker nodes? If so, did that work? Might be a generic connectivity issue between the worker nod

[2021-12-21 18:29] haouc commented on #1662
@nip572 sorry for the late response. We are working on the feature to support this use case now. I will provide updates soon.

[2021-12-22 14:35] jayanthvn commented on #1425
@babicamir and @crechandan - Since you are seeing during startup, can you check if kube-proxy is taking time to start leading to aws-node to restart?

You will see the below entries in kube-proxy logs -

[code]

If you see the above logs then it is a known issue where kube-proxy fails to fetch the node information and takes time to setup IP tables rules leading to aws-node connectivity failure to

[2021-12-22 16:13] ErikLundJensen commented on #1797
Yes, we are using Custom networking with CNI. The subnet in each availability zone gets a block from 10.64.x.x (for example 10.64.64.0/18), however, the service IP range is not tight to any particular availability zone and therefore gets another CIDR block.

As @achevuru wrote, it is responsibility of kube-proxy to setup the iptables for mapping 10.100.0.1 to the 192.168.0.12 and 192.168.0.91 and

[2021-12-22 19:53] sarbajitdutta commented on #1425
@jayanthvn I am seeing similar error due to kube-proxy fails to getch node information. Weird that this happens only for 1 node when cluster-autoscaler scales the nodegroup. Due to that 1 node being not ready it adds other nodes which successfully goes to Ready state but aws-node in those nodes restarted atleast once before reaches ready state. Is there any race condition happening between kube-pr

[2021-12-23 05:18] crechandan commented on #1425
Hello @jayanthvn

Strange part is that : aws-cni is working when I am deploying aws-cni directly using command ::
kubectl apply -f aws-k8s-cni.yaml (with template file reference received from Amazon Official page with below version on EKS 1.20.7  ::
- amazon-k8s-cni-init: v1.8.0
- amazon-k8s-cni: v1.7.10-eksbuild.1

But same is not working when I am adding aws-cni with the help of CloudFormation :

[2021-12-23 12:45] suryakiran1006 commented on #1796
@cgchinmay Any luck?

[2021-12-23 21:46] tsunamishaun commented on #1700
Currently seeing this in high churn environments while testing 1.10.2-rc-1 where scheduling doesn't happen, had to roll back to 1.9.x.  Weighing out whether random interface deletions (<1.10.2-rc-1) are better than no schedule of high churn pods (1.10.?).

[2021-12-24 00:07] yongzhang commented on #1425
I'm seeing a long startup time:
[code]

logs:
[code]

[2021-12-24 00:15] yongzhang commented on #1038
same issue, posted comment here: https://github.com/aws/amazon-vpc-cni-k8s/issues/1425#issuecomment-1000572066

[2021-12-24 09:43] cgchinmay commented on #1796
@suryakiran1006 haven't got a chance to try it out. Will be able to get you an update by next week.

[2021-12-24 18:32] github-amine-kherbouche opened #1799 "Inconsistent ENABLE_POD_ENI setting"
**What happened**:
Hi guys,

I'm trying to enable the support of security groups for pods by setting the environment variable `ENABLE_POD_ENI=true` following the [official documentation](https://docs.aws.amazon.com/eks/latest/userguide/security-groups-for-pods.html).
The issue is that the node label `vpc.amazonaws.com/has-trunk-attached=true` is not set consistently on all the nodes of a cluster r

[2021-12-26 02:43] jayanthvn commented on #1799
Hi,

Can you please share the logs from this node - `ip-10-0-2-175.eu-west-1.compute.internal`

You can run this command on the node - `/opt/cni/bin/aws-cni-support.sh`. The zip file can either be attached to the issue or email it to `k8s-awscni-triage@amazon.com`.

[2021-12-27 13:57] github-amine-kherbouche commented on #1799
thanks for the quick reply, I attached the zip file to my first comment

[2021-12-27 14:46] jayanthvn commented on #1799
@github-amine-kherbouche

You are running into this - https://github.com/aws/amazon-vpc-cni-k8s/blob/aad0415a10dc4d1a6cda2bbc6c8cbbe856068e03/pkg/ipamd/ipamd.go#L1191
[code]

Instance type c6g.medium has 2 ENIs as max limit - https://github.com/aws/amazon-vpc-cni-k8s/blob/2af69b263885e94e4eeae309b07807b3714c0381/pkg/awsutils/vpc_ip_resource_limit.go#L89 and there are 2 ENIs already attached.

Did

[2021-12-27 21:01] github-amine-kherbouche commented on #1799
@jayanthvn thanks for the precious hints.
Indeed the issue is related to the fact that some pods where already schedules on the node before enabling the config `ENABLE_POD_ENI`. Somehow all the pods related to EBS CSI controller and coreDNS where scheduled on that node
[code]
[code]
that implicitly forced IPAMD to increase the IP address pool thus the new ENI.
if the pods where created on the othe

[2021-12-27 23:35] cgchinmay commented on #1796
@suryakiran1006 I launched a node in private subnet and then launched a pod with security group enabled on that node. I was able to use aws s3 ls and aws sts get-caller-identity. To access internet, I had NAT gateway in this private subnet's route table as pointed in the [docs](https://docs.aws.amazon.com/eks/latest/userguide/security-groups-for-pods.html)
[code]
Were you able to access s3 with ju

[2021-12-28 13:34] jayanthvn commented on #1799
@github-amine-kherbouche - Yes it makes sense to have naming consistency. Happy to take PRs :)

[2021-12-28 14:36] suryakiran1006 commented on #1796
Yes, I read this point and was aware of this. Since I didn't know how to explicitly launch a node in private subnet and attach NAT gateway to it, I was looking for a work around. I will try this approach now. I will close it once I get my cluster, if that's ok with you.

[2021-12-28 15:41] github-amine-kherbouche commented on #1799
perfect, thanks again

[2021-12-28 15:41] #1799 closed

[2021-12-28 19:29] cgchinmay commented on #1796
@suryakiran1006 you can launch node in private subnet from the AWS console [EKS-Clusters-Configuration-Compute] You will see an option to add a nodegroup. While creating nodegroup, select private subnet from your vpc.
Once created. go to the the private subnet and check for Route table entries. You should see a NAT gateway entry already present. If not, you will have either create one in public su

[2021-12-29 14:10] TheNavigat commented on #1791
I'm experiencing a repeat of this problem without the former bit: the pod _is_ actually assigned an IP successfully, but the deletion fails

[code]

However, on deletion,

[code]

[2021-12-29 22:01] ErikLundJensen commented on #1797
I recreated the cluster from scratch using Terraform and realised that a couple of security groups were not destroyed. The result was mix of old and new security groups having the same value for Name attribute in tags, however, with different generated security group names.

[2021-12-29 22:01] #1797 closed

[2021-12-30 01:03] dbgoytia commented on #1638
Hey @nbbhall @jayanthvn I'd like to work on this, is this still open?

[2021-12-30 04:08] jayanthvn commented on #1638
@dbgoytia - Yes it is still open. Thanks for the help :)

[2021-12-31 20:36] johngmyers commented on #1223
kOps is also having problems with ENIs being leaked by amazon-vpc upon cluster deletion.

I suspect the window between creation of an ENI and attaching it with DeleteOnTermination set is also a factor.

[2022-01-03 16:23] skpy opened #1801 "Init container emits non-error messages to stderr"
**What happened**:
The amazon-vpc-cni-init container invokes [set -x](https://github.com/aws/amazon-vpc-cni-k8s/blob/ec409b0cd124923dc4f369483b4416499ab7bc3b/scripts/init.sh#L3) in `init.sh` which emits output to stderr.  Our log collection and monitoring system (DataDog) sees these messages as errors (because they're coming from stderr, not stdout) and trips our alerting threshold for number of e

[2022-01-03 16:59] jaypipes commented on #1801
@skpy What's up, Skippy? :)

[2022-01-03 17:30] jaypipes commented on #1801
I agree that it's generally poor Bash hygiene to have any non-error output be directed to `stderr`. We could either do `BASH_XTRACEFD=1` at the start of the init script or we could simply remove the use of `set -x`  entirely (as it's mostly a debug/troubleshooting need and not something that should be in production scripts). @jayanthvn what do you think?

[2022-01-03 18:37] skpy commented on #1801
I can trivially submit a PR to effect the removal of `-x` (and add `-Ss` to both curl calls, consistent with other curl invocations within this repo); but I don't have a good way to building, testing, and validating this yet.

[2022-01-03 18:47] jaypipes commented on #1801
ack, totes. I'd be good with that. just checking with Jayanth if he's good with it too.

[2022-01-03 18:57] cgchinmay commented on #1801
@skpy Thanks for bringing this up. I will talk to @jayanthvn and can actively work on this from next week. Feel free to raise a PR, if you have anything in mind. I can take it from there.

[2022-01-03 21:11] jayanthvn commented on #1801
I agree with you @jaypipes we can remove the set -x. We do have logs in stdout which shows if anything fails during init.

[2022-01-04 15:39] skpy commented on #1801
Thanks for merging my PR! Out of curiosity, when do you think this will land in a release?

[2022-01-04 22:00] brandonbell commented on #1712
Any update on this?  The issue seems to happen when there is some race condition between detaching an ENI and attaching one.  We were able to workaround the issue by setting `MINIMUM_IP_TARGET: 90` to prevent the ENIs from being detached / attached.

When the ENI is detached, the Linux route table gets destroyed but it's not getting recreated when it's attached.  Could this be some sort of caching

[2022-01-05 03:11] jayanthvn commented on #1801
@skpy - I have milestoned the PR for next upcoming release of v1.11.0. It is planned for Jan/Feb but will provide you an estimated date by next week.

[2022-01-05 15:57] suryakiran1006 commented on #1796
It's working now. Closing the issue. Thanks for your help

[2022-01-05 15:57] #1796 closed

[2022-01-06 16:17] o6uoq opened #1805 "Syntax error in environment variables in code documentation"
https://github.com/aws/amazon-vpc-cni-k8s/blob/master/pkg/ipamd/ipamd.go#L66-L69

References to `WARM-IP-TARGET` should be `WARM_IP_TARGET`

[2022-01-07 17:52] alternaivan commented on #1805
Opened PR for this:
https://github.com/aws/amazon-vpc-cni-k8s/pull/1806

[2022-01-10 19:50] Shreya027 commented on #1791
Hi @GoGoPenguin , could you please send me logs for this case you are referring to? It will be helpful for me to debug further. The logs you sent earlier had the IP assigned to pod eventually, so I didn't find any issues there.

[2022-01-10 20:16] Shreya027 commented on #1805
Closing issue as this is fixed in #1806.

[2022-01-10 20:16] #1805 closed

[2022-01-12 02:01] jayanthvn commented on #1700
@tsunamishaun - There has been no IP address strategy changes between 1.9.x and 1.10.x. Also scheduling shouldn't be impacted. If the pods aren't getting scheduled on a node then maybe max pods limit has reached or node is not ready?

[2022-01-12 14:59] zawachte-c opened #1807 "aws-k8s-agent is not properly reloading service account tokens"
**What happened**:

We recently switched our EKS clusters to using to kubernetes version v1.21, and saw the BoundServiceAccountTokenVolume kubernetes feature was turned on by default. This feature moves serviceaccounttokens from living forever to being timebound.

The kubernetes community wants to make the default duration of a serviceaccounttoken 1 hour, but was worried about breaking legacy appl

[2022-01-12 15:19] #1807 closed

[2022-01-12 15:20] zawachte-c commented on #1807
Misread the go.mod, looks like the libraries are updated in the last release.

[2022-01-12 17:12] gabrielbiasi opened #1808 "aws-node failing readness probe on "fast-paced" nodes"
**What happened**:
My aws-node pods starts failing their readness probe on nodes with a **lot of pods been scheduling and terminating**, but NOT on quiet nodes (where my main workloads actually are).

To give you guys some context:

I have a managed node group using spot instances in order to use them as runners for GitHub Actions (ref to project [here](https://github.com/actions-runner-controller

[2022-01-13 18:55] Shreya027 commented on #1808
Hi @gabrielbiasi, can you share the entire output from `aws-cni-support.sh` to `k8s-awscni-triage@amazon.com`. Thanks!

[2022-01-14 00:38] orsenthil commented on #1801
The PR https://github.com/aws/amazon-vpc-cni-k8s/pull/1802 is merged.

[2022-01-14 00:38] #1801 closed

[2022-01-14 06:43] jayanthvn commented on #1756
Thanks @Jaeyo

I was able to repro the same steps -

[code]

Previously we were using "https://github.com/cihub/seelog", I quickly did a POC with the above example by replacing lumberjack with seelog and issue is not seen. As @srini-ram mentioned we don't need this for ipamd and needed only for CNI binary.

[code]

[code]

[2022-01-15 02:09] jayanthvn commented on #1769
@njuettner - Few folks are still on PTO so will get back to you after the long weekend.

[2022-01-18 10:05] chlunde commented on #1644
@cgchinmay do you have a status update?

[2022-01-18 10:45] cgchinmay commented on #1644
@chlunde By status update if you mean official public image release(v.1.10.2) for the above fix then its scheduled for 7th Feb. But we do have a private image released with the above fix (v.10.2-rc1) and have been asking Customers to try it out until then.

Installation instructions for private image : v1.10.2-rc1
Apply this [manifest](https://raw.githubusercontent.com/aws/amazon-vpc-cni-k8s/v1.10

[2022-01-18 16:47] jayanthvn commented on #1808
@gabrielbiasi - Can you please email the logs bundle to `k8s-awscni-triage@amazon.com`. Also did you try increasing the liveness and readiness probe timeoutSeconds? - https://github.com/aws/amazon-vpc-cni-k8s/blob/master/config/master/aws-k8s-cni.yaml#L146-L163

[2022-01-18 17:04] gabrielbiasi commented on #1808
Hi @jayanthvn!
Unfortunately, I already tried to increase both liveness and readness probes, but nothing changes.
I just email you guys with the logs bundle of our nodes.

[2022-01-19 19:11] jwitrick commented on #1791
I am seeing similar behaviors for my EKS cluster.

I looked through the above outputs and the error messages are nearly identical.

Im wondering if upgrading the version from `3.19.1` -> `3.21.x` would help with the network latency and prevent pods from getting stuck in the failure state due to this networking issue.

[2022-01-19 19:20] Shreya027 commented on #1791
Hi @jwitrick, would it be possible for you to send your error logs to `k8s-awscni-triage@amazon.com` ? The logs sent earlier in the issue had the pod IP assigned eventually.

[2022-01-19 22:38] cgchinmay commented on #479
We will be releasing with cni spec 0.4.0 in v1.10.2 which is scheduled for 7th feb

[2022-01-20 10:54] crechandan commented on #1425
Hello @yongzhang,

Is your deployment of aws cni on EKS 1.21 working fine : when yiu are ding with cloud formation (like mentioned below) ?

[code]

[2022-01-20 12:03] yongzhang commented on #1425
it works anyway, but when a new node start up, aws-node will restart once because of above issue, after it restarted then everything looks good.

[2022-01-21 10:21] njuettner commented on #1397
@haouc any updates here 🙂?

[2022-01-21 19:28] Shreya027 commented on #1808
Thanks @gabrielbiasi , we are looking into the logs, will get back with the update soon.

[2022-01-21 23:09] haouc commented on #1397
Hey @njuettner thanks for checking on this. Yes, we are working on this currently.

[2022-01-22 12:03] sean-redmond commented on #1790
If I remove the PostStart hook and exec into the pod networking works as expected.

It seems the networking is just not fully up when running scripts in PostStrat phase including simple things like ping 8.8.8.8.

I moved my script from PostStart into enterypoint.sh and it works fine.

[2022-01-23 01:33] achevuru opened #1815 "Pods configured with SGPP feature running on non-Nitro instances are unable to access IMDS"
**What happened**:
Pods using SGPP feature running on non-Nitro instances are unable to access IMDS. IMDS flow for SGPP pods works as expected on Nitro instances.

**What you expected to happen**:
SGPP Pods running on non-Nitro instances that support SGPP should be able to access IMDS.

**How to reproduce it (as minimally and precisely as possible)**:
Setup a Pod with SGPP feature on a non-Nitro i

[2022-01-24 01:53] johnmanjiro13 commented on #1425
I have same issue on EKS 1.21 with vpc-cni v1.10.1.
Pods continue waiting for IPAM-D, then ReadinessProbe fails and restart.
[code]

[2022-01-24 14:08] njuettner commented on #1523
@jayanthvn I'm sorry bothering you but is there any chance to get feedback from you or the team?

[2022-01-24 14:28] jayanthvn commented on #1523
@njuettner - Sorry for the delay.

I was discussing with @achevuru. One improvement which can be done here is - Typically when IP is not available, create will fail and kubelet will send a delete. Now this delete will return an error with existing code since pod is not found https://github.com/aws/amazon-vpc-cni-k8s/blob/146b9b910a89accf2a7e6bc1199dff10a8806e6b/pkg/ipamd/datastore/data_store.go#L1

[2022-01-24 19:41] Shreya027 commented on #1790
Thanks for the update @sean-redmond ! Since it works fine for you now, I'll close the issue.

[2022-01-24 19:41] #1790 closed

[2022-01-24 21:43] virtualdom commented on #1662
Hi @haouc! Appreciate the work you all are doing on this as my team is also really interested in a resolution here. Are there any updates on this?

[2022-01-25 11:33] gabrielbiasi commented on #1808
@Shreya027 I tried up to 60 seconds and got the same results.

[2022-01-25 17:53] sean-redmond commented on #1790
I think this is still an issue, what I have is really a work around by not using the PostStart life-cycle hook, and just moving the script to run in entry point - This issue still warrants further investigation as someone may have a stronger use case meaning they need this hook and the workaround is not an option for them.

[2022-01-25 19:02] L1ghtman2k opened #1819 "calico-typha preventing cluster upgrades"
**What happened**:
This attempts to cover a similar topic as https://github.com/aws/amazon-vpc-cni-k8s/issues/1598.

Calico-tigera schedules typha workloads on tainted nodes, hence preventing cluster upgrades:
https://github.com/tigera/operator/issues/1441
https://github.com/projectcalico/calico/issues/4695

This issue could be resolved by using `controlPlaneTolerations` that were introduced in `v

[2022-01-25 20:11] M00nF1sh commented on #1662
Hi, we are working on this and ETA is Q1 2022.

The resolution is to provide a new SGPP mode where users need to opt-in by set an environment variable. Once opted-in, the SGPP pods will behaves same(routing rules) as normal pod(based on secondary IPs and normal ENI), except it's based on a dedicated branch ENI.

[2022-01-26 00:39] sidewinder12s commented on #1724
@dtnyn Have you given the new IP prefix's a try/do they have similar delay? I expect I might be experiencing similar delays as we have the same type of config in our clusters.

[2022-01-26 03:16] orsenthil opened #1821 "TestIPAMContext_nodeIPPoolTooLow is flaky, and relies on the order of the output for assertion"
**What happened**:

Exercising this test https://github.com/orsenthil/amazon-vpc-cni-k8s/blob/8c1be691b618ac97914e297a59f68395f75faed8/pkg/ipamd/ipamd_test.go#L1323 multiple times can give different results.

**Attach logs**

**What you expected to happen**:

Deterministic output from TestIPAMContext_nodeIPPoolTooLow test run.

**How to reproduce it (as minimally and precisely as possible)**:

**A

[2022-01-26 07:14] jayanthvn commented on #1724
I did a test on my local cluster to compare the time difference between init time and when datastore has IPs and didn't find any difference with respect to the configs -

WARM_ENI_TARGET = 1

Init start ->
[code]

Reconciler increasing the pool and added a secondary ENI ->
[code]

WARM_IP_TARGET = 1 and MINIMUM_IP_TARGET = 3

Init start ->
[code]

Reconciler increasing the pool and added a seconda

[2022-01-26 16:02] orsenthil opened #1822 "codecov/project status check fails"
**What happened**:

 codecov/project  status check on PR, even while not required is failing often as of Jan 2022.

We might want to take a call and either remove it or fix it.

**Attach logs**

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- CN

[2022-01-26 18:09] ecliptik commented on #1791
We are experiencing a similar issue and getting these same `ipamd` messages with host/pods losing networking for periods of time, even though the subnet has plenty of free IP addresses. I've sent an email to k8s-awscni-triage@amazon.com with additional details, case IDs, and logs from an affect EKS node.

[2022-01-26 18:40] jayanthvn commented on #1769
@njuettner - Currently team is working on it and tentatively it is Q2 2022. If something changes on our end we will update you. Please feel free to reach out to us.

[2022-01-26 18:40] #1769 closed

[2022-01-27 03:33] dtnyn commented on #1724
@sidewinder12s We have tried prefix mode but did not do extended testing due to the minimum allocation size of `/28` which doesn't fit our use-case.

@jayanthvn I believe that your proposed optimization, attaching a new ENI with pre-allocated IP, will best for our current problem. Since we can observe that the ENI attachment and the time starting the reconcile are very fast. Only the process of th

[2022-01-27 03:36] jayanthvn commented on #1724
@dtnyn - Yes that's right. I have the PR and testing it out locally.

[2022-01-27 11:09] mbevc1 opened #1825 "Leftover Network Interfaces after scaling down"
**What happened**:

Using **Karpenter** (autoscaler): v0.5.4 and **Kubernetes**: v1.21 (on AWS) scaling down we are left with some Network Interfaces left unattached from removed Pods/Nodes.

**Attach logs**

**What you expected to happen**:
Scale up and down events should clean up CNI resources correctly.

**How to reproduce it (as minimally and precisely as possible)**:
Deploy Karpenter and demo

[2022-01-27 11:34] jayanthvn commented on #1825
@mbevc1

What are you WARM_IP_TARGET/MINIMUM_IP_TARGET or WARM_ENI_TARGET configs? Because based on these configs even when you scale down your deployment IPAMD will maintain WARM number of IPs/ENIs in datastore. These ENIs will be deleted on instance termination.

[2022-01-27 11:38] mbevc1 commented on #1825
Hi @jayanthvn ! Thanks for your quick response. I'm not sure that is relevant here, as this happens when Karpenter scales down (that means instances are terminated and it's not using nodeGroups/ASG for this). So seems ENIs are left unattached after instances terminate.

[2022-01-27 13:39] jayanthvn commented on #1825
Hi @mbevc1, Ahh understood I thought the deployment was scaling up and down. I think you are hitting this issue - https://github.com/aws/amazon-vpc-cni-k8s/issues/1223. If the ENIs are attached to the instance then the ENIs should be deleted since we set deleteOnTermination when the instance terminates. So can you please confirm if the ENIs are detached?

[2022-01-27 14:46] mbevc1 commented on #1825
Oh, seems this could be similar one yeah. Good fine @jayanthvn :+1:
Yeah, ENIs are not deleted and detached.

[2022-01-27 15:43] jayanthvn commented on #1825
Thanks for confirming. We are looking into options to fix #1223 and will provide updates on the issue soon.

[2022-01-27 16:09] jayanthvn commented on #1825
Will close this issue. Please feel free to reach out for any questions.

[2022-01-28 05:39] jayanthvn commented on #1822
@orsenthil - it shows CI passed here - https://app.codecov.io/gh/aws/amazon-vpc-cni-k8s/commits?page=1. Wondering if we need to set this `allow_coverage_offsets: True`. For instance when we try to open the PR page on code coverage it show this error - "Changes found in between efb92a6...25f0daf (pseudo...base) which prevent comparing this pull request. " (https://app.codecov.io/gh/aws/amazon-vpc-c

[2022-01-28 05:48] jayanthvn commented on #1739
PR is merged and will be part of 1.10.2 release.

[2022-01-28 05:48] #1739 closed

[2022-01-28 05:50] jayanthvn commented on #1287
PR 1715 is merged and will be part of 1.10.2 release. EKS documentation will be updated post release. Readme is update in GitHub repo.

[2022-01-28 05:50] #1287 closed

[2022-01-28 05:53] jayanthvn commented on #663
PR 1715 is merged and will be part of 1.10.2 release. EKS documentation will updated after release and GitHub readme is updated.

[2022-01-28 05:53] #663 closed

[2022-01-29 00:24] malpania opened #1831 "Pods stuck in ContainerCreating due to CNI failed to set up pod: Pod Event says : Unauthorized; until aws-node pod restart."
On the nodes more than 100 days old when few of the pods like nats or datadog agent get scheduled in that pod gets stuck on ContainerCreating. Node size varies and subnet has sufficient ip available. The new nodes (say 20-30) days old does not have this issue. If these pods gets scheduled to those nodes running recently they come up fine. Also nodes are not spot instances. We have policy set on po

[2022-01-29 05:55] marcellodesales commented on #1791
# 🐞 Similar problem: networkPlugin cni failed to set up pod

* I see the same similar cases while deploying a service that uses CNI and POD Security Groups a described at https://docs.aws.amazon.com/eks/latest/userguide/security-groups-for-pods.html
* After setting up everything, I tried to deploy a service
  * Deployments with Security Groups with access to RDS https://www.eksworkshop.com/beginne

[2022-01-30 04:49] marcellodesales commented on #1791
# Installing from the UI: Works

* It seems to be working when not specifying a ServiceAccountRole...
  * the UI shows `Service account role: Info Inherited from node`

[code]

# Installing from AWS CLI: Fails when specifying a Role

* Specifying the role I had created has the pods restarting...
* I had the following code to add the Add-on

[code]

* The creation fails...

[code]

* The logs show

[2022-01-30 09:30] marcellodesales commented on #1791
# Fixed

* I properly set up a CNI Role with the policy `AmazonEKS_CNI_Policy` and it worked
  * https://docs.aws.amazon.com/eks/latest/userguide/cni-iam-role.html
  * Testing with example https://www.eksworkshop.com/beginner/115_sg-per-pod/50_deploy/ (Still can't get the DNS resolution to work)

[code]

# Interface

* It was created "properly"
  * I still can't access the RDS DB
  * the Network I

[2022-01-31 16:25] dcarley commented on #1392
📝  In case it saves anyone some debugging time, this also affects NLBs when using [IP mode](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.3/guide/service/nlb/#ip-mode) and [client IP preservation](https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-target-groups.html#client-ip-preservation) with [EKS 1.20 clusters](https://docs.aws.amazon.com/eks/lates

[2022-01-31 18:02] orsenthil commented on #1822
Hi @jayanthvn - Thank you. I wasn't aware if that codecov success in the recent time.

Let's try the suggestion you have shared above - https://github.com/aws/amazon-vpc-cni-k8s/pull/1833

We can collect data and fix it in the PR.

[2022-01-31 18:02] jayanthvn commented on #1822
Thanks @orsenthil

[2022-01-31 21:12] orsenthil opened #1834 "Makefile Build improvement"
**What would you like to be added**:

1. `make help`

displays

[code]

This can be grouped together as given in the example here (https://www.thapaliya.com/en/writings/well-documented-makefiles/) and could help the user differentiate various targets easily.

**Why is this needed**:

Usability Improvement and Developer Productivity.

[2022-02-01 00:23] uthark opened #1836 "Enabling IP Prefix doesn't work as expected."
**What happened**:

[code]

We are trying to enable the use of IP Prefixes.
What we did.
* Created IP Prefixes CIDR reservations in the subnet.
* Configured AWS plugin to use CIDR reservation for new nodes (i.e. node reports if IP Prefixes should be used and CNI plugin uses it during bootstrap).
* Subnet size is /19 (this is 512 /28 blocks). I created 51 reservations (10% of the subnet size).
* Bu

[2022-02-01 01:22] achevuru commented on #1836
@uthark  Subnet CIDR reservations will succeed even when there are some IPs within those reserved subnets that are already in use. However, we will not be able to assign those prefixes to an ENI until all the IPs within those reserved subnets are free. Please check if the entire reserved subnet range is free.

[code]
https://aws.amazon.com/blogs/containers/amazon-vpc-cni-increases-pods-per-node-li

[2022-02-01 10:09] ptzianos opened #1837 "Add K8s client package"
**What would you like to be added**: Use K8s code generator to produce a package that can be used by the K8s client to get/modify/delete the CRDs used by the daemon

**Why is this needed**: Need to build tooling and an operator to automate some processes and this would make a lot easier to check the state of the objects and modify them accordingly

[2022-02-01 14:30] gabrielbiasi commented on #1808
Hi @Shreya027 and @jayanthvn! Thanks again for taking your time to looking into this.
I noticed that you are preparing the new patch version. I wonder if this patch has anything related to fix this issue?

[2022-02-01 18:42] uthark commented on #1836
yes, I read this and what got me confused is that at this point reservation is actually not available for use (and there is no API call to check).

We wrote helper script that would cross-reference secondary private ip addresses attached to ENI against IP reservation to detect if IP reservation is available for use.

I'd suggest to update AWS docs to indicate this caveat. (based on the docs I got

[2022-02-01 18:42] #1836 closed

[2022-02-02 04:27] sidewinder12s commented on #1808
Any details about what is going on here? We think we might have run into this as well in similar circumstances.

[2022-02-02 05:37] jayanthvn commented on #1808
Looks like aws-node is starved of CPU and hence on nodes with high pod churn probes are failing. If you expect higher cpu load on the system, CPU resource req and timeout values needs to be adjusted accordingly. Do you have default 10m as cpu requests - https://github.com/aws/amazon-vpc-cni-k8s/blob/master/config/master/aws-k8s-cni.yaml#L213? Did you try increasing it? Also can you please track CP

[2022-02-02 12:20] gabrielbiasi commented on #1808
Thanks for the insight @jayanthvn . I'm going to perform some tests increasing their resources as well as switching QoS of the pods to Guaranteed, maybe this will stabilize them.

[2022-02-02 17:10] jayanthvn commented on #1808
Thanks @gabrielbiasi. Please do share the results.

[2022-02-02 18:57] RomanPanaget commented on #1278
you made my day

[2022-02-03 17:59] rajakshay opened #1841 "ipamd log level: Info is too chatty"
**What would you like to be added**:
* While looking at ipamd logs, it appears that the volume of logs generated in info level is much more than the ones generated in debug level. While reading through the logs, it also seemed that most of the logs in Info level is suitable to be at debug level instead. [Example](https://github.com/aws/amazon-vpc-cni-k8s/blob/aad0415a10dc4d1a6cda2bbc6c8cbbe856068e

[2022-02-03 18:00] #1822 closed

[2022-02-03 18:05] jayanthvn commented on #1841
@rajakshay - yes it makes sense to move few of the logs to debugs or errors.

[2022-02-03 19:20] jayanthvn opened #1842 "Fix kops cluster create for weekly runs"
**What happened**:
Kops cluster create is failing because of
[code]
Need to fix this line - https://github.com/aws/amazon-vpc-cni-k8s/blob/master/scripts/lib/cluster.sh#L59

**Attach logs**

**What you expected to happen**:
Successful creation of kops cluster

**How to reproduce it (as minimally and precisely as possible)**:
N/A

**Anything else we need to know?**:
N/A

**Environment**:
- Kubernet

[2022-02-03 19:37] gabrielbiasi commented on #1808
Hi @jayanthvn  and @Shreya027 !
First, I'd like to thank you for the time you've taken to look at this issue.
Fortunately, today we finished our tests and discovered the root cause, and I would like to share our findings.

Although CPU and RAM usage were high, they didn't reach the saturation point of EC2 instances. However, one very important metric went unnoticed: `burst balance` of the EC2 volu

[2022-02-03 19:37] #1808 closed

[2022-02-03 20:27] vikasmb commented on #1689
Changes have been completed and merged.
Multi-arch integ test sample execution is in https://github.com/aws/amazon-vpc-cni-k8s/runs/5056823481?check_suite_focus=true

[2022-02-03 20:27] #1689 closed

[2022-02-04 15:02] s7an-it commented on #1038
@crechandan, I am on same setup, did you manage to find a resolution for that setup?

[2022-02-04 15:18] grumpymatt opened #1847 "IPAMD fails to start"
**What happened**:
IPAMD fails to start with iptables error. The aws-node pods fail to start and prevent worker nodes from going ready.
This is occurring after updating to rocky linux 8.5 which is based on rhel 8.5.

/var/log/aws-routed-eni/ipamd.log
[code]

POD logs
kubectl logs -n kube-system aws-node-9tqb6
[code]

**Attach logs**

**What you expected to happen**:
Expect ipamd to start normally.

[2022-02-04 17:28] s7an-it commented on #1590
I am trying to reproduce a bug where pods end up in init state because aws-node gets into a loop due to "caller":"[entrypoint.sh](http://entrypoint.sh/)","msg":"Retrying waiting for IPAM-D"}.
My setup is eks 1.20.7 / 1.7.5 or 1.10.1, eventually on latest AMI/1.10.1 I just did force wrong image and waited for server side job to amend configuration, it looks like while aws-node was down for like 8 m

[2022-02-04 18:04] s7an-it commented on #1590
Update reboots and restart of kubelet didnt help.
When  I checked eni on node I had 3 primary and 2 extra, I detached 2 extra and after they disapper node fixed.
I guess these are shared eni or I don't undertsand what happened here, but I saw another node got fixed by it however both don't have these 2 anymore only 1 I guess this is bad so I guess logically even if all schedules I will get less ip

[2022-02-04 18:15] s7an-it commented on #1590
Update 3: while terminate fixed the issue I got 1 primary + extra eni after terminate I did only terminte single node but fixed all 3 failing. Dos it means the were in somekind of shared group or something? Aside from that this looks like an issue to release ips or something related to eni release and reconsile, probaby if I release ips and let it refill them I might not even need to terminate? Ul

[2022-02-04 18:38] grumpymatt commented on #1847
We found by loading ip_tables, iptable_nat, and iptable_mangle kernel modules fixes the issue: ``` modprobe ip_tables iptable_nat iptable_mangle ```

Still trying to figure out why these modules where loaded be default in 8.4 and not in 8.5.
Also still not sure why the same iptables commands work without these modules directly on the worker instance and not in the container.

[2022-02-04 23:03] laupow opened #1854 "1.10.x documentation missing required env vars"
**What happened**:
I upgraded a self-managed add-on to 1.10.x and the container failed to start.  This is a repeat of https://github.com/aws/amazon-vpc-cni-k8s/issues/1725.

Docs in this repo say all env vars are optional, but this is not true as of the 1.10 release branch. 1.10.x won't start until users provide both `ENABLE_IPv4` _and_ `ENABLE_IPv6` environment variables.

Before the 1.10 release

[2022-02-04 23:05] cgchinmay commented on #1854
Yes, you are right. Starting from v1.10.x we need those env vars. Will update our docs.

[2022-02-07 10:32] crechandan commented on #1038
@s7an-it No as of now - I am unable to find any resolution for the same (using AWS CloudFormation : EKS addon). As a workaround - I am installing the aws-cni with the help of simple kubectl command  >> calling it in Ansible playbook (running on an EC2 instance having access to EKS cluster).

Follow page --> https://docs.aws.amazon.com/eks/latest/userguide/managing-vpc-cni.html#updating-vpc-cni-eks

[2022-02-07 12:55] laupow commented on #1854
Thanks! Love the quick response.

For more context, my team still maintains self-managed versions of the cni addon in our clusters. The official manifest files won't work since we need to patch env vars. (kustomize could be an option, but it's not what we currently have)

I would love to use the managed EKS addons, but they don't support any configuration and therefore isn't very useful yet. Movin

[2022-02-09 06:18] cgchinmay commented on #1644
Closing this issue as we have released v1.10.2 with fix. Feel free to reopen the issue if you encounter problems.

[2022-02-09 06:18] #1644 closed

[2022-02-09 11:45] GaruGaru commented on #1447
Same issue running `v1.7.5-eksbuild.1` on `v1.21.5-eks-9017834`.
We have many unused ENI interfaces with just the `node.k8s.amazonaws.com/createdAt` tag set

[2022-02-09 13:14] akunszt opened #1856 "Traffic from pods use the wrong egress interface - sometimes"
**What happened**:
We noticed that one of our pods which was running fine earlier lost access to the apiserver. After evaluating the situation we were be able to confirm that the traffic was DNAT-ed properly by kube-proxy from 10.2.0.1 to a real master node IP address. So that looked correct.

The endpoints:
Master node: eth0: 10.31.1.18/20
Worker node: eth0: 10.31.72.129/20, eth1: 10.31.75.90/20

[2022-02-09 13:17] akunszt commented on #1856
Update: I can't send the logs as it was bigger than the maximum available size. Is there another way to share that? I don't want to make it public as it might contain sensitive information.

[2022-02-09 19:35] achevuru commented on #1856
@akunszt We do have a known [issue](https://github.com/aws/amazon-vpc-cni-k8s/pull/1475) around this for non VPC traffic which was addressed in v1.8.0. Can you try with v1.8.0 and let us know if that helped?

[2022-02-09 19:58] achevuru commented on #1854
@laupow Ideally we need to use the corresponding CNI manifest when we move to a new version of CNI. Modifying the image tag is not the recommended approach even if the defaults are automatically derived. For ex, we've enhancements to `liveness` and `readinessprobes` which are only present in the latest manifests. Can we add these two env vars to your base manifest which you are using? We will upda

[2022-02-09 20:02] achevuru commented on #1847
We do install `iptables` by [ default](https://github.com/aws/amazon-vpc-cni-k8s/blob/master/scripts/dockerfiles/Dockerfile.release#L22) in `aws-node` container images. Good to check the changelog between 8.4 & 8.5 for any insights in to the observed behavior.

[2022-02-10 10:27] akunszt commented on #1856
@achevuru Thanks for the information. I updated to 1.8.0. As the issue doesn't happen instantaneously then I'll have to wait. It could take a few hours or few days.
The traffic I was talking about is actually local to the VPC but happens between endpoints in different Subnets, hence it goes first to the VPC router and then back to target Subnet.

[2022-02-10 12:11] laupow commented on #1854
@achevuru I did capture all the recent changes to the CNI manifests. And have a updated, working deployment. 👍

[2022-02-10 22:29] haouc commented on #1819
@L1ghtman2k Since we are deprecating Calico charts in this repo and this feature is already supported in new Tigera operator, please refer to our [important announcement](https://github.com/aws/amazon-vpc-cni-k8s/tree/master/charts/aws-calico) and suggested [installation instruction](https://docs.aws.amazon.com/eks/latest/userguide/calico.html).
I am closing this ticket due to unsupported charts u

[2022-02-10 22:29] #1819 closed

[2022-02-10 22:31] haouc commented on #1782
@kashook Since we are deprecating Calico charts in this repo and this feature is already supported in new version of Calico, please refer to our [important announcement](https://github.com/aws/amazon-vpc-cni-k8s/tree/master/charts/aws-calico) and suggested [installation instruction](https://docs.aws.amazon.com/eks/latest/userguide/calico.html) to upgrade Calico.
I am closing this ticket due to uns

[2022-02-10 22:31] #1782 closed

[2022-02-10 22:34] haouc commented on #1758
@nserev Since we are deprecating Calico charts in this repo and Tigera/Calico charts have supported these configurations, we recommend you to refer to our [important announcement](https://github.com/aws/amazon-vpc-cni-k8s/tree/master/charts/aws-calico) and suggested [installation instruction](https://docs.aws.amazon.com/eks/latest/userguide/calico.html).
I am closing this ticket due to unsupported

[2022-02-10 22:34] #1758 closed

[2022-02-10 22:41] haouc commented on #1708
@rijub2019
Since we are deprecating Calico charts in this repo and this should be fixed in Tigera/Calico release v3.22, we recommend you to refer to our [important announcement](https://github.com/aws/amazon-vpc-cni-k8s/tree/master/charts/aws-calico) and suggested [installation instruction](https://docs.aws.amazon.com/eks/latest/userguide/calico.html). You can also refer to [Calico configuration r

[2022-02-10 22:41] #1708 closed

[2022-02-10 22:43] haouc commented on #1627
@NivStav-RecoLabs @sean-mcgimpsey
Since we are deprecating Calico charts in this repo, we recommend you to check our [important announcement](https://github.com/aws/amazon-vpc-cni-k8s/tree/master/charts/aws-calico) and suggested [installation instruction](https://docs.aws.amazon.com/eks/latest/userguide/calico.html). You can also refer to [Calico configuration reference](https://projectcalico.docs

[2022-02-10 22:43] #1627 closed

[2022-02-10 22:46] haouc commented on #1525
@johnthedev97 @amitkatyal
Since we are deprecating Calico charts in this repo, we recommend you to check our [important announcement](https://github.com/aws/amazon-vpc-cni-k8s/tree/master/charts/aws-calico) and suggested [installation instruction](https://docs.aws.amazon.com/eks/latest/userguide/calico.html) for required or latest Calico version. You can also refer to [Calico configuration referen

[2022-02-10 22:46] #1525 closed

[2022-02-10 22:47] haouc commented on #833
@joebowbeer
Since we are deprecating Calico charts in this repo, we recommend you to check our [important announcement](https://github.com/aws/amazon-vpc-cni-k8s/tree/master/charts/aws-calico) and suggested [installation instruction](https://docs.aws.amazon.com/eks/latest/userguide/calico.html) for required or latest Calico version. You can also refer to [Calico configuration reference](https://pr

[2022-02-10 22:47] #833 closed

[2022-02-11 09:09] akunszt commented on #1856
It looks this doesn't solve the issue at all. I experienced the same on a freshly started node with aws-vpc-cni:1.8.0. It looks like the egress interface selection doesn't work at all and when the pods are running fine they are using the `eth0` and they fail when they should use `eth1` immediately.

[2022-02-11 13:42] akunszt commented on #1856
I did some more digging. I found the case where I had two pods "behind" the same ENI, one of the was working but the other didn't.

[code]

I checked the logs and I found only a few lines for the 10.31.65.52:
[code]
But a lot more related to the 10.31.64.23:
[code]

The suspicious difference that there is no `Successfully added pod rule` line in the non-working case.

I checked the routing rules:

[2022-02-11 14:51] hemalgadhiya commented on #1360
Any updates on this?

[2022-02-14 10:59] akunszt commented on #1856
@achevuru I continued digging as this issues blocks us quite badly.
I updated the aws-vpc-cni to the latest version which was `1.10.2` at the time of writing. I have a working and a non-working node again. I compared the debug logs.
The non-working node:
[code]
While on the working node:
[code]
My Go knowledge is very limited - so to say - but I tried to follow the execution path for this. https:/

[2022-02-14 13:51] PA8MM commented on #1856
Hello,

We stumbled upon the same issue - lack of connectivity from outside to the random Pods on the Node.
Affected Pods have entries visible in **ip rule show**, and I confirm there are log entries similar to @akunszt about adding those rules.

What I also noticed is that traffic to the "working" Pods always coming via Primary ENI, but traffic to the non working Pods is arriving via Secondary EN

[2022-02-14 14:28] Minutis commented on #1078
I found the root cause of this issue (at least for my usecase) - my own fault :) I hda set DHCP option set incorrectly to `<eks_name>.compute.internal`. After setting it to `<region>.compute.internal` nodes load correctly and fast.

[2022-02-15 07:48] achevuru commented on #1856
@[akunszt](https://github.com/akunszt) Logs you shared above are for Pods that `aws-node` pod (CNI pod) found running on the node during it's bootup. CNI pod reaches out to the local CRI socket to gather information about pods that are active on the node and will use that information to build it's internal database. So, these are pods that were already running prior to the current bootup of CNI po

[2022-02-15 07:50] achevuru commented on #1856
@[PA8MM](https://github.com/PA8MM) If you see correct entries for affected pods in `ip rule list` then the issue is different to the one being discussed here. Can you try with v1.8.0+ as pointed above and let us know if that addresses the issue you are experiencing?

[2022-02-15 07:56] vishal0nhce commented on #1847
@grumpymatt I have been getting the same issue while setting up EKS on rhel8.5. And after loading the kernel modules, it does work fine. The strange thing is I had tried the same in RHEL8.0 worker nodes and still getting the same issue. It works fine in RHEL7.x, though.

[2022-02-15 11:02] akunszt commented on #1856
@achevuru I opened an AWS support ticket and linked this issue. I bounced every worker and found a situation where two pods are using a secondary IP address from the same ENI which is assigned to eth1 and one is working while the other one is not. I managed to run the aws-cni-support.sh script and upload the archive - it was quite small on a new instance.
The kernel netlink part changed between 5.

[2022-02-15 17:52] achevuru commented on #1856
@[akunszt](https://github.com/akunszt) No specific knob available to force a Pod to be placed behind a Secondary ENI. You can schedule enough pods to exhaust the Primary ENI and force any subsequent pods to secondary ENIs. Are you using a custom AMI? EKS AMIs are still in 5.4.x train.

[2022-02-15 18:54] jayanthvn commented on #1774
v1.10.2 image published.

[2022-02-15 18:54] #1774 closed

[2022-02-15 20:56] jayanthvn opened #1866 "Document image tag mapping - GitHub released vs eksbuild"
**What would you like to be added**:
Images published in GitHub release will be something like v1.10.0 but the images in managed add-on or default cluster add-on will have a suffix as eksbuild.X. Sometimes in managed Add-on the eksbuild.X tag will map to an image internally but you won't be able to docker pull that image. For instance - [amazon-k8s-cni:v1.7.5-eksbuild.2] which is mentioned here -

[2022-02-15 22:24] achevuru commented on #1847
@[grumpymatt](https://github.com/grumpymatt) Since the issue is clearly tied to missing `iptable` modules, I think we can close this issue. Let us know, if there is any other concern.

@[vishal0nhce](https://github.com/vishal0nhce) Yeah, `iptables` module is required for VPC CNI and not sure why it is missing in rhel8.5. I don't see any specific call out for rhel 8.5 around this.

[2022-02-15 22:32] achevuru commented on #1831
@[malpania](https://github.com/malpania) Was there an AMI upgrade on these old nodes? So, even a previously running `Datadog` pod on this node started failing as well? I see that even that pod is experiencing `Unauthorized` error from the logs shared above. Did you check the resource usage on these nodes?

[2022-02-15 22:32] haouc commented on #685
Hello everyone
if you still have concerns, please be aware of our latest announcement. Since we are deprecating Calico charts in this repo, we recommend you to check our [important announcement](https://github.com/aws/amazon-vpc-cni-k8s/tree/master/charts/aws-calico) and suggested [installation instruction](https://docs.aws.amazon.com/eks/latest/userguide/calico.html) for required or latest Calico

[2022-02-15 22:54] grumpymatt commented on #1847
We found an alternative way of fixing it by updating iptables inside the CNI container image.
[code]

My concern is the direction of RHEL and downstream distros seems to be away from iptables-legacy and to iptables-nft. Is there any plans to release address this in the CNI container image?

[2022-02-15 23:24] malpania commented on #1831
Thanks @achevuru , for your response.

** #Was there an AMI upgrade on these old nodes **
 I just checked all the AMI's
The old node (125 days old now) is using :

EKS Version  - v1.21.4-eks-033ce7e

The latest one (35 days old now) is using:

EKS Version  - v1.21.5-eks-bc4871b

 ** even a previously running Datadog pod on this node started failing as well **
Yes only datadog pod was showing Unaut

[2022-02-16 08:13] akunszt commented on #1856
@achevuru We are using the official Flatcar Linux AMIs. The 3033.2.0 - stable - is with the new kernel and 2605.22.1 - LTS - is the one with old kernel. It's the successor of the CoreOS which was practically cancelled by IBM/RedHat after they bought it. It's a minimal OS which can do only one thing, run containers, so it is ideal for Kubernetes.

[2022-02-16 11:13] Alan01252 opened #1868 "Multus CNI - Certificate expires"
**What happened**:

Certificates for multus cni expired after 90 days

**Attach logs**

This results in this in the log

![image](https://user-images.githubusercontent.com/112859/154253064-5fd6b546-3bcb-4015-bf1e-3f2ef74a0742.png)

**What you expected to happen**:

Multus daemon set to refresh certificates without requiring a restart

**How to reproduce it (as minimally and precisely as possible)*

[2022-02-16 15:52] Alan01252 commented on #1868
Thanks @cgchinmay, it' sentirley possible I am confused.

![image](https://user-images.githubusercontent.com/112859/154302830-334d6a2b-e18e-4738-8246-e31a3b4c2e4d.png)

It's this file specifically that gets recreated when the pod restarts and had the 90 day problem

[2022-02-16 22:42] cgchinmay commented on #1868
@Alan01252 I checked the multus documentation and there was nothing to indicate any explicit expiry being set.

But you should be able to repro this even with the upstream multus [daemonset](https://github.com/k8snetworkplumbingwg/multus-cni/blob/master/deployments/multus-daemonset.yml), vpc-cni isn't playing any role here as per my knowledge. This could also be specific to your cluster setup as w

[2022-02-17 06:18] atileren commented on #1599
Hi @jayanthvn

why should we increase http-put-response-hop-limit? when we encounter resetDetected error? I use managed nodes and I don't want to edit instance-metadata-options. could it be different reason?

Thanks

[2022-02-17 18:23] cgchinmay commented on #1868
Thank for sharing cluster-arn on my email. For future ref you can use this: k8s-awscni-triage@amazon.com

From the logs, the issue seems to be with flux-system/helm-controller pods. I see that the Issue started when pod for this deployment (flux-system/helm-controller) was deleted at 2022-02-16T10:30:34.659541Z and recreated.

I am guessing you restarted multus and the issue got resolved.
Could yo

[2022-02-17 23:02] jayanthvn opened #1872 "WARM IP/MINIMUM IP greater than Max IPs per ENI delays adding ENI to datastore"
**What happened**:

If WARM_IP_TARGET or MINIMUM_IP_TARGET is greater than the max IPs per ENI then adding ENI and IPs to datastore will take more than 2 minutes or so. This would cause pods to be stuck in container creation.

**Attach logs**

Created ENI at ->
[code]

[code]

Then we go into retry to find IPs in IMDS

Retry LOOP (12 max retries) ->

Initially ENI is not there in IMDS

[code]

The

[2022-02-18 10:08] njuettner commented on #1523
It would be great if there would be a way, to circumvent this issue. Is there any PR available or branch which I could try to test if it would improve the situation?

[2022-02-18 10:12] njuettner commented on #1523
@achevuru any ideas from your side?

[2022-02-18 13:18] jayanthvn commented on #1728
#1873 merged to master.

[2022-02-18 13:19] Alan01252 commented on #1868
This is entirely correct :) I believe this pod failed to start because of the issue with multus, restarting the pod subsequently proceeds without issue.

[2022-02-18 18:50] vikasmb opened #1874 "Fix calico tests in the weekly test suite"
**What would you like to be added**:
Currently, calico tests in [weekly test suite](https://github.com/aws/amazon-vpc-cni-k8s/runs/5234976037?check_suite_focus=true) is failing with error of
`/home/github-runner/go/src/github.com/aws/amazon-vpc-cni-k8s/amazon-vpc-cni-k8s/scripts/../config/master/calico.yaml DOES NOT exist.
`
This calico test would need to be modified to install Calico using Helm c

[2022-02-18 20:12] cgchinmay commented on #1868
so based on the timeline in apiserver logs, I see that first helm-controller pod was deleted and recreated. As soon as the pod was deleted mutlus reported unauthorized errors. So these unauthorized errors in multus could be the source of helm-controller pod being restarted .Would like to confirm this.

[2022-02-18 20:46] achevuru commented on #1856
@akunszt Refer [here](https://github.com/aws/amazon-vpc-cni-k8s/blob/ca48c7b89d598c04cc60aa22c7ee4078a21ff965/cmd/routed-eni-cni-plugin/driver/driver.go#L311).

Also, we didn't get your support ticket yet. Anyone from support helping you with this? Can you ask them to forward it to EKS service team?

[2022-02-18 20:49] cgchinmay commented on #1868
This error is expected which is why your helm controller was not able to restart correctly. I am trying to understand the unauthorized part. This is what I need to verify

1.Does the unauthorized error occur when you recreate helm-controller pod ?
2.If you don't,  then 90 days have some significance here which we need to find out. As far as I know multus does not have any expiry for its service ac

[2022-02-21 08:30] akunszt commented on #1856
@achevuru Thanks. We managed to find it out just before I read your message. It was a bit misleading that we don't use the routed-eni-cni plugin at all and it wasn't obvious that the binary will be named aws-cni and used by the aws-cni plugin.

I'll let our TAM knows that the support ticket not yet reached it's destination and ask him to escalate/forward/assign to the EKS service team.

[2022-02-21 12:55] albertschwarzkopf opened #1875 "Image scan has detect several vulnerabilites"
Trivy image scanner has detect several vulnerabilites:

`trivy image 602401143452.dkr.ecr.eu-central-1.amazonaws.com/amazon-k8s-cni:v1.10.2-eksbuild.1`

`app/aws-cni (gobinary)
Total: 2 (UNKNOWN: 1, LOW: 0, MEDIUM: 0, HIGH: 1, CRITICAL: 0)

app/aws-k8s-agent (gobinary)
Total: 3 (UNKNOWN: 1, LOW: 0, MEDIUM: 1, HIGH: 1, CRITICAL: 0)

app/bandwidth (gobinary)
Total: 0 (UNKNOWN: 0, LOW: 0, MEDIUM: 0,

[2022-02-21 17:53] cgchinmay commented on #1868
I was unable to un-tar the log file that you sent. Instead could you confirm
1. If the issue was limited to only helm-controller pods ?
2. Did you see this issue with other pods using multus in flux-system namespace or any other namespace

I haven't been able to find any known issue around multus. From the [linked Issue] (https://github.com/fluxcd/flux2/issues/2074) It does appear that something c

[2022-02-21 21:44] rdonadono opened #1878 "Timeout when trying to reach internal cluster resources"
**What happened**:

I have a mysql instance inside my cluster, I would migrate it in a RDS mysql instance.

Following this [doc](https://www.eksworkshop.com/beginner/115_sg-per-pod/) I have configured my cluster to access at RDS instance endpoint.

With the correct `nodeAffinity` and `label`, from inside the pod, I can reach the endpoint of my RDS with no problem.

[code]

but, from the same pod,

[2022-02-22 00:29] vikasmb commented on #1821
In my testing, I did not find `TestIPAMContext_nodeIPPoolTooLow` to be flaky. Refer to sample execution below.
[code]

However, based on unit test execution logs, `TestIPAMContext_filterUnmanagedENIs_disableManageUntaggedMode` was flaky due to test's expectation on map entries being iterated in a fixed order. I am creating a PR to fix that and will be attached to this issue.

[2022-02-22 08:47] Alan01252 commented on #1868
Hi @cgchinmay the tar file I sent extracts fine for me `tar -xvf fileename`?

I've double-checked what I sent and even gmail can see the contents so I hope it's good! Let me know I can send it again if not.

I don't think there's any link between multus and the helm chart other than once multus is installed the pods require multus to be functioning correctly in order to start up.

I've tried to lo

[2022-02-22 13:50] akunszt commented on #1856
@achevuru I think I found the root cause and a solution. It turned out that it wasn't the kernel, it was systemd, especially systemd-networkd. When a new interface/ENI added to the system the systemd-networkd by default cleaned up every routes and rules - it's a very stupid default setting, but hey, it's systemd...
I managed to notice this while I was running `ip monitor rule` and saw that the CNI

[2022-02-22 13:50] #1856 closed

[2022-02-22 19:19] cgchinmay commented on #1868
Could you resend the file ? I tried the above command, but the file shows up as 0 bytes and I cannot extract. I m using
Mac OS 10.15.7

Based on your explanation, I think this error is limited and has to do with the incorrect cleanup of helm-controller pod. I will take a look at the logs and let you know if I find anything.

[2022-02-22 19:35] achevuru commented on #1856
@akunszt Good find! We do have old issue(s) tied to the same behavior in the Q.  Refer to this [comment ](https://github.com/aws/amazon-vpc-cni-k8s/issues/1600#issuecomment-927950236) in particular. We will update our docs to call this out.

https://github.com/aws/amazon-vpc-cni-k8s/issues/1514
https://github.com/aws/amazon-vpc-cni-k8s/issues/1600

[2022-02-22 19:56] brandonbell commented on #1712
This turned out to be a race condition between Debian 10's `/etc/udev/rules.d/75-cloud-ifupdown.rules` and the CNI.  Both udev and the CNI would attempt to configure the interface causing SystemD to rerun the `ifup` service for the interface which removed the routes and rules.

[2022-02-22 19:56] #1712 closed

[2022-02-22 20:05] Alan01252 commented on #1868
Thanks, @cgchinmay , I've resent.

To clarify, this is what we are currently hypothesizing:

1. 90 days is a red herring
2. The helm controller reporting unauthorized also somehow caused rebuilding the helm pod to fail, and this was solved "somehow" by restarting multus?

If you could share with me the thoughts on the somehow that would be appreciated, I can't work out what restarting multus would

[2022-02-22 20:49] achevuru commented on #1831
@[malpania](https://github.com/malpania) Is this an EKS cluster? This looks like some sort of cert expiry/SA token expiry and these pods are not able to access certain resources (pods in this case). Restarting the CNI daemonset probably regenerated the SA token and restored access to these resources. Not a CNI issue and we should check what contributed to the `Unauthorized` issue for CNI/Datadog p

[2022-02-23 11:02] dogzzdogzz commented on #1360
We are experiencing same issue after we introduced KEDA and use jobs to frequently create and terminate many short-live pods to consume SQS msgs

[2022-02-23 17:15] vikasmb commented on #1821
ipamd package flaky tests have been fixed in the linked PRs.

[2022-02-23 17:15] #1821 closed

[2022-02-23 19:59] cgchinmay commented on #1868
So the reason we see this only for helm-controller pod since it was being teardown and thats when multus had to communicate with the api server. So that explains why we see Unauthorized error for this one pod in this case. We do have similar issues like this one: https://github.com/aws/amazon-vpc-cni-k8s/issues/1831 .
Even the other issue started experiencing after ~100 days and using 1.21 cluster

[2022-02-23 20:44] cgchinmay commented on #1854
The PR with updated documentation has been merged. So closing this issue

[2022-02-23 20:44] #1854 closed

[2022-02-23 22:57] vikasmb commented on #1875
hello, please follow the [security guideline](https://github.com/aws/amazon-vpc-cni-k8s#security-disclosures) to report these. This issue will be closed as per the guideline.

[2022-02-23 22:57] #1875 closed

[2022-02-24 22:21] vikasmb commented on #1842
After the fixes linked to this PR were merged, kops cluster in weekly test [suite](https://github.com/aws/amazon-vpc-cni-k8s/runs/5323131439?check_suite_focus=true) gets created and the conformance tests pass with latest version of CNI image too.

However, while deleting the resources created, it runs into trouble deleting security and vpc related configs, thus marking the kops test as failed.
[co

[2022-02-24 23:07] jdschmidt commented on #1425
@jayanthvn I am also having this problem and am seeing the logs you mentioned in the kube-proxy, any ideas what to try?
https://github.com/aws/amazon-vpc-cni-k8s/issues/1425#issuecomment-910708508
`E0224 13:01:39.847905       1 node.go:125] Failed to retrieve node info: nodes "ip-*.us-west-2" not found
E0224 13:01:40.853286       1 node.go:125] Failed to retrieve node info: nodes "ip-*.us-west-2"

[2022-02-24 23:32] jayanthvn commented on #1425
@jdschmidt -

workaround for now is to patch kube-proxy with this - `- --hostname-override=$(NODE_NAME)`in

[code]

[2022-02-25 00:31] vikasmb commented on #1842
Error during de-provisioning of kops cluster is due to a leaked ENI preventing further cleanup of VPC resources. Leakage of ENI during node termination is an existing issue tracked in https://github.com/aws/amazon-vpc-cni-k8s/issues/1223

[2022-02-25 00:48] jayanthvn commented on #1313
With 1.10.2 release, we use the previous result instead of querying API Server. Closing this issue.

[2022-02-25 00:48] #1313 closed

[2022-02-25 00:50] jayanthvn commented on #816
We have added the test case for non-host networking pods. Will be extending that for host networking pods to complete the request in this issue.

[2022-02-25 00:53] jayanthvn commented on #804
Testcase for the below scenario is added -

[code]

[2022-02-25 00:56] jayanthvn commented on #786
@sushrk is working on replacing k8stester with eksctl.

[2022-02-25 00:58] jayanthvn commented on #702
Ip rules tests are added as part of the new integration framework for pod networking and for SNAT configs.

[2022-02-25 00:58] #702 closed

[2022-02-25 01:00] jayanthvn commented on #690
This is added to the new integration framework -

[code]

[2022-02-25 01:00] #690 closed

[2022-02-25 01:02] jayanthvn commented on #159
Nodeport tests are added to the integration tests. Adding calico policy is pending.

[2022-02-25 04:06] jayanthvn commented on #694
@cgchinmay - Can we include this issue as part of this PR - https://github.com/aws/amazon-vpc-cni-k8s/pull/1863

[2022-02-25 21:46] vikasmb opened #1887 "Fix error handling in node label update path"
**What happened**:

In https://github.com/aws/amazon-vpc-cni-k8s/blob/8d05975da4f81274a3307806e5583fc9aa787d43/pkg/ipamd/ipamd.go#L1883 if error occurs in node label update, it needs to return error to the caller.

Instead, it logs the error and continues on to indicate that it updated the node with the label in https://github.com/aws/amazon-vpc-cni-k8s/blob/8d05975da4f81274a3307806e5583fc9aa787d4

[2022-02-25 23:26] M00nF1sh commented on #1887
we should consider use TwoWayStrategicMergePatch instead of update. (which saves request payload & we can disable resource version check safely for our use case)

https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/76bd7e3fc59a3dffa28397db2991edfd1a5889c7/pkg/targetgroupbinding/resource_manager.go#L503

[2022-02-26 14:48] jayanthvn opened #1890 "Improve unit-test coverage"
**What would you like to be added**:
Improve Codecov results.

**Why is this needed**:
Below are the current coverage -
[code]

Priority is to improve github.com/aws/amazon-vpc-cni-k8s/pkg/ipamd

[2022-02-28 21:15] asheldon opened #1893 "AWS_VPC_K8S_CNI_RANDOMIZESNAT=none is not used for IPv6 EKS cluster IPv4 SNAT"
**What you expected to happen**:
When AWS_VPC_K8S_CNI_RANDOMIZESNAT is set to `none` on IPv6 EKS clusters, I expected IPv4 to IPv4 SNAT to use `none` for SNAT randomization and to therefore use the ephemeral port range set at the OS level for IPv4 egress.

**How to reproduce it (as minimally and precisely as possible)**:
Run an IPv6 EKS cluster and validate that IPv4 egress from the pods use ports

[2022-02-28 21:29] achevuru commented on #1893
@[asheldon](https://github.com/asheldon) Can you expand on what you mean by `IPv6 to IPv4 SNAT`? We don't rely on NAT64 and there is no IPv6->IPv4 SNAT configured. Liveness/Readiness probes on an IPv6 only EKS cluster will only rely on IPv6 address assigned to the pod. IPv4 address assigned to the pod is a node local address and `kubelet` isn't aware of it. Why will a NACL(configured for IPs outsi

[2022-02-28 21:34] asheldon commented on #1893
EKS doesn't have dual-stack pods, so IPv6 cluster pods egress to the internet via SNAT on the host.  If that is not how egress to the internet works, how does it work?

I believe the relevant code is in https://github.com/aws/amazon-vpc-cni-k8s/blob/master/cmd/egress-v4-cni-plugin/snat/snat.go

[2022-02-28 21:41] achevuru commented on #1893
@[asheldon](https://github.com/asheldon) Yes, but we rely on IPv4->IPv4 SNAT (i.e.,) `egress-v4-cni-plugin` will allocate a node local IPv4 address which is then SNAT'ed to Node's primary IP before leaving the node (for egress IPv4 traffic).

I was referring to the statement- `which can break liveness / readiness probes on IPv6-only EKS clusters when those probes rely on IPv4`. These probes should

[2022-02-28 21:44] asheldon commented on #1893
I've observed with multiple Kubernetes add-ons that they attempt to reach out to the internet as part of their start up processes or as part of their health check process. Because network egress connectivity fails randomly, so do the health checks. With some add-ons, I've seen crash loops that eventually stop and stay stable, and with others the crash loops never end.  I haven't debugged each add-

[2022-02-28 21:48] achevuru commented on #1893
I see. So, the liveness/readiness probe failure is because a particular application pod is trying to reach an egress v4 endpoint but if the port number picked during the SNAT process falls in the port range blocked by the installed NACL then the application fails to come up leading to probe failures. Is that accurate?

[2022-02-28 21:49] asheldon commented on #1893
That is my understanding as well.

[2022-03-01 01:06] achevuru commented on #1893
Let me check that behavior and get back to you.

[2022-03-01 08:44] Baptistee-B commented on #1702
Any news on that ? Some topics we can vote for to push the fix ? :)

[2022-03-01 08:45] Baptistee-B commented on #1702
@jayanthvn Any news on that ? Some topics we can vote for to push the fix ? :)

[2022-03-01 08:52] AhmadMS1988 opened #1895 "Branch network interfaces support for new generation instances"
**What would you like to be added**:
Branch network interfaces support to enable Security groups for pods is not supported for new generation instance types like m6i, m6a, c6i, c6a, r6i and r6a.

**Why is this needed**:
This is needed to take advantage of the new instance types in Kubernetes in the case of security group for pods.

[2022-03-02 08:26] mclouds2020 opened #1900 "ENABLE_PREFIX_DELEGATION=true"
**What happened**:

In AWS documentation I can see ,

When you deploy a 1.21 or later cluster, version 1.10.1 or later of the VPC CNI add-on is deployed with it, and this setting is true by default. (ENABLE_PREFIX_DELEGATION=true)

I have created a new cluster 1.21 and with CNI as 1.10.1 but it is not enabled by default.

**Environment**:
- Kubernetes version (use `kubectl version`): 1.21
- CNI Ve

[2022-03-02 16:06] vikasmb commented on #1842
With these fixes, we now have a successful kops test run in https://github.com/aws/amazon-vpc-cni-k8s/runs/5382771558?check_suite_focus=true. Closing out this issue.

[2022-03-02 17:28] arnaudmm opened #1901 "aws-vpc-cni chart changelog?"
Small suggestion: it would be great to have a changelog file in https://github.com/aws/amazon-vpc-cni-k8s/tree/master/charts/aws-vpc-cni and reference it here https://github.com/aws/amazon-vpc-cni-k8s/tree/master/charts/aws-vpc-cni

[2022-03-02 18:22] achevuru commented on #1893
@[asheldon](https://github.com/asheldon) I was able to sort of replicate the behavior. For the IPv4 (NodeLocal IP) -> IPv4 (Node Primary IP) based SNAT for IPv6 pods, we use `--random-fully` option by [default](https://github.com/aws/amazon-vpc-cni-k8s/blob/master/cmd/egress-v4-cni-plugin/snat/snat.go#L36) if it is [supported by the underlying `iptables` version](https://github.com/aws/amazon-vpc-

[2022-03-02 19:39] haouc commented on #1901
@arnaudmm I think this is a good point. We do have changelog for VPC CNI release. Adding a changelog for charts sounds a good idea. The PR to add the file is welcome.

[2022-03-02 19:43] haouc commented on #1900
@mclouds2020 this may be caused by some confusion in the doc. We only set this ENV to true when you create a IPv6 EKS cluster. We will update the docs. Thank you.

[2022-03-02 20:21] haouc commented on #1878
@rdonadono sorry for the late response. Is the issue still happening? From the information that you shared, it is hard to determine if this has something to do with VPC CNI. If the issue persists, could you run the [debugging script](https://github.com/aws/amazon-vpc-cni-k8s/blob/master/docs/troubleshooting.md#collecting-node-level-tech-support-bundle-for-offline-troubleshooting) and share the log

[2022-03-03 07:07] arnaudmm commented on #1901
Sure I can add the file and I also can generate the changelog for the last 5 versions of the Chart using commit message.

But I need to know which commit were used to generate the last 5 versions referenced here : https://artifacthub.io/packages/helm/aws/aws-vpc-cni

What is the process to publish a Chart in artifacthub?

[2022-03-04 06:28] yongzhang commented on #1425
@jayanthvn Do you know where the issue was tracked?

[2022-03-04 06:34] jayanthvn commented on #1425
@yongzhang - It is tracked with this issue - https://github.com/aws/amazon-vpc-cni-k8s/issues/1078

[2022-03-04 07:53] yongzhang commented on #1078
Does `$(hostname)` work here? cloud-init is reporting syntax errors:
[code]

[2022-03-04 07:54] yongzhang commented on #1078
Does $(hostname) work here? cloud-init is reporting syntax errors:
[code]

[2022-03-04 23:07] roryharness commented on #1425
I started seeing these issues randomly after upgrading a k8s cluster 1.21 (late January) with cni 1.10.1.eksbuild

I have since tried CNI 1.10.2 and 1.9.3 and we still seem to get IPAMD startup issues randomly and then we proceeded to create a 2 new clusters on k8s 1.20 with cni 1.10.2 still getting IPAMD errors so tried cni 1.9.3 with 1.20 which is what we were on before the upgrade and we still

[2022-03-04 23:36] jayanthvn commented on #1425
@roryharness can you please email the logs from the bad node here k8s-awscni-triage@amazon.com

[2022-03-05 21:13] prateekgogia opened #1910 "Some pods unable to reach service backed by public IP of ec2 instance"
**What happened**:
When running a service on EKS which is backed by public IP address of the instance its reachable by some of the pods running on the same node. Pods which are assigned ip from primary ENI are able to reach this service, however, pods with IPs assigned from an attached ENI are not able to reach.

`my-service` is backed by nginx pod running in host network namespace, and 3.4.5.6(ch

[2022-03-06 10:56] jwolski2 opened #1911 "Unexpected egress bandwidth out to internet"
**What happened**:

Hey team, I'm wondering if you can help me sort out some network bandwidth issues we're having. We are running our application on Kubernetes on a c5n.9xlarge. I understand that a c5n.9xlarge has a maximum network throughput of 50Gbps. I also understand that the same instance type can drive 25Gbps to an internet gateway ([Source](https://docs.aws.amazon.com/AWSEC2/latest/UserGui

[2022-03-07 12:38] dkrzyszczyk commented on #1425
we faced a similar issue - this OOM one (`Exit Code: 137`).

- k8s v1.21.5
- amazon-k8s-cni v1.7.5
- here is screenshot with CPU & MEM of that node
<img width="729" alt="Screenshot 2022-03-07 at 13 22 34" src="https://user-images.githubusercontent.com/20296701/157034646-91c19bd5-4ef5-48b4-8d56-96d1aa040b10.png">

-  the pod called `aws-node` restarted over thousands of times inside the node
- logs

[2022-03-07 19:05] youwalther65 opened #1912 "CNI metrics helper v1.10.2 is unable to scrape metrics from aws-node"
**What happened**:
CNI helper pod is running but not able to scape metrics from aws-node pods
$ **k get clusterrole cni-metrics-helper**
NAME                 CREATED AT
cni-metrics-helper   2022-03-07T18:37:14Z

$ **k get clusterrolebinding  cni-metrics-helper**
NAME                 ROLE                             AGE
cni-metrics-helper   ClusterRole/cni-metrics-helper   23m

$ **k get deploy -n

[2022-03-07 19:11] cgchinmay commented on #1912
Will check and get back to you soon.

[2022-03-07 20:45] cgchinmay commented on #1912
If you were using IRSA then the region field should have been auto- injected. I am not sure why you don't see it in your deployment spec for cni-metrics-helper. Will check your cluster setup. Could you share your cluster-arn to k8s-awscni-triage@amazon.com
Meanwhile
1. Could you check cni-metrics-helper logs, it should display at the top what region and cluster id values are being used
2. Could yo

[2022-03-08 01:01] #1887 closed

[2022-03-08 03:55] jayanthvn commented on #1901
@arnaudmm - I will check on the process and get back to you.

[2022-03-08 04:04] jayanthvn commented on #786
#1899 related aws-k8s-tester with eksctl. With eksctl there is a reduction from 30-35 mins to 15-18 mins.

[2022-03-08 04:04] #786 closed

[2022-03-08 07:09] youwalther65 commented on #1912
I followed installation instructions from:
https://docs.aws.amazon.com/eks/latest/userguide/cni-metrics-helper.html

This points to the following YAML for SA, RBAC and deployment:
$ curl -o cni-metrics-helper.yaml https://raw.githubusercontent.com/aws/amazon-vpc-cni-k8s/release-1.10/config/master/cni-metrics-helper.yaml

This already has some duplicates in deployment code:
---
# Source: cni-metric

[2022-03-08 07:32] cgchinmay commented on #1912
Could you check this Readme : https://github.com/aws/amazon-vpc-cni-k8s/tree/master/cmd/cni-metrics-helper
Also share your cluster-arn to: [k8s-awscni-triage@amazon.com](mailto:k8s-awscni-triage@amazon.com) . This will help me inspect your deployment spec and service accounts. Thanks

[2022-03-08 07:39] youwalther65 commented on #1912
Same HTTP 503 messages but I can confirm that region is used in deployment now.
$ **k logs -n kube-system cni-metrics-helper-75cb84c9f8-r2wgn**
{"level":"info","ts":"2022-03-08T07:15:30.793Z","caller":"runtime/proc.go:255","msg":"Starting CNIMetricsHelper. Sending metrics to CloudWatch: true, LogLevel Debug"}
I0308 07:15:31.850529       1 request.go:621] Throttling request took 1.037923334s, reque

[2022-03-08 07:55] youwalther65 commented on #1912
Interesting to see why IRSA does not inject bot AWS_REGION and AWS_DEFAULT_REGION. Did it manually in delyment and now NTH works:
$ **k logs -n kube-system aws-node-termination-handler-6f846dcb79-rm6hl**
2022/03/07 15:43:17 INF Starting to serve handler /healthz, port 8080
2022/03/07 15:43:17 INF Startup Metadata Retrieved metadata={"accountId":"<redacted>","availabilityZone":"eu-west-1a","instanc

[2022-03-08 19:34] louismrose opened #1917 "Helm chart compatibility with EKS docs"
**What happened**:

I've been following the [CNI custom networking instructions](https://docs.aws.amazon.com/eks/latest/userguide/cni-custom-network.html) in the EKS docs.

Step 5c recommends setting the following env var on the VPC CNI daemonset:

Step 5a recommends creating ENIConfigs manually via `kubectl`.

I was hoping to use the Helm chart in this repo to install the ENIConfigs, and otherwis

[2022-03-08 20:41] jayanthvn commented on #1917
Thanks, we just need `$key` here - https://github.com/aws/amazon-vpc-cni-k8s/blob/master/charts/aws-vpc-cni/templates/eniconfig.yaml#L6. I did a quick test upon removing and eniconfig is generated fine -

[code]

[2022-03-08 21:18] #1917 closed

[2022-03-08 22:00] #1874 closed

[2022-03-08 23:03] cgchinmay commented on #1912
Hi @youwalther65 I followed the steps mentioned here: https://docs.aws.amazon.com/eks/latest/userguide/cni-metrics-helper.html . I tried in ap-east-1 region and was able to find cni-metrics-helper pod injected with AWS_REGION as well as AWS_DEFAULT_REGION fields. I created serviceaccount using eksctl (just fyi). I am not sure what went wrong in your case but you can give it a one more try with a f

[2022-03-10 02:02] ttres opened #1922 "Warning message is displaying security groups' memory address, instead of name/ID"
IPAM log file is displaying memory addresses instead of names:
[code]

Error text points to this code:
https://github.com/aws/amazon-vpc-cni-k8s/blob/828385ba872702c2639dedc0e5f5faf006956e27/pkg/awsutils/awsutils.go#L822

[2022-03-10 03:34] jayanthvn commented on #1922
Hi, I recently fixed this with #1892. PR is merged to master.

[2022-03-10 11:32] ttres commented on #1922
Thanks! Closing.

[2022-03-10 11:32] #1922 closed

[2022-03-11 20:33] chickenbeef opened #1923 "CNI reports as Ready even if it cannot get any IPs"
**What happened**:

After pull request #1585 and #1830 was merged, IPAMD reports as healthy and running even if there are insufficient IP addresses or prefixes in a subnet. This changes the behaviour of the VPC CNI plugin as the entrypoint script will copy the CNI binary and kubelet will mark the node as `Ready`. Pods will get scheduled onto the node but get stuck in ContainerCreating because IPAM

[2022-03-11 20:52] jayanthvn commented on #1923
Yes this was done to reduce the number of `DescribeNetworkInterface` calls instead reconciler will retry every 2 mins.

[2022-03-11 21:12] jayanthvn commented on #1893
#1903 is merged to master. This will be released as part of CNI 1.11.0.

[2022-03-11 21:12] #1893 closed

[2022-03-11 21:25] haouc commented on #1878
@rdonadono this sounds like a node or coredns issue instead of VPC CNI. In order to better investigate the issue, would you mind to open a EKS support case if the issue persists. Thanks.

[2022-03-14 12:01] jayanthvn commented on #1702
1.22 default kube-proxy manifest will have this change. Release calendar can be found here - https://docs.aws.amazon.com/eks/latest/userguide/kubernetes-versions.html

[2022-03-15 00:39] asheldon opened #1925 "IPv6 egress support for IPv4 EKS clusters"
**What would you like to be added**:

The ability to egress from an IPv4-only pod to an IPv6-only endpoint

**Why is this needed**:

When a resource is available only via IPv6, it cannot be accessed from an IPv4-only EKS cluster, except via host networking.

[2022-03-15 08:29] ppandiya commented on #1528
Any updates on this.

[2022-03-15 09:03] stevehipwell commented on #1528
@ppandiya we're going to change our K8s network design to only use a single secondary address space per zone when using IPv4; with IPv6 we don't need this functionality.

Based on EKS best practices all of nodes should be in private subnets, which does raise some compliance concerns when compared to legacy architecture but these should be mitigated by K8s native controls such as network policies.

[2022-03-15 09:06] ppandiya commented on #1528
@stevehipwell Thanks for the update.
I am using nat instances not nat gateway due to cost concerns. i have 6 subnets and 6 nat instances 1 per subnet. I have to distribute traffic to all 6 nat instances . Any ideas?

[2022-03-15 09:18] stevehipwell commented on #1528
@ppandiya I've learnt that fighting managed services such as EKS is almost never worth it; is the NAT cost saving worth the extra effort and being responsible for outages?

That said custom networking with a custom label works correctly. It's trivially easy to add zone based labels when using single zone ASGs; when using multi zone ASGs you need custom bootstrapping; if you're running AL2 self-man

[2022-03-15 12:04] matti opened #1929 "aws-node crashes with ipv6 on c5.metal"
**What happened**:

eksctl created cluster has aws-node in CrashLoopBackOff on eu-west-1

ami: ami-0f47e499c06cba4fc
managed nodegroup
instance-type c5.metal
network ipv6
image: 602401143452.dkr.ecr.eu-north-1.amazonaws.com/amazon-k8s-cni:v1.10.2-eksbuild.1

**Attach logs**
[code]

**What you expected to happen**:
No crash

**How to reproduce it (as minimally and precisely as possible)**:
Create a

[2022-03-15 12:15] shahid-devops commented on #1245
Hey Guys,
I am also facing the same issue, I saw the subnets and it has more than 45 available IP's but still i am facing the issue

Failed to create pod sandbox: rpc error: code = Unknown desc = failed to set up sandbox container "d31a2f64c54c259266f4e3eca18b5cc67ec104b5abd612e422c2acfcfecc86bc" network for pod "test-pod--8sq97": networkPlugin cni failed to set up pod "test-pod--8sq97_default" ne

[2022-03-15 12:33] matti commented on #1929
and now with another instance c5a.16xlarge it runs just fine in the same cluster

[2022-03-15 12:39] matti opened #1930 "aws-node amazon-k8s-cni:v1.10.2-eksbuild.1 restarts always on start"
**What happened**:
A new node fails to wait for IPAM-D and gets restarted. After the restart it works.

**Attach logs**
from the failed/terminated container run:
[code]
after restart:
[code]

**What you expected to happen**:
No restart

**How to reproduce it (as minimally and precisely as possible)**:
Create new eksctl cluster, add nodes. Happens on ~25% of the starts

**Anything else we need to k

[2022-03-15 13:32] matti commented on #1929
verified - it *always* crashes on c5.metal instances, works fine on c5.24xlarge and c5a.16xlarge

[2022-03-15 16:50] achevuru commented on #1929
Were these env variables (`ENABLE_IPv4` and `ENABLE_IPv6`) added after `aws-node` was already in `CrashLoopbackOff`? It should be same as #1854 based on the stack trace you provided - https://github.com/aws/amazon-vpc-cni-k8s/blob/v1.10.2/pkg/ipamd/ipamd.go#L640

[2022-03-15 17:22] matti commented on #1929
eg. I have the same eksctl created yaml and it works on all other instance types except on c5.metal

[2022-03-15 18:15] matti commented on #1929
with this ekctl cluster config it should happen as long as instanceSelector returns c5.metal - might need some scaleup to get it: https://github.com/weaveworks/eksctl/issues/4956#issue-1169709391

[2022-03-15 21:05] jayanthvn commented on #1930
Hi, can you please check if Kubelet-proxy is up?

There is a known issue where kube-proxy takes time to start. You would see this in kube-proxy logs -

[code]

[2022-03-16 08:03] matti commented on #1930
@jayanthvn it is up and doesn't look like https://github.com/aws/amazon-vpc-cni-k8s/issues/1078

I managed to reproduce this on the second node I scaled up:

<img width="1685" alt="image" src="https://user-images.githubusercontent.com/3893/158543001-5d5b8841-803f-4110-91ab-654ae3b4dc14.png">

and then here are the describes for both aws-node and kube-proxy and logs (from terminated aws-node, runni

[2022-03-16 08:04] matti commented on #1930
and this is not just sometimes, almost always:

<img width="1695" alt="image" src="https://user-images.githubusercontent.com/3893/158544149-14b7fc4e-f94d-46ec-b2e1-13f1584e1f18.png">

[2022-03-16 09:12] matti commented on #1929
just spun up another cluster with c5.metal instance and same behaviour, same stacktrace and envs are set for sure.

[code]

[2022-03-16 09:17] matti commented on #1929
@achevuru I don't understand how

https://github.com/aws/amazon-vpc-cni-k8s/blob/master/pkg/ipamd/ipamd.go#L640

can be nil when

https://github.com/aws/amazon-vpc-cni-k8s/blob/5f8ffc672072af5829c197149a9b0959314fc7e7/pkg/ipamd/ipamd.go#L376

gets called in New()

even if the envs were note set (but they are)

[2022-03-16 09:21] matti commented on #1929
@achevuru here it is, this sets it to nil if enabled (!)

https://github.com/aws/amazon-vpc-cni-k8s/blob/master/pkg/ipamd/ipamd.go#L513-L521

[2022-03-16 09:24] matti commented on #1929
so then the whole https://github.com/aws/amazon-vpc-cni-k8s/blob/5f8ffc672072af5829c197149a9b0959314fc7e7/cmd/aws-k8s-agent/main.go#L66 is null

[2022-03-16 13:25] #1912 closed

[2022-03-16 17:51] farhank3389 commented on #1930
We're also having the same issue on one of our clusters. Although it doesn't come up after a restart for us, it just keeps restarting.

[2022-03-16 17:56] jayanthvn commented on #1930
@farhank3389 - What is you instance type? Do you have prefix delegation enabled? Can you please share the error code from `/var/log/aws-routed-eni/ipamd.log`?

[2022-03-16 17:56] cgchinmay commented on #1930
@farhank3389 Could you collect [logs](https://github.com/awslabs/amazon-eks-ami/tree/master/log-collector-script/linux) send to k8s-awscni-traige@amazon.com.
What is the Instance type you are using ?
Could you confirm these repro steps
1. Spin up cluster using eksctl with this instance type
2. aws-node will be stuck in restart loop

Does it auto-resolve ? Were you able to resolve it ?

[2022-03-16 21:10] iomarcovalente commented on #1930
@cgchinmay we don't use eksctl to create the cluster as we self-manage our nodes and use terraform to provision eks.
We never had issues with this until today. Matter of fact we have three other clusters and they work fine with the same configuration only today all new nodes that were spinning up went into this state.

[2022-03-16 21:15] iomarcovalente commented on #1930
is it really `k8s-awscni-traige@amazon.com` ? because `traige` is a typo FYI guys

[2022-03-16 21:16] cgchinmay commented on #1930
my bad, its k8s-awscni-triage@amazon.com

[2022-03-16 21:42] jayanthvn opened #1932 "Add testcase for issue #1893"
**What would you like to be added**:
Add test case for testing the scenario mentioned here - #1893

**Why is this needed**:
IPv6-only EKS clusters when those probes rely on IPv4.

[2022-03-16 21:52] iomarcovalente commented on #1930
nevermind - we found the issue. It was with kube-proxy pointing to the wrong api address due to a bug in our code. Apologies for the noise

[2022-03-16 21:58] jayanthvn commented on #1930
Thanks for the update @iomarcovalente

[2022-03-16 21:59] matti commented on #1930
changed the title of this issue to always - I'm not seeing one node that doesn't restart, all my nodes restart in cluster. sending cluster arn and logs to k8s-awscni-triage@amazon.com now

[2022-03-17 00:08] achevuru commented on #1929
@[matti](https://github.com/matti) IPv6 is only supported in [Prefix Assignment/Delegation mode](https://github.com/aws/amazon-vpc-cni-k8s#vpc-cni-feature-matrix). Prefix Delegation is only supported on Nitro instances and CNI relies on `Hypervisor` [type to be `nitro` ](https://github.com/aws/amazon-vpc-cni-k8s/blob/611d880b538df8456036680d49877fd69d02466b/pkg/ipamd/ipamd.go#L2184)to determine if

[2022-03-17 13:27] berry2012 commented on #1038
I am able to reproduce similar issue.

`kubectl describe pod aws-node-sgp4c -n kube-system`

[code]

`
kubectl logs aws-node-sgp4c -n kube-system
`

[code]

**debugging from the node**
`tail -f /var/log/aws-routed-eni/ipamd.log | grep error`

`{"level":"error","ts":"2022-03-17T13:06:14.594Z","caller":"ipamd/ipamd.go:456","msg":"Failed to call ec2:DescribeNetworkInterfaces for [eni-0b8d9XXXXX0ff09

[2022-03-18 00:30] envybee commented on #1868
@cgchinmay wondering if you've come across anything to fix this? Thanks

[2022-03-18 12:04] matti commented on #1930
![image](https://user-images.githubusercontent.com/3893/158999903-6367bcd1-2fef-4a2a-a3e6-263dd349c96e.png)

@jayanthvn doesn't this happen always for you, too?

[2022-03-18 18:28] sidewinder12s commented on #1425
@jayanthvn Are we use the error code 137 is due to memory here?

In one of our clusters where we were seeing this error with the cni-plugin, we were seeing similar exit code 137 on some pods that were no where near their memory limits. The nodes themselves also appeared to not be under memory pressure (But were at 100% CPU utilization for extended periods of time. We had a few workloads without CP

[2022-03-18 18:30] jayanthvn commented on #1930
Looks like kube-proxy has completed programming the routes around `21:38:37.086265`-

[code]

During this time aws-node was waiting to test reachability to api server ->
[code]
It has failed to reach because of kube-proxy dependency and restarted once and this time it is successful.
[code]

This is expected behavior and we are looking into removing this dependency at startup.

[2022-03-18 18:37] matti commented on #1930
this expected behavior also makes nodes that joined the cluster unable to run workloads for ~1min slowing down everything - how can I workaround this?

[2022-03-18 18:59] achevuru commented on #1425
@[sidewinder12s](https://github.com/sidewinder12s) Can you elaborate on what you mean by `the kubelet tries to restart the container, it doesn't respond and gets killed `? There are no restart hooks/APIs that kubelet is using to restart a container here right? It will just restart the process (container) and if it is due to a liveness/readiness probe failure, we should see an event appended to the

[2022-03-18 19:30] sidewinder12s commented on #1425
Oh I just meant the failing probes caused it to restart the pod. And we also did see those failure events appended to the pod.

I do not think pod priority class has any effect on kubelet resource eviction/allocation though, just QoS Class does. And since these pods out of the box do not have requests == limits, they are still in the burstable class like most workloads.

More worrying for us is th

[2022-03-18 19:59] achevuru commented on #1425
We can check the CNI logs to see why it hasn't recovered after the node recovered from the high load event. If you're able to reproduce it, please share the logs via `[k8s-awscni-triage@amazon.com](mailto:k8s-awscni-triage@amazon.com)` . We can check and get back.

[2022-03-18 20:26] sidewinder12s commented on #1425
I've opened a case with support and asked them to route it to your team as some of the log bundles are large.

[2022-03-18 20:48] karrth commented on #1425
We have also experienced this problem.  AWS support recommended increasing the liveness and readiness probe timeouts.  I created and applied this patch, which has resolved the problem for us.

`aws-node-patch.yml`
[code]

[code]

[2022-03-19 02:30] cgchinmay commented on #1868
@envybee based on the logs and information gathered so far, I didn't find anything to hint that multus token expires after 90 days. There is an update to the service account token in kubernetes 1.22 but its valid for 1 year. You can read more about this here: https://github.com/kubernetes/enhancements/blob/master/keps/sig-auth/1205-bound-service-account-tokens/README.md

About this particular issu

[2022-03-19 13:23] dsaydon90 opened #1934 "VPC CNI Network Policy controller"
**What would you like to be added**:
Today, when you create a new **EKS** cluster you are getting the **VPC cni** by default.
Now, if you need to limit the network access between your pods you have several choices:

1. Install [Calico add-on](https://docs.aws.amazon.com/eks/latest/userguide/calico.html) which comes with some limitations
2. Use [Security groups for pods ](https://docs.aws.amazon.co

[2022-03-19 22:11] achevuru commented on #1925
[asheldon](https://github.com/asheldon) We will look in to it and get back to you. However, interested in understanding the use case a bit more. Are you more interested in reaching external IPv6 only services (or) IPv6 services hosted on different clusters with in the same VPC?

Have you considered using a [dual stack NLB/ALB](https://aws.amazon.com/about-aws/whats-new/2021/11/application-load-bal

[2022-03-20 00:48] asheldon commented on #1925
@achevuru Thanks for the reply. Snapchat runs a [service mesh](https://eng.snap.com/monolith-to-multicloud-microservices-snap-service-mesh) based on [Envoy](https://envoyproxy.io/), so for typical communication between services, we do not use traditional load balancers. This is especially true in scenarios where we use routing techniques, like ring hashing, that don't treat every server in a fleet

[2022-03-20 14:19] matti opened #1935 "aws-node amazon-k8s-cni:v1.10.2-eksbuild.1 fails on non nitro instances"
**What happened**:

Launching instances on c5a.12xlarge fails to start / register in EKS - similar to #1929

**Attach logs**

logs from root session, the node is not present in EKS:

[code]

**What you expected to happen**:

Node to become healthy

**How to reproduce it (as minimally and precisely as possible)**:

managed nodegroup wtih c5a.12xlarge (or maybe some other 48 core machine)

**Environ

[2022-03-20 14:21] matti commented on #1929
@achevuru so that is the reason for metal instances, then why #1935 ?

[2022-03-20 15:37] jayanthvn commented on #1935
This doesn't look like #1929 since the instance is marked as nitro - https://github.com/aws/amazon-vpc-cni-k8s/blob/v1.10.2/pkg/awsutils/vpc_ip_resource_limit.go#L49. Can you please share ipamd.log?

[2022-03-20 15:49] matti commented on #1935
@jayanthvn sure, from where do I get it?

[2022-03-20 17:27] matti commented on #1935
and since this fails *always* I'm going to create a new EKS cluster with instance selector 48cpu managed nodegroup and fetch it from there once I know what to fetch.

[2022-03-20 17:36] achevuru commented on #1935
@matti I just tried creating both IPv4 and IPv6 nodegroups with`c5a.12xlarge` instances and I didn't run in to any issues. I was able to schedule pods as well in both IPv4 and IPv6 modes. Please check if you're using the correct manifest for 1.10.x versions. You can send the clusterArn to `k8s-awscni-triage@amazon.com` and we can check as well.

[2022-03-20 17:38] matti commented on #1935
Since I'm using eksctl, the manifest should be correct and other nodegroups launch

[2022-03-20 17:43] matti commented on #1935
@achevuru just sent email there with a cluster that is currently creating nodegroups for long time even without this instance type. I have a retry logic which eventually makes nodegroups to become healthy.

I'm going to start another cluster with this specific type and send that too.

[2022-03-20 17:46] matti commented on #1935
the one I sent is just deleting the nodegroup because it failed to become online (same stacktrace as in the first post of this issue)

can you point me to the ipamd.log, where is it and I'll send it.

[2022-03-20 17:49] matti commented on #1935
https://github.com/aws/amazon-vpc-cni-k8s/blob/master/docs/troubleshooting.md#debugging-logs-are-stored-in

found it - one node is again in this state, going in there now

[2022-03-20 17:51] matti commented on #1935
[code]

[code]

[code]

[2022-03-20 17:53] achevuru commented on #1935
[code]

[2022-03-20 17:55] jayanthvn commented on #1935
Hi, the instance type here is t2 medium and is non nitro which doesn't support PD.

[2022-03-20 17:55] matti commented on #1935
okay.png

this makes using instance selector pretty useless since it returns t2.medium with cpu 2 and 4gb ram.

[2022-03-20 17:56] matti commented on #1935
how to use https://github.com/aws/amazon-ec2-instance-selector so that it only returns instances that support PD?

[2022-03-20 17:56] achevuru commented on #1935
Not sure how `eksctl` is allowing the use to bootstrap an IPv6 NG with Non-nitro instances. I believe `eksctl` only allows Managed Nodegroups with IPv6 and if we attempt to create a v6 nodegroup from EKS console, it throws an error saying the instance can't be used because it is non-nitro. I see the same message even for `c5.metal` but it appears that eksctl allowed it to go through for v6 ng.

[2022-03-20 17:58] matti commented on #1935
or, how to even know which instances would work? I'd imagine that this would be a perfrect usecase for ec2-instance-selector to filter out

[2022-03-20 17:59] achevuru commented on #1935
List of Nitro Instances - https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instance-types.html#ec2-nitro-instances

[2022-03-20 18:02] achevuru commented on #1935
@matti Not really famiilar with ec2-instance-selector. Possible they don't have a way to filter out the instances by hypervisor family. Will check once and will share if there is a way to do it.

[2022-03-20 18:05] matti commented on #1935
[code]

[2022-03-20 18:08] achevuru commented on #1935
@matti Was just going through the docs as well and found that flag as well. So, is it returning you a non-nitro instance, even after specifying the `hypervisor` flag to be `nitro`? If so, might be a bug with ec2-instance-selector then..

[2022-03-20 18:09] matti commented on #1935
it works:

without hypervisor=nitro:

[code]

with:
[code]

[2022-03-20 18:29] matti commented on #1935
workarounded: https://github.com/matti/eksler/blob/124ed6943500c797d6a03b121707a87c9a055042/bin/eksler#L328

btw, ec2-instance-selector has some "Suite Flags":

[code]

but
[code]

returns t2.medium, so not sure what's the point of that suite flag OR if it's really up to date

[2022-03-20 19:57] matti commented on #1929
because of nitro hypervisor.

[2022-03-20 19:57] #1929 closed

[2022-03-20 22:16] matti opened #1936 "network fails to start with 64vcpu, 96vcpu instances on larger clusters"
**What happened**:

Launched 12,000 pods and got ~600 instances and first nodes started okay, but after kubernetes master started upgrading (connectivity issues) then some/none did register on EKS, but failed to start networking.  Tried deleting all not-ready nodes but the replacement nodes also failed to start networking.

**Attach logs**

eksctl created ipv6 1.21 cluster (see yamls at the end)

[2022-03-21 11:05] matti commented on #1930
workarounding faster restarts with dropping livenessProbe initialDelaySeconds from 60 to 1

[code]

[2022-03-21 19:21] matti commented on #1936
maybe: not related to cluster largeness, but 64core and 96core instances seem to fail to register even if they are nitro and not-metal

[2022-03-21 20:22] matti commented on #1936
confirmed! Now when I used only 16cpu, 32cpu and 48cpu instances this didn't happen and I was able to scale to 675 instances and run 15788 pods with request.cpu=1, so ~15788 cores until my quota ran out.

[2022-03-21 22:13] jayanthvn commented on #1936
@Matti thanks for checking. Can you please share the logs bundle on the failed node. You can email it to - [k8s-awscni-triage@amazon.com](mailto:k8s-awscni-triage@amazon.com). Also just to confirm aws-node never recovers?

[2022-03-21 23:15] achevuru commented on #1831
@[envybee](https://github.com/envybee) EKS/K8S 1.21 has [BoundServiceAccountToken](https://kubernetes.io/docs/reference/access-authn-authz/service-accounts-admin/#bound-service-account-token-volume) feature enabled by default. So, the ServiceAccount tokens are time and audience bound. `1 hr` is the default expiry time. But the EKS 1.21 clusters has the migration flag enabled, so new tokens will be

[2022-03-21 23:18] achevuru commented on #1935
VPC CNI v1.10.x will not bootstrap on Non-Nitro instances in IPv6 mode and this is by design as we don't support IPv6 on these instances. Should work without any issue in IPv4 mode.

[2022-03-21 23:24] achevuru commented on #1936
@matti Based on the below logs you shared, VPC CNI isn't able to talk to API Server and this is preventing it from initializing correctly. Until CNI can validate API Server connectivity, it will not copy over the CNI config file to `/etc/cni/net.d` and CNI binaries to `/opt/cni/bin` resulting in the `kubele`t error messages you saw regarding `Networking not being initialized`.

[code]

We need to

[2022-03-22 00:09] jayanthvn commented on #1936
Also did kube-proxy start up fine on this node?

[2022-03-22 09:08] matti commented on #1935
yes, just changed the title for history.

[2022-03-22 09:08] #1935 closed

[2022-03-22 12:44] matti commented on #1936
@achevuru no idea how it could be permission issue since other nodepools work fine, the only thing that is different is that the problematic nodepools use instances of 64cpu/128gb and 96cpu/192gb that ec2-instance-selector returns here: https://github.com/matti/eksler/blob/e4eba9f1b2bbb5d46930ceaa7d0cdeb520777966/bin/eksler#L348-L357

@jayanthvn in my opinion it did, how can I make sure?

I'll pos

[2022-03-22 13:42] matti commented on #1936
also, I'm constantly creating/deleting clusters and when I use only 8,16,32,48 core instances I have 0 problems.

[2022-03-22 17:59] achevuru commented on #1936
@[matti](https://github.com/matti) If you just create a small Nodegroup with either  64cpu/128gb and 96cpu/192gb instances, does it fail? Or do you see these failures only when you scale beyond a certain limit?

[2022-03-22 19:13] malpania commented on #1831
Hi @achevuru , We have upgraded our cluster 1.19 to 1.20 and now running 1.21 version. CNI version we are running 1.9.0.

[2022-03-23 00:17] malpania commented on #1831
Similar issue has been raised by us on https://github.com/istio/istio/issues/38077

[2022-03-23 16:04] jayanthvn commented on #1923
@chickenbeef - issue is reopened. Can you please let me know if you are seeing any issue with the approach?

[2022-03-24 09:18] jwolski2 commented on #1911
Hey @jayanthvn I'm curious if you've had any time to dive into this issue. I've been working with AWS Support on a case about this same issue and after a few days of performing their own tests, they've concluded:

* EC2 infrastructure looks fine
* "Something is going on in Kubernetes or the AWS CNI that is restricting bandwidth"
* Since our setup is not part of EKS, their continued support would b

[2022-03-24 12:40] niroowns commented on #1207
Hi @jayanthvn - any update on this?

[2022-03-27 00:10] achevuru commented on #1936
@[matti](https://github.com/matti) Tried out IPv6 Node groups with both 64 vcpu (c5a.16xlarge) and 96 vcpu (c5a.24xlarge) instances and they came up fine for me. Pod scheduling worked as intended as well. We might've to check both `kubelet` and `aws-node`(CNI) logs in your case to see what might be contributing to the problem.

[2022-03-28 22:26] jayanthvn commented on #1923
One option is to add `noSchedule` taint when IPs/Prefixes are not available on startup. But need to explore any risks by enabling this functionality in IPAMD.

[2022-03-29 16:44] M00nF1sh opened #1939 "v1.10.2 could leak IP addresses under edge conditions"
**What happened**:
v1.10.2 introduced a [change](https://github.com/aws/amazon-vpc-cni-k8s/blob/v1.10.2/cmd/routed-eni-cni-plugin/cni.go#L320) to skip CNI's delCmd when netNS is empty. This can cause IP address leaks under certain edge conditions when sandbox container was terminated(e.g. OOM), where IPAMD didn't free the IP addresses used by these terminated Pod.

The mitigation step if it happen

[2022-03-30 10:53] crechandan commented on #1425
Hello All,

I am still facing the issue related to aws-cni pod not running on my EKS cluster (via Cloudformation EKS addon functionality):

- EKS 1.20.11 version
- mazon-k8s-cni:v1.7.5-eksbuild.1
- amazon-k8s-cni-init:v1.7.5-eksbuild.1

Even after applying the workaorund patch ie
aws-node-patch.yml

spec:
  template:
    spec:
      containers:
      - name: aws-node
        livenessProbe:

[2022-03-30 11:38] dkrzyszczyk commented on #1425
@crechandan for us upgrading cni worked like a charm. aws recommended cni version for k8s v1.20 is 1.10.1 [(see table here)](https://docs.aws.amazon.com/eks/latest/userguide/managing-vpc-cni.html). we do not use addon so we basically apply yaml from the official cni repo: [current release aws-k8s-cni.yaml](https://raw.githubusercontent.com/aws/amazon-vpc-cni-k8s/release-1.10/config/master/aws-k8s-

[2022-03-30 11:38] crechandan commented on #1930
Hello All,

I am still facing the issue related to aws-cni pod not running on my EKS cluster (via Cloudformation EKS addon functionality):

EKS 1.20.11 version
mazon-k8s-cni:v1.7.5-eksbuild.1
amazon-k8s-cni-init:v1.7.5-eksbuild.1
Even after applying the workaorund patch ie
aws-node-patch.yml

spec:
template:
spec:
containers:
- name: aws-node
livenessProbe:
timeoutSeconds: 5
readinessProbe:
timeou

[2022-03-30 12:16] crechandan commented on #1425
@[dkrzyszczyk](https://github.com/dkrzyszczyk)
Thanks for response.

Yes, when we are using aws-cni deployment via link >> https://docs.aws.amazon.com/eks/latest/userguide/managing-vpc-cni.html via kubectl apply command. This is working for me as well.

But issue is only when we are trying to deploy aws-cni **eks-addon using CloudFormation** >> eks addon feature:
[code]
We are just trying to simpl

[2022-03-30 15:17] christophermetz commented on #1425
We are facing the same issue with EKS 1.21 and vpc-cni 1.10.1.eksbuild and 1.10.2.eksbuild. The issue appears on nodes with high CPU and/or Memory utilization.

We solved it as follows:
- Uninstall the vpc-cni addon managed by AWS as it controlls the aws-node daemonset. So all patches made to the aws-node daemonset will be reverted. Deletion can be done using the AWS console. Make sure to check op

[2022-03-31 05:07] crechandan commented on #1425
I tried below Cloud Formation with version this time for aws cni eks addon:

Still it is not working. Logs for aws cni pod mentined below:
[code]
All pods on EKS cluster is waiting for vpc cni to be up and & running (all are struck in pending state)
![image](https://user-images.githubusercontent.com/65286653/160980613-540d57bb-edd3-4a63-a94b-d81f80764aed.png)

[2022-03-31 13:42] justin-obn commented on #1791
@GoGoPenguin Were you finally able to get a fix?

[2022-03-31 14:17] cgchinmay commented on #1791
@justin-obn are you facing a similar issue ? what version of vpc-cni are you using. Could you share your logs at k8s-awscni-triage@amazon.com

[2022-03-31 19:21] jayanthvn commented on #159
#1906 calico tests are added. Closing this issue.

[2022-03-31 19:21] #159 closed

[2022-03-31 20:59] rpf3 commented on #1425
I'm seeing the same issues but I've noticed that it only occurs if I explicitly set the `service-account-role-arn` flag.  If I let the add-on inherit the role from the node as described in the documentation then the pods start without issue.  My cluster also has an OIDC provider associated with it as required by the docs for using an existing IAM role.

[2022-04-01 02:45] chiplux opened #1947 "Change Image Name on yaml manifest based on the version (vpc-cni v1.8.0)"
**What happened**:

Image problem on version 1.8.0, https://github.com/aws/amazon-vpc-cni-k8s/blob/v1.8.0/config/master/aws-k8s-cni.yaml#L156
should change:
1.  `"image": "602401143452.dkr.ecr.us-west-2.amazonaws.com/amazon-k8s-cni:latest"` to `"image": "602401143452.dkr.ecr.us-west-2.amazonaws.com/amazon-k8s-cni:v1.8.0"`
2. `"image": "602401143452.dkr.ecr.us-west-2.amazonaws.com/amazon-k8s-cni-in

[2022-04-01 05:35] jayanthvn commented on #1947
@chiplux - you can find the correct manifest here - https://github.com/aws/amazon-vpc-cni-k8s/blob/v1.8.0/config/v1.8/aws-k8s-cni.yaml.

Is there any reason you would like config/master to be updated in release-1.8 branch?

[2022-04-01 15:17] justin-obn commented on #1791
@cgchinmay Thanks for you quick reply. I'm not facing this issue anymore

[2022-04-03 08:59] DanOfir commented on #1399
any workaround here? it's making the entire ec2 reach the rate limit

[2022-04-03 14:51] jayanthvn commented on #1399
Hi, Can you please expand more on this? Are you reaching API rate limit because we keep retrying delete while detach is still under process? Or are you seeing ENIs in the account while cluster is deleted?

[2022-04-04 18:46] bilby91 commented on #1847
We are seeing a similar situation where `IPAM-D` won't start successfully and the `aws-node` pod would restart at least once. We are running eks 1.20.

[code]

[2022-04-04 18:51] cgchinmay commented on #1868
Based on the findings, I think we can close this issue. Did not find anything in multus or Control plane that would cause certificates to expire after 90 days. Please reopen if the issue reoccurs. Do collect logs and send it to [k8s-awscni-triage@amazon.com]

[2022-04-05 15:39] lapwat commented on #1790
I do have the same issue.

I want to wait for my `redis` container to be ready to accept connexions before my Pod switches Ready state.

[code]

The problem here is that the `redis` container is not reachable during the `postStart` phase. Which means that my pod will never enter the `Running` state.

If I remove the `postStart` command and simply run `while ! redis-cli ping; do echo hello; sleep 2

[2022-04-06 07:18] raj13aug opened #1955 "Configure the private image registry"
**What happened**:

How to configure calico operator to pull images from a our private registry rather than public registry? please help me on this matter.

I have followed the AWS document to install addon via  manifest.

https://docs.aws.amazon.com/eks/latest/userguide/calico.html

**Environment**:
- Kubernetes version (use `kubectl version`):
- CNI Version
- OS (e.g: `cat /etc/os-release`):
- K

[2022-04-07 10:49] crechandan commented on #1425
@rpf3 Thanks a lot - When I used the same cloud formation without mentioning the service-account-role-arn flag : it worked perfectly. Implemented Kube-proxy, Core-dns & aws-cni in same way and all are working with cloudformation EKS addon feature.

[2022-04-07 13:55] mmclane opened #1956 "CNI takes longer on bigger nodes"
**What happened**:

I have an EKS cluster running with the latest CNI plugin (v.1.10.2) and I am using the latest version of Karpenter to scale nodes out dynamically.  That works great but I am seeing some slowness when a new nodes is added that I can't explain and I am trying to understand and if possible improve.  The following are my observations.  I have found these times to be fairly consiste

[2022-04-11 21:59] sidewinder12s opened #1963 "CNI Plugin fails to start or log any errors if the default/kubernetes service contains invalid/non-functional endpoints"
**What happened**:
Somehow my API Servers which were configured with public/private access, ended up with the control plane ENIs going into an Available (instead of attached) state. This left their addresses left in the service object for the kubernetes service in the default namespace, but the IPs were non-functional.

This left the cluster is a completely broken state/no networking with the CNI

[2022-04-11 22:50] jayanthvn commented on #1955
@raj13aug - You mean the Tigera operator? You might have to update here - https://github.com/aws/amazon-vpc-cni-k8s/blob/master/config/master/calico-operator.yaml#L5153

[2022-04-11 22:58] jayanthvn commented on #1947
@chiplux - Until v1.9.0, we used to have image tag "latest" in config/master and have version tag in config/<release-version> for instance "config/v1.8". But "latest" tag image never existed hence from 1.9.0 onwards we just have correct latest tag under config/master.

To find the correct release, you can check here - https://github.com/aws/amazon-vpc-cni-k8s/releases

From v1.9.0 onwards you can

[2022-04-12 01:22] chiplux commented on #1947
@jayanthvn - Thank you for the information, I think we can close this issue.
Thank you.

[2022-04-12 01:22] #1947 closed

[2022-04-12 15:44] tlnd-rdalverny opened #1965 "Inconsistent doc/code for ENABLE_IPv4 behaviour"
Hi! The README (https://github.com/aws/amazon-vpc-cni-k8s#enable_ipv4-v1100) says:

while:

https://github.com/aws/amazon-vpc-cni-k8s/blob/dd7615ed0003457a55ebfa9225d3661d58eaef63/pkg/ipamd/ipamd.go#L1686-L1688

I'm not sure which should be changed (doc or code)?

[2022-04-12 20:35] jayanthvn commented on #1934
We already have a roadmap item - https://github.com/aws/containers-roadmap/issues/1478

[2022-04-12 20:36] jayanthvn commented on #1939
1.10.3 release is done on GitHub.

[2022-04-12 20:36] #1939 closed

[2022-04-12 20:41] jayanthvn commented on #1923
This would need providing pod patch permission to aws-node. We are actually trying to improve aws-node security posture by limiting/reducing RBAC permissions. Maybe a scheduler extender - https://github.com/aws/amazon-vpc-cni-k8s/issues/1160 might be a better solution but haven't scoped yet.

[2022-04-12 21:04] achevuru commented on #1965
@[tlnd-rdalverny](https://github.com/tlnd-rdalverny) `README` is referring to the default value used in the published VPC CNI manifests - https://github.com/aws/amazon-vpc-cni-k8s/blob/master/config/master/aws-k8s-cni.yaml#L195.

[2022-04-12 21:04] jayanthvn commented on #1963
Maybe we can add an error message - "Unable to reach API server" after the retry here - https://github.com/aws/amazon-vpc-cni-k8s/blob/dd7615ed0003457a55ebfa9225d3661d58eaef63/pkg/k8sapi/k8sutils.go#L118

[2022-04-12 21:07] jayanthvn commented on #1956
We will repro locally and check why the delay is happening.

[2022-04-12 21:14] jayanthvn commented on #1930
This PR https://github.com/aws/amazon-vpc-cni-k8s/pull/1943 should help mitigate this issue up to some extent. Since previously aws-node used to retry API Server connectivity upon restart but with this change we retry few more times before a restart.

[2022-04-12 23:36] drakedevel opened #1967 "CNI deletes in-use ENI after restart with stale IMDS, leaving pods without network connectivity"
**What happened**:

A pod was found running with an IP not associated with the EC2 instance it was running on. Upon further investigation, we found that the CNI had allocated that IP to the pod, and then later deleted the ENI while it was in-use, killing network connectivity to the pod. Here's a walkthrough of the logs I think are relevant (will email full ones):

CNI startup, so far so good:
[cod

[2022-04-13 01:08] asheldon commented on #1925
There may be some relationship with #956

[2022-04-13 04:17] matti commented on #1930
@jayanthvn what about https://github.com/aws/amazon-vpc-cni-k8s/pull/1943#discussion_r849056494

[2022-04-13 07:52] tlnd-rdalverny commented on #1965
@achevuru thanks for pointing this out.

I expected "default" to mean that's how the app behaves when the variable is not set at all, as the README states "all of them are optional".

[2022-04-13 09:06] Nuru commented on #1223
People have been complaining about this since 2019. Can we get this taken care of now please?

[2022-04-13 14:18] jayanthvn commented on #1223
@Nuru - #1927 should mitigate this issue up to some extent but we are actively working with EC2 team on the implementation of detach and delete calls.

[2022-04-13 14:35] bryantbiggs commented on #1223
@jayanthvn anything preventing #1927 from being merged?

[2022-04-13 15:00] jayanthvn commented on #1223
@bryantbiggs - It is pending code review. We are tracking it for 1.11.1 release. I will provide an ETA soon.

[2022-04-13 15:28] adamdunstan opened #1969 "AWS_VPC_K8S_CNI_RANDOMIZESNAT matching PODs with hostNetwork: True"
**What happened**:

We have an application that uses hostnetwork: true and sends traffic from a specific public port.   The public port and hostNetwork: true is used because traffic is returned to the host/port.  By default the CNI is SNATing the PORTS.

**What you expected to happen**:
Is this the expected default behaviour, I would think that the expected behavior would be that for hostNetwork:

[2022-04-13 18:00] jayanthvn commented on #1911
@jwolski2 Sorry I got busy with few release activities. Will take a look asap.

[2022-04-13 19:56] mmclane commented on #1956
Please let me know if there is anything I can do to help.

[2022-04-14 00:24] bryantbiggs commented on #1447
Not stale

[2022-04-14 21:16] jwolski2 commented on #1911
I've got good news. I've heard back from AWS Support and they suggested we either upgrade our Linux kernel version or our K8s version because they found evidence that there is an issue with the way the kernel is handling Kubernetes network traffic.

Anyways, I upgraded from kernel version 5.11.0-1021-aws to 5.13.0-1021-aws and sure enough, where I was driving < 10Gbps to the internet gateway befor

[2022-04-14 21:29] jayanthvn commented on #1911
Thanks for the update. We also have the ticket in our queue and will look into it.

EKS AMI kernel version is 5.4.181-99.354.amzn2.x86_64 so might be able to repro with EKS AMI too.

[2022-04-15 15:42] dennisme commented on #1451
Hey @haouc im open to helping on this issue. Let me know!

[2022-04-16 02:41] achevuru commented on #1925
[asheldon](https://github.com/asheldon) We're exploring a solution that is similar to our current Egress IPv4 support for IPv6 pods. Will provide an update in few weeks.

[2022-04-16 05:55] pothos commented on #1600
On Flatcar the global systemd settings are now set by default to work around the problem. The interface should also be set Unmanaged now by default by I didn't check double-check it for this CNI.

FYI; here almost the same case in another CNI, with some instructions on how your CNI could generate a networkd unit and maintain it during the runtime to prevent requiring the user to set up the global

[2022-04-18 10:19] Downager opened #1973 "CNI went to panic after setting ANNOTATE_POD_IP to true"
**What happened**:

When I set ANNOTATE_POD_IP to true, the CNI pod will go to CrashloopBackOff, and the pod log showing observed a panic.

[code]

**What you expected to happen**:
All pods are in the running status.

**How to reproduce it (as minimally and precisely as possible)**:
Set `ANNOTATE_POD_IP` to true, and create a pod with empty annotations.

**Environment**:
- Kubernetes version (use

[2022-04-18 15:08] jayanthvn commented on #1973
Hi. Have you enabled pod patch permission for aws-node service account?

[2022-04-18 15:48] Downager commented on #1973
I found the quick reproduce way:
Set ANNOTATE_POD_IP to true, and create a pod with empty annotations.

[2022-04-18 15:57] jayanthvn commented on #1973
Yeah was about ask, since the crash is seen in delete network was the pod created before setting the annotation?

[2022-04-18 16:03] jayanthvn commented on #1973
I will check on how it can be handled.

[2022-04-18 16:23] jayanthvn commented on #1662
v1.11.0 is released. Closing the issue now. Please do reach out for any follow ups.

[2022-04-18 16:23] #1662 closed

[2022-04-18 16:36] jayanthvn commented on #1973
Thanks for a quick fix. PR is merged to master and will pick it up for 1.11.1 release.

[2022-04-18 16:36] #1973 closed

[2022-04-18 18:01] jayanthvn commented on #1360
aws-node will not cause Lo to go down. Closing this issue. There are few upstream issues which can be tracked - https://github.com/containerd/containerd/issues/5630 and https://github.com/cri-o/cri-o/issues/2849. Good article on a similar issue - https://www.caseyc.net/home/localhost-special-1/

[2022-04-18 18:01] #1360 closed

[2022-04-18 23:01] jayanthvn commented on #1847
@bilby91 - Can you please check if kube-proxy is taking time to start? Kube-proxy should setup rules for aws-node to reach API Server on startup.

[2022-04-18 23:03] jayanthvn commented on #479
Update of spec is done. We will look into adding check command if needed later. Closing the issue for now.

[2022-04-18 23:03] #479 closed

[2022-04-18 23:25] jayanthvn commented on #1447
@aclevername - in the issue you mentioned we do see the `node.k8s.amazonaws.com/instance_id`. Typically this happens when node is terminated between delete and detach ENI calls.

@bryantbiggs or @GaruGaru - Can one of you please share IPAMD logs? You can email the log bundle to - `k8s-awscni-triage@amazon.com`

[2022-04-18 23:25] jayanthvn commented on #1451
PR is pending review. /not stale

[2022-04-19 17:27] jayanthvn commented on #1967
@drakedevel - Thanks for the details. I will look into the logs and get back to you. Typically in the reconciler we shouldn't be adding the ENI in the datastore if the IPs are not populated in IMDS similar to the behavior with initial ENI attachment.

[2022-04-19 17:42] jayanthvn commented on #1967
If we hit this state - https://github.com/aws/amazon-vpc-cni-k8s/blob/db1481f2f2d89af057866afa5e227350a17ecefa/pkg/awsutils/awsutils.go#L1226 and "none of the IPs" are available in IMDS then we need to remove the ENI from eniMap - https://github.com/aws/amazon-vpc-cni-k8s/blob/db1481f2f2d89af057866afa5e227350a17ecefa/pkg/awsutils/awsutils.go#L1149. But if there is a mismatch of few IPs i.e, only s

[2022-04-19 17:42] mmclane commented on #1956
This doesn't seem to have anything to do with the CNI.

[2022-04-19 17:42] #1956 closed

[2022-04-19 18:26] jayanthvn commented on #1955
You can update the image with the private repo in the calico operator manifest. Closing this issue.

[2022-04-19 18:26] #1955 closed

[2022-04-19 18:28] jayanthvn commented on #1934
@dsaydon90 - We already have a roadmap item for NP support. So will close this issue here and provide you update about the release here - https://github.com/aws/containers-roadmap/issues/1478

[2022-04-19 18:28] #1934 closed

[2022-04-19 18:29] jayanthvn commented on #1930
@Matti - I see the comment is resolved. Will close this issue for now. Please try out v1.11.0 and let us know if the behavior has improved.

[2022-04-19 18:29] #1930 closed

[2022-04-19 18:34] jayanthvn commented on #1923
@chickenbeef - we have a similar issue - https://github.com/aws/amazon-vpc-cni-k8s/issues/1523. So closing this for now. Will provide updates on this https://github.com/aws/amazon-vpc-cni-k8s/issues/1523#issuecomment-1020158661.

[2022-04-19 18:34] #1923 closed

[2022-04-19 18:37] jayanthvn commented on #1866
We don't need this anymore. We have updated the docs to pick correct tags.

[2022-04-19 18:37] #1866 closed

[2022-04-19 18:39] M00nF1sh commented on #1837
@ptzianos
These CRDs are consumed by the Unstructured K8s client currently. Would you use that to build your operator? e.g. using libraries like controller-runtime.

[2022-04-19 18:50] jayanthvn commented on #1791
@GoGoPenguin - This is a expected behavior on your cluster and we see the max IPs are reached and once freed we are seeing new pods are getting IPs. If the issue persists please feel free to open an issue.

[2022-04-19 18:53] jayanthvn commented on #1734
@ruster-cn - Closing this issue for now. Please feel free to open if you have further questions.

[2022-04-19 18:53] #1734 closed

[2022-04-19 19:01] jayanthvn commented on #1572
The second ENI is a stale ENI and it is expected behavior. Please feel free to open an issue for debugging the pod which is stuck in container creating.

[2022-04-19 19:01] #1572 closed

[2022-04-19 19:02] jayanthvn commented on #1520
#1536 merged to master.

[2022-04-19 19:02] #1520 closed

[2022-04-19 20:07] drakedevel commented on #1967
I'm not sure that distinction is totally meaningful. For my particular case the IMDS was stale in a way that caused the whole ENI not to show up, but it seems like it should also be possible for e.g. the recent allocations not to show up. For example something like:
- Allocate ENI A
- Allocate IP 1 on ENI A
- IMDS updates with IP 1
- Assign IP 1 to pod X
- Allocate IP 2 on ENI A
  - As I understan

[2022-04-19 20:38] jayanthvn commented on #1967
Yes agreed when IPs are added to existing ENI we need to wait for IMDS to sync which is not there today.

The assumption of backing store is that, it always has correct and latest information and hence it is called once to restore on startup. First we get attachedENIs and then compare it with EC2 data - https://github.com/aws/amazon-vpc-cni-k8s/blob/db1481f2f2d89af057866afa5e227350a17ecefa/pkg/aws

[2022-04-19 21:27] drakedevel commented on #1967
That makes sense, but `DescribeAllENIs` _always_ calls the EC2 API, so it seems like it costs nothing extra to use the result.

Incidentally I don't totally understand one thing that's going on in `DescribeAllENIs`. It looks like it uses IMDS to get the list of attached ENI IDs, which it then passes in as `NetworkInterfaceIds` to `DescribeNetworkInterfaces`. If one of those ENIs isn't found, it re

[2022-04-19 22:08] jayanthvn commented on #1967
_"The link there looks like it's the case where the ENI is in the IMDS, but not in the EC2 API, which is the opposite of the case I hit (where it's in the EC2 API but not in the IMDS)."_ -> Basically I was trying to explain that here we make sure the ENIs fetched from IMDS is indeed attached to the instance and not stale ENIs and this is to handle existing ENIs. But yes, ENI might be created and n

[2022-04-21 19:53] dhavaln-able commented on #1847
Similar error of IPAMD failing to start with latest version v1.11.0. Kube-proxy is already running successfully. Only VPC CNI image update from 1.9.0 to 1.11.0. Any clue what's wrong with the latest version? TIA

{"level":"info","ts":"2022-04-21T19:44:43.569Z","caller":"entrypoint.sh","msg":"Retrying waiting for IPAM-D"}

[2022-04-22 10:51] ZeroDeth commented on #1217
Thanks for working with EKS 1.21 and terraform-aws-eks-blueprints module

[2022-04-22 17:48] veshij commented on #1700
@jayanthvn could you please take one more look at the PR?
Thank you!

[2022-04-22 17:55] jayanthvn commented on #1700
@veshij - @achevuru had some comments, we will look into it.

[2022-04-25 15:40] imduffy15 opened #1976 "Readiness probe failures"
**What happened**:

We are noticing readiness probe failures randomly on our aws-node pods. On one pod we did see a termination due to error code 137/ OOM

Readiness Probe failing pod:

[code]

OOM Pod:

[code]

**Attach logs**

Logs have been sent to k8s-awscni-triage@amazon.com as requested.

**What you expected to happen**:

Pods do not fail their readiness probe and if they do they log reasoni

[2022-04-27 00:16] #381 closed

[2022-04-27 00:16] #753 closed

[2022-04-27 00:16] #879 closed

[2022-04-27 00:16] #1073 closed

[2022-04-27 00:56] jayanthvn commented on #389
/reopen

[2022-04-27 00:56] jayanthvn commented on #509
/reopen

[2022-04-27 00:57] jayanthvn commented on #595
/reopen

[2022-04-27 00:57] jayanthvn commented on #652
/reopen

[2022-04-27 00:57] jayanthvn commented on #694
/not stale

[2022-04-27 00:58] jayanthvn commented on #703
/not slate

[2022-04-27 00:58] jayanthvn commented on #753
/not stale

[2022-04-27 00:59] jayanthvn commented on #757
/reopen

[2022-04-27 00:59] jayanthvn commented on #816
/not stale

[2022-04-27 00:59] jayanthvn commented on #884
/reopen

[2022-04-27 01:00] jayanthvn commented on #1160
/reopen

[2022-04-27 01:00] jayanthvn commented on #1213
/reopen

[2022-04-27 01:00] jayanthvn commented on #1224
/reopen

[2022-04-27 01:00] jayanthvn commented on #1232
/reopen

[2022-04-27 01:01] jayanthvn commented on #1236
/reopen

[2022-04-27 10:55] kathy-lee commented on #1847
Similar error of IPAMD failing to start with latest version v1.11.0.  Kube-proxy is already running successfully.
```{"level":"info","ts":"2022-04-27T10:07:56.670Z","caller":"entrypoint.sh","msg":"Retrying waiting for IPAM-D"}```

[2022-04-27 22:29] veshij commented on #1700
@jayanthvn pls let me know if you have any questions or some changes in the PR are required.

[2022-04-27 23:21] jayanthvn commented on #1700
Sorry for the delay, we will look into it early next week.

[2022-04-28 00:22] #1338 closed

[2022-04-28 00:22] #1409 closed

[2022-04-28 00:22] #1413 closed

[2022-04-28 00:22] #1415 closed

[2022-04-28 00:22] #1433 closed

[2022-04-28 00:22] #1441 closed

[2022-04-28 00:22] #1454 closed

[2022-04-28 00:25] jayanthvn commented on #1277
PR is pending merge.

[2022-04-29 00:14] #1462 closed

[2022-04-29 00:14] #1464 closed

[2022-04-29 00:14] #1466 closed

[2022-04-29 00:14] #1473 closed

[2022-04-29 00:14] #1511 closed

[2022-04-29 00:15] #1532 closed

[2022-04-29 00:15] #1570 closed

[2022-04-29 01:03] jayanthvn commented on #1756
/not stale

[2022-04-29 18:26] grosser opened #1978 "missing changelog entry for 1.11.0"
this is empty ... https://github.com/aws/amazon-vpc-cni-k8s/blob/v1.11.0/CHANGELOG.md

[2022-04-29 18:36] jayanthvn commented on #1978
Thanks, will update.

[2022-04-30 00:16] #1590 closed

[2022-04-30 08:13] jwolski2 commented on #1911
One last update from our side: we pushed the kernel upgrade out to production and our app is now able to achieve at least 25Gbps whereas before it was topping out between 13-15Gbps. I haven't tested how far we can push the net i/o as we're happy enough now with performance.

You may close this issue whenever you find it appropriate, @jayanthvn.

[2022-04-30 18:12] jayanthvn commented on #1911
Thanks for confirmation. So looks like it was a kernel issue.

[2022-05-01 00:19] #685 closed

[2022-05-01 00:19] #1605 closed

[2022-05-01 04:26] #1911 closed

[2022-05-02 18:34] joebowbeer commented on #1313
@abhipth I referred to your excellent explanation in https://github.com/awsdocs/amazon-eks-user-guide/issues/557

[2022-05-03 00:15] #1626 closed

[2022-05-03 00:15] #1638 closed

[2022-05-04 11:22] imriz opened #1979 "Pod networking is terminated while the pod is still in the grace time"
**What happened**:

**Attach logs**

**What you expected to happen**:
When pod deletion is initiated, respect the grace time, and don't remove routes etc before the grace time.
Instead what I am seeing is that the routes are being removed as soon as the docker stop process begins.
This cuts off (and causes timeouts) for clients.

**How to reproduce it (as minimally and precisely as possible)**:
Cr

[2022-05-04 12:27] druchoo commented on #1078
/remove stale

[2022-05-04 13:13] Alan01252 commented on #1868
A comment in the link ticket sounds very much like the reason behind this failure.

https://github.com/fluxcd/flux2/issues/2074#issuecomment-1117234209

[2022-05-04 13:42] acnodal-tc opened #1980 "HOWTO tell if the cluster uses the Amazon VPC CNI?"
**What happened**:

I'm working on a product that needs to work differently when running in a cluster that uses the Amazon VPC CNI so I'd like a reliable way to detect when that's true. One approach would be to scan the files in /etc/cni/net.d and look for objects like:

[code]
This seems clumsy, though.

**Environment**:
- Kubernetes version (use `kubectl version`): 1.22 and later
- CNI Version:

[2022-05-04 14:01] jacobbraaten opened #1981 "ENIConfig resource name change breaks deployment (Helm 1.1.12 to 1.1.16)"
**What happened**:
After upgrading the our Helm chart from 1.1.12 to 1.1.16 (app version 1.10.1 to 1.11.0) we noticed that our pods were getting stuck in `ContainerCreating`. We tracked it done to the CNI thinking that there was no available IPs for it to assign pods to. This was incorrect as the subnets in AWS had plenty of available IPs.

After more digging it was noticed that the `ENIConfig` na

[2022-05-04 14:36] jacobbraaten commented on #1981
We have tracked down the issue. We had set the following environment variable `ENI_CONFIG_LABEL_DEF: topology.kubernetes.io/zone`. Which was done because of the suggestions in step 5 here https://docs.aws.amazon.com/eks/latest/userguide/cni-custom-network.html.

However, with the change to the Helm chart this is no longer possible. Removal of the above config does solve the problem, but seems to b

[2022-05-04 15:03] jacobbraaten commented on #1981
We did still want to keep the above config, so we took the AWS Region in question and simply prepended it to the subnet key name in the configmap. Had concerns this might affect the code execution but it appears that is not the case.

Before:
[code]

After:
[code]

[2022-05-04 15:03] #1981 closed

[2022-05-05 00:14] #1523 closed

[2022-05-05 00:14] #1645 closed

[2022-05-05 12:55] CameronHall commented on #1724
@jayanthvn we're experiencing this issue as well. How has your local testing been going?

[2022-05-05 14:46] spothound opened #1982 "Some pods not working properly with containerd runtime and CNI plugin."
**What happened**:
I am updating a development environment to use containerd runtime as a test before updating my production environments to this runtime. Sadly, although the cluster update works and I can run some pods with containerd... there are some core pods that **are not working properly after the update**. For example:

1. Cert-manager service has the following error:
[code]
2. kubed servi

[2022-05-05 23:04] jayanthvn commented on #1724
I am waiting for the code review.

[2022-05-05 23:06] jayanthvn commented on #1980
@acnodal-tc - How about checking aws-node DaemonSet?

[2022-05-05 23:50] achevuru commented on #1979
@[imriz](https://github.com/imriz) I'm not sure I followed the description completely. You can attempt to control the behavior via `preStop` hook. But in general, CNI has no visibility in to Pod specific settings and it will just act on the kubelet invocations (i.e.,) CNI will delete the routes if `kubelet` invokes CNI with del command for a particular sandbox. So, it is up to `kubelet` to honor t

[2022-05-06 04:32] CameronHall commented on #1724
I noticed the unit test steps failed. I can ping our account manager to help move this along if that'll help.

[2022-05-06 04:41] rifelpet opened #1983 "Conformance Test failures in k8s 1.24"
**What happened**:
Kops' periodic e2e tests are now failing when using k8s 1.24:

https://testgrid.k8s.io/kops-network-plugins#kops-aws-cni-amazon-vpc

Conformance tests that exercise nodeport functionality are failing

**Attach logs**
See the a job's artifacts including all pod logs and other resource dumps: https://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/e2e-kops-aws-cni-amazon-vpc/15224146203

[2022-05-06 05:53] veshij commented on #1700
Could you please take a look?

[2022-05-06 06:28] js-timbirkett commented on #1847
I was seeing this error. In my case, a developer had manually created VPC endpoints for a few services, including STS, resulting in traffic to the services being blackholed. So `ipamd` could not create a session to collect the information it needed to.

[2022-05-06 14:20] rifelpet commented on #1983
closing in favor of https://github.com/kubernetes/cloud-provider-aws/issues/349

[2022-05-06 14:20] #1983 closed

[2022-05-06 16:34] jayanthvn commented on #1700
Hi. We are syncing up today on this PR. Will have our review by EOD. Sorry for keeping you wait.

[2022-05-06 18:22] jayanthvn commented on #1847
@dhavaln-able and @kathy-lee - So with v1.11.0 is aws-node continuously crashing or is it coming up after few restarts?

@sahil100122 - You mean while upgrading kube-proxy is up and running but ipamd is not starting at all?

[2022-05-07 01:24] cgchinmay commented on #1980
@acnodal-tc If you are asking as you may have more than 1 cni plugins in your cluster, then its the lexicographically first file found in location /etc/cni/net.d and the file should conform to cni spec, which gets used to setup pod networks, as described here: https://kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins/#cni

[2022-05-08 08:10] smalltown commented on #1847
I found FlatCar CoreOS also encounter related issue, the iptables command of FlatCar CoreOS version [3033.2.0](https://www.flatcar-linux.org/releases#release-3033.2.0) uses the nftables kernel backend instead of the iptables backend, that leads to the pod which belong to secondary eni cannot access K8s
internal ClusterIP

Thank for @grumpymatt's workaround, after I follow the same way to build cus

[2022-05-08 08:21] smalltown commented on #1600
After testing the FlatCar CoreOS version [3033.2.3](https://www.flatcar-linux.org/releases#release-3033.2.3), I found amazon vpc cni can exclude this issue, the default configuration of ManageForeignRoutes and ManageForeignRoutingPolicyRules works right now

But I found the iptables command of version [3033.2.0](https://www.flatcar-linux.org/releases#release-3033.2.0) uses the nftables kernel back

[2022-05-08 12:06] imriz commented on #1979
Hi, after a deeper examination, this seems to be a duplicate of #1531
Removing Calico fixes the issue.

[2022-05-08 12:06] #1979 closed

[2022-05-09 13:20] #1980 closed

[2022-05-09 14:53] #1982 closed

[2022-05-09 17:39] jayanthvn commented on #804
/not stale

[2022-05-09 17:39] jayanthvn commented on #1306
/not stale

[2022-05-09 17:39] jayanthvn commented on #1558
/not stale

[2022-05-09 17:40] jayanthvn commented on #1834
/not stale

[2022-05-09 17:40] jayanthvn commented on #1841
/not stale

[2022-05-09 17:40] jayanthvn commented on #1872
/not stale

[2022-05-09 17:41] jayanthvn commented on #1901
/not stale

[2022-05-09 17:41] jayanthvn commented on #1910
/not stale

[2022-05-09 17:41] jayanthvn commented on #1746
/not stale

[2022-05-09 23:31] jayanthvn commented on #1700
@veshij - @achevuru and I had a discussion on this and we have some concerns on setting this value on mega clusters since IP exhaustion is a common problem and now a single node will keep the IPs for a longer time. So we are discussing internally and will get back in a day or two.

[2022-05-10 21:03] jayanthvn commented on #1976
@imduffy15 - When we hit OOM either the pod will be terminated or the process with die so it would be better to set CPU/Mem request and limits for the pods. Also aws-node will not know the reason for termination AFAIK and kubectl get logs as you pointed out will have the reason.

[2022-05-11 22:06] jbilliau-rcd commented on #1831
I am having this exact same issue on multiple clusters....happens around twice a week, REALLY annoying. Running EKS 1.21, 1.10.1 CNI, managed node groups. When this happens, NO pods can spawn at all, since the aws-node CNI is unable to setup networking for them. I've collected logs and created support tickets to no avail.....if you check the aws-node daemonset logs, there are no errors or anything

[2022-05-11 23:25] M00nF1sh opened #1986 "CNI spec & binary versions"
**What would you like to be added**:
We should upgrade the CNI spec & binary versions to newer version v1.0.0+.

**Why is this needed**:
1. the current CNI spec and binary versions are a bit too old.
2. https://docs.google.com/document/d/1zwKls4-NUxkpak-591ghRaGEKdjp8BEdXD8YpL_zdIk/edit#

[2022-05-11 23:50] achevuru commented on #1831
@[jbilliau-rcd](https://github.com/jbilliau-rcd) Are you using Security Groups Per Pod feature? `aws-node` (CNI) shouldn't have any issue while trying to setup new pods even if it doesn't have access to API Server. As called out above, K8S/EKS 1.21 has `BoundServiceAccountToken` feature enabled by default and if your application is dependent on old K8S Client SDKs that don't periodically read the

[2022-05-12 02:59] jayanthvn commented on #1963
#1988 merged.

[2022-05-12 02:59] #1963 closed

[2022-05-12 09:07] Alan01252 commented on #1868
Yes, it's even now emailed out by AWS :)

Note we even got an automated email about this from aws!

As of April 20th 2022, we have identified the below service accounts attached to pods in one or more of your EKS clusters using stale (older than 1 hour) tokens. Service accounts are listed in the format : |namespace:serviceaccount

arn:aws:eks:eu-west-2::cluster/prod-|kube-system:multus
arn:aws:eks

[2022-05-13 10:51] fernandoTorresan commented on #1982
@spothound did you solve the problem?

We had the same issue yesterday using the latest EKS AMI released (AMI amazon-eks-ami AMI Release v20220429), and looks like there is something wrong with this AMI.

We had to rollback to a previous version (https://github.com/awslabs/amazon-eks-ami/releases/tag/v20220406) and everything started to work normally again.

[2022-05-13 14:43] cgchinmay commented on #1868
@Alan01252 Thanks for the update. I am reopening the issue and will update once I have more information on the required fix. But vpc-cni or Multus is not playing any role here.

[2022-05-13 16:48] malpania commented on #1831
This issue is more of istio related. Closing this as attached ticket has to be fixed by istio team.

[2022-05-13 16:48] #1831 closed

[2022-05-13 18:41] cgchinmay commented on #1868
As per this doc: https://docs.aws.amazon.com/eks/latest/userguide/service-accounts.html#identify-pods-using-stale-tokens
I verified from the audit logs and did see these two accounts flagged for using stale tokens.
As per the above the doc, the applications must be using client-go sdk of v0.15.7 or later to auto renew the token after every hour.
Multus already has client-go sdk of version above v0

[2022-05-17 17:26] jayanthvn commented on #1700
@veshij - We haven't forgotten on this. We got pulled into other issues but we are planning to meet this week for the discussion mainly around larger cluster not considering cool down IPs as available IPs since we would consume more IPs.

[2022-05-18 00:53] jayanthvn commented on #1700
@veshij - Are you available on Kubernetes slack channel? @achevuru and I, wanted to discuss with you on call about the PR.

[2022-05-18 02:10] veshij commented on #1700
Yep, I'm available (Oleg Guba).

[2022-05-18 06:55] cgchinmay commented on #1868
Hi @Alan01252 I took another look at api server audit logs for your "prod-telemetry" cluster and the last request using stale token was at 2022-05-17T12:19:40.900Z (UTC). It means, the token mounted at (/var/run/secrets/kubernetes.io/serviceaccount/token) in the requesting multus pod was older than 1 hour. There were such cases since april 20th which is why you got an email from AWS.

However I di

[2022-05-18 07:40] Alan01252 commented on #1868
Thanks @cgchinmay, this is really interesting I'm now trying to work out what if anything we changed between getting that email and now. I really can't think of anything.

Also are you able to please confirm that this file

/etc/cni/net.d/multus.d/multus.kubeconfig

And the multus user token inside it is nothing to do with the above?

Thanks again for the thorough investigation and response, as al

[2022-05-18 09:24] Alan01252 commented on #1868
Amazing :) Thank you @cgchinmay!!!

[2022-05-19 23:51] #694 closed

[2022-05-20 01:01] cgchinmay commented on #1868
@Alan01252 I did see 4-5 requests all around 2022-05-19T11:38:39.307Z made by pod kube-multus-ds-zwh6w using a stale token. Also I could see kubelet requesting for a new token for the same pod around that time. It's not possible to see the actual token value but based on the elapsed time field for the token, it was 20 days old.

You also have multus secret created 20 days ago and token for this se

[2022-05-25 00:17] #1878 closed

[2022-05-25 12:00] alt-dima commented on #1976
I also think it is not OOM.
Please read those posts:
https://github.com/aws/amazon-vpc-cni-k8s/issues/1425#issuecomment-1072682084
https://github.com/aws/amazon-vpc-cni-k8s/issues/1425#issuecomment-1072785379

[2022-05-26 17:23] sidewinder12s commented on #1207
This is still a requirement.

[2022-05-30 00:18] #1528 closed

[2022-05-30 00:18] #1890 closed

[2022-06-01 00:43] rhenry-brex commented on #1847
Had same issue while upgrading, but after looking at the [trouble shooting guide](https://github.com/aws/amazon-vpc-cni-k8s/blob/master/docs/troubleshooting.md#known-issues) and patching the daemonset with the following, `aws-node` came up as expected and without issues.

[code]

[2022-06-01 19:11] oliviassss commented on #753
/assign sushrk

[2022-06-03 10:27] nce commented on #1986
I'd appreciate it, as it's currently not possible to use the aws-vpc-cni on the latest flatcar release (packaging `containerd 1.6.3`)

[code]

  apparently due to the outdated loopback:
[code]

Possible Workaround (for me right now) -> overwriting the loopback binary:
[code]

which then results in a successfull start:
[code]

Thanks for the issue, hoping to see this resolved soon. Posting merely f

[2022-06-03 14:51] laupow opened #2000 "aws-vpc-cni chart document running multiple instances"
**What would you like to be added**:
Documentation about deploying multiple instances of the `aws-vpc-cni` chart.

**Why is this needed**:
We run 4 different instances of the CNI application in our cluster. The only differences between the `DaemonSet` instances are labels, node selectors / affinities, and the env config.

We want to stop maintaining a bunch of custom manifests and move to helm cha