[2021-04-07 21:04] nodesocket commented on #1412
This was the problem, and fixed by manually adding the CNI addon and selecting the latest version. It would have great if there was some sort of indication in the web console about running an incompatible version of CNI when upgrading Kubernetes versions and how to fix this. I feel like lots of users are going to get bitten by this if they upgrade old EKS clusters.

![unnamed](https://user-images.

[2021-04-07 21:22] jayanthvn commented on #1412
Glad it got fixed :) yes will take the feedback to see how we can have documentation/console warning updated.

[2021-04-07 21:35] #1412 closed

[2021-04-08 00:24] SimplySeth opened #1421 "How to migrate to containerd"
How do I migrate to containerd?

**What happened**:

replaced `/var/run/docker.sock` with `/var/run/containerd/containerd.sock` in the daemonset manifest

set `WATCH_NAMESPACE` in the env for the container  (previous log had error saying to enable this)

**Environment**:
- Kubernetes: 1.18
- CNI Version: 1.7.5
- OS: CentOS 7 Linux

**Results:**

**log:**
[code]

**k describe pod:**

[code]

[2021-04-08 00:31] jayanthvn commented on #1421
Hi @SimplySeth

Yes just updating the manifest won't be sufficient. Did you do the below steps -

1. stop kubelet
2. delete all docker containers
3. remove docker
4. install containderd
5. start containerd
6. Remove docker service from `/etc/systemd/system/kubelet.service`
7. Add this -` --container-runtime=remote --container-runtime-endpoint=unix:///run/containerd/containerd.sock'` to kubelet arg

[2021-04-08 01:01] SimplySeth commented on #1421
Containerd is already running on the nodes.
I'll add the kubelet args, thanks.

[2021-04-08 01:01] #1421 closed

[2021-04-08 01:02] SimplySeth commented on #1421
Containerd is already running on the nodes.
I'll add the kubelet args, thanks.

[2021-04-08 20:35] mattalberts opened #1422 "Pod stuck in CrashLoopBackOff after restarting the pod"
**What happened**:
An update to the pod log-level was release, DEBUG to INFO for both:
 - AWS_VPC_K8S_CNI_LOGLEVEL
 - AWS_VPC_K8S_PLUGIN_LOG_LEVEL

On apply, the pod was stuck in `CrashLoopBackOff`. The change was reverted, restoring DEBUG level, but the pod remained stuck in `CrashLoopBackOff`. The section asked me to describe what happened; its certainly not related  to the change to the log lev

[2021-04-08 21:44] jayanthvn commented on #1422
Yes, this seems to be because of stale ec2 meta data #1340. This PR #1341 is part of the fix, i.e, aws-node will not crash but will start logging the errors and also a count is added to compute the number of failures. We are working with ec2/metadata team for the sync issue.

[2021-04-08 22:21] mattalberts commented on #1422
Thanks for the quick reply :) and information!

[2021-04-08 23:56] jayanthvn commented on #1422
Happy to help! I will close this issue and will keep #1340 and #1341 updated.

[2021-04-08 23:56] #1422 closed

[2021-04-09 14:44] mattalberts commented on #1422
Sounds good!

[2021-04-09 17:45] nithu0115 opened #1423 "Refresh CIDRs should follow up with adding iptables else traffic will be lost"
**What happened**: We are adding more secondary CIDRs to our VPC. We see AWS VPC CNI plugin adds correct IP rules/routes but it is missing iptables due to which traffic is being dropped.

**Attach logs**
[code]
#

**What you expected to happen**: Traffic from Pod `source-ip-app-67bb5fbf99-qszv6` to source Pod `nginx-6799fc88d8-8crh8` should be routable.

**How to reproduce it (as minimally and pre

[2021-04-09 17:48] jayanthvn commented on #1411
Hi @uthark

Can you please share me the clusterARN and also kubelet and containerd logs? Also the steps to repro.

Thanks.

[2021-04-09 17:56] jayanthvn commented on #1385
This is similar to #1078 . Please see the comment here - https://github.com/aws/amazon-vpc-cni-k8s/issues/1078#issuecomment-804655593

[2021-04-09 17:56] nithu0115 commented on #1387
As per conversation over the call, we saw a masquerade rule which was SNAT all traffic going out of the node. As discussed, you will keep both EKS/K8s on AWS cluster kube-proxy daemonSet uniform. Let us know if you are still running into any issues.

[2021-04-09 17:58] jayanthvn commented on #1382
Thanks @sheetaljoshi. Documentation is updated with https://github.com/awsdocs/amazon-eks-user-guide/pull/346. We will track the config map changes as part of #1088 .

[2021-04-09 17:58] #1382 closed

[2021-04-09 18:03] jayanthvn commented on #1340
@falgofrancis - #1341 will avoid aws-node crash on boot up if the metadata has stale data and also a counter is added which keeps track of this. This is just a part of the fix. We are tracking this with EC2 team for the race condition which is causing IMDS to never sync.

[2021-04-09 20:12] adawalli commented on #1074
Any traction on this? I ran into this today when I realized that the current definition isn't compatible with Terraform's K8s Alpha plugin due to the lack of schema

[2021-04-09 20:29] jayanthvn commented on #1074
Hi @adawalli

Yes we will look into it.

[2021-04-09 20:35] jayanthvn commented on #1074
There is already a PR #1390 and regarding the schema @achevuru can we see if can take it up as part of #1419?

[2021-04-13 12:37] daganida88 opened #1425 "aws-node is restarting (Crashing, exiting on 137) sporadically which causes all pods on that node to stuck on ContainerCreating state."
**What happened**:
aws-node is restarting (Crashing, exiting on 137) sporadically which causes all pods on that node to stuck on ContainerCreating state.

**Attach logs**
aws-node {"level":"info","ts":"2021-04-13T12:24:31.015Z","caller":"entrypoint.sh","msg":"Install CNI binary.."}                                                                           │
│ aws-node {"level":"info","ts":"2021-04-

[2021-04-13 17:55] jayanthvn commented on #1038
Hi @hervems

This is with which CNI version and do you have per pod security groups enabled?

Thanks!

[2021-04-13 18:02] jayanthvn commented on #1425
Hi @daganida88

Exit code 137 is OOM (out of memory), so does it happen on startup or after several hours of aws-node running. Can you also please check if any other process is consuming high memory, since memory allotted to the Docker containers is limited by the total available memory in the host machine and when usage increases, the available free memory may be insufficient for all the containe

[2021-04-13 18:18] hervems commented on #1038
`kubectl describe daemonset aws-node --namespace kube-system | grep Image | cut -d "/" -f 2` :

[code]
and

`kubectl describe daemonset aws-node -n kube-system | grep -i "ENABLE_POD_ENI"`

[code]

[2021-04-13 19:26] jayanthvn commented on #1038
If you can email me (varavaj@amazon.com) the logs from this script - `sudo bash /opt/cni/bin/aws-cni-support.sh`. I can verify why the IPs are not released. Also can please share me the number of pods running on this instance.

Thanks!

[2021-04-14 23:34] jayanthvn commented on #1239
Merged #1424

[2021-04-14 23:34] #1239 closed

[2021-04-14 23:36] jayanthvn commented on #715
@abhipth - In the new README let us also add guidelines for onboarding new features.

[2021-04-15 10:35] bcbrockway opened #1429 "Tigera Operator attempts to schedule on Fargate nodes despite this being unsupported"
**What happened**:

Following [these docs](https://docs.aws.amazon.com/eks/latest/userguide/calico.html) with a few of our pods scheduled on Fargate, a DaemonSet is created that doesn't distinguish between EC2 and Fargate nodes so we end up with a load of pending pods that will never be scheduled.

[code]

**What you expected to happen**:

The DaemonSet would only schedule pods on EC2 nodes (perha

[2021-04-20 15:35] vinothav commented on #1038
Hi Team,

I am facing the same issue, liveliness and readiness probe failure on aws-node causing them to crashloop and pods/svc hosted on the node being un-available.

Events:
`|  Type  |   Reason   |  Age    |              From      |         Message|
  ----     ------     ----                 ----               -------
  Normal   Scheduled  39m                  default-scheduler  Successfully as

[2021-04-20 18:18] jayanthvn commented on #1425
Hi @daganida88

Can you please confirm if any other process is consuming high memory?

[2021-04-20 18:25] jayanthvn commented on #1411
Hi @uthark

Can you please share me the clusterARN and kubelet/containerd logs?

[2021-04-20 23:12] victoraldir opened #1433 "[IRSA alternative] Why AWS_SHARED_CREDENTIALS_FILE is not detected?"
**What happened**:

Hello!
I have been through this challenge for this whole week now, and now I decided to share this questions with you.

Basically, I have one goal. I **want to remove the policy** `AmazonEKS_CNI_Policy` **from the Amazon EKS node IAM role, but I can't use the [IRSA solution](https://aws.amazon.com/es/blogs/opensource/introducing-fine-grained-iam-roles-service-accounts/)**.

Why

[2021-04-21 12:14] vinothav commented on #1038
This is what ipamd log states:
`cat ipamd.log | grep error
{"level":"error","ts":"2021-04-20T14:17:02.797Z","caller":"awsutils/awsutils.go:416","msg":"Failed to retrieve vpc-ipv4-cidr-blocks from instance metadata service"}
{"level":"error","ts":"2021-04-20T14:32:17.001Z","caller":"awsutils/awsutils.go:416","msg":"Failed to retrieve vpc-ipv4-cidr-blocks from instance metadata service"}
{"level":"e

[2021-04-22 06:17] sidewinder12s commented on #1245
Hi @jayanthvn, I'm seeing similar errors to the original poster however I do not believe we use pod security groups extensively or at all (though we have custom networking enabled and I believe we're setup to support it, I just don't think we have any workloads using it). From the read of the logs, it's like the node starts and then takes 10 minutes before any IPs are available for use from ipamd

[2021-04-22 06:45] jayanthvn commented on #1245
Hi @sidewinder12s

Sure I will check the logs attached to the case and reach out to you.

Thanks!

[2021-04-22 06:50] kishorj commented on #1392
@Nuru, thank you for sharing the details of your troubleshooting, and the analysis. You are right, the traffic flow is not successful due to the routing configuration. NLB with IP targets, with client IP preservation enabled and the pod is attached to a secondary ENI exhibit this behavior.

There are two issues
- First, the reverse path filter on secondary ENIs attached to Linux are set to strict

[2021-04-22 06:52] kishorj commented on #1392
Did you also try running your application pods on Fargate? I don't foresee any issues. If you were able to verify, feel free to share your results.

[2021-04-22 19:19] fawadkhaliq opened #1437 "Container runtime reads partially written CNI plugin config and fails"
**What happened**
Container runtime can read a partially written CNI config and fail. This is because ipamd installation/restart writes the CNI plugin configuration directly to [CNI config directory](https://github.com/aws/amazon-vpc-cni-k8s/blob/master/scripts/entrypoint.sh#L109) (e.g. `/host/etc/cni/net.d`). The container runtime net config sync loop (e.g. in [containerd](https://github.com/cont

[2021-04-22 19:29] jayanthvn commented on #1245
Hi,

I did check one of the logs shared in the support ticket, `ipamd.json` shows up 56 pods and even IPAMD is reporting all available IPs are consumed -

[code]

[2021-04-22 20:51] Nuru commented on #1392
@kishorj I did not try running pods on Fargate and do not have time or resources to try it. You understand the problem well enough now that you should be able to deploy a test case yourself.

[2021-04-23 13:31] kenju commented on #1078
@jayanthvn Thanks for working on this. Let me share another case.

The version is almost the same with https://github.com/aws/amazon-vpc-cni-k8s/issues/1078#issuecomment-775952948 (`kube-proxy:v1.18.8`, `amazon-k8s-cni-init:v1.7.10`), but our nodes are running on bottlerocket. Not sure whether it is related, though, but we run other clusters with the same version at the same time, and we encounter

[2021-04-24 03:47] ltagliamonte opened #1441 "Dedicated Daemonset CIDR range"
Nowadays daemonset are used to offer a lot of infra services like:
 - Logging
 - Security
 - Monitoring
 - ...

In a production cluster it is really easy to run +10 different daemonsets.
If you use the AWS cni in a VPC (with IPv4 cidr) that contains a big cluster or multiple clusters you end up waisting a lot of IPs for this daemonsets.
Would be better/possibile to annotate daemonsets pods with sp

[2021-04-24 17:46] alnhk opened #1442 "AWS EKS upgrade 1.16 to 1.17 fails with "cni.go:237] Unable to update cni config: no networks found in /etc/cni/net.d""
When upgrading the AWS EKS from 1.16 to 1.17, we are observed all EKS Worker nodes  with status "Not Ready".

**What happened**:
When checked the kubelet log message, observed below :
`Apr 24 17:40:58 ip-192-168-58-207 kubelet: W0424 17:40:58.005255    5347 cni.go:237] Unable to update cni config: no networks found in /etc/cni/net.dApr 24 17:40:58 ip-192-168-18-101 kubelet: E0424 17:40:58.903012

[2021-04-25 05:18] jayanthvn commented on #1442
Hi @alnhk

Is the issue seen on all nodes? Can you please email me (varavaj@amazon.com) logs generated from `sudo bash /opt/cni/bin/aws-cni-support.sh` on one of the nodes which has the issue?

Thanks!

[2021-04-25 05:25] alnhk commented on #1442
Hello @jayanthvn : this is happening on all nodes.  Should we run /opt/cni/bin/aws-cni-support.sh on all nodes ?

[2021-04-25 05:30] alnhk commented on #1442
Ran `/opt/cni/bin/aws-cni-support.sh` on one of the node and below is the result
[code]

The file  is shared with you.

[2021-04-25 05:30] jayanthvn commented on #1403
Hi,

We are tracking CNI custom networking simplification as part of AWS container-roadmap. We will evaluate how this enhancement can be implemented. So will be closing the issue here and provide updates as part of https://github.com/aws/containers-roadmap/issues/867.

Thank you!

[2021-04-25 05:30] #1403 closed

[2021-04-25 05:35] jayanthvn commented on #1442
Thank you!. I haven't yet received the file. Can you please recheck?

[2021-04-25 05:36] alnhk commented on #1442
Hello Jayanth :  Just sent. Please review.

[2021-04-25 06:14] jayanthvn commented on #1442
Hi Hari,

Can you please check if kube-proxy is running? IPAMD is not able to connect to API server hence aws-node is unable to start.

[code]

In the logs bundle, in kube-proxy.log, I see this error -

[code]

Was this working with 1.16? Because In the docs [https://docs.aws.amazon.com/eks/latest/userguide/update-cluster.html] , I see this - "If you originally created an Amazon EKS cluster with K

[2021-04-25 06:19] alnhk commented on #1442
Yes in 1.16, it was working, regarding kube-proxy version we are using this
[code]

coming to. flag "--resource-container", it is showing here
[code]

Should we remove this flag  and try again ?

[2021-04-25 07:06] alnhk commented on #1442
Okay - after removing the flag "--resource-container" from kube-proxy, all the kube-proxy pod is now showing "running", re-applied aws-k8s-cni.yaml and reported all good.

[2021-04-25 07:06] #1442 closed

[2021-04-27 03:43] bboppana opened #1444 "aws-node liveness probe failing when a custom ValidatingAdmissionWebhook is enabled in EKS"
**What happened**:

Enabled custom ValidatingAdmissionWebhook in an EKS cluster that checks for new or updated pods for specific labels to allow the deployment to procced.

[code]

After that, aws-node on every new worker node failing to start with below error and those nodes are not joining the cluster because no ENI or IPs are attached to it.

{"log":"ERROR: logging before flag.Parse: E0426 23:0

[2021-04-27 15:47] schahal commented on #1078
Another tidbit: We ran into this very issue when upgrading from `v1.15` to `v1.16`

_Our current workaround_: we're keeping kube-proxy at v1.15.11 even after upgrading rest of cluster to v1.16.

The rest of the add-ons we were able to get to the [recommended versions](https://docs.aws.amazon.com/eks/latest/userguide/update-cluster.html):

<img width="954" alt="Screen Shot 2021-04-27 at 8 44 26 AM"

[2021-04-27 21:39] metasim commented on #1278
In my case the problem was that `AmazonEKS_CNI_Policy` wasn't attached by eksctl when I created the nodegroup.

[2021-04-28 07:28] Minutis commented on #1078
I think there is a workaround for this issue:
https://github.com/kubernetes/kubernetes/issues/61486#issuecomment-635169272

At least for me after applying this I see no more `Failed to retrieve node info` messages (https://github.com/aws/amazon-vpc-cni-k8s/issues/1078#issuecomment-775952948).

[2021-04-29 08:36] ksaritek opened #1446 "possible solutions for max ip and max eni"
**What happened**:
we are running jobs which are scheduled as every minute. we are having problems with IPs in the cooldown period and available max IP limits. So, pods could not start because of `DataStore has no available IP addresses` error.

Is there a way to increase the IP address capacity or running whole jobs with the same Eni?

regarding to the https://docs.aws.amazon.com/AWSEC2/latest/Us

[2021-04-29 17:24] Buffer0x7cd opened #1447 "Dangling ENIs without any association with Instances"
**What happened**:
During one of incidents , where pods are failing due to IP address exhaustion, We noticed that there a lots of ENIs that are allocated , But are not attached to any Instances.  Our first assumption was these might be the ENIs that are created to maintain warm pool on the nodes, But After checking them we discovered that there are no tags `node.k8s.amazonaws.com/instance_id `tags

[2021-04-29 17:44] jayanthvn commented on #1447
Hi @Buffer0x7cd

Do you have short lived instances/cluster? Also do you have any node termination policy? There is one known issue (https://github.com/aws/amazon-vpc-cni-k8s/issues/1223), After ENI is detached, it will take few seconds for the ENI to delete, if in the mean time node is terminated then the ENI will be dangling in the account.

[2021-04-29 18:02] Buffer0x7cd commented on #1447
HI @jayanthvn

It doesn’t seems like this is the issue. https://github.com/aws/amazon-vpc-cni-k8s/blob/9db2ae62ecd0cb56f7fc20b80427fa6ff4e17a42/pkg/awsutils/awsutils.go#L836
From my understanding , In the case here. ENI will be First detached and deleted. Assuming the ENI was first Attached It should have the `node.k8s.amazonaws.com/instance_id` tag, Even after being detached  ( As there is no ste

[2021-04-29 18:27] jayanthvn commented on #1447
Yeah makes sense, I quickly ran a test and detached an ENI and I still see the instance_id tag even though the ENI is detached. Can you please open a support case?

[2021-04-30 11:27] syedaliammar opened #1450 "Unable to update cni config: no networks found in /etc/cni/net.d"
Hi, I am currently attempting to create a simple AWS EKS cluster and the nodes always run into the creation failure health issue. Could someone point me in the right direction? Details below:

**Environment**:
- Kubernetes version:
[code]
- CNI Version: `amazon-k8s-cni:v1.7.10-eksbuild.1`
- OS (e.g: `cat /etc/os-release`): `CPE_NAME="cpe:2.3:o:amazon:amazon_linux:2"`
- Kernel (e.g. `uname -a`): Li

[2021-04-30 15:28] jayanthvn commented on #1446
Hi @ksaritek

We are working on this effort - https://github.com/aws/containers-roadmap/issues/138. This should increase the pod density on the instances.

Thanks!

[2021-04-30 15:35] jayanthvn commented on #1450
Hi @syedaliammar

Can you please ssh to the node and check if any errors in `/var/log/aws-routed-eni/ipamd.log`? I am wondering if you are missing `AmazonEKS_CNI_Policy` in your role.

[2021-04-30 19:01] jayanthvn opened #1451 "ENI allocates/frees in loop with custom networking and WARM_ENI_TARGET=0"
**What happened**:

If custom networking is enabled and WARM_ENI_TARGET = 0, nodes which have no pods including coreDNS behind the secondary ENI will continuously free and add the secondary ENI.

**Attach logs**

[code]
Issue is not seen without custom networking since the primary ENI is not freed.

**What you expected to happen**:
ENI should not be freed and one ENI should be reserved for custom

[2021-04-30 20:52] hiago-miguel commented on #1446
Hi @jayanthvn

Is there any expected date for this?
Thanks!

[2021-05-03 06:38] sambaran69 opened #1452 "All nodes in cluster in Not Ready state with the error: NetworkPluginNotReady message:docker: network plugin is not ready: cni config uninitialized"
**What happened**:
Performed an EKS updgrade form 1.17 to 1.18. Post upgrade when attempting to upgrade _aws-node_, _core-dns_, _kube-proxy_, _calico_ and _cluster-autoscaler_, the `aws-node` upgrade failed. All nodes went into `Not Ready` state with the error mentioned above. All services that were running started throwing:  `Failed create pod sandbox: rpc error: code = Unknown desc = [failed to

[2021-05-03 13:33] syedaliammar commented on #1450
Hi @jayanthvn
The CNI plugin has a role with the `AmazonEKS_CNI_Policy` policy attached to it. This role has the proper settings in its trust relationship, as mentioned [here](https://docs.aws.amazon.com/eks/latest/userguide/cni-iam-role.html). The nodes in the cluster have a separate node role assigned to them that having the following two policies: `AmazonEKSWorkerNodePolicy `and `AmazonEC2Conta

[2021-05-03 13:39] SaranBalaji90 commented on #1402
New AMI has been released https://github.com/awslabs/amazon-eks-ami/pull/659

[2021-05-03 13:39] #1402 closed

[2021-05-03 17:48] alexmnyc opened #1454 "After switching to IAM for service accounts there are still calls to CreateNetworkInterface using ec2 instance profile role according to Cloudtrail"
I followed https://docs.amazonaws.cn/en_us/eks/latest/userguide/cni-iam-role.html and verified ` kubectl exec -n kube-system aws-node-55t22 env | grep AWS_ROLE` is injected correctly. Yet Cloudtrail still shows errors where instances in the cluster are trying to call CreateNetworkInterface

[code]

Logs seem fine from what I can tell

[code]

What is also strange that the ec2 instance profile does

[2021-05-03 19:27] jayanthvn commented on #1452
Hi @sambaran69

Can you please share the logs - `sudo bash /opt/cni/bin/aws-cni-support.sh` from one of the nodes. You can email it to varavaj@amazon.com.

Thanks!

[2021-05-03 19:31] jayanthvn commented on #1450
Can you email me (varavaj@amazon.com) the logs generated from this - `sudo bash /opt/cni/bin/aws-cni-support.sh` on one of the nodes?

Thanks.

[2021-05-03 21:24] jayanthvn commented on #1450
Hi,

I did check your logs, instance has one ENI and no secondary IPs attached yet. But aws-node seems to be crashing after this - https://github.com/aws/amazon-vpc-cni-k8s/blob/dba11f45b747350cda623b08c6510876e2fb3f59/pkg/awsutils/awsutils.go#L604. Is it possible to open a support ticket? Logs aren't clear on why aws-node is crashing.

[2021-05-03 21:26] jayanthvn commented on #1446
Hi,

Will provide updates on release/timelines here - https://github.com/aws/containers-roadmap/issues/138# so closing this issue.

[2021-05-03 21:26] #1446 closed

[2021-05-03 21:58] achevuru commented on #1454
Hi @alexmnyc, If there are permission issues, we will see error logs (403s) in ipamd log file. Do you see any such errors? Once you switch to IRSA, you just need to reload aws-node pods. No need to reboot instances.

[2021-05-03 22:02] jayanthvn commented on #1444
Hi @bboppana

I will try this out locally and get back to you.

[2021-05-03 22:04] bboppana commented on #1444
👍

[2021-05-03 22:05] bboppana commented on #1444
@jayanthvn

Let me know if you need any info. Thank you!

[2021-05-03 22:07] jayanthvn commented on #1429
Hi @bcbrockway

Yes, we can add the nodeSelector as you mentioned. Today we do this for aws-node - https://github.com/aws/amazon-vpc-cni-k8s/blob/master/config/master/aws-k8s-cni-cn.yaml#L100. We are happy to take PRs.

[2021-05-03 22:09] jayanthvn commented on #1425
Hi @daganida88

If you could share kubelet logs when the issue happens, it would help us debug.

Thanks!

[2021-05-03 22:19] alexmnyc commented on #1454
I don't see any 403 errors through pod logs or via /var/log/aws-routed-eni/plugin.log

I just reran the query in cloudtrail. it seems like now it is isolated to the clusters that don't use the IAM for service accounts method and have the following enabled:

[code]
I think that is the explanation. If nodes have the metadata endpoint disabled aws-node pods cannot assume correct credentials. What was

[2021-05-03 22:30] achevuru commented on #1450
@syedaliammar Is access to IMDS blocked? After switching to IRSA for aws-node pods, have you restarted the aws-node daemonset? Can you verify if your aws-node pod is able to assume the IRSA role?

[2021-05-03 22:35] achevuru commented on #1454
Yeah that explains. Cloudtrail is showing the calls made to EC2 from aws-node user agent, so you're seeing the API call requests that EC2 received..since it is not able to assume the role, API request gets rejected.

[2021-05-03 22:51] jayanthvn commented on #1450
Based on the logs IMDS access seems fine, calls to EC2 might be blocked?

[2021-05-04 00:10] alexmnyc commented on #1454
Correct. But why would cloudtrail show underlying instance instance profile role as the identity for the failed call? If the pod is blocked from assuming instance profile role how would cloudtrail show a call rejected from any identity, there should be none, no?

[2021-05-04 06:58] sambaran69 commented on #1452
Hi,

The issue was caused by installing `aws-vpc-cni` with incorrect (old) config. This was resolved when we installed `aws-vpc-cni` using the helm chart instead of running `kubectl apply -f ...`.

This issue can be marked as closed.

[2021-05-04 06:58] #1452 closed

[2021-05-04 09:59] syedaliammar commented on #1450
How can I verify that? The node role already has the following trust relationship:
[code]

[2021-05-04 17:58] achevuru commented on #1450
@syedaliammar Can you confirm if you've restarted aws-node daemonset after switching to IRSA?

[2021-05-04 18:10] achevuru commented on #1454
@alexmnyc You can run and check aws sts get-caller-identity from with in aws-node pod to see the role it is trying to use. It is possible that it got the Node instance role name prior to IMDS access is blocked but since these are temp credentials it is no longer able to retrieve the latest credentials to use and therefore running in to 403 with the stale credentials.

[2021-05-05 15:11] syedaliammar commented on #1450
@jayanthvn @achevuru excuse the late response. The reason was an improper configuration of the OIDC provider. The audience "sts.amazonaws.com" was not added. Doing so solved the issue.

Thank you for your support.

[2021-05-05 15:11] #1450 closed

[2021-05-05 15:12] syedaliammar commented on #1450
The audience "sts.amazonaws.com" was not added in the OIDC provider configuration. Doing so solved the issue.

[2021-05-06 13:35] bboppana commented on #1444
@jayanthvn

This is not an issue with aws-node. Our validation webhook is checking for a label during the deployment and we don't have that label for kube-proxy causing kube-proxy to not come up during the node coming up time and in turn causing aws-node issue. I removed the label checking from validation webhook and everything working as expected.

Thanks for looking into this issue!

[2021-05-11 06:55] rjshk013 commented on #547
I deleted the cluster and recreated .the problem solved.I have created it using terraform

[2021-05-11 18:54] maxenglander opened #1462 "Docs: switching AWS_VPC_K8S_CNI_EXTERNALSNAT from true to false breaks routing for existing pods"
**Request**:

This is a request to add documentation for `AWS_VPC_K8S_CNI_EXTERNALSNAT` to explain that switching from `true` to `false` can break routing for running pods.

**What happened**:

Hello, we had an issue during upgrade of VPC CNI component, and are looking for some insight.

We recently upgraded EKS from 1.15 to 1.16, and as part of that upgrade we upgraded VPC CNI from 1.6.x to 1.7.5

[2021-05-12 07:44] abhipth opened #1464 "Need more documentation on purpose of AWS_VPC_K8S_CNI_CONFIGURE_RPFILTER"
**What happened**:
Need more documentation for the purpose of `AWS_VPC_K8S_CNI_CONFIGURE_RPFILTER`. The current documentation states the following.

[code]

Not sure if the intended purpose of the environment variable to set rp_filter on `eth0` to `loose(2)` when configured to `true` and let it be `strict(1)` when the variable is set to `false`.

The default value of the variable is set to `false`

[2021-05-13 08:52] ddemo-miriade commented on #1342
Hi jayanthvn,
I see the change is still in master branch but is not yet released. I'm still having the issue even after the CNI update to version 1.7.10.
Do you have a release date for the fix?

Regards,
Daniele

[2021-05-13 09:15] marco-a-itl opened #1466 "Use of Service externalIPs with CNI custom networking"
**What happened**:
I followed AWS guide https://docs.aws.amazon.com/eks/latest/userguide/cni-custom-network.html to have pods use different subnets respect to nodes primary (original) subnets.
Then I assigned to a node primary ENI (which belongs to the original subnet, not to the new subnet dedicated to pods) a secondary IP address (`172.22.10.23`) to be used as `externalIP` in k8s Service descrip

[2021-05-13 20:05] jayanthvn commented on #1466
Hi @marco-a-itl

`eni-03abbf92f22b78fc2` is this a primary ENI or a secondary ENI allocated by IPAMD?

Reg this - "_So it seems that, even with CNI custom network, the pods get IP addresses from a pool that includes all the secondary IP addresses, no matter which ENI these addresses are associated to_." -> With custom networking except for primary ENI, all secondary IP belonging to the remaining s

[2021-05-13 23:39] jayanthvn commented on #1342
Hi @ddemo-miriade ,

Yes will take it up for 1.8 release. I can provide you a timeline in couple weeks. Thank you.

[2021-05-14 10:35] marco-a-itl commented on #1466
The secondary IP address was added to the ENI associated with node ip address (the address that is showed by `kubectl get nodes`). If I remember correctly it was `eth0` on the node.
I can double check in the next days, if you are seeing different results.

________________________________
Da: Jayanth Varavani ***@***.***>
Inviato: giovedì 13 maggio 2021 22:06
A: aws/amazon-vpc-cni-k8s ***@***.***>

[2021-05-17 10:15] marco-a-itl commented on #1466
Reproduced again the problem, and checked the additional secondary-ip-address is assigned to the primary ENI (DeviceIndex == 0):
[code]
After pods creation, the address `172.22.10.23` is duplicated:
[code]
The address has been added with:
[code]
The nodes are:
[code]
It's also possible to see that the ENI with address `172.22.10.24` (whose secondary ip address is `172.22.10.23`) is the `eth0`:
[co

[2021-05-18 03:09] jayanthvn commented on #1466
Thanks for explanation @marco-a-itl , I will repro this and verify the logs.

[2021-05-18 18:25] jayanthvn commented on #1447
Hi @Buffer0x7cd

For the ENI, do you see the "node.k8s.amazonaws.com/createdAt" tag present?

[2021-05-18 18:25] jayanthvn commented on #1444
Thanks for updating @bboppana

[2021-05-18 18:25] #1444 closed

[2021-05-23 20:10] Shahard2 commented on #595
Hello, any solution for that?
We have terrible issues in production because of it

[2021-05-25 06:58] yufan022 opened #1473 "When withOIDC: true, nodes always NotReady in fully-private cluster"
[code]
Node can't join to fully-private cluster when I set `withOIDC:true` and `privateCluster.enabled: true`.

`kubectl get nodes` state is `NotReady` all the time.
[code]

How can I set `withOIDC: true` on `fully-private cluster`?
Is this related #647 ?

kubelet log
[code]

cni log
[code]

kubectl describe nodes
[code]

kubectl describe pods -n kube-system aws-node-98b7h
[code]

[2021-05-25 21:32] s33dunda commented on #1078
I've recently upgrade from 1.19 -> 1.20 and am seeing these now. however, the aws-nodes never are able to connect.
kube-proxy did have some errors that i've cleared up using `---hostname-override=$(NODE_NAME)`
Still no dice for aws-node even after kube-proxy is up and ready. Has anyone else experienced this?

[2021-05-27 09:03] avoidik commented on #1287
potential option here might be mapping of needed info to node or pod labels and then consume either using downward-api or direct query to Kubernetes API

[2021-05-27 15:28] maxenglander commented on #1462
I also posed the question above to AWS support, and received this great answer:

I could be missing it, but I didn't see any documentation in this repo about that. Is it worth adding that documentation?

[2021-05-28 20:37] tgeoghegan commented on #1473
I encountered what appears to be the same problem. I had configured the `vpc-cni` addon to use an IAM role via OIDC with the `AmazonEKS_CNI_Policy` canned policy attached. I was able to get past this problem by instead attaching that policy to the worker node IAM role and then letting the `vpc-cni` addon inherit the node role.

[2021-05-31 19:12] misiektoja commented on #1473
Thanks for the hint, I finally got the private cluster working. However to extend your reply little bit, it is important to:
- have 'withOIDC: false'
- attach  arn:aws:iam::aws:policy/AmazonEKS_CNI_Policy for nodes, for example in managedNodeGroups section:
    iam: &iam
      attachPolicyARNs:
        - arn:aws:iam::aws:policy/AmazonEKS_CNI_Policy

I also changed the global STS as 'Valid in all A

[2021-06-01 11:21] argyrodagdileli commented on #284
Okay for anyone that might still face this issue.
In my case, we had a cluster that was initially set up a while ago at version 1.14 and was later upgraded to 1.16.
I was able to deploy `x86` nodes without any issue.
However when I tried to deploy `arm64` node groups they would fail with the error described in this issue

After running the steps that @SarasaGunawardhana mentioned

I noticed that t

[2021-06-01 18:19] tgeoghegan commented on #1473
It does work, but for the benefit of any AWS people reading this, I think it's worth noting that it's an imperfect workaround. As recommended in the AWS EKS guide, I'd prefer to restrict the permissions `AmazonEKS_CNI_Policy` to an IAM role granted to the VPC CNI plugin rather than extending those permissions to the entire worker node.

[2021-06-01 20:04] jayanthvn commented on #1473
Possibly similar to this - https://github.com/weaveworks/eksctl/issues/1672. This https://github.com/aws/amazon-vpc-cni-k8s/pull/1332 will be taken up in 1.8 which fixes this https://github.com/aws/amazon-vpc-cni-k8s/issues/647

[2021-06-02 11:00] nip572 commented on #1384
@abhipth Thank you for the workaround. Are there any downsides to the workaround you suggested? If yes, could you elaborate on those? We want to ensure that this workaround can be used in production environments.

[2021-06-02 21:04] abhipth commented on #1384
@nip572 by setting `"-setupiptables=false"` skips connection tracking for traffic generated within the node as seen [here](https://github.com/kubernetes/dns/blob/077a43e83e648ba5f04bae18ffcb824edc9db967/cmd/node-cache/app/cache_app.go#L106-L144).

The answer depends on factors like the kind of traffic in your cluster. If your node handles extremely high number of simultaneous connections then usin

[2021-06-02 22:12] #1392 closed

[2021-06-02 22:21] #1423 closed

[2021-06-03 13:22] gabrieladt opened #1479 "Eventually some pods Stucks on "container creating""
From time to time, we have a problem in our production environment, where some pods stucks in ContainerCreating.

**Attach logs**
[eks_i-0f7c80b4e860e2978_2021-06-03_1124-UTC_0.6.2.tar.gz](https://github.com/aws/amazon-vpc-cni-k8s/files/6591851/eks_i-0f7c80b4e860e2978_2021-06-03_1124-UTC_0.6.2.tar.gz)

**What you expected to happen**:

Depending on the node which it was scheduled, here is an examp

[2021-06-03 15:05] jayanthvn commented on #1479
Hi @gabrieladt

Nice debugging :), based on the logs seems like IMDS has never synced after the delete -

[code]
https://github.com/aws/amazon-vpc-cni-k8s/blob/release-1.7/pkg/awsutils/awsutils.go#L602
[code]
The issue you are seeing after restart is known which is again because of this stale ENI - https://github.com/aws/amazon-vpc-cni-k8s/issues/1340

[2021-06-03 16:11] Nurlan199206 commented on #1245
i have same issue...

[code]

`Failed to create pod sandbox: rpc error: code = Unknown desc = failed to set up sandbox container "58e46f41072c9382edc2d9a2c58eb49acb5b388fb31b99a075ffdd0aa2d796d0" network for pod "frontend-657fddbfbb-gjxhw": networkPlugin cni failed to set up pod "frontend-657fddbfbb-gjxhw_a-plus" network: add cmd: failed to assign an IP address to container`

[2021-06-03 16:29] #1272 closed

[2021-06-03 17:15] jayanthvn commented on #1245
Hi @Nurlan199206

Can you please open a new issue and share ipamd.log?

[2021-06-03 17:20] Nurlan199206 commented on #1245
@jayanthvn

i changed this settings in aws-node DaemonSet pods from `1` to `2` and pods have started, maybe it's helped?

[code]

[2021-06-03 21:54] nip572 commented on #1384
@abhipth That does clear some doubts.

 One thing, I'd also like to highlight is that when we set ```"-setupiptables=false"``` , connectivity to pods that are running with host networking enabled is lost.

[2021-06-04 00:55] kishorj commented on #1384
@nip572, I'm unable to reproduce the issue on pods with host networking enabled and `-setupiptables=false`. Did you have any specific DNS configuration on the pods?

[2021-06-04 01:49] Nurlan199206 opened #1480 "AWK EKS network: add cmd: failed to assign an IP address to container"
i have issue when redeploying pods

`Failed to create pod sandbox: rpc error: code = Unknown desc = failed to set up sandbox container "e9f85302d108de589c61061d5aee17b38c1ec1c44031a5c44d61fe9e4208bad2" network for pod "templater-api-7589dd5d85-xddrd": networkPlugin cni failed to set up pod "templater-api-7589dd5d85-xddrd_a-plus" network: add cmd: failed to assign an IP address to container`

[code

[2021-06-04 06:49] Nurlan199206 commented on #1245
@jayanthvn

https://github.com/aws/amazon-vpc-cni-k8s/issues/1480

[2021-06-04 12:22] jamesetune opened #1481 "Support for t4g (ARM graviton) instances"
**What would you like to be added**:Support for T4G instance types

**Why is this needed**: T4g's are cheaper instance types that are more suitable for our workloads that M6's

[2021-06-05 00:21] anwarchk commented on #1038
/repopen

[2021-06-06 21:45] jayanthvn commented on #1481
Hi @jamesetune

Which CNI release are you using? Since 1.7.6 onwards t4g's are supported - https://github.com/aws/amazon-vpc-cni-k8s/pull/1296

[2021-06-06 22:12] jayanthvn commented on #1480
Hi @Nurlan199206

I checked the logs and seems like all ENIs and IPs are used up.

[code]

Ipam.json file has 27 entries which matches the assigned count. Are all the pods deleted on this instance?

Also is there any reason you are using init container of v1.7.10 but cni version of v1.7.5?

[2021-06-07 10:24] Nurlan199206 commented on #1480
seems yes, i'm deleted unneccesary deployments, now it's fine, also how i can increase ENI?

i'm installed new version of init container because i thought somewhere bug in older version

[2021-06-07 13:19] rittneje opened #1491 "ServiceAccount should precede DaemonSet in yaml"
See https://raw.githubusercontent.com/aws/amazon-vpc-cni-k8s/release-1.7/config/v1.7/aws-k8s-cni.yaml for example.

We are trying to have the VPC CNI assume a role via EKS's OIDC provider. To do so requires us to add an annotation to the ServiceAccount, which must be present when the CNI pods are being created so that EKS can properly issue the JWT and set the necessary environment variables. Howe

[2021-06-08 16:52] kishorj commented on #1384
The `-setupiptables=false` with the default configuration renders the node local cache ineffective. Without the iptables rules the DNS traffic to 10.100.0.10 gets DNATed to the coredns pods directly bypassing the node local cache pods.

It is feasible to use the node local cache with default configuration for non SG pods running on EC2 and coredns for the SG pods. The non SG pods will work as-is,

[2021-06-08 18:08] achevuru commented on #1491
@rittneje If SA is missing when the aws-node daemonset pod boots up, then it will fail to come up. I'm not sure I'm following the race condition you are referring to. Are you creating the aws-node Serviceaccount first and then manually modifying it to add the IRSA annotation? Default manifest doesn't carry SA annotation.

[2021-06-08 18:16] jayanthvn commented on #1480
Hi @Nurlan199206

Each instance has ENI and IP limits, this has the list - https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-eni.html.

Thanks!

[2021-06-08 18:24] #1480 closed

[2021-06-08 19:42] rittneje commented on #1491
If we modify the ServiceAccount to include the annotation without also reordering the yaml file, then some of the pods end up without the AWS_ROLE_ARN and AWS_WEB_IDENTITY_TOKEN_FILE environment variables set due to this race condition.

In addition as you mentioned the ServiceAccount needs to exist before the DaemonSet is created in the first place. (However since it seems EKS automatically creat

[2021-06-09 09:59] 0xlen commented on #1338
I experienced the same issue and able to see the IPAMD got the `UnauthorizedOperation` error when using CNI Plugin v.1.7.5 due to the missing policy of `AmazonEKS_CNI_Policy`, the CNI plugin will restart always:

ipamd
[code]

kubelet
[code]

[2021-06-10 22:07] jayanthvn commented on #745
Operator-sdk dependency is removed and 1.8 release is out - https://github.com/aws/amazon-vpc-cni-k8s/pull/1419.

[2021-06-10 22:07] #745 closed

[2021-06-10 22:11] jayanthvn commented on #486
Client-go is updated and operator-sdk dependency is removed -  https://github.com/aws/amazon-vpc-cni-k8s/pull/1419. Release 1.8 has these fixed. Closing the issue for now please try and let us know if the issue still exists.

[2021-06-10 22:11] #486 closed

[2021-06-10 22:13] jayanthvn commented on #1046
Operator-sdk dependency is removed -  https://github.com/aws/amazon-vpc-cni-k8s/pull/1419

[2021-06-10 22:13] #1046 closed

[2021-06-11 14:30] RajatToshniwal opened #1505 "ENI is not getting associated with POD"
**What happened**:
I followed the steps mentioned "https://docs.aws.amazon.com/eks/latest/userguide/security-groups-for-pods.html" in order to enable security groups for pods. I want to have some security policy between pod-to-pod communication.  It is not showing me any ENI created for the security group. I verified it both from the AWS console as well as by describing the pods.
Currently my secu

[2021-06-11 14:45] abhipth commented on #1505
Hi @RajatToshniwal can you confirm if you see `vpc.amazonaws.com/pod-eni` on descring the pod. Also can you provide the name of the pod so I can cross check in the logs.

[2021-06-11 15:05] RajatToshniwal commented on #1505
Hi Abhi,

pod name is productpage
I don't see vpc.amazonaws.com/pod-eni.

kubectl -n bookinfo  describe pod productpage-v1-6b746f74dc-n6zs7  | grep -i  "vpc.amazonaws.com/pod-eni"

showing me no result.

[2021-06-11 15:10] abhipth commented on #1505
Thanks for confirming, I see in your SGP that you are using `serviceAccountSelector` with match labels `app: productpage`. This Policy will target all the Pods that are using a Service Account that has the label `app: productpage`. Could you confirm that the label is present on the Service account of pod `bookinfo/productpage`.

[2021-06-11 15:12] RajatToshniwal commented on #1505
I can't see "app: productpage" there
kubectl describe  serviceaccount bookinfo-productpage  -n bookinfo
Name:                bookinfo-productpage
Namespace:           bookinfo
Labels:              account=productpage
Annotations:         Image pull secrets:  <none>
Mountable secrets:   bookinfo-productpage-token-mjnk9
Tokens:              bookinfo-productpage-token-mjnk9
Events:              <none

[2021-06-11 15:19] RajatToshniwal commented on #1505
My bad, after using the podSelector, it starts working fine.

Thanks a lot for your support.

[2021-06-11 15:19] abhipth commented on #1505
@RajatToshniwal that would explain why the Pod in question is not getting an ENI.

In order to target your pod currently you can do the following
- Use ` serviceAccountSelector` that you currently have and add the label to your Service Account. This will allocate a ENI to all Pods that are using that service account.
- Alternatively, you could use `podSelector` instead of   serviceAccountSelector`

[2021-06-11 15:55] RajatToshniwal commented on #1505
Hi Abhi,

Now my pods are kind of stuck, they are not getting created .
I am getting the following error

  Normal   ResourceAllocated       7m43s                    vpc-resource-controller  Allocated [{"eniId":"eni-040919c5860611402","ifAddress":"06:8c:b6:a5:ae:9e","privateIp":"10.105.49.166","vlanId":1,"subnetCidr":"10.105.49.128/26"}] to the pod
  Warning  FailedCreatePodSandBox  7m43s

[2021-06-11 16:01] abhipth commented on #1505
We can work using this issue. Could you share the output from the log collector script on the node where the Pod is stuck in ContainerCreating.

[2021-06-11 16:14] RajatToshniwal commented on #1505
Please find them attached.
Meanwhile I am also getting the below mentioned error
{"level":"debug","ts":"2021-06-11T16:08:36.581Z","caller":"retry/retry.go:70","msg":"No secondary IPv4 addresses available yet on ENI eni-08bef2935d5494306".

Do I need to configure the secondary IPv4 as well?
[Uploading eks_i-01d0b4d672b45e4f2_2021-06-11_1610-UTC_0.6.2.tar.gz…]()

[2021-06-11 16:24] RajatToshniwal commented on #1505
Please ignore  this line  "No secondary IPv4 addresses available yet on ENI eni-08bef2935d5494306"
It may be because I tried changing the configuration
            - name: WARM_ENI_TARGET
              value: '2'
Now I am not getting that line in the ipamd logs.
I have changed my configuration  back to "1", still my pods are not getting created. They are stuck.

[2021-06-11 16:27] abhipth commented on #1505
Could you confirm if both ENI Pod as well as normal Pods are stuck in ContainerCreating?

Also, I could'nt find the Pod `productpage-v1-6b746f74dc-s9krz` in the most recent logs. Could you share the Pod Description for the impacted Pod which is present in the the above logs tar.

[2021-06-11 16:45] RajatToshniwal commented on #1505
[eks_i-01d0b4d672b45e4f2_2021-06-11_1634-UTC_0.6.2.tar.gz](https://github.com/aws/amazon-vpc-cni-k8s/files/6639934/eks_i-01d0b4d672b45e4f2_2021-06-11_1634-UTC_0.6.2.tar.gz)

Pod Name : productpage-v1-6b746f74dc-kxrs4

Events:

Events:
  Type     Reason                  Age                  From                     Message
  ----     ------                  ----                 ----

[2021-06-11 16:46] RajatToshniwal commented on #1505
Mistakenly closed it

[2021-06-11 16:49] abhipth commented on #1505
I see the Readiness Probe is failing on the Pod. With SGP you would need to disable TCP Early Demux in order to have readiness probe work with SGP Pod.

If you would like to disable it, you can use the following command.

[code]

Reference: [SGP Doc](https://docs.aws.amazon.com/eks/latest/userguide/security-groups-for-pods.html)

[2021-06-11 16:57] RajatToshniwal commented on #1505
I already did that and it is already showing me as true
kubectl describe   ds aws-node -n kube-system |grep "DISABLE_TCP_EARLY_DEMUX" -A 1
      DISABLE_TCP_EARLY_DEMUX:  true

[2021-06-11 17:15] abhipth commented on #1505
@RajatToshniwal could you confirm if you allowed inbound communication from cluster security group for the readiness probe port?

[2021-06-11 17:24] RajatToshniwal commented on #1505
Hi Abhi,

My pod security group is all open for UDP and TCP. No restrictions at all.
In the ClusterMasterSecurityGroup, I have opened TCP and UDP port 53 for pod securitygroup

[2021-06-11 17:41] abhipth commented on #1505
Hi @RajatToshniwal

From the readiness probe failure error `connection refused` I am still suspecting this is due to SG blocking readiness probes.
[code]
Could you share your cluster ARN at abhipth@amazon.com so I could further inspect the issue.

[2021-06-11 17:47] RajatToshniwal commented on #1505
Sent.

[2021-06-11 19:10] RajatToshniwal commented on #1505
Hi Abhi,

Another thing which I have noticed  on my datanode, I can't  see the pod IP there as well. Though the network interface is showing the mac-address but not the corresponding IP address. Similarly if I am inspecting my docker images from data nodes. They are not assigned any IP address.
**Interface on my data node**
vlan.eth.2: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 9001
        i

[2021-06-11 19:19] RajatToshniwal commented on #1505
Above observation is correct, When I run it by disabling the istio inject label, it is working fine. But I need istio, I can't disable it . Can you please provide a solution for this use case where pod security groups needs to be run along with istio.

[2021-06-11 19:26] shubydo commented on #1360
We are seeing the same error. Was there any resolution on this?

[2021-06-13 04:57] RajatToshniwal commented on #1505
Hi Abhi,

You were correct there were some ports missing in my control plane security group. After adding tcp ports from 15001 to 15014 along with the DNS ports, my pod starts working.
But now the issue is my "security-group" for the pods is not blocking anything. I have only allowed the inbound communication from the cluster security group. Still all other pods in that namespace are able to conne

[2021-06-13 22:15] RogerRey14 commented on #1480
Hi guys,

I'm having the same issue:

"""
[Normal][default/jenkins-backend-agent-91xqs-xlff7][SandboxChanged] Pod sandbox changed, it will be killed and re-created.
[Warning][default/jenkins-backend-agent-91xqs-xlff7][FailedCreatePodSandBox] Failed to create pod sandbox: rpc error: code = Unknown desc = failed to set up sandbox container "ffb6870508775581644da56ec0462a4959bcf055e4548196d8ace8147aa

[2021-06-14 00:01] jayanthvn commented on #1480
Hi @RogerRey14

Can you please check in `/var/log/aws-routed-eni/ipamd.log` if you are running out of IPs?

[2021-06-14 06:07] RajatToshniwal commented on #1505
Please consider it as resolved.

[2021-06-14 06:07] #1505 closed

[2021-06-14 21:49] joebowbeer commented on #833
Are these the sought-after calico manifests?

https://github.com/aws/amazon-vpc-cni-k8s/tree/master/config/v1.8

Instructions for installing from manifests:

https://docs.aws.amazon.com/eks/latest/userguide/calico.html

[2021-06-15 07:55] trucnguyenlam commented on #1425
Please address this issue, we're experiencing the same error (it is sporadical) and there is no way we can reproduce that.

[2021-06-15 09:39] ash-sdt opened #1509 "EKS + VPC CNI + Containerd works super slow"
**What happened**:
I am running an EKS cluster with self-managed Debian worker nodes and I use containerd cri instead of dockershim. I pass the containerd cri socket to "/var/run/cri.sock" in aws-node pods.
When I spin-up a new node, IPAMD acts super slow and makes the node unusable for a great amount of time. First it takes a lot of time to pass "Testing communication with server" stage, it fails

[2021-06-15 16:30] jayanthvn commented on #1509
Hi @ash-sdt

Regarding the restart -

[code]

Can you please check if kube-proxy is failing to get node info? Ref - https://github.com/aws/amazon-vpc-cni-k8s/issues/1078#issuecomment-804655593

Based on the logs I see WARM_ENI_TARGET is set to 1 and the assigned IPs is 0 hence you will see just one ENI - `eni-059af5ba5bff51d8d` with 5 IPs since you are using t3.medium. Even if you add one non-host

[2021-06-15 16:44] jayanthvn commented on #1425
I understand this issue happens sporadically but if you could share the information on CNI version, node and pod scale, if there is any churn with pod scale then we can try to repro the issue. Also next time when you see the issue if you could run `sudo bash /opt/cni/bin/aws-cni-support.sh` on the node then we can review the kubelet logs and memory consumption on the node. Also if you have any too

[2021-06-15 18:10] jayanthvn commented on #1491
With the next CNI release (probably next month) we will be generating these manifests from helm and that will ensure the service account is on the top.

[2021-06-15 18:11] jayanthvn commented on #1481
T4g instance support is already added from 1.7.6, please let us know if you are seeing any issue.

[2021-06-15 18:11] #1481 closed

[2021-06-15 18:14] jayanthvn commented on #1479
Please ref this - https://github.com/aws/amazon-vpc-cni-k8s/issues/1340#issuecomment-816859265 and will update #1340 once the race condition issue is resolved.

[2021-06-15 18:14] #1479 closed

[2021-06-15 18:18] ash-sdt commented on #1509
@jayanthvn It seems it can't
[code]

[2021-06-15 18:19] jayanthvn commented on #1462
Thanks @maxenglander, yes will update the documentation. There is some documentation now - https://docs.aws.amazon.com/eks/latest/userguide/external-snat.html but would definitely need to update the narrative.

[2021-06-15 18:25] #1319 closed

[2021-06-15 18:29] jayanthvn commented on #847
Fix for #1319 is merged and we will be taking this approach from 1.9.0 release onwards (most probably next month). Ref #1497, #1430 and #1271

[2021-06-15 18:29] #847 closed

[2021-06-15 18:32] maxenglander commented on #1462
Thanks @jayanthvn I'll rename/update this ticket to reflect that what's need is an update to docs

[2021-06-15 21:32] trucnguyenlam commented on #1425
@jayanthvn cni version is 1.7.5, nodes is controlled by autoscaler as recommended by eks documentation (node type is m5.large)
Unfortunately, our nodes don't have ssm installed by default so we can't log in to run the command.

I'll have a look on monitoring aws-node memory consumption to check if that is the case.

Cheers!

[2021-06-15 21:40] haoming-db opened #1510 "Allow primary ENI to be unmanaged"
**What would you like to be added**:
Allow primary ENI to be unmanaged.
Currently the `node.k8s.amazonaws.com/no_manage` tag [is ignored on the primary ENI](https://github.com/aws/amazon-vpc-cni-k8s/blob/release-1.7/pkg/ipamd/ipamd.go#L220), so as a user we have no way to opt our primary ENI out of CNI's management.

Alternatively, AWS-CNI can provide an option to run in a low-privileged mode, whe

[2021-06-15 22:06] haoming-db opened #1511 "At 1st run, ipamd always sets the security groups of ENIs even if they already have the desired security groups"
**What happened**:
[RefreshSGIDs is called at CNI’s ipamd starts](https://github.com/aws/amazon-vpc-cni-k8s/blob/d9d69e17c86baff36cdee67986551492f24f5d94/pkg/ipamd/ipamd.go#L323) (and also every 30s in the background).
When the container starts, [EC2InstanceMetadataCache.securityGroups](https://github.com/aws/amazon-vpc-cni-k8s/blob/release-1.7/pkg/awsutils/awsutils.go#L189) is empty (there’s no c

[2021-06-15 23:42] brettplarson commented on #1425
I spoke to our AWS support rep regarding this issue and he seemed to
believe that this was expected and due to the CNI container starting before
the kube-proxy container became healthy.
Just my 2 cents.

On Tue, Jun 15, 2021 at 4:33 PM Truc Nguyen Lam ***@***.***>
wrote:

[2021-06-16 00:37] jayanthvn commented on #1509
You can try this workaround - https://github.com/kubernetes/kubernetes/issues/61486#issuecomment-635169272 and this should fix kube-proxy error. We are also working internally to fix this up in kubeproxy.

regarding the 2nd issue, can you please confirm if you are able to attach ENIs when you scale the pods?

[2021-06-16 07:11] trucnguyenlam commented on #1425
I'm still searching for an effective automatic approach to handle this issue, currently the only way to fix it is to manually terminate the node that is stuck.

[2021-06-16 10:49] ash-sdt commented on #1509
Thank you @jayanthvn
I can confirm the issue is fixed

[2021-06-16 13:11] ash-sdt commented on #1509
Well it seems there another problem now.
The nodes which does not running coredns can not resolve dns.
[code]

[2021-06-16 22:32] davisford commented on #1473
@tgeoghegan can you clarify a bit what you mean by this?  I'm currently using [eksctl](https://eksctl.io/) to spawn my cluster.  I have OIDC enabled and both public/private networks set to true.  I am also using managed nodegroups and I am attaching the canned AmazonEKS_CNI_Policy directly to the node via the nodegroup configuration a la (this YAML config is documented for `eksctl` [here](https://

[2021-06-17 00:13] tgeoghegan commented on #1473
I am not using `eksctl` but if I'm reading your YAML correctly, then what you've got set up is what I have described as a workaround: you attach `AmazonEKS_CNI_Policy` to the IAM role for the nodes, then don't specify an IAM role for the `vpc-cni` EKS addon, which causes it to inherit the IAM role used by the node. The API requests subsequently made by the `vpc-cni` addon then succeed. The downsid

[2021-06-17 13:49] tmjd commented on #1429
The doc @bcbrockway linked to clearly states

So I'm not sure I'd classify this as a bug, because the directions are not being followed.

This could be addressed by adding some logic to the operator here https://github.com/tigera/operator/blob/3ee2a1c36b8c4858c0a432c822a4067dfcce08d7/pkg/render/node.go#L619 for when ProviderEKS to set the nodeSelector as @jayanthvn suggests. I'd be happy review a

[2021-06-17 14:55] ash-sdt commented on #1509
Well it seems the DNS issue is not related to VPC-CNI.
Thank you for helping.

[2021-06-17 14:55] #1509 closed

[2021-06-17 16:35] masterzen opened #1514 "Some pods don't get host -> pod route on newer Fedora CoreOS version"
**What happened**:
We're testing a Fedora CoreOS upgrade (from 33.20210426.3.0 to 34.20210529.3.0) on a test k8s cluster (non EKS), and we have some pods that are stuck in CrashLoopBackoff when the machine first boots because the route that goes from the host to the pod hasn't been set.

For instance the pod that has IP 10.102.128.4 has none of this route:

[code]

There's no entry for 10.102.128.

[2021-06-18 04:36] aquam8 opened #1517 "Discrepancy in Calico Manifest files vs Helm chart"
Discrepancy in Calico Manifest files vs Helm chart (within the repository)

I could not help noticing how the the Calico install/deloyment is different in the manifest files (config/v1.x/) and the Helm charts (charts/aws-calico/). Application versions are different (3.15.1 vs 3.17.1). Use of Tigera operator vs not etc..

Is this on purpose? Are the Helm chart for Calico to be deprecated?

Thank yo

[2021-06-18 12:41] masterzen commented on #1514
After more troubleshooting it looks like it is a race condition between NetworkManager and the aws-cni plugin.

We excluded the `eni*` interface from NetworkManager and it looks like it doesn't exhibit this issue. We need to perform more tests to validate this solution.

Here's the config file `/etc/NetworkManager/conf.d/aws-cni.conf`:

[code]

For good measure we also excluded them from `systemd-

[2021-06-18 17:50] jayanthvn commented on #1517
Hi @aquam8

Yes there is a discrepancy now since in aws-vpc-cni/master there were changes done like Tigera operator which you mentioned which is yet to be fixed in eks-charts. We are having a discussion with calico team and going forward we are thinking of making the changes in aws-vpc-cni/charts and export that automatically to eks-charts. Which we are already doing it for aws-vpc-cni manifests.

[2021-06-18 21:48] aquam8 commented on #1517
That would be great, thank you. I’m glad that it’s on the roadmap as I
could not find an open issue ToDo for it.

Thanks!

On Sat, 19 Jun 2021 at 3:50 am, Jayanth Varavani ***@***.***>
wrote:

[2021-06-18 22:06] M00nF1sh commented on #1517
@aquam8
Calico team prefer to install calico via this tigera operator(which bundles a specific calico version), while our aws-calico helm chart is install calico directly.
we are thinking whether to upgrade aws-calico to use tigera(which breaks backwards-compatibility) or deprecate it and replace it with another chart like aws-tigera-operator. Any preferences?

[2021-06-18 22:29] aquam8 commented on #1517
Yes I noticed how it uses a new namespace and inject the docker image
repository and version to use for Calico.
I understand that publishing it through manifest is a lot easier than than
having to manage this through the helm chart.

My 2 concerns:
- if we use the Tigera Operator we should be able to pass in our own docker
image for calico (repository and version) so we can manage the versioning
o

[2021-06-22 10:32] hurriyetgiray-ping commented on #1223
Do we have an ETA on this fix please? This is causing us a lot of issues, and substantial coding to workaround it.

[2021-06-22 15:21] johnthedev97 commented on #1517
In my opinion backward compatibility is already broken between 1.7.8 and 1.7.9.

We have an automation which manage EKS clusters with automation and we have been installing it using the previous official documentation

![image](https://user-images.githubusercontent.com/23088021/122948873-87570f80-d37b-11eb-8d37-204edf9646e1.png)

From 1.7.9, onward that doesn't work. The apply would create an oper

[2021-06-22 18:15] jayanthvn commented on #1511
Hi @haoming-db

Will look into this and get back to you.

[2021-06-22 18:22] achevuru commented on #1510
@haoming-db If your primary concern is due to an untrusted container taking advantage of CNI Policy permissions tied to the NodeInstanceRole, you should be able to use IRSA instead and remove the CNI Policy from the NodeInstanceRole. Will limit these permissions to aws-node pods on the node and a random pod will not be able to assume these permissions/role.

[2021-06-23 09:45] hurriyetgiray-ping commented on #1223
Can this be tagged as a bug please, as this is more than a feature request?

[2021-06-23 17:52] yangxintian opened #1518 "Node affinity requires matching with both beta.kubernetes.io and kubernetes.io labels"
In the v1.7 aws-k8s-cni.yaml file, the node affinity is set to require matching with both beta.kubernetes.io/... labels and kubernetes.io/... labels. Is this really intended?
For now, this works because nodes created in EKS have both the beta.kubernetes.io/... labels and the kubernetes.io/... labels. But from Kubernetes [documentation](https://kubernetes.io/docs/reference/labels-annotations-taints

[2021-06-23 19:46] apryiomka opened #1519 "EC2-Classic Instances intermittently cannot reach PODs via ClassicLink"
**What happened**:
We are running EKS v1.17 with `amazon-k8s-cni:v1.7.5-eksbuild.1`

We currently in the middle of migration of our EC2 Classic services to EKS and as the result, we have enabled ClassicLink on our VPC and allows some services in EC2 Classic to talk to EKS via private IPs.

The problem we are seeing is that some pods are accessible in EKS via POD's IP / Secondary EC2 Worker Node's

[2021-06-23 23:42] jayanthvn commented on #1519
Hi @apryiomka

ENIs with description - "aws-K8S-" are created by IPAMD. So the pods behind primaryENI are able to communicate but not the ones behind secondary ENIs?

You might have to set - "AWS_VPC_K8S_CNI_EXTERNALSNAT=true". Please ref to https://docs.aws.amazon.com/eks/latest/userguide/external-snat.html

Thanks!

[2021-06-24 00:00] apryiomka commented on #1519
Yes, that is correct. Any pod with the IP from the secondary ENI is not available from outside of the VPC. All pods are accessible from within the VPC or the cluster though. If we create and EC2 instance in the same VPC / security group as the worker nodes, i can access all pods by IP addresses.

Does this require to re-created the nodes and / or autoscaling group? Or this is just a simple daemons

[2021-06-24 00:10] jayanthvn commented on #1519
It is a daemonset update which will involve `aws-node` to restart on all nodes but as you pointed out there will be some updates to IP tables too. It would be better to try on a test cluster before changing on production cluster.

[2021-06-24 00:16] apryiomka commented on #1519
Reading this:

Would this potentially break any egress traffic, specifically internet egress traffic as we generally don't restrict outgoing traffic to the internet from private subnets.

[2021-06-24 00:30] apryiomka commented on #1519
@jayanthvn , from what I understand `AWS_VPC_K8S_CNI_EXTERNALSNAT=true` is for egress, not ingress. I believe we have issue with ingress from EC2-Classic into the cluster, not other way around? What am I missing? Also if `SNAT` is enabled now, how come that the default ENI works whereas the secondary ENIs don't, why is the behaviour inconsistent?

[2021-06-24 00:49] jayanthvn commented on #1519
Here is some context on the behavior - https://github.com/aws/amazon-vpc-cni-k8s/issues/1327#issuecomment-771149810.

Since you are having issues with the ingress traffic, can you please verify if they are dropped because of martian sourcing -

[code]

Verify if the source packets show up in /var/log/messages as "maritans"

[2021-06-24 15:02] apryiomka commented on #1519
@jayanthvn

where do I run this?

[2021-06-24 15:41] jayanthvn commented on #1519
You will have to run this on one of the EC2 instances where the pods are failing to receive the traffic. Once you enable you can check `/var/log/messages`

[2021-06-24 16:01] dgoscn commented on #1480
Hi @jayanthvn

I have the same issue, but, not of out of IPS.

tail `/var/log/aws-routed-eni/ipamd.log`

[code]

[2021-06-24 16:21] dgoscn commented on #1245
Does anyone have a solution or a clean solution besides than the weird aws response on @rohith-mr-rao?

[2021-06-24 17:02] jayanthvn commented on #1480
Hi @dgoscn

Will you be able to email (varavaj@amazon.com) me logs from `sudo bash /opt/cni/bin/aws-cni-support.sh`?

[2021-06-24 17:17] apryiomka commented on #1519
It is on all instances. It is not about he instance, it is about the ENI IP, if IP was assigned from secondary pool, it fails 100%. Besides, we don't have ssh enabled on the workers node, doing that would require to change the launch template and replace all nodes in ASG.

[2021-06-24 20:11] jayanthvn commented on #1519
Agreed the issue is happening on all pods behind secondary ENI, wanted to just confirm on one of the instances if the issue was because of martian source.

But can you please clarify this -
1. how traffic is ingress from the secondary ENIs, basically we would like to know the traffic path from the external source to the pod behind secondary ENI.
2. why EC2 instance thinks traffic is external?

[2021-06-25 18:01] dgoscn commented on #1480
Hi @jayanthvn. I have sensitive data in these outputs. Do you want some exactly output file from the tar.gz generated? Thanks

[2021-06-25 18:07] jayanthvn commented on #1480
sure no problem, If you can please send the below log files generated by IPAMD and CNI that would help -

[code]

Also what is your CNI version?

Thanks!

[2021-06-25 21:52] M00nF1sh commented on #1517
@johnthedev97
Thanks for calling this out. I'll work with our docs team next week to call this out in our documentation.

[2021-06-27 18:30] jayanthvn opened #1520 "Add aws-node pod events when EC2/IMDS permissions/access are missing"
**What would you like to be added**:
Add pod events for missing permissions for either EC2 or IMDS. This will help debugging.

Currently without required IAM permission CNI pod will be stuck with following log lines

sh-4.2$ kubectl logs aws-node-5td62 -n kube-system
{"level":"info","ts":"2021-06-27T17:59:21.804Z","caller":"entrypoint.sh","msg":"Validating env variables ..."}
{"level":"info","ts":

[2021-06-28 13:08] groodt opened #1521 "Question: hostNetwork and privileged"
It probably makes sense given the nature of this add-on, however, I thought that I should ask anyway.

Does the aws-node DaemonSet require `hostNetwork` access?
Does the aws-vpc-cni-init container require the `privileged` SecurityContext?

Could you possibly comment on what it's used for?

[2021-06-28 18:22] jayanthvn commented on #1521
Hi @groodt

aws-node is a `hostNetwork` pod mainly because we need an IP for a regular pod and with the current design without `aws-node` pod cni and ipamd won't be running. Also we would want localhost:50051 to be available for cni plugin to talk to IPamD.

We wanted long running pod `aws-node` not to be privileged but still we need certain configs like setting rp_filter and tcp_v4_early_demux wh

[2021-06-28 18:47] dgoscn commented on #1480
Hi @jayanthvn

tail /var/log/aws-routed-eni/ipamd.log
[code]
tail /var/log/aws-routed-eni/plugin.log

[code]
tail /var/run/aws-node/ipam.json

[code]

CNI VERSION:
**amazon-k8s-cni-init:v1.7.8
amazon-k8s-cni:v1.7.8**

Thanks

[2021-06-28 19:16] jayanthvn commented on #1480
Thanks for sharing this. Based on ipam.json seems like you have 10 pods running and IPAMD is running out of IPs. Max IPs per ENI is 5, so looks like 2 ENIs are attached. What is the instance type?

[2021-06-28 20:02] dgoscn commented on #1480
Hi @jayanthvn. So, the **MY-IP FROM FIRST TAIL** are different ips, just to enforce it. About ENI, al right, I already knowing about the max.
T3.medium it is the instance type;

[2021-06-28 20:25] jayanthvn commented on #1223
Hi @hurriyetgiray-ping,

What is the CNI version you are using and are you having short lived clusters in the account? currently we have a background thread - https://github.com/aws/amazon-vpc-cni-k8s/blob/master/pkg/awsutils/awsutils.go#L382 which cleans up leaked ENIs in the account and I agree this would need atleast one aws-node pod running in the account.

[2021-06-28 20:54] jayanthvn commented on #1480
@dgoscn, t3 medium supports 3 ENIs with 5 IP each. So are you using custom networking or have configured `MAX_ENI`?

[2021-06-28 21:53] groodt commented on #1521
@jayanthvn Thanks for the detailed response. That makes sense.

Is there a similar justification for the `cni-metrics-helper`?

[2021-06-29 11:36] hurriyetgiray-ping commented on #1223
Hello @jayanthvn. Thank you for your response and also for tagging this issue as a bug. CNI version is V1.7.5 as per the below kubectl describe.
[code]
Would the background thread you mention help us? How frequently does it run?

Not sure what qualifies a cluster's life span as 'short', but this particular use case could possibly qualify as one. We have an EKS cluster but we manage the nodes ourse

[2021-06-29 11:59] njuettner opened #1523 "How to stop scheduling pods when aws-cni is not ready"
**What happened**:

In case of aws-cni is not ready yet, we often face issues by Kubernetes already scheduling pods but can't get an IP address when aws-cni is not up correctly. I wonder if there's a way that aws-cni could notify node once it's ready by setting taint on the nodes or something. Are there any plans for such use-case or is there even already something which we could pick up?

It woul

[2021-06-29 12:31] dgoscn commented on #1480
@jayanthvn using a custom networking

[2021-06-29 15:12] jayanthvn commented on #1480
@dgoscn, Thanks for confirming. The IP scale you are getting per node is expected. Since with custom networking we won't be allocating secondary IPs for primary ENI so the scale reduces by 1 ENI. So with t3.medium you will have just 2 ENIs and 10 IPs. Have you also updated the max pods?

New maxPods with custom networking enabled -
[code]

T3.medium -

[code]

Thanks!

[2021-06-29 17:08] jayanthvn commented on #1523
Hi @njuettner

Node will not be marked as ready until `aws-node` is up. We copy the config after IPAMD is up - https://github.com/aws/amazon-vpc-cni-k8s/blob/master/scripts/entrypoint.sh#L145. So are you referring to a scenario where ENI has no IP but the `aws-node` is UP so until the next reconciler starts IPs won't be attached so pods won't get IPs?

Thanks!

[2021-06-29 17:11] jayanthvn commented on #1521
@groodt - CNI metrics helper is not host networking and doesn't have privileged access.

[2021-06-29 17:38] dgoscn commented on #1480
Hello again @jayanthvn. Thanks for your explanation. I already created a new nodegroup with `t3a.xlarge` but it seems  that is not possible. Getting a "Instances failed to join the kubernetes cluster"

 Already checked this `"cluster's private endpoint access is enabled, or that you have correctly configured CIDR blocks for public endpoint access."` but it is not possible. I already restarted and

[2021-06-29 17:58] jayanthvn commented on #1480
@dgoscn happy to help.

Since the instances are failing to join we would need to check the instance logs. Since previously you mentioned it has sensitive information. So is it possible to open a support ticket? we can help check the internal error.

[2021-06-29 21:48] groodt commented on #1521
Thanks @jayanthvn Maybe I've patched it through in my deployment because I didn't set it up with IRSA. Is there now an official guide for setting up amazon-vpc-cni-k8s and cni-metrics-helper with IRSA? Is it officially supported from a particular version?

[2021-06-29 22:23] jayanthvn commented on #1521
Hi @groodt

This is the guide to setup IRSA for amazon-vpc-cni-k8s - https://docs.aws.amazon.com/eks/latest/userguide/cni-iam-role.html. For cni-metrics-helper, we don't support yet - https://github.com/aws/amazon-vpc-cni-k8s/issues/1287. If you can please share me the K8s and CNI version I can confirm if IRSA is supported.

[2021-06-29 22:30] groodt commented on #1521
K8s 1.20
CNI (we are currently on v1.7.5, but can upgrade to v1.8.0)

[2021-06-29 22:37] jayanthvn commented on #1521
Yes IRSA is supported with this for cni.

[2021-06-30 14:06] manideepl commented on #853
I'm sorry to post on a closed issue, but can someone point me to the default WARM_IP_TARGET for different instance types?
Is there a list? I'd like to see it for m5.4x large

[2021-06-30 14:33] mogren commented on #853
@manideepl The default is "one ENI", so it depends on the number of [Private IPv4 addresses per ENI](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-eni.html#AvailableIpPerENI). For an `m5.4xlarge`, that would be 30. As mentioned earlier, the reason for this is to enable fast scale up, since attaching ENIs can be slow.

[2021-06-30 15:47] njuettner commented on #1523
Correct, in case an IP can't be allocated because of IP exhaustion.

[2021-06-30 22:13] kumarpmd opened #1524 "ADDITIONAL_ENI_TAGS : aws-node env gets initialized but cni fails to parse the ENI Tags"
**What happened**:
AWS EKS Cluster v1.20 cluster was deployed with default cni.  cni was then patched to v1.8.0-eksbuild.1, that allows use of the custom tags for eni.
The upgrade was successful, however the supplied custom tags are not getting parsed successfully.  Let us know if there is an issue how values were supplied, or if I am missing any required flags..

## Patch deployment -
[code]

##

[2021-06-30 22:57] achevuru commented on #1524
@kumarpmd Can you try `kubectl set env ds aws-node -n kube-system ADDITIONAL_ENI_TAGS={\"AppId\":\"A99999\"}`?

[2021-07-01 19:40] johnthedev97 opened #1525 "helm chart install for aws-calico not working"
**What happened**:
I was following the instructions [here](https://github.com/aws/amazon-vpc-cni-k8s/tree/master/charts/aws-calico to install) to install Calico on EKS. But it gives me the following error in second step

[code]

**Attach logs**

I feel this is a client side issue and not sure if there are any other relevant logs. I am running the commands from MAc.

**What you expected to happen**

[2021-07-02 18:13] jayanthvn commented on #1521
Please do reach out if you need any more information. Thank you!

[2021-07-02 18:13] #1521 closed

[2021-07-02 18:18] jayanthvn commented on #1523
@njuettner currently there is no support for this but adding something like a taint is a nice suggestion. Also we had plans to look into this - https://github.com/aws/amazon-vpc-cni-k8s/issues/1160 which will help your use case too. We haven't yet scoped down the tasks on this but I can review this in couple weeks and get back to you?

[2021-07-02 18:25] achevuru commented on #1524
@kumarpmd  I tried with `kubectl set env ds aws-node -n kube-system ADDITIONAL_ENI_TAGS={\"AppId\":\"A99999\"}` and that worked fine for me. Closing the issue, feel free to reopen if you've any further questions.

[2021-07-02 18:25] #1524 closed

[2021-07-02 18:29] jayanthvn commented on #1524
We might need to update our documentation?

[2021-07-02 18:32] achevuru commented on #1524
Doc has correct format specified. More to do with shell specific behavior when we try to set it directly.

[2021-07-02 18:33] jayanthvn commented on #1524
Ahh I see :)

[2021-07-05 13:41] akyhcs commented on #890
I am also facing same issue i updated my node pool and I got this error

[2021-07-06 13:58] stevehipwell commented on #1517
The official Calico Helm operator chart is due to be published [this month](https://github.com/projectcalico/calico/issues/4514#issuecomment-859649993) so shouldn't EKS use this?

[2021-07-06 14:52] nithu0115 commented on #1518
@yangxintian, +1 and thanks for bringing it up to our notice. Now that EKS does not support 1.12 - 1.14 Kubernetes versions, we can safely remove these beta labels. We will work on removing these labels.

[2021-07-06 18:12] jayanthvn commented on #1519
Hi apryiomka,

Are you still seeing this issue?

[2021-07-06 18:16] jayanthvn commented on #1514
Hey @masterzen

Thanks for conforming. Please feel free to reopen the issue if you still need any help.

[2021-07-06 18:16] #1514 closed

[2021-07-08 06:50] apryiomka commented on #1519
@jayanthvn , we did apply the change in both stage and prod cluster. The issue seems to be addressed and now both main and secondary CNI pods can be reached via ClassicLink

[2021-07-08 07:09] njuettner commented on #1523
@jayanthvn this sounds super cool, it would be great if you can make it possible 👍🏻

[2021-07-08 07:58] stevehipwell commented on #1074
This should be easy enough to fix with an empty schema for ENIConfig v1alpha1 and then maybe an updated ENIConfig version with a typed schema in the future. I've add a https://github.com/aws/amazon-vpc-cni-k8s/pull/1390#issuecomment-876220253 to the PR with the simple addition required.

[2021-07-08 12:05] ZF-fredericvanlinthoudt commented on #1437
@fawadkhaliq
Correct me if I'm wrong but I think this issue should get a higher priority.
Since this morning we saw this issue happening at 3 EKS clusters (v1.20) and for all it started around the same time (maybe due to some network problems in our region, I don't know but the 3 clusters are in 3 different AWS accounts so it is a coincidence it started around the same time).

What I've observed i

[2021-07-08 15:50] b225ccc commented on #1360
@shubydo we had this happen several times, but we were never able to find the root cause.  Our systems were experiencing high CPU load at the time these incidents were occurring.  We have that under better control now and we have not seen a reoccurrence of this issue.

[2021-07-08 16:05] stevehipwell opened #1528 "Support custom networking by subnet"
**What would you like to be added**:
Support for custom networking at the subnet level rather than at the zone level. Off the top of my head an env variable to use the primary ENI subnet ID as the selector for the ENIConfig instead of a label would solve this issue with minimal effort.

**Why is this needed**:
The AWS node labels don't support differentiating between public and private subnets des

[2021-07-08 17:30] jayanthvn commented on #1523
@njuettner - Thanks, will look into it and will try to get to this in couple weeks.

[2021-07-08 21:34] jayanthvn commented on #1519
Thanks for confirming @apryiomka. Please feel free to reach out for any questions.

[2021-07-08 21:34] #1519 closed

[2021-07-10 06:01] wtchangdm commented on #1078
@Minutis

kubernetes/kubernetes#61486 (comment)

I guess this wouldn't work with EKS's managed addon? We ran into an issue that our coredns configmap was being overwritten constantly. Asked a support and he said managed addon will reconcile every 15 minutes. Since kube-proxy is another managed addon, looks like we will have to wait until https://github.com/aws/containers-roadmap/issues/1415 is don

[2021-07-11 17:17] wtchangdm commented on #1078
For the hostname issue, I modified self-managed workers' launch template userdata with a dirty hack:

[code]

then

[code]

kube-proxy stoped complaining about `Failed to retrieve node info: nodes "ip-10-1-2-3" not found`. And CNI won't crash for the first time because of probe failure by the error that OP provided.

Before this change, a worker node waiting for CNI to be ready will be stuck at No

[2021-07-11 17:46] jayanthvn commented on #389
As part of #1520 we can update the documentation.

[2021-07-13 09:59] Buffer0x7cd commented on #1447
@jayanthvn yes i can see the node.k8s.amazonaws.com/createdAt at tag present

[2021-07-13 14:52] SachinKSingh28 commented on #1360
I have the similar problem where loopback interface goes down on nodes occasionally and the build agent provisioned on this particular node times out connecting to kube proxy on the node on loopback interface. Only after bringing up the loopback interface, the build agents start to work again.

I have not been able to find any resource utilisation issues on the nodes when loopback interface goes d

[2021-07-13 18:08] jayanthvn commented on #1528
Hi @stevehipwell

Would like to understand the use case more here. Subnets are associated with AZs and in the ENIConfig we have to manually select the subnet IDs which would be used for the nodes. I understand it is a more manual work but we could effectively just specify the public or private subnet ID based on the usage. Please let me know if my understanding is correct?

[2021-07-13 18:21] jayanthvn commented on #1525
Hi @johnthedev97

Can you please share kustomize version? This might be related to https://github.com/kubernetes-sigs/kustomize/issues/2538

[2021-07-13 20:26] stevehipwell commented on #1528
@jayanthvn if we work from the first principal that any manual steps automatically makes the solution invalid for IaC; and IaC is a must here

The most granular label on a node is the zone, but a zone can contain multiple subnets, and in the recommended AWS pattern contains both a public and private subnet. A secondary subnet should map to a primary subnet, so we have multiple secondary subnets in

[2021-07-14 07:21] cp38510 commented on #1338
Hello!
with amazon-k8s-cni:v1.7.5-eksbuild.1 we have had a similar error 2 times already, but we don't use managed nodes.

has anyone tried the amazon-k8s-cni update?

logs:
[code]

describe:
[code]

[2021-07-15 08:32] primeroz opened #1531 "Calico networkpolicy enforcement does not allow Terminating pods to gracefully shut down when using non calico cni"
**What happened**:
There is a known bug in calico used in the tigera-operator manifest for 1.7 and 1.8 - see https://github.com/projectcalico/calico/issues/4518

The bug causes the firewall to be removed as soon as a pod enter the termination state breaking the networking for the pod and preventing it from being able to do a graceful shutdown

The bug is not present in version 3.15.5 of calico - T

[2021-07-15 15:06] skydacremam opened #1532 "SG update does not update Pod SG rules"
**What happened**:
Using EKS security groups for Pod I notice that if I change inbound rules on SG these are not updated on the pod side and the pod remains unreachable. I need to provision a new pod.

**Attach logs**
Not able to provide logs

**What you expected to happen**:
I expect that rules are synced with pod SecurityGroupPolicy
**How to reproduce it (as minimally and precisely as possible)*

[2021-07-15 17:15] jayanthvn commented on #1531
Hi @primeroz

Thanks for letting us know. We will keep a watch and update the tigera-operator when it is released.

[2021-07-15 17:54] haouc commented on #1532
Hey @skydacremam, thanks for reporting this issue. I will try to reproduce it in my cluster and update with you soon.

[2021-07-17 21:39] fawadkhaliq commented on #1437
@ZF-fredericvanlinthoudt ++, the fix should be out soon

(sorry for the delayed response, was OOTO)

[2021-07-19 10:05] johnthedev97 commented on #1525
Hi @jayanthvn

I couldn't figure how to find it, but here it is the kubectl version details
[code]

[2021-07-20 09:06] ggaaooppeenngg opened #1535 "request traffic shaping support by using cni bandwidth plugin"
**What happened**:

CNI has a bandwidth plugin. By adding the config below in 10-aws.conflist, it may work.
[code]

**Environment**:
- Kubernetes version (use `kubectl version`): v1.15
- CNI Version 0.3.1
- OS (e.g: `cat /etc/os-release`): Amazon Linux 2
- Kernel (e.g. `uname -a`): 4.14.173-137.229.amzn2.x86_64

[2021-07-20 18:22] achevuru commented on #1528
@stevehipwell  Primary ENI is excluded in Custom networking mode. Can you elaborate on what you mean by `A secondary subnet should map to a primary subnet, so we have multiple secondary subnets in a zone`?

[2021-07-20 18:25] achevuru commented on #1525
@johnthedev97 We were able to reproduce it as well. We will look in to it and provide an update.

[2021-07-20 18:40] stevehipwell commented on #1528
@achevuru the ENI is present so the node can communicate withe the rest of the VPC and is where the IPs come from for host network. This ENI can be looked up from metadata and provide the subnet ID that it's attached to. If the subnet ID can be used to select ENIConfig we've solved the issue of dynamic lookup.

[2021-07-20 20:33] abhipth commented on #1532
Hi @skydacremam

I was unable to reproduce the issue. I have attached my test results below for reference. Since the traffic to/from the Pod flows through the ENI always, it will be subjected to the current rules of the Security Group. Once the new SG rules are applied on the ENI, any incoming traffic to the existing Pod should be subjected to the new SG rules.

You can also confirm the same by do

[2021-07-21 12:25] pcolazurdo opened #1537 "Document WARM_ENI_TARGET , WARM_IP_TARGET and MINIMUM_IP_TARGET behaviour when using Security Group for Pods"
**What happened**:

Having a cluster that is mostly using Pods with Security Groups it seemed like a waste of IPs to have a WARM_ENI_TARGET=1 as the number of standard pods is very low and stable (kube-system related mostly) so when trying to understand how these settings would work together it became very hard to understand their interrelationship.

I've found that the number of assigned IPs in t

[2021-07-21 23:59] katherinel commented on #1338
@cp38510 Exact same problem here. Unmanaged EKS 1.17 with amazon-k8s-cni:v1.7.9

[2021-07-22 11:38] Legion2 commented on #1425
We upgraded our cluster from 1.19 to 1.20 and upgraded the unmanaged vpc-cni addon to vpc-cni 1.8.0 managed EKS Addon. Now we also experience this Issue. Somethime the containers also gets killed by its failing health and readiness probes.
[code]
The node is a `m5.large` and it hosts 29 (of 29 possible) Pods. At the time of the last crash the node had a memory usage of 63.3% (332 MiB free memory).

[2021-07-23 00:29] jayanthvn commented on #1537
Hi @pcolazurdo

You can also set WARM_IP_TARGET to a very low number if you have entire workload using pods with security groups instead of WARM_ENI_TARGET. Currently this https://github.com/aws/amazon-vpc-cni-k8s/blob/master/docs/eni-and-ip-target.md explains the number of IPs allocated with warm target combinations.

[2021-07-23 00:39] jayanthvn commented on #1535
Hi,

Currently this is blocked on containerd/cri#1544. I will look into this in couple weeks and update here - https://github.com/aws/amazon-vpc-cni-k8s/issues/1172.

Thank you.

[2021-07-23 00:39] #1535 closed

[2021-07-23 08:04] pcolazurdo commented on #1537
I agree, the challenge I've found that it took me a long time to understand that Branch ENIs ip-allocation (the ones used for Pods with Security Groups) isn't handled by the vpc-cni, so taking a decision about the number of IPs when the workload is mostly based on this type of Pods was difficult. Also, I don't know if there are plans to move these allocations to the CNI in the future, so I would l

[2021-07-23 14:32] Legion2 commented on #1425
The strange thing is, that the health probes fail without a reason message after `... probe failed:`

[2021-07-23 14:56] iomarcovalente commented on #924
this has just happened to me as well:
```Failed to pull image "602401143452.dkr.ecr.eu-west-1.amazonaws.com/amazon-k8s-cni:v1.7.8": rpc error: code = Unknown desc = Get https://602401143452.dkr.ecr.eu-west-1.amazonaws.com/v2/amazon-k8s-cni/manifests/sha256:b5f170ae39d950f1d14df495486f9b58a35da07cab5e561bce9aa85c8be0bc71: dial tcp 63.32.243.33:443: i/o timeout```
One node out of 20 just reported th

[2021-07-24 04:40] alter3d opened #1547 "Enable use of EC2 IP prefixes"
A recent annoucement by AWS (https://aws.amazon.com/about-aws/whats-new/2021/07/amazon-virtual-private-cloud-vpc-customers-can-assign-ip-prefixes-ec2-instances/) describes the ability to assign prefixes to an EC2 instance for higher IP-per-host density.

The CNI driver should implement this feature by supporting a configurable subnet-size-per-interface and being able to search the VPC for free blo

[2021-07-24 12:29] morganchristiansson commented on #1547
Looks like it will be included in v1.9.0 https://github.com/aws/amazon-vpc-cni-k8s#enable_prefix_delegation-v190

[2021-07-25 03:33] alter3d commented on #1547
@morganchristiansson Good find, and great news!  I don't see an option to tweak the prefix size -- just a fixed /28 -- which would be a nice additional feature enhancement.

[2021-07-25 05:23] achevuru commented on #1547
@alter3d Current support is only for /28 prefixes (v4), so this is not VPC CNI limitation.

https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-prefix-eni.html#ec2-prefix-basics

[2021-07-25 06:36] alter3d commented on #1547
@achevuru Understood -- closing this issue as it looks like it's fully implemented until the VPC/EC2 team support different prefix sizes.  Thanks!

[2021-07-25 06:36] #1547 closed

[2021-07-26 06:15] Niksko opened #1548 "Document setting -1 for warm and minimum ip targets"
**What would you like to be added**:

Documentation on the fact that setting `WARM_IP_TARGET` or `MINIMUM_IP_TARGET` to `-1` (or indeed, any non-positive value) is the same as not setting these values.

**Why is this needed**:

Through shortcomings in the configuration management tool we're using, it's much easier for us to set these env variables to -1 in some environments, and set to them positi

[2021-07-26 11:46] janbeerden commented on #663
Seems related to [1287](https://github.com/aws/amazon-vpc-cni-k8s/issues/1287). Any updates?

[2021-07-26 13:46] mickael-ange commented on #1425
For a month, after upgrading 4 of our EKS clusters from 1.17 to 1.20 and moving to aws-managed EKS node groups, we see appearing Readiness and Liveness failures for `aws-node` DaemonSet pods after we deploy/update our application deployments running in another namespace.
In the new cluster, I use the default addon, I have not upgraded them.

[code]

I also think it is strange to not have the reaso

[2021-07-26 14:47] Legion2 commented on #1425
I changed the `timeoutSeconds` of the `aws-node` livenessProbe to 5s. Since then (2 days) the pods did not restarted but the probes failed sometimes.

I also found that, all previous container restarts can be related to very high CPU utilization of the node (100%) over 30 seconds duration or longer. This is enough time for three health probe timeouts which trigger a container restart.

I think bec

[2021-07-26 18:34] sarbajitdutta commented on #1322
I have similar issue Readiness probe is failing for one of the pods - I removed the readiess probe from manifest -
[code]

[2021-07-26 19:17] jayanthvn commented on #1322
Hi @sarbajitdutta

Wanted to understand more on this, so you scaled up the nodes and one of the `aws-node` pod is failing? Is possible to email me (varavaj@amazon.com) the ipamd logs from that node?

[2021-07-26 22:53] grosser opened #1554 "initcontainer should have requests/limits"
**What would you like to be added**:
https://github.com/aws/amazon-vpc-cni-k8s/blob/master/config/master/aws-k8s-cni.yaml#L199
needs requests/limits

this has worked well for us:
[code]

**Why is this needed**:
unlimited containers are can cause issues / are blocked by our cluster policies

[2021-07-26 23:00] grosser opened #1555 "node permission verbs needs "patch""
deployed v1.8 and got this error:
[code]

so patch need to be added here https://github.com/aws/amazon-vpc-cni-k8s/blob/master/config/master/aws-k8s-cni.yaml#L41-L45

[2021-07-27 01:13] jayanthvn commented on #1555
Hi @grosser

Was this working before and now with 1.8 you are seeing the error? We never had "patch" for node resource since aws-node doesn't patch the node.

[2021-07-27 01:15] jayanthvn commented on #1554
Init container is a short lived pod hence I assume this was not added by default.

[2021-07-27 02:02] grosser commented on #1555
I think we had this fix for along time, I just made backfill issue now so it's tracked.

[2021-07-27 02:03] grosser commented on #1555
could it be coming from the initcontainer ?

[2021-07-27 02:03] grosser commented on #1555
this looks like the culprit https://github.com/aws/amazon-vpc-cni-k8s/blob/2446813b6244f4492cc91a87a8c127e1cd6f1cc5/test/framework/resources/k8s/resources/node.go#L60-L62

[2021-07-27 02:04] grosser commented on #1555
hmmm no, that's in test framework :/

[2021-07-27 02:05] grosser commented on #1555
can't find anything in the code ... any idea how I could track this down ?

[2021-07-27 02:06] grosser commented on #1554
anything against adding it ?
... I can make the PR

[2021-07-27 02:11] grosser opened #1556 "Set preStop hook to prevent failures during node shutdown"
example errors:
[code]

happen because cni shuts down quickly while other pods are still doing things on the node that is shutting down

we set
[code]
and
[code]
to fix these, but ideally that would be upstream (or at lest documented somewhere) or we'd find some other solution for this

[2021-07-27 02:11] grosser commented on #1555
... ok, nvm ... we run a custom script as part of cni startup 🤦

[2021-07-27 02:11] #1555 closed

[2021-07-27 04:59] jayanthvn commented on #1556
Hi @grosser

Just trying to understand the use case here, Is there any reason you would want the aws-node pod to wait for all the pods to finish their tasks? ENIs and associated IPs will be released even if the aws-node pod is deleted since the node is getting terminated and the ENIs are marked as delete on termination.

[2021-07-27 05:25] jayanthvn commented on #331
New helper script is added for CNI v1.9.0 onwards - https://github.com/awslabs/amazon-eks-ami/blob/master/files/max-pods-calculator.sh to help compute the max pods. This takes into consideration CNI version, custom networking, max eni and prefix delegation is configured. Also with MNG this script will be triggered on AMI startup to configure kubelet maxPods.

[2021-07-27 05:25] #331 closed

[2021-07-27 11:16] larhauga opened #1557 "Clarification on pod density with Security Groups for Pods with new ENABLE_PREFIX_DELEGATION"
Hi,
we are running EKS clusters where most deployments have different SecurityGroups + SGPs.

With the release of 1.9.0 with `ENABLE_PREFIX_DELEGATION` to enable higher pod density, we are wondering if this would be the case also when `ENABLE_POD_ENI` is configured to true.

If this is not the case, is there any upcoming features that would increase the pod density for SGFPs?

I could not find any

[2021-07-27 16:33] jayanthvn commented on #1557
Hi @larhauga

The feature doesn't increase the pod density of branch pods since we are limited by the number of branch network interfaces - https://docs.aws.amazon.com/eks/latest/userguide/security-groups-for-pods.html#supported-instance-types. ASFAIK there is no upcoming feature for increasing pod density for SGPP pods but would double check and let you know if there is any plans. I will also upd

[2021-07-27 16:37] jayanthvn commented on #1554
Happy to take PR :)

Also we think setting 200m/128Mi for limits might be high for a init container. Maybe 50m/64Mi is sufficient?

[2021-07-27 16:39] jayanthvn commented on #1548
Sure, I can update the documentation on the default behavior.

[2021-07-27 16:43] jayanthvn commented on #1537
Sure, I can add a note in readme on this. There is no plans to move these allocations to IPAMD in future.

[2021-07-27 16:49] grosser commented on #1556
The problem was that we saw lots of errors in logs from cni being deleted before everything else got deleted.
All pods will die eventually, but ideally they'd do so without triggering errors which then spam our logs / trigger our alerting / might cause real issues in the pods still hanging around.

[2021-07-27 18:23] kishorj commented on #1548
If prefix delegation is enabled, setting the env variables to -1 would interfere with the engtrypoint.sh validation. https://github.com/aws/amazon-vpc-cni-k8s/blob/968ae01a1edffa5531a2752fc89fbce778b54fce/scripts/entrypoint.sh#L40

We will have to fix the validation script as well for the PD feature.

[2021-07-27 18:35] haouc commented on #1556
Hey @grosser, would you mind to share more information how you terminate the nodes? By knowing exactly how you encountered this issue, we can try to reproduce on our side. Thanks.

[2021-07-27 19:40] grosser commented on #1556
we drain them as we get the autoscale-down signal (leaving daemonset pods behind) and then let aws run shutdown
I assume the issue is that the remaining daemonset pods or whatever is still on there after the drain timeout causes the issue

[2021-07-27 22:01] skkumsi opened #1558 "Improve logging for IPAMD when it is unable to reach the ec2 endpoint to get the ENI info by executing the DescribeNetworkInterfaces API call."
**What would you like to be added**:

Improve logging for IPAMD when it is unable to communicate with AWS EC2 Service endpoint. According to the current behavior, the plugin just stops logging further or it continues to start up the initialization process until it successfully starts up. This behavior is observed with both 1.7.10 and 1.8.0 versions of AWS VPC CNI Plugin.

**Why is this needed**:

[2021-07-27 22:26] grosser commented on #1554
I was unable to get metrics out due to it running so quickly
tried 50m/64Mi and it worked
https://github.com/aws/amazon-vpc-cni-k8s/pull/1559

[2021-07-28 16:00] jayanthvn commented on #1548
@kishorj yeah that's right but we won't be able to support that with prefix delegation. Since it is a cluster wide config I feel better to unset the variable for no-op.

[2021-07-29 02:08] Niksko commented on #1548
@kishorj @jayanthvn would it be possible to update those scripts to check for <= 0 instead of == 0? That would maintain the existing behavior.

[2021-07-29 12:03] mhulscher commented on #1078
We are sometimes running into a race-condition where aws-node is started before kube-proxy. Without kube-proxy, kubernetes.default.svc.cluster.local is not available. aws-node will fail to start and the container is not automatically restarted. To mitigate this, we added the following initContainer to aws-node:

[code]

[2021-07-29 17:03] sarbajitdutta commented on #1322
@jayanthvn When I did an instance refresh the error went away. I will send you the logs if the issue props up again.

The cluster autoscaler was causing problems due to OOM.

[2021-07-29 20:58] haouc commented on #1405
Hey @adammw, this has been open for a while and want to follow up if you still have any concern on this? Or you are planning to send a CR soon? Thanks.

[2021-07-29 21:35] adammw commented on #1405
the original error seems to be fixed since the error was reported, as the code now checks the `err` variable before reusing it elswhere.

https://github.com/aws/amazon-vpc-cni-k8s/blob/ea4de0e89e5b08cda8ab5fa8dfa32cec54b7d7aa/pkg/ipamd/rpc_handler.go#L141-L145

will close this issue.

[2021-07-29 21:35] #1405 closed

[2021-07-30 00:51] kumarpmd commented on #1524
@achevuru Thank you.  it was the quotes.  Issue resolved once the quotes were handled.  You were right, the kubectl was executed directly using a local-exec resolving from vars.  However, I do agree with @jayanthvn in that a single liner in the documentation would have saved time troubleshooting.  Thank you both..

[2021-07-30 14:06] vissree commented on #1277
Hi @jayanthvn,

Created  a PR for this change.

I haven't updated the awsutils package and added the event part in the ipamd package instead so that the IPAMContext doesn't need to be passed to the awsutils package and keep the imports also clean. Could you please review the PR and let me know your comments?

[2021-08-01 16:29] amitkatyal commented on #1525
https://github.com/aws/eks-charts/issues/315

[2021-08-01 18:21] amitkatyal opened #1564 "[Query] Why does EKS cluster is not created with the recommended version of aws-vpc-cni plugin?"
I deployed the EKS cluster with k8s version 1.21 but the default AWS-VPC-CNI-PLUGIN version is 1.7.5.
Any specific reason of why the EKS cluster is not created with the recommended version of the AWS-VPC-CNI?

In order to migrate to the latest version (1.9), just adapting the existing aws-node to the AWS-VPC-CNI helm chart release should be good enough?

[2021-08-02 14:51] jayanthvn commented on #1564
Hi,

Yes the EKS default is currently 1.7.5. Generally once most of the bugs are fixed and have few enhancements/optimizations then we update the default version. Currently we are looking into updating the EKS default.

Yes to upgrade to 1.9 you can use helm or

[2021-08-02 15:34] amitkatyal commented on #1564
@jayanthvn, Thanks for the quick reply!

[2021-08-02 15:48] jayanthvn commented on #1564
No problem. Please do reach out for any questions.

[2021-08-02 15:48] #1564 closed

[2021-08-02 17:26] jayanthvn commented on #1558
@skkumsi

Thanks for the detailed analysis. I will look into this but also happy to take PRs :)

[2021-08-02 17:32] jayanthvn commented on #1554
Cool thanks for trying it out :)

[2021-08-02 17:54] jayanthvn commented on #1548
@Niksko we will have to add the check (<=0) in entry point script to make it consistent with IPAMD. The only way is to unset the variables if they are not being used. The reason for not supporting 0 for these environment variables is they will impact pod launch times when IPs or ENIs are to be allocated. So if a pod is scheduled and IPs are not available then the pod will be stuck in container cre

[2021-08-02 18:35] jayanthvn commented on #1491
This https://github.com/aws/amazon-vpc-cni-k8s/pull/1271 will fix the issue. We will be taking it up in 1.8.1 onwards. This couldn't be done with the latest release due to pending documentation update for new labels added thru helm charts.

[2021-08-02 18:35] #1491 closed

[2021-08-02 19:05] jayanthvn commented on #1554
PR is merged.

[2021-08-02 19:05] #1554 closed

[2021-08-02 21:20] jayanthvn commented on #817
Closing the issue for now, will wait for PR to address the comments.

[2021-08-02 21:20] #817 closed

[2021-08-02 23:22] jayanthvn commented on #1411
Hi @uthark

Closing the issue for now, please do reach out if you are still having the issue. I did try to repro couple time and issue is not seen.

[2021-08-02 23:22] #1411 closed

[2021-08-02 23:26] #1346 closed

[2021-08-02 23:29] jayanthvn commented on #1349
We will keep track of the zaplogger infra bug and update the permissions once we have the support. Please feel free to reach out.

[2021-08-02 23:29] #1349 closed

[2021-08-02 23:35] jayanthvn commented on #1385
Kubeproxy expects to find a node matching its hostname during startup and falls back to localhost eventually. During this time, AWS-node will crash loop until kubeproxy starts successfully and becomes available. Kube-proxy daemonset should be patched as described here: https://gist.github.com/M00nF1sh/84d380b4e08017a5bc958658f7010914 if the node's hostname doesn't match the Kubernetes node name. W

[2021-08-02 23:35] #1385 closed

[2021-08-03 09:49] Shaiou commented on #1557
Hello,

  We are also using EKS with security group for pods enable and were wondering which value to set among all the 'WARM_*" documented here https://github.com/aws/amazon-vpc-cni-k8s/blob/master/docs/prefix-and-ip-target.md would be beneficial/detrimental to us. Could you shed some light for us please ?

[2021-08-03 14:48] dougbtv opened #1566 "Disk may fill up quickly with Multus debug logging."
Just a quick report that I noticed this in the Multus configuration yaml: https://github.com/aws/amazon-vpc-cni-k8s/blob/master/config/multus/v3.7.2-eksbuild.1/aws-k8s-multus.yaml#L196-L197

Which I found from reading this article: https://aws.amazon.com/blogs/containers/amazon-eks-now-supports-multus-cni/

Just a note that debug level logging is rather chatty, and could quickly fill up disks at s

[2021-08-03 15:00] s1061123 commented on #1566
Hi aws folks, I and @dougbtv, are main committer of Multus-CNI in Kubernetes Networking Plumbing working group (NPWG).

As Doug mentioned, `--multus-log-level=debug` is mainly for development or troubleshooting because it generates a very long debug output. Hence we strongly recommend to change `debug` to `error` or `verbose`.

[2021-08-03 15:02] s1061123 commented on #1566
Hi aws folks (@cgchinmay), I and @dougbtv, are main committer of Multus-CNI in Kubernetes Networking Plumbing working group (NPWG).

As Doug mentioned, --multus-log-level=debug is mainly for development or troubleshooting because it generates a very long debug output. Hence we strongly recommend to change debug to error or verbose.

[2021-08-03 16:29] cgchinmay commented on #1566
I will updated it to verbose. Thanks for pointing it out

[2021-08-03 16:35] jayanthvn commented on #1557
Hi @Shaiou

Yes with the PR #1565 , I will update the documentation. None of the WARM targets will impact pods with SGPP enabled. For example, a c5.4xlarge can continue to have up to 234 secondary IP addresses assigned to standard network interfaces and up to 54 branch network interfaces. Each branch network interface (ENI) only receives a single primary IP address and this address will be allocat

[2021-08-03 17:21] jayanthvn commented on #1557
Merged #1565

[2021-08-03 17:21] #1557 closed

[2021-08-03 17:22] jayanthvn commented on #1537
Merged #1565

[2021-08-03 17:22] #1537 closed

[2021-08-03 17:22] jayanthvn commented on #995
Merged #1565

[2021-08-03 17:22] #995 closed

[2021-08-03 17:22] jayanthvn commented on #619
Merged #1565

[2021-08-03 17:22] #619 closed

[2021-08-03 17:36] Shaiou commented on #1557
Thanks a lot @jayanthvn , it's much clearer indeed. Is there any planned evolution to have an equivalent improvement for SGPP like for instance reserving a subset of IPs for the host itself and attributing them to the branch ENIs as they come along. We kind of feel lef out of this nice improvement ;)

[2021-08-03 17:51] abhipth commented on #1557
Hi @Shaiou we have a roadmap item for tracking this - https://github.com/aws/containers-roadmap/issues/1342

[2021-08-03 17:59] jayanthvn commented on #1566
#1567 merged.

[2021-08-03 17:59] #1566 closed

[2021-08-03 19:08] jayanthvn commented on #1528
With the current implementation we can set `ENI_CONFIG_ANNOTATION_DEF` with `k8s.amazonaws.com/eniConfig` and annotate the node -

[code]
Ref: https://docs.aws.amazon.com/eks/latest/userguide/cni-custom-network.html

But yes we agree this won't solve the issue of differentiating public/private subnet ID and there is room for automation here and we will look into it.

[2021-08-03 19:23] #1548 closed

[2021-08-03 20:06] jayanthvn commented on #1558
We do have a warning logged if the function errors out - https://github.com/aws/amazon-vpc-cni-k8s/blob/dba11f45b747350cda623b08c6510876e2fb3f59/pkg/awsutils/awsutils.go#L1458. Will have to repro this locally.

[2021-08-03 20:32] stevehipwell commented on #1528
@jayanthvn manual solutions using `kubectl` aren't fit for purpose in a world of IaC. I already have a working solution on the standard AMI and have a solution now for Bottlerocket; but both are hacky and leave me wanting native support. The recommended AWS VPC has multiple subnets per region so it's not like this is an edge case. Using the ID of the subnet on the node primary ENI as the key for t

[2021-08-03 22:44] haouc commented on #1556
Hey @grosser, do you have any flag added when drain nodes? Such as `--ignore-daemonsets` or `--force` (https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#drain).

Also you mentioned

Do you mean the failing pod ("foo") is daemonset managed? We are expecting daemonset managed pods being reserved till nodes are terminated. Thanks.

[2021-08-03 22:50] grosser commented on #1556
yes, we use `--ignore-daemonsets` and `--force` to drain the nodes, the issue comes when aws does the node-shutdown though and there we don't control the draining / kubelet & docker just get stopped by systemd

[2021-08-03 23:03] Shreya027 commented on #1313
/assign Shreya027

[2021-08-04 21:09] jayanthvn commented on #1127
This is a very corner case, I will re-evaluate this once we remove the cri read.

[2021-08-04 21:09] #1127 closed

[2021-08-04 21:13] jayanthvn commented on #1087
Hi,

Closing this issue for now. Please try the latest AMI and feel free to reach out if the issue still exists.

[2021-08-04 21:13] #1087 closed

[2021-08-04 21:31] jayanthvn commented on #1387
Closing the issue, please let us know if you need any help.

[2021-08-04 21:31] #1387 closed

[2021-08-04 21:33] jayanthvn commented on #1340
Release 1.8 has the fix from IPAMD. Internally we are tracking issue on the EC2 side.

[2021-08-04 21:33] #1340 closed

[2021-08-04 21:52] jayanthvn commented on #1447
Thanks for checking @Buffer0x7cd. So looks like createENI is fine but if attachENI failed we would have deleted the ENI - https://github.com/aws/amazon-vpc-cni-k8s/blob/9db2ae62ecd0cb56f7fc20b80427fa6ff4e17a42/pkg/awsutils/awsutils.go#L612-L614. If you can open a support case, then we can check EC2 logs to confirm why attachENI failed.

[2021-08-05 07:26] njuettner commented on #1523
@jayanthvn 👋🏻  did you already had some time looking into it?

[2021-08-05 09:14] chlunde opened #1569 "Increase pod density for security groups for pods by sharing eni"
**What would you like to be added**:
When multiple pods have the same set of security groups and run on the same node, I think they could share the same ENI to improve density.

**Why is this needed**:
For our workloads, pod density is limited by ENIs when using security groups for pods. This example with one a one node cluster shows that one ENI is allocated per pod even if they have the same pol

[2021-08-05 09:51] chlunde commented on #1569
Duplicate of https://github.com/aws/containers-roadmap/issues/1342

[2021-08-05 09:51] #1569 closed

[2021-08-05 16:17] jayanthvn commented on #1523
@njuettner Sorry was on vacation last week, will discuss this internally within the team and provide an update.

[2021-08-06 20:37] #1517 closed

[2021-08-06 20:37] jayanthvn commented on #1517
#1541 is merged and we picked official calico charts to this repo.

[2021-08-06 21:12] jayanthvn commented on #1429
Created an issue in Tigera operator repo to track this issue - https://github.com/tigera/operator/issues/1438

[2021-08-06 21:12] #1429 closed

[2021-08-08 23:14] nithu0115 opened #1570 "Fail CNI starts if it cannot have honor default environment variable"
**What happened**:
I am using custom CNI networking with MINIMUM_IP_TARGET=6 and WARM_IP_TARGET=1. When a new instance is added to the cluster, and if there are no IP address in the subnets which is passed in ENIconfig, the CNI started fine and node goes to READY state causing any new Pods to fail with `failed to assign an IP address to container`.

**Attach logs**

**What you expected to happen**

[2021-08-09 09:03] rubroboletus commented on #1531
Tigera operator v1.20.0 for calico 3.20.0 was released few days ago. Mentioned bug should be fixed there.

[2021-08-09 09:35] primeroz commented on #1531
Thanks, i ll be testing that out shortly

[2021-08-09 13:11] jackivanov opened #1571 "Enable prefixes delegation by default"
Prefix delegations is enabled since v1.9.0, but not by default.

**What would you like to be added**:
`ENABLE_PREFIX_DELEGATION=true` by default if > 1.9.0 add-on is installed

**Why is this needed**:
We want to enable this feature to deploy more pods per node, but at the moment it's not possible to automate the proccess on EKS
- EKS pre-installs 1.7.0 add-on by default for Kubernetes 1.21
- 1.9.0

[2021-08-09 18:34] jayanthvn commented on #1571
Hi @jackivanov

Prefix delegation is a very new feature from EC2 and VPC CNI so we would generally wait for production mileage before enabling it by default on all new clusters. Hence we have added the environment variable to enable it on need basis but we have plans in future to have it enabled by default.

Thanks.

[2021-08-09 18:37] jayanthvn commented on #1570
@nithu0115 - We can check this on nodeInit but the problem is inconsistent behavior with IPAMD i.e, when IPs are actually exhausted and ENIs cannot be attached we will have a warning during scaling but during nodeInit we will fail aws-node. Also MINIMUM_IP_TARGET is checked during reconciliation so that datastore is not lower than the target. Hence it will add more condition checks in IPAMD for a

[2021-08-10 09:07] jackivanov commented on #1571
@jayanthvn Thanks for the info! Can you recommend a way how we can automatically customize the add-on during EKS cluster creation? Like said in the description, automated customization is painful, and there's always a conflict between existing resources and one that the operators deploy (for instance aws/eks-charts/issues/57)

[2021-08-10 10:09] morganchristiansson commented on #1571
There is open issue for EKS CNI addon to allow configuration values aws/containers-roadmap#1333

Since the EKS CNI addon doesn't support any configuration I am using the helm chart https://github.com/aws/eks-charts/tree/master/stable/aws-vpc-cni

[2021-08-11 10:48] ngocketit commented on #1278
If you're using VPC endpoints with nodes in private subnets, make sure the endpoint security groups are set up correctly

[2021-08-11 20:35] therc opened #1572 "Health checks fail, phantom ENI in logs"
**What happened**:
One r5.4xlarge machine, with 15 existing IP addresses, has three containers in ContainerCreating state for almost a day now.

Looking at ipamd logs, this stands out:
[code]

I thought this might be due to stale metadata, but the problem persists even after updating to 1.9.0, which is supposed to carry some partial fixes.

An additional question: why a second ENI? Isn't the machi

[2021-08-11 20:36] therc commented on #1572
Setting WARM_ENI_TARGET to 0, until we start using the new options to reserve prefixes, seems to make the problem go away for now.

[2021-08-16 01:54] amitkatyal opened #1573 "How to integrate calico network policy engine with aws vpc cni plugin?"
We have a requirement to integrate the calico network policy engine along with the vpc cni plugin to support the k8s network policies and have done the same by installing calico operator and CRS via the k8s manifests (https://raw.githubusercontent.com/aws/amazon-vpc-cni-k8s/master/config/v1.9/calico-operator.yaml & https://raw.githubusercontent.com/aws/amazon-vpc-cni-k8s/master/config/v1.9/calico-

[2021-08-16 07:27] globus68 commented on #1573
We upgraded to VPC-CNI v1.9.0-eksbuild.1 last week, and were happy with the increased pod density. However finding out the addon did not support network policies, we are also wondering how we can use Calico (for network policy support) together with the new plugin to still support increased pod density. If this _is_ still possible, please lead us in the right direction, this is a little bit of "gr

[2021-08-16 08:09] amitkatyal commented on #1573
@globus68 Did you try installing the Calico network policy engine along with VPC CNI plugin 1.9 as per the AWS documentation?

https://docs.aws.amazon.com/eks/latest/userguide/calico.html

[2021-08-16 10:23] globus68 commented on #1573
@amitkatyal Yes, I have installed it according to the documentation. However, using t3.small instances the pre-v9 version of the plugin gave 11 pods available. After installing the v9 plugin we got 110 available pods, which is very good. But when installing Calico on top of that, it seems we have returned to 11 available pods. I base this on having two instances; after installing Calico we had 22

[2021-08-16 14:30] amitkatyal commented on #1573
@globus68 Thanks for the detailed reply!

[2021-08-17 12:46] sarbajitdutta commented on #1425
@jayanthvn We have the same issue. We updated from 1.19 to 1.20 and also using CNI addons v1.8.0. aws-node keeps on restarting when cluster-autoscaler scaled up. I have tried to increase timeout for liveness probe but does not help.

[2021-08-17 15:54] jayanthvn commented on #1425
Sorry for the delayed response.

@Legion2 - Thanks for letting us know, I will look into it.

@sarbajitdutta - You mean on the new nodes the aws-node keeps restarting? Can you please share me the log lines from `/var/log/aws-routed-eni/ipamd.log` before a restart? Each restart will start with log line - "Starting L-..."

[2021-08-17 16:35] uthark opened #1575 "Add support for m6i instance type"
**What would you like to be added**:

Please add support for `m6i` instance type that was announced recently https://aws.amazon.com/blogs/aws/new-amazon-ec2-m6i-instances-powered-by-the-latest-generation-intel-xeon-scalable-processors/
https://github.com/aws/amazon-vpc-cni-k8s/blob/master/misc/eni-max-pods.txt doesn't list the new instance types.

**Why is this needed**:
To support new instance ty

[2021-08-17 18:02] jayanthvn commented on #1575
Thank you. Will update the eni-max-pods.

[2021-08-17 18:14] amitkatyal commented on #1573
@jayanthvn Any suggestion? Thanks!

[2021-08-17 18:18] jayanthvn commented on #1573
@amitkatyal - regarding the queries -

aws-calico doesn't install Calico CNI, we will still use AWS VPC CNI. You can use the manifest - (https://raw.githubusercontent.com/aws/amazon-vpc-cni-k8s/master/config/v1.9/calico-operator.yaml & https://raw.githubusercontent.com/aws/amazon-vpc-cni-k8s/master/config/v1.9/calico-crs.yaml) or we do have the helm chart now - https://github.com/aws/amazon-vpc-cn

[2021-08-17 18:21] jayanthvn commented on #1573
@globus68 - Installing calico network policy should not impact number of pods/IPs. So when you say pending pods, was the pod scheduled on the node and IPs weren't allocated? Also on one of the instances, can you please share me the maxPods you have configured?

[2021-08-17 19:02] amitkatyal commented on #1573
@jayanthvn Thanks a lot for your quick reply!
I Will try out the helm chart and wait for the feedback on the upgrade issue. Thanks.

[2021-08-17 19:25] amitkatyal commented on #1573
@jayanthvn I tried installing the calico helm charts but the installation failed with the below error. However, the installation works with the manifest.

It is failing due to - Readiness probe failed: calico/node is not ready: Felix is not ready: readiness probe reporting 503
Please note that I'm trying to install the helm charts with default values.

VPC CNI - I am using the latest AWS VPC CNI h

[2021-08-17 19:39] jayanthvn commented on #1573
thanks for checking @amitkatyal . Will check why calico node is failing maybe some dependency. Since we generate the manifest from the same charts and store it in master/config.

[2021-08-18 01:56] amitkatyal commented on #1573
@jayanthvn Thanks, will wait for your findings. Please let me know if you would want me to do any tests.

[2021-08-18 06:22] globus68 commented on #1573
@jayanthvn @amitkatyal Sorry, my bad! I did not do all the steps required in the installation of the plugin documented here: https://docs.aws.amazon.com/eks/latest/userguide/cni-increase-ip-addresses.html. I will do that and report back. Sorry, again, must improve my documentation reading skills...

[2021-08-18 07:08] njuettner commented on #1523
@jayanthvn Thank you 👍🏻

[2021-08-18 12:06] globus68 commented on #1573
@jayanthvn @amitkatyal I can confirm everything is working. The updated plugin and Calico (installed using yaml manifests from this Github) works like a charm. I have now currently 17 pods running on a t3.small instance, and I guess I can add even more. Thank you for the good work and sorry about my confusion

[2021-08-18 21:44] jayanthvn commented on #463
Bandwidth plugin support is merged to master. Regarding customizing the content of 10-aws.conflist we will look into.

[2021-08-18 21:44] #463 closed

[2021-08-18 21:44] #1172 closed

[2021-08-18 21:46] jayanthvn commented on #1253
Issue with bandwidth plugin chaining is fixed. You should be able to add linkerd as a chain and try it out. Please let us know if you see any issues.

[2021-08-18 21:46] #1253 closed

[2021-08-19 08:06] globus68 commented on #1573
@jayanthvn @amitkatyal An update: as mentioned, the combination addon v1.9/calico works, e.g having 17 pods on a t3.small instance, so far so good. However, applying AWS Load Balancer Controller v2.2.0 gives me "error: cannot resolve pod ENI for pods" in the load balancer's log when applying one of our applications to the cluster. This may seem to be reported in https://github.com/kubernetes-sigs/

[2021-08-19 10:25] mikkotimoharju commented on #1425
We are also encountering these random livenessProbe failures after upgrading to EKS 1.21. Increasing the timeout helps with the restarts. The reason why this has started to happen now is a bug fix in kubernetes 1.20 [KEP-1972: kubelet exec probe timeouts](https://github.com/kubernetes/enhancements/pull/1973). Previously the liveness and readiness probes did not respect the timeout for exec probes

[2021-08-19 11:00] abhipth commented on #1313
Since the detailed impact of the issue is not covered any place else. I will put all the info from my investigation in this thread.

IPAMD relies on the Pod Object from the API Server to get the Pod Annotation which has the IPv4 address and other details. These details are required to clean up the host networking. On setting the `terminationGracePeriodSeconds` to 0, the Pod will immediately be del

[2021-08-19 11:08] technotaff-nbs opened #1581 "Deprecated CustomResourceDefinition API in Deployment Charts"
**What happened**:
The following CRD's are using deprecated APIs that are due to be removed in kubernetes 1.22:

[eniconfigs.crd.k8s.amazonaws.com
](https://github.com/aws/amazon-vpc-cni-k8s/blob/492feb12850e2308ab89117793f17060a2ea0e08/config/master/aws-k8s-cni-cn.yaml#L54)securitygrouppolicies.vpcresources.k8s.aws

**What you expected to happen**:
These CustomResourceDefinition should be using [

[2021-08-19 13:51] wmorgan commented on #1253
Nice. Thanks @jayanthvn. @caleygoff-invitae I'd love to know if this now works for you.

[2021-08-19 15:12] ptzianos commented on #1433
@victoraldir I just saw this and wanted to ask if you have tried setting up an external OIDC provider such as AWS Cognito to have a centralized registry of your users.

[2021-08-19 15:56] amitkatyal commented on #1573
@jayanthvn, Any update on the calico helm charts? I think I forgot to mention that when I had deployed the calico helm chart, the tigera operator was not deployed.

[2021-08-19 17:08] jayanthvn commented on #1581
Hi @technotaff-nbs

There is an open PR to fix this - https://github.com/aws/amazon-vpc-cni-k8s/pull/1534

[2021-08-19 17:13] jayanthvn commented on #1425
Thanks @mikkotimoharju for sharing this. We will look into it on adjusting the timeouts.

[2021-08-19 17:21] jayanthvn commented on #1575
#1576 merged to master. We will pick it up in the next release.

[2021-08-19 17:21] #1575 closed

[2021-08-20 07:42] tscn commented on #1573
@amitkatyal We are experiencing the same issue with upgrading two-node EKS-clusters that use tigera-operator to manage Calico. We have reported this here (including our assumption how to solve it): https://github.com/tigera/operator/issues/1441
The helm chart with proportional autoscaler works for us but we are deploying Calico 3.17 at the moment.

[2021-08-20 10:22] amitkatyal commented on #1573
@tscn Thanks for the update!
For the upgrade issue, will wait for the update from the tigera.
Regarding the helm chart, I will check again and get back.

[2021-08-20 19:44] lucasarrudatrustly commented on #1384
any news about this issue? a solution less intrusive as edit all pods config? A interessant thing about this issue, I didn't had when using eksctl nodegroup, the issue showed up when changed from nodegroup to managed nodegroup.

[2021-08-21 05:55] tuapuikia commented on #924
Now the problem is wide spread. We are now required to perform docker login in order to pull the image.
[code]

[2021-08-23 03:47] LinuxAdmin1 opened #1584 "coredns-degraded when creating nodes"
**What happened**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- CNI Version
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):

[2021-08-24 18:21] jayanthvn commented on #1584
Hi @LinuxAdmin1

Are you seeing this message as coredns-degraded with managed add-on UI? Also can you please mention the steps to repro and any functional impact?

[2021-08-24 18:25] jayanthvn commented on #1573
We will look into helm install issue as part of this PR - https://github.com/aws/amazon-vpc-cni-k8s/pull/1578

[2021-08-24 18:34] jayanthvn commented on #1572
@therc

Based on the logs, you have 2 ENIs which was retrieved from IMDS and out of that one is a stale ENI. The other ENI which you are seeing is the primary ENI - `eni-0fa8cac2b043fb6e7`.

Setting WARM_IP_TARGET will override WARM_ENI_TARGET. So do you have both configured? And also regarding the IPAMD issue, the 3 pods which are stuck in container creating, can you please share the reason for o

[2021-08-24 18:49] jayanthvn commented on #1571
@jackivanov As @morganchristiansson suggested helm chart would be a good option.

Even with managed add ons, we need to have cluster to be existing.

[2021-08-25 02:23] amitkatyal commented on #1573
Sorry for the late reply!
Regarding the helm chart, I was getting an error while installing the CRDS via the cloud formation template. However, the manifest file approach works fine with the CF template.

[2021-08-25 14:30] laupow commented on #1425
Another version of this story:
* EKS 1.19 (nodes still at 1.17)
* CNI is self-managed for now
* running `v1.8.0-eksbuild.1`

When `aws-cluster-autoscaler` triggers an scale up that results in 10-12 new nodes, we see the CNI plugin crash (exit 137) about the same time.

# CNI restarts (a 1d rate graph)
CNI pods are crashing at the beginning of the scale event (not at scale down)
<img width="1675" a

[2021-08-25 16:22] korotovsky opened #1590 "CNI fails healthchecks, errors when we run containers"
Hello, we are experiencing errors in aws cni, in particular from logs I can point out two possible major issues:

1) Excessive amount of lines about "ENI eni-0488a0403d6fa7e41 cannot be deleted because it is primary". It's just does not look right for me, but I could not find an answer or figure out what could be an issue of it.
2) Another is when in logs appeared lots of messages about DelNetwork

[2021-08-26 15:51] backjo opened #1593 "CNI should respect eniConfig label if it already exists."
**What happened**:

We currently have a set of nodes that use custom networking. As part of a new application being deployed, we want to give the pods on these nodes an ENIConfig that is different from the ENIConfig for other nodes in the cluster (which is set based on AZ). To try and achieve this, we provided userdata to this set of nodes to have the kubelet set an initial eniConfig label.

When

[2021-08-27 20:31] yang opened #1598 "calico-typha preventing scaling down"
**What happened**:

calico-typha (installed [this way](https://docs.aws.amazon.com/eks/latest/userguide/calico.html)) prevents Cluster Autoscaler (installed [this way](https://docs.aws.amazon.com/eks/latest/userguide/cluster-autoscaler.html)) from scaling down.

Autoscaler logs:

[code]

**What you expected to happen**:

Why is typha not running as a daemonset and instead running as a deployment?

[2021-08-30 18:20] jayanthvn commented on #1360
We suspect the issue might be because of https://github.com/kubernetes/kubernetes/issues/100648. The root cause seems to be cri-o passing reused namespace on network teardown tricking the host network CNI DEL command into bringing down the `lo` or because of high memory pressure on this node possibly contributing to loopback interface going down. Once loopback interface goes down, aws-node (CNI po

[2021-08-31 10:01] qgervacio opened #1599 "CNI Metrics Helper CloudWatch Kubernetes Namespace Not Created"
**What happened**:

What could be the reason for the CloudWatch Kubernetes namespace to be not created? Followed the steps in https://docs.aws.amazon.com/eks/latest/userguide/cni-metrics-helper.html and able to see the namespace. Did the same in our internal eks cluster however the namespace is not created.

**Environment**:
- Kubernetes version (use `kubectl version`):
`Client Version: version.In

[2021-08-31 18:07] jayanthvn commented on #1425
Hi,

There are 2 issues mentioned here -

1. With EKS 1.21, the timeout seems to be happening because of the bug fix in 1.20 as mentioned here - https://github.com/aws/amazon-vpc-cni-k8s/issues/1425#issuecomment-901796963. We will create a new issue to track the fix and debugging. /cc @haouc
2. During auto scaling event aws-node has crashed with error code 137, if you can please open a support cas

[2021-08-31 18:34] amitkatyal commented on #1573
@jayanthvn @haouc Kindly let me know when are we planning to merge this PR - #1578 so that I can plan it accordingly. Thanks!

[2021-08-31 19:13] achevuru commented on #1425
In an ideal scenario, default timeoutSeconds value (1) should be good enough as long as the aws-node pod is not starved of CPU resources. So, even with exec probe timeout being enforced from 1.20+ we should be Ok and these values can be adjusted based on the use case (i.e.,) if you expect higher cpu load on the system, CPU resource req and timeout values can be adjusted accordingly. We can documen

[2021-09-01 07:53] primeroz commented on #1531
Hi, as described here https://github.com/projectcalico/calico/issues/4518#issuecomment-909428375 version 3.17.5  of calico-node with tiger-operator version https://github.com/tigera/operator/releases/tag/v1.13.9 has been released with the fix

[2021-09-01 13:10] hligit opened #1600 "Pod routing policies deleted by systemd"
**What happened**:

Pod outgoing packets are routed via interface eth0 because routing policies for the pod are deleted by systemd-networkd.

Detailed timeline of the relevant events:
- Pod A was scheduled on a node
- IP address associated with eth1 was assigned to pod A
- AWS CNI added a routing policy for pod A
- Pod B scheduled on the same node
- A new ENI attached as eth2
- systemd removes all

[2021-09-01 15:23] jayanthvn commented on #1531
We have a PR for the upgrade - https://github.com/aws/amazon-vpc-cni-k8s/pull/1578

[2021-09-01 15:30] jayanthvn commented on #1600
Hi @hligit

Thanks for the details. Regarding the mitigation I feel it would be better to update our documentation.

[2021-09-01 15:30] #1598 closed

[2021-09-01 19:57] laupow commented on #1425
@jayanthvn thanks, case opened (8817394681)

Looks like logs can't communicate with the cluster and therefore fail healthchecks:
[code]

[2021-09-01 20:24] jayanthvn commented on #1425
Thanks @laupow

Can you please check kube-proxy pod logs and confirm if you are seeing logs similar to below -

[code]

[2021-09-01 20:59] laupow commented on #1425
Unfortunately I don't see those logs on any nodes with crashed CNI pods. I only see `Successfully retrieved node IP`

[2021-09-02 15:08] vioan commented on #1425
Any update on this issue? We see the same problem. Will updating to 1.21 fix it?

[2021-09-02 15:18] ssyzyg commented on #1278
Recreate the service account to attach AmazonEKS_CNI_Policy to proper role.

eksctl delete iamserviceaccount  --name aws-node   --namespace kube-system   --cluster <cluster name>
eksctl create iamserviceaccount \
  --name aws-node \
  --namespace kube-system \
  --cluster <cluster name> \
  --attach-policy-arn arn:aws:iam::aws:policy/AmazonEKS_CNI_Policy \
  --approve \
  --override-existing-servi

[2021-09-03 17:27] jayanthvn commented on #1600
Nice thanks for letting us know @hligit. I will update the docs accordingly.

[2021-09-03 18:54] sstoyanovucsd commented on #1425
@achevuru, the default liveness probe timeout of 1s is not enough on any cluster that runs burstable workloads allowed to scale up beyond the resources of a node.  Maybe the default timeout value should be adjusted?  It is also possible that bumping up resources.requests.cpu to more than 10m cores will be sufficient to allow the probe not to be starved of CPU resources and to always finish within

[2021-09-03 19:27] jayanthvn commented on #1425
@laupow - sure we will check in the ticket if kube-proxy is taking time to start leading to aws-node to restart.

@deva1987m and @vioan - Sorry this thread is deviated into 2 issue as mentioned above. Are you referring to OOM killed (137) of aws-node pods? If so can you please check CPU utilization on the instance. Also I feel we need to set cpu and Memory limits for aws-node.

[2021-09-03 22:39] pedroslopez opened #1602 "Pod inaccessible stuck `Running` when cni `failed to assign an IP address to container`"
**What happened**:
After triggering an image update for multiple deployments, one of these never came back up. Looking into the events, I saw errors relating to getting an IP:

[code]

Interestingly, the pod was stuck in `Running` state, unlinke other issues I've seen here where it gets stuck in `ContainerCreating`. The container however did not start up.

According to the subnets, there are still

[2021-09-03 22:54] jayanthvn commented on #1602
Hi @pedroslopez

I see these errors in the logs -

[code]
So none of the ENIs have IPs attached even though there are IP address available in the subnet.

Can you please share the EC2 error code from ipamd.logs on why EC2 is not able to alloc IP address for any of the ENIs? You will be able find it either in the aws-node startup while attaching IPs to the primary ENI  [https://github.com/aws/amazo

[2021-09-03 23:20] pedroslopez commented on #1602
Hi @jacksontj, thanks for the quick response!

It doesn't seem like an error is being logged here...

Logs during reconciliation:
[code]

Looking for when `increaseIPPool` runs, these logs do come up repeatedly:

[code]

But as I understand it, if an error had occurred in `tryAssignIPs` it would be logged between the first two.

[2021-09-07 12:48] nuriel77 opened #1603 "Question about charts/aws-calico vs. calico's chart"
**What happened**:

We'd like to use Calico's policy engine in combination with EKS's AWS VPC CNI.
We've come across the [instructions ](https://docs.aws.amazon.com/eks/latest/userguide/calico.html). We are considering to install the [chart](https://github.com/aws/amazon-vpc-cni-k8s/tree/master/charts/aws-calico).
What is the reason to maintain Calico's chart over here? Are there big differences i

[2021-09-07 16:47] sarbajitdutta commented on #1425
@jayanthvn When cluster-autoscaler scales up Readiness probe fails for aws-node. Its stuck here -
[code]

The successful ones have this log messages -
[code]

[2021-09-07 18:15] jayanthvn commented on #1603
Hi @nuriel77

We do get EKS specific manifest/charts changes from calico team and also by default we set kubernetesProvider as EKS here - https://github.com/aws/amazon-vpc-cni-k8s/blob/master/charts/aws-calico/values.yaml#L8. But if you need any more implementation specific details you can reach out here - https://github.com/projectcalico/calico.

[2021-09-07 18:31] jayanthvn commented on #1602
Hi @pedroslopez

I want to correct my previous statement. I missed this log -

[code]
So the instance has 3 ENIs and 5 IPs per ENI and all 15 IPs are used. Since max ENIs are reached you are not able to add any more pods.

We know that issue happens when the pod IPs are in cool down and new pods gets scheduled on these nodes. Please ref to https://github.com/aws/amazon-vpc-cni-k8s/issues/1160 for

[2021-09-07 18:49] jayanthvn commented on #1599
Hi @qgervacio

I do see reset detected errors, can you please try increasing - `http-put-response-hop-limit`

[code]
Ref : https://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/configuring-instance-metadata-service.html

[code]

[2021-09-07 18:55] pedroslopez commented on #1602
Interesting! So even though there's a limit set on the max number of pods that can run per node, there may still not be enough IPs available if the IPs are on "cooldown"? Does that mean that as it stands, these pods that get stuck when this edge case happens need to be manually killed?

Good to know that a scheduler extension is being worked on- we'll definitely take a look at the linked feature.

[2021-09-07 19:33] jayanthvn commented on #1602
Yes it has to be manually killed. I am checking other options to mitigate this issue along with scheduler extender.

[2021-09-08 10:53] AlKapkone commented on #1425
Hello, any update on this issue?
Please, fix it ASAP! Thanks!

[2021-09-08 18:48] causton81 opened #1605 "Asymmetric routing issues with additional CIDR blocks"
**What would you like to be added**:
**TL;DR**: the Debian AMI that I used for my node runs dhclient on all interfaces on bootup. Sometimes the default route and hostname get messed up by the dhclient of the extra ENI. I changed my network config to only run dhcp on the primary ENI (I copied the cloud-config generated ens5 config to `/etc/network/interfaces.d/ens5` and then commented out `/etc/net

[2021-09-09 09:16] ilcapatina commented on #1425
Hi,

We had this issue when we upgraded to EKS 1.20 and I will explain our use case and how we were able to mitigate the problem.

As stated by other people in this thread, the issue started because the exec probes timeouts are honored since 1.20 . We increased the probes the timeout to 5s, 10s, or 30s, and the number of restarts dropped but there were still a few.

After further investigation, we

[2021-09-09 16:01] cam3ron2 commented on #1425
We are on 1.21 and see the same issue.

[2021-09-09 16:57] achevuru commented on #1425
@sstoyanovucsd Yes, as I said `1s` will not be enough when there are workloads running on the node(s) that can use up all the CPU resources (periodically) essentially starving other processes on the node. CPU resource req. and timeout values can be adjusted accordingly for those use cases. `1s` is the [default value upstream K8S picks for this probe](https://kubernetes.io/docs/tasks/configure-pod-

[2021-09-09 20:35] causton81 commented on #1605
I think I found the problem of multiple dhclients and added a TL;DR to original description. Maybe it would still be worth adding a warning to the readme?

[2021-09-10 00:59] glaracuente commented on #1602
I'm in a similar situation, except I do have free ENI IPs. Some ipamd logs with redacted sensitive info:

`{"level":"info","ts":"2021-09-09T21:10:57.034Z","caller":"rpc/rpc.pb.go:519","msg":"Received DelNetwork for Sandbox 0c89370030fb85c73825f2a4779dfa29c93d68e315758a8badd309d"}
{"level":"debug","ts":"2021-09-09T21:10:57.034Z","caller":"rpc/rpc.pb.go:519","msg":"DelNetworkRequest: ClientVersion:\

[2021-09-10 19:37] glaracuente commented on #1602
FYI I just finished working with AWS support and figured out my issue. Completed Jobs in the cluster were not releasing their IPs, so we were running out of ENI IPs, but blind to the issue.

The related bug is here: https://github.com/aws/amazon-vpc-resource-controller-k8s/issues/33

In order to move past this, we are upgrading our cluster to v1.21 in order to gain the feature of adding _ttlSecond

[2021-09-13 07:24] rma945 opened #1614 "Traffic not goes through routes at Fedora 33"
**What happened**:
I have built a new AMI based on community Fedora 33 1.2 AMI with bootstrap scripts from this repository - https://github.com/awslabs/amazon-eks-ami and everything works fine, except the aws-vpc-cni. I have checked the nodes and found that pods are successfully created, the elastic interfaces are allocated and the routing tables are created successfully, but the pods can't ping o

[2021-09-14 05:53] jayanthvn commented on #1614
Hi @rma945

Can we capture tcpdump on any of the nodes to verify if there is any issue with the ip tables or rules? Say when you ping from Pod-a to Pod-b

install tcpdump on the node
start capturing traffic on eth0 of node (assuming eth0 is the ENI for Pods)
`tcpdump -i eth0 -w node_a_eth0.pcap`

You can attach the pcap to the issue.

Also the logs attached above doesn't seem to download so can yo

[2021-09-14 06:06] jayanthvn commented on #1602
@pedroslopez - Closing the issue, please feel free to reach out for any help.

[2021-09-14 06:06] #1602 closed

[2021-09-14 06:30] jayanthvn commented on #1584
Closing the issue for now. Please feel free to re-open if further investigation is needed.

[2021-09-14 06:30] #1584 closed

[2021-09-14 06:32] jayanthvn commented on #1573
@amitkatyal #1578 is merged to master.

[2021-09-14 06:33] jayanthvn commented on #1571
Closing the issue now. Please feel free to reach out for any further assistance.

[2021-09-14 06:33] #1571 closed

[2021-09-14 06:49] jayanthvn commented on #1581
#1534 is merged.

For `securitygrouppolicies.vpcresources.k8s.aws` you might want to open an issue here - https://github.com/aws/amazon-vpc-resource-controller-k8s

[2021-09-14 06:49] #1581 closed

[2021-09-14 07:01] jayanthvn commented on #1510
This https://github.com/aws/amazon-vpc-cni-k8s/pull/1586 will help to run aws-node in low-privileged mode.

[2021-09-14 08:44] rma945 commented on #1614
There is it
[node_a_eth0.zip](https://github.com/aws/amazon-vpc-cni-k8s/files/7160281/node_a_eth0.zip)

[2021-09-14 10:13] amitkatyal commented on #1573
Thanks, @jayanthvn for the update!

[2021-09-15 17:10] jayanthvn commented on #1573
Yes, I will track it for 1.10 or for any next CNI release.

[2021-09-15 17:14] amitkatyal commented on #1573
Thanks a lot, will wait for the 1.10!

[2021-09-15 17:32] jayanthvn commented on #1573
Will close the issue for now, please feel free to reach out if you need any help.

[2021-09-15 17:32] #1573 closed

[2021-09-15 17:42] jayanthvn commented on #1510
CNI 1.9.1 is released - https://github.com/aws/amazon-vpc-cni-k8s/releases/tag/v1.9.1 which supports `DISABLE_NETWORK_RESOURCE_PROVISIONING`. Will close the issue. Please feel free to reach out for any help.

[2021-09-15 17:42] #1510 closed

[2021-09-15 17:47] jayanthvn commented on #1614
Can you confirm the source and destination Pod IPs and also did you ping or curl?

[2021-09-15 22:20] asheldon opened #1623 "AWS_VPC_K8S_CNI_EXCLUDE_SNAT_CIDRS does not appear to work in conjunction with custom networking"
**What you expected to happen**:

I expected communication within the VPC / the `AWS_VPC_K8S_CNI_EXCLUDE_SNAT_CIDRS` range of 10.0.0.0/8 to use pod IPs, but it appears to be going through SNAT on the secondary ENI instead.

**How to reproduce it (as minimally and precisely as possible)**:

Set up custom networking, launch pods, send traffic to other private IPs outside the cluster.  I have flow lo

[2021-09-15 22:32] jayanthvn commented on #1623
@asheldon - Will repro the issue on my cluster and get back to you.

[2021-09-16 05:35] jayanthvn commented on #1623
I was able to repro the issue -

Custom networking is enabled and ping from a pod to some random IP `10.0.1.1`.

Without `AWS_VPC_K8S_CNI_EXCLUDE_SNAT_CIDRS` set to `10.0.0.0/8`, I see packets are going out of `eth0` and is SNAT'ed -

[code]
[code]
VPC flow logs ->

[code]

With `AWS_VPC_K8S_CNI_EXCLUDE_SNAT_CIDRS` set to `10.0.0.0/8`, I see packets are going out of `eth1` and is SNAT'ed -

[code]

[2021-09-16 06:12] blodan commented on #1425
Raising timeoutSeconds to `5s` worked great for us, no more restarts.

Our avereage node cpu load is 70% in our cluster and running `v1.21.2-eks-55daa9d` with `amazon-k8s-cni:v1.9.0-eksbuild.1`

[2021-09-16 06:32] rma945 commented on #1614
Yes, any address except 127.0.01 can't be accessed

[2021-09-16 06:44] jayanthvn commented on #1623
Found something interesting,

Pinged pods across 2 nodes,

Ping from `Pod 1 [100.64.10.48] behind Node 1 [eth 1 - 100.64.8.26]` to `Pod 2 [100.64.68.96] behind Node 2 [eth 1 - 100.64.70.89]`

Packet capture on Node 2 shows pod IPs -

[code]

But VPC flow logs shows the IP of ENI instead of pod IP from where the traffic is sourced from -

VPC flow logs for Node 1 [eth 1 - 100.64.8.26] `eni-0b3baccf

[2021-09-16 06:49] nbrational opened #1626 "Inadvertent newline in eniconfig.crd.k8s.amazonaws.com resource spec results in misleading error"
**What would you like to be added**:
Better error handling for input data errors in ENIConfig CRD

**Why is this needed**:

When using custom CNI, an accidental null string in securityGroups list results in a failed CreateNetworkInterface with a vague error `Client.InvalidParameterValue: user <AWS_ACCOUNT_ID> does not own a resource`.

Steps to replicate:-
- follow steps on [this](https://docs.aws

[2021-09-16 16:39] jayanthvn commented on #1623
Based on this https://docs.aws.amazon.com/vpc/latest/userguide/flow-logs.html#flow-logs-fields looks like we need to query pkt-srcaddr. Will confirm this and update here.

[2021-09-16 16:50] jayanthvn commented on #1626
Thanks for opening the issue. Happy to take PRs :)

[2021-09-16 17:14] asheldon commented on #1623
Shouldn't the source be one of the network interface's IP addresses?

[2021-09-16 17:23] jayanthvn commented on #1623
Right, I need to check back on the document wording though.

But adding pkt-srcaddr in the vpc flow logs, I see the IPs with pod to pod communication -

[code]

[code]

[2021-09-16 17:35] jayanthvn commented on #1623
So confirmed that even while pinging an IP in AWS_VPC_K8S_CNI_EXCLUDE_SNAT_CIDRS, I see the pod IP being shown in the flow logs with pkt-srcaddr -

[code]

Pod IP
[code]
Node (eth1) IP

[code]

[code]

Can you please confirm your VPC flow logs filter? Does it include pkt-srcaddr and pkt-dstaddr?

This is my filter -

[code]

[2021-09-16 17:57] jayanthvn commented on #1603
Please feel free to reach out if you have any more questions.

[2021-09-16 17:57] #1603 closed

[2021-09-16 17:58] #1437 closed

[2021-09-16 18:04] jayanthvn commented on #353
#1580 fixes the issue with chaining. Also if you don't want IPAMD to manage ENIs/IPs, you can configure this https://github.com/aws/amazon-vpc-cni-k8s#disable_network_resource_provisioning-v191 starting CNI 1.9.1 onwards. There is no plans to split IPAMD out as mentioned by @mogren .

[2021-09-16 18:04] #353 closed

[2021-09-16 19:47] asheldon commented on #1623
I enabled flow logs using the AWS default from the console
[code]

I am glad that the pod IPs are used on the network, and I will need to do a new capture. I don't quite understand why the IP wouldn't be considered part of the network interface though.

[2021-09-16 19:53] jayanthvn commented on #1623
Thanks for conforming @asheldon . yeah the default doesn't include `pkt-{src/dst}addr`.

I think the documentation needs rewording because it also talks about -

[code]

[2021-09-16 22:20] asheldon commented on #1623
Thank you for the explanation.

I changed my filter to
[code]

and I can see differences between srcaddr and pkt-srcaddr on these machines.

[2021-09-16 22:20] #1623 closed

[2021-09-17 19:17] #1379 closed

[2021-09-17 22:28] sstoyanovucsd commented on #1425
@blodan, 5s works for us as well.  I'll run some tests with lower values to see what is the minimum we can go without aws-node restarting.

@achevuru, I understand you are hesitant to adjust a value to address a problem a few of us are experiencing, but maybe the problem is more wide-spread.  Would AWS consider at least making the timeout setting an add-on configuration parameter (like attachPolic

[2021-09-17 23:38] artificial-aidan commented on #1425
I'm also seeing this problem. With the new IP prefixing we are running a much higher pod density which is causing a ton of liveness probe issues. (Not just for aws-node).

I wrote a MutatingAdmissionWebhook to force all pods to have a higher liveness probe timeout.

[2021-09-17 23:59] smalltown commented on #1600
I also encounter the same issue after upgrade FlatCar CoreOS recently, below are my two customized systemd-networkd configurations to workaround it (Only verified and worked in FlatCar CoreOS, not Fedora CoreOS)

- This configuration is for the eni* network interface, adding this to avoid the systemd-networkd to manage the ip rule or route which is added by AWS VPN CNI plugin

  /etc/systemd/netwo

[2021-09-18 00:22] hligit commented on #1600
Thanks @smalltown! Your eni* link configuration is quite nice that it works with current version of systemd. We have below configuration on Flatcar with a patched systemd.
[code]

[2021-09-18 17:11] jayanthvn commented on #1425
@sstoyanovucsd Yes we will surely see how we can improve the user experience for this.

[2021-09-20 11:54] sean-mcgimpsey opened #1627 "tigera-operator is not installed with helm chart. aws-calico Pods never get healthy."
**What happened**:
When installing the eks/aws-calico to enable network policy engine on EKS , the tigera-operator is not installed. I think this is resulting in the aws-calico pods never hitting a ready state.

[code]

This may be by design but when i pull the helm chart , i dont see the tigera operator templates

[code]

**What you expected to happen**:
I'd expect tigera-operator to be installed

[2021-09-20 12:16] yongzhang commented on #1360
same issue. is this addressed or not?

[2021-09-20 16:56] jayanthvn commented on #1360
Upstream issue - https://github.com/containerd/containerd/issues/5630 is still open.

[2021-09-20 20:06] haouc commented on #1627
Hey @sean-mcgimpsey,

Thanks for reporting the issue to us. Do you mind to share how you installed Calico operator from CNI repo?

I tried installing the operator and calico nodes from a Linux box. That works and I got this
[code]

[2021-09-21 15:30] amitkatyal commented on #1573
@jayanthvn We are deploying the calico operator manifest using the CloudFormation Registry resource provided by the AWS quick start - https://github.com/aws-quickstart/quickstart-kubernetes-resource-provider/blob/f54ddce8f89cd3996b0ba79f1a0ada1945e8c539/apply/src/awsqs_kubernetes_resource/handlers.py

The stack creation is working fine. However, the update stack failed due to the timeout. After fu

[2021-09-21 21:45] sstoyanovucsd commented on #1425
Thank you @jayanthvn.  Just an FYI, we updated our vpc-cni plugin to v1.9.1-eksbuild.1, which was released recently and for the test reverted the liveness/readiness timeout to 1s.  We haven't experienced any aws-node pod restarts since then (4 days now).  Hopefully it was a bug in 1.9.0 that caused the intermittent failures and it was fixed in 1.9.1.  FWIW our cluster is running 1.20.

[2021-09-21 21:53] achevuru commented on #1425
@sstoyanovucsd  Agree, it might be better to make this a configurable parameter. We will look in to it.

[2021-09-22 04:56] rittneje opened #1632 "ServiceAccount should precede DaemonSet in yaml"
Reopening #1491. It was claimed to be fixed by #1271, but this is not the case, as evidenced by the 1.9 yaml file.
https://github.com/aws/amazon-vpc-cni-k8s/blob/07284393715b6e3872b91a6eb94da803af4ab86e/config/v1.9/aws-k8s-cni.yaml#L242-L246

---

See https://raw.githubusercontent.com/aws/amazon-vpc-cni-k8s/release-1.7/config/v1.7/aws-k8s-cni.yaml for example.

We are trying to have the VPC CNI as

[2021-09-22 15:52] aclevername commented on #1447
We've noticed this while working in https://github.com/weaveworks/eksctl/ too. We recently managed to reproduce this issue: https://github.com/weaveworks/eksctl/issues/4214#issuecomment-923871267

[2021-09-22 16:19] RomanCherednikovAZ commented on #1614
yes, I have already tried to disable the NetworkManager routing rules, as suggested at this [issue](https://github.com/aws/amazon-vpc-cni-k8s/issues/1514) but this not help. Also, in my case - looks like that the routes are added properly, but the routing is blocked by some reason

[code]

[2021-09-22 16:29] jayanthvn commented on #1632
Yes we couldn't take #1271 for 1.9 due to last minute changes needed for calico manifests. I will tag this for 1.10 release.

[2021-09-23 06:43] groodt commented on #1287
I've been tracking 3 important AWS addons: `aws-ebs-csi-driver`, `aws-efs-csi-driver` and `amazon-vpc-cni-k8s`.

`aws-ebs-csi-driver` is now operating without hostNetwork, so I imagine for the cni-metrics-helper, similar could be done https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/821#issuecomment-923413504

[2021-09-23 13:21] calvinbui opened #1634 "Prefix Assignment Mode works on some nodes and not others"
**What happened**:

I followed the instructions on the [AWS blog](https://aws.amazon.com/blogs/containers/amazon-vpc-cni-increases-pods-per-node-limits/) to increase the pods per node limits.

1. cluster upgraded to 1.21
2. vpc-cni EKS add-on to 1.9.1
3. `kubectl set env daemonset aws-node -n kube-system ENABLE_PREFIX_DELEGATION=true`
4. `kubectl set env daemonset aws-node -n kube-system WARM_PREF

[2021-09-23 13:26] calvinbui commented on #1634
the log line that stands out is

[code]

but we only have 4 nodes across 3 x /24 subnets.

[2021-09-23 14:46] thanhma commented on #1634
My clusters also facing same issue since yesterday. Subnets still have thousands of IP available to allocate.

`ipamd.log` has these lines:
[code]

[2021-09-23 16:01] achevuru commented on #1287
@groodt `cni-metrics-helper` runs in `kube-system` namespace but doesn't use `hostNetwork`. Are you referring to something else?

https://github.com/aws/amazon-vpc-cni-k8s/blob/master/config/v1.9/cni-metrics-helper.yaml#L86

[2021-09-23 16:01] jayanthvn commented on #1634
@calvinbui - As you have mentioned and also based on the logs EC2 is unable to carve out a /28 prefix - `ENI eni-01beb28d78683821f: InsufficientCidrBlocks` for subnet - `subnet-0e90b5936e934d6f3`

IPAMD will request VPC EC2 for a /28 prefix in ENIs subnet and if the subnet is fragmented then they won't be able to carve a /28 prefix leading to InsufficientCidrBlocks error.

I would request you to o

[2021-09-23 16:20] thanhma commented on #1634
@jayanthvn So if the subnet IPs are fragmented, IPAMD will not be able to carve a /28 prefix, even if there're lots of IPs available, right?

In my case, the /19 subnet (8,187 IPs) already has 350 ENIs and and 80 of them has prefix (about 300 prefixes in total). Now the subnet still has 3,874 available IPs, but it's high chance of fragmentation so that the IPAM cannot carve new /28 prefix.

It mak

[2021-09-23 16:23] jayanthvn commented on #1634
Yeah thats right @thanhma

[2021-09-23 16:42] thanhma commented on #1634
Thank you @jayanthvn

Didn't notice this !important block in the [guide](https://docs.aws.amazon.com/eks/latest/userguide/cni-increase-ip-addresses.html)...

![image](https://user-images.githubusercontent.com/6383907/134548734-48504041-2ac8-47df-853e-a20c63d0f39f.png)

[2021-09-23 17:54] aaronmell opened #1635 "Ip's not releasing from ENI when using WARM_ENI_TARGET"
**What happened**:
We have the following configuration That sets WARM_ENI_TARGET=1
Looking at one of the nodes in EKS, I see 8 current pods.
Non-terminated Pods:          (8 in total)

When I look at the node in the console, I have a single ENI attached for EKS. That ENI has 14 IP's attached to it. This same behavior is present on the other nodes, and it causes us to run out of IP's.

Curious if t

[2021-09-23 18:18] jayanthvn commented on #1635
Hi @aaronmell

With WARM_ENI_TARGET set, IPAMD tries to keep one full ENI worth of IPs in the warm pool. Say for instance, you have WARM_ENI_TARGET = 1 and the instance type supports 5 IPs per ENI and there are no pods scheduled yet. So IPAMD will keep 5 IPs in the warm pool. Now say if you schedule even one pod on the ENI, then IPAMD will allocate one more ENI with 5 IPs.

If you want more granul

[2021-09-23 19:24] aaronmell commented on #1635
Okay, that makes sense. I looked at the instance type, and it should have 15 ip's.

[2021-09-23 19:24] #1635 closed

[2021-09-23 21:00] gregsterin opened #1636 "InstanceMetadata awsApiErr elevated in cni 1.9"
**Environment**:
- Kubernetes version (use `kubectl version`): 1.19
- CNI Version: 1.9
- OS (e.g: `cat /etc/os-release`):
NAME="Amazon Linux"
VERSION="2"
ID="amzn"
ID_LIKE="centos rhel fedora"
VERSION_ID="2"
PRETTY_NAME="Amazon Linux 2"
ANSI_COLOR="0;33"
CPE_NAME="cpe:2.3:o:amazon:amazon_linux:2"
HOME_URL="https://amazonlinux.com/"
- Kernel (e.g. `uname -a`):
Linux ip-10-0-208-198.ec2.internal 5.4

[2021-09-23 22:38] groodt commented on #1287
We are currently running: https://raw.githubusercontent.com/aws/amazon-vpc-cni-k8s/v1.7.2/config/v1.7/cni-metrics-helper.yaml

We have had to patch the Deployment through to `hostNetwork` for it to work. This is on a cluster following [AWS EKS Security Best Practice](https://docs.aws.amazon.com/eks/latest/userguide/best-practices-security.html). We have blocked IMDSv1 entirely. IMDSv2 is only perm

[2021-09-24 01:53] #1632 closed

[2021-09-24 04:01] nbbhall opened #1638 "Update test cases to support PR 1633 to fix issue #1626"
**What happened**:
Test cases need updating for changes committed via PR 1633 to fix issue #1626

**Environment**:
N/A

[2021-09-24 04:38] TBBle commented on #1287
If `AWS_REGION` is auto-injected as an env-var by IRSA, then for it, all the metrics helper needs to do is skip [overriding the default region that the SDK picked up](https://github.com/aws/amazon-vpc-cni-k8s/blob/ec0134c94c041e85a727b7be4842a6ff4ee4bd5a/pkg/publisher/publisher.go#L105-L109), as the SDK honours the `AWS_REGION` env-var (older versions needed to be told to honour it, newer versions

[2021-09-24 04:59] jayanthvn commented on #1636
Hi @gregsterin

One of the reasons we don't want to retry for 404 is because IPAMD with 1.9 queries for prefixes and secondary IPs from IMDS and if we are in secondary IP mode then get prefixes will return 404 and SDK keeps retrying causing aws-node to fail.

Will check regarding the increased error count.

[2021-09-24 04:59] jayanthvn commented on #1638
Happy to take PRs :)

[2021-09-24 05:06] gregsterin commented on #1636
Did anything change in the CNI metrics collector? I know the prometheus metrics endpoint is exposing awsApiErr as a counter. I wonder if it started sending the growing counter value to CW when it wasnt before (we use the aws-cni-metrics-helper). Unfortunately we dont currently have prometheus scrape annotations on the aws-nodes right now, I'll also try to scraping into prometheus to see if that sh

[2021-09-24 05:11] jayanthvn commented on #1614
Thanks for checking @RomanCherednikovAZ . Sorry I meant in the pcap file attached, can you please confirm the source and destination IPs ? If you have some bandwidth can you also please capture tcp dump on the destination side? Basically if we have the tcp dump on the source and destination nodes then we can co-relate where the drop is happening.

Also can you please check if the security groups a

[2021-09-24 05:24] jayanthvn commented on #1605
This looks similar to this issue - https://github.com/coreos/bugs/issues/992?

[2021-09-24 14:42] glasswalk3r opened #1640 "could not enable network policies with Calico"
I followed the [official procedure](https://docs.aws.amazon.com/eks/latest/userguide/calico.html) to enable Calico together with the AWS CNI in order to get network policies working, but several issues.

First, the documentation says:

After applying the manifests, I didn't find any additional DaemonSet or the calico-system namespace:

[code]

[code]
In the tigera-operator namespace, I found out t

[2021-09-24 14:45] glasswalk3r commented on #1640
This [issue](https://github.com/aws/amazon-vpc-cni-k8s/issues/1627) might be related.

[2021-09-24 16:53] jayanthvn commented on #1640
/cc @haouc

[2021-09-27 12:40] blodan commented on #1425
Little update from us;
While running with timeoutSeconds: 5s on the probes  removed most of the restarts, we were still seing restarts 2-3 times every 24 hours.

But, after upgrading to v1.9.1 we started seing this in the output
[code]

Changing the actual health commands timeout made the last restarts go away entirely now running for 48 hours without restarts
We are now running with probe timeout

[2021-09-27 14:50] pothos commented on #1600
I don't think that a global `ManageForeignRout...` entry is the right answer because systemd-networkd can still interfere with the manually configured network, depending on whether the default network configuration tries to use DHCP, DHCPv6 or configures another option that prevents proper connectivity.
Speaking for the Flatcar Container Linux team I urge you to generate a networkd unit file under

[2021-09-27 19:07] NivStav-RecoLabs commented on #1627
![image](https://user-images.githubusercontent.com/88609182/134969631-db282e0d-dd02-45e7-8944-e96c66cceb40.png)

Tried both directly with `helm upgrade --install --recreate-pods --force aws-calico --namespace kube-system eks/aws-calico` and using `helmfile` as part of our deploy flow - both finish without the tigera-operator.

Following the guide at https://docs.aws.amazon.com/eks/latest/userguide

[2021-09-27 19:50] glasswalk3r commented on #1640
After further investigation, I gave a shot creating a brand new cluster from scratch using the AWS console, and things worked as expected.
Then I went to the previous cluster and created new a node group from the console, after deleting the original one. Turned out that the problem is that my automation was using a customized AMI that was using Kubernetes 1.18 instead of the 1.21 (the version that

[2021-09-27 20:21] jayanthvn commented on #1640
Thanks for confirming @glasswalk3r. Regarding the error wording it would be great if you can open an issue here - https://github.com/projectcalico/calico.

[2021-09-27 21:13] hligit commented on #1600
Thanks @pothos for chime in!

I tested below network unit file on Flatcar v2905.2.3 and it doesn't seem to work.
[code]
systemd-networkd debug log shows the policies are still removed.
[code]
While the route exists,
[code]

[2021-09-28 09:31] pothos commented on #1600
Ok, funny, so I guess we either need Unmanaged plus the additional global setting (not sure if it's a good idea to set it automatically or if the distro or the user would be in charge), or we could try to generate a valid network unit file that configures the routes and turns off everything that is not needed (`DHCP=no`, `LinkLocalAddressing=no`, `RequiredForOnline=no`, `Scope=link` etc).

[2021-09-28 18:02] jayanthvn commented on #1640
Closing the issue, please reach out if you need further assistance.

[2021-09-28 18:02] #1640 closed

[2021-09-28 18:19] jayanthvn commented on #1634
Closing this issue for now. Please reach out to EC2 support to confirm on the fragmentation on the subnet.

[2021-09-28 18:19] #1634 closed

[2021-09-28 18:22] jayanthvn commented on #1627
@NivStav-RecoLabs can you please paste the o/p of `kubectl get crds`?

[2021-09-28 18:37] NivStav-RecoLabs commented on #1627
@jayanthvn
![image](https://user-images.githubusercontent.com/88609182/135145979-859b460b-74d1-4446-8428-1ec0067aa1ea.png)

[2021-09-29 18:28] JacobHenner opened #1644 "Container ID inconsistency results in deleted vlan device"
**What happened**:

On several occasions, we've encountered an issue where pods scheduled on a node start with broken network connectivity and never recover. The containers within the pod will attempt to start repeatedly, but since the applications within depend on network connectivity, the containers exit in failure each time and the pod remains in CrashLoopBackoff.

Each time I've observed this

[2021-09-29 20:54] nodesocket opened #1645 "Outbound traffic come from a single ip for whitelisting in public subnets"
Hello, running EKS with EC2 worker group all in public subnets in the VPC. Is it possible to make outbound requests from inside of pods appear to come from a single static ip address to whitelist? Typically this is done using a NAT Gateway, but my understanding this is only possible in private subnets. The EKS cluster is in production, so rebuilding the entire thing and assigning worker nodes into

[2021-09-29 21:42] #493 closed

[2021-09-30 08:55] chlunde commented on #1644
Hi, we see a similar issue (w/ CNI 1.9.1 and bottlerocket 1.2.1, securitygroups per pod). Our issue happens with the prometheus statefulset pods, and we did not notice it until after we added storage for it. Do you also use statefulsets?

[2021-09-30 09:15] chlunde commented on #1644
It looks like this code deletes the interface based on name/namespace only. I think this could mean that if a delete event arrives after a pod name (and veth name) has been reused, it will tear down the CNI setup which is used by another instance:

https://github.com/aws/amazon-vpc-cni-k8s/blob/07284393715b6e3872b91a6eb94da803af4ab86e/cmd/routed-eni-cni-plugin/cni.go#L194-L199

[2021-09-30 16:27] SaranBalaji90 commented on #1644
@JacobHenner @chlunde Thank you for your initial investigation. The problem here could be if previous pod network is not cleaned up completely and when DEL for old pod comes in after new pod is provisioned then it could delete incorrect network. We are working on mitigating this by adding local store to clean up appropriate VLAN network when DEL request is received. In the meanwhile, are looking i

[2021-09-30 17:45] chlunde commented on #1644
@SaranBalaji90 thanks for looking into this!

If I understand correctly you are talking about a bigger change as a long term fix.

Here is a _draft_ of the mitigation I was thinking of which is localized to a single function. I think would greatly reduce the likelihood of this issue. It would also reduce the likelihood of having to wait for cleanup if proper "collision detection" is implemented.

[2021-09-30 17:47] JacobHenner commented on #1644
@SaranBalaji90 Do you have an estimate as to when a workaround, short-term fix, or long term fix might be available? This is affecting pods in our production clusters.

[2021-09-30 17:51] chlunde commented on #1644
PS! Prometheus runs with `terminationGracePeriodSeconds: 600` so it does not look like that is a mitigation of this issue as far as I can see.

[2021-09-30 18:00] SaranBalaji90 commented on #1644
You are right @chlunde terminationGracePeriod setting doesn't help with this and yes I was talking about long term fix which team is actively looking into. I'm looking at other short-term fix to mitigate the impact. Will keep you posted here by EOD.

[2021-09-30 18:27] SaranBalaji90 commented on #1644
@JacobHenner as per @jayanthvn who is driving this repo, next version release is scheduled in two weeks and we should have RC image before that. We will work on getting this fixed in the next release. If anything slips will keep this thread updated.

[2021-10-01 00:23] cryptk opened #1649 "Multus with VPC-CNI as secondary: failed to add default route: file exists"
**What happened**:
Attempting to use multus with EKS.  Primary CNI is Cilium and VPC-CNI as a secondary CNI on a pod.  The pod fails to start with errors related to VPC-CNI failing to set the default route because Cilium has already set this route.

**Attach logs**
Multus Logs:
[code]

VPC-CNI plugin Logs:
[code]

**What you expected to happen**:
VPC-CNI should be able to run as the secondary CNI

[2021-10-01 01:00] cgchinmay commented on #1649
Hi @cryptk thanks for reporting,  let me try to repro using the steps mentioned and will get back to you.

[2021-10-01 02:16] cryptk commented on #1649
I was looking for some official guidance on how the default route should be handled when running a multi-net setup, and the official spec addresses this.

https://github.com/k8snetworkplumbingwg/multi-net-spec/tree/master/v1.2

Section 4.1.2.1.9

[code]

So it looks like the VPC CNI should not replace the original default route, but rather only create it if it does not already exist. That spec had

[2021-10-01 14:05] cryptk commented on #1649
@cgchinmay thanks for picking the issue up so fast! My repro steps are pretty minimal, so if you need any clarification or expansion, please let me know!

[2021-10-01 19:04] cgchinmay commented on #1649
@cryptk There has been exact same issue in the past
#596
#203
and it was fixed by this #367
Will check on why are you hitting same issue with this cni version.

[2021-10-01 22:53] sramabad1 commented on #1649
@cryptk - Would be great if you can share your use case that drives the requirement for VPC CNI as secondary plugin .

AFAIK, VPC CNI as default delegate CNI was qualified with Multus.

[code]

Doc doesn't explicitly call out that VPC CNI as secondary is not supported. Will confirm internally if this was intended to be supported and respond back.

[2021-10-03 05:36] #1636 closed

[2021-10-03 05:54] jayanthvn commented on #1525
@haouc recently made few fixes and also for another issue we did try helm install from https://github.com/aws/amazon-vpc-cni-k8s/tree/master/charts/aws-calico which is synced to eks-charts and it works - https://github.com/aws/amazon-vpc-cni-k8s/issues/1627#issuecomment-923255948. Can you please retry?

[2021-10-03 06:07] jayanthvn commented on #1599
Hi @qgervacio

Closing this issue for now, please try increasing - `http-put-response-hop-limit` and do reach out if you need any help.

Thanks!

[2021-10-03 06:07] #1599 closed

[2021-10-03 06:10] jayanthvn commented on #1572
@therc - If you can please attach the logs by running this script - sudo bash /opt/cni/bin/aws-cni-support.sh on one of the impacted nodes, we can help debug this further.

[2021-10-03 06:12] jayanthvn commented on #1532
@skydacremam - Please let us know if you are still having this issue?

[2021-10-03 06:15] #1531 closed

[2021-10-04 14:59] o6uoq opened #1654 "Spelling mistake under warm_ip_target"
- https://github.com/aws/amazon-vpc-cni-k8s#warm_ip_target

`sufficent` should be `sufficient`

[2021-10-04 17:16] #1518 closed

[2021-10-04 21:30] #1654 closed

[2021-10-04 21:56] orsenthil opened #1660 "make docker fails Lumberjack.v2 dependency"
**What happened**:
Running `make docker` fails with the error

[code]
**Attach logs**

**What you expected to happen**:

* Docker image created successfully

**How to reproduce it (as minimally and precisely as possible)**:

* Clone repo
* `make docker`

**Anything else we need to know?**:

NA

**Environment**:

NA

- Kubernetes version (use `kubectl version`):
- CNI Version
- OS (e.g: `cat /etc/o

[2021-10-04 22:18] kakarotbyte opened #1661 "Adding Ip rules and route to enabling support for nodelocal DNS for Security Groups per pod"
**What would you like to be added**:

Adding manual route is allowing communication
**Is this a recommended approach. If So can we add this in a new release ?**

Below are the replication steps:

*Issue*

    kubectl exec -it deploy-6f796cfd45-68qhp -- cat /etc/resolv.conf
    nameserver 169.254.20.10
    search test.svc.cluster.local svc.cluster.local cluster.local ec2.internal
    options ndots:

[2021-10-04 22:18] kakarotbyte opened #1662 "Adding Ip rules and route to enabling support for nodelocal DNS for Security Groups per pod"
**What would you like to be added**:

Adding manual route is allowing communication
**Is this a recommended approach. If So can we add this in a new release ?**

Below are the replication steps:

*Issue*

    kubectl exec -it deploy-6f796cfd45-68qhp -- cat /etc/resolv.conf
    nameserver 169.254.20.10
    search test.svc.cluster.local svc.cluster.local cluster.local ec2.internal
    options ndots:

[2021-10-04 22:28] #1661 closed

[2021-10-04 22:28] kakarotbyte commented on #1661
closing as I have created 2 of the same issue

[2021-10-05 13:19] jkroepke commented on #1425
@artificial-aidan

You you share your AdmissionController?

Do I need to modify a AWS managed resource? Does someone got success?

I have no idea, why it stuck on

[code]

Is exit code 137 a OOM in general?

From what I know, 137 means, the project got killed with SIGKILL. This also can be happens, if the container can not be exiting inside the `terminationGracePeriodSeconds` period.

[2021-10-05 17:46] jayanthvn commented on #1660
Merged #1665

[2021-10-05 17:46] #1660 closed

[2021-10-06 19:32] #1074 closed

[2021-10-13 16:12] jayanthvn commented on #1644
@JacobHenner as Balaji mentioned we will be working on the file based solution. We are targeting for the fix in next couple weeks. Once we have the fix, we will cut a RC image and unblock you with the testing while we cut official release on GitHub. Hope this helps.

[2021-10-14 23:47] jayanthvn opened #1689 "Add ARM based nodes for e2e and UT tests"
**What would you like to be added**:
ARM based work nodes and runners

**Why is this needed**:
To test both AMD and ARM based images

[2021-10-15 10:46] rma945 commented on #1614
Sorry for the confusion you, but rma945 and RomanCherednikovAZ = the same person. Yeah, I have checked that the CNI binaries were successfully added at the node, and the Network state for the node was changed to Ready. So the CNI itself - works fine, but looks like there were some issue with routing at the node. Anyway, at this moment we were anyway migrate our worker nodes back to the AWS EKS AMI

[2021-10-15 13:35] renanqts opened #1694 "Attach interface via host-device with Multus"
**What happened**:

I'm using Multus to attach another interface in a pod with

[code]

It creates the `net1` without the VPC IP in the state down

[code]

Related to that, I have the following questions:

- How can I achieve this interface configure with VPC IP, and of course, in the upstate?
- With the configuration before, I had to add the interface into the node. Is there a way to create this

[2021-10-16 11:52] njuettner commented on #1523
@jayanthvn any updates on this issue?

[2021-10-18 13:54] yngvark opened #1695 "Pods attached to a Security Group is not able to communicate with cluster resources"
**What happened**

It appears pods in a Security Group isn't able to connect with anything in my EKS cluster.

In my EKS-managed cluster (1.19), made with eksctl, if I put a pod in a security group, the pod is not able to communicate with anything inside the cluster, nor google.com (as it cannot reach any DNS servers I assume). However, pinging the IP of google.com from the pod works, and other po

[2021-10-20 05:43] fubar opened #1699 "CNI 1.9.3 results in "'amazon-k8s-cni-init' does not exist in the registry""
**What happened**:

- EKS cluster in eu-west-1
- Upgraded the CNI add-on to latest (v1.9.3) as per https://docs.aws.amazon.com/eks/latest/userguide/managing-vpc-cni.html#updating-vpc-cni-add-on

Now the `aws-node` pods fail with this error:

[code]

All requested info below seems irrelevant but let me know what else you need. Thanks!

**Attach logs**

**What you expected to happen**:

**How to rep

[2021-10-20 06:27] fubar commented on #1699
The account ID I redacted from the ECR URL is from my AWS account, which naturally does not have an `amazon-k8s-cni-init` image. In other words, the CNI add-on is trying to load it from the wrong place.

[2021-10-20 06:27] jayanthvn commented on #1699
Yes, please use this -
[code]

[2021-10-20 06:30] fubar commented on #1699
And 3) why is this problem starting now? We've been running EKS with this add-on for 2 years, and this issue has never occurred before.

[2021-10-20 06:32] achevuru commented on #1699
Both the below docs, point you to the account id that you need to use for a particular region. You seem to have replaced it with your AWS account if by mistake.

https://docs.aws.amazon.com/eks/latest/userguide/managing-vpc-cni.html#updating-vpc-cni-add-on
https://docs.aws.amazon.com/eks/latest/userguide/add-ons-images.html

[2021-10-20 07:55] renanqts commented on #1694
@cgchinmay this I did. Currently, I'm attaching the interface to the node.
The question is how to set up one IP of the VPC in this interface that is created dynamically (DHCP).

As mentioned before, it is created there but the status is DOWN and there is no IP on that.
[code]

I already tried something like
[code]

But I'm not sure if I'm on the correct path since IPAM probably doesn't work with `

[2021-10-20 12:17] yngvark commented on #1695
That issue looks similar, but I'm not using node local DNS.

However, I contacted AWS support, which were able to resolve my case.

It seems my security groups were wrongly configured. Even if my security group was allowing all traffic out, the security groups for the k8s control plane and my self managed node group didn't allow traffic in from the pod security group. I'm running Fargate for my ku

[2021-10-20 12:17] #1695 closed, assigned to haouc

[2021-10-20 18:37] veshij opened #1700 "Count addresses in cooldown against used ones in datastoreTargetState()"
datastoreTargetState() calculates `short` value of ip addresses not taking into account addresses in cooldown.
On nodes with a high churn rate it leads to failures during address allocation (note 2 addresses are both "available" and in "cooldown").
[code]

Would it make sense to count cooldown addresses against used to keep actually available warm addresses in the pool?
Obviously it will lead to h

[2021-10-20 19:42] jayanthvn commented on #1700
Yes as you pointed out it would add more IP churn. But it might be good to explore this enhancement. While there are extra IPs i.e, once the IPs are out of cooldown the reconciler will free those IPs. So it might lead to more EC2 calls in your account for Alloc and Free IP addresses.

[2021-10-20 20:25] fubar commented on #1425
Hi again @jayanthvn @achevuru, I am experiencing many of the problems described in this thread. In my case I have 2 nodes in the cluster, a `t3a.medium` (AMD) and a `t4g.medium` (ARM) and the problems occur only on the ARM instance:

[code]

[code]

Observations:

- The AMD instance has no problems and happily starts the aws-node pod every time
- The ARM instance is not running anything aside from

[2021-10-20 23:07] fubar commented on #1425
In case it helps, I have tried CNI add-on versions 1.9, 1.8, and 1.7, and they all have the same behaviour/failure. EKS is on version 1.21.4.

[2021-10-21 05:20] xtroncode opened #1702 "aws-node pod does not start correctly the first time"
**What happened**:

When a new node is started in a nodegroup the node takes a lot of time to be marked as Ready because aws-node (cni) pod does not start correctly the first time and has to undergo 1-2 restarts. Also the restarts are delayed because the initial delay for liveness probe is set to 60 sec. If we are increasing the failure threshold for liveness then the aws-node pod is not marked re

[2021-10-21 18:02] vikasmb commented on #1425
@fubar I created EKS 1.21 cluster with same worker node instance type of "t4g.medium" and nodes became ready automatically.

aws-node pod logs from my test cluster:
[code]

Could you share the logs mentioned in "Troubleshooting CNI/ipamD at node level" in https://github.com/aws/amazon-vpc-cni-k8s/blob/master/docs/troubleshooting.md

[2021-10-21 18:22] backjo commented on #1702
I'd suggest reading https://medium.com/keikoproj/rapid-auto-scaling-on-eks-part-1-bb4de84fc599 - it might be that kube-proxy hasn't started yet by the time the CNI tries to start, in which case it can't connect to the control plane.

[2021-10-21 22:08] fubar commented on #1425
I figured it out. Our EKS cluster has been up and running for a while and kube-proxy needed to be updated and configured to include the `arm64` architecture selector as described on point 3 under "Updating the kube-proxy self-managed add-on" at https://docs.aws.amazon.com/eks/latest/userguide/managing-kube-proxy.html#updating-kube-proxy-add-on. After that, aws-node started without problem.

While

[2021-10-21 22:10] vikasmb commented on #1425
Thanks for the update @fubar.

[2021-10-23 23:38] niroowns opened #1706 "Limits/Requests for Containers"
We noticed that there are no memory requests or limits set on the aws-node container and no cpu and memory requests and limits on the aws-vpc-cni-init container.  Are there a guideline on what these can/should be? We're using CNI version 1.9.1.  Thanks.

[2021-10-25 10:58] nuriel77 opened #1707 "Recommended installation method for Calico policy engine"
**What happened**:

I would like to know what is the recommended way to get Calico installed as a policy engine only along side AWS VPC CNI for a production cluster.

The AWS [documentation](https://docs.aws.amazon.com/eks/latest/userguide/calico.html) refers to an installation using kubectl apply.
However, I've noticed there's also the Helm chart: https://github.com/aws/amazon-vpc-cni-k8s/tree/ma

[2021-10-25 13:25] rijub2019 opened #1708 "tigera-operator failing in ARM64"
~] kubectl logs tigera-operator-6fbb48778f-kdvmd -n tigera-operator
standard_init_linux.go:228: exec user process caused: exec format error

[2021-10-26 03:17] #1706 closed, assigned to nobody

[2021-10-26 13:17] #1707 closed, assigned to nobody

[2021-10-27 16:32] NagarajBM opened #1709 "networkPlugin cni failed to set up pod "<pod name>" network: add cmd: failed to assign an IP address to container."
Hey,

issue still happening on aws eks.

cluster ARN = arn:aws:eks:us-east-1:531074996011:cluster/Cuttle

kubernetes version = 1.21
Platform version = eks.2
coredns version = v1.8.4-eksbuild.1
kube-proxy version = v1.21.2-eksbuild.2
vpc-cni version = v1.9.1-eksbuild.1

I have an AWS EKS cluster and while deploying pods I'm getting this error. "failed to assign an IP address to container"

My Curre

[2021-10-27 17:34] #1593 closed, assigned to nobody

[2021-10-27 18:52] brandonbell opened #1712 "Missing Route Table Entries"
**What happened**:
Missing route table entries in high-churn environment causing cluster connectivity to some pods to fail.  This seems to only hapen 5 or 10% of the time in a 'high-churn' scenario ( 30 instances with ~60 pods, pods deleted and re-added ).

**Attach logs**

<details>

<summary>logs</summary>

[code]

[code]

[code]

</details>

**What you expected to happen**:
Route table exists f

[2021-10-29 16:24] lukeprentice202 opened #1716 "Support for c6i instances"
**What would you like to be added**: Support for newly announced instance type c6i https://aws.amazon.com/blogs/aws/new-amazon-ec2-c6i-instances-powered-by-the-latest-generation-intel-xeon-scalable-processors/

**Why is this needed**: To allow the newer instance types to be used in clusters using the vpc cni

[2021-10-31 03:53] AmjadHussainSyed opened #1718 "aws cni v1.9.3 is crashing with no error/information in the logs"
**What happened**:
After upgrading aws cni k8s to v1.19.3 is started crashing, however no error/information in the logs. I have followed this link and everything is fine as per the document.
https://aws.amazon.com/premiumsupport/knowledge-center/eks-cni-plugin-troubleshooting/
[code]

**Attach logs**

**What you expected to happen**:
it should not crash
**How to reproduce it (as minimally and prec

[2021-10-31 04:12] jayanthvn commented on #1718
Hi,

Can you please attach the logs by running this script 'sudo bash /opt/cni/bin/aws-cni-support.sh' on the instance.

Thanks!

[2021-10-31 05:55] AmjadHussainSyed commented on #1718
thanks @jayanthvn
there's no script in that location(`/opt/cni/bin/aws-cni-support.sh`) and i have found a script in `/app` and
First it wont create a tar file but prints its i think it fails because the pod doesn't have `tar` command.
After that i installed `tar` command and run the script.
Now it generates a tar file which is corrupted.
[code]
This is the script output
[code]

[2021-10-31 06:01] jayanthvn commented on #1718
Can you please send this file `eks_i-0a9e4ab48b7abd4c4_2021-10-31_0550-UTC_0.6.2.tar.gz` to varavaj@amazon.com? I can check it out once.

[2021-10-31 06:16] AmjadHussainSyed commented on #1718
I dont know if you missed reading my comment above.
the file is `0` bytes and cannot be attached through email. or I can attach it here. the tar.gz is corrupted.

[2021-10-31 06:23] jayanthvn commented on #1718
Can you send me just the ipamd logs if it is available? You can check in `/var/log/aws-routed-eni/ipamd.log`

[2021-10-31 06:26] AmjadHussainSyed commented on #1718
this log is not available:
[code]

[2021-10-31 06:31] jayanthvn commented on #1718
We would need the logs or access to the cluster to further debug the issue. Can you open a support case?

Also, What was your previous CNI version? Did you just update the CNI image and no other changes in the cluster?

[2021-10-31 06:35] AmjadHussainSyed commented on #1718
i will open a support ticket. I just updated the CNI from this `article` [https://docs.aws.amazon.com/eks/latest/userguide/managing-vpc-cni.html](url)

[2021-10-31 06:35] #1718 closed

[2021-10-31 06:57] jayanthvn commented on #1718
Thank you.

[2021-11-01 10:23] renanqts commented on #1694
Hey @cgchinmay. I didn't try yet

[2021-11-01 20:06] LCaparelli opened #1719 "When do pod IP addresses become available again?"
**What happened**:

We have an EKS cluster using this CNI plugin. We run a few jobs, their pods are kept around after they're finished for posterior troubleshooting and record keeping.

I noticed that even pods in a `Completed` state have IP addresses at the ouput of `kubectl get pod` and family, which should be fine, it's useful to know the pod's IP address at the time it ran during troubleshooti

[2021-11-01 20:16] LCaparelli commented on #1719
So, I just found a running pod using one of the completed pods IP address, it started 5 minutes after the `Completed` pod's container finished. So yeah, it becomes available shortly after, it seems.

Closing, hopefully this will at least be of use to others with the same question. :-)

[2021-11-01 20:16] #1719 closed

[2021-11-01 20:56] jayanthvn commented on #1719
Yeah thats right, the completed pod IP will be released and reused. The IP might still be attached to the ENIs because of the WARM_IP/ENI targets configuration.

[2021-11-01 22:34] cgchinmay commented on #1716
Hi @lukeprentice202 are using custom AMI or if EKS AMI then which version ?

[2021-11-01 23:16] lukeprentice202 commented on #1716
Hey @cgchinmay, am using the EKS AMI version amazon-eks-node-1.18-v20211013 (ami-0c1d7ae34efa8647b)

[2021-11-02 18:07] jayanthvn commented on #1712
We received the logs, will review and get back to you.

[2021-11-02 18:07] jayanthvn commented on #1709
@NagarajBM - Can you please share the logs from the correct instance?

[2021-11-02 18:08] jayanthvn commented on #1708
@tmjd - #1710 is pending review to support ARM.

[2021-11-02 18:11] jayanthvn commented on #1702
@xtroncode - workaround for now is to include this - `- --hostname-override=$(NODE_NAME)`

[code]

[2021-11-02 18:11] jayanthvn commented on #1702
Will close this issue for now, please reach out if you need any more information.

[2021-11-02 18:11] #1702 closed

[2021-11-02 19:18] Yitaek opened #1722 "Prefix delegation with Calico"
Does `ENABLE_PREFIX_DELEGATION` work with Calico installed on EKS?

**What happened**:

Setting `ENABLE_PREFIX_DELEGATION: true` causes aws-node to crash. This feature works on cluster without Calico installed

**Environment**:
- Kubernetes version: `v1.19.13-eks-8df270`
- CNI Version: `amazon-k8s-cni:v1.9.0`
- OS (e.g: `cat /etc/os-release`): bottlerocket

`aws-calico-0.3.5` chart installed from

[2021-11-02 19:35] jayanthvn commented on #1722
Prefix delegation will work with Calico. Can you please provide the steps on how you enabling the feature and installing Calico?

Can you also share the o/p from `/var/log/aws-routed-eni/ipamd.log` once you set `ENABLE_PREFIX_DELEGATION: true`

[2021-11-02 19:43] Yitaek commented on #1722
Yup, so Calico was installed as helm-chart via https://github.com/aws/eks-charts/tree/master/stable/aws-calico (version 0.3.5) with all the default values.

And followed this guide to enable prefix delegation: https://docs.aws.amazon.com/eks/latest/userguide/cni-increase-ip-addresses.html

Once I set `ENABLE_PREFIX_DELEGATION: true` then new aws-node pod fails readiness probe:

[code]

[2021-11-02 20:00] jayanthvn commented on #1722
Can you please either ssh to the instance or exec into aws-node pod and provide ipamd logs? It will be under var/log/aws-routed-eni.

[2021-11-02 20:22] Yitaek commented on #1722
Yeah when I exec-ed into the pod, there was nothing under `/var/log/aws-routed-eni` . I assumed that it didn't even get to that point of starting up. I'll try again and paste what I see

[2021-11-02 20:35] jayanthvn commented on #1722
When you exec to the pod, you can check under /host/var/log/aws-routed-eni

[2021-11-02 20:46] Yitaek commented on #1722
oh i see, i get

[code]

[2021-11-02 20:53] Yitaek commented on #1722
seems like issue with my subnet / cidr setup. thanks for all the help!

[2021-11-02 20:53] #1722 closed

[2021-11-02 21:05] jayanthvn commented on #1722
No problem, glad to RC the issue :)

You can also ref to this : https://docs.aws.amazon.com/eks/latest/userguide/cni-increase-ip-addresses.html

[2021-11-03 00:46] haouc commented on #1627
Hi @NivStav-RecoLabs, thanks for providing detailed info. Seems you are trying to install tigera operator from eks-charts? We haven't introduced tigera operator into eks-charts yet. The [change](https://github.com/aws/eks-charts/pull/625) is in process and under review by Calico team. Once the PR is approved and merged, we will also update charts folder name here to make them synced. We will also

[2021-11-03 12:44] discordianfish commented on #1236
I just tripped over this while debugging a vpc-cni-k8s failure. I'd suggest to log to stdout by default and simply change https://github.com/aws/amazon-vpc-cni-k8s/blob/6a15a84cae6576cba1c3302964431a26c435d07c/scripts/entrypoint.sh#L91 to /host/var/log/aws-routed-eni/ipamd.log. That way the log is still as the expected location and the error logging in the container logs work as well.

[2021-11-03 16:55] jayanthvn commented on #1038
@alaa - Which k8s version you are on? There is a known issue with K8s 1.21 - Ref: https://github.com/aws/amazon-vpc-cni-k8s/issues/1425#issuecomment-909474696

[2021-11-04 08:52] alaa commented on #1038
@jayanthvn  Oh, I am using EKS 1.21

[2021-11-04 12:43] alesavin opened #1723 "installations.operator.tigera.io CRD has missed typhaMetricsPort"
calico-operator.yaml at config section represent Calico operator deployment for VPC CNI. It contains definition for Calico custom resources (https://docs.projectcalico.org/archive/v3.17/reference/resources/). For Installation resource (https://docs.projectcalico.org/archive/v3.17/reference/installation/api#operator.tigera.io/v1.InstallationSpec) typhaMetricsPort param is missed.

**What would you

[2021-11-04 18:03] chlunde commented on #1644
@jayanthvn Thanks for the info. I want to verify that the PR fixes this issue, should the CNI driver work when I compile the main and init image from the PR, or are there other dependencies/known issues with that branch?

[2021-11-04 18:34] jayanthvn commented on #1644
@chlunde - Thanks for verifying. Yes you should be able to build the image with the PR based of master. There are no dependencies or known issues.

/cc @cgchinmay

[2021-11-04 18:34] cgchinmay commented on #1644
you should be able to build it without any other dependencies.
[code]
and then use the generated cni image. And then update your [daemonset ](https://github.com/aws/amazon-vpc-cni-k8s/blob/6a15a84cae6576cba1c3302964431a26c435d07c/config/v1.9/aws-k8s-cni.yaml#L140)with this image and apply
[code]

[2021-11-04 21:29] chlunde commented on #1644
@cgchinmay @jayanthvn sadly I don't see an improvement with this version.
We have deployed kube-prometheus-stack w/ helm and persistent storage. There's a securitygrouppolicy in the namespace.

[code]

[code]
delete pod to trigger restart on same node:

[code]

new pod is not `Ready` (`1/2` instead of `2/2`):
[code]

checking the logs of the new pod, we can see it does not reach the control plane

[2021-11-04 22:06] cgchinmay commented on #1644
@chlunde Could you email ipamd.log and plugin.log from this impacted node to cgadgil@amazon.com ?

[2021-11-04 22:39] chlunde commented on #1644
Logs sent. Yes, your sequence is correct.

[2021-11-04 22:55] dtnyn opened #1724 "CNI does not wait for ENI and IP to be available before reporting ready when setting MINIMUM_IP_TARGET and WARM_IP_TARGET"
## What happened:
After setting `MINIMUM_IP_TARGET` and `WARM_IP_TARGET`. When scheduled on a new node, pods are stuck on `failed to assign an IP address to container` for a few minutes before being able to be created.

From my observation I can see that after setting these override, aws-node does not wait for its datastore to be populated first before reporting ready causing pods to try to be sch

[2021-11-05 00:21] cgchinmay commented on #1644
I looked at the logs and could not find any entry for Pod: prometheus-kube-prometheus-stack-prometheus-1 . Could you run eks-log-collector and send entire zip file to cgadgil@amazon.com .

[2021-11-05 02:40] jayanthvn commented on #1724
@dtnyn - What is your WARM_IP_TARGET and MINIMUM_IP_TARGET values? Do you have custom networking enabled?

With respect to WARM_IP_TARGET/MINIMUM_IP_TARGET and WARM_ENI_TARGET, there is no difference on how IPAMD starts up. We do wait for ipamd to start [https://github.com/aws/amazon-vpc-cni-k8s/blob/release-1.9/scripts/entrypoint.sh#L139] before copying cni config file [https://github.com/aws/ama

[2021-11-05 02:53] dtnyn commented on #1724
These are the config enabled for the CNI

[code]

[2021-11-05 03:30] johngmyers opened #1725 "amazon-k8s-cni crashes on startup (unless undocumented env var set)"
**What happened**:

amazon-k8s-cni container dereferenced nil pointer upon startup

**Attach logs**

[code]

**What you expected to happen**:

Container to not panic. Bonus points for running successfully, or at least including the reason for the failure in the container logs.

**How to reproduce it (as minimally and precisely as possible)**:

* Build containers off of 169d28dbe763b8f4439fc4d15c62

[2021-11-05 05:52] jayanthvn commented on #1724
Thanks for sharing the details. Since you mentioned this is a new node, the instance will have only the primary ENI attached and during aws-node initialization IPs won't be assigned to the primary ENI since custom networking is enabled. The secondary ENI will be allocated by the reconciler based on the WARM targets requirement since available IPs will be 0. Before the reconciler thread starts node

[2021-11-05 05:59] chlunde commented on #1644
Sorry for the confusion, the node was terminated by the autoscaler so I reproduced the issue again. As the kubectl commands in the mail show, this time the affected pod was -0 instead of -1.

I'll do some more testing when I get to work today and see if I can run the log collector command on bottlerocket if you need the additional logs it collects.

[2021-11-05 05:59] jayanthvn commented on #1725
This was recently merged to master - https://github.com/aws/amazon-vpc-cni-k8s/pull/1698 which will prevent the exception.

Yes readme is pending update which will be done prior to v1.10.0 release.

/cc @achevuru

[2021-11-05 06:20] achevuru commented on #1725
@johngmyers These changes are not yet released. There will be corresponding CNI manifest and readme updates when we release IPv6 support.

[2021-11-05 08:56] cgchinmay commented on #1644
I am checking the logs, will update my findings. Meanwhile do share the entire logs using eks-log-collector

[2021-11-05 15:06] johngmyers commented on #1725
@achevuru I am aware the changes are not yet released; that is apparent from the lack of tags on the branch. Nonetheless, panicing on lack of required settings is probably something you'd want to backport the fix for prior to release.

[2021-11-05 15:15] johngmyers commented on #1725
I note that returning the actual error instead of a generic "failed to validate configuration" message would be more helpful to diagnosis.

[2021-11-05 16:32] achevuru commented on #1725
@johngmyers Understand what you're trying to say but the problem only arises when someone attempts to use the latest image on an _old incompatible CNI manifest_ (i.e.,) updating the image tag on a v1.9 or v1.8 CNI manifest. If an user wants to upgrade to v1.10 - they would need to apply the v1.10 manifest which will have the required default values required for the new image. Same will be true for

[2021-11-05 20:14] cgchinmay commented on #1644
I checked earlier logs and here's the update
1. I found successful Create and Delete for 4 containers in this pod : prometheus-kube-prometheus-stack-prometheus-0
Not sure why Delete is triggered, something that we need to investigate so need to have entire logs
2. I could not find any entry for prometheus-kube-prometheus-stack-prometheus-0 using vland: 11 as seen in your output.

I did find some g

[2021-11-05 20:52] chlunde opened #1728 "Change e2e tests to IMDSv2 only nodes"
**What would you like to be added**:
Change e2e tests to IMDSv2 only nodes

**Why is this needed**:
Because IMDSv2 is recommended and we need to test for that (which also will work on IMDSv1+v2 setups)

https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/configuring-instance-metadata-service.html
https://github.com/kubernetes/kops/pull/10324/files

Please add label "testing" as requested in the PR

[2021-11-08 20:49] Shreya027 commented on #703
Hi @jaypipes, I am working on this issue and would like more context over the scenarios to consider in routing behavior. Also, for the num ENIs, IPs, instance types scenario, do we need to modify  instance types for different cases as changing the instance type would in turn change num ENIs and IPs ?

[2021-11-09 00:55] jayanthvn commented on #694
1. Scale up to 130 pods (Ref performance script)
2. Run traffic test from the new integration scripts.
3. Upon success, scale down to 0
4. Upgrade to latest CNI
5. Repeat 1-3 steps.

[2021-11-09 09:14] csuzhangxc commented on #796
this PR is still not merged after v1.9.3 was released.

[2021-11-09 11:15] chlunde opened #1733 "Add bottlerocket to test matrix"
**What would you like to be added**:
Run e2e tests on bottlerocket

**Why is this needed**:
Bottlerocket is the best option for running a secure EKS cluster, and as it is an AWS product customers expect first class support from other AWS projects/products.

[2021-11-09 11:35] chlunde commented on #1733
I see they already run weekly:

https://github.com/aws/amazon-vpc-cni-k8s/blob/master/.github/workflows/weekly-cron-test.yml#L61-L73

I added the request because the bug with statefulset + SGP on bottlerocket was not caught in integration tests, but I'll rather add a comment to that PR.

[2021-11-09 11:35] #1733 closed

[2021-11-09 13:15] ruster-cn opened #1734 "Container does not use eni interface"
Using the k8s cluster built by EC2 and the AWS CNI plug-in, we found that the container did not use the Eni network interface as eth0.I checked many places and found no problem. What are the possible reasons for this problem.

![image](https://user-images.githubusercontent.com/58843667/140930210-7a2d2590-47b2-4ad3-bef9-dac99dcc7657.png)
![image](https://user-images.githubusercontent.com/58843667/1