[2022-06-07 00:22] jayanthvn commented on #1425
/not stale

[2022-06-08 22:28] udangel-r7 opened #2003 "Add support for c6id instances"
**What would you like to be added**:
Please add support for c6id instances

**Why is this needed**:
Cluster fails to start new nodes with c6ids. It would be great to have safe defaults so that new instances don't impact the cluster. In our usecase we use karpenter and it will select what ever instances causing the cluster to being unable to scale.

[2022-06-12 00:16] #1936 closed

[2022-06-13 11:33] TBBle commented on #339
This hasn't happened yet per https://github.com/aws/amazon-vpc-cni-k8s/blob/master/pkg/apis/crd/v1alpha1/groupversion_info.go.

[2022-06-13 14:20] jayanthvn commented on #1223
/not stale

[2022-06-14 21:12] jayanthvn commented on #2000
@laupow - Can you please expand more on the use case? Is my understanding correct, you have 4 different flavors of aws-node running on a cluster with different configs? To maintain the configs you would like a guide on setting up multiple instances of helm chart?

[2022-06-14 21:13] jayanthvn commented on #1986
Binary version is updated with v1.11.2 release - https://github.com/aws/amazon-vpc-cni-k8s/pull/1997

[2022-06-14 21:17] jayanthvn commented on #1978
Change log is updated with the latest v1.11.2 release - https://github.com/aws/amazon-vpc-cni-k8s/blob/release-1.11/CHANGELOG.md

[2022-06-14 21:17] #1978 closed

[2022-06-14 21:22] jayanthvn opened #2009 "Update CPU requests to 25m"
**What happened**:

CPU mem requests in release-1.10 is 25m but not cherrypicked to master and release-1.11

**Attach logs**

https://github.com/aws/amazon-vpc-cni-k8s/blob/release-1.10/config/master/aws-k8s-cni.yaml#L213

**What you expected to happen**:
Update CPU requests

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
-

[2022-06-16 13:44] ido-vcita commented on #1425
Just upgraded to EKS 1.21 and updated the aws-node VPC CNI to `1.11.2` and this started to happen...
What is the status here?

[2022-06-16 14:43] jayanthvn commented on #1925
/not stale

[2022-06-16 16:57] ysaakpr commented on #1278
I wasnt using vpc endpoint, even then my security group was restricted too much and i had tried with allowing inbound from all fixed the issue. Now i have to restrict by knowing where this connections are coming

[2022-06-16 17:16] achevuru commented on #1425
@[ido-vcita](https://github.com/ido-vcita) Please check resource utilization (on the nodes) and if required adjust the timeout values for your liveness/readiness probes. With 1.21 exec probe timeouts are honored - https://github.com/kubernetes/enhancements/issues/1972

[2022-06-16 19:42] laupow commented on #2000
Yes, of course.

We have a cluster with 7 different node groups.

4 node groups share the same `aws-vpc-cni` default configuration.
2 node groups have a custom `aws-vpc-cni` configuration that only varies by env var.
1 node group has a custom `aws-vpc-cni` configuration and a collection of `ENIConfig` objects for per-AZ sub
nets/security groups.

I'd love to use the EKS managed add-ons, but last t

[2022-06-17 09:03] elagree commented on #1910
Hello @prateekgogia !

Thanks for reporting this issue.

We've got the same issue on our side with a different use-case.

We are using Kubernetes Service with a custom endpoint to reach some EC2 (mainly for DNS reasons).

With last 1.7 (1.7.10) aws-node version, our application pods are able to reach the EC2 through the Kubernetes Service without any issue.

Since we start working on the upgrade o

[2022-06-17 15:17] sidewinder12s commented on #1425
I've had all recommended settings applied as well and was still seeing this behavior if the node was running hot with workloads. Bumping/setting CPU/memory requests I think helped a bit more  but errors still seem to crop up (we have 1000s of nodes we scale in and out daily).

[2022-06-18 00:23] bryantbiggs commented on #1447
Not stale

[2022-06-19 07:51] TBBle commented on #796
#1352 was closed unmerged

but I don't see any change for the CRI socket read being removed in that release. I do see #1958 which looks like it was preparing to support not reading from the CRI socket, but did not itself make that change.

[2022-06-20 13:25] anguslees commented on #1397
(noise comment to reset the stale counter)

[2022-06-20 15:40] kutsyk opened #2011 "After upgrading Kubernetes version to 1.20.11 container for aws-cni doesn't start"
**What happened**:

We use kops to configure Kubernetes clusters on EC2 instances. After upgrading kubernetes from `1.19.15` to `1.20.11`, we executed usual `kops rolling update` and as result nodes don't come up cause `aws-node` container is failing.

[code]

**Attach logs**
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything els

[2022-06-21 00:43] jayanthvn commented on #1967
/not stale

[2022-06-21 00:44] jayanthvn commented on #1965
/not stale

[2022-06-21 00:44] jayanthvn commented on #1815
/not stale

[2022-06-21 00:44] jayanthvn commented on #1649
/not stale

[2022-06-21 00:44] jayanthvn commented on #1451
/not stale

[2022-06-22 18:18] lamebear commented on #1790
This is also an issue when running linkerd v2.11.x. They have a `postStart` lifecycle hook that waits for the `linkerd-proxy` container to be ready, but it seems like the `linkerd-proxy` container never starts. The hook just times out, the container restarts, and then everything works fine.

[2022-06-22 23:44] KIVagant commented on #1425
Our setup:
- EKS 1.22 based on the official AMI
- CNI is installed using the Helm chart
- A separate role is created with two policies: `arn:aws:iam::aws:policy/AmazonEKS_CNI_Policy` and `arn:aws:iam::aws:policy/AmazonEC2ContainerRegistryReadOnly`
- `ENABLE_IPv6: "false"`, `ENABLE_IPv4: "true"` set from the Helm chart values
- OIDC [is installed](https://docs.aws.amazon.com/eks/latest/userguide/en

[2022-06-23 02:07] KIVagant commented on #1425
Thank you, @achevuru . Today I learned [how to troubleshoot the CNI](https://github.com/aws/amazon-vpc-cni-k8s/blob/master/docs/troubleshooting.md). It turned out the Role ARN was incorrectly configured. 🤦

[The line](https://github.com/aws/amazon-vpc-cni-k8s/blob/master/charts/aws-vpc-cni/values.yaml#L93) has a mistake. Instead of this:
[code]

it must be this (added `role/`):

[code]

[2022-06-25 06:25] msa21 opened #2017 "AWS-VPC CNI is wasting a lot of IPs, what to do ?"
As we all know AWS-VPC-CNI waste a lot of ip addresses during allocation and deallocation of pods and that is why our Production cluster is full of ip limit exhaustion alerts . Now as of now we can not add more subnet as the existing subnets are not being used efficiently so is their any way to tackle this issue.

Note : Custom networking, assigning prefixes is currently going through a lot of bug

[2022-06-25 07:07] achevuru commented on #2017
@msa21 Can you elaborate on what you mean by wasting IP addresses during allocation and deallocation? VPC CNI will only use IP addresses based on pod density on the instance/node and how you configured your WARM/MIN IP and ENI targets. Please refer to README on how these env variables influence how many IPs or Prefixes VPC CNI keeps in it's cache and you can adjust them accordingly based on your n

[2022-06-25 19:07] msa21 commented on #2017
Hi @achevuru  @jayanthvn

I can explain the ip wastage by amazon aws-vpc-cni but then i found this to the point explanation which is explaining the exact issue in the best possible way, please visit this once :

https://medium.com/compass-true-north/experiences-for-ip-addresses-shortage-on-eks-clusters-a740f56ac2f5

[2022-06-25 22:48] achevuru commented on #2017
@[msa21](https://github.com/msa21) Thanks for sharing the blog post. I refer back to my previous response where I indicated that number of IPs VPC CNI will hold in it's cache (warm pool) is entirely controlled by the user (i.e.,) you should be able to pick appropriate values for WARM/MIN IP and ENI targets that suits your use case. VPC CNI manifests come with certain defaults for these env variabl

[2022-06-27 11:35] dimitarshenkov commented on #1245
Same here CNI plugin version amazon-k8s-cni:v1.10.1-eksbuild.1

[2022-06-28 01:26] m-barthelemy commented on #1160
/reopen

[2022-06-28 04:33] jayanthvn commented on #595
/notstale

[2022-06-28 04:34] jayanthvn commented on #389
/notstale

[2022-06-28 04:34] jayanthvn commented on #1213
/notstale

[2022-06-28 04:34] jayanthvn commented on #1236
/notstale

[2022-06-28 04:34] jayanthvn commented on #703
/notstale

[2022-06-28 04:34] jayanthvn commented on #652
/notstale

[2022-06-28 04:35] jayanthvn commented on #757
/notstale

[2022-06-28 04:35] jayanthvn commented on #816
/notstale

[2022-06-28 04:35] jayanthvn commented on #1232
/notstale

[2022-06-28 04:35] jayanthvn commented on #884
/notstale

[2022-06-28 04:36] jayanthvn commented on #1277
PR is pending merge.

[2022-06-28 04:36] jayanthvn commented on #1224
/notstale

[2022-06-30 01:08] Garima-Negi commented on #2017
Hi, please redirect me to a better issue/PR for the question:

Does amazon-vpc-cni have support for vpc trunking in c6i and m6i instance types?

Last I checked the vpc-resource-controller was to get a few changes regarding this : [https://github.com/aws/amazon-vpc-resource-controller-k8s/issues/91#issuecomment-1030366732](https://github.com/aws/amazon-vpc-resource-controller-k8s/issues/91#issuecom

[2022-06-30 01:18] jayanthvn commented on #2017
@Garima-Negi - Yes amazon-vpc-cni has support for c6i and m6i - https://github.com/aws/amazon-vpc-cni-k8s/blob/v1.11.2/pkg/awsutils/vpc_ip_resource_limit.go#L137

Which CNI version are you using?

VPC RC 1.1.3 does support c6i and m6i - https://github.com/aws/amazon-vpc-resource-controller-k8s/blob/v1.1.3/pkg/aws/vpc/limits.go

[2022-06-30 20:55] kakarotbyte opened #2019 "Improving CNI metrics to predict and recommend changes to WARM_IP_TARGET, MINIMUM_IP_TARGET based on pod launching delay's cause of ip assignment."
**What would you like to be added**:
additional metrics like
- current WARM_IP_TARGET , MINIMUM_IP_TARGET
- recommended MINIMUM_IP_TARGET,WARM_IP_TARGET
-  Warm IP = current total ip's attached to the node
- Assigned IP's = awscni_assigned_ip_addresses
-  Free IP = Warm IP - Assigned IP's
- Cold IP = awscni_total_ip_addresses - Warm IP

**Why is this needed**:
At the moment VPC CNI out of box set'

[2022-07-04 16:14] leviinz commented on #1245
Not sure if this will help anyone, but might as well comment here as I spent hours trying to debug this annoying error, regardless of knowing that my subnets *do* have enough addresses.

You need to use an instance type that has IsTrunkingCompatible: true in it in this source file: https://github.com/aws/amazon-vpc-resource-controller-k8s/blob/master/pkg/aws/vpc/limits.go

Once you're using a comp

[2022-07-05 21:44] KIVagant commented on #1253
@frimik , could you please share more details about the issues you have met?

[2022-07-06 10:43] frimik commented on #1253
@KIVagant Simply put - chaining aws+linkerd CNIs (out of the box) doesn't (didn't!) work properly.

I'm happy to report I'm now successfully able to run AWS CNI + Linkerd CNI (with my patch for the chaining script logic) and have now gotten rid of our custom aws-vpc-cni+linkerd-cni container.

Discussion and implementation of my final fix for linkerd2-cni:
https://github.com/linkerd/linkerd2/issue

[2022-07-06 12:58] bhargavamin opened #2022 "Issue fetching logs for pods running in different CIDR range under one VPC"
I'm setting up a dual-stack VPC with multiple CIDRS in which I created an EKS cluster using terraform module and self-managed nodes.

I'm facing a very peculiar issue where I can only do a successful `kubectl exec` and `kubectl logs` commands on nodes from a single CIDR range out of 3 CIDRS attached to VPC. I suspect that this issue could be related to iptable rules or vpc cni settings.

CIDR rang

[2022-07-06 16:11] jayanthvn commented on #2022
Hi, cni is responsible only for setting up routing for pod to pod communication or any cni setting won't impact this. Since you have already opened up a case we will look into why kubectl is not working for additional cidrs.

[2022-07-07 18:21] tehmoon commented on #1349
I'm having the same issue with aws inspector. I did fix the permissions by creating the directory and the files prior to being used which seemed to have done the trick. The issue that I'm having is that I'm still not compliant. I have done everything I could think of and it still complains. I understand this is not an error related to this project, but it's the only mention I have found anywhere t

[2022-07-08 19:58] antoninbas opened #2025 "Switching AWS_VPC_CNI_NODE_PORT_SUPPORT to false breaks SNAT for Pods"
**What happened**:
When setting `AWS_VPC_CNI_NODE_PORT_SUPPORT` to false for `aws-node`, SNAT breaks for all Pods for which the IP is assigned from a secondary network interface / ENI.

**How to reproduce it (as minimally and precisely as possible)**:

1) Create a default EKS cluster with a single Node, and use a "small-ish" instance type (so that the primary ENI can support a smaller number of ad

[2022-07-08 23:22] vgunapati opened #2027 "AWS_VPC_K8S_CNI_RANDOMIZESNAT: unbound variable"
**What happened**:
Upgrading CNI from 1.10.2 to 1.11.2 makes CNI crash with the following error
AWS_VPC_K8S_CNI_RANDOMIZESNAT: unbound variable

**Attach logs**
[code]
**What you expected to happen**:

According to [DOC](https://github.com/aws/amazon-vpc-cni-k8s#aws_vpc_k8s_cni_randomizesnat) `AWS_VPC_K8S_CNI_RANDOMIZESNAT` default is `prng`. It should automatically set this default value and not

[2022-07-10 21:18] jayanthvn commented on #2027
Hi,

How did you upgrade the CNI? Since the variable is set by default in the manifest - https://github.com/aws/amazon-vpc-cni-k8s/blob/release-1.11/config/master/aws-k8s-cni.yaml#L181

[2022-07-10 21:22] jayanthvn commented on #2025
Hi,

Thanks for opening the PR for this issue. I assume you are on 1.10.x since k8s version is 1.22 right? Have you tried a similar test on 1.7 branch?

[2022-07-10 21:25] jayanthvn commented on #1969
/not stale

[2022-07-10 21:25] jayanthvn commented on #1901
/not stale

[2022-07-10 21:26] jayanthvn commented on #1900
/not stale, doc update pending.

[2022-07-10 21:26] jayanthvn commented on #1872
/not stale

[2022-07-10 21:26] jayanthvn commented on #1841
/not stale

[2022-07-10 21:26] jayanthvn commented on #1834
/not stale

[2022-07-10 21:27] jayanthvn commented on #1750
/not stale

[2022-07-10 21:27] jayanthvn commented on #1746
/not stale

[2022-07-10 21:27] jayanthvn commented on #1558
/not stale

[2022-07-10 21:27] jayanthvn commented on #1363
/not stale

[2022-07-10 21:28] jayanthvn commented on #1306
/not stale

[2022-07-10 21:28] jayanthvn commented on #804
/not stale, only part fixed.

[2022-07-12 09:54] axelczk opened #2030 "Pods stuck in ContainerCreating due to pull error unauthorized"
We recently switched our cluster to EKS 1.22 with managed node group and since we have sometime this error when container are created. We don't have a fix except replacing the node where the pod try to be scheduled.

[code]

I don't know if it's the right place to ask for this. If this is not, please tell me where I can post this issue.

[2022-07-12 21:07] jayanthvn commented on #2027
PR is safe to be merged. But wanted to confirm on how you upgraded? Since if the upgrade was just the image tag then that is not recommended since we would have introduced new env variables. Ideal way to upgrade is to apply the manifest shared on the release page.

[2022-07-12 21:14] jayanthvn commented on #2022
Since you already have a case opened, we will check fi the CIDR is allow-listed. Will close this issue for now.

[2022-07-12 21:14] #2022 closed

[2022-07-12 21:20] jayanthvn commented on #2000
Thanks @laupow . Please let us know if you need any more information.

[2022-07-12 21:20] #2000 closed

[2022-07-12 22:33] antoninbas commented on #2025
@jayanthvn I am using `v1.10.1-eksbuild.1`. I can test with 1.7. Do you expect a different result?

BTW, I have updated my PR with a unit test (also fixed test failures for existing unit test cases which were introduced by my change).

[2022-07-12 23:06] antoninbas commented on #2025
@jayanthvn I just finished testing with `v1.7.10`. I can confirm that **the problem does not exist with the 1.7 version**.

The IP rules are different for that older version:
[code]

The rules which select a secondary route table (for Pods assigned to secondary ENIs) have an extra `to` clause compared to 1.10. For example:
[code]

Which means that SNATed traffic still hits the `main` route table.

[2022-07-13 08:17] axelczk commented on #2030
I know I'm getting a 401. The real question is why when the node just started it's working and I can pull this image and after some days or hours, it's not working anymore ?

I don't know which service is responsible for this.

[2022-07-13 14:01] bhargavamin commented on #2022
I was able to fix the issue. Its a node AMI config issue.

When you have self managed nodes you need to explicitly mention some parameters for the /etc/eks/bootstrap.sh script so that it can support ipv6 eks cluster.

Adding `bootstrap_extra_args: "--ip-family ipv6 --service-ipv6-cidr fc00::/7"` fixed the issue.

Ref: https://github.com/terraform-aws-modules/terraform-aws-eks/issues/1958

[2022-07-14 20:50] leofernandezg commented on #1724
+1

[2022-07-15 04:45] chathsuom opened #2033 "How to disable ipv6 address from the pod when running containerd in EKS"
**What happened**:
Created an EKS cluster from the console and added a `containerd` enabled node group

[code]

When we starts an Nginx pod it get assigned an ipv6 address
[code]

With docker daemon enabled nodes, pods wasn't getting an ipv6.
[code]

I want to remove this ipv6 address getting assigned as nginx reverse proxy get backends resolves to ipv6.

**Environment**:
- Kubernetes version (use

[2022-07-18 22:20] varunpalekar commented on #1847
I also face above issue, but in my case I am using custom kube-proxy image.
But when I reverted to default kube-proxy image and restart aws-node pods, all things works fine.

Why aws-node ipamd not giving any error related to communication if issue is with kube-proxy 🤔

[2022-07-19 11:44] trallnag commented on #1847
Had a similar issue yesterday. AWS Systems Manager applied a patch to all of our nodes. This patch required a reboot of the instances. All instances came up healthy, but on three out of five the network was not working basically making the cluster unusable. Investigation lead me to issues like the one here or this [AWS Knowledge Center entry](https://aws.amazon.com/premiumsupport/knowledge-center/

[2022-07-19 22:31] vikasmb commented on #2033
@chathsuom

Docker daemon disables ipv6 link-local addresses in pod unless docker IPv6 configuration is enabled - https://docs.docker.com/config/daemon/ipv6/

In case of containerd, `fe80::b87c:cbff:fe82:e1be/64` is a link-local IPv6 address to which the application should not be listening to. If change of application behavior is not feasible, an alternative is to run an init-container to execute

[2022-07-20 18:10] inge4pres commented on #1847
Hey all 👋🏼 please be aware that this failure mode happens also when the **IPs for a subnet are exhausted**.

I just faced this and noticed I had mis-configured my worker groups to use a small subnet (/26) instead of a bigger one I intended to use (/18).

[2022-07-20 18:11] vikasmb commented on #2033
Closing this issue based on the above mentioned conversation.

[2022-07-20 18:11] #2033 closed

[2022-07-20 19:35] jayanthvn opened #2035 "Add metrics for Describe calls and other EC2 API Calls in CNI Metrics helper"
**What would you like to be added**:
CNI Metrics helper today includes metrics around ipamd datastore - https://github.com/aws/amazon-vpc-cni-k8s/blob/master/pkg/ipamd/ipamd.go#L177-L230. It would be good to add metrics for all the EC2 calls made by IPAMD and expose it with CNI Metrics helper.

**Why is this needed**:
This would give better UX and easy access to number of EC2 calls made per node.

[2022-07-20 19:49] sidewinder12s commented on #2035
Currently users have to contact AWS Support to get these enabled on the AWS side rather than directly from the CNI: https://docs.aws.amazon.com/AWSEC2/latest/APIReference/monitor.html

[2022-07-21 09:31] EladGabay commented on #1223
Hi, any update here?
Thanks

[2022-07-21 13:55] jayanthvn commented on #1223
https://github.com/aws/amazon-vpc-cni-k8s/pull/1927 mitigates the issue to certain extent. But we are actively working with EC2/VPC team on fixing the backend calls.

[2022-07-25 20:59] aglover-zendesk opened #2041 "issue with data_store.total value while enabling prefix delegation"
**What happened**:

Shortly after setting `ENABLE_PREFIX_DELEGATION` to true, the `awscni_total_ip_addresses` metric started showing very low values (and even negative values for many nodes, see screenshot below). This occurred while the underlying nodes had a mix of /28 IP prefixes and "normal" secondary IPs that were provisioned and attached before enabling prefix delegation.

![image](https://u

[2022-07-25 21:19] jayanthvn commented on #2041
I think the issue is because we decrement the total here - https://github.com/aws/amazon-vpc-cni-k8s/blob/c7443ae30f40037adaa997c26b66fc5912737958/pkg/ipamd/datastore/data_store.go#L1224 and decrement again here https://github.com/aws/amazon-vpc-cni-k8s/blob/c7443ae30f40037adaa997c26b66fc5912737958/pkg/ipamd/datastore/data_store.go#L655 while force deleting the secondary IP because we are in PD mo

[2022-07-25 21:34] aglover-zendesk commented on #2041
wow that was crazy fast, thanks @jayanthvn

[2022-07-25 22:12] jayanthvn commented on #2041
To prove the theory, I quickly tried it out and indeed that is the issue. I did hit the v1/enis endpoint ->

1 secondary IP and 1 prefix -> Total = 17

[code]

After deleting the pod -> Total = 15
[code]

[2022-07-27 14:58] leofernandezg opened #2045 "Node can't assign IPs for pods that haven't a specific security group attached"
**What happened**:

My EKS Node can't assign IPs, but I have IP Addresses available in my subnets.
I'm using Security Groups for pods in a Private EKS Cluster with EC2.

1- I'm using m5.4xlarge that using the [max-pods-calculator script](https://docs.aws.amazon.com/eks/latest/userguide/choosing-instance-type.html#determine-max-pods), should be `110 pods`:

`% ./max-pods-calculator.sh --instance-ty

[2022-07-28 03:01] Haebuk opened #2046 "Connect RDS on EKS pod sometimes failed"
**What happened**:

eks cluster and rds (mysql) cluster are in **same** vpc.
I added my eks security group(eks-cluster-sg-MYCLUSTERNAME-*) to rds security group's inbound rule (port 3306)
I found rds connection sometimes succeed but sometimes failed. (it is timeout error)
I set timeout seconds to 300s, so I think it's not matter.
It has some weird pattern. When connection success, it tooks < 1 sec

[2022-07-28 08:21] #2030 closed

[2022-07-29 05:49] jayanthvn commented on #2045
@leofernandezg - It cannot be related to the PR pointed out since here custom networking is not enabled and SGPP is enabled. For Branch ENI pods VPC resource controller allocates Branch ENI/IP and not IPAMD.

 Can you please share the describe output of one of the pods which are stuck without IP and the SecurityGroupPolicy?

[2022-07-29 05:52] jayanthvn commented on #2046
@Haebuk - Can you please open a support case? Support team or the service team will be able to verify if it is the VPC issue or the RDS issue. If CNI pod networking is an issue we should see the failure always.

[2022-07-29 12:32] leofernandezg commented on #2045
Hi @jayanthvn , Thanks you for your response, here the output:

`% k describe pod newrelic-bundle-nrk8s-kubelet-8lncl -n newrelic-system`

[code]

[2022-07-29 15:48] jayanthvn commented on #2045
@leofernandezg - sure, then these are not Branch ENI pods. Can you email the logs (`sudo bash /opt/cni/bin/aws-cni-support.sh`) to k8s-awscni-triage@amazon.com?

Also how many nodes you have on this subnet? Is the subnet shared with cluster which has prefix delegation and secondary mode?

[2022-07-29 16:42] leofernandezg commented on #2045
@jayanthvn , Email sent.

I have 4 nodes in that subnet (all with similar quantity of pods).
I that VPC and subnets I have just this cluster

[2022-07-29 18:27] jayanthvn commented on #2045
Thanks will look into it.

[2022-07-29 18:33] jayanthvn commented on #2045
Looks like there is not space to carve a /28 prefix -

[code]

[2022-07-29 19:08] jayanthvn commented on #2045
Can you open a support case? We will involve the VPC team to check if the subnet is fragmented.

[2022-08-01 03:43] jayanthvn commented on #1756
/not stale

[2022-08-01 08:55] cdemonchy opened #2048 "ip rule leaked under some conditions"
Hi,

**What happened**:

Sometimes the ip rule  associated to a pod are not deleted when the pod is deleted. The leaked rules are never deleted but the ip is free in the ipam.

The ip can be reallocated on another node in the cluster. When this happens, the pods on the node with the leaked rules can't reach the pod with the reallocated ip.

We've the case when cluster autoscaler fails to evict a n

[2022-08-01 17:32] jayanthvn commented on #2048
Hi @cdemonchy , We will land here [cni.go#L364](https://github.com/aws/amazon-vpc-cni-k8s/blob/21f39eeca2d8a19dcd5069a8ee7811f5a924b16e/cmd/routed-eni-cni-plugin/cni.go#L364). because of https://github.com/aws/amazon-vpc-cni-k8s/blob/21f39eeca2d8a19dcd5069a8ee7811f5a924b16e/cmd/routed-eni-cni-plugin/cni.go#L360 which is because the IPAMD state file is missing the container. One possible cause is,

[2022-08-01 19:36] cdemonchy commented on #2048
I forgot to send the log, I've just sent them.

[2022-08-01 21:54] fernandesnikhil opened #2049 "Pod IP address assignment slow/stuck"
**Describe the Bug**:
Pods using the Security Groups for pods feature remain stuck in the `ContainerCreating` status waiting for an IP address to be assigned. We notice the pods do not have an IP address assigned and the most recent event on the pod is like the following:
[code]

**Observed Behavior**:
Pods using the Security Groups for pods feature are stuck waiting in excess of 10 mintues for IP

[2022-08-03 15:51] mariadb-SumedhWale commented on #1327
@jayanthvn We are having a similar issue with secondary ENIs not being routable from outside using Elastic IPs.

Our use-case is pretty simple: we have no use of a LoadBalancer and even if required the nginx container will take care of it. This allows us to reduce the unnecessary cost of a LoadBalancer. Routing to services within is handled by this container (so effectively is a custom Ingress con

[2022-08-04 22:46] DerekTBrown opened #2056 "Unable to allocate IPs"
We are using the `cni` plugin as part of our Kubernetes deployment. We are seeing an issue where the VPC/ENI have adequate IP addresses, but `cni` is returning an error indicating that no IP addresses are available:

https://gist.github.com/DerekTBrown/9fd4f5032102afef66e26e18cd918105

Would you be able to help troubleshoot?

[2022-08-04 23:11] cgchinmay commented on #2056
Could you run [eks-log-collector](https://github.com/awslabs/amazon-eks-ami/tree/master/log-collector-script/linux) and send your logs to [k8s-awscni-triage@amazon.com](mailto:k8s-awscni-triage@amazon.com)

[2022-08-07 16:40] mariadb-SumedhWale commented on #1327
Update on this: I gave up on using secondary ENIs for the elastic IPs which caused some trouble or other. Now using primary ENIs with the pod startup script taking care of assigning a new elastic IP to the previous node in case the deployment relocates the pod to another node (else the previous node will get kicked out from EKS cluster). Also added a CronJob to clean up unallocated elastic IPs in

[2022-08-09 17:29] jayanthvn commented on #2056
@DerekTBrown - Sorry for the delay. Do you have a pod churn or short lived pods in your cluster? Since I do see you have warm ip target set to 2 and since there is a pod churn the IPs are getting incrementally added which is not fast enough for the churn leading to IP address assignment error.

[code]

Recommendation with pod churn is to use warm eni target -

[code]
Ref : https://github.com/aws/a

[2022-08-11 22:31] DerekTBrown commented on #2056
@jayanthvn would setting `ENABLE_PREFIX_DELEGATION=True` help us with this situation as well (assuming we are allocating a sufficient prefix)?  I am trying to understand the tradeoffs between `ENABLE_PREFIX_DELEGATION=False` and `ENABLE_PREFIX_DELEGATION=True`.

[2022-08-12 07:08] DavidHe1127 commented on #1910
Our issue looks very similar to yours @elagree. We have a service without specifying selector to pick pods as backends but rather hooking it up to a custom endpoint. The endpoint points itself to a public IP of an EC2 where there is a simple node server running.

Curl from a pod inside the cluster showed the conn is timed out. However, curling to the public IP without going through service works t

[2022-08-12 19:10] TaiSHiNet commented on #1847
Also: Check you have the right security group attached to your nodes

[2022-08-15 04:13] DavidHe1127 commented on #1910
It turned out something to do with our particular ns where the networking isn't configured to allow the traffic to hit external destination. Sorry for the false alarm.

[2022-08-15 19:04] JingmingGuo opened #2061 "Request NET_RAW Capabilities"
**What would you like to be added**:
Request NET_RAW capabilities in aws-vpc-cni.yaml.

**Why is this needed**:
Linux NET_RAW capabilities let us use RAW and PACKET sockets; bind to any address for transparent proxying which is quite powerful. Our application request NET_RAW capabilities that calls
iptables, which opens up a SOCK_RAW netlink socket to configure
netfilter settings. It's likely the

[2022-08-15 21:44] jayanthvn commented on #2056
@DerekTBrown Yes enabling prefix delegation will mitigate it to some extent. For example, if WARM IP TARGET = 2 and we have a single prefix with 14 used IPs attached to the ENI, we will have 2 IPs free which satisfies the WARM IP TARGET of 2.

Now if there is pod churn and ENI has more space to attach prefixes, 2 pods will get the IPs but the remaining pods will need a new prefix and that will add

[2022-08-15 21:57] jayanthvn commented on #2048
Ideally when the aws-node restarts we will have to clean up the rules associated with free IPs if one exists.

[2022-08-15 21:59] jayanthvn commented on #2049
I will be moving the issue to VPC RC repo since we need to check on the RC side if there is any throttling.

[2022-08-15 22:09] jayanthvn commented on #2046
Hi, please open a support case and VPC flow logs will be useful when the timeout happens.

[2022-08-15 22:09] #2046 closed

[2022-08-15 22:11] jayanthvn commented on #2027
Thanks for confirming. PR lgtm.

[2022-08-15 22:12] #2027 closed

[2022-08-15 22:16] jayanthvn commented on #2009
Updated - https://github.com/aws/amazon-vpc-cni-k8s/blob/v1.11.3/config/master/aws-k8s-cni.yaml#L217

[2022-08-15 22:16] #2009 closed

[2022-08-15 23:01] #1834 closed

[2022-08-15 23:01] #1872 closed

[2022-08-16 02:00] Haebuk commented on #2046
ok, I will. thank you :)

[2022-08-16 15:57] cdemonchy commented on #2048
We managed to mitigate the issue by updating cluster auto scaler configuration to not evict daemonset pods. We didn't have leaked rules since the update.

aws-node is not evicted by cluster autoscaler and don't restart. This confirm that the problem occurs when pod are deleted during a restart of aws-node.

Regards,

[2022-08-16 19:17] doctorpangloss opened #2065 "Windows containers stuck in ContainerCreating when many are scheduled on the same node at once, "Failed to create pod sandbox"
**What happened**:

From the pods stuck in ContainerCreating:
[code]
**Attach logs**

Logs have been sent with AWS case ID 10328164281

**What you expected to happen**:
I should be able to start containers on Windows
**How to reproduce it (as minimally and precisely as possible)**:
Create a deployment with N - 1 replicas (e.g. 8) tainted to not schedule. Observe they are now pending. Add a Windows

[2022-08-16 20:22] jayanthvn commented on #2065
aws vpc cni plugin doesn't manage windows node. Porting it to VPC RC repo for further triage.

[2022-08-16 20:32] DerekTBrown commented on #2056
@jayanthvn related; we install CNI via a Terraform `aws_eks_addon`. Is there a best practice way to set environment variables (ex. `WARM_IP_TARGET`) using these?

The approach I have been able to find involves a local command, which seems hacky:

https://github.com/terraform-aws-modules/terraform-aws-eks/issues/1385#issuecomment-938663671

[2022-08-17 02:53] minuki commented on #853
Sorry to comment on closed issue but could you please help me to understand above table especially for p3dn.24xl with WARM_IP_TARGET=5 and MINIMUM_IP_TARGET=2?

For 2nd and 3rd row, **Attached Secondary IP**s seems to be 8 and 15 respectively for me but don't understand how could be 5 and 12.

Instance type | WARM_ENI_TARGET | WARM_IP_TARGET | MINIMUM_IP_TARGET | Pods | Attached ENIs | Attached Se

[2022-08-17 03:12] jayanthvn commented on #853
It looks like the assumption is there is just 1 attached ENI hence all IPs will be attached. I feel it can better represented so will update it.

[2022-08-17 14:30] SizZiKe commented on #1901
bump

[2022-08-17 18:35] ankitjain28may commented on #1397
Hey folks, Do we have any way to migrate to contained from dockershim without facing any downtime? we are managing our k8s cluster using kops.

[2022-08-18 19:16] mkohner-repay opened #2067 "Release notes references incorrect URL for applying release"
The release notes for amazon-vpc-cni-k8s releases have the wrong url for applying the release.

See [v1.11.2](https://github.com/aws/amazon-vpc-cni-k8s/releases/tag/v1.11.2)

*To apply this release:*

`kubectl apply -f https://raw.githubusercontent.com/aws/amazon-vpc-cni-k8s/release-1.11/config/master/aws-k8s-cni.yaml`

The URL will pull the latest version of `aws-k8s-cni.yaml` from the `release-1

[2022-08-18 19:19] jayanthvn commented on #2067
Yes it should have been based of the tag. I will update it. Thanks.

[2022-08-18 22:17] jayanthvn commented on #2067
I have updated the release page for release-1.10 and release-1.11. Except for v1.10.3 release since the manifest was updated after tagging.

[2022-08-18 22:17] #2067 closed

[2022-08-22 13:26] JRemitz commented on #1398
For posterity, anyone else ending up here it may be important to catch all "pre-" hooks:
[code]
[Helm Hooks](https://helm.sh/docs/topics/charts_hooks/#the-available-hooks)

[2022-08-23 03:14] DerekTBrown commented on #2056
@jayanthvn this doesn't appear to fix the issue. We still see failure to assign IPs with tons of available IPs:

[code]

[2022-08-23 05:21] jayanthvn commented on #2056
@DerekTBrown Are you available on K8s slack? we can setup a call and discuss on the configs.

[2022-08-23 18:38] DerekTBrown commented on #2056
I think I have found the root cause. This little line probably should have stood out as odd:

[code]

Disabling IPv6 networking in the container seems to have fixed the issue.

[2022-08-24 00:05] DerekTBrown commented on #2056
@jayanthvn our EKS cluster is configured to be IPv4-only. Any ideas why this could be happening?

The container itself is just Ubuntu 22.

[2022-08-24 01:08] jayanthvn commented on #2056
I have pinged you on K8s slack will setup a time to discuss.

[2022-08-25 20:03] igreg opened #2069 "Can ENIs tags be defined at pod level?"
**What would you like to be added**:

Could ENI tags be defined at the pod level to make tagging more dynamic?
e.g. to set a tag on the ENI that show the name of the pod/deployment that is using the ENI?
It would be nice we could use pod _annotations_ or _labels_ to add tags.

**Why is this needed**:

Having ENIs being tagged with different tags/values would help identify the ENIs used by a specif

[2022-08-26 09:12] stevehipwell opened #2070 "Support `ecr-fips` endpoint in Helm chart"
**What would you like to be added**:
I'd like to be able to use the `ecr-fips` [ECR endpoint](https://docs.aws.amazon.com/general/latest/gr/ecr.html) without needing to completely override the image values. My prefered implementation would be to add `image.repository` to combine with `image.tag`, as found in the other AWS charts, with a lower precedence than `image.override`.

**Why is this needed

[2022-08-26 09:49] aravindhkudiyarasan opened #2071 "Expose metrics for cni-metrics-helper for prometheus to scrape it"
**What would you like to be added**: Kindly expose metrics for [cni-metrics-helper](https://github.com/aws/amazon-vpc-cni-k8s/tree/master/cmd/cni-metrics-helper)

**Why is this needed**: Currently prometheus is unable to scrape metrics from cni-metrics-helper. hence cannot view cni related metrics in prometheus

[2022-08-29 11:24] tejaswinibussety commented on #613
Hey,
So we ran into similar issue since us-west-2 is disabled using AWS SCP and our nodes were not able to join the cluster. The reason being image pull failed for the code pods which are expected to be running, I see us-west-2 seems to be hardcoded although these images are shared across all regions. Is there a reason as why image from the same region is not used instead of going to us-west-2?

I

[2022-08-29 18:06] julianogv commented on #1910
Hi @DavidHe1127, I'm having the same issue here, pods on public subnets are not being able to reach external (internet) addresses, only addresses inside the VPC. What do you mean by "particular **_ns_**"? Maybe your solution might help me as well.

[2022-08-31 21:19] olileach opened #2072 "Ability to set VPC CNI configuration per instance type or per ASG"
**What would you like to be added**:

Currently, MINIMUM_IP_TARGET and WARM_IP_TARGET configuration for the VPC CNI is a global setting and is applied to all instances deployed via kubernetes, regardless of whether these nodes are deployed via mechanisms like the Kube API, CFN, CloudFormation, EKSCTL, Cluster Autoscaler or Karpenter etc.

However, these global settings do not make sense when insta

[2022-08-31 21:34] jayanthvn commented on #2072
Hi,

Thanks for filing the feature request, we already have one open - https://github.com/aws/amazon-vpc-cni-k8s/issues/216

Thanks!

[2022-09-01 11:40] Ullaakut opened #2073 "IPAM-D starts without errors but is unreachable"
**What happened**:

When following [this guide](https://www.golinuxcloud.com/setup-kubernetes-cluster-on-aws-ec2/) I came across a different result than what is expected:

* Running `kubectl -n kube-system get pods` shows that the AWS node is in a crash loop.
* Running `kubectl logs aws-node-k4ssn -n kube-system` shows that the node is stuck logging `Retrying waiting for IPAM-D` forever.
* IPAM-D

[2022-09-02 09:18] BaluPandit opened #2074 "error creating cert manager: Get "https://172.20.0.1:443/api?timeout=32s": dial tcp 172.20.0.1:443: i/o timeout"
Hi,

Getting below error in cert-manager-cainjector pod
After adding CNI configurations getting the error.
before adding CNI configuration, pod was getting creating successfully. after adding the config, pods are not able to connect to API server. Kindly let me know if any configurations should be added/changed

**Details::**
Cert manager version:: 1.5.4
AWS EKS version: 1.21

**CNI configuration:

[2022-09-05 08:14] achevuru commented on #2073
@Ullaakut `Retrying waiting for IPAM-D` indicates that IPAM-D failed to bootstrap successfully. We would need IPAMD logs to look in to it further. Do you have the required [IAM Policy](https://github.com/aws/amazon-vpc-cni-k8s/blob/master/docs/iam-policy.md) applied either via IRSA or NodeInstanceRole? Also, are you able to reach out to API Server from your nodes?

[2022-09-05 11:11] Ullaakut commented on #2073
@achevuru The logs seem to be a loop of the following sequence:

[code]

As for the IAM policies, I simply ran the following script: https://raw.githubusercontent.com/errm/k8s-iam-policies/master/setup.sh

No I cannot reach the API server from my nodes, but I assumed that it was a consequence of the IPAMD not starting and not the reason for it?

[2022-09-05 11:23] vadim-a-nesterov opened #2075 "aws-vpc-cni: CRDs needs to be in crds folder"
Hi,

we having issues with installing aws-vpc-cni and having race condition with ENIConfig CRDs, because helmwave is trying to create CRDs before CRD definition is applied.

The aws-vpc-cni chart should be fixed, CRDs must be in separate folder like here
[](https://github.com/aws/eks-charts/tree/master/stable/appmesh-controller/crds)

[code]

[2022-09-05 21:08] achevuru commented on #2073
As called out above, it appears that you're pointing to an incorrect CRI socket in your CNI spec. If you're using `containerd`, you need to adjust the CNI daemonset spec accordingly. You can refer here - https://github.com/aws/amazon-vpc-cni-k8s#container-runtime for additional details.

To answer the other question, CNI only sets up Pod networking and doesn't play any part in setting up connectiv

[2022-09-06 21:11] jayanthvn commented on #2075
Thanks, we will update and also update the installation doc to install CRDs and then run helm upgrade.

[2022-09-06 21:14] jayanthvn commented on #2074
@BaluPandit - I assume you have added secondary CIDR. That might have not been allowlisted yet. Can you please open a support ticket and service team will be able to allowlist the new CIDR.

[2022-09-06 21:27] jayanthvn commented on #2069
This will need CreateTag permission (existing CNI permission has it) but we are evaluating to remove additional permissions to improve the security posture of aws-node. Along with this DeleteTag permission needs to be added.

This will incur higher EC2 calls since with PD, pod scale increases 16 times per secondary IP per ENI and the EC2 calls have to made for reach pod create and delete.

[2022-09-06 22:30] exander77 opened #2078 "How to set separate outgoing (and possibly incoming) IP address for pods?"
I want some of the pods to use different outgoing IP. I have set up separate ElasticIP and Gateway, how can I set pods to use it?
Some ability to set route table for pod/namespace?

[2022-09-07 12:54] BaluPandit commented on #2074
@jayanthvn Thanks :) after adding secondary CIDR to security groups, issue got resolved.

[2022-09-07 12:54] #2074 closed

[2022-09-08 20:01] sahilbadla opened #2079 "aws-node container failing to restart with SELinux enabled"
**What happened**:

aws-node container is having problems restarting after SELinux enforcing mode is applied. This happens because the file '/host/etc/cni/net.d/10-aws.conflist' was created by an older container(first aws-node container on the node) with a different context than the new container initializing. That puts the new container in CrashLoopBackOff.

Here's an example from one of the node

[2022-09-09 18:55] esidate commented on #1847
For those coming here after upgrading EKS try re-applying the VPC CNI manifest file, for example:
kubectl apply -f https://raw.githubusercontent.com/aws/amazon-vpc-cni-k8s/v1.11.3/config/master/aws-k8s-cni.yaml

[2022-09-11 08:43] dotsuber commented on #2030
Hi, I'm having this exactly issue too after upgrading EKS. Is there any solution to that?

[2022-09-11 13:41] olileach commented on #2072
The https://github.com/aws/amazon-vpc-cni-k8s/issues/216 looks like it is closed. I've also logged a feature request here, too: https://github.com/aws/containers-roadmap/issues/1834

[2022-09-11 17:06] jayanthvn commented on #2072
Thanks @olileach. As discussed offline we will track the issue on containers roadmap.

[2022-09-12 20:15] sidewinder12s commented on #1724
Any updates on PR Progress?

[2022-09-12 20:39] jayanthvn commented on #1724
We had discussed few changes for the PR but couldn't progress because of other commitments. I will take it up next week for changes/review and track it for 1.11.5 or 1.12.0 release. Will provide the release timelines once the PR is merged.

[2022-09-13 06:15] ishabatraa opened #2085 "How to calculate IP address usage at cluster level ?"
We came across one cluster where metric value for awscni_assigned_ip_addresses is greater than awscni_total_ip_addresses. See screenshot below :

<img width="1616" alt="Screenshot 2022-09-13 at 11 34 17 AM" src="https://user-images.githubusercontent.com/113414411/189822696-dbe804b2-c63a-41be-aef5-3e7771a5847c.png">

As per the definition assigned_ip_addresses is the number of IP addresses attached

[2022-09-13 16:28] zbintliff commented on #595
Recently ran into this issue (we think). Can we get this limitation documented somewhere?

[2022-09-13 16:29] jayanthvn commented on #2085
@ishabatraa - What is your CNI version? Have you enabled prefix delegation? Also can you please share the log collector bundle?

You can run the below command on one of the nodes.
[code]

[2022-09-13 16:34] jayanthvn commented on #2078
@exander77 - If I understand correctly you want to attach your own ENIs/secondary IPs and pods should pick them? If so you can set this env variable - https://github.com/aws/amazon-vpc-cni-k8s#disable_network_resource_provisioning-v191. Then when ENIs and IPs are attached, those IPs will be picked from IPAMD and used for pod IPs and route tables will be programmed.

[2022-09-13 18:20] exander77 commented on #2078
I want my pod (several pods) to get separate outgoing IP, i.e. route the traffic through a different interface. I am unsure how could I use that variable? I would assume I somehow attach my ElasticIP to the cluster and to the pod.

[2022-09-13 20:05] mikeinton opened #2086 "IPAM-D fails to start on cluster with Custom Networking & Prefix Delegation enabled"
**What happened**:
New EKS worker nodes from a managed node group never becomes ready, and the aws-node daemonset pod enters CLBO stuck at "Retrying waiting for IPAM-D".

Currently getting help via k8s-awscni-triage@amazon.com distro group so opening up this issue here as a formality.

Also have an AWS Support ticket where it seems that we've been ghosted, no response in 5+ days Case 10736510071.

[2022-09-13 20:13] jayanthvn commented on #2086
@mikeinton - Looks the logger is unable to instantiate and causing restart. There were changes to logger made in 1.11.3. Will try to repro internally and get back to you.

[code]

Can you please try 1.11.2 ?

[2022-09-13 20:31] mikeinton commented on #2086
@jayanthvn - No change after switching to `amazon-k8s-cni:v1.11.2-eksbuild.1`

[2022-09-13 20:31] jayanthvn commented on #2086
I don't think my above assumption about logger is correct, let me try locally and get back.

[2022-09-13 20:58] jayanthvn commented on #2086
I see while trying to access metadata (https://github.com/aws/amazon-vpc-cni-k8s/blob/v1.11.3/pkg/awsutils/awsutils.go#L603) there is no reply and eventually aws-node is restarting -

[code]
Around 2 minutes there is a wait -
[code]
On the node can you please share the below o/p?

eni-02549061a341f807c, MAC 02:f0:65:9a:c1:63
[code]

If you are not comfortable sharing here, please email it to [k8s-

[2022-09-13 21:07] mikeinton commented on #2086
@jayanthvn So far it's looking like the first one is going to time out.
[code]

[2022-09-13 21:12] mikeinton commented on #2086
Ah I see, I think your paste had a typo `19.254.169.254` retrying with valid IP.

[2022-09-13 21:14] jayanthvn commented on #2086
Ahh right, I think while copying it got truncated. Correcting it.

[2022-09-13 21:16] mikeinton commented on #2086
All but /ipv4-prefix worked, sending output to [k8s-awscni-triage@amazon.com](mailto:k8s-awscni-triage@amazon.com)

[2022-09-13 21:47] jayanthvn commented on #2086
Local repro with PD and custom networking works fine.

Reg this - "Something seems to break when we attempt to utilize Custom Networking in our VPC/Subnets specifically that we can't quite figure out."

You mean new VPC and subnet with PD and custom networking works fine? You are seeing issues only with existing VPCs and subnets?

[2022-09-13 21:52] mikeinton commented on #2086
@jayanthvn - Correct, new VPC and new Subnets everything works fine.  When we try to fit an EKS cluster enabled with custom networking and prefix delegation into our existing VPC/Subnets, this is where we start seeing this problem.

So far on our end, all the preliminary checks seem to be in order, aws-node daemonset has the updated envars, the eniConfig custom resource in the EKS cluster is creat

[2022-09-13 23:57] jayanthvn commented on #2086
Thanks @mikeinton . Have you tried without custom networking and PD enabled on existing VPC/subnets? Just want to make sure if PD is enabled at VPC level.

[2022-09-14 00:12] mikeinton commented on #2086
@jayanthvn - I have not, was not aware PD needed to be enabled at the VPC/Subnet levels.  If that is the case, that could make sense as we are deploying to old VPC/Subnets that were created years ago prior to PD being enabled by default (which seems like it could be the case on newly created VPC's?)

How would I confirm/check to be sure PD is enabled?  I'm not seeing anything relevant on the VPC o

[2022-09-14 00:26] jayanthvn commented on #2086
Yeah that might be the case but we will reach out to VPC team and confirm on that.

[2022-09-14 05:50] nayanen opened #2087 "Encrypt in-cluster pod traffic in EKS using AWS VPC CNI"
**What would you like to be added**:

Raising the feature at AWS VPC cni level to have a mechanism to encrypt the traffic between pods in EKS.

The current option available is to make use of Nitro instances where the communication between these Nitro instance classes, when the instances are located within the same VPC, is fully encrypted using AES at line-rate speeds. By utilizing these encryption

[2022-09-14 08:42] ishabatraa commented on #2085
We are using v1.10.2.
ENABLE_PREFIX_DELEGATION is set to false.
Attached bundle.
[cnibundle.zip](https://github.com/aws/amazon-vpc-cni-k8s/files/9564370/cnibundle.zip)
[logs-1.zip](https://github.com/aws/amazon-vpc-cni-k8s/files/9564377/logs-1.zip)
[kube-system_kube-proxy-4jbl2_5a1bba3e-bb6f-4fc8-b74a-5765820e8101.zip](https://github.com/aws/amazon-vpc-cni-k8s/files/9564378/kube-system_kube-proxy-

[2022-09-14 23:48] mikeinton commented on #2086
@jayanthvn - Thanks for the debugging call with the rest of the team today, please feel free to close this issue as per the following summary.

- Calls to IMDS and EC2 from the EKS node worked as expected
- aws-node daemonset liveness probe and initialDelaySeconds config increased to prevent restarts/CLBO
- aws-node daemonset pod would continue to log
[code]
- However now the IPAM log on the EC2 n

[2022-09-15 03:10] jayanthvn commented on #2086
@mikeinton - Glad to know issue is fixed :)

[2022-09-15 03:10] #2086 closed

[2022-09-19 15:52] timblaktu commented on #1447
Tagging teammate @vidhyadharm about this "dangling ENI" issue, suggested by @bryantbiggs as root cause for [our vpc deletion issue in eks blueprints](https://github.com/aws-ia/terraform-aws-eks-blueprints/issues/968#issuecomment-1249746379) and [the corresponding vpc deletion issue in aws vpc module](https://github.com/terraform-aws-modules/terraform-aws-vpc/issues/283).

[2022-09-20 21:07] jayanthvn commented on #2087
@nayanen - Ideally it is not the responsibility of the CNI to handle this. Can you please open a request here - https://github.com/aws/containers-roadmap/. Team will evaluate and get back on the component and provide timelines as we plan the roadmap.

[2022-09-20 21:20] jayanthvn commented on #2073
@Ullaakut - Please feel free to open the issue if the issue persists.

[2022-09-20 21:20] #2073 closed

[2022-09-20 21:21] jayanthvn commented on #2072
@olileach - we will provide update on the container-roadmap issue. Closing the issue.

[2022-09-20 21:21] #2072 closed

[2022-09-20 21:30] jayanthvn commented on #2070
@stevehipwell - we are happy to take PR for this and review if you have bandwidth.

[2022-09-20 21:34] jayanthvn commented on #2069
@igreg - Also on a side note, there is a 50 tags limit per resource (https://awscli.amazonaws.com/v2/documentation/api/latest/reference/ec2/create-tags.html) which we would exhaust with prefix delegation.

[2022-09-21 01:56] hiteshghia commented on #1912
Hi I am facing this same issue right now, added the AWS_REGION AND AWS_DEFAULT_REGION manually but still see this in the cni-helper pod :
[code]

[2022-09-21 02:04] hiteshghia opened #2091 "Failed to grab CNI endpoint: the server is currently unable to handle the request"
Followed the instructions [here](https://docs.aws.amazon.com/eks/latest/userguide/cni-metrics-helper.html) to setup cni-metrics-helper. Except that created the resources via our automation tool rather than eksctl.

On inspecting the logs of cni-helper:
[code]

[2022-09-21 03:00] jayanthvn commented on #2091
@hiteshghia - Are you using IRSA? Can you also send your clusterARN to k8s-awscni-triage@amazon.com?

[2022-09-21 03:36] hiteshghia commented on #2091
Yes using IRSA. Will email, thanks!

[2022-09-21 04:47] hiteshghia commented on #2091
Since the vpc cni daemonset pods use hostNetwork, they would use the host/node dns resolver and not the cluster dns (coredns) and in that case the cni-metrics-helper pod wont be able to reach the aws-node:61678?
And looks like thats what the cni metrics helper is trying to do, should that work?

[2022-09-21 09:35] exander77 commented on #2078
If it is this: https://communityinviter.com/apps/kubernetes
Then I just joined.

Basically, I need separate outgoing (and possibly incoming) IP for traffic of a pod (pods).

[2022-09-21 16:46] hiteshghia commented on #2091
Never-mind, I see it is using the restclient from client-go. I have already emailed to [k8s-awscni-triage@amazon.com](mailto:k8s-awscni-triage@amazon.com) as well, please let me know what other info do you need. Thanks.

[2022-09-21 17:16] hiteshghia commented on #2091
Ran a little go script locally doing the same thing as metrics.go is doing:
[code]

And get the same response back:
`panic: the server is currently unable to handle the request (get pods aws-node-ksvqx:61678)`

[2022-09-21 18:00] hiteshghia commented on #2091
Tried with version 1.10.2 version of vpc cni and getting the same issue.

[2022-09-21 18:37] jayanthvn commented on #2091
We tried curl from cni-metrics-helper pod to aws-node on the same node. There is no connectivity issue and we were able to query the metrics. So via API-server there seems to be permission issues can you please double check the IRSA role/permissions for cni-metrics-helper.

[code]

[2022-09-21 18:56] hiteshghia commented on #2091
Tried making all the addons (coredns, kube-proxy and cni) eks managed instead of self-managed and same issue persists.
Also I ran this exact command that metrics.go runs, see [here](https://github.com/aws/amazon-vpc-cni-k8s/issues/2091#issuecomment-1254000449) and it gave the same error. For reference we have another old cluster in the same account and that script worked just fine, talking directl

[2022-09-21 20:51] sidewinder12s commented on #1207
/remove-lifecycle stale

[2022-09-22 07:41] TBBle commented on #339
This hasn't happened yet per https://github.com/aws/amazon-vpc-cni-k8s/blob/master/pkg/apis/crd/v1alpha1/groupversion_info.go.

[2022-09-22 07:42] TBBle commented on #796
#1352 lives again.

[2022-09-23 08:03] Nuru commented on #1223
/not stale

[2022-09-23 17:04] hiteshghia commented on #2091
We found the issue on our side. Since cni metrics helper uses the kubectl pod proxy to get to the aws-node pods metrics endpoint which is served at port 61678, we had to open up that port from the clusters(control plane nodes) security group to the worker nodes security group for EKS.
Closing this issue. Thanks.

[2022-09-23 17:04] #2091 closed

[2022-09-23 18:53] Nuru commented on #1223
@jayanthvn how do we get this marked at "not stale"?

[2022-09-26 13:56] stevehipwell commented on #2070
@jayanthvn I'll open a PR next week when I'm back in the office.

[2022-09-26 14:34] aaronmell commented on #1232
Any idea what the permissions should actually be?

[2022-09-26 18:25] antoninbas commented on #2025
/remove stale

[2022-09-27 21:07] haouc commented on #2087
Since this is out of the scope of VPC CNI, can you open the feature request in the roadmap as jayanthvn@ suggested? We are closing the issue.

[2022-09-27 21:07] #2087 closed

[2022-09-27 21:19] haouc commented on #2071
@aravindhkudiyarasan if you are interested to contribute, you are welcome to create a PR.

[2022-09-27 21:36] jayanthvn opened #2095 "Update documentation for tags value"
**What happened**:

Tags such as  "[node.k8s.amazonaws.com/no_manage](http://node.k8s.amazonaws.com/no_manage)" should have value "true" but there is no documentation.

**Attach logs**

**What you expected to happen**:
Update the expected value for the tags.
n/a

**How to reproduce it (as minimally and precisely as possible)**:
n/a

**Anything else we need to know?**:
N/a

**Environment**:
- Kuber

[2022-09-29 07:27] ishabatraa commented on #2085
Hey Jayanth, Any update on this?

[2022-09-29 11:51] walkley opened #2097 "Packet loss & retransmission in veth network under load testing"
**What happened**:
There was some packets loss and retransmission happened in production environment by tcpdump capture, after narrowed down the issue happened on pod to pod communication, instead of node to node communication, I setup the test environment with iperf testing between 2 pods and noticed similar symptom, steps as following:

1. Create EKS cluster with 2 nodes in single AZ, eksctl con

[2022-09-29 12:15] jacobhjkim commented on #1847
For me, the issue was `policy/AmazonEKS_CNI_Policy-2022092909143815010000000b`
My policy only allowed IPV6 like below.
[code]
I changed the policy like below:
[code]
and it works! 😅

[2022-09-29 15:25] jayanthvn commented on #2085
I did check few sample logs and didn't see any skew -

[code]

Did you at any point toggle between prefix delegation and secondary mode?

[2022-09-30 05:17] william00179 opened #2098 "Images missing from ap-east-1"
Hi,

I am trying to deploy the chart in Hong Kong ap-east-1 and am getting a not found back from ECR. Same deployment is currently working perfectly in other regions so I suspect the containers are not being replicated to ap-east-1

[2022-09-30 05:44] achevuru commented on #2098
Can you share the exact image path+tag that is failing for you?

[2022-10-02 15:02] jayanthvn commented on #1756
/not stale

[2022-10-02 15:41] zhengyongtao commented on #1425
I've had the same problem these two weeks, has someone found a solution?

[2022-10-02 15:42] zhengyongtao commented on #1847
I've had the same problem these two weeks, has someone found a solution?

[2022-10-02 18:24] jayanthvn commented on #1847
Can you please share the last few lines of ipamd logs before aws node restarts?

[2022-10-03 00:41] zhengyongtao commented on #1847
[code]
Event screenshots:

![image](https://user-images.githubusercontent.com/23188362/193483438-0f25272b-859a-40bb-8926-a3eab5bdce99.png)

I used cluster-autoscaler for auto-scaling, k8s version is 1.22, also following the troubleshooting guide https://github.com/aws/amazon-vpc-cni-k8s/blob/master/docs/troubleshooting.md#known-issues and applying the suggestion
`kubectl apply -f https://raw.githu

[2022-10-03 14:07] Jahadul-Rakib opened #2099 "Pod Limit"
**What happened**:

I am faceing issue for pod limitation. I can not overcome this issue. Has there any way in aws-vpc-cni to overcome pod limitation issue. when i use ipv6 its do not restrict me. But i need ipv4 cluster with cni. I used already calico and its can solve problem when use eksctl. but when i try to create cluster using terraform and managed nodegroup then pod limit come again.
How ca

[2022-10-03 21:23] jayanthvn opened #2100 "Remove kube-proxy dependency on startup"
**What would you like to be added**:
Remove kube-proxy dependency on aws-node startup

**Why is this needed**:
The check on API server connectivity is done by aws-node on start-up only and currently we don’t rely on API server but except for custom networking. If the API server connectivity is lost later in the time there is no check until aws-node is restarted.

1.11.0 a retry mechanism was added

[2022-10-04 02:00] zhengyongtao commented on #1425
ipamd log:

[code]

aws-node log:
[code]

Event screenshots:
![image](https://user-images.githubusercontent.com/23188362/193718408-310f4626-2f13-4fca-a2cd-e3a271bf8c77.png)

I used cluster-autoscaler for auto-scaling, k8s version is 1.22, also following the troubleshooting guide https://github.com/aws/amazon-vpc-cni-k8s/blob/master/docs/troubleshooting.md#known-issues and applying the suggestion
k

[2022-10-04 05:39] Jahadul-Rakib commented on #2099
Thanks a lot sir....its solve my problem... please take love and respect from deep breth.

[2022-10-04 15:42] jayanthvn commented on #2099
No problem, please reach out for any questions :)

[2022-10-04 15:55] jdn5126 opened #2102 "Source Environment Variables from ConfigMap"
**What would you like to be added**:
CNI environment variables to be sourced from ConfigMap

**Why is this needed**:
To allow environment variables to persist during CNI upgrade. Current mechanism is to run `kubectl set env` during upgrade.

[2022-10-04 15:55] jdn5126 commented on #2102
Reference #1088

[2022-10-05 17:55] olemarkus opened #2103 "Pods cannot talk to cluster IPs on Ubuntu 2204"
**What happened**:

After upgrading clusters to use Ubuntu 22.04 by default, the kOps e2e tests started failing for this CNI: https://testgrid.k8s.io/kops-network-plugins#kops-aws-cni-amazon-vpc

What seems to happen is that Pods do receive IPs, but they fail to talk across nodes. Calling e.g a ClusterIP service from the _host_ works, but not from a Pod. Kube-proxy therefore should be working just

[2022-10-05 19:14] jayanthvn commented on #2103
This looks similar to this issue - https://github.com/aws/amazon-vpc-cni-k8s/issues/1847#issuecomment-1120371691.

This workaround - https://github.com/aws/amazon-vpc-cni-k8s/issues/1847#issuecomment-1040878745 has helped.

As suggested by @achevuru - Amazon Linux 2 images use iptables-legacy by default as well. We will check and update if there is something we can do to address this scenario.

[2022-10-05 19:24] olemarkus commented on #2103
Let me try that workaround. If it works, I think it would be helpfull if an iptables-nft image could be published. I imagine it wouldn't be too much work to do that.

[2022-10-05 19:27] jayanthvn commented on #2103
Thanks, please let us know if it works.

[2022-10-05 19:46] jdn5126 commented on #2048
@cdemonchy were you previously enabling daemonset eviction? It should be disabled by default

[2022-10-05 19:52] olemarkus commented on #2103
Unfortunately, no luck. The workaround does remove the rules from iptables-legacy and I do see them now in nftables. Pods still cannot talk to cluster IPs.

[2022-10-06 00:06] #389 closed

[2022-10-06 00:06] #509 closed

[2022-10-06 00:06] #703 closed

[2022-10-06 00:06] #757 closed

[2022-10-06 00:06] #884 closed

[2022-10-06 00:06] #1078 closed

[2022-10-06 00:06] #1213 closed

[2022-10-06 00:06] #1224 closed

[2022-10-06 00:06] #1236 closed

[2022-10-06 00:06] #1363 closed

[2022-10-06 00:06] #1558 closed

[2022-10-06 00:06] #1700 closed

[2022-10-06 00:06] #1746 closed

[2022-10-06 00:06] #1750 closed

[2022-10-06 00:06] #1815 closed

[2022-10-06 00:06] #1837 closed

[2022-10-06 07:08] zekena2 commented on #2045
Any updates on this? I've the same problem but I don't enforce Security Groups for pods at all. Should I open a support case as well?

[2022-10-06 08:39] cdemonchy commented on #2048
Hi @jdn5126

The daemonset eviction has been enabled automatically when we've upgraded cluster autoscaler from v1.20.2 and to v1.21.2

To solve our issue we've upgraded to cluster autoscaler v1.21.3 and added the flag `--daemonset-eviction-for-occupied-nodes=false`

[2022-10-06 13:30] cslovell commented on #1245
Any solution yet so far that doesn't involve increasing node sizes?

This is a debilitating problem for us. We previously used GKE for our clusters and moved to AWS recently. The very fact that this is not treated as a serious issue with EKS is revealing about how little interest they have in making EKS attractive to AWS users. We will need to find a solution to this, but it is inconceivable that

[2022-10-06 14:56] jayanthvn commented on #1245
@cslovell - There is an ENI and IP limit per instance type and that dictates the the max IPs per node limits -  https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-eni.html#AvailableIpPerENI. You can enable prefix delegation (https://aws.amazon.com/blogs/containers/amazon-vpc-cni-increases-pods-per-node-limits/) from CNI 1.9.0+ to achieve higher pod density per node - https://aws.amazon.com/

[2022-10-06 17:04] luthermonson commented on #2098
@achevuru I had something similar from a QA tester today, we couldn't find

[code]

All that was set in values.yaml was init.image.region image.region to ap-east-1 and we get this image backoff error...

<img width="1591" alt="Screenshot 2022-10-04 at 10 38 52 PM" src="https://user-images.githubusercontent.com/1616909/194375038-47bbcd2c-48c4-43ba-aa6d-75d67b7ac26d.png">

[2022-10-07 00:07] #1841 closed

[2022-10-07 00:07] #1900 closed

[2022-10-07 00:07] #1932 closed

[2022-10-07 00:07] #1965 closed

[2022-10-08 00:05] #1976 closed

[2022-10-08 00:05] #2003 closed

[2022-10-08 00:36] drakedevel commented on #1967
@jayanthvn this should probably be reopened (unless the planned changes were already made)

[2022-10-09 00:04] #2017 closed

[2022-10-09 00:04] #2019 closed

[2022-10-10 14:08] jayanthvn commented on #2041
/open #2042 is yet to be merged.

[2022-10-10 14:08] jayanthvn commented on #2035
/not stale

[2022-10-12 12:28] marianobilli commented on #1649
@cryptk did you got any progress on this? I have the same use case

[2022-10-12 23:59] charlescurt commented on #284
I am still getting this error on k8 1.22 eks

I have this error when switching my ami version from

ami-06bdb0d00ff41dc6d
to
ami-0abfb3be33c196cbf

None of the fixes above have worked is there a configuration I am missing when moving to newer ami?

[2022-10-18 06:55] olemarkus commented on #2103
Any idea how to progress on this? Anywhere we should look for potential issues?

[2022-10-18 11:05] samjain04 opened #2107 "Can't connect to any service running in aws infra like rds, ec2 instance when using security group for pods"
What happened:
We recently upgraded our eks cluster to 1.21 from 1.20 as well as other add-ons like VPC CNI, Coredns, Kube-proxy and after upgrade our pods are unable to connect our RDS and mongo servers.

But when we remove security groups from pod then they are able to connect.
 Disable_tcp_early_demux  is already set to true
DISABLE_TCP_EARLY_DEMUX:  true
ENABLE_POD_ENI:

[2022-10-18 14:30] jayanthvn commented on #2103
@olemarkus - Sorry for the delay. Since you mentioned pod to pod communication is broken. Wondering if you already verified this, if not can you please run tcp dump on the sender pod host side veth, sender node, receiving node and receiving node host side veth? This should provide context on where the traffic is getting dropped.

[2022-10-18 14:37] olemarkus commented on #2103
As far as I can tell, pod to pod comms works when they are interacting directly. It's pod -> clusterIP that does not work except when the Pod is running in hostNetworking mode.

[2022-10-18 19:12] vd-rd commented on #1847
I am having the same issue applying the v.11.4 update.
For those trying to do this, v1.11.3 and v1.11.4, make sure to substitute EKS_CLUSTER_NAME and VPC_ID with proper values, at least in my case, it didn't work otherwise.

[2022-10-18 19:50] jdn5126 opened #2109 "Move go.mod in test directory to root go.mod"
**What would you like to be added**:
Move `go.mod` in test directory to use `go.mod` in root directory.

**Why is this needed**:
Managing dependencies is easier when they are all defined in one place. This is also closer to Golang recommended organization.

Note that moving `go.mod` will require updating GitHub runners and (potentially) some import paths.

[2022-10-18 20:10] royninja commented on #2109
but go.mod is already in root directory

[2022-10-18 20:39] achevuru commented on #2103
I expect `pod->clusterIP` to work from within the pod if it is working fine from the node (or) `hostNetworking` pod because the DNAT rules that replace clusterIP with one of the backend endpoints are installed in the root(host) network namespace and not inside the pod network namespace.

Were you able to track the packet via `tcpdump`?

[2022-10-18 20:41] jdn5126 commented on #2109
There is an additional `go.mod` in the test directory, which can be removed, and its dependencies moved into the `go.mod` in the root directory.

[2022-10-18 21:12] jdn5126 commented on #2107
@samjain04 what CNI version did you upgrade from? Moving from default mode to standard mode can require recycling of pods. Can you share the logs before recycling and we can take a look?

[2022-10-18 21:28] jdn5126 commented on #2098
@luthermonson `ap-east-1` uses a different account. You can find the correct account for the region from https://docs.aws.amazon.com/eks/latest/userguide/add-ons-images.html

[2022-10-18 21:32] jdn5126 commented on #2097
@walkley this issues does not seem to depend on EKS/CNI, but if you have been unable to resolve this, can you open a support case and we can dig further?

[2022-10-19 00:06] #1986 closed

[2022-10-19 11:01] olemarkus commented on #2103
Right.
To make this simple, I created one pod (A) without host networking and one pod with (B).
Pod A tries to reach pod B behind a clusterIP service. This should minimize the levels of indirection in the networking to reproduce this.

Running tcp dump against A's veth, I see the packets going from pod IP to the service IP. However, tcpdumping any host interfaces, shows no packets coming in from A

[2022-10-19 12:03] samjain04 commented on #2107
@jdn5126 Upgraded from v1.11.0 to v1.11.3 and POD_SECURITY_GROUP_ENFORCING_MODE was standard before upgrade.
Pods were recycled after we starting getting this issue but didn't helped

[2022-10-19 15:01] jdn5126 commented on #2107
I see, do you have the logs from this period? We can take a look, or you can feel free to open a support case if that is easier.

[2022-10-19 16:22] achevuru commented on #2103
So, if I understood it right - Connection to a Pod via ClusterIP from a pod without hostNetworking fails but the same works the other way around?

When you say tcpdump against Pod's veth - Are you referring to the veth interface inside the pod's network namespace (or) the veth interface on the host network namespace? Would you be able to share `iptables` o/p (both NAT and filter) tables with us @

[2022-10-19 18:08] olemarkus commented on #2103
I have not tested from B to A.
I referred to the host side veth interface. Since I saw traffic on the host side, I assumed it had already existed the pod namespace.
I'll send you the output.

Also worth mentioning that this is very easy to reproduce with latest kOps using e.g `--image=099720109477/ubuntu/images/hvm-ssd/ubuntu-jammy-22.04-amd64-server-20220921.1`

[2022-10-20 01:16] achevuru commented on #2103
Interesting, if you see the packet on host side veth then we know it landed on the host network end and now the behavior should be similar to a connection that we initiate from the node. Are there any active network policies on the node? We will check the logs/iptables output once we receive them and will update here.

We will see if we can reproduce with the above image as well.

[2022-10-20 10:00] olemarkus commented on #2103
Sent the iptables output.

Also tried disabling rp filtering on the veth interface, but didn't seem to have much effect.

There are no network policies or similar on the node other than what ubuntu 2204 may be doing by default.

[2022-10-20 14:40] luthermonson commented on #2098
thanks @jdn5126 ! didn't know that

[2022-10-22 00:03] thefirstofthe300 opened #2114 "CNI fails to finish nodeInit() after reboot"
**What happened**:

I am building a new cluster on EC2 with Flatcar Linux using Cluster API. I'm attempting to get the VPC CNI working since it will help alleviate some issues with a current cluster; however, the CNI has been giving me issues. The one I'm currently facing is that the node init never seems to finish. Funnily enough, restarting kubelet seems to fix this issue which I find quite odd.

[2022-10-22 01:04] veshij commented on #2103
troubleshooting similar issue on our cluster. Configuration which works on u20 doesn't work after an upgrade to U22.
So far I found that outbound packets from pods are dropped in kernel, likely [here](https://elixir.bootlin.com/linux/v5.15.74/source/net/ipv4/ip_input.c#L453).

[2022-10-22 02:29] veshij commented on #2103
I think I found the issue.
Looks like cni plugin adds incorrect static arp entry (or veth mac changes later on) inside pod network namespace for 169.254.1.1.

[2022-10-22 03:38] achevuru commented on #2103
@veshij VPC CNI does add a static arp entry for default GW (169.254.1.1 - pointing to host side veth) inside the pod network namespace. So, it is essentially for the host side veth ..

https://github.com/aws/amazon-vpc-cni-k8s/blob/314625892e91ce36fba87211694537071b590c92/docs/cni-proposal.md#inside-a-pod

https://github.com/aws/amazon-vpc-cni-k8s/blob/d43309bdfdb5034df86907944e682d78608ba165/cmd/

[2022-10-22 04:36] veshij commented on #2103
Yes, that's exactly what happens in my system. I can verify that on u22 (running newer kernel) the mac address of host's veth doesn't match arp record inside the pod. And more to say - this mac address is not used on any other interface. Exactly the same cni binary running on u20 (and older kernel) has no issues.

I'm troubleshooting it a bit further. I don't think it's a bug in CNI code, currentl

[2022-10-22 06:02] veshij commented on #2103
testcase (triggers the issue both in AWS and on-prem, kernel 5.15).
doesn't trigger the issue on 5.13.

[code]

[code]

[code]

[2022-10-22 07:12] veshij commented on #2103
Looks like it's udev.
[code]

https://www.freedesktop.org/software/systemd/man/systemd.link.html
[code]

[2022-10-24 11:43] fishyfishphil commented on #924
FYI. Encountering the same issue today. Running from Terraform that works 100% in `ap-south-1` has an issue pulling in `eu-west-1` verified the image URL and tried to pull from other regions too.

[2022-10-24 12:44] fishyfishphil commented on #924
Fixed this by setting values in our helm chart config:
[code]

[2022-10-24 17:15] quadrinho opened #2115 "CNI-Metrics-Helper - Cannot retrieve Metrics"
Hello,
i am trying to use CNI Metrics Helper Chart to retrieve Metrics from the VPC CNI Addon on my EKS Cluster but i recieved this error:

kubectl logs -f cni-metrics-helper-74b9b997b4-8zrcp -n kube-system
{"level":"info","ts":"2022-10-24T17:03:04.843Z","caller":"cni-metrics-helper/main.go:45","msg":"Constructed new logger instance"}
{"level":"info","ts":"2022-10-24T17:03:04.843Z","caller":"runti

[2022-10-24 18:09] jdn5126 commented on #2041
Closing as #2042 has merged

[2022-10-24 18:09] #2041 closed

[2022-10-24 18:21] jdn5126 commented on #2114
@thefirstofthe300 what makes you think the process is hanging at the code section you highlighted? Following the `Starting L-IPAMD` log, the next log entry should be for testing API server connectivity. Did you use `strace` or attach to the process with `dlv` to determine this?

Also, is this reproducible? Can you run the log collection script (`$ sudo bash /opt/cni/bin/aws-cni-support.sh`) the ne

[2022-10-24 18:46] johngmyers commented on #1910
We have what appears to be the same issue, except the pods are on private subnets and the service is backed by IPs in a different VPC, on the other end of a Transit Gateway.

I note that the VPC flow logs show the traffic from pods on the primary ENI has the source IP rewritten to the node's IP. Presumably this is from the iptables rules written by kube-proxy. My suspicion is that packets coming f

[2022-10-24 21:50] veshij commented on #2103
@jayanthvn @achevuru what do you think?

More conventional approach:

* create veth pair in host namespace
* move pod's veth to pod namespace
* sleep a bit to make sure udev is done
* configure pod's namespace with a correct mac address

Another option is to leave almost everything as is:

* create veth pair in namespace
* move host veth to host namespace
* return to host namespace
* sleep a bit t

[2022-10-24 22:01] veshij commented on #2103
Actually I can't even repro with the first approach, will probably implement that.

[2022-10-25 02:43] veshij commented on #2103
``>More conventional approach:``
``>Another option is to leave almost everything as is:``
scratch that.
The more correct configuration which does not require to mess with arp entries and udev:
* configure link-local address 169.254.1.1 on host's veth
[code]
* configure onlink route inside the container:
[code]

[2022-10-25 03:35] veshij commented on #2103
https://github.com/aws/amazon-vpc-cni-k8s/pull/2118

[2022-10-25 07:01] quadrinho commented on #2115
Hello,

can anyone help me? I follow all steps of above official guide but it doesn't work.

Thanks a lot!

Alessio

[2022-10-25 08:16] Tammyxia commented on #2045
I hit this issue too, kuectl describe has error "kubelet            Failed to create pod sandbox: rpc error: code = Unknown desc = failed to set up sandbox container "xxx" network for pod "xxx": networkPlugin cni failed to set up pod "xxx" network: add cmd: failed to assign an IP address to container"

[2022-10-25 10:03] zekena2 commented on #2045
@Tammyxia I don't know about your setup but for me choosing prefix delegation was a bad idea because my subnet was small and nodes consumed all avaliable prefixes really fast + fragmentation was caused by nodes primary IP addresses.

[2022-10-25 14:12] jayanthvn commented on #2045
@Tammyxia - Seems like you are hitting the IP limit. IPAMD logs should call out the reason. We can check the logs too. Can you please email (k8s-awscni-triage@amazon.com) us the logs bundle?

[2022-10-25 15:43] #2098 closed

[2022-10-25 19:01] jdn5126 commented on #2115
Hi @quadrinho , I am investigating this. In the meantime, can you confirm that the `cni-metrics-helper` pod can reach the `aws-node` pod running on the same node? Using
```kubectl exec cni-metrics-helper-XXX -n kube-system -- curl <aws-node-ip>/metrics```

And confirm that you do not have any security policy deployed that prevents control plane nodes from reaching worker nodes (similar to [#2091](

[2022-10-25 20:43] quadrinho commented on #2115
Hello @jdn5126,

i have tried your command but i recieved connection refused (so the connectivity is present):

kubectl exec cni-metrics-helper-55dcc57786-4z5nm -n kube-system -- curl **10.199.120.204**/metrics
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0

[2022-10-25 20:52] jdn5126 commented on #2115
@quadrinho sorry, there was a typo in my message (port was missing). The curl command should be something like:
[code]

I followed the steps in https://docs.aws.amazon.com/eks/latest/userguide/cni-metrics-helper.html and found that it is possible for the `eksctl create iamserviceaccount ...` command to no-op if you previously created that role and associated it with a different OIDC URL.

Can you

[2022-10-25 20:54] jdn5126 commented on #1912
Hi @hiteshghia , are you still facing this issue?

[2022-10-25 20:55] jdn5126 commented on #2115
@quadrinho note that if you change the trust relationships or delete and recreate the role, you will need to restart `cni-metrics-helper` pod as in step 6.

[2022-10-25 22:48] thefirstofthe300 commented on #2114
To close this issue out, my discussion in the Slack channel got me sorted out: https://kubernetes.slack.com/archives/C046G2Y1KUK/p1666290242366029

To summarize what I believe to be the root cause, the routing for the instance was screwed up. The CNI relies on the metadata server and EC2 control plane to configure itself. I fixed the routing to the metadata server but not the EC2 control plane; co

[2022-10-25 23:00] jdn5126 commented on #2114
Glad to see the channel was helpful, thank you for the update!

[2022-10-26 00:27] ps-jay commented on #1910
I agree with this analysis

I've run `tcpdump` on a worker node, and initiated traffic from a Pod that has an IP on the secondary ENI

When traffic is sent to the service IP, the traffic is sent from `eth1` (incorrectly)

When traffic is sent to the IP of the endpoint (not translated via the K8s service), the traffic is sent from `eth0` (correctly)

[2022-10-26 14:19] jdn5126 commented on #2115
@quadrinho glad that resolved your issue! The logging fix will be in the next CNI release (either 1.11.5 or 1.12.0, whichever is decided on). Judging from the existing cadence, that should be released in the next few weeks.

I am also updating the documentation at https://docs.aws.amazon.com/eks/latest/userguide/cni-metrics-helper.html , as the `eksctl` step to create the IAM role can no-op in a v

[2022-10-26 22:14] tanshihaj opened #2120 "IPv6 prefix on pods"
I wonder is there any way to delegate IPv6 prefix to the pod's interface? I have an application that have to listen connections on ~1000 ipv6 addresses and it would be really wasteful to run one pod per address. Currently I have to do it in EC2 instances, which is not very convenient.

[2022-10-27 06:46] Tammyxia commented on #2045
I tried to recreate pod and not reproduced this issue again, now all pods are running.  @jayanthvn  Sorry, I don't know how to get IPAMD log.

[2022-10-27 15:22] jdn5126 commented on #2115
Closing this issue now that the doc has been updated in https://github.com/awsdocs/amazon-eks-user-guide/pull/619

[2022-10-27 15:22] #2115 closed

[2022-10-27 20:05] achevuru commented on #2120
@tanshihaj All the containers in a Pod share the same network namespace (i.e.,) same set of network interfaces, nw stack etc., How are you going to assign a different IP to individual containers in a single pod? CNIs work at pod level. And why do you need all of them in the same pod? All the containers in the same pod can talk to each other via `localhost` as they share the same network namespace

[2022-10-27 22:41] cg-lkusnadi opened #2123 "Pod stuck at Pending, default VPC CNI setting and pod security group enabled"
I'm running EKS 1.22 with default VPC CNI setting (pod and node shares the same subnet) and pod security group is enabled.
When I tried to perform` kubectl rollout restart deploy appname`, the pod stuck at Pending.

The deployment has node selector and toleration so it must be scheduled to a particular node group.
The node group runs on m5a.large EC2 instances.

In the K8s event, I have:
[code]

N

[2022-10-27 22:59] ermiaqasemi commented on #1847
I've had the same problem recently, has someone found a solution?

[2022-10-28 09:24] tanshihaj commented on #2120
As far as I know I do not need to assign different IP addresses to different containers (honestly, I do not know what does 'assign IP to container' mean). Since all processes in all containers inside one pod shares one network namespace I can just add IPv6 address from IPv6 prefix delegated to the network interfaces to this interface and then bind listen socket to this address in container's proce

[2022-10-28 14:57] jdn5126 commented on #2120
@tanshihaj can you elaborate on why this application needs to listen on 1k+ IP addresses? Can the application instead listen on a range of ports and accomplish the same function?

[2022-10-28 16:24] jayanthvn commented on #1397
v1.12 release is out and dockershim is removed from manifest. Closing this issue.

[2022-10-28 16:24] #1397 closed

[2022-10-28 16:58] tanshihaj commented on #2120
It is an SSH proxy application. Each hostname (which SSH connection should be proxied) resolves to one IP address. SSH proxy process listen on 22 port on this IP address and thus know which host should be proxied and know how to authorize access.

It can be done if there will be another proxy that will map (many IPv6 addresses) -> (one IPv6 address + many ports). But it will increase whole system

[2022-10-29 03:43] He-Jingkai opened #2126 "Can I use amazon-vpc-cni-k8s on other clusters"
**What happened**:

I want to use it on my cluster I set up on the physical machine，but I don't know if it's supported.

**Environment**:
- Kubernetes version (use `kubectl version`):
- CNI Version
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):

[2022-10-29 03:50] jdn5126 commented on #2126
@He-Jingkai can you provide more information, i.e. how did you set up the cluster, and everything else required in the environment section of the issue template

[2022-10-29 05:36] He-Jingkai commented on #2126
@jdn5126

Thank you Nelson.
I set up mu cluster using `kubeadm`.

Kubernetes version (use kubectl version):
[code]
OS (e.g: cat /etc/os-release):
[code]
Kernel (e.g. uname -a):
[code]

[2022-10-29 05:47] achevuru commented on #2126
@He-Jingkai AWS VPC CNI will only work with AWS infra (either EKS or Self managed K8S cluster) and doesn't support Overlay mode. So, we can't use it on a cluster outside of AWS.

[2022-10-29 05:51] He-Jingkai commented on #2126
@achevuru Thank you.

[2022-10-29 09:33] #2126 closed

[2022-10-30 00:03] #2011 closed

[2022-10-30 12:03] itay-grudev commented on #1847
@ermiaqasemi From [this](https://docs.aws.amazon.com/eks/latest/userguide/create-node-role.html#create-worker-node-role) tutorial I chose to attach the `AmazonEKS_CNI_Policy` to the `aws-node` service account and I was getting the error.

I decided to try simply attaching it to the ` AmazonEKSNodeRole`, which apparently is the less recommended way to do it, but it works.

[2022-10-31 12:00] He-Jingkai opened #2127 "How to run amazon-vpc-cni-k8s in a self managed cluster on ec2."
I set up my k8s cluster on aws ec2 vm's using kubeadm and tried to use aws-vpc-cni-k8s as the cni plugin using `kubectl apply -f config/master/aws-k8s-cni.yaml`

**What happened**:
The `aws-node` pods keeps in `Init:0/1` status.
logs:
[code]
and `/var/log/aws-routed-eni/` is empty.

**what I have tried**
As I'm using containerd cni, I change `dockerSocketPath = "unix:///var/run/dockershim.sock"` t

[2022-10-31 14:48] jayanthvn commented on #2127
@He-Jingkai - To use containerd, you can update the mount path in DS yaml (Ref : https://github.com/aws/amazon-vpc-cni-k8s#container-runtime) or use CNI 1.12.0 where we remove the dependency on the sock. Seems like IPAMD is not even running. Is kubelet having any errors? You can check here - `journalctl -u kubelet.service > /tmp/kubelet.log`

Also found a this similar to your use case - https://me

[2022-10-31 15:00] ermiaqasemi commented on #1847
@itay-grudev Thanks for share, but in my case I don't think it's realtd to the node IAM roles since the role has already attached to the nodes!

[2022-10-31 15:45] He-Jingkai commented on #2127
@jayanthvn Thank you for your help.
There is no error in Kubelet logs, the only logs it output after I apply the cni is as follows
[code]
Should I do something manually to start ipamd ?

[2022-10-31 16:36] itay-grudev commented on #1847
@ermiaqasemi Did you also try a lower EKS version? Some people specifically reported problems with `v1.11.4`. I created a new cluster with `1.10.4` which is finally working.

[2022-10-31 17:01] ermiaqasemi commented on #1847
By EKS version you meant the CNI version, right? My EKS version is `1.22` and my CNI version is 1.10.2-eksbuild.1`. I didn't have this problem with EKS 1.21. @itay-grudev

[2022-10-31 17:02] achevuru commented on #2127
@He-Jingkai IAM policies required for VPC CNI are documented [here](https://github.com/aws/amazon-vpc-cni-k8s/blob/master/docs/iam-policy.md). VPC CNI also validates API Server connectivity on bootup and if that is not working, it will not be able to move to `Ready` state. Can you also check that from your nodes?

Also, I see some sample busy box pods and coredns pods in running state. How did the

[2022-10-31 17:03] jayanthvn commented on #2127
You need to update here - https://github.com/aws/amazon-vpc-cni-k8s/blob/v1.11.4/config/master/aws-k8s-cni.yaml#L229 and https://github.com/aws/amazon-vpc-cni-k8s/blob/v1.11.4/config/master/aws-k8s-cni.yaml#L242

[2022-11-01 00:04] #1901 closed

[2022-11-01 02:32] He-Jingkai commented on #2127
@jayanthvn I have done that but the problem didn't change.

The apiserver pod is healthy and I ping it successfully.

Yes, I'm trying to replace my cni to aws-vpc-cni-k8s. However, after I switch to a new cluster with two new instances, the problem remains.
[code]

[2022-11-01 19:04] #2061 closed

[2022-11-01 19:04] JingmingGuo commented on #2061
Completed.

[2022-11-01 20:19] #2025 closed

[2022-11-01 21:04] achevuru commented on #2127
@He-Jingkai Can you share node logs with us @ k8s-awscni-triage@amazon.com. You can collect them via log collector script here - https://github.com/awslabs/amazon-eks-ami/blob/master/log-collector-script/linux/eks-log-collector.sh

We also see 401s with Image pull above. Can you look in to that as well?

[2022-11-01 21:19] achevuru commented on #2107
@samjain04 Is this still an active issue? If yes, can you please share the logs requested above? You can email them to `k8s-awscni-triage@amazon.com` ..

[2022-11-02 16:46] He-Jingkai commented on #2127
@jayanthvn Thank you for your help.

Here is my log collected using the collector:
[eks_i-05fc2800b5661be20_2022-11-02_1637-UTC_0.7.2.tar.gz](https://github.com/aws/amazon-vpc-cni-k8s/files/9922485/eks_i-05fc2800b5661be20_2022-11-02_1637-UTC_0.7.2.tar.gz)

It's an error reported when I try to pull the official amazon-k8s-cni-init image.
[code]

[2022-11-02 20:20] sharon-hunters commented on #2045
We have the exact issue, is there any update on this?

[2022-11-02 23:34] leofernandezg commented on #2045
Our issue was fixed using bigger subnets.

The IPs are sufficient, but not the /28 reservations. When you use security groups for pods, each security group policy creates a new ENI that is reservating a /28 CIDR (or the configured prefix).

Then, probably you have available IPs, but not /28 reservations to create new ENIs

Like I said, we fixed it using bigger subnets.

[2022-11-04 04:06] zeagord opened #2130 "Support for NAT with configurable IP address"
**What would you like to be added**:

When a POD communicates outside the EKS cluster, need a option of NAT the IP address to a reliable static IP from the VPC CIDR.

**Why is this needed**:

The reliable/static set up IPs can be used to add to the security groups of other services and also in firewall rules.

[2022-11-06 18:03] Farzad-S commented on #1847
I tried to update our K8S from 1.19.16 to 1.20.15:
[code]

When validating cluster:
[code]

Checking the logs of a pod:
[code]

Read this conversations and applied:
[code]
Daemonset version is:
[code]

Anyone know how I can fix this?
I really appreciate if someone can provides more insights here.  Thank you very much in advance.

[2022-11-07 15:53] jayanthvn commented on #1847
@itay-grudev and @ermiaqasemi - Are you having issues with AL2 nodes?

[2022-11-07 16:21] jayanthvn commented on #1847
@itay-grudev - I missed your previous comment, so setting up IRSA you were having issues?

[2022-11-07 16:27] ermiaqasemi commented on #1847
I am with AL2 nodes and my nodes have all the permission that is needed.

[2022-11-07 20:17] jayanthvn commented on #1847
Did you verify that the `AWS_WEB_IDENTITY_TOKEN_FILE` and `AWS_ROLE_ARN` environment variables exist.

[code]

[2022-11-08 00:03] #2056 closed

[2022-11-08 16:24] jdn5126 commented on #2109
Closing as fixed

[2022-11-08 16:24] #2109 closed

[2022-11-08 22:12] sushrk commented on #2130
@zeagord Can you please explain the usecase more? Is this for communication outside the VPC? If so, you can use the node IP (this is not assigned by CNI, you would need to scrape this on your side). And the IP inside a VPC is unique, and we no do any NAT within the cluster.

[2022-11-08 22:17] sushrk commented on #2127
Maybe the ``` AmazonEC2ContainerRegistryReadOnly``` permission is missing. You can refer to this guide to create the node role https://docs.aws.amazon.com/eks/latest/userguide/create-node-role.html#create-worker-node-role

[2022-11-09 08:46] panchm opened #2133 "aws-node is getting crashed continously after EKS node reboot"
**After EKS node reboot we have observed that the aws-node is not coming up (continuously crashing)**:

We have tried troubleshooting by following this user guide but
https://aws.amazon.com/premiumsupport/knowledge-center/eks-cni-plugin-troubleshooting/

Please find the attached logs
[eks_i-0eb7ccae605e1767c_2022-11-09_0712-UTC_0.7.2.tar.gz](https://github.com/aws/amazon-vpc-cni-k8s/files/9968682/

[2022-11-09 15:43] jayanthvn commented on #2133
I see the sock is not reachable. Do you have dockershim symlink pointing to /var/run/containerd/containerd.sock ?

[code]
 It looks similar to this issue - https://github.com/awslabs/amazon-eks-ami/pull/921

[2022-11-09 18:39] panchm commented on #2133
Thanks for the quick response and for pointing to the root cause.

We are able to fix this issue by updating the userdata:

[code]

[2022-11-09 18:39] #2133 closed

[2022-11-10 01:50] zeagord commented on #2130
I should have been much clearer. I am looking for an egress gateway of sort, where all outgoing traffic gets NATed to a specific set of IPs instead of the node IP addresses (SNAT). Something similar to - https://docs.cilium.io/en/v1.12/gettingstarted/egress-gateway/

[2022-11-10 20:58] PedroLossolli commented on #1847
I had a similar problem and in my occasion it was caused because the subnets was without available ipv4 address.

[2022-11-11 15:32] jayanthvn commented on #796
Moved to checkpoint migration 2 and switched to use state file instead of CRI socket for IP allocation pool restore - https://github.com/aws/amazon-vpc-cni-k8s/pull/2110. This is as part of 1.12.0 release - https://github.com/aws/amazon-vpc-cni-k8s/releases/tag/v1.12.0.

[2022-11-14 14:08] nicolas-goudry opened #2139 "Add support for NetworkUnavailable node condition"
**What would you like to be added**:

Set the `NetworkUnavailable` condition on Nodes when the CNI comes up or goes down.

**Why is this needed**:

With this condition, it would be easier to tell when there is an issue with the CNI.

---

[Reference discussion](https://github.com/aws/amazon-vpc-cni-k8s/discussions/2094)

[2022-11-14 15:28] sidewinder12s commented on #1724
Not stale. We still regularly see this issue.

[2022-11-15 05:54] koolwithk commented on #1847
I was able to fix this by downgrading the helm chart to `1.1.21` from `1.2.0`

image:  **amazon-k8s-cni:v1.11.3-eksbuild.1**
EKS : **v1.21.14-eks**

I think it was due to using `amazon-k8s-cni:v1.11.3-eksbuild.1` on chart  `1.2.0` that's why I was getting this error.

**with helm chart 1.2.0**
[code]

**with helm chart 1.1.21**
[code]

[2022-11-15 08:51] jayanthvn commented on #1847
@koolwithk helm chart 1.2.0 has cni image version 1.12.0, you mean with 1.12.0 ipamd is failing to start? Can you please share ipamd.log? Also are you using EKS AMI?

[2022-11-15 13:39] koolwithk commented on #1847
@jayanthvn Sorry, I should have clearly stated earlier that in the automation script the image passed as hardcoded argument to helm using `--set` that's why the automation was picking the new helm chart `1.2.0` and old image `amazon-k8s-cni:v1.11.3-eksbuild.1`
- CNI image v1.12.0  was not failing. it was actually  `amazon-k8s-cni:v1.11.3-eksbuild.1` image which was deployed using `1.2.0` helm char

[2022-11-15 16:49] jayanthvn commented on #1847
No problem, thanks for confirming. Yes with helm chart 1.2.0 and CNI build 1.11.3 will have issue since the dockershim sock was removed - https://github.com/aws/amazon-vpc-cni-k8s/pull/2122/

[2022-11-15 20:34] jcogilvie opened #2140 "Add resource configuration in cni-metrics-helper helm chart"
**What would you like to be added**:
Enable me to set `resources` on the cni-metrics-helper pods via their helm chart

**Why is this needed**:
When using an autoscaler (e.g. karpenter), the cluster needs to know a resource request on behalf of any running pod so that it can provision adequate space

[2022-11-15 22:16] jdn5126 commented on #2130
@zeagord have you considered using a NAT gateway, like what we support with `AWS_VPC_K8S_CNI_EXTERNALSNAT` - https://docs.aws.amazon.com/eks/latest/userguide/external-snat.html ?

[2022-11-16 18:45] jayanthvn opened #2143 "Create a readme for cni-metrics-helper charts"
**What would you like to be added**:
Readme for cni-metrics-helper charts - https://github.com/aws/amazon-vpc-cni-k8s/tree/master/charts/cni-metrics-helper

Similar to https://github.com/aws/amazon-vpc-cni-k8s/blob/master/charts/aws-vpc-cni/README.md

**Why is this needed**:
Ease of use and better customer experience.

[2022-11-16 22:41] jayanthvn commented on #1306
This is not stale.

[2022-11-19 01:14] jayanthvn commented on #1447
/not stale

[2022-11-21 08:40] kwohlfahrt commented on #2103
FWIW, I found this workaround during node setup helped resolve the issue:

[code]

[2022-11-21 15:39] jayanthvn commented on #2078
/not stale

@exander77 - Yes thats the right channel.

[2022-11-21 15:40] jayanthvn commented on #2079
/not stale

[2022-11-21 15:40] jayanthvn commented on #2075
This is been actively worked on.

[2022-11-21 15:47] jayanthvn commented on #2103
Thanks @kwohlfahrt

The proposed PR #2118 changes the order of CNI to creatre veth pair in root namespace and then move device to netns.

[2022-11-22 04:39] elasticdotventures commented on #1207
stale=not

[2022-11-22 04:42] elasticdotventures commented on #2130
Just want to echo - I have this requirement (a NAT gateway to allow our traffic to come from a dedicated IP).

I also have a separate, similar, but wholly unrelated requirement for inbound IPSEC connections to a fixed address (trading partner requires a whitelisted IP), so a NAT gateway would only allow outbound.

Didn't realize this would be so difficult/impossible to deal with fixed ip's & EKS.

[2022-11-22 06:55] achevuru commented on #2120
[code]
I'm not sure I follow this. We will only have one network interface for these pods (unless you go for multi homed pods with a meta plugin like Multus CNI) and how will you then tie one address from this range to one of the container process?

[code]
Again, how will we map this inside a single pod? (i.e.,) an IP from an assigned prefix (on pod's eth0) to a process/container inside the pod?

[2022-11-22 07:07] jayanthvn commented on #2140
#2141 is merged to master. We will pick it up in the next release.

[2022-11-22 07:07] #2140 closed

[2022-11-22 07:14] achevuru commented on #2130
@elasticdotventures You can place a NAT gateway in front of your EKS nodes and you can configure  `AWS_VPC_K8S_CNI_EXTERNALSNAT` to let VPC CNI know that you plan to use an external NAT gateway for traffic destined for a target external to your VPC.

For the other scenario you described, are you looking for a static/fixed IP for a Pod? If yes, I don't think you need a CNI to do that as you want th

[2022-11-22 10:07] tanshihaj commented on #2120
In my case each host have some integer id `host_id` in range 0-2^16. Lets say I want to run process that should listen for host with id `42` on interface with IPv6 prefix `2a02:6b8:c3a:204:260d::/80`. Thus this process will add `2a02:6b8:c3a:204:260d::91` address to this interface and bind listening socket with `[2a02:6b8:c3a:204:260d::91]:22` endpoint. I think it is possible to find out other way

[2022-11-23 00:04] jayanthvn commented on #1160
/not stale

[2022-11-24 00:07] jayanthvn commented on #1223
/not stale

[2022-11-28 18:35] stevehipwell commented on #2070
Sorry I am planning on opening a PR, just been crazy busy.

[2022-11-29 09:11] plhrja opened #2150 "Updating add-on fails due to conflicts"
**What happened**:
Attempting to update the add-on (from v1.9.3-eksbuild.1 to v1.10.3-eksbuild.1) from the console results in a failure with the following message
```Conflicts found when trying to apply. Will not continue due to resolve conflicts mode. Conflicts: DaemonSet.apps aws-node - .spec.template.spec.containers[name="aws-node"].resources.requests DaemonSet.apps aws-node - .spec.template.sp

[2022-11-29 15:26] jayanthvn commented on #2150
@plhrja Can you please select -

[code]

Ideally even the test cluster should have seen this issue. Was the K8s version also same between test and prod?

[2022-11-29 20:23] DerekTBrown opened #2151 "Mechanism for configuring CNI when installed as a managed addon"
## Problem
- We currently use CNI on our EKS clusters.
- We have previously been told by AWS Support that we need to configure certain environment variables in order to mitigate issues/bugs in CNI ([reference](https://github.com/aws/amazon-vpc-cni-k8s/issues/2056#issuecomment-1215888082)).
- CNI is installed as an EKS managed addon. The AWS EKS Addon API doesn't have support for configuring enviro

[2022-11-29 20:51] jdn5126 commented on #2151
@DerekTBrown great timing, as we have actually been working on advanced configuration for managed addons in the background for some time. This feature will allow for the configurability that you are interested in via managed addon. There will be a public announcement for this soon (plan is by end of year), so I will post here when it is up.

[2022-11-29 20:57] achevuru commented on #2151
Also, you can use `resolveConflicts: PRESERVE` feature which should leave all the fields with conflicts untouched during an upgrade. You can check this out - https://aws.amazon.com/blogs/containers/amazon-eks-add-ons-preserve-customer-edits

[2022-11-30 07:11] plhrja commented on #2150
Oh thanks, this remedied the update. My bad, overlooked the (hidden) advanced configurations. Fixed, so closing this.

Indeed, the are in the exact same version.

[2022-11-30 07:11] #2150 closed