[2019-08-07 20:54] #265 closed

[2019-08-07 20:59] mogren commented on #317
Hi @pulpbill, are you still seeing issues with the latest CNI version? (Currently v1.5.2)

[2019-08-07 21:29] mogren commented on #314
@daugustus If your pod churn is low, and you only have a few pods per node, setting `WARM_IP_TARGET` should solve this issue for you. Setting `MAX_ENI` would also cap your upper limit.

[2019-08-07 21:29] #314 closed

[2019-08-07 22:15] cjbradfield commented on #82
@vsiddharth This has been a while, but when @liwenwu-amazon and I looked at it a bit, it appeared that some of the static arp/veth routing wasn't working with there was a bridge configured in between you and the container (in this case, a vm-container).

The high-level use case is to use vm-based containers with EKS. EKS customers may have untrusted code that they want to run multi-tenant to a bar

[2019-08-08 17:20] mogren commented on #575
Thanks @seancurran157 for reporting, I'll try to reproduce it ASAP.

[2019-08-08 20:23] kimi1987 commented on #330
@mogren Ill try the new version today and will let you know.

[2019-08-08 23:39] metral commented on #69
Update: we were able to get passed this issued of leaked ENIs by updating to `v1.5.2`.

The specific fixes in `v1.5.2` were:
  - [Detach ENI before deleting.](https://github.com/aws/amazon-vpc-cni-k8s/pull/538)
  - The addition of a `healthz` endpoint: https://github.com/aws/amazon-vpc-cni-k8s/pull/548 and https://github.com/aws/amazon-vpc-cni-k8s/pull/553. The `healthz` endpoint is used in the Po

[2019-08-09 13:36] imriss commented on #69
@metral thanks. Does the following enough for that update?
[code]

[2019-08-09 17:36] jorge-vargas-tfs commented on #282
We created a custom AMI with kubelet version 1.13.8 and we can confirm it fixes this issue. Also, control plane is now on 1.13.8, is the new AMI coming anytime soon?

[2019-08-09 17:58] kimi1987 commented on #330
Tried the new version looks like issue we dont see the issue for now. Ill do some more runs. Also, AWS [doc](https://docs.aws.amazon.com/eks/latest/userguide/cni-upgrades.html) says new version is 1.5.2 but I created new cluster today and I had to manually change the container image to 1.5.2 it was 1.5.1

[2019-08-09 19:06] mogren commented on #330
@kimi1987 Thanks for testing. Yes, the default for new clusters is still v1.5.1. I'm working on a v1.5.3 with some additional fixes for some rare cases.

[2019-08-09 20:29] dschaaff commented on #547
I believe #282 may be related. I'm currently building a custom AMI with the kubelet upgraded to 1.13.8 to see if it addresses the issue.

[2019-08-10 01:23] metral commented on #69
@imriss Yes but I also uncommented the `readinessProbe` and `livenessProbes` to enable their use since `v1.5.2` now has the `healthz` endpoint.

[2019-08-12 20:35] mogren commented on #568
v1.5.3 is out. Should resolve this issue.

[2019-08-13 03:46] moruikang opened #588 "Unable upgrade aws cni from 1.3.0 to v1.5.2"
I create kubernetes 1.11.6 cluster in aws with kops, and use aws vpc cni.
but when  i  upgrading aws vpc cni from 1.3.0 to v1.5.3 or other version
`kubectl describe daemonset aws-node --namespace kube-system | grep Image | cut -d "/" -f 2`
amazon-k8s-cni:1.3.0
`kubectl apply -f https://raw.githubusercontent.com/aws/amazon-vpc-cni-k8s/release-1.5/config/v1.5/aws-k8s-cni.yaml`
After a few seconds it

[2019-08-13 16:45] mogren commented on #588
Hi @moruikang, I tried starting with a v1.3.4 cluster, and then updating to v1.5.3, and I didn't have any issues. Can you try just updating to v1.3.4?
[code]
Did you see any errors while updating? If v1.3.4 works, can you try with v1.4? as well?
[code]

[2019-08-13 17:40] alec-benson opened #589 "Uninstalling Calico breaks networking (iptable rules not reset on uninstall)"
I followed this guide to install Calico on my EKS cluster: https://docs.aws.amazon.com/eks/latest/userguide/calico.html

If I later remove Calico and restart all of the containers behind a deployment, networking breaks.

Some simple steps that reproduce the problem:
1. Set up a simple deployment with a LoadBalancer service
2. install calico `kubectl apply -f https://raw.githubusercontent.com/aws/a

[2019-08-13 21:03] jaydipdave commented on #176
stuck with the same thing here. "Address not allowed".  Is there any hack available out there?

[2019-08-13 23:29] taylorludwig commented on #176
I've managed to get admission controllers working by installing cni-genie, calico, and keeping aws-cni.

I then set any admission controller pods to use the `aws` cni while everything else defaults to `calico`.

It did require a couple tweaks to get everything to play nicely together.

1. Set the `AWS_VPC_K8S_CNI_EXTERNALSNAT` option to true on the aws-cni. Without it aws-cni changes some host rou

[2019-08-14 02:03] mattmi88 commented on #282
I can confirm another configuration that works - as of today: 2019-08-13.
- EKS K8S control plane is v1.13.8-eks-a977ba (from `kubectl version`)
- EKS kubelets on the worker nodes are v1.13.7-eks-c57ff8 (from `kubectl get node`)
- Manually updated aws-cni daemonset to v1.5.3 (`kubectl edit ds -n kubesystem aws-cni`)
- Cluster autoscaler is v1.15.1

I posted a job with a specific affinity and toler

[2019-08-14 05:28] sc250024 commented on #282
@mattmi88 Ditto!

[2019-08-14 10:29] Pluies commented on #176
That's great news, thanks @taylorludwig !
Can you confirm whether `kubectl exec` and `kubectl port-forward` work on the calico pods using this method? (I assume they won't, based on info in this thread, but it'd be good to have confirmation)

[2019-08-14 13:55] seancurran157 commented on #575
@mogren any luck on reproducing?

[2019-08-14 18:36] mogren commented on #176
@taylorludwig Thanks a lot for that very helpful comment!

[2019-08-14 19:49] mogren commented on #575
@seancurran157 Sorry, not yet. Got pulled in to work on some other issues. Have you tried with v1.5.3?

[2019-08-15 03:58] taylorludwig commented on #176
@Pluies `kubectl exec` `kubectl port-forward` `kubectl logs`  all worked for me even with `aws-cni` fully removed. `kubectl proxy` was the only one I noticed that wouldn't work.

With the genie, calico, aws cni combo `kubectl proxy` will work if you the node/service you are trying to hit is running on the `aws` cni.

[2019-08-16 22:40] mogren commented on #303
@edgan @svanlund Is this still an issue?

[2019-08-16 22:45] mogren commented on #26
Closing in favor of https://github.com/aws/containers-roadmap/issues/398

[2019-08-16 22:49] mogren commented on #12
We merged support for redirecting logs to stdout in #342

[2019-08-16 22:49] #12 closed

[2019-08-17 08:39] svanlund commented on #303
Thanks for checking in! My experimentation with this setup ended a while back without the issue being resolved. Since my exact problem couldn't be reproduced, I'm fine with the issue being closed.

[2019-08-17 14:04] techcto commented on #176
@taylorludwig  are you using the eks quickstart as your base?  I am in process of trying to get weave installed.  I have tried with and without aws-cni.  I have CNI Genie installed also.  What is the process you use to assign all of the base pods/services the annotation to use the aws-cni CNI.

[2019-08-17 14:14] techcto commented on #176
@Pluies if it counts for anything, I can confirm same behavior as @taylorludwig with weave.  Everything seems to work except proxy, it seems like proxy is getting IP address from weave and not from the instance. Trying to find a way to tell weave what interface is real or find way to have both CNI's live in harmony via CNI choice.

[2019-08-19 04:38] #303 closed

[2019-08-19 08:49] i-sam commented on #547
+1 got the same issue with the v1.13.8-eks-a977ba

[2019-08-19 16:49] bbc88ks opened #590 "Docker issues causing unused IPs overflow"
Our EKS cluster has an issue where an IP is not always released when a Pod has been completed.
Sometimes docker starts and reaps a container immediately at the end of a pod lifecycle. I am not sure why, but issues in other projects seem to indicate high memory pressure could be the cause ( we are using latest EKS worker AMI).

[code]

This container id is then stored in the CNI datastore:
[code]

[2019-08-19 20:25] mogren commented on #547
@i-sam Which CNI version?

[2019-08-20 08:51] williamyao1982 opened #591 "aws-node CNI unstably curl nodeport"
Dear Team,

We used KOPS to deploy kubernetes cluster in AWS cloud with aws-node CNI. The strange thing is we have two work node, one worknode works alright, another one can't curl the nodeport successfully everytime.

I only disabled selinux manually in both of them and install cloudwatch agent for them.

For example(no response until timeout, but sometime it will get the feedback with 200):
/ #

[2019-08-20 08:59] williamyao1982 commented on #591
Sorry forgot to introduce the cluster version.
k8s version: 1.12.9
CNI version: amazon-k8s-cni:1.3.3

[2019-08-20 09:10] williamyao1982 commented on #591
Attached sysctl settings for k8s worknode.
[root@ip-172-31-52-186 sysctl.d]# vi 99-k8s-general.conf
# Kubernetes Settings

vm.max_map_count = 262144

kernel.softlockup_panic = 1
kernel.softlockup_all_cpu_backtrace = 1

net.ipv4.ip_local_reserved_ports = 30000-32767

# Increase the number of connections
net.core.somaxconn = 32768

# Maximum Socket Receive Buffer
net.core.rmem_max = 16777216

# Defa

[2019-08-20 09:38] benabineri commented on #527
We've run into this as well. The way I've solved it for the moment is by generating a new `eni-max-pods.txt` with the correct[1] values and (using Terraform) passing that in to the user-data to overwrite the existing file _before_ `bootstrap.sh` runs.

1. Not exactly correct because it depends how many daemonsets with host-network you're running in the cluster, so I've erred on the lower side. Bet

[2019-08-21 01:04] tdmalone opened #592 "cni-metrics-helper continues accessing a node after it's gone"
Hi there,

After terminating a node, it appears that `cni-metrics-helper` is still trying to access the no-longer-existing `aws-node` pod:

[code]

The above messages are logged every 30 seconds after node termination, until the `cni-metrics-helper` pod is restarted.

[2019-08-21 03:50] williamyao1982 commented on #591
I used tcpdump to capture network package. I fount it will re-transmission the package as below. But finally it will timeout.

17	4.310309	172.31.127.10	172.31.73.171	TCP	66	45072  >  30093 [ACK] Seq=84 Ack=240 Win=28032 Len=0 TSval=1179362178 TSecr=411319205
18	4.310353	172.31.127.10	172.31.73.171	TCP	66	45072  >  30093 [ACK] Seq=84 Ack=2212 Win=32000 Len=0 TSval=1179362178 TSecr=411319205
19	4.3

[2019-08-21 06:46] mogren commented on #591
Hi @williamyao1982, thanks for reporting the issue. What instance type are you using? Also, could you try a newer version of the CNI? Preferably [v1.5.3](https://github.com/aws/amazon-vpc-cni-k8s/releases/tag/v1.5.3), but if that shows the same issue, could you try [v1.4.1](https://github.com/aws/amazon-vpc-cni-k8s/releases/tag/v1.4.1)?

[2019-08-21 11:14] williamyao1982 commented on #591
Thanks @mogren. I am using AWS china cloud. The instance type is r5.xlarge. I can't try new version. Because it's a risk for us if it failed. Any idea to fix this kind of issue?

[2019-08-21 20:59] jaypipes commented on #343
Hi @Pryz, sorry for the delay in following up on this. We recognize this may be an issue, and may add some retry behaviour to the `AllocENI()` call to handle this cache sync issue, however at this point, doing that is a low priority for us. If you disagree that this is a low-priority request, please do let us know.

[2019-08-21 21:13] jaypipes commented on #18
Note that unfortunately, the upstream issue (https://github.com/kubernetes/kubernetes/issues/5507) that tracks this is in lifecycle/frozen and priority/backlog. I'm going to close this issue out with a plea to have folks comment on the upstream issue and see if we can find a path forward that makes IP addresses a concrete resource that is consumed by pods and tracked like other resources (CPU, mem

[2019-08-21 21:13] #18 closed

[2019-08-21 21:21] jaypipes commented on #173
Hey @danbeaulieu sorry for the delay in responding to this issue. Are you saying that the documentation bug here is that the docs don't mention the need to specify the `--region` with the `aws ecr get-login` call? Or are you saying that the documentation bug is something else?

[2019-08-21 21:29] mogren commented on #203
Fixed by https://github.com/aws/amazon-vpc-cni-k8s/pull/367

[2019-08-21 21:29] #203 closed

[2019-08-21 21:30] mogren commented on #343
Related to https://github.com/aws/amazon-vpc-cni-k8s/issues/277

[2019-08-22 13:30] benabineri opened #593 "NodePort not working with custom network configs"
Hi,

We are having issues with NodePorts on EKS.

If a node is running the appropriate pod, e.g. an nginx ingress controller, then the nodeport on that node works. Nodeports on nodes not running the pod don't work.

We are running the following versions of the various components:

[code]

We are using custom network configs and external SNAT. The CNI is configured as follows:
[code]

Some iptables

[2019-08-22 19:03] mogren commented on #593
Hey @benabineri, thanks for the well written question. Many of these rules are set up by Calico, and I'm afraid I don't know enough about that yet.

Are you saying that just having Services with [Type=NodePort](https://kubernetes.io/docs/tutorials/services/source-ip/#source-ip-for-services-with-type-nodeport) don't work, but if you have at least one Service with [Type=LoadBalancer](https://kuberne

[2019-08-22 20:19] kivagant-ba commented on #283
[code]

[code]

Added +7 nodes at once to the cluster and none of them can start.

[2019-08-22 20:22] bbc88ks opened #595 "Intermittent DNS timeouts in a pod"
We have a couple of jobs that run in a pod and the very first thing it's trying to do is download a file from Github. These jobs fail intermittently once per a couple of days with a DNS resolution timeout.

Docker log:
[code]

CNI log:
[code]

Container log:
[code]

There is basically a less than 300ms delay between CNI finishing setup for the IPtables and veths and curl making a request. Is there

[2019-08-22 20:23] kivagant-ba commented on #283
@tiffanyfay, where I can sent cni logs privately?

[2019-08-22 20:25] tiffanyfay commented on #283
@kivagant-ba mogren[at]amazon.com and tfj[at]amazon.com please! Thanks.

[2019-08-22 20:27] bbc88ks commented on #595
Might be related to https://github.com/aws/amazon-vpc-cni-k8s/issues/493 , but we don't use Calico.

[2019-08-22 20:30] kivagant-ba commented on #283
Before I send this... I'm watching for the `get pod` command right now and I see how pods start one after another. ... aaand that's it. It took almost an hour for oldest of them to finally start.

[2019-08-22 20:31] mogren commented on #283
@kivagant-ba Also, this PR that got merged into 1.14 seems relevant https://github.com/kubernetes/kubernetes/pull/70994.

[2019-08-22 20:35] kivagant-ba commented on #283
@tiffanyfay can I contact you using an official AWS support channel?

[2019-08-22 21:30] #499 closed

[2019-08-22 21:31] mogren commented on #525
Reduced wait time and added a fix to not retry too long for force detached ENIs.

[2019-08-22 21:31] #525 closed

[2019-08-22 21:33] mogren commented on #330
v1.5.3 has a fix for this on new nodes, and the fix has been merged back to master.

[2019-08-22 21:33] #330 closed

[2019-08-22 21:38] mogren commented on #282
Fixed for new nodes in [v1.5.3](https://github.com/aws/amazon-vpc-cni-k8s/releases/tag/v1.5.3), and merged back to master.

[2019-08-22 21:38] #282 closed

[2019-08-23 03:20] monsterxx03 commented on #69
I'm on eks 1.13, cni 1.5.3, still come to this leak issue.

I upgraded cni from 1.5.0 to 1.5.3

[2019-08-23 06:45] unbreakab1e opened #596 "amazon-vpc-cni-k8s cni breaks with "setup NS network: failed to add default route: file exists""
Hi! It seems we're hitting something that might or might not be a duplicate of #203
Our setup is pretty much the same, Multus running as a 'meta' CNI with Flannel being it's "default" network.

`multus:v3.2.1`
`amazon-k8s-cni:v1.5.3`

The network attachment definition is as follows:
[code]

Then, consider the following manifest
[code]
The resulting pod is stuck in ContainerCreating, and `describe`

[2019-08-23 07:27] left4taco commented on #547
+1 got the same error.

Server version: v1.13.8-eks-a977ba

CNI version: 602401143452.dkr.ecr.us-west-2.amazonaws.com/amazon-k8s-cni:v1.5.3

[2019-08-23 08:21] benabineri commented on #593
Thanks for your response.

As happens with these things, after I opened this issue I took a step back from iptables and spotted that at some point all of the NodePort services had been set to `externalTrafficPolicy: Local`, so dropped traffic is exactly what we were asking for.

I set the appropriate services to `Cluster` and they're now behaving as expected.

I'm not sure how it had been working

[2019-08-23 08:21] #593 closed

[2019-08-23 17:24] mogren commented on #596
Hi, thanks @unbreakab1e for reporting the issue. I guess if the default route is already there, we shouldn't try to add it again. The code for this setup looks like this:

https://github.com/aws/amazon-vpc-cni-k8s/blob/73debc1d75e3e73df487bae3fce4f297aec71a27/plugins/routed-eni/driver/driver.go#L123-L145

Is Multus also setting up `169.254.1.1` in the container's namespace? I know that [Calico doe

[2019-08-23 23:37] #298 closed

[2019-08-24 00:47] unbreakab1e commented on #596
Thanks @mogren for looking into this.

Nope, seems that only routes to flannel services address block is present and a default one via 10.233.68.1 (also flannel), here's what it looks like:
[code]

[2019-08-27 06:45] forsberg commented on #336
The beginnings of this are available here: https://github.com/mrzobot/calico-helm-chart

[2019-08-27 10:04] FlorianOtel opened #600 "L-IPAM breaks kube-apiserver -- access to unallocated IP address"
Huge Caveat emptor:

While am I familiar with K8S and CNI, I'm new to this particular CNI plugin, and haven't -- yet -- dive into the inner workings of the plugin, so I may be missing something. In that case, please advise accordingly.

Setup:

- VPC CIDR is 172.16.0.0/16. Instance on first subnet, 172.16.1.0/24
- default SG is quite permissive (allow all traffic to/from the all the VPC)
- Instanc

[2019-08-27 18:42] lgarrett-isp opened #601 "Issue #282 regression in master -- Pods stuck in ContainerCreating if created/delete while the aws-node on the same instance is (re)deploying"
It looks like #282 was closed with the assumption the v1.5.3 resolves the behavior, however builds against the tip of master are showing the exact same behavior (so it seems reasonable that either the issues still exists in v1.5.3 or the next release may have a regression of this behavior).

Copied/added more detail from comment at the bottom of #282:
I encountered this (#282) issue just this morn

[2019-08-28 15:24] amine250 commented on #59
Using EKS 1.11 with cni 1.2.1, can confirm that deleting the pod and recreating is a workaround.

[2019-08-29 09:33] rakeysh17 opened #602 "Imapct of upgrading CNI from amazon-k8s-cni:v1.3.4 to v1.5.3 on the existing EKS cluster"
Hi,

Can someone please put some light on the below concern?

Does upgrading CNI from amazon-k8s-cni: v1.3.4 to v1.5.3 have any impact on existing cluster networking ?
EKS cluster is running with K8 1.13.

Thanks,
Rakesh

[2019-08-29 20:16] gabehobeika opened #603 "ENIs not being released while running plugin 1.5.3"
ignore this issue

[2019-08-29 22:09] #603 closed

[2019-08-30 14:38] FlorianOtel opened #604 "CNI plugin configuration file lacks required "cniVersion" string, the plugin gets ignored"
**Setup**

Manually installed kubernetes cluster -- via `kubeadm init` -- on AWS with Ubuntu 18.04 LTS hosts.

Kubernetes version v1.15.3

**Issue**

The plugin is ignored since the CNI configuration file -- `/etc/cni/net.d/10-aws.conflist` -- lacks the required  "cniVersion" string.

**Synopsis**

When trying to provision a pod, the `crio` logs:

[code]

**Fix**

Created separate PR to fix this

[2019-08-30 16:00] xrl opened #606 "Amazon Linux 2 host loses network access after 30 minutes"
I am testing out Amazon Linux 2 managed by Kops, deployed with v1.5.3 of the CNI. I am able to boot servers no problem and they behave well for the first 30 minutes.

I found this by booting up new elasticsearch data nodes on to the Amazon Linux 2 autoscaling group. They came up just fine and turned on the data pods no problem. As I was shuffling data on to these new pods they started falling out

[2019-09-03 14:02] rollcallim commented on #390
Experiencing the same issue on amazon-k8s-cni:v1.4.0. Can access the node but not the pod from another region through a peering connection.

[2019-09-03 14:04] Jaykah commented on #390
Experiencing the same issue on amazon-k8s-cni:v1.4.0

Able to reach the node but not the pod from another region connected through VPC peering.

[2019-09-03 14:13] krzysztof-bronk commented on #59
Following up on my post earlier, I can easily replicate this issue even with aws-cni 1.5.1

I have a 1 node cluster, and every time I terminate the instance from the UI so that ASG can spin up a replacement, the ENI is left dangling as Available, with IPs attached, and never deleted as far as I can tell.
So sooner or later you will exhaust IPs and then pods will fail to be started.

[2019-09-03 19:15] stevehorsfield opened #607 "Simplify upgrades with custom environment"
The aws-node daemonset expects environment variables to configure various options. However, in the current form this makes it difficult to upgrade following the published instructions as the configuration would be lost.

Our approach is to use an external configmap and an envFrom clause but this also requires us to patch the daemonset before upgrading and so we can’t use the instructions as-is.

A

[2019-09-03 21:36] mogren commented on #600
Note: Updated your comment using ``` to create block quotes, to make it easier to read.

Hmm, the CNI should not affect how kubectl talks to the API server, I suspect this has something to do with the cloud provider configuration, of which I'm not very familiar yet.

[2019-09-03 23:10] mogren commented on #602
Hi @rakeysh17,

Updating the CNI should not have any impact, especially not on any running pods. It might add some increased delays when scheduling pods while the new ipamd starts up and tries to reconcile the existing pods with the ENIs and IPs that are attached to the node, but that's about it.

The biggest change would be if you have `WARM_IP_TARGET` set to something low, with v1.3.4 it won't

[2019-09-03 23:49] mogren commented on #606
Hi @xrl,

Looking at the logs I don't see any issues. It looks it was just one pod running on that node, `metrics-dev2-tock-data-2`, and then it got deleted.
[code]

Are you saying that the pods themselves could no longer communicate with the masters, and got killed because they were unhealthy? Was kube-proxy running on all nodes? CoreDNS?

Also, `WARM_IP_TARGET` of 1 is very low, are you planning

[2019-09-04 05:39] krzysztof-bronk opened #608 "Available ENIs left dangling after node termination"
Hello,

I have encountered an issue with aws-cni 1.5.1(+?), where, even in a single node test cluster, if you terminate the node so that the ASG kicks in a replacement, the terminated instance ENI switches back to Available, holding IPs, and is seemingly never deleted.

Eventually one will exhaust the IP pool and pods will fail to be created.

This is a bit surprising as node recycling is the basi

[2019-09-04 17:59] mogren commented on #608
Thanks @krzysztof-bronk for reporting, we will have to take a look why this is happening. ENIs attached to the terminated node should be freed by EC2 automatically.

[2019-09-04 22:07] vipulsabhaya commented on #69
@monsterxx03 We are looking into this issue, do you happen to have ipamd logs from one of the nodes the ENI was attached to?

if so, please send to sabhayav[at]amazon

[2019-09-05 01:32] dalbhanj opened #609 "Enable both WARM_ENI_TARGET and WARM_IP_TARGET CNI configuration"
Currently only one CNI configuration is allowed i.e, you can either specify WARM_ENI_TARGET or WARM_IP_TARGET variables to limit the use case of ENI's or IP's to be cached. Enabling both would allow use cases where customers can cache set of IP's per ENI's that will let them take advantage of all available ENI's. For ex, if you need to launch 20 pods with limited pod density per ENI on r5.24xl (15

[2019-09-05 02:03] #609 closed

[2019-09-05 11:21] krzysztof-bronk commented on #608
Thank you for acknowledging this. If your cluster has a high node churn, or the IP pool is small, this can quickly become an issue. The current workaround, and also an independent report for the issue can be found here: https://github.com/aws/amazon-vpc-cni-k8s/issues/59#issuecomment-510444678

[2019-09-05 16:29] vipulsabhaya commented on #608
@krzysztof-bronk Do you happen to have the ipamd logs from one such instance?

[2019-09-06 02:40] monsterxx03 commented on #69
ipmad log sent @vipulsabhaya

Share some info here:

I use cluster autoscaler to do autoscaling, all left eni's host nodes were already deleted.

In debug log, ipmad try to detach this eni, it says: `Successfully detached ENI: eni-xxx`, but when  it try to delete it, reported: `Not able to delete ENI yet (attempt 1/20): InvalidParameterValue: Network interface 'eni-xxx' is currently in use.` And t

[2019-09-06 05:17] vipulsabhaya commented on #69
Thanks @monsterxx03 for the logs -  I confirmed that in this specific case, Autoscaling terminated the instance 2 seconds after the first deleteENI attempt.  Because of this ipamd was unable to retry deletion, and the ENI gets leaked.

We will look into how to do a graceful cleanup in this case.

[2019-09-06 05:42] metral commented on #69
For context, these fixes worked in our specific test use case because on tear downs, we intentionally wait on the:
- Deletion of the namespace of the workloads that have LB Services, and the
- Deletion of the `aws-cni` DaemonSet.

We then sleep for a few minutes for good measure, before tearing down the cluster. This gives the AWS resources and `aws-cni` sufficient time to gracefully shutdown and

[2019-09-06 05:46] vipulsabhaya opened #610 "ENIs fails to be Tagged by CNI"
The VPC CNI plugin allocates ENIs on-demand for Pods.  CNI also tags all ENIs that it created with the tag 'node.k8s.amazonaws.com/instance_id'.

There is a race condition in the code, such that we attempt to CreateTag prior to the ENI being fully ready, which causes the CreateTag call to fail.  We don't attempt to retry the tag creation.

The result is some ENIs have a Tag, and some don't.

We ne

[2019-09-06 07:39] xvdy opened #611 "set ENI_CONFIG_LABEL_DEF to failure-domain.beta.kubernetes.io/zone not work"
# Question
I build an cluster on ec2 and use amazon-vpc-cni-k8s as cni plugin, But when I create a pod, it cant gain an ip.

# Environment
k8s version:v1.13.2
cni version: amazon-vpc-cni-k8s:v1.5.3

I set `AWS_VPC_K8S_CNI_CUSTOM_NETWORK_CFG: "true"` and `ENI_CONFIG_LABEL_DEF:failure-domain.beta.kubernetes.io/zone`, and then create eniConfig for each available zone like this

[code]

# Logs
I found

[2019-09-06 08:01] xvdy commented on #611
# Temp Solution
I delete the CNI Configuration Variables: ENI_CONFIG_LABEL_DEF
and the label each node to set which eniConfig to use.
kubectl label no mb1-info-i18n-neo-node01.awsind k8s.amazonaws.com/eniConfig=ap-south-1a

[2019-09-06 08:46] caiconkhicon commented on #608
No, it's not true. Only the main (eth0) ENI is cleaned up. The additional ones are not cleaned up, just detached and becomes available.

[2019-09-07 21:21] FlorianOtel commented on #604
Fixed by #605, closing

[2019-09-07 21:21] #604 closed

[2019-09-08 14:41] xvdy commented on #611
[code]

[2019-09-10 12:45] rubroboletus opened #613 "EKS cannot pull image"
We are running EKS and are trying to upgrade from 1.5.1 to 1.5.3. After kubectl apply -f https://raw.githubusercontent.com/aws/amazon-vpc-cni-k8s/release-1.5/config/v1.5/aws-k8s-cni.yaml the aws-node pod is in ImagePullBackOff status.
kubect describe po/aws-node displays this message:
Back-off pulling image "602401143452.dkr.ecr.us-west-2.amazonaws.com/amazon-k8s-cni:v1.5.3"
if I try curl, there i

[2019-09-10 15:29] bjethwan opened #614 "AWS EBS performance issue"
The aws ebs gp2 based persistent volumes attached to the pods (couchbase in our case) are not performing well. As we were trying to benchmark the performance between "couchbase on k8s/aws" and "couchbase on aws".

And then I ran into this blog:
https://blog.pythian.com/how-to-get-the-most-out-of-your-ebs-performance/
The blog said that I need to have RPS (receive packet steering) enabled for gaini

[2019-09-10 19:26] nithu0115 commented on #611
@xvdy, I think you are missing `failure-domain.beta.kubernetes.io/zone` label on the worker node and is reason why controller is defaulting myEni variable to `default`.

To verify if the node has label: `kubectl describe nodes <node name> |grep failure`

I was to replicate the issue by deleting `failure-domain.beta.kubernetes.io/zone` on my worker node which is part of EKS cluster by running below

[2019-09-10 19:41] mogren commented on #613
Hi @rubroboletus, the image is there, so probably there is some permission missing. Does the account you run the worker nodes in have `ecr:GetAuthorizationToken` permissions? More detail here https://docs.aws.amazon.com/AmazonECR/latest/userguide/Registries.html#registry_auth

[2019-09-10 23:43] vantagesol commented on #613
Hi there, we also started having issues with EKS being able to pull images from ECR starting from today. Our EKS Nodes have all the correct permissions and policies on their respective roles. Any insights would be great!

[2019-09-11 03:09] mogren commented on #205
Is this still an issue? @osobh

[2019-09-11 03:10] mogren commented on #365
Merged in v1.6, release candidate published.

[2019-09-11 03:10] #231 closed

[2019-09-11 03:11] #319 closed

[2019-09-11 03:11] #454 closed

[2019-09-11 06:06] xvdy commented on #611
Thank you for your answer.I use  kubeadm to build the cluster without specific cloudprovider to aws, so there is no label named failure-domain.beta.kubernetes.io/zone. This is reason why my ipamd can't find the right eniConfig.

[2019-09-11 06:06] #611 closed

[2019-09-11 21:27] zenvdeluca opened #615 "support for traffic mirror sessions"
this is a feature request.

With AWS Traffic Mirror, the AWS CNI should be capable of creating traffic mirror sessions for it's allocated ENIs.  As ENI dynamically gets attached/detached to a Kubernetes node, mirror sessions should be optionally configured via the plugin

[2019-09-12 04:37] mogren commented on #468
Hi @thinalai, if the VPC CIDR range is publicly routable, I guess it would be possible. It's common to set up an NLB in front of the pods though.

Also, some interesting discussion here https://github.com/weaveworks/eksctl/issues/440

[2019-09-12 06:43] krzysztof-bronk commented on #608
Here's the situation:

Fresh test cluster, nothing fancy or custom (except external SNAT but I tested both and it's not relevant), a single m5.xlarge worker node.

Private IPs: 10.250.9.56 (eth0), 10.250.11.217 (eth1)
Secondary Private IPs: (a whole bunch of them)

ENI: 3 total
2 In-use (as confirmed by the Private IPs above).
Interestingly, only 1 of them has a Description (aws-K8S-i-0da187e6c45d

[2019-09-12 06:45] vipulsabhaya commented on #613
Which region are you seeing this issue?

[2019-09-13 15:17] marcincuber opened #616 "EC2 instances don't get assigned with private IPs"
I have implemented OIDC provider and integrated new IAM role with the service account. I was using following [docs](https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts-cni-walkthrough.html). I also restricted access to Amazon EC2 Instance Profile Credentials.

After updating everything and training to add new nodes I am getting an error:
[code]

Simply, nodes are not be

[2019-09-13 16:37] jqmichael commented on #616
Could you provide the content of the token that's getting generated?
`/var/run/secrets/eks.amazonaws.com/serviceaccount/token`

[2019-09-13 16:59] marcincuber commented on #616
Hi, I managed to solve the issue. So I am creating an oidc provider using terraform:
[code]

[2019-09-13 17:10] jqmichael commented on #616
@marcincuber
https://github.com/aws/containers-roadmap/issues/23#issuecomment-530548586

[2019-09-13 17:10] #616 closed

[2019-09-13 17:11] jqmichael commented on #616
Closed the issue.

[2019-09-13 17:53] rudoi opened #617 "Large clusters/VPCs with multiple clusters can hit describeNetworkInterface rate limits"
I have a few large testing clusters (in the same VPC, ~500 nodes). At a certain point I noticed that we were being rate limited on `describeNetworkInterface` requests in the logs of some other tooling I was using to do AWS things. In any case, I suspect the majority of these requests are actually coming from the VPC CNI. Please let me know if this is not correct.

Opening this issue just to ask:
-

[2019-09-13 18:47] mogren commented on #617
Yes, you are right. It's a tough balance to not call EC2 too much, but also to quickly add ENIs when needed, and also not keep them around for too long when scaling down.

We have to describe the interfaces to see which ENIs and IPs that are attached. Using `WARM_IP_TARGET` will add a lot more calls and is probably not something you should enable on large clusters. Increasing `WARM_ENI_TARGET` fro

[2019-09-13 20:58] sethp-nr commented on #617
Thanks for the quick response @mogren ! @rudoi filed this issue on my behalf, but one thing I'm not sure I understand:

I believe this information is also exposed through the instance's "metadata" service, is that right? Does that end up being charged against the same rate limits as the `Describe*` call?

[2019-09-13 21:27] mogren commented on #617
@sethp-nr Good question!

Using IMDS (Instance MetaData Service) does not count against the EC2 rate limit, but unfortunately we can't rely on it. I've explained the reason for this a bit in [more detail here](https://github.com/aws/amazon-vpc-cni-k8s/issues/500#issuecomment-506474282), but in short it can be very out of date.

For older instance types we have seen up to 30 minutes. This means we

[2019-09-16 17:13] robin-engineml commented on #69
I continue to see this problem after 1.5.3.

[2019-09-16 17:43] mogren commented on #69
@robin-engineml We have identified an issue when ENIs might get leaked, specifically when a node is drained, then terminated, there is a window after the call to [`ec2SVC.DetachNetworkInterface()`](https://github.com/aws/amazon-vpc-cni-k8s/blob/0ab1343dd437bf4c7eadab8c27127313d4a1d916/pkg/awsutils/awsutils.go#L745), but before [`ec2SVC.DeleteNetworkInterface()`](https://github.com/aws/amazon-vpc-c

[2019-09-17 19:56] mogren commented on #302
Is this still an issue with v1.5 or later?

[2019-09-18 00:31] mogren commented on #390
Have anyone tested with [v1.6.0-rc1 ](https://github.com/aws/amazon-vpc-cni-k8s/releases/tag/v1.6.0-rc1) and `AWS_VPC_K8S_CNI_EXCLUDE_SNAT_CIDRS` set?

[2019-09-18 00:48] justinwalz commented on #390
We currently are, with settings below, and have not seen this issue crop up yet.
[code]

[2019-09-18 08:55] ksemaev commented on #463
Guys, we need that implementation also, as large traffic spikes for one pod cause outage for the whole cluster, which is really not prod-ready solution

[2019-09-18 09:00] evan-lin opened #619 "pod to pod communication issue"
We are building the K8S with CNI, and we are not using the EKS node AMI, it is build from centOS AMI.
After everything is setup, pod is allocated with the IP associate with the ENI, however, pod is not able to ping another pod.
Take a long time for investigation, and it turns out it is caused by FORWARD policy is DROP by default in iptables, after update it as ACCEPT, everything goes well. In EKS

[2019-09-18 14:47] bjethwan commented on #448
@mogren
Can you suggest a prometheus scrape config for collecting these metrics?
I can see that cni-metrics-helper is not exposing those as a service within k8s cluster, so it should be via the worker node? How do we make prometheus pick those (expanding) k8s worker nodes?

[2019-09-19 02:37] manlinl opened #620 "EC2 instance in the same VPC access K8s Pod"
I have a k8s on AWS (created by kops with --networking amazon-vpc-routed-eni). I have another EC2 instance in the same VPC as the k8s cluster. But my EC2 instance can't access k8s Pod directly. I am under the impression with vpc-cni plugin, traffic from EC2  instance is routable to  Kubernetes Pod. Do I need any special setup?

Many thanks!

[2019-09-19 06:39] manlinl commented on #620
It turns out it was the security group setting. But I also learnt for the pod to be accessible from another VPC, one need to disable SNAT https://docs.aws.amazon.com/eks/latest/userguide/external-snat.html

[2019-09-19 06:39] #620 closed

[2019-09-19 15:20] mogren commented on #620
Hi @manlinl, thanks for answering your own question!

For peered VPCs, we added a new environment variable in #520 where you can specify additional CIDRs that should not be SNATed. That feature has not been released yet, but is available to test in the v1.6.0-rc.

[2019-09-19 17:44] manlinl commented on #620
@mogren Thx for this inform!

[2019-09-23 19:30] Claywd commented on #534
@mogren That's a solid option and should be in the docs if it isn't already.

[2019-09-23 19:30] #534 closed

[2019-09-24 12:58] bjethwan commented on #448
@mogren
What's the difference between maxIPAddresses and totalIPAddresses?

[2019-09-24 13:10] bjethwan commented on #448
Is awsAPILatency in milliseconds?

[2019-09-24 13:45] InAnimaTe commented on #601
@lgarrett-isp can you test this against 1.5.3? It might be a p0 if it occurs on that version since that's presently the default version deployed with new clusters (1.14.6 for me).

[2019-09-24 14:46] nitrag commented on #69
@vipulsabhaya Any updates? This is causing IP exhaustion between our two /19 subnets (16k IPs)...

[2019-09-24 14:58] pigri commented on #69
We have a quick fix. We were using this fix a few months ago.
Script: https://gist.github.com/pigri/c00ce2811a5954c89384925190827ab6

You need a docker image with aws CLI and a kubernetes cronjob and always run 5 minutes.

[2019-09-24 23:26] mogren commented on #448
@bjethwan The prometheus output should show the help text, but from the code:
[code]

Max is the how many IPs can be attached to that instance type, total is how many it has attached right now, and assigned are the number of attached IPs that are assigned to pods right now.

All latencies are in ms.

[2019-09-24 23:35] Manghu commented on #283
@kivagant-ba Did updating to version 1.14 work for you?

[2019-09-25 18:26] cgkades commented on #283
We've run into a similar issue, and for us, /etc/cni/10-aws.conflist is missing. copying that from another node allows us to continue. We've engaged AWS support. Does anyone know how that file get's put on the node?

[2019-09-25 19:17] mrbrianott commented on #589
Also had the same issue!

[2019-09-25 20:31] cgkades opened #625 "Cannot scale new nodes with CNI version 1.5.3"
When trying to scale new nodes after creating an EKS cluster, the new nodes will not leave the NotReady state. The aws-node pod is in a CrashLoopBackOff state.

This seems to be from the file 10-aws.conflist not being placed on the node. It looks like the install script had a line removed that added the file, and it was then moved to main.go. The problem is that it never reaches the code to copy t

[2019-09-25 20:33] matthsmi commented on #625
To expand on what @cgkades is saying...

We've found is that `k8sapi.CreateKubeClient()` fails with `Failed to create client: error communicating with apiserver: Get https://172.20.0.1:443/version?timeout=32s: dial tcp 172.20.0.1:443: i/o timeout` (https://github.com/aws/amazon-vpc-cni-k8s/blob/release-1.5.3/main.go#L47-L51).

As such, it never gets to copy over the `/etc/cni/10-aws.conflist`. If

[2019-09-25 23:14] mogren commented on #283
If the issue is in CNI v1.5.3, the problem should be visible in the log. The change to not copy the config until ipamd is running happened in commit https://github.com/aws/amazon-vpc-cni-k8s/commit/f9acdeb62644b68cd2c94ef2725ffcbc64fbec76 and was done to avoid scheduling pods to that node until we had ENIs and IPs available. If ipamd can not talk to the kubernetes API server, it will not copy the

[2019-09-25 23:23] mogren commented on #625
@matthsmi @cgkades Thanks for opening a new ticket. (#283 is not related to this case)

The change to *not* copy the config until ipamd is running happened in commit f9acdeb and was done to avoid scheduling pods to that node until we had ENIs and IPs available. If ipamd can not talk to the kubernetes API server, it will not copy the plugin binary or the config file, since that is how you update th

[2019-09-26 01:15] srijitm commented on #302
I am facing this issue currently. I deployed a brand new cluster (EKS 1.14, aws-node 1.5.3). Then followed the instructions to setup 3 worker nodes (1 per AZ) along with ENIConfigs etc. The new workers don't get any secondary ENIs attached. As a result even the core-dns container is failing to start.

Details:
`Warning  FailedCreatePodSandBox  3m (x562 over 13m)  kubelet, ip-192-168-14-162.ec2.int

[2019-09-26 02:01] #610 closed

[2019-09-26 19:34] cgkades commented on #625
@mogren this happens with every cluster we launch, i'll work with @matthsmi to see if we can get the logs you need

[2019-09-27 21:17] mogren commented on #374
@mathewmoon Is this still an issue?

[2019-09-27 21:32] mathewmoon commented on #374
@mogren As far as I know it is. I wrote this to work around it though:
https://hub.docker.com/r/quinovas/aws_kube_public_dns

It listens for a pod to be created and then creates a route53 record for the host that the pod is running on. The pod has to be using HostPort. Hope this helps.

[2019-09-27 23:41] mogren commented on #619
Related to https://github.com/aws/amazon-vpc-cni-k8s/pull/535 and https://github.com/awslabs/amazon-eks-ami/issues/332

[2019-09-27 23:43] mogren commented on #617
Question answered. 🙂

[2019-09-27 23:43] #617 closed

[2019-09-27 23:43] mogren commented on #613
@vantagesol Is this still an issue?

[2019-09-27 23:45] mogren commented on #608
The latest pre-release, [v1.6.0-rc2](https://github.com/aws/amazon-vpc-cni-k8s/releases/tag/v1.6.0-rc2), has some changes to mitigate this problem.

[2019-09-27 23:45] #602 closed

[2019-09-27 23:47] mogren commented on #600
@FlorianOtel Did you find a way around this problem?

[2019-09-27 23:52] mogren commented on #590
@bbc88ks I wonder if this is related to https://github.com/aws/amazon-vpc-cni-k8s/commit/b0b2fc1be3cdb5cdde9ff4b13094488bf2c39d28? If the container fails to even create, we should return `success` for the delete, or kubelet will keep trying to delete it.

The latest pre-release, [v1.6.0-rc2](https://github.com/aws/amazon-vpc-cni-k8s/releases/tag/v1.6.0-rc2), includes this change.

[2019-09-27 23:53] mogren commented on #588
Please reopen if this is still an issue.

[2019-09-27 23:53] #588 closed

[2019-09-27 23:54] mogren commented on #575
This should have been solved in v1.5.3. Please reopen if this is still an issue.

[2019-09-27 23:54] #575 closed

[2019-09-27 23:56] mogren commented on #546
Please reopen if this is still an issue.

[2019-09-27 23:56] #546 closed

[2019-09-27 23:59] mogren commented on #591
Is this still an issue? Please try with the latest CNI.

Also, this could be related to https://tech.xing.com/a-reason-for-unexplained-connection-timeouts-on-kubernetes-docker-abd041cf7e02

[2019-09-27 23:59] #591 closed

[2019-09-28 00:00] mogren commented on #533
Added in #572 on August 12.

[2019-09-28 00:00] #533 closed

[2019-09-28 00:01] #571 closed

[2019-09-28 00:03] #550 closed

[2019-09-28 00:04] #537 closed

[2019-09-28 00:08] mogren commented on #495
Either enable `AWS_VPC_K8S_CNI_EXTERNALSNAT`, or use `AWS_VPC_K8S_CNI_EXCLUDE_SNAT_CIDRS` added in #520 and available in v1.6.0-rc2 or later.

[2019-09-28 00:08] #495 closed

[2019-09-28 00:08] #494 closed

[2019-09-28 00:53] #460 closed

[2019-09-28 00:56] mogren commented on #474
`AWS_VPC_K8S_CNI_EXCLUDE_SNAT_CIDRS` was added in #520 as a way to include peered VPC CIDRs.

[2019-09-28 00:56] #474 closed

[2019-10-01 06:16] mogren opened #638 "Use MultiStage Docker build"
We should use a multi stage docker build to reduce size of the final image.

[2019-10-01 12:29] Zyqsempai commented on #638
@mogren I Will take this one!

[2019-10-01 12:45] Zyqsempai commented on #638
But i already see so made changes related to this topic, what should be done?

[2019-10-01 15:04] ausmith commented on #49
Turns out you should also add the control plane endpoint to the NOPROXY environment variable, else kubelet will try to go out through your HTTP proxy to get to the control plane. This impacted me as I was spinning up an EKS cluster behind a restrictive HTTP proxy but the kubelet could not start because it was getting a 403 Forbidden when trying to go out to the EKS endpoint through the HTTP Proxy.

[2019-10-01 17:11] mogren commented on #638
@Zyqsempai Thanks for volunteering! The Idea here would be to have a build step first, then copy the built CNI binary to a final image in another step since `go mod download` will fetch a lot. It's described pretty well in this blog post: https://levelup.gitconnected.com/multi-stage-docker-builds-with-go-modules-df23b7f91a67

[2019-10-02 00:08] mogren commented on #638
@Zyqsempai Heh, you are right, I was looking at the wrong dockerfile last night... Closing it.

[2019-10-02 00:08] #638 closed

[2019-10-02 07:42] Zyqsempai commented on #592
I will take this one!

[2019-10-02 08:45] Zyqsempai commented on #347
I will take this one!

[2019-10-02 16:45] rimaulana opened #641 "Upgrade CNI version broke pod-to-pod communication within the same worker node"
After upgrading the CNI version from v1.5.1-rc1 to v1.5.4, we are seeing issue where pod was unable to communicate with other pod on the same worker node. We have the following schema

CoreDNS pod on eth0
Kibana pod on eth0
App1 on eth1
App2 on eth2

What we are seeing is that DNS query from App1 and App2 failed with no server found when we tried it using dig command

dig @CoreDNS-ip amazonaws.com

[2019-10-02 18:21] MartiUK commented on #641
Downgrading to v1.5.3 resolved this issue on (EKS) K8s v1.14 with CoreDNS v1.3.1.
Required node reboots first.

[2019-10-02 20:48] jaypipes commented on #277
@md2k hi! apologies for the delay in responding on this. I chatted with @mogren today about this. The solution for the 1.x CNI plugin series is relatively straightforward (though this is a lower priority feature request than some other bugs). The 2.x plugin series will not have this issue, however, since there isn't a corresponding concept of an IP cache/ipamd.

In short, I'm removing the needs-in

[2019-10-02 20:48] mogren commented on #601
@lgarrett-isp Could you try with the [v1.5.4 release](https://github.com/aws/amazon-vpc-cni-k8s/releases/tag/v1.5.4)? This commit is relevant: https://github.com/aws/amazon-vpc-cni-k8s/commit/b0b2fc1be3cdb5cdde9ff4b13094488bf2c39d28

[2019-10-02 20:51] jaypipes commented on #357
@erolosty we believe this is fixed with #367 which is in the CNI 1.4 release, which was cut in April and covers k8s 1.13. Closing this out.

[2019-10-02 20:51] #357 closed

[2019-10-02 20:54] jaypipes commented on #381
@tabern We think this would be cool to have, but obviously AWS has guidelines and constraints on logos. Can you find someone that would be appropriate to whip up something for the AWS VPC CNI plugin? Thanks!

[2019-10-02 20:56] tabern commented on #381
I know a few people.... Will look into this.

[2019-10-02 21:02] jaypipes commented on #386
@bjethwan sorry for the long delay in responding on this. Basically, while it is of course possible to add additional subnets (and corresponding CIDRs) to a VPC that is used for k8s worker nodes (in EKS or EC2), there is not any functionality that automatically lets the CNI plugin know that those additional subnets are available to use for pod IPs.

[2019-10-02 21:02] #386 closed

[2019-10-02 23:14] jnaulty commented on #595
Seems like it might not be the best idea to upgrade to >1.5.1 when running eks 1.14
https://github.com/aws/containers-roadmap/issues/489

[2019-10-03 03:54] #356 closed

[2019-10-03 04:05] mogren commented on #448
Eric fixed this.

[2019-10-03 04:05] #448 closed

[2019-10-03 04:38] mogren commented on #641
Glad you found a work-around (rebooting the nodes), but I'll keep trying to reproduce this.

[2019-10-03 06:16] deiwin commented on #595
It seems to be still OK to upgrade. We changed `proxy` -> `forward` in the ConfigMap and added `ready` to the ConfigMap and a `readinessProbe` to the Deployment spec.

[code]
&
[code]

[2019-10-03 14:43] igor-pinchuk commented on #641
Facing the same issue

[2019-10-03 20:39] jwenz723 opened #642 "Add kustomization.yaml"
I am trying to install the AWS VPC CNI with [CNI Custom Networking](https://docs.aws.amazon.com/en_pv/eks/latest/userguide/cni-custom-network.html) feature enabled. I would like to be able to create a kustomize patch and apply it to the [config/v1.5/aws-k8s-cni.yaml](https://github.com/aws/amazon-vpc-cni-k8s/blob/master/config/v1.5/aws-k8s-cni.yaml) file without having to copy and paste the config

[2019-10-03 21:01] robottaway opened #643 "Allow Tagging NIC Created by Plugin"
For the purpose of settings tags used to differentiate billing to one customer versus another we could use the ability to set arbitrary tags on the ENI created. Already we create tags such as

https://aws.amazon.com/blogs/opensource/vpc-cni-plugin-v1-1-available/

But these are static and more for the purpose of debugging than being used for other business purpose. Having the ability to define tag

[2019-10-03 22:20] ueokande commented on #641
We encountered the issue with Kubernetes 1.13 (eks.4) and amazon-vpc-cni-k8s v1.5.4.  Its not only on CoreDNS, but also inter-pods communication.

It occurs immediately after cluster created.  We just repaired by restarting pods (release and reassign an IP address on the pod):

[code]

[2019-10-04 16:10] dmarkey commented on #641
I've been tearing my hair out all day after upgrading a cluster. Please change https://docs.aws.amazon.com/eks/latest/userguide/update-cluster.html to suggest v1.5.3 and not v1.5.4 as to not break more clusters until it's verified that this bug is fixed.

[2019-10-04 16:26] mogren commented on #641
@dmarkey None of the three minor changes between [v1.5.3 and v1.5.4](https://github.com/aws/amazon-vpc-cni-k8s/compare/v1.5.3...v1.5.4) has anything to do with routes, so I suspect there is some other existing issue that we have not been able to reproduce yet. Does rebooting the nodes without downgrading not fix the issue?

We have seen related issues with routes when using Calico, but they are th

[2019-10-04 16:40] angelichorsey commented on #641
This is a sysctl fix, no?
[code]

If you don't have these then the docker bridge can't talk back to itself.

[2019-10-04 16:56] nithu0115 commented on #641
@dmarkey are you seeing missing rule from routing table database ? Could you elaborate more on the issue you are running into ?

[2019-10-04 19:22] shyamjvs commented on #592
This is expected behaviour and I'm not sure if there is anything to fix here. You can see the following code:

https://github.com/aws/amazon-vpc-cni-k8s/blob/ccf1c29e451cf2bebc3e490b83db05245a14cc27/cni-metrics-helper/metrics/metrics.go#L404-L409

If an underlying cloud instance is deleted, it takes a while for the node to become unready (because kubelet stops posting heartbeats) and node-controll

[2019-10-04 19:24] shyamjvs commented on #592
Let me know if there's still some issue I'm missing. Or we can close it.

[2019-10-04 22:02] schahal commented on #641
Can we please update https://raw.githubusercontent.com/aws/amazon-vpc-cni-k8s/release-1.5/config/v1.5/aws-k8s-cni.yaml to be `1.5.3` until 1.5.4 is fully vetted? We are running into the same issue and want default to be the working version.

[2019-10-04 23:09] dmarkey commented on #641
The main issue was around 10% of pods not being able to talk to other pods, like coredns, and therefore couldn't resolve and/or connect to dependent services. They could however connect to services on the internet.

I also noticed that for the problematic pods. Their IP was missing from the node `ifconfig` output. I assume they would need an interface added that would be visible on the host?

[2019-10-04 23:15] dmarkey commented on #641
I have powered up the cluster twice from scratch with ~200 pods with `1.5.3` and it has come up flawlessly.

With `1.5.4` about 20% of pods couldn't find dependencies either by not being able resolve their address(services in the same namespace mostly), or couldn't reach the dependency at all. I must have powered up the ASG about 10 times to try to troubleshoot the situation.

[2019-10-04 23:32] mogren commented on #641
@dmarkey Thanks for the update, will keep testing this. @schahal I have reverted [config/v1.5/aws-k8s-cni.yaml](https://raw.githubusercontent.com/aws/amazon-vpc-cni-k8s/release-1.5/config/v1.5/aws-k8s-cni.yaml) to point to v1.5.3 for now.

[2019-10-04 23:39] mogren commented on #641
@dmarkey Could you please send me log output from https://github.com/awslabs/amazon-eks-ami/tree/master/log-collector-script ? (Either mogren at amazon.com or c.m in the Kubernetes slack)

[2019-10-04 23:49] dmarkey commented on #641
Do you mean with 1.5.3 or 1.5.4? I'm afraid this cluster is in active use (although not classed as "production") so I cant easily revert without causing at lease some disruption. Either way I don't have access until AM Irish time Monday.

[2019-10-04 23:59] mogren commented on #641
@dmarkey Logs from a node where you see the communication issue, so v1.5.4. If you could get that next week I'd be very thankful. Sorry to cause bother on a Friday evening! 🙂

[2019-10-05 04:15] tdmalone commented on #592
I get this log message turning up for much longer than 60-90 seconds after termination - possibly over half an hour or more, but I'll need to test to verify that. My assumption was that, currently, it would keep happening forever (until I restart the `cni-metrics-helper` pod).

I only noticed it because I have a log alert tracking words like 'failed' to pick up on issues I might not've noticed oth

[2019-10-07 16:01] lgarrett-isp commented on #601
We're standing up a new cluster today and I was going to test this but I realized the instance type we'll be using is not included until v1.6. I'll exercise deployments on 1.6.0RC2 as part of my normal work to see if I can reproduce the behavior there--if not, I'll try to find some time to test against some different instance types.

[2019-10-08 11:24] simplytunde commented on #302
I had to terminate my ec2 instance to get it to use  the secondary cidr ENIConfig

[2019-10-08 13:13] RuBiCK commented on #486
Same issue with 1.14
`v1.14.6-eks-5047ed`

[2019-10-08 16:04] marcel4303 commented on #625
Having the same issue as @cgkades .
I've informed AWS Support and attached the results of the log-collector-script as @mogren requested.

[2019-10-08 16:26] matthsmi commented on #625
Thanks for the update, @marcel4303. I'm glad that we're not the only ones experiencing this, and thanks for opening up a ticket with AWS support, too.

We've also got an internal high priority ticket open with AWS. In the mean time, we've been using aws cni 1.5.1. We'll be sure to update this issue with relevant details as we hear back internally.

[2019-10-08 17:55] mogren commented on #625
Looking at the reports I have gotten so far, the main issue seems to be the DNS call where the CNI tries to reach the API server. The first two lines in the ipamd logs..
[code]
...usually says it took around 30s to do [kubeClient := k8sclient.GetKubeClient()](https://github.com/aws/amazon-vpc-cni-k8s/blob/14de5387803aba95bb4bd32c1683941c60b391e0/pkg/k8sapi/discovery.go#L84) on nodes that have issu

[2019-10-08 17:55] marcel4303 commented on #625
Your welcome.
I've tried also to downgrade the cni version to 1.5.1. This results in a ready state node(s) however the pods then encounter issues and remain in the state of ContainerCreating.

[code]

[2019-10-08 19:05] yeolahm opened #647 "Configure aws sdk to use Region specific AWS STS service endpoints."
## Issue Description
When worker nodes are launched within private subnets with no access to the internet.
VPC is configured with the VPC private endpoints for services EC2, ECR, S3 and STS.
Amazon VPC CNI Plugin for K8S is configured with the service account and mapped to IAM Role for restricted access.
In this case, while aws-node pod calling AWS EC2 API (DescribeNetworkInterfaces) fails since i

[2019-10-09 20:47] jaypipes commented on #389
@mentalisttraceur apologies for the long delay in responding here. How do you determine that the reason the daemonset goes into CrashLoopBackoff is due to improper IAM role permissions? I presume we can trap for the permissions failure and log a warning, etc, but I'd like to understand how you are determining this problem at the moment (given, as you say, there are no log messages indicating the I

[2019-10-09 21:18] jaypipes commented on #431
@uthark have you been able to reproduce the CNI plugin releasing ENIs after successful startup of the CNI plugin but after an API server interruption has occurred? @mogren and I have been looking through the current codebase and cannot see any location where an ENI is being released if the k8s API server cannot be contacted...

[2019-10-09 21:24] jaypipes commented on #405
@Deepak1100 apologies for the delay in responding here. After chatting with @mogren, we are not going to attempt to add this feature to the 1.x series of the CNI plugin, and instead are targeting the 2.0 CNI plugin for this functionality. You can read here about the 2.0 CNI plugin design: https://github.com/aws/containers-roadmap/issues/398

You will note that the new design uses a CIDR-allocation

[2019-10-09 21:24] #405 closed

[2019-10-09 21:25] jaypipes commented on #420
As mentioned on #405, the 2.0 CNI plugin design will alleviate this issue. See https://github.com/aws/containers-roadmap/issues/398 for more details. Closing this issue for the 1.x CNI series.

[2019-10-09 21:25] #420 closed

[2019-10-09 21:27] #385 closed

[2019-10-09 21:28] #369 closed

[2019-10-09 22:24] mogren commented on #401
Fixed for updates via #645

[2019-10-09 22:24] #401 closed

[2019-10-10 01:14] williamyao1982 commented on #591
@mogren Thanks for your support. We already changed CNI to flannel.

[2019-10-10 08:44] blakelead commented on #625
FYI, also had this issue in CNI 1.5.4.
Downgrading to 1.5.1 **before** scaling nodes resolved this for us.

[2019-10-10 18:46] mogren commented on #625
Does this happen on worker nodes using 1.13.7 kubelet? The reason I ask is that there was an upstream bug:

1.13.8 and later has this fix https://github.com/kubernetes/kubernetes/issues/79398

[2019-10-12 05:14] tianyuan848192 opened #651 "control the resource access"
we have just meet the situation as follow:
1. we are using ec2 to build up our k8s environment and using aws-cni as network solutions.
2. our k8s platform is under an account which have other ec2 instance.
3. we need try to attach the IAM policy to the ec2 which is k8s node instance that make them can attach or detach network interface  and other necessary action.

Our concerned is :
In our case,

[2019-10-12 15:31] zjuxxd commented on #59
Face the same problem:

kubelet, ip-10-1-30-135.ec2.internal  Failed create pod sandbox: rpc error: code = Unknown desc = failed to set up sandbox container "xxx" network for pod "xxx": NetworkPlugin cni failed to set up pod "xxxxx" network: add cmd: failed to assign an IP address to container

amazon-k8s-cni:v1.5.4
EKS: v1.14.7-eks-e9b1d0

1 single t3.small instance. Expected pod number is 11. Wh

[2019-10-13 23:55] mogren commented on #59
@zjuxxd If you only have one node, were two CoreDNS pods running on that node? Also, what were your settings?

[2019-10-14 04:16] sergey-safarov opened #652 "feature request: floating IP"
We use SIP servers in kubernetes environment.
Because many VoIP carriers and customers use firewall rules we cannot place (create) new call and route this via specific IP address as source IP:
1. new outbound `TCP` connection cannot be send via Application Load Balancer (ALB);
1. new outbound `UDP` or `TCP` connection cannot be send via Network Load Balancer (ALB);
1. elastic IP cannot be assigned

[2019-10-14 17:25] Jeffwan opened #653 "Add support for m5n/m5dn/r5n/r5dn instance types"
r5dn instances are not supported yet. Let's enable the support and unlock some customers.

https://github.com/aws/amazon-vpc-cni-k8s/blob/master/pkg/awsutils/vpc_ip_resource_limit.go

[2019-10-14 20:20] Jeffwan commented on #653
just notice https://aws.amazon.com/about-aws/whats-new/2019/10/introducing-amazon-ec2-m5n-m5dn-r5n-and-r5dn-instances-featuring-100-gbps-of-network-bandwidth/

There're also m5n, m5dn, r5n there. I will file a follow up PR.

[2019-10-14 21:16] mogren commented on #641
I have still not been able to reproduce this issue, and I have not gotten any logs showing errors in the CNI, but I have seen a lot of errors in the CoreDNS logs. If anyone can reliably reproduce the issue, or find a missing route or iptable rule, I'd be happy to know more.

[2019-10-15 03:35] ayosec commented on #641
We had a similar problem today, with 1.5.4.

Yesterday, we changed the configuration of the deployment to set `AWS_VPC_K8S_CNI_LOGLEVEL=INFO`, so the `aws-node-*` pods were restarted. We checked if it was able to assign IP address to new pods, and everything was working as expected.

Today, we updated some deployments, and then we started to see `504 Gateway Timeout` errors in some requests.

Afte

[2019-10-15 10:03] oceannic opened #658 "Branch release-1.5, the aws-k8s-cni.yaml still pointing to amazon-k8s-cni v1.5.3 instead of v1.5.4"
From AWS official page, it mentioned that by applying the yaml "https://raw.githubusercontent.com/aws/amazon-vpc-cni-k8s/release-1.5/config/v1.5/aws-k8s-cni.yaml", CNI will upgrade to latest 1.5.4 version.
However, I noticed that the aws-k8s-cni.yaml under release-1.5 branch still pointing to CNI v.1.5.3, which is not sync with the information provided in AWS official page - https://docs.aws.amazo

[2019-10-15 13:58] pito-svk commented on #547
Same for me. EKS version: v1.14.7-eks-1861c5

[2019-10-15 14:12] dschaaff commented on #547
I’m no longer seeing this issue on 1.14.6 and cni version 1.5.3.

[2019-10-15 14:18] pito-svk commented on #547
@dschaaff My cni version is: amazon-k8s-cni:v1.5.4

[2019-10-15 18:13] longatrover commented on #658
@oceannic

Agreed, after reporting to AWS it actually looks like 1.5.3 is the intended version to be on due to a networking issue discussed here: https://github.com/aws/amazon-vpc-cni-k8s/issues/641

They should be making amendments to the upgrade documentation page to account for this.

[2019-10-15 21:35] mogren commented on #641
@ayosec Thanks a lot for the helpful details!

[2019-10-15 21:48] mogren commented on #658
In case there was some issue with v1.5.4 that is not in v1.5.3, we did a temporary rollback. Since the issue seems to be the same in both versions, I reverted it back to v1.5.4.

[2019-10-15 21:48] #658 closed

[2019-10-15 21:48] #653 closed

[2019-10-15 22:35] Magizhchi commented on #641
We are facing the same issue, pod to pod communication is intermittently going down, restarting the pods brings it back up.

We followed the suggestion above to downgrade to 1.5.3 and restart the node which worked for us.

So maybe there is some issue with v1.5.4

[2019-10-15 23:01] yydzhou commented on #641
The cni version is still 1.5.4 on new created cluster. And we are still hitting this issue. :(

[2019-10-15 23:03] yydzhou commented on #641
https://raw.githubusercontent.com/aws/amazon-vpc-cni-k8s/release-1.5/config/v1.5/aws-k8s-cni.yaml
The version is still 1.5.4 and we still hit the issue.

[2019-10-16 05:06] mogren commented on #641
@yydzhou So far in our tests v1.5.3 and v1.5.4 behave the same, and the issues we have been able to reproduce seem to be resolved by restarting CoreDNS. If you have any logs from the CNI showing errors in setting up routes or rules, please send them to me.

[2019-10-16 12:04] mentalisttraceur commented on #389
@jaypipes When we just added an IAM role with the right permissions to the EC2 instance, and made no other changes, the daemonset stopped crashing.

[2019-10-16 13:11] jaypipes commented on #389
@mentalisttraceur can you provide a snippet of your logs before and after adding the IAM role so that we can determine what is not being logged or reported as an error? Thanks!

[2019-10-16 16:40] mogren commented on #641
@owlwalks Thanks for the helpful comment. Cilium uses eBPF, so I guess that is how they the conntrack issues.

There is a related issue in https://github.com/awslabs/amazon-eks-ami/issues/357 and the Amazon Linux team is aware of the problem.

[2019-10-16 21:53] anand99 commented on #641
EKS clusters created with CNI v1.5.4 still giving timeout issues for pod-to-pod communication on same node, even after killing existing CoreDNS pods. Restarting CoreDNS might take away domain resolution errors, but still pod-to-pod communication issue stays.

For example, one pod talks to another one using grpc, throwing following error:
[code]
10.100.5.212 is the ClusterIP of the service.

If we

[2019-10-17 07:09] xnwsw opened #661 "master node in notready state due to cni setup issue"
This maybe a basic setup question. I followed the install steps on [k8s site](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/), and after 'kubeadm init', I installed this addon, which seemed to work, a rerun confirms:

`$ kubectl apply -f amazon-vpc-cni-k8s/config/v1.5/aws-k8s-cni.yaml
clusterrole.rbac.authorization.k8s.io/aws-node unchanged
serviceacc

[2019-10-17 15:32] jraby opened #662 "AWS_VPC_K8S_CNI_RANDOMIZESNAT prng not working in amazon-k8s-cni:v1.4.1 (and 1.5+)"
The iptables version shipped in the amazon-k8s-cni image does not support the `--fully-random` SNAT option. This option was introduced in iptables 1.6.something whereas v1.24.x is used in the  amazon-k8s-cni image. (this seems to be the version from the yum repos from amazonlinux)

When setting `AWS_VPC_K8S_CNI_RANDOMIZESNAT` to  `prng` using this image, it falls back to the hash random method.

I

[2019-10-17 16:02] jaypipes commented on #662
Hi @jraby, yes this is the expected behaviour, AFAICT from the code:

https://github.com/aws/amazon-vpc-cni-k8s/blob/3aacadcc5337801b4bf9e027863edbebd68a5bf1/pkg/networkutils/network.go#L349-L357

You should see a warning logged about falling back to "random" instead of "random-fully".

As for when the AL2 iptables package will be updated to a more modern version, I don't know the answer to that.

[2019-10-17 16:53] GSCSW commented on #661
@azretkenzhaliev , no I have not. I see this is part of eks setup, but I didn't use EKS, instead simply started an EC2 instance.  and following this instruction:
https://github.com/aws/amazon-vpc-cni-k8s#setup

which boils down to just one command :
`kubectl apply -f aws-k8s-cni.yaml`

is this not enough? does regular ec2 instance support k8s install? or do I have to rely on eks?

thanks,

[2019-10-17 17:15] azretkenzhaliev commented on #661
In my case, I have a Kubernetes cluster (not EKS) that is built over the EC2 instances (spot fleet request), and yes, you have to apply CRD because otherwise when CNI will be querying the kube-api-server for information on in which subnet to put a pod, it will basically fail because there is no "ENIConfig" CRD and no information is being provided on how to configure ENI for the pod under processin

[2019-10-17 17:38] mogren commented on #661
@azretkenzhaliev If you have `AWS_VPC_K8S_CNI_CUSTOM_NETWORK_CFG=true`, you also have to provide a custom ENI config. Unless you really need it, it's easier not to set this flag. If you do need to keep the pods and nodes separate, there are setup instructions in the [AWS EKS documentation](https://docs.aws.amazon.com/eks/latest/userguide/cni-custom-network.html).

[2019-10-17 18:56] azretkenzhaliev commented on #661
@mogren Ah, right :) We do use this flag at Yelp — that's probably why I said that to @GSCSW

[2019-10-17 20:45] mogren commented on #661
@azretkenzhaliev 🤦‍♂️😀

[2019-10-17 20:53] jraby commented on #662
For the record, building an image based on `centos:8` instead of `amazonlinux:2` seems to work well.

[code]

[2019-10-18 12:04] miguelaferreira opened #663 "Cannot run metrics helper with IAM roles mapped to k8s service accounts"
I've setup my EKS cluster to block pod access to the EC2 metadata endpoint and instead obtain IAM policies via roles mapped to service accounts (via OpenID Connect).

Turns out that the cni metrics helper wants to reach that endpoint. Since I'm blocking pod access to the EC2 metadata with (calico) network policies, I've allowed that one pod (metrics helper) to reach the endpoint. What happens next

[2019-10-18 17:29] nachomillangarcia commented on #641
I am also facing this in one of the nodes. By checking connections between all pods, I could see that the connectivity problem was only between pods whose IPs are in different ENIs. No matter if it is CoreDNS or any other container.

Then, checking the IP rules, I noticed that **the rules for all IPs of the principal ENI were missing**.

I couldn't find any log about that error, will be glad to sh

[2019-10-18 18:18] jraby commented on #662
In the end we rolled our own image with the following pseudo diff:
[code]

One needs to be aware that iptables >=1.8.0 defaults to nftables (so does iptables shipped with centos:8), which will break if used on a node where `kube-proxy` also injects rules with an older version of iptables.
The above builds iptables without that nftable support to avoid any surprise / conflict.

Fun times.

[2019-10-18 20:27] vmrm commented on #641
Same thing with iprule and with 1.5.4 cni version in EKS 1.14 cluster, downgrading to 1.5.3 helped.

[2019-10-20 01:37] jwenz723 commented on #641
I just created a new EKS 1.14 cluster. I tried to install linkerd by running `linkerd install | kubectl apply -f -` using the linkerd cli version 2.6.0. After the install completes not all of the pods start up. I let the cluster sit for a few hours to see if it would eventually resolve, never did.

Next I downgraded the AWS VPC CNI from v1.5.4 to v1.5.3, suddenly all my pods started and are in a R

[2019-10-21 10:37] victorboissiere commented on #641
Same with 1.5.4 cni version in EKS 1.13 cluster, downgrading to 1.5.3 helped.
I had to migrate all workloads to new worker nodes and I am not seing pod to pod communication errors on the same node. I do not see any timeouts errors now.

[2019-10-21 13:37] Sushruth-Godugunuari opened #665 "ENI not using AWS_VPC_ENI_MTU"
We attempted to use environment variable AWS_VPC_ENI_MTU introduced in [v1.6.0-rc3](https://github.com/aws/amazon-vpc-cni-k8s/releases/tag/v1.6.0-rc3) but the pods created still use the default value of 9001.

Kubernetes Version:  1.12
Platform Version: eks.5
Worker AMI: amazon-eks-node-1.12-v20190927 (ami-0ee9e136178176e29)

[2019-10-22 05:58] awprice commented on #641
I'm not sure this of the cause of issues from upgrading 1.5.3 to 1.5.4, but I noticed that the v1.5.4 tag is missing a commit that is on v1.5.3: https://github.com/aws/amazon-vpc-cni-k8s/commit/d7bac816d0d7dec16d9d61d5cec5f401f02dc022

https://github.com/aws/amazon-vpc-cni-k8s/commits/v1.5.4
https://github.com/aws/amazon-vpc-cni-k8s/commits/v1.5.3

[2019-10-22 14:21] geraldstanje opened #668 "FailedCreatePodSandBox"
[code]

im seeing this error, whats the suggested way to fix it, what cni version would fix the problem? the ip address is randomized.
[code]

[2019-10-22 16:36] kuberkaul commented on #641
Well, this is blocking for us as well. We have over a 100 nodes and 30 clusters. The manual rollback doesnt work for us especially since we need other features for K*S to keep upgrading and CNI comes with the backed ami.

Any ETA on when this will be fixed and pushed upstream ?

[2019-10-22 16:48] mogren commented on #641
@awprice Good catch, I'm afraid that commit wasn't merged back into the release-1.5 branch correctly. I'm testing a v1.5.5 build right now with that commit and #667, and so far I don't see any of the issues we have seen with v1.5.4.

[2019-10-22 18:30] jaypipes commented on #665
Hi @Sushruth-Godugunuari, do you see any output related to MTU setting failure in your logs?

[2019-10-22 18:33] mogren commented on #665
I've tested this and noticed that the `MTU` gets set on eth1, eth2 and so on, but not on eth0.

[2019-10-22 18:41] Sushruth-Godugunuari commented on #665
No, our network team was seeing packets being dropped because of jumbo frames at our firewall. I see the MTU is 9001 when I run `ifconfig` on the pod

[2019-10-22 22:49] awprice commented on #641
@mogren I'm a little confused. Why is the addition of https://github.com/aws/amazon-vpc-cni-k8s/pull/667 the fix for the issues upgrading from 1.5.3 -> 1.5.4? The only difference I can see from 1.5.3 and 1.5.4 is the missing commit https://github.com/aws/amazon-vpc-cni-k8s/commit/d7bac816d0d7dec16d9d61d5cec5f401f02dc022 I mentioned above.

Is introducing another "fix" the right approach? Does addi

[2019-10-23 01:18] mogren commented on #641
This issue is caused by #623. Configs in master and release-1.5 branches have been back to v1.5.3 to avoid `ip rule` issues.

I will work to get a v1.5.5 out soon with a revert of #623, but with the new instance types. (Instead of backporting #667)

[2019-10-24 00:27] nithu0115 commented on #662
#509

[2019-10-24 06:33] fmb-chin commented on #59
[code]

[code]

+1

[2019-10-24 08:06] AshishThakur commented on #641
Facing a similar issue while we upgraded to 1.12. As per suggestions in the issue we downgraded dev cluster to 1.5.3 and things started working fine..whereas on prod cluster we have having slowness in DNS resolution with 1.5.3 as well.

[2019-10-24 19:35] dmai-apixio opened #677 "Pod IP Addresses are duplicated"
I found ip addresses could be duplicated in EKS cluster

[code]

You can see `aws-node-mrdfk` and `kube-proxy-fvg6t` has the same ip address with the worker node `10.0.135.147`

[2019-10-24 19:54] nckturner commented on #677
That's because they use host networking, which means they share the same network namespace and IP with the node.

[2019-10-24 20:37] cemo commented on #641
I think it is good to send an email regarding issue and workaround for now. @mogren
Unfortunately we spent a lot of time in last 2 weeks regarding this issue. It would be awesome to be notified about it. The affect of the issue is enormous in small clusters.

[2019-10-24 20:50] dmai-apixio commented on #677
As i know, a aws worker node had a pool of  ip addresses that the worker will assign for a running pod.
Wondering how could be duplicated.
Is it a bug? If pod A and pod B have the same ip, how can i make sure i will talk to pod A, not a pod B.

[2019-10-24 21:32] mogren commented on #677
Hi @dmai-apixio,

As @nckturner mentioned, pods using host network bind to different ports on the IP of the host itself. As you can see in that output, the regular pods (in the `default` namespace) all get IPs from the secondary IPs on the ENIs for that worker node. The CNI (`aws-node`) and `kube-proxy` both use host networking.

Some more details about host network in Docker: https://docs.docker.

[2019-10-24 21:32] #677 closed

[2019-10-24 21:40] ueokande commented on #641
Today, we created a new EKS cluster, and amazon-k8s-cni:v1.5.3 is deployed.
Our cluster is now fine!

[2019-10-25 10:44] max-rocket-internet commented on #613
@mogren

Wouldn't it make sense to just allow pulling the CNI in every region publicly?

[code]

[2019-10-25 10:44] max-rocket-internet commented on #613
And the same for AWS `coredns` and `kube-proxy`

[2019-10-25 12:13] max-rocket-internet opened #678 "Docker image AWS region is hard coded in YAML. Are we supposed to change it?"
Currently the docker image in the [release YAML](https://github.com/aws/amazon-vpc-cni-k8s/tree/master/config/v1.5) has an AWS region hard coded in `602401143452.dkr.ecr.us-west-2.amazonaws.com/amazon-k8s-cni:v1.5.3`.

The AWS documentation of [updating the CNI](https://docs.aws.amazon.com/eks/latest/userguide/update-cluster.html) tells us to just `kubectl apply -f xx` this file without any modifi

[2019-10-25 12:24] max-rocket-internet opened #679 "More granular releases in YAML, for example "v1.5.3" instead of "v1.5""
If you are going to update the release YAML files in [confg](https://github.com/aws/amazon-vpc-cni-k8s/tree/master/config) for minor releases, for example updating `config/v1.5/aws-k8s-cni.yaml` to `v1.5.4`, then it needs to be bulletproof.

But it clearly [is NOT](https://github.com/aws/amazon-vpc-cni-k8s/pull/670).

The result of this is not just things like that bug, but also we end up with dif

[2019-10-25 12:54] mprenditore commented on #641
Faced the same issue. Upgraded from 1.5.3 to 1.5.4 started to create some issues, a lot of 504.
Reverting back to 1.5.3 wasn't enough, we needed to restart all the cluster nodes in order to be back on fully functionality. Probably a full restart with 1.5.4 could have worked too based on what other people said here that there are no huge changes. But even in that case, the upgrade to 1.5.3 from 1.2

[2019-10-25 14:13] mlsmaycon commented on #493
It could be a problem with async way that calico's apply its policies, but strange or not, running on a similar fashion on GKE it didn't show this issue. Certainly their network plugin works in a different way.

I will test version 1.5.2 as it has a Ipam improvment:

Improvement - Reduce the wait time when checking for pods without IPs (#552, @mogren)

[2019-10-25 15:32] davidshin commented on #663
@miguelaferreira Were you actually able to get the IAM roles via OIDC working?  The documentation here (https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts-minimum-sdk.html) says that the minimum Go SDK version is 1.23.13, but I believe amazon-vpc-cni-k8s is using 1.21.7 (https://github.com/aws/amazon-vpc-cni-k8s/blob/master/go.mod)

[2019-10-25 15:44] jaypipes commented on #679
@max-rocket-internet Given the recent kerfuffle with 1.5.4, I understand your frustration. How do you propose we handle the minor release YAMLs, though? Within the `config/v1.5` directory, we have a `v1.5.2-aws-k8s-cni.yaml` file, a `v1.5.3-aws-k8s-cni.yaml` file, a `v1.5.4-aws-k8s-cni.yaml` file, etc, each mostly a copy of the other files with the image version changed? That seems like it could q

[2019-10-25 16:16] mogren commented on #679
@max-rocket-internet Good point. One option would be to have `config/v1.5/aws-k8s-cni.yaml` in the `master` branch to always point to the same minor version as the default for all new EKS clusters. That way, new patch releases would stay in the release-branches when they are published, and only be updated when we actually switch over the default.

In regards to `v1.5.4`, we have worked a lot to im

[2019-10-25 17:40] miguelaferreira commented on #663
Yes, I got it working. Instead of the manifest on that same [documentation](https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts-cni-walkthrough.html) (step 3 in _For all other Kubernetes versions_) I used [this other one](https://gitlab.com/open-source-devex/terraform-modules/kubernetes/kubernetes-extras/blob/master/variables.tf#L280) that pulls in a version v1.5.4.

I'

[2019-10-25 18:48] mogren commented on #678
You are right. Honestly I'd prefer to split the config up even more, to keep the custom env settings from being resetted on an update. Updating the documentation would be a good first step though.

[2019-10-28 08:07] nckturner commented on #613
@max-rocket-internet what do you mean by pull publicly?  ECR doesn't support uncredentialed access, but the permissions should allow anyone with valid AWS credentials to pull the image in all regions. Is that not the case?

[2019-10-28 08:45] nckturner commented on #668
`failed to assign an IP address`  The CNI plugin logs are telling you that you don't have any IP addresses available on the instance to assign to the pod.  Did you look at the number of free IP addresses available on the instance?

[2019-10-28 11:34] max-rocket-internet commented on #613
Ah sorry, my mistake, I thought this was possible with ECR.

[2019-10-28 13:02] max-rocket-internet commented on #679
No there isn't 😅 That's kind of my point, look: https://github.com/aws/amazon-vpc-cni-k8s/tree/3bc194dba294421fa2cc469f061c044f807928e5/config/v1.5

There's only 3 files and it's not clear what minor release is used there.

There will always be a lot of duplicated text, especially with k8s YAML, but a solid release process with automation should prevent "copy/pasta" mistakes.

You should never use

[2019-10-28 13:10] max-rocket-internet commented on #678
This would also solve the problem: https://github.com/aws/containers-roadmap/issues/140

[2019-10-28 14:10] jaypipes commented on #679
I was asking you *whether* adding a separate file for each minor version is what you wanted. I wasn't saying that is what exists now.

[2019-10-28 14:13] maruina commented on #606
Hello, we had the same problem while trying the lyft CNI. We solved it by removing `ec2-net-utils` from the AMI.
We're not sure what is that is causing the issues yet.

[2019-10-28 14:22] max-rocket-internet commented on #679
Ahh sorry, I misunderstood! Yes, that would also solve the problem. But the files need to be immutable, i.e. only updated if there was a typo or something. Or we use file links that belong to a specific tag.

[2019-10-28 14:22] jaypipes commented on #679
Yes, I understand that. I was asking you whether renaming the YAML file to `aws-k8s-cni-latest.yaml` would make it more clear to users that wish to have an immutable deployment artifact to *avoid* that YAML file.

Right, thus my question about renaming to `aws-k8s-cni-latest.yaml` to make that much more obvious :)

Check this out: https://github.com/aws/eks-charts/

I think it would be good to put

[2019-10-28 14:31] max-rocket-internet commented on #679
OK I get you, yes, that would be better.

Awesome! Can I make a PR?

[2019-10-28 14:40] jaypipes commented on #679
Of course you can! :) We'd be more than happy to review.

[2019-10-28 17:19] mogren commented on #606
@maruina Thanks for the suggestion, `ec2-net-utils` could definitely be involved. I know it will add some ip rules and I guess we need to investigate how they affect CNIs running on the node.

[2019-10-28 17:30] rlewkowicz opened #682 "I'm getting timeouts outbound from inside the container, works fine from the instance"
From instance:
[code]

From pod:
[code]

I can dig it, so dns resolves. There's also an event collector on 443 that I cannot reach, but I can curl things like google. There's no peering, but those splunk nodes are aws instances.

I'm asking here only because I know that the cni has all sorts of weird integrations, but I don't know how to troubleshoot them.

[2019-10-28 17:49] nithu0115 commented on #682
@rlewkowicz would you please confirm the CNI version installed on the cluster by running below command ? If it returns 1.5.4, would you please patch/set downgrade the image to 1.5.3 ?
‘kubectl describe daemonset aws-node --namespace kube-system | grep Image | cut -d "/" -f 2‘

[2019-10-28 18:54] rlewkowicz commented on #682
@nithu0115 I'm on amazon-k8s-cni:v1.5.3

I also tried swtiching to traditional calico node and enabled nat'd output. Again, I could reach out to things like apk, but it just cant get to these specific aws instances but the host can.

[2019-10-28 19:02] rlewkowicz commented on #682
I should add perhaps:
[code]
I'm also using the eks amis.

[2019-10-28 20:19] schahal commented on #284
This is the workaround we use as well.

Our environment where we ran into it:

*k8s*: `Kubernetes v1.13.11-eks-5876d6`
*cni plugin*: `amazon-k8s-cni:v1.5.3`

This has happened only a couple times over half a year (so on older versions too), so it's difficult for us to reproduce.

[2019-10-28 21:54] geraldstanje commented on #668
i updated the CNI plugin to a newer version and it worked...

[2019-10-28 21:55] geraldstanje commented on #668
i updated the version of the CNI plugin and didnt see that error any more, is that expected?

[2019-10-28 22:12] jaypipes opened #685 "Document release policies and practices"
We should document our policies for when we will cherry-pick patches to a past release branch, what our release gating criteria are, and what our actual release processes are.

[2019-10-28 22:12] jaypipes commented on #685
related: #679

[2019-10-28 22:23] jaypipes opened #686 "Automate conformance testing"
The EKS team currently runs the Sonobouy conformance test suite manually before releasing the CNI plugin. We want to both automate this process and place all test definitions into the public repo.

- [x] Create CircleCI plumbing (use eks-charts repo as example)
- [ ] Flesh out the following manual steps into a Bash script that is executed from the CircleCI YAML file
[code]
- [ ] ensure successful

[2019-10-28 22:30] jaypipes opened #687 "Document and automate CNI build process"
There is basic documentation for the build process for the CNI plugin in the README. However, we should add a test of the build process to the new CircleCI runner to automate the process of building and testing those builds.

Basic build process should be put into the CircleCI YAML file (or put into a Bash script and then called from the CircleCI file):

[code]

Of course, the `$AWS_ACCOUNT` needs

[2019-10-29 03:43] mogren opened #689 "Improve troubleshooting doc"
The troubleshooting docs could be improved a lot.

[2019-10-29 03:45] mogren commented on #682
@rlewkowicz Do you have some peered VPCs? Also, Calico might leave old rules around, usually listening with `tcpdump` on the L2 bridge between the pod network namespace and the host namespace can give a clue. Check the ip for the pod, then `ip route show table all` can give you the interface.

[2019-10-29 03:56] mogren commented on #663
@miguelaferreira There is an issue with ip rules going missing in v1.5.4 (#641), please try the [v1.5.5 release candidate](https://github.com/aws/amazon-vpc-cni-k8s/releases/tag/v1.5.5-rc1) instead.

[2019-10-29 03:58] mogren commented on #641
Please try the [v1.5.5 release candidate](https://github.com/aws/amazon-vpc-cni-k8s/releases/tag/v1.5.5-rc1) if you need g4, m5dn, r5dn or Kubernetes 1.16 support.

[2019-10-29 07:33] temal- commented on #284
EKS: `v1.14.7-eks-1861c5`
CNI: `amazon-k8s-cni:v1.5.3`
AMI: `amazon-eks-node-1.14-v20190927 (ami-0e21bc066a9dbabfa)`

Same problem on multiple EKS cluster. New VMs cannot join the cluster.

Kubelet error on the nodes:
[code]

Events:
[code]

[2019-10-29 10:10] miguelaferreira commented on #663
I've tried that version @mogren but I still get the same output.

With network policy blocking access to the EC2 metadata endpoint pod complaints it needs that access:
[code]
Without the network policy blocking access to the EC2 metadata endpoint pod assumes the role of the worker node and then complaints because it does not have access to cloudwatch:
[code]

[2019-10-29 11:01] Pluies commented on #608
Good to know this is getting worked on, it's an issue for us as well. 👍

We have nightly infra testing jobs that bring up a cluster (w/ Terraform), run tests, and delete the cluster, and we've noticed that the `terraform destroy` step fails fairly often due to ENIs being left in "available" state, which prevents the security group from being deleted.

[2019-10-29 14:16] jaypipes opened #690 "Automate e2e tests for leaked ENIs"
We currently run some manual e2e tests that attempt to emulate the situations where we know (#69, #608) ENIs may be leaked and catch these situations (#624, #645).

We need to automate the running of these e2e tests and gate all merges to prevent regressions.

[2019-10-29 15:10] max-rocket-internet commented on #679
Done: https://github.com/aws/eks-charts/pull/27

[2019-10-29 15:10] max-rocket-internet commented on #336
Done. Feedback welcome: https://github.com/aws/eks-charts/pull/27

[2019-10-29 15:25] pdostal commented on #59
Hello, @fmb-chin, in [v1.5/aws-k8s-cni.yaml](https://raw.githubusercontent.com/aws/amazon-vpc-cni-k8s/release-1.5/config/v1.5/aws-k8s-cni.yaml) I still see `amazon-k8s-cni:v1.5.3` image. Is the `1.5.4` already fixed? And if so, is it already released? Thank you

[2019-10-29 16:32] jaypipes opened #691 "Automate load testing"
Currently, we run load testing manually before a release, following these rough steps:

1. create a 3 node cluster
1. scale pod replica from 0 to 130
1. verify kubectl get deployment all to available
1. scale replica from 130 to 0
1. verify kubectl get deployment
1. repeat 2 to 5 for at least 3 times

with this sample Deployment:

[code]

- [ ] Place above test steps into a Bash script that can ex

[2019-10-29 16:35] yannick opened #692 "nodeport assigned in wrong subnet"
i have a kops setup spanning multiple AZz with a list of subnets.
i wanted to do an experimental setup where everything, including pods, are accessible from connected vpcs.  ( https://gist.github.com/yannick/b78fd2d0f34b37e43b0b3f1ab1d9f3f5 )
this works so far, except for that nodeports don't create an ENI.

now when i create a nodeport it assigns it a IP from the first subnet, however the node is

[2019-10-29 16:35] jaypipes opened #693 "Automate large scale load test"
Similar to #691, this is for automating of a larger scale test with 100 nodes and 4300 pods:

1. create 100 c4.xlarge node cluster
1. scale replica from 0 to 4300
1. verify kubectl get deployment all to available
1. scale replica from 4300 to 0
1. verify kubectl get deployment

This should not be done on each PR of course, but set to run automatically before a release commit/tag and periodically

[2019-10-29 16:38] jaypipes opened #694 "Automate CNI plugin upgrade testing"
Before releases, we manually perform a test of the upgrade process for the CNI plugin:

1. create 3 c3.xlarge node cluster
1. scale pod replica from 0 to 130
1. verify kubectl get deployment
1. upgrade cni to new version
1. verify kubectl get deployment
1. scale replica from 130 to 0
1. verify kubectl get deployment
1. scale replica from 0 to 130 again and verify

We should automate this and gate

[2019-10-29 16:50] #692 closed

[2019-10-29 17:03] rlewkowicz commented on #682
Wait a sec. It's arping to it's self?
[code]

[2019-10-29 18:23] mzupan opened #695 "EKS upgrade and aws-node isn't loading"
the aws cni isn't loading on a node. I get the following from a `kubectl -n kube-system describe ds aws-node`

[code]

This is against EKS 1.14
I tried loading

https://raw.githubusercontent.com/aws/amazon-vpc-cni-k8s/release-1.5/config/v1.5/aws-k8s-cni.yaml

This is after a upgrade from 1.11->1.14

[2019-10-29 19:21] mogren commented on #695
@mzupan It seems like you are missing a Pod Security Policy. Please see https://aws.amazon.com/blogs/opensource/using-pod-security-policies-amazon-eks-clusters/ for details

[2019-10-29 20:02] mzupan commented on #695
@mogren I have that

[code]

[2019-10-29 20:13] mzupan commented on #695
Ok i missing mosre then the `psp`. I applied this and it works

[code]

[2019-10-29 20:13] #695 closed

[2019-10-30 00:47] fmb-chin commented on #59
@pdostal
No, still failing in 1.5.4.

My problem happened after I changed instance type to t3.medium.

I changed instance type back to t3.large, no error.

(I use branch `release-1.5.4` to upgrade to 1.5.4)

[2019-10-30 04:23] mogren commented on #284
@temal- Thanks for the report. If the cni binary and config file is missing, ipamd must have failed to start correctly on the new node. There are a few possible options. Either the calls to the EC2 control plane got throttled and timed out, or there are no more ENIs or IPs available in the subnet. If you could get the logfiles from ipamd on a node that has this issue it would be extremely helpful.

[2019-10-30 06:11] karancode opened #696 "awscni_total_ip_addresses vs awscni_ip_max"
I wanted to know the difference b/w these metrics that are exposed.
I read the test example [here](https://github.com/aws/amazon-vpc-cni-k8s/blob/master/cni-metrics-helper/metrics/cni_test1.data#L4).
What I didn't understand is the exact difference b/w `awscni_assigned_ip_addresses The number of IP addresses assigned to pods` and `awscni_ip_max The maximum number of IP addresses that can be alloca

[2019-10-30 13:22] subos2008 commented on #201
For anyone else having similar issues:

-  we also found updating the CNI to the latest *recommended version* (see EKS docs) fixed this.

- However, we also saw the same/similar issue due to having small subnets and running out of IPs on the subnet for our worker nodes.

[2019-10-30 13:47] jaypipes commented on #696
Hi @karancode!

`awscni_assigned_ip_addresses` is the count of IP addresses on the worker node that have been assigned to pods already. It is incremented when any Pod gets an IP address assigned to it on any of the ENIs on the worker node. It is decremented when the Pod is terminated and its assigned IP address is disassociated with the Pod.

`awscni_ip_max` is the maximum number of IP addresses t

[2019-10-30 13:47] #696 closed

[2019-10-30 17:51] #665 closed

[2019-10-30 18:01] jaypipes commented on #208
Closing this issue out since we will be tracking this feature for the CNI plugin 2.x series but not for the 1.x plugin series.

[2019-10-30 18:12] jaypipes commented on #508
@tvalasek Hi Tomas, we're actually wondering what the specific feature request is for this. We're hoping you can elaborate. Are you asking for the CNI plugin to behave in a different way if it knows it's running on a master node (via inspection of, say, node-role annotation)? Or are you asking for a way to prevent the CNI plugin (via a daemonset taint/toleration) from running on master nodes?

[2019-10-30 18:15] jaypipes commented on #511
We should standardize on either klog or logrus.

[2019-10-30 18:23] tvalasek commented on #508
@jaypipes Hi Jay.

yes, thats the correct one

P.S.: If we would prevent it from running on master nodes we would not be able to schedule any pods on masters because aws-cni is responsible for assigning IP addresses to pods

[2019-10-30 22:26] nckturner opened #697 "Script to trigger integration/e2e tests"
We need a script to trigger e2e/integration tests that optionally provisions a test cluster, tears it down, is configurable, etc.  It should be executable from a CI job.

[2019-10-30 23:40] deliahu commented on #682
I am also seeing outbound timeouts from within the container on AWS CNI v1.5.4. I'm not sure if this is related since @rlewkowicz is on v1.5.3; I'd be happy to file a new issue if it's a separate bug.

Steps to reproduce:

1. Spin up an EKS cluster

[code]

2. Install AWS CNI v1.5.4:

[code]

3. Spin up pods and check their internet access (I had to repeat this a few times before reproducing):

[c

[2019-10-31 06:15] karancode commented on #696
Hi @jaypipes sorry, looks like my question wasn't perfect.
The metrics I am confused about are
- `awscni_total_ip_addresses`
- `awscni_ip_max`

What's the difference between these ? Also I checked, the value of `awscni_ip_max` is way greater than `awscni_total_ip_addresses`.

[2019-10-31 08:53] temal- commented on #284
@mogren Thanks for the quick reply.
I think it was related to an ongoing linkerd installation. Sadly, I couldn't reproduce the error afterwards (which is strange, because it happened on two different clusters) and therefore wasn't able to run the collector script. If the issue appears again, I'll come back here with more information.

[2019-10-31 16:15] sergey-safarov commented on #652
As `Calico` supported by AWS, looks as this feature may be implemented by floating IP.
https://docs.projectcalico.org/v3.10/networking/add-floating-ip

[2019-10-31 16:26] sergey-safarov commented on #652
If you prefer add floating IP feature directly into `amazon-vpc-cni-k8s`, then exist example of implementation
https://github.com/cbeneke/hcloud-fip-controller

[2019-11-01 03:31] 2tim commented on #682
Having similar issues with the latest eks and cni right after upgrading from 1.4

I noticed when running a maintenance pod and hitting an external api. I set the “EXTERNALSNAT” option to true. I’ve had similar problems off and on with this.

[2019-11-01 03:54] s-tokutake commented on #284
[code]

[2019-11-01 04:21] s-tokutake commented on #284
We are trying to create a new cluster using `eksctl ` and face the same error . The cluster is created successfully but the nodes are not become ` ready ` . Detail is below.

EKS: ` version 1.14 `
CNI: ` amazon-k8s-cni:v1.5.3 `
AMI: ` amazon-eks-node-1.14-v20190927 (ami-02e124a380df41614) `

Kubelet error on the nodes:

[code]

- ↓ exec  ` sudo bash eks-log-collector.sh ` on the node. but all log

[2019-11-01 13:58] pdostal commented on #59
Hello @druidsbane, this issue is probably active again - a lot of people are reporting so.

[2019-11-01 14:44] 2tim commented on #682
@deliahu Thanks for that tests script. I was about to write something like that. I noticed about 10 percent failure rate with 1.5.4. I swapped out google.com with rds.amazonaws.com and had similar results which also included one DNS failure. It also seemed to take a while to run.
@mogren In my case we upgraded from 1.4.1 on a 1.14 cluster to 1.5.4. We have `AWS_VPC_K8S_CNI_EXTERNALSNAT=true` as we

[2019-11-01 14:57] rammie commented on #59
Seeing the same issue. *Bump*

[2019-11-01 15:09] nithu0115 commented on #682
@2tim - there is a known issue with 1.5.4 CNI version. For more details, check #641

[2019-11-01 16:52] robin-engineml commented on #608
@Pluies We have a similar process, and the same problem. @mogren When can we look forward to a 1.6.0 release with the mitigating changes applied?

[2019-11-01 16:53] robin-engineml commented on #608
... or even a 1.6.0-rc4 (but without the problems of 1.5.4?)

[2019-11-01 18:17] 2tim commented on #682
@nithu0115 thanks for the note. After further exploring the issue I believe our problem stemmed from another issue. When applying the update from 1.4.1 to 1.5.4 we failed to set `AWS_VPC_K8S_CNI_EXTERNALSNAT=true` in our config. Apparently this put our host into a bad state. Once we realized that was missing we tried reapplying with it set to true and still had the issues mentioned above. In the e

[2019-11-02 15:04] hardcorexcat commented on #284
EKS : `1.13`
CNI: `amazon-k8s-cni:v1.5.3`
AMI: `ami-0619d38218e46ef86`

Got the same issue while updating the EKS cluster.
Freshly created worker nodes can't become `Ready` state.
Rollback from`amazon-k8s-cni:v1.5.3` to `amazon-k8s-cni:v1.5.1` resolved Issue.

[2019-11-04 02:47] RaymondKYLiu commented on #527
The # of max pods formula is changed if you configure CNI custom networking.
The [new formula](https://github.com/aws/amazon-vpc-cni-k8s/issues/331#issuecomment-485974190) is maxPods = (numInterfaces - 1) * (maxIpv4PerInterface - 1) + 2

For t3.small node, the max pods changes to 8.

[code]

[2019-11-04 21:59] jaypipes opened #702 "Automate ip rule tests"
Need to automatically run tests for `ip rule` behaviour.

[2019-11-04 22:02] jaypipes opened #703 "Scenario-based e2e testing"
Add parameterization for e2e testing to allow permutations/scenarios for:

* MTU
* routing behaviour
* num ENIs, IPs, instance types, etc

[2019-11-05 03:31] mogren commented on #608
@robin-engineml Hey, please try [v1.6.0-rc4](https://github.com/aws/amazon-vpc-cni-k8s/releases/tag/v1.6.0-rc4), fresh out of the oven. 😄

[2019-11-05 04:14] mogren commented on #663
@miguelaferreira Oh, did you add that permission though? It's not available in the managed CNI policy by default. See https://docs.aws.amazon.com/eks/latest/userguide/cni-metrics-helper.html#install-metrics-helper for details

[2019-11-05 07:25] karancode opened #704 "awscni_total_ip_addresses vs awscni_ip_max"
Sorry for a new issue but looks like #696 got stale.

The metrics I am confused about are

- `awscni_total_ip_addresses`(The total number of IP addresses)
- `awscni_ip_max` (The maximum number of IP addresses that can be allocated to the instance)

What's the difference between these ? Also I checked, the value of awscni_ip_max is way greater than awscni_total_ip_addresses.
For ex: what would be t

[2019-11-05 10:55] miguelaferreira commented on #663
@mogren I'm not sure what permission you are referring to. But if that's the policy for allow `cloudwatch:PutMetricData`, then yes I have put that policy in a role that I assign to the sa that runs the pods (according to instructions here https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts.html).

Using the role for the SA I have to block the access to the EC2 metadata,

[2019-11-05 11:28] thomas-brx opened #705 "Routes missing for some IP:s"
* EKS 1.14
* CNI v1.5.4

## Background
After terminating an instance in a cluster of 2, most pods were relocated to the only remaining instance before a new instance were launched. The relocated pods could not resolve DNS queries, or reach other pods.

After some digging around, it turns out that some of the IP:s on the instance are missing from the routing table:

[code]

These are all podIP:s on

[2019-11-05 14:38] dannyburke1 opened #707 "network: failed to Statfs "/proc/24876/ns/net": no such file or directory"
Hi,

We're running into a couple of issues running AWS EKS when doing a helm upgrade.
This platform has been running fine up until recently where a new deployment had originally issued the following error:

Upon searching the issues here I had seen that there were some fixes for this issue in later versions of CNI, we were running 1.4.1 when this error occurred on Kube 1.12 (EKS).

We are now runn

[2019-11-05 14:48] nithu0115 commented on #705
@thomas-brx, have you looked into #641 ?

[2019-11-05 15:44] thomas-brx commented on #705
Thanks, completely missed that one!

Duplicate of: #641

[2019-11-05 15:44] #705 closed

[2019-11-05 17:26] jaypipes commented on #707
@dannyburke1 are you seeing this error repeatedly in CNI logs? or was this a one-time thing you saw when upgrading?

[2019-11-05 19:19] mogren commented on #663
Ah, thanks @miguelaferreira for the explanation. This requires some more work from our side.

[2019-11-05 19:39] safiqueahemad commented on #317
I see this issue in 1.5.3 as well only on one node.. any workasround ?

[2019-11-05 21:08] dannyburke1 commented on #707
Hi @jaypipes - it appears a few times in the events after a helm upgrade fails.

This only populates once and upgrade is triggered though.

[2019-11-05 22:52] mogren commented on #317
@safiqueahemad What is the error? Does one node only have 2 ENIs, and the others more? Do you have some custom configuration?

[2019-11-05 23:10] safiqueahemad commented on #317
I would like to tell you that we are using extended VPC CIDR for kubernetes deployment.
EKS control plane version: 1.13
EKS data plane version: 1.13.7
cni: amazon-k8s-cni:v1.5.3
Error messages are like below from kubelet:
 ts_targetconsumer-76fc7b744d-zwwjd/7a1635e49338c62e53afc236bf7fff7eb44a33bb5fa21208a85bb0abbfc37cac to network aws-cni/aws-cni: add cmd: failed to assign an IP address to contai

[2019-11-05 23:34] jaypipes commented on #527
@RaymondKYLiu please note that there is a default maximum # of pods on a single node that is hard-coded in Kubernetes currently at 110:

https://github.com/kubernetes/kubernetes/blob/b735a17163ac7c7c39d9888932c815260c3ceaba/pkg/kubelet/apis/config/v1beta1/defaults.go#L162

Unless you are starting your kubelets with a different `--max-pods` configuration, you will be limited to 110 pods per node re

[2019-11-05 23:58] jaypipes commented on #707
@dannyburke1 Can you paste all of the CNI logs you have, please? Thanks!

[2019-11-06 00:34] jaypipes commented on #527
My mistake, I didn't realize that the `bootstrap.sh` script for the AMI builder configured the `maxPods` configuration setting for the kubelet dynamically by default. Please ignore the above comment.

[2019-11-06 00:40] jaypipes commented on #527
@mogren what do you think about moving this issue to the AMI builder repo? Seems the ask here is to allow more configurability in the AMI builder's `bootstrap.sh` script to modify how the `maxPods` is set when a custom ENIConfig is in use?

[2019-11-06 01:14] jaypipes commented on #704
This is an actual metric/gauge whose value is incremented for *each IP address that can be assigned* to an ENI when an ENI is added to the set of ENIs managed by the ipamD daemon. This happens on start of the CNI plugin's ipamD daemon.

Each time the `addENIaddressesToDatastore` method is called:

https://github.com/aws/amazon-vpc-cni-k8s/blob/5f22fd714ed1713f9345bf2056a0a59b51994d8a/ipamd/ipamd.g

[2019-11-06 01:14] #704 closed

[2019-11-06 03:43] s-tokutake commented on #284
I rollbacked  ` v1.5.3 ` to ` v1.5.1 ` , but the issue has been not resolved .

[2019-11-06 08:14] rubroboletus commented on #613
currently we are in eu-central-1 region, cannot pull from us-west-2 and when I switch the URL to local zone, I can use regular version image, but cannot use release candidates etc.

[2019-11-06 08:30] hhamalai commented on #284
Had the same issue as @hardcorexcat, rollback to v1.5.1 resolved the issue too, and now after a while upgrading back to v1.5.3 works too with new nodes. Clusters are created with terraform-aws-eks.

[2019-11-06 10:30] dannyburke1 commented on #707
Hi @jaypipes - we received this email from AWS directly, are you aware of this?:

You should rollback [3] your cluster's VPC CNI to version 1.5.3 AS SOON AS POSSIBLE.

run: kubectl apply -f https://raw.githubusercontent.com/aws/amazon-vpc-cni-k8s/release-1.5.3/config/v1.5/aws-k8s-cni.yaml

We're trying a deployment with this version now to see if this resolves the issue.

If it doesn't, i'll send

[2019-11-06 13:49] dannyburke1 commented on #707
Hi,

This can be closed using the version 1.5.3 seemed to do the trick :)

[2019-11-06 13:49] #707 closed

[2019-11-06 13:58] osobh commented on #205
Not an issue anymore, thank you !

[2019-11-06 13:58] #205 closed

[2019-11-06 18:25] jaypipes commented on #592
@tdmalone ping on this. have you continued to see the behaviour over long(er than 60-90s) periods?

[2019-11-06 18:50] jaypipes commented on #592
@tdmalone what do you think about us just either rewording the "error" message involved here to remove the wording "failed", since this behaviour is expected when a node is terminated? I think long-term, we want to get rid of the metrics helper entirely and use an exporter strategy to the upstream metrics server, so we don't want to make big changes to this at this time.

[2019-11-06 19:09] jaypipes commented on #519
Hi @kishorekumark, apologies for the long delay in responding to you here. We're actually trying to determine what precisely is the request from you here. Are you asking for a feature where instead of a single binary environment variable controlling whether the CNI plugin for a node does SNAT'ing, that you want the ability to select SNAT'ing for only *some* pods on the node and not others?

[2019-11-06 19:21] jaypipes commented on #272
@xrl we are fairly confident that this issue was fixed with #360. Would you mind please telling us whether you continue to see issues with the current version of the CNI plugin? Thanks much!

[2019-11-06 19:41] sdavids13 commented on #272
We are no longer having this issue after upgrading to a newer CNI.

[2019-11-06 19:52] jaypipes commented on #272
@sdavids13 thx for the update. I'm going to close this issue out. @xrl please feel free to let us know if you see similar issues now and I will reopen.

[2019-11-06 19:52] #272 closed

[2019-11-07 10:30] morro-wind opened #708 "no basic auth credentials"
I use kubernetes(not AWS EKS) on aws ec2 add amazon-vpc-cni
kubernetes version: v1.15.3
vpc-cni version: v1.5

I run command:

`$(aws ecr get-login --no-include-email --registry-ids 602401143452 --region ap-southeast-1)`

[code]
`kubectl apply -f aws-k8s-cni.yaml`

but aws-k8s-cni is not install

system log message :
[code]

[2019-11-07 14:20] evan-lin opened #709 "podIP duplicate with hostIP"
The host has 2 ENIs with primary IPs:
<img width="187" alt="Screen Shot 2019-11-09 at 3 07 57 PM" src="https://user-images.githubusercontent.com/17717672/68524523-f98ff300-0302-11ea-989f-58aa272f394c.png">

And here are the secondary IPs:
<img width="318" alt="Screen Shot 2019-11-09 at 3 09 04 PM" src="https://user-images.githubusercontent.com/17717672/68524527-13c9d100-0303-11ea-8312-e0170df9ba03

[2019-11-07 15:42] ixjosemi commented on #284
Hi all,

Here is my case:

## Environment
**EKS**: v1.14
**CNI**: v1.5.3
**AMI**: ami-082bb518441d3954c

I just created a fresh EKS cluster with 2 worker nodes that join the cluster but with a `NotReady` status. After downgrading the CNI version from `v1.5.3` to `v1.5.1`, workers get `Ready` status but when checking the subnet's IP that should be assigned to the workers there is only one IP.

Rega

[2019-11-08 18:52] devkid commented on #709
This pod is most likely running with `hostNetwork: true` therefor correctly has the host IP.

[2019-11-08 18:54] devkid commented on #708
Does your node role have permissions to pull from ECR?

[2019-11-08 19:34] ShahafSW commented on #283
This solution worked for me as well!

[2019-11-08 20:31] daviddelucca commented on #641
@MartiUK How did you downgrade amazon-k8s-cni? Could you show me the steps, please?

[2019-11-08 21:51] uruddarraju opened #711 "Duplicate IP Addresses for pods w/o host network"
We are running a 1.12.6 cluster provisioned with Kops.

Networking setup: aws-k8s-cni with calico for network policies
Using: `602401143452.dkr.ecr.us-west-2.amazonaws.com/amazon-k8s-cni:v1.5.2`

We saw a few networking issues for pods created in our integration testing cluster. This cluster experiences a lot of churn where we consistently spin up 100s of pods and delete them periodically. We obse

[2019-11-08 22:59] mogren commented on #709
Like @devkid said, this sounds like it is using host network.

@evan-lin You should try [v1.5.5-rc1](https://github.com/aws/amazon-vpc-cni-k8s/releases/tag/v1.5.5-rc1) instead, it has a fix for a quite serious bug in v1.5.4, and also support g4 (and a few other new instance types).

[2019-11-08 23:34] mogren commented on #711
Hi @uruddarraju, the CNI will not reuse IPs directly, but after a [1 minute cool down](https://github.com/aws/amazon-vpc-cni-k8s/blob/1726afd4395c6c02f5caab09daf56b447719bb31/ipamd/ipamd.go#L55-L57) they will be available to be assigned to pods again.

Do you use the default configuration? What kind of nodes are you running on, and how many pods per node? If you have a lot of churn, it helps to pr

[2019-11-09 00:38] drakedevel opened #712 "Restarting aws-node leaks all pod IPs after #371 due to use of incorrect container ID"
For context: we're running 1.5.4 of this CNI plugin on our staging cluster (Kubernetes 1.16.2, CRI-O, non-EKS) with a local backport of #371 for CRI-O support. Everything works pretty well, except we've experienced a significant number of instances of pods failing to start due to node IP exhaustion, even though we have pod limits in place that should prevent this. The introspection interface revea

[2019-11-09 00:52] drakedevel commented on #712
Fixing this without just going back to being Docker-only seems tricky. The only unique identifier available through the CNI is the infra container ID, which as far as I can tell is just flat-out not available through the Kubernetes API. That would seem to imply that the only option would be to go back to talking to the container runtime again (and adding support for the CRI socket protocol).

Supp

[2019-11-09 01:56] wongma7 commented on #686
I don't mind sonobuoy, but if we can achieve the same thing using the e2e.test binary directly I would prefer that mostly because it's one less potential source of bugs to worry about.

For example, something like this should be possible and we'll get the test output in real-time straight to stdout rather than having to wait for `sonobuoy logs`
[code]

[2019-11-09 06:21] chadlwilson commented on #641
@daviddelucca Replacing region below with whatever is appropriate for you...
[code]

And then it seems restarting all pods at minimum is required. Some seem to have restarted all nodes (which would restart the pods by side effect), but it's unclear if that's really required.

[2019-11-09 07:17] evan-lin commented on #709
@devkid thanks, but I think it has nothing to do with the hostNetwork, the CNI suppose to assign the pod with IP in additional network interface - eth1, instead of assign with the IP for eth0, which is duplicate with the host IP.

[2019-11-09 08:15] devkid commented on #709
Does this pod have `hostNetwork: true` set? If yes, then the CNI is **not** supposed to assign an additional IP.

[2019-11-09 14:53] evan-lin commented on #709
Hi @devkid , the issue is not about the network access between host and pods, it is about the IP allocation logic by the CNI.
For my scenario, the host has two network interfaces: eth0, eth1
<img width="44" alt="Screen Shot 2019-11-09 at 10 44 10 PM" src="https://user-images.githubusercontent.com/17717672/68530355-860dd600-0342-11ea-8cbc-5d5f7e8030fb.png">
eth0 has 2 IP,
<img width="187" alt="Scre

[2019-11-09 15:08] devkid commented on #709
You seem to confuse something here.

No, it's not. When the pod (that has this host IP show up in Kubernetes) is running with `hostNetwork: true`, the CNI doesn't do anything about this pod. It doesn't assign any IP to it. The pod runs in the same network namespace as the host and therefore it sees (like the host) all the (virtual) interfaces (that are mapped to all the pods running on that host t

[2019-11-10 10:54] evan-lin commented on #709
Much thanks for the your patient and details explanation. Sorry that my screenshots caused the confusing. For your questions: yes, the pods have hostNetwork: true enabled. The first screenshot is primaryIPs for both eth0 and eth1, one for each, so there are 2 IPs. The terminal screenshot show the total IP pool (29) for all ENI, and at that time, 5 have been assigned to pods.

Anyway, forget my abo

[2019-11-10 11:56] devkid commented on #709
I believe the documentation you are referring to:

is outdated. There was an issue that describes the behavior mentioned in the documentation, but according to @mogren's comment, it was resolved: https://github.com/aws/amazon-vpc-cni-k8s/issues/102. I just couldn't find the commit/PR that did this change right now. But I think now the maximum number of IPs available to pods is `(N*M)-1`, not `N*(M

[2019-11-10 15:06] evan-lin commented on #709
Thanks for the check, the maximum number of IPs available to pods is (N*M)-1 makes sense to me, only one IP of the primary ENI reserved for the host is enough - this reserved IP should never be added into the pod IP pool and available for pod.

From the ipamd debug info:
[ipamd.log](https://github.com/aws/amazon-vpc-cni-k8s/files/3828551/ipamd.log)
This is the primary ENI, it has 15 IPs, the prima

[2019-11-10 17:08] devkid commented on #709
And `vendor-push-service-hw-online-5b99fb8bc4-nqpsj` is the pod that has `hostNetwork: true` set? If yes, there is no problem and everything is as expected. If no, then this is weird.

[2019-11-10 17:12] devkid commented on #709
Also:

The log you posted only states the IPs it found on the ENI, it doesn't state that this IP is added to pool of IPs that are available to pods.

[2019-11-11 01:41] uruddarraju commented on #711
Thanks @mogren. I am not sure that is the problem though. As you can see in the above two examples I gave, the pods have been spun up at `9d` ago and `25m` ago. So I don't really think reconciliation races are  a problem here. And yes, we run default configuration, are there any best practices guides you want us to refer to for our deployment?

[2019-11-11 02:38] evan-lin commented on #709
The answer is no, it was created by deployment, so it is weird!

[2019-11-11 02:43] evan-lin commented on #709
From the ipamd.log, I can see the primary IP of primary ENI 10.29.52.187 has been added to datastore - not sure about the datastore concept
[code]
And in the secondary ENI, I can see the primary IP of secondary ENI has **not** been added to datastore.
[code]

[2019-11-11 02:45] evan-lin commented on #709
So if we can figure out the issue root cause, that would be great.
And temporally, any ideas about how to remove a specific IP (the host IP) from the pool? I can do the manually check and remove it to prevent the issue.

[2019-11-11 04:59] mogren commented on #709
@evan-lin the host IP should definitely not be added to the data_store of IPs available to the pods. Could you please run [the log collector script](https://github.com/awslabs/amazon-eks-ami/tree/master/log-collector-script) and send the dump to mogren@amazon.com? If not, you can check what is currently in the IP cache by running `curl http://localhost:61679/v1/enis` and `curl http://localhost:616

[2019-11-11 05:24] evan-lin commented on #709
Hi @mogren , the node has been rebuilt, not sure if the new node can reproduce the issue, if so, I will run the script.
Before the old node was destroyed, I ran script as per https://github.com/aws/amazon-vpc-cni-k8s/blob/master/docs/troubleshooting.md

`[root@ip-192-168-188-7` aws-routed-eni]# /opt/cni/bin/aws-cni-support.sh

Please check this log [aws-routed-eni.zip](https://github.com/aws/amazo

[2019-11-11 05:29] evan-lin commented on #709
Hi @mogren , do we have a way to remove specific IP from the pool?

[2019-11-11 09:28] evan-lin commented on #709
The curl enis results is [curl-enis.log](https://github.com/aws/amazon-vpc-cni-k8s/files/3830599/curl-enis.log)
You can see the primary IP of primary ENI is in the pool.
[code]

[2019-11-11 17:38] jaypipes commented on #709
@evan-lin this is really weird. From looking at the code here:

https://github.com/aws/amazon-vpc-cni-k8s/blob/3b4fd504fdcd54d7854cb55e083d669be5bfdc97/ipamd/ipamd.go#L741-L744

there should be no way that the primary IP address should be added to the datastore's list of IP addresses for the primary ENI.

[2019-11-11 18:11] mogren commented on #712
@drakedevel Thanks a lot for the detailed bug report! I agree that checking with the container runtime is probably the only way to be sure. Are you proposing to add code to talk to the CRI using the `ListContainers` method instead of the Docker specific API that was previously used?

[2019-11-11 20:43] drakedevel commented on #712
@mogren Yep, pretty much! I think we actually only need `ListPodSandbox` -- that gets us at least the infra pod ID as well as the pod name/namespace/UID, which I believe is everything we're currently using. (The simplest implementation would be basically a drop-in replacement for `pkg/docker`.)

When I originally submitted this report I was worried there would need to be two codepaths -- one for D

[2019-11-11 20:56] mogren commented on #712
@drakedevel Unless it proves to be way too much work, I'd rather wait with releasing 1.6 until the CRI support is merged, just to fix this issue. We know that removing the docker dependency is quite a big change, and that we will need to really test all kinds of corner cases.

To get rid of the extra call to API server at startup would be great, but that's something that could wait until v1.6.1 or

[2019-11-11 21:20] drakedevel commented on #712
@mogren Sounds good on both counts! I should have time to start working on this today; I'll start a draft PR once there's anything to put in it :smile:

[2019-11-11 21:29] jaypipes commented on #686
Fair point, Matthew. I've changed the issue title and description accordingly.

[2019-11-11 21:44] mogren commented on #708
@morro-wind Like @devkid mentioned, all worker nodes will do an image pull trying to fetch `602401143452.dkr.ecr.ap-southeast-1.amazonaws.com/amazon-k8s-cni:v1.5.3`, so the node role needs to be allowed to do that.

[2019-11-12 01:51] evan-lin commented on #709
@jaypipes ya, this is really weird, look like the ec2Addr.Primary is false for 10.29.52.187.
Is it possible it is related to the new G4 instance? Let me build a refresh environment and see if I can reproduce it.

[2019-11-12 04:57] mogren commented on #709
@evan-lin Please use `v1.5.5-rc1`, v1.5.4 has a quite bad `ip rule` bug.

[2019-11-12 22:13] vipulsabhaya opened #715 "Document Development of new Integration Tests"
Document test writing guidelines for testing new Features.

[2019-11-13 14:05] daviddelucca commented on #641
@chadlwilson great, thank you!

After run this command, should I kill ALL pods? Including kube-system namespace? How can I restart nodes?

[2019-11-13 15:10] daviddelucca commented on #641
@chadlwilson thank you very much

[2019-11-13 18:23] mogren opened #717 "Update cni-metrics-helper watcher"
In #716, the watcher was changed to only look at the local pods. The `cni-metrics-agent` was watching to find the other CNIs in order to scrape prometheus metrics. This needs to be updated.

Also add watching for the force detach metrics (`awscni_force_removed_enis` and `awscni_force_removed_ips `), added in #733

[2019-11-13 22:13] mogren commented on #641
[v1.5.5](https://github.com/aws/amazon-vpc-cni-k8s/releases/tag/v1.5.5) is released with a revert of the commit that caused issues. Resolving this issue.

[2019-11-13 22:13] #641 closed

[2019-11-14 10:44] stafot opened #720 "Problem with Prometheus Service Discovery after release 1.5.5"
Ref. [kube-prometheus: CoreDNSDown
](https://github.com/coreos/prometheus-operator/issues/2278#issuecomment-553824661)

It seems that with version 1.5.5 is introduced a bug that breaks service Discovery of Prometheus Monitor of CoreDNS.
With version `1.5.3` Definition that works
[code]
The above definition breaks with version `1.5.5`
To fix the issue the definition refactored as following.
[code]

[2019-11-14 15:42] jaypipes commented on #720
@mogren I'm having a tough time figuring out what, if anything, changed in the VPC CNI plugin code or configuration between 1.5.3 and 1.5.5 that could cause an issue with the CoreDNS service.

@stafot it looks to me like the root of this issue is a change in the CoreDNS Service definition, which obviously doesn't have anything to do with the CNI plugin. I'm quite confused...

[2019-11-14 15:55] neverdane commented on #59
@fmb-chin Same here, switching to t3.large did the job for us.

[2019-11-14 16:36] stafot commented on #720
@jaypipes I tested with same `coredns` versions and same `prometheus operator` versions. The only relevant change between `EKS` cluster that failing to discover `coredns` and the one that succeed is that the failing has up to date cni plugin while the other runs the `1.5.3` version. Anyway I commented the same on `prometheus operator` repository. So I don't think that has to do at all with `coredn

[2019-11-14 16:38] schumacher-m commented on #59
I’ve been haunted by this issue for a longer period. I want to add that our root issue was a too limited CIDR in the attached Subnet the Pods were scheduled in. It simply ran out of available IPs.

[2019-11-14 19:06] jaypipes commented on #720
@stafot I'm certainly not doubting your scenario! :) Just curious what the cause of this is...

[2019-11-14 19:15] jaypipes commented on #720
@stafot the nodes that you're running the different CNI plugin versions on ... are they different AMI versions by any chance? If so, could you paste what those image IDs are please?

[2019-11-14 19:20] spikewang opened #721 "Pod Connectivity is broken randomly"
POD connectivity is broken with EKS in the region: us-west-1 (Oregon)

Connectivity between pods is broken for 1 ETCD pod. To isolate further removed the etcd service and am trying to ping the etcd pods directly from the source pods.

Source pods:
orchestrator-us-west-8-5db22211e2e90e0db2d1f856-orchestratcsl76   1/1     Running   0          16h     172.16.0.137   ip-172-16-0-216

Destination pods:

[2019-11-14 19:24] mogren commented on #721
@spikewang Hi, what version of the CNI are you using? v1.5.4 had an issue with `ip rule`, #641.

[2019-11-14 20:59] spikewang commented on #721
hi @mogren, thanks for the quick reply. Yes, I am aware of that issue with v.1.5.4 and we already downgraded all CNI from 1.5.4 to 1.5.3 on all our clusters last week.... However, those pods were created a while back....

[2019-11-14 22:08] mogren commented on #721
@spikewang Yes, that is the `ip rule` issue. The missing rules for existing pods will not be re-created. If you really don't want to restart the nodes, you would have to manually add those routes back on each node. First, check which pods you have running on each node, and what IPs they have. Then ssh to the node and run `ip rule`. The missing rules look like:
[code]
To add the IP for one of your

[2019-11-14 22:11] spikewang commented on #721
I see. Cool, appreciate for the clarification. I will try it out!

[2019-11-14 22:11] #721 closed

[2019-11-15 08:41] stafot commented on #720
@jaypipes
In both clusters we use `ami-0392bafc801b7520f` at the moment.
Prometheus Operator version (on both): `v0.31.1`
Prometheus version (on both): `v2.11.0`
CoreDNS versions tested against: `1.6.2` and `1.6.5`

[2019-11-15 20:54] mogren commented on #712
@drakedevel Looking at this comment from 2 years ago, I wonder what the idea was here. Is the issue that the container ID will be no longer be empty in the data store, since it's fetched from the kubelet, and then this code path will never succeed?

https://github.com/aws/amazon-vpc-cni-k8s/blame/c74841a229e7f6a369858b073d9feaa1ee890146/ipamd/rpc_handler.go#L95-L100

[2019-11-15 23:41] jacksontj opened #723 "IPAMd not allocating additional IPs on primary ENI"
I noticed in my clusters that the primary ENI for my nodes aren't getting additional IPs assigned to them. After digging into this I found that the primary interface is skipped if `skipPrimary` is set [here](https://github.com/aws/amazon-vpc-cni-k8s/blob/master/ipamd/datastore/data_store.go#L393) which is passed as the value of `useCustomNetworking` [here](https://github.com/aws/amazon-vpc-cni-k8s

[2019-11-16 00:26] mogren commented on #723
@jacksontj Do you have custom networking enabled in your cluster? If `c.useCustomNetworking` is true, the call to `GetENINeedsIP()` will pass in `skipPrimary = true`, and that would trigger the check to see if we should skip the first ENI when attaching IPs.
[code]

[2019-11-16 00:35] euank opened #725 "ipamd uses and deletes user-managed ENIs"
We have a use-case that I can't figure out how to get working safely while using the aws-vpc-cni-eks-k8s-eni plugin.

### Issue

We have a service that we wish to run in host networking and have listen on a public IP with a specific security group. Previously (before using this project), we managed this by associating an ENI with a public IP and the right security group, and that worked well. This

[2019-11-17 20:13] jaypipes commented on #725
I like the concept of being able to reserve ENIs (or elastic IPs, frankly) for a workload that is either not managed by Kubernetes (but running on a k8s worker node) or using host networking and/or specialized offloads or networking capabilities.

I'll take a gander at your PR. Looks promising from an initial skim.

[2019-11-18 10:01] idanya opened #728 "WARM_IP_TARGET parameter ignored"
I'm using c5.9xlarge instances in my cluster and setting WARM_IP_TARGET to "4".
This is the ENV section:
[code]

Apparently, WARM_IP_TARGET is ignored and all ENI IP's allocated.
For example, an instance running 4 pods has 30 secondaries IP's.
![image](https://user-images.githubusercontent.com/10362893/69042733-6d648680-09fa-11ea-85a7-2636af89f2c2.png)

using amazon-k8s-cni:v1.5.0
![image](https:/

[2019-11-18 11:00] idanya commented on #728
Found the issue.
It was IAM permission to call UnassignPrivateIpAddresses that was missing.
Closing.

[2019-11-18 11:00] #728 closed

[2019-11-18 17:10] mogren commented on #725
@euank You are correct in that this CNI assumes that it owns all ENIs on the node, and currently there is no way for the user to configure this. Tagging the ENIs that you want to be left alone sounds good. I'll take a look at the PR, thanks a lot for working on this!

My only concern so far is that just like when using custom networking, the `--max-pods` value in the default EKS AMI will no longer

[2019-11-18 17:42] jacksontj commented on #723
I re-checked and I am definitely not enabling CustomNetworking but I do see secondary IPs occasionally (apparently I was just unlucky, the 2 I checked Friday didn't have them). So this seems like a false alarm -- sorry for the noise!

[2019-11-18 17:42] #723 closed

[2019-11-19 17:00] ChaturvediSulabh commented on #59
same happened with me today

[2019-11-19 22:19] euank commented on #725
Indeed. I think it's up to the user to configure that if they plan to reserve ENIs unless we can think of a better option.

I don't think it would, but I think it's reasonable to document the primary ENI for the instance as being special (it is used for the k8s nodeIP after all).

Speaking of, the PR I created is missing all documentation, which I think would be the place to resolve both of those

[2019-11-20 00:16] mogren commented on #725
@euank Totally agree! 🙂

[2019-11-20 03:07] drakedevel commented on #712
@mogren I think that's right -- digging in, that codepath dates from before the Docker code was added. On startup, the datastore gets populated from the Kubernetes API with a nil container ID, so that codepath was useful. Once the Docker code started populating the container ID on startup it stopped working.

(Probably for the best -- I shudder to think of the issues you could run into with Statef

[2019-11-20 11:12] GaruGaru commented on #59
I've solved for the moment by upgrading cni to v1.5.5 and modifying  the deamonset adding the environment variable 'WARM_IP_TARGET' set to value relative to this table ( https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-eni.html )  to force ip addresses / network interface reservation.

cni configuration doc: https://docs.aws.amazon.com/eks/latest/userguide/cni-env-vars.html

[2019-11-20 17:33] mogren commented on #59
@GaruGaru Glad you found a work-around, even if it will use a lot of IPs. You could also set `WARM_ENI_TARGET` to be the maximum number of ENIs for the instance type, that would also allocate all available IPs.

[2019-11-20 23:09] cgkades commented on #625
We've been able launch new clusters with kubernetes 1.14 and this issue seems to be resolved

[2019-11-21 21:43] jacksontj opened #730 "Excessive AWS API calls for simple tasks"
Lets say I have a node with a `WARM_IP_TARGET` of 5 and a single daemonset running. When I go to deploy that daemonset we'll need to give an IP back to the CNI and then (shortly afterwards) allocate a new one. After just doing this here is what I see as happening:

## scenario before
1. start: `inuse=1 spare=5`
2. ds pod is stopped: `inuse=0 spare=6`
3 "over" ip is freed: `inuse=0 spare=5` **(api

[2019-11-22 10:42] jurajpetrik commented on #59
Also seeing this issue.
EKS 1.13
amazon-k8s-cni:v1.5.5 (upgraded in an attempt to solve this issue)
instance type: m5.large (7 nodes)

We have enough IPs in our subnet CIDR, and comparing this https://docs.aws.amazon.com/fr_fr/AWSEC2/latest/UserGuide/using-eni.html#AvailableIpPerENI to the number of pods we're running we should have more than 100 IPs available for new pods accross our cluster

Tri

[2019-11-22 18:27] mogren commented on #730
Hi @jacksontj! You are correct that ipamd will try to attach all secondary IPs on the ENI at first, then [after 30 seconds deallocate](https://github.com/aws/amazon-vpc-cni-k8s/blob/1726afd4395c6c02f5caab09daf56b447719bb31/ipamd/ipamd.go#L51) the ones that are not needed. The reason for this is an optimization for the quite common use case that new nodes suddenly get a couple of pods scheduled dir

[2019-11-22 18:34] jacksontj commented on #730
Shouldn't this use-case be covered by `MINIMUM_IP_TARGET`? That seems like a better way of handling "node just started and needs N IPs".

Your "tolerance" sounds like what I was describing. My thought was basically to have a tolerance + timeout so (in your example) if I have 3 free IPs I won't immediately get more until after some cooldown (or if we drop below that number).

I'd actually argue tha

[2019-11-22 18:42] mogren commented on #730
@jacksontj Sounds good to me. The recent addition of `MINIMUM_IP_TARGET` is definitely a better way to solve the cold start problem.

[2019-11-22 19:07] robin-engineml commented on #608
@mogren The problem persists with v1.6.0-rc4, which we have been using for a couple of weeks. Anecdotally, it does seem to be less frequent.

[2019-11-22 19:21] mogren commented on #608
@robin-engineml Thanks for the update! Glad that it has improved a bit at least. There is still a small chance that a fes ENIs will leak, but they should be cleaned up as long as there is at least some nodes running in the cluster.

[2019-11-22 20:03] robin-engineml commented on #608
@mogren This occurs upon cluster termination, for us. So, there are not "some nodes running in the cluster". Would this stop occurring if we were to allow some cluster nodes to remain alive longer? (We destroy the EKS cluster via the AWS API, via Terraform.)

[2019-11-23 16:26] mluscon commented on #284
Hi, I am hitting the same issue with eks cluster created by terraform.

[2019-11-23 20:13] tatatodd opened #732 "ipamd assigns IPs from detached ENIs"
I've been debugging an issue where ipamd assigns IPs from ENIs that are not attached to the EC2 instance.  This is support case# 6601452261 (I dunno if you have access to that).

I've tracked it down to the ENI reconciliation logic.  ipamd starts out with 3 ENIs, and assigns IPs from these ENIs, and all is good.  Then one of the ENIs gets detached, outside of ipamd's control.  Here's where badness

[2019-11-23 20:26] tatatodd commented on #732
BTW, if you have suggestions for how to debug why our ENIs are getting detached in the first place, I'm all ears.  We're using EKS in what we thought is a plain vanilla style.

[2019-11-24 17:19] rimaulana commented on #708
@morro-wind not only that your worker node need to have ECR policy on its IAM role to be able to pull docker image from ECR, you will also need to add flag --cloud-provider aws when starting kubelet on worker node. Doing this, kubelet will automatically get ECR token authorization using worker node IAM role.

[2019-11-26 03:19] wadey commented on #641
Unless I'm misunderstanding, it looks like `v1.6.0-rc4` also has the problematic commit. Can we get a `v1.6.0-rc5` with the fix there as well?

[2019-11-26 16:32] jaypipes commented on #613
@rubroboletus @vantagesol Hi! Would you mind letting us know if you are still seeing this problem? If not, we'll close the issue out. Thanks!

[2019-11-26 16:37] jaypipes commented on #711
@uruddarraju sorry for delay in getting back to you on this! As @mogren mentioned, it would be good to upgrade to at least 1.5.3 and see if the issue with duplicate IPs goes away.

[2019-11-26 16:37] eladazary commented on #641
I'm facing this issue since yesterday with CNI 1.5.5, I've tried to downgrade to 1.5.3 and 1.5.5 but with no success.
It looks like the /etc/cni/net.d/10-aws.conflist file gets created only when using CNI v1.5.1.

Errors from ipamd.log:
Starting L-IPAMD v1.5.5  ...
2019-11-26T16:31:57.105Z [INFO] Testing communication with server
2019-11-26T16:32:27.106Z [INFO] Failed to communicate with K8S Serve

[2019-11-26 21:10] mogren commented on #641
@wadey The issue is not in `v1.6.0-rc4`, there we solved it in another way, see #688. This is a better solution since if we return an error when we try to delete a pod that was never created, kubelet will retry 10 times trying to delete something that doesn't exist before giving up.

[2019-11-26 21:16] mogren commented on #641
@eladazary The error you are seeing is unrelated to this issue. Starting with v1.5.3, we don't make the node active until ipamd can talk to the API server. If permissions are not correct and ipamd (aws-node pods) can't talk to the API server or to the EC2 control plane, it can't attach IPs to the nodes and then pods will never get IPs and become active.

Make sure that the worker nodes are configu

[2019-11-27 00:34] mogren commented on #643
Fixed in #734

[2019-11-27 00:34] #643 closed

[2019-11-27 00:39] mogren commented on #732
@tatatodd If you can find the time when the ENI was detached, it should be possible to search in CloudTrail for the `DetachNetworkInterface` event.

[2019-11-27 08:11] rubroboletus commented on #613
@jaypipes was trying to test amazon-k8s-cni:v1.6.0-rc4 just now, changed the region to eu-central-1 as all our services are in Europe. Logged in to AWS ECR. No change, see attached picture with redacted part of token.
![ecr-image-failure-20191127-1](https://user-images.githubusercontent.com/19551186/69705442-e1d3af80-10f5-11ea-9677-5b8920edfd6a.jpg)

[2019-11-27 09:37] tatatodd commented on #732
Thanks @mogren!

I looked in CloudTrail, and may have a lead.  Here's the full events from CloudTrail for eni-02797faf7a67b1590 from the logs above.  Based on timestamps, all of the stuff here happened before the stuff in the logs above (i.e. before the reboot).  The user corresponding to these events is the EC2 instance itself.
[code]
Note that the final `DeleteNetworkInterface` fails because the

[2019-11-27 09:55] tatatodd commented on #732
Answering my own question 1 from the previous post, given the retry loops around `DeleteNetworkInterface` and the CloudTrail events, I guess it is expected that the EC2 local metadata might still think the ENI is attached, even after a successful `DetachNetworkInterface` call.

So I guess the core problem here is that an inopportune VM reboot that occurred right after an ENI was asked to be detach

[2019-11-28 03:10] bakuppus opened #736 "EKS cluster: Container inside POD have no internet access"
Issue: EKS cluster: Container inside POD have no internet access

Impact: PR# yum install httpd -y  not able to install any packages due to no internet access

Issue explained:

Building [bakuppus/amazonlinux-httpd-dockerfile]...
Sending build context to Docker daemon  2.048kB

Step 1/8 : FROM amazonlinux:latest
 ---> 6ef285e58e33
Step 2/8 : RUN cat /etc/resolv.conf
 ---> Using cache
 ---> 972fe77

[2019-11-28 05:58] mogren commented on #732
@tatatodd Yes, great debugging on your part here, not sure when and how we will get this completely solved.

To detach an ENI and return those IPs to the Subnet, the EC2 API requires you to first `DetachNetworkInterface`, then wait at least 2 seconds, usually a bit more, then do the `DeleteNetworkInterface ` call. If ipamd restarts or the node restarts at that time, we will lose the ENI. We have m

[2019-11-28 13:00] jaypipes commented on #736
So you are building a container image from within a container running on one of your EKS worker nodes? Is that correct? You would need to provide us some information about the container that the build script is running in, and sharing the build script itself would be useful.

[2019-11-30 01:57] ataranto commented on #711
I'm working with @uruddarraju on this problem. We have been able to consistently observe pods receiving duplicate IP addresses over the past few days which is usually correlated with the startup time of the L-IPAMD process. Here is the subset of log lines that show the outline of the problem scenario:

On node `ip-10-20-118-72.us-west-2.compute.internal`, 2 pods (`fluent-es-v2.4.0-bnvqs` and `pod-

[2019-12-02 13:36] jaypipes commented on #613
@mogren are we only publishing RC images to a single region or something like that?

[2019-12-02 19:22] tatatodd commented on #732
@mogren Thanks for the info.

What do you think about PR #733 to at least prevent `ipamd` from continuing to assign new IPs from the detached ENI?

[2019-12-02 20:06] nithu0115 opened #737 "VPC CIDR is cached forever causing pod routing issues when secondary VPC CIDR ranges are created afterwards"
Problem statement:
As of today, VPC CIDR ranges are cached during initialization. If new CIDR ranges are added afterwards to address IP space issue, the CNI should be restarted to fetch new CIDR ranges to update the cache to add ip rules/routes to reach to other pods in the cluster with new subnet IP range.

Solution:
Refresh VPC CIDR ranges cache every 2 seconds to avoid staleness.

Steps to repl

[2019-12-02 22:03] uruddarraju commented on #711
Took a stab here: https://github.com/aws/amazon-vpc-cni-k8s/pull/738. @jaypipes can you take a look at it please? Difficult adding a test case for this usecase.

[2019-12-02 23:45] uruddarraju opened #739 "Application pods in ContainerCreating status when aws cni pods restart"
Cluster setup: 1.12 K8s, 1.6.rc1 aws-cni

We have been doing some chaos testing in our development cluster and found an interesting edge case that has been impacting our integration test runs in the Kubernetes cluster.

Scenario:

1. WS CNI stops running(as part of the upgrade)
2. Kubelet tries provisioning a pod, gets an error from CNI as it cannot connect
3. Kubelet requeue the pod for a later r

[2019-12-03 02:24] uruddarraju commented on #739
A potential fix: https://github.com/aws/amazon-vpc-cni-k8s/pull/740

[2019-12-03 06:35] mogren commented on #613
Yes, so far we have only published the release candidates in `us-west-2`.

[2019-12-03 06:38] mogren commented on #732
@tatatodd Because of all the issues we have seen with the instance metadata being out of sync, I'm a bit wary about using it as the truth. Even if it's on the the instance, it's not always correct. That said, we should definitely not use IPs from a detached ENI. We will need to investigate this more.

[2019-12-03 07:15] morro-wind commented on #708
I attached IAM role to the ec2 instance and the problem was resolved

[2019-12-03 15:59] jaypipes commented on #613
Well, that solves this particular mystery :)

We should document that policy in the README so we can point folks to it.

[2019-12-03 15:59] #613 closed

[2019-12-03 16:42] #708 closed

[2019-12-03 17:18] tatatodd commented on #732
@mogren Gotcha, that's reasonable.  Let me know if you'd like me to try anything out; we've been running into issues related to this on roughly a weekly basis in our clusters, so we're happy to help.  :)

[2019-12-03 21:16] mogren commented on #613
Updated the [v1.6.0-rc5 release notes](https://github.com/aws/amazon-vpc-cni-k8s/releases/tag/v1.6.0-rc4) to be more clear that the images are only available in `us-west-2`.

[2019-12-03 21:46] harshal-shah commented on #486
Same issue with `v1.14.8-eks-b7174d`

[2019-12-03 22:16] jaypipes commented on #737
Every two seconds may be a bit excessive. Certainly we should refresh the VPC CIDR ranges periodically, but I think 15 or 30 seconds might be a better interval. Alternately, is there a way we can be notified of VPC subnets being created, deleted or modified instead of periodically refreshing our view?

[2019-12-05 00:44] eightlimbed commented on #284
Just in case someone comes across this who is using a g4dn family instance on AWS. I was stuck on this for a while because the version of the CNI plugin I was using didn't support that family. After upgrading the CNI plugin it worked. https://docs.aws.amazon.com/eks/latest/userguide/cni-upgrades.html

[2019-12-05 15:59] nithu0115 commented on #737
Agreed! I will go with 15 seconds then.

I did some research around adding a watch/poll to get notifications about VPC changes without making AWS API calls, but did not find a way.

[2019-12-08 11:07] Erokos commented on #59
Why is this issue closed when a lot of people keep reporting problems? For the past few days I've been experimenting with EKS cluster creation. I'm using terraform, actually a terraform module similar to the popular community module.
What I've observed:

1. Creating clusters below version 1.14 have no problems with worker nodes being in a "Ready" state. I'm using the latest CNI version: amazon-k8s

[2019-12-08 11:09] Erokos commented on #284
Why is this issue closed when a lot of people keep reporting problems? For the past few days I've been experimenting with EKS cluster creation. I'm using terraform, actually a terraform module similar to the popular community module.
What I've observed:

    Creating clusters below version 1.14 have no problems with worker nodes being in a "Ready" state. I'm using the latest CNI version: amazon-k8

[2019-12-09 10:23] jwlogemann opened #743 "Can't communicate with k8s service on default EKS install"
Hi,
I've deployed EKS 1.14 with 3 worker nodes. I can't deploy any workloads on this cluster because the coredns pods won't start. I'm getting this error:

E1209 10:21:26.352924       1 reflector.go:134] github.com/coredns/coredns/plugin/kubernetes/controller.go:315: Failed to list *v1.Service: Get https://172.20.0.1:443/api/v1/services?limit=500&resourceVersion=0: dial tcp 172.20.0.1:443: i/o tim

[2019-12-09 15:15] ryan-dyer-sp opened #744 "Question: Secondary ENI routing not working with Ubuntu?"
I am experiencing an issue with our k8s cluster (created via kops) running an ubuntu OS where pods landing on the secondary ENI dont appear to be able to route traffic out appropriately.  AWS support has mentioned: https://aws.amazon.com/premiumsupport/knowledge-center/ec2-ubuntu-secondary-network-interface/

I would have thought this is what the VPC CNI is responsible for (as well as attaching th

[2019-12-09 17:46] mogren commented on #743
@jwlogemann Hi, did you apply the `aws-auth` [config map](https://docs.aws.amazon.com/eks/latest/userguide/launch-workers.html) with the right role ARN?

[2019-12-09 17:48] mogren commented on #744
@ryan-dyer-sp Yes, the CNI should set up the routes correctly on Ubuntu as well. Could you run the log collector script and send me the logs?

[2019-12-09 18:26] mogren commented on #608
@robin-engineml The issue is that the EC2 API requires you to first detach an ENI, then wait 2-5 seconds before deleting it. If the instance get terminated after the ENI is detached, but before we delete it, it will stay around. With the v1.6 branch, we try to clean up when the CNI starts up, or in the background once per hour.

[2019-12-09 20:13] ryan-dyer-sp commented on #744
@mogren emailed to your gmail acct.

[2019-12-09 22:58] jaypipes opened #745 "Replace use of (ancient) operator-framework/operator-sdk with kubebuilder"
**Feature request**

We should remove the dependency on the (ancient) 0.7.0 github.com/operator-framework/operator-sdk code. It is only used for the pkg/eniconfig simple controller for handling the `ENIConfig` CRDs but unfortunately comes with the following disadvantages:

* The version of operator-sdk we import is ancient (Nov 2018) and has an entirely different API than modern versions of the op

[2019-12-09 23:59] jaypipes opened #746 "Put binaries in cmd/ and packages in pkg/"
Clean up the repo in the following ways:

* Move `client/health-check/grpc_health_probe.go` to `cmd/grpc-health-probe/main.go`
* Move `ipamd/*` into `pkg/ipamd`
* Move `cni-metrics-helper/cni-metrics-helper.go` to `cmd/cni-metrics-helper/main.go` and `driver/` package under `cmd/cni-metrics-helper/driver`
* Move `plugins/routed-eni` to `cmd/routed-eni-cni-plugin`
* Move `main.go` to `cmd/aws-k8s-a

[2019-12-10 00:17] jaypipes opened #748 "scripts/entrypoint.sh executable check not working"
There is a typo in the executable check in `scripts/entrypoint.sh`:

https://github.com/aws/amazon-vpc-cni-k8s/blob/88b52cc90d900eeca757ceee5d66860ae7b31f5c/scripts/entrypoint.sh#L32

Luckily, the `[ ! -x $(command -v grp_health_probe) ]` check for an executable isn't working properly (always returns 0 I guess) so this is not preventing the entrypoint.sh script from actually working.

[2019-12-10 13:26] jwlogemann commented on #743
Hi,
I've found the problem. I was running the EKS worker on a custom CentOS image, and some system hardening that was applied by our linux engineers turned out to be causing this problem

[2019-12-10 13:26] #743 closed

[2019-12-10 15:56] jaypipes commented on #595
@bbc88ks Hi Val, would you mind letting us know if upgrading to the forward CoreDNS plugin (in the configmap) resolved your issues? (pun intended)

Thanks, and sorry for the delay in getting back to you on this!

[2019-12-10 23:06] nithu0115 commented on #595
@bbc88ks, Wondering if this is related to kernel race condition issue,  where coreDNS would send parallel requests and which ever request wins the race would get an entry in conntrack table and other would get an insert failed.

Can you confirm if below solves your issue ?

[code]

[2019-12-10 23:27] mogren commented on #743
@jwlogemann Glad you found the cause of the problem, and thanks for closing the ticket. 😄

[2019-12-11 01:35] mogren opened #752 "Fall back to using http docker client"
If `dockershim.sock` is not there, fall back to http against the `docker.sock` instead.

[2019-12-11 04:59] ddynwzh1992 commented on #744
I am the support, weird thing is that, we can see all the traffic (ICMP, DNS)out from pod by packet capture over pod, but we can see nothing in the VPC flow log of this ENI

[2019-12-11 09:56] descampsk commented on #59
Same issue witth EKS 1.14 and amazon-k8s-cni:v1.5.3 with multiple t3.medium ec2.

[2019-12-11 11:39] ppaepam commented on #284
I have experienced the same as @Erokos. With 1.13 works, with 1.14 nodes fail to get to ready.

I dont think the issue is related to AWS VPC CNI, because I tried replacing it with Calico and got same problem: cni pod (aws-node or calico-node) cannot connect to 10.100.0.1 which is kubernetes service clusterip.

[2019-12-11 16:35] iliasbertsimas commented on #59
Seeing this with EKS 1.13 and AWS VPC CNI v1.5.3 when using c4 family instance types.

[2019-12-11 19:07] mogren commented on #522
Depending on the work being done in #560 or by @jaypipes, we should be able to close this out soon.

[2019-12-11 19:19] jaypipes commented on #516
The root cause of this is old kernel/packages in the EKS AMI. We have created an issue in the EKS AMI repo for tracking.

https://github.com/awslabs/amazon-eks-ami/issues/380

Closing this as duplicate (not related to AWS VPC plugin)

[2019-12-11 19:19] #516 closed

[2019-12-11 19:19] jaypipes commented on #509
The root cause of this is old kernel/packages in the EKS AMI. We have created an issue in the EKS AMI repo for tracking.

https://github.com/awslabs/amazon-eks-ami/issues/380

Closing this as duplicate (not related to AWS VPC plugin)

[2019-12-11 19:22] jaypipes commented on #488
This was fixed in 1.5.3. The root cause was a race condition where kubelet considered the VPC CNI plugin as "ready" before the IPAMd service was fully up and running.

[2019-12-11 19:22] #488 closed

[2019-12-11 19:27] mogren commented on #345
As people have already mentioned in this issue, the problem comes from the default setup in CoreOS and is tracked in https://github.com/coreos/bugs/issues/992. The fix for now is to configure CoreOS to [prefer eth0 for DCHP](https://github.com/aws/amazon-vpc-cni-k8s/issues/345#issuecomment-472608360).

[2019-12-11 19:27] #345 closed

[2019-12-11 19:31] #211 closed

[2019-12-11 19:47] mogren commented on #277
Tracking as a feature in #737

[2019-12-11 19:47] #277 closed

[2019-12-11 19:47] mogren commented on #343
Tracking as a feature in #737

[2019-12-11 19:47] #343 closed

[2019-12-11 19:52] #748 closed

[2019-12-11 19:56] mogren commented on #596
@unbreakab1e Hey, are you still seeing this issue?

[2019-12-11 19:56] jaypipes commented on #739
Should be fixed now with #740

[2019-12-11 19:56] #739 closed

[2019-12-11 20:04] mogren commented on #607
We would like to standardize best practices for updating the CNI using Helm. The charts are available in the [eks-charts](https://github.com/aws/eks-charts/tree/master/stable/aws-vpc-cni) repository, which includes instructions for upgrading.

[2019-12-11 20:04] #607 closed

[2019-12-11 20:07] mogren commented on #257
Tracked as part of #511, discussing a switch to a structured logger. Configurability of the logger should be handled in a Helm chart.

[2019-12-11 20:07] #257 closed

[2019-12-11 20:10] mogren commented on #614
This is a setting in the AMI, not in the CNI. Are you using the EKS standard image? Then the issue needs to be in https://github.com/awslabs/amazon-eks-ami/

[2019-12-11 20:10] #614 closed

[2019-12-11 20:16] mogren commented on #186
The custom network part is tracked in https://github.com/awsdocs/amazon-eks-user-guide/pull/72, will fix the types.

[2019-12-11 20:18] mogren commented on #365
It does now! CRI-O as well. That said, we will require containerd to use the CRI plugin in order to get the Sandbox ID.

[2019-12-11 20:18] #365 closed

[2019-12-11 20:29] mogren commented on #299
Fixed in https://github.com/aws/amazon-vpc-cni-k8s/pull/726/

[2019-12-11 20:29] #299 closed

[2019-12-11 20:30] jaypipes opened #753 "e2e test of no-manage tag"
Add a new functional e2e test of the new no-manage tag added in #726

[2019-12-11 21:28] jacksontj commented on #527
I have actually run into this same issue (k8s scheduling more pods that require IPs that the CNI has) on other platforms as well. From my experience there are 2 ways to deal with this issue:

1. controller to terminate "stuck" pods

In this scenario you can simply create a controller that watches for pods stuck in this container creating state and delete them. This will give the scheduler a chance

[2019-12-11 21:32] #732 closed

[2019-12-11 22:29] taylorb-syd commented on #509
This is not a duplicate of #380.

[2019-12-11 22:37] jaypipes commented on #509
Yup, we goofed, sorry @taylorb-syd! It is #516 and #662 that are related to the awslabs/amazon-eks-ami#380

[2019-12-12 19:31] lukehoban opened #755 "Anti-affinity for Fargate nodes missing from this repo?"
When I stand up a cluster with `eksctl create --fargate`, I see the CNI daemonset as shown below.

This is different from what's in this repo in that it has a node anti-affinity set for `fargate` nodes - which is necessary to work correctly with fully-Fargate EKS clusters.

Is it intentional that this is missing from the copy of this config in https://github.com/aws/amazon-vpc-cni-k8s/blob/master/

[2019-12-12 21:43] jaypipes commented on #493
Hi @mlsmaycon did you ever get a chance to test later versions of the plugin and see if this issue went away?

[2019-12-12 22:48] karanmagdani1 commented on #547
Is there any way to capture `subnet available ips` using cni helper? It would be nice to know if i am running out of ips

[2019-12-13 07:31] ppaepam commented on #284
Coming from AWS support:
It is possible that issue is caused by changes to security group requirements for worker nodes [[1]](https://docs.aws.amazon.com/eks/latest/userguide/sec-group-reqs.html) introduced in EKS platform v3 [[2]](https://docs.aws.amazon.com/eks/latest/userguide/platform-versions.html)

Another possible cause is my old AWS provider. I use 1.60.0.

Hope this helps

[1] https://doc

[2019-12-13 13:54] jaypipes opened #757 "Capture subnet available IPs and expose in CNI metrics helper"
We do not currently expose per-subnet metrics in the CNI metrics helper. Instead, we only have an aggregate total ENIs/IPs and assigned IPs gauge.

It would be useful to have gauges dimensioned per subnet/ENIConfig instance.

Ref: https://github.com/aws/amazon-vpc-cni-k8s/issues/547#issuecomment-565221534

[2019-12-13 13:55] jaypipes commented on #547
@karanmagdani1 I've put your feature request into a separate issue (#757)

@morganchristiansson @dschaaff it seems like this is no longer occurring on newer CNI plugin releases. Can you confirm? If so, I'm going to close out this issue. Thanks!

[2019-12-13 14:06] jaypipes commented on #755
Hi @lukehoban. Yes, this is intentional. The daemonset deployed for EKS on Fargate "nodes" is entirely controlled by EKS and may change at any time. Since users have no control over the CNI daemonset configuration that is used for EKS on Fargate nodes, we didn't think it was appropriate to place Fargate-specific configuration knobs in the Daemonset YAMLs in this repo. In addition, if in the future

[2019-12-13 14:06] #755 closed

[2019-12-13 14:28] jaypipes opened #758 "Refactor configuration file handling"
**This is a top-level issue to keep track of a number of sub-tasks needed to refactor the way we handle configuration files for the VPC CNI repo.**

**Background**

The VPC CNI repo keeps a collection of Kubernetes manifests (configuration files) in its [`config/`](https://github.com/aws/amazon-vpc-cni-k8s/tree/1a65075a2ad225dfc10c9e226a86a63a47e0ea26/config) directory. There is a subdirectory wit

[2019-12-13 14:29] jaypipes commented on #758
@stefanprodan I'm curious if you have any thoughts to add to this issue.

[2019-12-16 10:13] max-rocket-internet commented on #336
DONE

[2019-12-16 10:13] #336 closed

[2019-12-16 10:14] max-rocket-internet commented on #758
That's a hard yes from me 😃

[2019-12-16 12:20] jaypipes commented on #758
Heh, I pretty much knew you'd be supportive of this effort, Max! :)

[2019-12-16 13:17] jlforester commented on #69
I think I'm seeing the latter on node termination, but it doesn't always happen on every node in a node group.  When I look at the ENIs after node termination, I see that they've had the termination policy removed.

What if you don't remove the termination policy on deletion?  Would ipamd still be able to delete ENIs?  It would seem to me that this would allow EC2 to clean up any ENIs that ipamd m

[2019-12-16 15:35] jlforester commented on #608
Could this be integrated with ASG Lifecycle hooks to allow the processes more time to clean up on instance termination?  Simply adding a lifecycle hook to an ASG isn't enough.

[2019-12-16 17:38] karanmagdani1 commented on #757
Thanks for creating this issue @jaypipes. Currently we are using
`error="InsufficientFreeAddressesInSubnet"` but would be awesome to have per-subnet metrics

[2019-12-16 18:41] mogren commented on #69
@jlforester You are correct that the ENIs will be cleaned up automatically when the EC2 instance terminates, as long as they are attached. If the CNI detaches the ENI, but gets terminated before it can delete the ENI, we leak it. We don't explicitly remove the policy, I think that happens when you detach it from the instance.

[2019-12-16 19:09] jlforester commented on #69
Just spitballing here, then...

What if on instance termination you DON'T try to clean it up and let EC2 do it like with the eth0 ENI.  Would that cause any problems like IP leakage?  They're already set to delete on termination.

Or, what if we use an ELB lifecycle policy to give ipamD more time to clean up its ENIs?  Just adding the lifecycle policy to isn't enough.  You'd have to watch for a no

[2019-12-17 23:41] mogren commented on #69
@jlforester Well, in #645 I added a shut-down listener, to do just that, but there will always be the case where the number of pods on the node goes down, we have too many IPs available and want to free an ENI. If all nodes gets killed just after ipamd detaches that ENI, we will lose it. There is also a background cleanup loop in the v1.6 branch, added in #624.

[2019-12-18 04:34] sxauyhz commented on #709
Today I came across the host IP assigned to the pod, and the pod was deployed with deployment.
cni version v1.5.4
@mogren

[2019-12-18 09:16] mogren commented on #709
@sxauyhz Interesting, I would very much like to see the logs for this node. Also, please update to v1.5.5 to avoid the ip rule bug in v1.5.4 (see #641)

[2019-12-18 10:40] sxauyhz commented on #709
10.29.34.40,10.29.32.240 is host primary IP.
![image](https://user-images.githubusercontent.com/10152446/71077476-73e54a00-21c2-11ea-8c65-a52e081acefd.png)
![image](https://user-images.githubusercontent.com/10152446/71077512-86f81a00-21c2-11ea-8fa2-f2d0338c0e3f.png)
You can see the primary IP of primary ENI is in the pool.
[code]
From the ipamd debug info,I can see the primary IP of primary ENI 10

[2019-12-18 16:17] SevenSilentStars commented on #486
Any updates on this issue?

[2019-12-18 18:09] devkid commented on #709
@sxauyhz most certainly there is a misunderstanding. Your primary private IP of the host is obviously (only) 10.29.32.240 as this one is attached to the `eth0`. 10.29.34.40 looks like the primary private IP of the second ENI, which is intended to be used as a pod IP. The order of the IPs in the EC2 console seems to be confusing.

[2019-12-18 19:08] bbc88ks commented on #595
@jaypipes  We've recently updated our clusters to 1.14, core-dns 1.6.5 and aws-vpc-cni 1.5.5. The issue still exists. Is there an iptables trace rule we can set to get more insight? I think kube-dns is `10.100.0.10`. I am not able to reproduce it when I am just running an adhoc pod, that's why it's hard to pin down.

@nithu0115 should `single-request-reopen` be set in the affected pod config? Some

[2019-12-18 20:03] bbc88ks commented on #590
@mogren Does it affect how and when a pod IP is released from the datastore? Our current workaround is to restart cni driver pods once a day and the IPs are released on datastore re-init.

[2019-12-18 20:04] fubar commented on #59
For anyone running EKS, you need to update the CNI plugin to the latest version (currently 1.5.5). As per AWS docs: `Amazon EKS does not automatically upgrade the CNI plugin on your cluster when new versions are released`. So this issue will reappear periodically.

To find out your current version: `kubectl describe daemonset aws-node --namespace kube-system | grep Image | cut -d "/" -f 2`

To upd

[2019-12-19 01:17] mogren commented on #590
@bcc88ks I would like to get a v1.6.0-rc5 pre release out soon, but I'm still running tests to make sure things work like they should. This release has some new sandbox fixes.

The fail to delete should not have anything to do with dropping the IP, but a mis-matched sandbox ID probably would. I'll keep an eye on this issue for sure.

[2019-12-19 01:37] mogren commented on #595
@bbc88ks As long as you use musl, there is always a risk of having DNS issues. See https://github.com/kubernetes/kubernetes/issues/56903

[2019-12-19 01:41] mogren commented on #486
What version of the CNI?
[code]
I'd recommend updating to v1.5.5.

[2019-12-19 02:46] sxauyhz commented on #709
@devkid 10.29.34.40 is host primary IP, After initializing the machine, the name of the network card is ens5 and the IP is 10.29.34.40. The eth0 network card is automatically generated according to the cni plugin and the IP is 10.29.32.240.

[2019-12-19 14:49] jaypipes opened #765 "add hooks to auto-deprovision EKS cluster created by aws-k8s-tester when build fails"
If you run the `scripts/run-integration-tests.sh` script, the `aws-k8s-tester` tool will end up creating an EKS cluster for eventually running sonobuoy against.

However, if a problem occurs after `aws-k8s-tester` has successfully created the EKS cluster, that EKS cluster will not be cleaned up (deprovisioned).

Since the EKS cluster created by `aws-k8s-tester` is a substantial set of EC2 resource

[2019-12-21 14:48] adnankobir commented on #59
This issue should be re-opened.
kubernetes: `v1.15.3`
cni version: `amazon-k8s-cni:v1.5.5`
cni ENVs:
[code]

We came across this while using t2.medium instances - coredns pods are stuck in ContainerCreating:

[code]

notice that the ENI has a maximum of 6 IP addresses, on the 7th allocation (coredns), it does not automatically use private IPs associated to other attached ENIs.

The logs are litter

[2019-12-22 10:07] Erokos commented on #59
As I've written above, I've used the latest CNI version and it **didn't fix** the problem when a 1.14 EKS cluster gets creates.

[2019-12-23 16:05] jlforester commented on #69
@mogren I just ran a couple cluster standup/teardown tests using terraform, and it looks like 1.6.0rc4 resolves the leaking ENI issue for me.

[2019-12-23 16:34] jaypipes opened #770 "aws-k8s-tester v0.4.3 cannot be configured via ENV"
The `scripts/lib/cluster.sh` file sets overrides for cluster configuration via ENV vars:

However, the `UpdateFromEnv` call that exists in master aws-k8s-tester:

https://github.com/aws/aws-k8s-tester/blob/d0f06f7b98914e6e35c2c7dbfeddbd195df2ba19/cmd/aws-k8s-tester/eks/create.go#L89

does *not* exist for the v0.4.3 binary we [use in the integration test script](https://github.com/aws/amazon-vpc-cn

[2019-12-23 17:59] leakingtapan commented on #770
Note that 0.5.x is a backward incompatiable change with regard to 0.4.x. Since 0.4.x has been in pre-alpha so far and incompatible changes are acceptable, we didn't bump the major version.

[2019-12-23 19:35] robin-engineml commented on #69
I perform about 50 standup/teardown tests per week. This problem still occurs on 1.6.0rc4, but less frequently than previously, in my experience.

[2019-12-23 23:15] #717 closed

[2019-12-25 10:40] maxstepanov commented on #647
aws-sdk-go has the changes required to get rid of this annoying behaviour merged in v1.25.18:
https://github.com/aws/aws-sdk-go/releases/tag/v1.25.18

New configurable option was introduced to regulate the STS endpoint resolution for legacy regions.

Looks like just a version bump...

[2019-12-28 00:52] groodt opened #775 "cni-metrics-helper: Replace CLUSTER_ID with eks:cluster-name tag"
It seems that the "official" EKS tags applied automatically by EKS node-groups is `eks:cluster-name` and not `CLUSTER_ID` or `Name`.

Would you accept a PR to replace either or both of these values with `eks:cluster-name`?

If not, I believe that cni_metrics_helper is unusable with EKS managed nodegroups as they do not allow custom tags such as `CLUSTER_ID` or `Name` to be propagated to the EC2 in

[2019-12-28 20:14] mogren commented on #775
@groodt Thanks, sounds like an improvement we should do, and all PRs are welcome. 😄

[2019-12-30 15:58] phantooom opened #777 "vpc peering secondary eni pod choud not communicate crossing vpc."
[code]

pod1 ping pod2 ok
pod1 ping pod3 failed

becasue of
1536:   from 172.16.13.174 to 172.16.12.0/22 lookup 2
1536:   from 172.16.13.248 to 172.16.12.0/22 lookup 2
1536:   from 172.16.13.197 to 172.16.12.0/22 lookup 2
1536:   from 172.16.13.145 to 172.16.12.0/22 lookup 2
1536:   from 172.16.13.250 to 172.16.12.0/22 lookup 2

policy route define dst, i think dst shoud not set.

1536:   from 172

[2019-12-30 17:08] jaypipes commented on #777
This is not a bug, AFAICT. You need to use external SNAT option:

[code]

[2019-12-30 17:08] #777 closed

[2019-12-30 17:14] 0xlen commented on #737
Before getting the rollout for the fix in next couple versions, I would to post the couple suggestions/workarounds for users having the cache issue after adding secondary VPC CIDR:

- Restart the CNI Plugin should remedy this issue. This can be done by adding label or update ENV of CNI Plugin to trigger this update behavior.
- For production usage concern, it would be great if can launch new work

[2019-12-30 17:21] jaypipes commented on #777
@phantooom it may be possible you were running into #737. Please check out that issue and perform one of the two workarounds suggested by @0xlen.

[2019-12-30 19:30] gyuho commented on #770
Sorry for the breaking changes!

As @leakingtapan mentioned, please refer to CHANGELOG. I will take a look CNI test script and see if it uses the old env var. Easiest way is just refer to:

- https://godoc.org/github.com/aws/aws-k8s-tester/eksconfig#pkg-constants
- https://godoc.org/github.com/aws/aws-k8s-tester/eksconfig#Config.UpdateFromEnvs

It's trying to make sure `aws` CLI is executable.

[2019-12-30 21:56] jaypipes commented on #770
No need to apologize for breaking changes, @gyuho! :) We're all good!

[2019-12-30 21:56] #770 closed

[2019-12-31 14:18] labria commented on #486
Happens on v1.5.5 too, but does not seem to affect anything.

[2019-12-31 16:17] jaypipes commented on #547
@morganchristiansson @dschaaff can you confirm you are no longer seeing this issue?

[2019-12-31 16:23] dschaaff commented on #547
This issue has been completely resolved for me.
On Dec 31, 2019, 8:17 AM -0800, Jay Pipes <notifications@github.com>, wrote:

[2019-12-31 16:33] jaypipes commented on #59
@Erokos @adnankobir I'm hesitant to re-open an issue that was closed >18 months ago, but I'll do so anyway. I acknowledge that you and others are experiencing unacceptable levels of annoyance dealing with this issue. I'm wondering whether it's worth opening a new issue versus re-opening this old one (which contains links to docs that don't exist and comments about things that no longer exist in th

[2019-12-31 20:05] mogren opened #783 "Mount dockershim as cri.sock"
No need to mount the shim with a custom name.

https://github.com/aws/amazon-vpc-cni-k8s/pull/751#issuecomment-569837116

[2020-01-01 14:57] jaypipes opened #784 "When running integration tests, failure to find package error"
Getting the following after finally successfully getting aws-k8s-tester v0.5.2 to set up a cluster successfully:

[code]

[2020-01-02 13:07] jaypipes commented on #784
the `GO111MODULE=on` env var needs to be set in the run-integration-tests.sh script I believe. Testing now...

[2020-01-02 13:14] jaypipes opened #785 "scripts/run-integration-tests.sh leaves improperly-modified config YAML file"
After running `scripts/run-integration-tests.sh`, the git working tree is dirty due to modification of the `config/v1.5/aws-k8s-cni.yaml` file:

[code]

Instead of `sed`'ing the actual config YAML file (`config/v1.5/aws-k8s-cni.yaml`), we should instead make a *copy* of that file, put it into the `/tmp/cni-test/$TESTDIR` folder and modify that instead.

[2020-01-02 13:21] jaypipes opened #786 "Reduce time to create EKS cluster in integration tests"
Functionally testing the CNI plugin is cumbersome due to the amount of time that it takes to get the `aws-k8s-tester create cluster` to complete (as well as the amount of time it takes to delete that cluster.

I've noticed that the average time for the `aws-k8s-tester create cluster` command to complete seems to be around 30-35 minutes. However, a good chunk (maybe 10-15 minutes) of this time is a

[2020-01-02 14:32] jaypipes commented on #784
Yep, that was it. Adding to the script now.

[2020-01-02 15:11] jaypipes commented on #786
For the echo Job stuff, looks like we can configure this to run a smaller set of iterations:

https://github.com/aws/aws-k8s-tester/blob/a10e56f42ec2db3f6ce38baba6a43526ade1fbf4/eks/eks.go#L379-L400

[2020-01-02 19:53] bbc88ks commented on #595
After setting up node-local dns cache we no longer see github timeouts.
But one other issue ( we though it's the same thing, but apparently it's not) still happens once per couple of days - Kube API timeouts on new pods.
[code]

[2020-01-02 22:19] mogren commented on #595
@bbc88ks Thanks a lot for the update. I guess that means there is at least two different issues involved, so we still need to keep digging for the underlying cause here.

[2020-01-03 12:56] jaypipes opened #788 "goimports not found in make build-linux (from Dockerfile)"
Just something I've been looking at in CI job and local test runs that needs to be cleaned up :)

[code]

Fix is simple: just `go get` goimports before trying to use it.

[2020-01-03 23:56] yannick commented on #625
i seem to be also hit by this.  using kops i tear up a cluster, e.g. with `kope.io/k8s-1.15-debian-stretch-amd64-hvm-ebs-2019-09-26` on  ` kubernetesVersion: 1.16.4`
the masters get up fine but with nodes its hit and miss. i also tried `imageName: "602401143452.dkr.ecr.us-west-2.amazonaws.com/amazon-k8s-cni:v1.6.0-rc5"`

[2020-01-04 21:10] yannick opened #790 "ipvs problem"
i'm running kops with kubeproxy in ipvs mode.
after some debugging i found out that pod to pod communication is faulty at least for bigger tcp packets.
which leads to all sorts of funny effects.
e.g. getting just a "not found" http 1.1 reply works, but sending any file bigger than somewhere in between 1.2 and 1.5kb doesnt work.

should a ipvs setup actually work ?

`AWS_VPC_K8S_CNI_EXTERNALSNAT=fa

[2020-01-06 00:02] yannick commented on #790
i made NLBs work by disabling ipvs. however when `externalTrafficPolicy: Local` is set it doesnt work ( is that a leftover from https://github.com/aws/amazon-vpc-cni-k8s/issues/75 ? ) ( independent of AWS_VPC_K8S_CNI_EXTERNALSNAT )

[2020-01-06 15:35] morganchristiansson commented on #547
@jaypipes My error was from running out of IPs in my private subnets.

A t3.2xlarge instance will use up to 60 IPs. My teams private subnets are /27 per AZ which is quite generous and gives at most 127 IPs per AZ that is also used by other services. So I can only safely run 1 instance per private subnet reliably and am no longer having the problem.

We now have additional private subnets where add

[2020-01-06 17:16] jweite commented on #463
+1.  Creating a platform for running end-user submitted code on EKS and need to minimize the impact a badly behaved submission can have on its peers.  Ability to incorporate the [Bandwidth plugin](https://kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins/#support-traffic-shaping) would be key.

[2020-01-06 19:08] adnankobir commented on #59
@jaypipes appreciate you re-opening this issue. I ran the tests you requested to try and narrow it down:

It looks like this may be the underlying issue - without custom networking:
[code]

getting the full 17 pod allocation for t2.medium (I have a pod limit set to 17 for this node, this includes the DS that have hostNetwork=true)

For the custom networking I have the following:

[code]

and for E

[2020-01-06 19:26] mogren commented on #59
@adnankobir Thanks for investigating this. When you use [custom networking](https://docs.aws.amazon.com/eks/latest/userguide/cni-custom-network.html), you will not be able to use any secondary IPs from the primary ENI. From the documentation:

The issue here is that the `--max-pods` setting comes from the EKS AMI, not the CNI, and the way to override it is to set the `USE_MAX_PODS` env var to `"fa

[2020-01-06 20:03] adnankobir commented on #59
thanks for the quick response @mogren . Quick followup question -

That would leave us with 2 ENIs and we should be able to allocate the full 12 addresses correct? At the moment, it looks like only 10 addresses are allocated. The `Private IPs` of the non-primary ENIs are not being allocated, only the `secondary Private IPs` are correctly being allocated to pods. Is this to be expected?

[2020-01-06 21:02] mogren commented on #59
@adnankobir Yes, the formula is +2 because aws-node (the CNI pod) and kube-proxy use host networking, but are still counted against the `max-pods` limit.

The CNI will only use the secondary IPs for your pods, so 10 would be available for your pods in this case. The reason for this might not be valid any more, but there used to be problems using the primary IP of the ENI for pods on some distros.

[2020-01-06 21:48] bbc88ks commented on #595
Github issues are still occurring, but now instead of a name resolution error it's just a plain 443 timeout. Also every time we recycle and deploy new nodes we don't see this issue for a couple of days.

[2020-01-07 16:30] jaypipes commented on #788
Was fixed with #789, thanks @nithu0115! :)

[2020-01-07 16:30] #788 closed

[2020-01-07 17:05] #697 closed

[2020-01-07 17:25] adnankobir commented on #59
@mogren the primary reason we wanted to separate subnet was to take advantage of a different SG for pods, is it possible to have pods use a different SG without having to use different subnets? I've tried adding the same subnets used by worker nodes in the custom ENIConfig, but it looks like doing so causes the same limitation on the number of pods.

[2020-01-07 18:32] mogren commented on #59
@adnankobir Yes, since security groups are per ENI, as soon as `AWS_VPC_K8S_CNI_CUSTOM_NETWORK_CFG ` is set to `true`, the secondary IPs on the first ENI can no longer be used for pods. The subnets are not the issue.

[2020-01-08 08:14] krzysztof-bronk commented on #608
I've tested 1.6.0-rc5 a bit and I don't see much progress, after terminating a couple nodes, I saw available ENIs dangling, so I terminated all nodes and now I have:
- 2 fresh m5.xlarge nodes total working just fine (few pods, 2 ENIs attached with WARM_ENI_TARGET=1)
- 6 available ENIs doing nothing

[2020-01-08 17:14] aweis89 commented on #283
I've ran into the same issue and running that script didn't seem on all master didn't seem to resolve the issue:
 `====== Installing AWS-CNI ======
====== Starting amazon-k8s-agent ======
ERROR: logging before flag.Parse: E0108 17:11:43.934767       9 memcache.go:138] couldn't get current server API group list; will keep using cached value. `

[2020-01-08 17:30] jaypipes commented on #283
Hi @aweis89, the support script does not resolve any issues. Rather, it simply gathers information useful during troubleshooting.

Can you let us know what version of the CNI plugin you are deploying and what version of Kubernetes you are using? Thanks much!

[2020-01-08 17:52] aweis89 commented on #283
Hey @jaypipes!

I've tried with a couple different version from `1.5.0` to the current one I'm using `1.5.5` but the issue is still persistent. The K8S version is `1.14.10`. The full log I'm seeing is:
`====== Installing AWS-CNI ======
====== Starting amazon-k8s-agent ======
ERROR: logging before flag.Parse: E0108 17:39:47.947983       9 memcache.go:138] couldn't get current server API group list;

[2020-01-08 20:27] mogren commented on #59
@adnankobir In case my previous reply wasn't clear enough, the issue is that in order to have different security groups for the nodes and the pods, we can't use any secondary IPs from the first ENI, because that's where the node IP is. That's the reason you get less available IPs.

[2020-01-08 21:14] jaypipes commented on #82
As of CNI v1.6, we support non-Docker runtimes like containerd and cri-o. I think we'd want to revisit/re-open this issue after investigating whether a modern k8s/CNI plugin combo still doesn't satisfy the use cases described here, @cjbradfield. Closing this out.

[2020-01-08 21:14] #82 closed

[2020-01-08 21:15] jaypipes commented on #226
so much changed. going to revisit what and how much is still relevant in a separate issue once I've removed the existing operator-framework dependency.

[2020-01-08 21:15] #226 closed

[2020-01-08 21:16] jaypipes commented on #91
We've got the [test-automation project](https://github.com/aws/amazon-vpc-cni-k8s/projects/2) with a bunch of issues tracking testing and CI. Closing this one out.

[2020-01-08 21:16] #91 closed

[2020-01-08 21:22] jaypipes commented on #173
We are standardizing on the Helm chart for deployment/configuration of the CNI. We do have the `image.region` configuration option documented (https://github.com/aws/eks-charts/tree/master/stable/aws-vpc-cni#configuration) in the Helm chart. Closing this issue out.

[2020-01-08 21:22] #173 closed

[2020-01-08 21:24] mogren commented on #173
For reference, there is also https://github.com/awslabs/amazon-ecr-credential-helper

[2020-01-08 21:32] jaypipes commented on #615
@zenvdeluca secondary ENIs on Kubernetes worker nodes house IP addresses for Kubernetes Pods. The CNI plugin assigns new Pods an IP address that is associated with one of the ENIs on the worker node, and optionally auto-creates new ENIs on the worker node when there are no more available IP addresses on the ENI. The CNI plugin does not configure ENIs themselves. Rather, it simply keeps track of th

[2020-01-08 21:32] #615 closed

[2020-01-08 21:35] jaypipes commented on #468
The appropriate way to route Internet traffic to Kubernetes pods is to use a Kubernetes Service of type LoadBalancer, which will create an NLB or ALB with backend endpoints in the Pod's private IP addresses.

[2020-01-08 21:35] #468 closed

[2020-01-08 21:37] mogren commented on #390
Solved by adding `AWS_VPC_K8S_CNI_EXCLUDE_SNAT_CIDRS` support.

[2020-01-08 21:37] #390 closed

[2020-01-08 21:44] jaypipes commented on #589
I think in general, we need to figure out a) what our policy is towards supporting Calico as a first-class option in the VPC CNI and b) if we agree that Calico should be supported with the same rigour as the non-Calico deployments, set up full e2e testing of Calico and c) write a support script for Calico troubleshooting similar to https://github.com/aws/amazon-vpc-cni-k8s/blob/master/scripts/aws-

[2020-01-08 21:49] mogren commented on #374
Thanks @mathewmoon. Since this CNI doesn't support having one ENI per pod, I'm closing this issue.

The Container Roadmap has some details on the next generation CNI https://github.com/aws/containers-roadmap/issues/398

[2020-01-08 21:49] #374 closed

[2020-01-08 22:02] mogren commented on #600
@FlorianOtel Were you able to reproduce this issue?

[2020-01-10 23:29] mogren commented on #790
Hi @yannick, thanks for reporting the issue. You are right that the CNI plugin doesn't really work with ipvs, but there is another one that should work over at [lyft/cni-ipvlan-vpc-k8s](https://github.com/lyft/cni-ipvlan-vpc-k8s). Do you run a lot of services and is that the reason you need ipvs?

`AWS_VPC_K8S_CNI_EXTERNALSNAT=false` disables SNAT and the use of the conmark, so I think you could b

[2020-01-10 23:35] mogren commented on #744
Hey @ryan-dyer-sp, did we get this one resolved?

[2020-01-11 00:03] yannick commented on #790
hi claes and thanks for the insights.

not yet, but i have the urge to settle for the most performant solution. but since i naivly assumed it works i wasted a few hours. i'll try to do a PR for  the docs once i understand it better.  unfortunately i did not really look at the cni api yet.
i now have a working setup (terraform+kops+nlb->local+ambassador+cert-manager+fluxcd+ecr) with working routing

[2020-01-11 00:03] #790 closed

[2020-01-11 00:19] mogren commented on #790
Thanks, @yannick seems like a nice setup.

If you use ALB for ingress, we just merged a https://github.com/kubernetes-sigs/aws-alb-ingress-controller/pull/1088 yesterday to enable weighted loadbalancing, so that should be available in the next release.

[2020-01-11 00:51] mogren commented on #736
@bakuppus Any update on this issue?

[2020-01-11 04:20] mogren commented on #709
Hmm, @sxauyhz, I agree that `10.29.34.40` should not be in the available IP pool since it's the primary IP of the second ENI. Has this ever happened with any other IP? Is it still an issue?

[2020-01-13 17:18] sagikazarmark opened #791 "Release notes incorrect link"
For the [latest RC](https://github.com/aws/amazon-vpc-cni-k8s/releases/tag/v1.6.0-rc5) the release notes contains an incorrect link for `Additional tags to ENI`:

[code]

instead of

[code]

[2020-01-14 15:06] ryan-dyer-sp commented on #744
Yes we tracked down that a new AMI we were using was disabled ipv4 forwarding.  Thanks for the help.

[2020-01-14 15:06] #744 closed

[2020-01-15 07:10] miguelaferreira commented on #663
@mogren is there any progress towards supporting running the metrics helper with IAM roles mapped to k8s service accounts?

[2020-01-15 18:25] mogren commented on #791
@sagikazarmark Thanks, good catch. Fixed the links.

[2020-01-15 18:25] #791 closed

[2020-01-15 21:45] mogren opened #793 "Verify that IMDSv2 works in host networking"
The new AWS go SDK uses v2 of the IMDS API, which only allows 1 network hop by default. This causes problems for containers trying to access instance metadata, but we should verify that the CNI works as expected since it is running in the host network namespace.

[2020-01-15 23:07] mogren commented on #663
@miguelaferreira Sorry, not yet, but thanks for pinging me about it. Similar changes should be done to the ipamd pod (`aws-node`) as well.

[2020-01-16 17:12] jaypipes commented on #755
@lukehoban please note I changed my mind on this after discussions with @mogren. We've merged the PR from @nithu0115 that added this configuration.

[2020-01-17 11:02] sxauyhz commented on #709
@mogren This is the second time I have encountered this situation and it is on a different node. I have now upgraded the version to 1.5.5 and haven't encountered it yet.

[2020-01-17 17:42] mogren opened #796 "Run aws-node as unprivileged pod"
We currently set the `aws-node` pod to be `privileged`, but that might not be needed.

Check if  `CAP_NET_ADMIN` and `CAP_DAC_OVERRIDE` is enough to set the RDF check to loose and copy the binary and config file:

https://github.com/aws/amazon-vpc-cni-k8s/blob/1ee59a06c597c62aa93e85fc1d2eedef553707a3/pkg/networkutils/network.go#L233-L246

[2020-01-17 23:44] nithu0115 commented on #647
@jaypipes, we need to re-open this issue.

We need `AWS_STS_REGIONAL_ENDPOINTS=regional` environment variable to make it regional. Also, just setting it to regional might not work in region is Hong Kong and Baharin.

For more info - [documentation](https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_enable-regions.html#id_credentials_temp_enable-regions_writing_code)

[2020-01-17 23:58] mogren commented on #709
@sxauyhz Great, thanks for confirming. Can we close this issue now?

[2020-01-19 17:08] droidls commented on #601
@mogren Please try to avoid 1.5.4 as it is a known version with bugs that have been patched into 1.5.5. If needed please try either 1.5.5. or 1.5.3.

[2020-01-20 22:24] mogren commented on #796
Unfortunately, having the capabilities limited to `["NET_ADMIN", "DAC_OVERRIDE"]` is not enough to write to `/proc/sys/net/*`.  From the logs:
[code]

[2020-01-20 23:25] #736 closed

[2020-01-20 23:26] mogren commented on #712
Fix for this has been merged and is available in the v1.6.0-rc5 build.

[2020-01-20 23:26] #712 closed

[2020-01-20 23:26] #709 closed

[2020-01-20 23:28] mogren commented on #720
@stafot Did this ever get resolved?

[2020-01-20 23:33] mogren commented on #668
The number of free IPs is per Subnet and you can see it in your AWS console. The issue could have been resolved by running less pods. @geraldstanje Is this still an issue?

[2020-01-20 23:35] mogren commented on #625
@yannick Are the pods crash looping unable to talk to the API server, or some other issue?

[2020-01-20 23:37] mogren commented on #608
@krzysztof-bronk Did those ENIs stay around? They should have been cleaned up if they were created by the CNI. Not directly, but within five minutes of another worker node being started.

[2020-01-21 12:17] stafot commented on #720
@mogren As I stated [here](https://github.com/aws/amazon-vpc-cni-k8s/issues/720#issuecomment-553970024) I have a working fix, I thought though that the behavior was buggy and need further investigation. Feel free to close it and/or revisit it if you have more similar issues in the future.

[2020-01-21 19:27] druidsbane opened #798 "1.6.0-rc5 causes "checking for IPAM connectivity ... failed." error on startup"
It appears that the latest release candidate for 1.6.0-rc5 is broken for us with the following error: "checking for IPAM connectivity ...  failed."  We use a proxy (HTTP/HTTPS) as part of our configuration and add that to our `env` variables.  Otherwise all previous versions work fine except for that one.  We are using on an EKS 1.4.x cluster on a private VPC.

[2020-01-21 19:37] mogren commented on #798
@druidsbane We added a dependency on the dockershim.sock in rc5. Could that be the cause, in the case that you just bumped the image version from -rc4 to -rc5?

https://github.com/aws/amazon-vpc-cni-k8s/blob/8eac2e4f2552637a1eb5d4dab835553a43465dc3/config/v1.6/aws-k8s-cni.yaml#L123-L140

[2020-01-21 19:59] #720 closed

[2020-01-21 20:10] druidsbane commented on #798
@mogren thanks.  I deleted the old `DaemonSet` and created a new deployment.  Unfortunately I only had 3 lines in the output, that one above being the key one before the pod entered its next restart.

[2020-01-21 20:39] mogren commented on #798
@druidsbane If that was the cause, I agree that we could have better logging around the issue, and also improve our docks. See #689

[2020-01-21 21:29] mogren opened #801 "Add polling to check that all pods have been updated"
Poll after DS update to verify that the pod spec has the new image and the pods are in Running state.

https://github.com/aws/amazon-vpc-cni-k8s/blob/master/scripts/run-integration-tests.sh#L114

[2020-01-21 23:33] mogren opened #803 "Update aws-cni-support.sh"
The bundled `aws-cni-support.sh` doesn't collect everything we need. We should copy https://github.com/awslabs/amazon-eks-ami/blob/master/log-collector-script/linux/eks-log-collector.sh instead.

[2020-01-22 07:58] heidemn commented on #678
@mogren It seems that currently the referenced images exist in all ECR regions.

You didn't clearly confirm yet: Is it is safe to assume that we can replace "us-west-2" with any region the EKS cluster is located in?

AWS docs still not updated.

[code]

[2020-01-22 17:08] mogren commented on #678
@heidemn Yes, they should be available in all EKS regions. Also, I'd suggest using v1.5.5 😄

[2020-01-22 18:18] jaypipes commented on #801
Furthermore, we talked about running some smoke tests *before* `kubectl apply`ing the CNI DS artifact representing the CNI image we wish to test in order to get a full "upgrade scenario test".

[2020-01-22 18:44] jaypipes commented on #642
Related: #758

Hi @jwenz723! Our long-term plan is to get rid of the versioned subdirectories under `/config` and use a single `daemonset.yaml` file (possibly using kustomize). Also, per #758, our best practice is standardizing around Helm charts for deploying the CNI.

I think supporting Kustomize is a good idea and something we should look at once we move to a single `config/` directory.

[2020-01-22 18:48] mogren commented on #317
@safiqueahemad If you use Custom Networking, the pods can no longer use secondary IPs from the primary ENI, so the `--max-pods` value set in the EKS AMI will no longer be correct. You would have to override this value. More details in https://github.com/aws/amazon-vpc-cni-k8s/issues/527 and https://github.com/awsdocs/amazon-eks-user-guide/pull/72

[2020-01-22 19:15] jaypipes opened #804 "e2e test for custom ENIConfig"
Need to add functional tests that validate creating an ENIConfig CRD instance.

- [x] test for specifying ENIConfig for new worker node (with no pods)
- [ ] test for adding ENIConfig to an existing worker node that has pods running on it (and have IPs on the primary ENI)

[2020-01-22 19:17] jaypipes commented on #804
related: https://github.com/awsdocs/amazon-eks-user-guide/pull/72

[2020-01-22 19:19] jaypipes commented on #230
this was issue with go1.11. no longer reproduced on modern go

[2020-01-22 19:19] #230 closed

[2020-01-22 19:19] mogren commented on #302
@srijitm Have you seen this issue again? The interesting log line is `Failed to get pod ENI config`, which means that at the time of start up, ipamd could not find the `ENIConfig` and that's why it could not attach any secondary ENI and get IPs to the pool. When was the config applied to the cluster?

[2020-01-22 19:24] jaypipes commented on #431
@uthark closing this out as we are not able to determine if this is any longer an issue. Feel free to re-open if you see this occur again.

[2020-01-22 19:24] #431 closed

[2020-01-22 19:38] jaypipes commented on #661
@xnwsw apologies for the late response on this. Can you verify that a) this is still an issue you are seeing and b) when you are setting up your kops k8s cluster, are you using an EC2 node as both master and worker node?

We discussed this today and suspect that there might have been issues with incorrect IAM permissions specified for the kubeadm master node IAM role. Looking at the pod logs might

[2020-01-22 19:38] mogren commented on #601
@lgarrett-isp Did this work with v1.6.0-rc5? Pods should retry and not get stuck, even if ipamd is restarting.

[2020-01-22 19:40] heidemn commented on #678
👍 Great...
What about a retro cluster with v1.5.0? 😄

[2020-01-22 19:45] mogren commented on #590
@bbc88ks Did you have time to try with [v1.6.0-rc5](https://github.com/aws/amazon-vpc-cni-k8s/releases/tag/v1.6.0-rc5)?

[2020-01-22 19:45] jaypipes commented on #389
The deliverable here is to test specifically what happens when you deploy the aws-node daemonset and have improper IAM role permissions. We need to document what this looks like from the k8s user perspective, how to dig into the pod logs to determine it is an IAM permission issue.

[2020-01-22 20:18] mogren commented on #678
Well, we don't copy old images out to newly opened regions, but they should all be available in `us-west-2`.

Also, this only goes for regular releases, not the `-rcX` tagged release candidates. They are only available in `us-west-2`.

[2020-01-23 02:53] rohannayakwadi commented on #59
As soon as i updated the CNI version from 1.5.0 to 1.5.5 it worked for me.
Referral:  https://docs.aws.amazon.com/eks/latest/userguide/cni-upgrades.html

[2020-01-23 11:21] sagikazarmark commented on #607
As far as I can tell the driver is not installed using Helm at the moment. TBH, I like that it's not. With or without Tiller, installing plain Kubernetes object when minimal or no parameterization is needed sounds a lot better.

I'd like to second this request to add a configmap to the default installation recipe. It can be made optional (ignore if not exist) and has no risk, but the advantage of

[2020-01-27 17:18] kovalyukm commented on #647
For now there is aws-sdk-go is < v1.26.8 in releases, so AWS_STS_REGIONAL_ENDPOINTS=regional environment variable does not work :(  https://github.com/aws/amazon-vpc-cni-k8s/blob/release-1.5.5/go.mod#L7
Are you going to merge it https://github.com/aws/amazon-vpc-cni-k8s/blob/master/go.mod#L6 and when?
Thanks!

[2020-01-27 19:30] mogren opened #807 "Improve support script to debug connection and latency issues"
We need more data gathered to figure out timing issues. For example iptables version, kernel version, CoreDNS version, test for Calico, check for musl. Retransmission counters via BPF. IPv6 problems, make sure disable it.

[2020-01-27 20:30] nithu0115 commented on #807
@mogren, I have written a log collector which collects a bit of information (like containers logs, messages, sysctl output). We can leverage existing script and build on top of it.

https://github.com/awslabs/amazon-eks-ami/tree/master/log-collector-script/linux

Is that something we are trying to achieve here ?

[2020-01-27 20:32] mogren commented on #807
Yes, that is the idea. Improve that script, and import it into this repository whenever it's updated.

[2020-01-27 20:34] nithu0115 commented on #807
#803

[2020-01-28 10:24] imranismail commented on #547
we're still seeing this issue on 1.5.5

[2020-01-28 13:09] jaypipes opened #808 "nodeInit() unnecessarily calls DescribeNetworkInterfaces() IMDS more than once"
nodeInit() - https://github.com/aws/amazon-vpc-cni-k8s/blob/master/ipamd/ipamd.go#L271) function grabs all the ENIs for the worker node, then grabs all pods on the worker node and loops through all the pods setting up iptables rules.

This piece of code: https://github.com/aws/amazon-vpc-cni-k8s/blob/master/ipamd/ipamd.go#L373-L378

can and should be pulled out of that loop since it's not dependen

[2020-01-28 13:24] jaypipes commented on #808
Actually, it's even less efficient than that... We already call GetVPCIPv4CIDRs() on line 305 and throw away the result :(

https://github.com/aws/amazon-vpc-cni-k8s/blob/master/ipamd/ipamd.go#L305

[2020-01-28 13:49] jaypipes commented on #808
nodeInit() is making all these calls to DescribeNetworkInterfaces(), but it's not actually the GetVPCIPv4CIDRs() call that is doing it. It's all the callers of IPAMContext.getENIAddresses(): https://github.com/aws/amazon-vpc-cni-k8s/blob/4bf10a04402b1249f755fff36a79f608136d79ff/ipamd/ipamd.go#L792

IPAMContext.getENIAddresses() calls the awsClient.DescribeENI() method, which bypasses the "cache" a

[2020-01-29 13:23] unbreakab1e commented on #596
Hi! I can confirm that with v1.5.5 works ok.

[2020-01-29 13:23] #596 closed

[2020-01-29 13:54] #784 closed

[2020-01-29 13:54] #765 closed

[2020-01-29 14:37] #808 closed

[2020-01-29 14:38] jaypipes opened #814 "flaky unit test in nodeInit() DescribeENI call argument order"
[code]

Seeing this on some `make unit-test` runs.

[2020-01-29 14:38] jaypipes commented on #814
Was introduced with #809

[2020-01-29 14:39] jaypipes commented on #814
Note that I believe this to be some unit-test-specific bug. I've run numerous e2e functional tests against #809 and see no issues.

[2020-01-29 18:32] mogren commented on #606
Hi @xrl, have you seen this issue again lately?

[2020-01-29 18:43] mogren commented on #651
Hi @tianyuan848192,

If you use [IAM Roles for Service Accounts](https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts.html), you should be able to scope a more privileged IAM role for the CNI daemonset service account. That way you can use a less privileged IAM role for your other pods.

[2020-01-29 18:43] #651 closed

[2020-01-29 18:48] mogren commented on #662
We need awslabs/amazon-eks-ami#380 done to be able to resolve this issue.

[2020-01-29 18:49] #679 closed

[2020-01-29 18:51] jaypipes commented on #225
Related: #652

[2020-01-29 18:54] mogren commented on #682
v1.5.4 had issues, closing this.

[2020-01-29 18:54] #682 closed

[2020-01-29 19:00] mogren commented on #592
I agree that this should be at Warning log level instead of Error. Ping @nithu0115

[2020-01-29 19:01] jaypipes opened #816 "e2e test for mixed pods host-network true and false with external SNATing"
Refer #519

We believe that pods with `hostNetwork: true` cause the CNI `add` API call to be bypassed, which means that the VPC CNI would not affect the data path at all for those pods. However, we should create and e2e scenario that tests the situation where, for example, an AWS VPC NAT Gateway is being used (and SNAT'ing traffic from pods on a particular subnet) and a worker node houses pods tha

[2020-01-29 19:06] mogren commented on #377
We should verify that the reconcile loop in ipamd detects this and removes the detached IP from the data-store.

[2020-01-29 19:08] mogren commented on #725
Fixed in #726

[2020-01-29 19:08] #725 closed

[2020-01-29 19:10] mogren commented on #711
The related PR needs to be rebased, and still has some required changes.

[2020-01-29 19:18] mogren opened #817 "Configurable reconcile timeout for ipamd"
Currently the reconcile loop for the CNI runs too often in large clusters. We should make it possible to change these settings, either based on number of nodes in the cluster, or as an environment variable to override the default setting.

[2020-01-29 19:19] mogren commented on #730
With the added `MINIMUM_IP_TARGET ` and the recent fix in #809 I think we are getting closer to solving this issue. Added #817 for having a configurable reconcile time.